Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

fix(report): Fix permission check for set up email report on charts/dashboards. Fixes #21559 (#21561)
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
Owners: none

fix: remove deprecated ETagResponseMixin (#21773)
  superset/utils/cache.py
Owners: none

fix(dashboard): show correct roles for dashboard access dropdown (#21549)
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
Owners: none

fix(dashboard): dashboard doesn't load properly if it has tabs (#21576)
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.jsx
Owners: none

fix: allow adhoc columns in non-aggregate query (#21729)
  superset/connectors/sqla/models.py
  superset/superset_typing.py
  superset/utils/core.py
  tests/integration_tests/charts/data/api_tests.py
Owners: none

xit cypress test
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
Owners: @jinghua-qa, @geido

update changelog
  CHANGELOG.md
  UPDATING.md
Owners: none

fix: drilling on the categorical xaxis on the mixed chart (#21845)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Owners: none

fix: drilling on the categorical xaxis on the mixed chart (#21845)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Owners: none

fix: drilling on the categorical xaxis on the mixed chart (#21845)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Owners: none

chore: Added translate functions (#21816)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/vendor/superset/AnnotationTypes.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/index.ts
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/modules/AnnotationTypes.js
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Owners: none

chore: Added translate functions (#21816)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/vendor/superset/AnnotationTypes.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/index.ts
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/modules/AnnotationTypes.js
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Owners: none

chore: Added translate functions (#21816)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/vendor/superset/AnnotationTypes.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/index.ts
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/modules/AnnotationTypes.js
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Owners: none

docs: 414 (#21849)
  CONTRIBUTING.md
Owners: none

docs: 414 (#21849)
  CONTRIBUTING.md
Owners: none

docs: 414 (#21849)
  CONTRIBUTING.md
Owners: none

add Optional type
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/types/index.ts
Owners: none

select filter add CRLF separator
  superset-frontend/src/components/Select/constants.ts
Owners: @michael-s-molina, @geido, @ktmud

Changed timer font to monospace
  superset-frontend/src/components/Timer/index.tsx
Owners: none

fix: custom SQL in the XAxis (#21847)
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/packages/superset-ui-core/src/types/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

fix: custom SQL in the XAxis (#21847)
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/packages/superset-ui-core/src/types/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

fix: custom SQL in the XAxis (#21847)
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/packages/superset-ui-core/src/types/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

fix: categorical x-axis can't apply the label of column
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

feat: Disables HTML rendering in Toast by default (#21853)
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/types.ts
Owners: none

feat: Disables HTML rendering in Toast by default (#21853)
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/types.ts
Owners: none

feat: Disables HTML rendering in Toast by default (#21853)
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/types.ts
Owners: none

fix: categorical x-axis can't apply the label of column (#21869)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

fix: categorical x-axis can't apply the label of column (#21869)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

fix: categorical x-axis can't apply the label of column (#21869)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

Add integration test for checking schema_definition in df_to_sql
  tests/integration_tests/db_engine_specs/hive_tests.py
Owners: none

feat(select filter): add CRLF separator for Windows (#21867)
  superset-frontend/src/components/Select/constants.ts
Owners: @michael-s-molina, @geido, @ktmud

feat(select filter): add CRLF separator for Windows (#21867)
  superset-frontend/src/components/Select/constants.ts
Owners: @michael-s-molina, @geido, @ktmud

feat(select filter): add CRLF separator for Windows (#21867)
  superset-frontend/src/components/Select/constants.ts
Owners: @michael-s-molina, @geido, @ktmud

added select all button and a few tests
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/components/Select/utils.tsx
Owners: @michael-s-molina, @geido, @ktmud

fix(dashboard): Prevent XSS attack vector (#21822)
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
Owners: none

fix(dashboard): Prevent XSS attack vector (#21822)
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
Owners: none

fix(dashboard): Prevent XSS attack vector (#21822)
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
Owners: none

Fixed broken test
  tests/integration_tests/db_engine_specs/hive_tests.py
Owners: none

Count should be visible
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
Owners: @jinghua-qa, @geido

Minor improvements
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
Owners: @jinghua-qa, @geido
