Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

chore: Color consistency E2E tests (#21622)
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/cypress/support/index.ts
  superset/examples/tabbed_dashboard.py
Owners: @jinghua-qa, @geido

chore: Color consistency E2E tests (#21622)
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/cypress/support/index.ts
  superset/examples/tabbed_dashboard.py
Owners: @jinghua-qa, @geido

chore: Color consistency E2E tests (#21622)
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/cypress/support/index.ts
  superset/examples/tabbed_dashboard.py
Owners: @jinghua-qa, @geido

feat: Adds a Content Security Policy (CSP) check for production environments (#21874)
  docs/docs/security.mdx
  superset/config.py
  superset/initialization/__init__.py
Owners: none

feat: Adds a Content Security Policy (CSP) check for production environments (#21874)
  docs/docs/security.mdx
  superset/config.py
  superset/initialization/__init__.py
Owners: none

feat: Adds a Content Security Policy (CSP) check for production environments (#21874)
  docs/docs/security.mdx
  superset/config.py
  superset/initialization/__init__.py
Owners: none

feat(explore): add config for default time filter (#21879)
  superset-frontend/packages/superset-ui-core/src/query/constants.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset/config.py
  superset/views/base.py
Owners: none

feat(explore): add config for default time filter (#21879)
  superset-frontend/packages/superset-ui-core/src/query/constants.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset/config.py
  superset/views/base.py
Owners: none

feat(explore): add config for default time filter (#21879)
  superset-frontend/packages/superset-ui-core/src/query/constants.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset/config.py
  superset/views/base.py
Owners: none

Fix default temporal
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Owners: none

fix(python): remove dependency circular import
  superset/utils/log.py
Owners: none

fix(python): correct unexpected indent
  superset/utils/log.py
Owners: none

create migration
  superset/databases/models.py
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

tests so far
  tests/integration_tests/reports/scheduler_tests.py
Owners: none

Fix mistaken type change.
  superset-frontend/src/dashboard/types.ts
Owners: none

update changelog
  CHANGELOG.md
Owners: none

Add client side searching to table list in dataset left panel
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
Owners: none

Debugging LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
Owners: none

Add table selected visuals
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

Loader does not need to be exported
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Owners: none

fix: Mistaken use of BootstrapUser type (#21892)
  superset-frontend/src/dashboard/types.ts
Owners: none

fix: Mistaken use of BootstrapUser type (#21892)
  superset-frontend/src/dashboard/types.ts
Owners: none

fix: Mistaken use of BootstrapUser type (#21892)
  superset-frontend/src/dashboard/types.ts
Owners: none

Use menu positioning logic on submenu.
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/utils.test.ts
  superset-frontend/src/components/Chart/utils.ts
Owners: none

Adjusting link, text, and title
  .github/ISSUE_TEMPLATE/sip.md
Owners: none

Add engine spec for Amazon DynamoDB
  superset/db_engine_specs/dynamodb.py
Owners: none

fix for control x
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

Remove refresh columns button
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
Owners: none

fix lint
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

Format code style
  superset/db_engine_specs/dynamodb.py
Owners: none

ugh more lint
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

fix: eslint error
  superset-frontend/.eslintrc.js
Owners: none

feat: remove workingDirectories
  superset-frontend/.eslintrc.js
Owners: none

fix: type of AnnotationLayer (#21878)
  superset-frontend/packages/superset-ui-core/src/query/types/AnnotationLayer.ts
Owners: none

fix: type of AnnotationLayer (#21878)
  superset-frontend/packages/superset-ui-core/src/query/types/AnnotationLayer.ts
Owners: none

fix: type of AnnotationLayer (#21878)
  superset-frontend/packages/superset-ui-core/src/query/types/AnnotationLayer.ts
Owners: none

fix(dashboard): Ensure correct positioning of "Drill to detail by" submenu (#21894)
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/utils.test.ts
  superset-frontend/src/components/Chart/utils.ts
Owners: none

fix(dashboard): Ensure correct positioning of "Drill to detail by" submenu (#21894)
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/utils.test.ts
  superset-frontend/src/components/Chart/utils.ts
Owners: none

fix(dashboard): Ensure correct positioning of "Drill to detail by" submenu (#21894)
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/utils.test.ts
  superset-frontend/src/components/Chart/utils.ts
Owners: none

chore: E2E Dashboards Cross-references (#21805)
  superset-frontend/cypress-base/cypress/fixtures/charts.json
  superset-frontend/cypress-base/cypress/fixtures/dashboards.json
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/actions.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
Owners: @jinghua-qa, @geido, @michael-s-molina
