Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

Еще правки по импорту
  superset/dashboards/commands/importers/v0.py
Owners: none

fix: Types changed to datasource
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/views/CRUD/flash/components/FlashCreationButton/FlashCreationButton.tsx
  superset-frontend/src/views/CRUD/flash/constants.ts
Owners: none

Add pydynamodb driver in setup
  setup.py
Owners: none

fix: time grain key from P0.25Y => P3M
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/teradata.py
Owners: none

Ensure data cleanup
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
Owners: @jinghua-qa, @geido

chore(plugin-chart-echarts): bump ECharts to 5.4.0 (#21916)
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Owners: none

chore(plugin-chart-echarts): bump ECharts to 5.4.0 (#21916)
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Owners: none

chore(plugin-chart-echarts): bump ECharts to 5.4.0 (#21916)
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Owners: none

fix: Ensure data cleanup in Cypress (#21921)
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
Owners: @jinghua-qa, @geido

fix: Ensure data cleanup in Cypress (#21921)
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
Owners: @jinghua-qa, @geido

fix: Ensure data cleanup in Cypress (#21921)
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
Owners: @jinghua-qa, @geido

working test
  superset/utils/core.py
  tests/integration_tests/reports/scheduler_tests.py
Owners: none

feat: Add dataset visuals for when a table is selected (#21893)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

feat: Add dataset visuals for when a table is selected (#21893)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

feat: Add dataset visuals for when a table is selected (#21893)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

feat(rightmenu): Add Datasets to + Menu and Hide Databases when one has been connected (#21530)
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/components/RightMenu.test.tsx
  superset-frontend/src/views/components/RightMenu.tsx
  superset-frontend/src/views/components/types.ts
Owners: none

feat(rightmenu): Add Datasets to + Menu and Hide Databases when one has been connected (#21530)
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/components/RightMenu.test.tsx
  superset-frontend/src/views/components/RightMenu.tsx
  superset-frontend/src/views/components/types.ts
Owners: none

feat(rightmenu): Add Datasets to + Menu and Hide Databases when one has been connected (#21530)
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/components/RightMenu.test.tsx
  superset-frontend/src/views/components/RightMenu.tsx
  superset-frontend/src/views/components/types.ts
Owners: none

fix(sqllab): fix control x to stop query (#21899)
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

fix(sqllab): fix control x to stop query (#21899)
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

fix(sqllab): fix control x to stop query (#21899)
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

remove map tabl
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

Improving folder structure, adding additional tests
  superset-frontend/build-storybook.log
  superset-frontend/src/components/Table/Table.overview.mdx
  superset-frontend/src/components/Table/Table.test.tsx
  superset-frontend/src/components/Table/cell-renderers/ActionCell/ActionCell.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/ActionCell/ActionCell.test.tsx
  superset-frontend/src/components/Table/cell-renderers/ActionCell/index.tsx
  superset-frontend/src/components/Table/cell-renderers/ButtonCell/ButtonCell.test.tsx
  superset-frontend/src/components/Table/cell-renderers/NumericCell/NumericCell.test.tsx
  superset-frontend/src/components/Table/cell-renderers/fixtures.ts
  superset-frontend/src/components/Table/index.tsx
  superset-frontend/src/components/Table/utils/InteractiveTableUtils.ts
  superset-frontend/src/components/Table/utils/utils.test.ts
  superset-frontend/src/components/Table/utils/utils.ts
Owners: none

fix(sqllab): remove set state on component update lifecycle (#21771)
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/state.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Owners: none

fix(sqllab): remove set state on component update lifecycle (#21771)
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/state.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Owners: none

fix(sqllab): remove set state on component update lifecycle (#21771)
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/state.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Owners: none

fix: hive filter on the basis of label
  superset-frontend/src/views/CRUD/flash/components/FlashCreationButton/FlashCreationButton.tsx
Owners: none

fix: accept old database payload
  superset/databases/schemas.py
  tests/unit_tests/databases/schema_tests.py
Owners: none

chore: additional logging in alerts and reports (#21802)
  superset/reports/notifications/email.py
  superset/tasks/scheduler.py
  tests/integration_tests/reports/scheduler_tests.py
Owners: none

chore: additional logging in alerts and reports (#21802)
  superset/reports/notifications/email.py
  superset/tasks/scheduler.py
  tests/integration_tests/reports/scheduler_tests.py
Owners: none

chore: additional logging in alerts and reports (#21802)
  superset/reports/notifications/email.py
  superset/tasks/scheduler.py
  tests/integration_tests/reports/scheduler_tests.py
Owners: none

Move dashboard auto refresh intervals options to config
  superset-frontend/src/configs.ts
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset/config.py
  superset/views/base.py
Owners: none

Fix unit test depending on RefreshIntervalModal
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.test.jsx
Owners: none

Simplify mocks in non-RefreshIntervalModal tests
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.test.jsx
Owners: none

fix: time grain key from P0.25Y to P3M (#21919)
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/teradata.py
Owners: none

fix: time grain key from P0.25Y to P3M (#21919)
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/teradata.py
Owners: none

fix: time grain key from P0.25Y to P3M (#21919)
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/teradata.py
Owners: none

fix: tooltip fix on schedule button
  superset-frontend/src/views/CRUD/flash/components/FlashCreationButton/FlashCreationButton.tsx
Owners: none

helm: Use shared default for init image
  helm/superset/README.md
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

fix: Default temporal column in Datasource (#21857)
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Owners: none
