Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

chore: add more logging for alerts and reports (#21714)
  superset/reports/commands/execute.py
  superset/tasks/scheduler.py
Owners: none

chore: add more logging for alerts and reports (#21714)
  superset/reports/commands/execute.py
  superset/tasks/scheduler.py
Owners: none

chore: add more logging for alerts and reports (#21714)
  superset/reports/commands/execute.py
  superset/tasks/scheduler.py
Owners: none

Chart updates
  helm/superset/Chart.lock
  helm/superset/README.md
  helm/superset/README.md.gotmpl
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service.yaml
  helm/superset/toto.json
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

Polish readme
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

fix(explore): Persist URL params to form-data (#21792)
  superset/explore/commands/get.py
  tests/integration_tests/explore/api_tests.py
Owners: none

fix(explore): Persist URL params to form-data (#21792)
  superset/explore/commands/get.py
  tests/integration_tests/explore/api_tests.py
Owners: none

fix(explore): Persist URL params to form-data (#21792)
  superset/explore/commands/get.py
  tests/integration_tests/explore/api_tests.py
Owners: none

Switch to nindent
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

Remove schema
  helm/superset/toto.json
Owners: @craig-rueda, @dpgaspar, @villebro

fix: Dataset creation header is now uneditable and holds proper default values (#21557)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/Header.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

fix: Dataset creation header is now uneditable and holds proper default values (#21557)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/Header.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

fix: Dataset creation header is now uneditable and holds proper default values (#21557)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/Header.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Owners: none

Add missing required property
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Owners: none

fix label color will change color order
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/SharedLabelColorSingleton.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
Owners: none

address comment on UPDATING.md
  UPDATING.md
Owners: none

make all alerts visible to alpha and add gamma tests
  superset/reports/filters.py
  tests/integration_tests/reports/api_tests.py
Owners: none

fix old tests
  tests/integration_tests/reports/api_tests.py
Owners: none

add base filter for report schedule
  superset/reports/api.py
  superset/reports/dao.py
  superset/reports/filters.py
  superset/security/manager.py
Owners: none

add tests
  UPDATING.md
  superset/reports/filters.py
  tests/integration_tests/reports/api_tests.py
Owners: none

fix: remove alerts and reports perms for gamma
  superset/security/manager.py
Owners: none

check g.user
  superset/reports/commands/execute.py
  tests/integration_tests/reports/commands_tests.py
Owners: none

disable forbidden actions
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
Owners: none

chore(sqla): refactor query utils
  superset/connectors/sqla/models.py
Owners: none

add tests
  tests/integration_tests/charts/data/api_tests.py
Owners: none

fix test
  superset-frontend/src/views/CRUD/alert/AlertList.test.jsx
Owners: none

Test dashboards in list
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
Owners: @jinghua-qa, @geido

Remove feature flag
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset/config.py
  tests/integration_tests/superset_test_config.py
Owners: none

added translate functions
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/vendor/superset/AnnotationTypes.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/index.ts
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/modules/AnnotationTypes.js
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Owners: none

Fix test
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
Owners: @jinghua-qa, @geido

Fix test
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
Owners: @jinghua-qa, @geido

Remove comma from token separators
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Owners: none

Lint
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
Owners: @jinghua-qa, @geido

additional logging
  superset/reports/notifications/email.py
  superset/utils/core.py
Owners: none

added option to emit a filter from a default column for a row in ag grid
  superset-frontend/src/cccs-viz/plugins/plugin-chart-cccs-grid/src/CccsGrid.tsx
  superset-frontend/src/cccs-viz/plugins/plugin-chart-cccs-grid/src/plugin/controlPanel.tsx
  superset-frontend/src/cccs-viz/plugins/plugin-chart-cccs-grid/src/plugin/transformProps.ts
  superset-frontend/src/cccs-viz/plugins/plugin-chart-cccs-grid/src/types.ts
Owners: none

add check inside exception
  superset/sqllab/command.py
Owners: none

serialize extra json in state
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Owners: none

fix bugs with state
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Owners: none

Update trino python client (#219)
  cccs-build/superset/requirements.txt
Owners: none

Updated superset's base image tag (#221)
  cccs-build/superset/Dockerfile
Owners: none

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido
