Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

helm: fix conflict betwee prettier and yamllint conf
  lintconf.yaml
Owners: none

Some doc polishing
  .markdownlint.json
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/README.md.gotmpl
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

Adds helm-docs automated README generation in CI and pre-commit
  .github/workflows/superset-helm-docs.yml
  .pre-commit-config.yaml
Owners: none

feat(dashboard): Move dashboard auto refresh intervals options to config (#21924)
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset/config.py
  superset/views/base.py
Owners: none

feat(dashboard): Move dashboard auto refresh intervals options to config (#21924)
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset/config.py
  superset/views/base.py
Owners: none

feat(dashboard): Move dashboard auto refresh intervals options to config (#21924)
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset/config.py
  superset/views/base.py
Owners: none

Add license in Helm README
  helm/superset/README.md
  helm/superset/README.md.gotmpl
Owners: @craig-rueda, @dpgaspar, @villebro

docs(athena): add assuming IAM role with PyAthena (#21951)
  docs/docs/databases/athena.mdx
Owners: none

docs(athena): add assuming IAM role with PyAthena (#21951)
  docs/docs/databases/athena.mdx
Owners: none

docs(athena): add assuming IAM role with PyAthena (#21951)
  docs/docs/databases/athena.mdx
Owners: none

Update superset_config.py
  docker/pythonpath_dev/superset_config.py
Owners: none

Update superset_config.py
  docker/pythonpath_dev/superset_config.py
Owners: none

fix(explore): Small change in metadata bar copy and tooltip placement
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Owners: @michael-s-molina

Fix tests
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
Owners: @jinghua-qa, @geido

Fix loader position
  superset-frontend/src/explore/components/SaveModal.tsx
Owners: none

Fix resetting radio button state after closing the modal
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
Owners: none

fix(dashboard): Remove bar at bottom of dashboard edit sidebar (#21807)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/BuilderComponentPane/BuilderComponentPane.test.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceAdder.test.jsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
  superset-frontend/src/dashboard/stylesheets/index.less
Owners: none

fix(dashboard): Remove bar at bottom of dashboard edit sidebar (#21807)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/BuilderComponentPane/BuilderComponentPane.test.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceAdder.test.jsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
  superset-frontend/src/dashboard/stylesheets/index.less
Owners: none

fix(dashboard): Remove bar at bottom of dashboard edit sidebar (#21807)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/BuilderComponentPane/BuilderComponentPane.test.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceAdder.test.jsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
  superset-frontend/src/dashboard/stylesheets/index.less
Owners: none

small bump to shillelagh
  setup.py
Owners: none

Mutli-stage build for websocket image
  superset-websocket/Dockerfile
Owners: none

Add component
  superset-frontend/src/components/DropdownSelectableIcon/DropdownSelectableIcon.stories.tsx
  superset-frontend/src/components/DropdownSelectableIcon/DropdownSelectableIcon.test.tsx
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/components/Menu/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
Owners: none

Tweak npm install cmd
  superset-websocket/Dockerfile
  superset-websocket/package.json
Owners: none

fix: Most common flaky Cypress tests (#21941)
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
Owners: @jinghua-qa, @geido

fix: Most common flaky Cypress tests (#21941)
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
Owners: @jinghua-qa, @geido

fix: Most common flaky Cypress tests (#21941)
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
Owners: @jinghua-qa, @geido

Add tooltipPlacement prop to MetadataBar instead of hardcoding "bottom"
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Owners: @michael-s-molina

add id
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

bump pyathena and related packages
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Owners: none

fix: rename datasource->dataset in error message
  superset/common/query_context_processor.py
Owners: none

typo
  superset/common/query_context_processor.py
Owners: none

Fix python linting issues
  superset/datasets/filters.py
Owners: none

feat(helm): Support for flower and websocket containers (#21806)
  .github/workflows/superset-helm-lint.yml
  .markdownlint.json
  helm/superset/Chart.lock
  helm/superset/README.md
  helm/superset/README.md.gotmpl
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
  lintconf.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

feat(helm): Support for flower and websocket containers (#21806)
  .github/workflows/superset-helm-lint.yml
  .markdownlint.json
  helm/superset/Chart.lock
  helm/superset/README.md
  helm/superset/README.md.gotmpl
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
  lintconf.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

feat(helm): Support for flower and websocket containers (#21806)
  .github/workflows/superset-helm-lint.yml
  .markdownlint.json
  helm/superset/Chart.lock
  helm/superset/README.md
  helm/superset/README.md.gotmpl
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
  lintconf.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

fix(sqllab): wiped out unsaved changes by delayed actions (#21877)
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Owners: none

fix(sqllab): wiped out unsaved changes by delayed actions (#21877)
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Owners: none

fix(sqllab): wiped out unsaved changes by delayed actions (#21877)
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Owners: none

fix(explore): Chart save modal displays error instead of failing silently (#21920)
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/types.ts
Owners: none

fix(explore): Chart save modal displays error instead of failing silently (#21920)
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/types.ts
Owners: none
