Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

chore: E2E Dashboards Cross-references (#21805)
  superset-frontend/cypress-base/cypress/fixtures/charts.json
  superset-frontend/cypress-base/cypress/fixtures/dashboards.json
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/actions.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
Owners: @jinghua-qa, @geido, @michael-s-molina

chore: E2E Dashboards Cross-references (#21805)
  superset-frontend/cypress-base/cypress/fixtures/charts.json
  superset-frontend/cypress-base/cypress/fixtures/dashboards.json
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/actions.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
Owners: @jinghua-qa, @geido, @michael-s-molina

chore: Remove CROSS_REFERENCES feature flag (#21815)
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset/config.py
  tests/integration_tests/superset_test_config.py
Owners: none

chore: Remove CROSS_REFERENCES feature flag (#21815)
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset/config.py
  tests/integration_tests/superset_test_config.py
Owners: none

chore: Remove CROSS_REFERENCES feature flag (#21815)
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset/config.py
  tests/integration_tests/superset_test_config.py
Owners: none

chore: Improves D2D loading indicator
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Owners: none

chore: Updating SIP issue template to boost the link, and (hopefully) reduce duplicate-numbered SIP issues. (#21896)
  .github/ISSUE_TEMPLATE/sip.md
Owners: none

chore: Updating SIP issue template to boost the link, and (hopefully) reduce duplicate-numbered SIP issues. (#21896)
  .github/ISSUE_TEMPLATE/sip.md
Owners: none

chore: Updating SIP issue template to boost the link, and (hopefully) reduce duplicate-numbered SIP issues. (#21896)
  .github/ISSUE_TEMPLATE/sip.md
Owners: none

Fixes test
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
Owners: none

fixed code for bulk delete of embedded dashboards
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
Owners: none

Correct DatasetPanelProps
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
Owners: none

fixed test case
  tests/integration_tests/dashboards/api_tests.py
Owners: none

chore: Improves D2D loading indicator (#21908)
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Owners: none

chore: Improves D2D loading indicator (#21908)
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Owners: none

chore: Improves D2D loading indicator (#21908)
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Owners: none

Recorrect DatasetPanelProps
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
Owners: none

created schema and rename
  superset/databases/models.py
  superset/databases/schemas.py
Owners: none

chore(plugin-chart-echarts): bump to ECharts to 5.4.0
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Owners: none

fix form data and x-axis formatter
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

remove console logs
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

refactor
  tests/integration_tests/access_tests.py
Owners: none

address comments
  tests/integration_tests/access_tests.py
  tests/integration_tests/reports/commands_tests.py
Owners: none

linting
  superset/databases/models.py
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

Fixes Lint and TS errors
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/components/Dropdown/index.tsx
  superset-frontend/src/components/Loading/index.tsx
  superset-frontend/src/components/Table/InteractiveTableUtils.ts
  superset-frontend/src/components/Table/Table.overview.mdx
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/components/Table/Table.test.tsx
  superset-frontend/src/components/Table/cell-renderers/ActionCell/ActionCell.overview.mdx
  superset-frontend/src/components/Table/cell-renderers/ActionCell/fixtures.ts
  superset-frontend/src/components/Table/cell-renderers/ActionCell/index.tsx
  superset-frontend/src/components/Table/cell-renderers/ButtonCell/ButtonCell.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/ButtonCell/index.tsx
  superset-frontend/src/components/Table/index.tsx
  superset-frontend/src/components/Table/utils.test.ts
  superset-frontend/src/components/Table/utils.ts
  superset-frontend/src/components/TableScreen/Table.test.tsx
  superset-frontend/src/components/TableScreen/TableScreen.stories.tsx
  superset-frontend/src/components/TableScreen/index.tsx
Owners: none

curious
  superset/sqllab/command.py
  tests/integration_tests/celery_tests.py
Owners: none

fix encrpytions
  superset/databases/models.py
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

logging from upper pattern
  superset/sqllab/command.py
  tests/integration_tests/celery_tests.py
Owners: none

Remove dashboards after test, trigger CI.
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
Owners: @jinghua-qa, @geido

improve conf band storybook
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
Owners: none

add license headers
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
Owners: none

fixed test case based on suggestion
  tests/integration_tests/dashboards/api_tests.py
Owners: none

updated for testing
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
Owners: none

fixed bulk deleting embedded dashboards
  superset/dashboards/dao.py
Owners: none

fix(superset): Fixed API for bulk delete of embedded dashboards (#21911)
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
Owners: none

fix(superset): Fixed API for bulk delete of embedded dashboards (#21911)
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
Owners: none

fix(superset): Fixed API for bulk delete of embedded dashboards (#21911)
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
Owners: none

fix: dynamic helper text added
  superset/views/database/forms.py
Owners: none

Импорт с кликхаузом
  superset/dashboards/commands/importers/v0.py
  superset/templates/superset/medbi_import_dashboards.html
  superset/views/core.py
Owners: none

Багфикс импорта
  superset/dashboards/commands/importers/v0.py
  superset/datasets/commands/importers/v0.py
  superset/views/core.py
Owners: none

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido
