Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

fix(native-filters): panels are collapsed when switch native filters (#21976)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Owners: none

greatly optimize Chinese translation
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
Owners: none

feat: Adds more customization properties to DropdownContainer (#22031)
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Owners: none

feat: Adds more customization properties to DropdownContainer (#22031)
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Owners: none

feat: Adds more customization properties to DropdownContainer (#22031)
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Owners: none

feat: Improves SafeMarkdown HTML sanitization (#21895)
  UPDATING.md
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/spec/helpers/shim.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/webpack.config.js
  superset/config.py
  superset/examples/configs/dashboards/Slack_Dashboard.yaml
  superset/views/base.py
Owners: @jinghua-qa, @geido

feat: Improves SafeMarkdown HTML sanitization (#21895)
  UPDATING.md
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/spec/helpers/shim.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/webpack.config.js
  superset/config.py
  superset/examples/configs/dashboards/Slack_Dashboard.yaml
  superset/views/base.py
Owners: @jinghua-qa, @geido

feat: Improves SafeMarkdown HTML sanitization (#21895)
  UPDATING.md
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/spec/helpers/shim.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/webpack.config.js
  superset/config.py
  superset/examples/configs/dashboards/Slack_Dashboard.yaml
  superset/views/base.py
Owners: @jinghua-qa, @geido

fix: datasource save, improve data validation
  superset/config.py
  superset/utils/urls.py
  superset/views/datasource/views.py
  tests/integration_tests/datasource_tests.py
  tests/unit_tests/utils/urls_tests.py
Owners: none

Update UPDATING.md
  UPDATING.md
Owners: none

build: Mutli-stage build and slim image for websocket container (#21954)
  .github/workflows/docker_build_push.sh
  superset-websocket/Dockerfile
  superset-websocket/package-lock.json
Owners: none

build: Mutli-stage build and slim image for websocket container (#21954)
  .github/workflows/docker_build_push.sh
  superset-websocket/Dockerfile
  superset-websocket/package-lock.json
Owners: none

build: Mutli-stage build and slim image for websocket container (#21954)
  .github/workflows/docker_build_push.sh
  superset-websocket/Dockerfile
  superset-websocket/package-lock.json
Owners: none

fix lint
  superset/utils/urls.py
  superset/views/datasource/views.py
Owners: none

Use a new official CH driver: clickhouse-connect
  docs/docs/databases/clickhouse.mdx
  docs/docs/databases/installing-database-drivers.mdx
  setup.py
Owners: none

Fix doc
  docs/docs/databases/clickhouse.mdx
Owners: none

updated image tag
  cccs-build/superset/Dockerfile
Owners: none

fix: accept only JSON credentials
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
Owners: none

Separate components
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/ActionButtons.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/EditSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FiltersHeader.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/Footer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
Owners: none

feat: Add 3 new extension points for inserting custom icons (#22027)
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Owners: none

feat: Add 3 new extension points for inserting custom icons (#22027)
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Owners: none

feat: Add 3 new extension points for inserting custom icons (#22027)
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Owners: none

chore: Adds RTL tests to DropdownContainer
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/DropdownContainer.test.tsx
  superset-frontend/src/components/DropdownContainer/Overview.stories.mdx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/styles.tsx
Owners: @michael-s-molina, @geido, @ktmud

feat(dashboard): Support custom dropdown content in horizontal filter bar
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
Owners: none

log celery errors by status code
  superset/errors.py
  superset/reports/commands/exceptions.py
  superset/reports/commands/execute.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/tasks/scheduler.py
  superset/utils/log.py
  tests/integration_tests/event_logger_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/unit_tests/utils/log_tests.py
Owners: none

fix test
  tests/integration_tests/db_engine_specs/presto_tests.py
Owners: none

Update superset_config.py
  docker/pythonpath_dev/superset_config.py
Owners: none

fix: deprecate approve and request_access endpoint (#22022)
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/access_tests.py
Owners: none

fix: deprecate approve and request_access endpoint (#22022)
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/access_tests.py
Owners: none

fix: deprecate approve and request_access endpoint (#22022)
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/access_tests.py
Owners: none

feat: Generic function for database ids
  superset/views/base.py
Owners: none
