Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

refactor: clean up codes (#22002)
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/index.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/utils/common.js
  superset-frontend/src/visualizations/presets/MainPreset.js
Owners: none

refactor: clean up codes (#22002)
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/index.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/utils/common.js
  superset-frontend/src/visualizations/presets/MainPreset.js
Owners: none

refactor: clean up codes (#22002)
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/index.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/utils/common.js
  superset-frontend/src/visualizations/presets/MainPreset.js
Owners: none

fix(dashboard): chart doesn't resize when switch tab
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.ts
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Owners: @jinghua-qa, @geido

Remove unused import
  superset/datasets/api.py
Owners: none

fix type error on tests
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
Owners: none

Fix import spacing
  superset/datasets/api.py
Owners: none

disallow columns that are not a part of the chart to be selected as default emit filters
  superset-frontend/src/cccs-viz/plugins/plugin-chart-cccs-grid/src/plugin/controlPanel.tsx
Owners: none

Change downloadAsImage to use superset theme
  superset-frontend/src/utils/downloadAsImage.ts
Owners: none

Логгирование при импорте
  superset/dashboards/commands/importers/v0.py
Owners: none

Фикс импорта
  superset/dashboards/commands/importers/v0.py
Owners: none

fix: Druid do_ping
  superset/databases/commands/test_connection.py
  superset/databases/commands/validate.py
  superset/views/core.py
Owners: none

fix: database schema selector on import data (#21759)
  superset/templates/superset/form_view/columnar_to_database_view/edit.html
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/templates/superset/form_view/database_schemas_selector.html
  superset/templates/superset/form_view/excel_to_database_view/edit.html
Owners: none

fix: flash message on database data upload forms (#21761)
  superset/views/database/views.py
Owners: none

feat: Adds a Content Security Policy (CSP) check for production environments (#21874)
  docs/docs/security.mdx
  superset/config.py
  superset/initialization/__init__.py
Owners: none

feat: Disables HTML rendering in Toast by default (#21853)
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/types.ts
Owners: none

chore(sqla): refactor query utils (#21811)
  superset/connectors/sqla/models.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/sqla_models_tests.py
Owners: none

fix: check that imports are ZIPs (#21875)
  superset/charts/api.py
  superset/databases/api.py
  superset/queries/saved_queries/api.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/importexport/api_test.py
Owners: none

fix: dashboard api cache decorator (#21964)
  superset/dashboards/api.py
Owners: none

Changed bgcolor to use correct gray
  superset-frontend/src/utils/downloadAsImage.ts
Owners: none

Revert shared controls typing change.
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Owners: none

fix tests
  tests/integration_tests/charts/data/api_tests.py
  tests/unit_tests/conftest.py
  tests/unit_tests/databases/api_test.py
Owners: none

added requirements-local.txt for pre-requisite libraries for databricks
  .gitignore
  docker/requirements-local.txt
Owners: none

fix: Change downloadAsImage to use Superset theme (#22011)
  superset-frontend/src/utils/downloadAsImage.ts
Owners: none

fix: Change downloadAsImage to use Superset theme (#22011)
  superset-frontend/src/utils/downloadAsImage.ts
Owners: none

fix: Change downloadAsImage to use Superset theme (#22011)
  superset-frontend/src/utils/downloadAsImage.ts
Owners: none

refactor: feature flag getter
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Owners: none

error context
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Owners: none

remove code
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Owners: none

fix: Revert shared controls typing change. (#22014)
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Owners: none

fix: Revert shared controls typing change. (#22014)
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Owners: none

fix: Revert shared controls typing change. (#22014)
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Owners: none

add release version for helm
  helm/superset/templates/configmap-superset.yaml
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-env.yaml
  helm/superset/templates/secret-superset-config.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service-account.yaml
  helm/superset/templates/service.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

feat: dataset access to the users having same DB role
  superset/views/base.py
Owners: none

update assertion
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Owners: none

fix: python formatter added
  superset/views/base.py
Owners: none

fix: deprecate approve and request_access endpoint
  superset/views/core.py
Owners: none

docs: update Flask-Babel links
  CONTRIBUTING.md
  docs/docs/contributing/translations.mdx
Owners: none

Lint
  superset-frontend/webpack.config.js
Owners: none

frotend: add webpack plugins to replace modules and content of the files, subscribe to click to echart
  .github/workflows/docker_build_push.sh
  superset-frontend/ModuleReplaceWebpackPlugin.js
  superset-frontend/cyberhavenPlugins.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/components/EchartCyberhaven.tsx
  superset-frontend/webpack.config.js
Owners: none
