Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

fix: Default temporal column in Datasource (#21857)
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Owners: none

fix: Default temporal column in Datasource (#21857)
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Owners: none

Fix high frequency flaky tests
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
Owners: @jinghua-qa, @geido

fix linting
  superset/databases/models.py
Owners: none

add constraint
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

add fk to migration
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

helm: update worker probe health check for celery 5+ compatibility
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

helm: update flower version warning for superset 2.0
  helm/superset/README.md
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

BigQuery:
  superset/databases/commands/create.py
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/bigquery.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
Owners: none

BigQuery:
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/exceptions.py
Owners: none

BigQuery:
  superset/databases/commands/create.py
Owners: none

feat: Adds the HORIZONTAL_FILTER_BAR feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Owners: none

fix: accept old database payload (#21923)
  superset/databases/schemas.py
  tests/unit_tests/databases/schema_tests.py
Owners: none

fix: accept old database payload (#21923)
  superset/databases/schemas.py
  tests/unit_tests/databases/schema_tests.py
Owners: none

fix: accept old database payload (#21923)
  superset/databases/schemas.py
  tests/unit_tests/databases/schema_tests.py
Owners: none

remove except
  superset/sqllab/command.py
Owners: none

feat: create function for get_sqla_engine with context (#21790)
  superset/models/core.py
  tests/conftest.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/sqllab_tests.py
Owners: none

feat: create function for get_sqla_engine with context (#21790)
  superset/models/core.py
  tests/conftest.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/sqllab_tests.py
Owners: none

feat: create function for get_sqla_engine with context (#21790)
  superset/models/core.py
  tests/conftest.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/sqllab_tests.py
Owners: none

fix: Crash caused by numpy.vectorize
  superset/result_set.py
Owners: none

BigQuery:
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/databases/commands/test_connection.py
  superset/exceptions.py
Owners: none

fix(explore): Chart save modal displays error instead of failing silently
  superset-frontend/src/explore/components/SaveModal.tsx
Owners: none

Integrates new Table component into the DatasetPanel to display Table columns for the selected database table
  superset-frontend/src/assets/images/no-columns.svg
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/fixtures.ts
  superset-frontend/src/components/Table/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/styles.ts
Owners: none

Removes leftover server side search that is no longer needed
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Owners: none

fix: cannot handle BIGINT in chartAction
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/src/connection/types.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/components/Chart/chartAction.js
Owners: none

add bigint spec for getChartDataRequest
  superset-frontend/src/components/Chart/chartActions.test.js
Owners: none

Switch to read config from redux
  superset-frontend/src/configs.ts
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.test.jsx
Owners: none

Removed unused imports
  superset-frontend/src/dashboard/components/Header/index.jsx
Owners: none

chore: Refactor ownership
  superset/datasets/api.py
  superset/datasets/commands/duplicate.py
Owners: none

add a spec for negative number
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
Owners: none

Move reading saveAction from url to redux
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/types.ts
Owners: none

small lint changes
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/types.ts
Owners: none

Wrap the whole saveOrOverwrite in try/finally
  superset-frontend/src/explore/components/SaveModal.tsx
Owners: none

feat: Adds the HORIZONTAL_FILTER_BAR feature flag (#21935)
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Owners: none

feat: Adds the HORIZONTAL_FILTER_BAR feature flag (#21935)
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Owners: none

feat: Adds the HORIZONTAL_FILTER_BAR feature flag (#21935)
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Owners: none

Fix ut
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/components/SaveModal.tsx
Owners: none

Fix ut
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Owners: none

Update messages.json
  superset/translations/fr/LC_MESSAGES/messages.json
Owners: none

Fix lower frequency flaky tests
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
Owners: @jinghua-qa, @geido

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido
