Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

if user isnt client log exception
  superset/sqllab/command.py
Owners: none

added search by verbose_name in AdhocFilter select
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Owners: none

refactor
  superset/sqllab/command.py
Owners: none

refactor
  superset/sqllab/command.py
Owners: none

update test 1
  superset/models/core.py
  tests/conftest.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/model_tests.py
Owners: none

go with original pattern
  superset/models/core.py
Owners: none

fix(sqllab): Fix spacing on Schedule option in SqlEditor dropdown (#21832)
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
Owners: none

fix(sqllab): Fix spacing on Schedule option in SqlEditor dropdown (#21832)
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
Owners: none

fix(sqllab): Fix spacing on Schedule option in SqlEditor dropdown (#21832)
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
Owners: none

fix linting
  superset/sqllab/command.py
Owners: none

fix: Dataset left panel now uses client side search (#21770)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Owners: none

fix: Dataset left panel now uses client side search (#21770)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Owners: none

fix: Dataset left panel now uses client side search (#21770)
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Owners: none

oops
  tests/integration_tests/conftest.py
Owners: none

feature to create virtual datasets
  superset/datasets/api.py
  superset/datasets/commands/create.py
  superset/datasets/schemas.py
Owners: none

added comment
  superset/datasets/commands/create.py
Owners: none

added tests
  tests/integration_tests/datasets/api_tests.py
Owners: none

fix reference
  tests/integration_tests/model_tests.py
Owners: none

fix: categorical xaxis on the stacked barchart v2
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Owners: none

Fix broken test references
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
Owners: @michael-s-molina, @geido, @ktmud

move AxisType in to core
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Owners: none

docs: 414
  CONTRIBUTING.md
Owners: none

Allow columns of dtype datetime to be stored as TIMESTAMP in the Hive schema
  superset/db_engine_specs/hive.py
Owners: none

fix: Allow comma in Number Format (#21817)
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Owners: none

fix: Allow comma in Number Format (#21817)
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Owners: none

fix: Allow comma in Number Format (#21817)
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Owners: none

WIP
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Owners: none

fix: drilling on the categorical xaxis on the stacked barchart v2 (#21844)
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Owners: none

fix: drilling on the categorical xaxis on the stacked barchart v2 (#21844)
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Owners: none

fix: drilling on the categorical xaxis on the stacked barchart v2 (#21844)
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Owners: none

Remove feature flag from resources
  RESOURCES/FEATURE_FLAGS.md
Owners: none

fix: drilling on the categorical xaxis on the mixed chart v2
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
Owners: none

Update test
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
Owners: @jinghua-qa, @geido

fix: custom SQL in the XAxis
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Owners: none

feat: Disables HTML rendering in Toast by default
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/types.ts
Owners: none

Improves property description
  superset-frontend/src/components/MessageToasts/types.ts
Owners: none

Fix and add tests
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Owners: none

Update flaky tests
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
Owners: @jinghua-qa, @geido

added logging to execute task
  superset/tasks/scheduler.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/scheduler_tests.py
Owners: none

fix: annotation broken (#20651)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/annotationsAndLayers.tsx
  superset-frontend/packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Owners: none
