Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

fix(explore): Small changes in metadata bar copy and tooltip placement (#21952)
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Owners: @jinghua-qa, @geido, @michael-s-molina

fix(explore): Small changes in metadata bar copy and tooltip placement (#21952)
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Owners: @jinghua-qa, @geido, @michael-s-molina

Install helm-docs to run pre-commit
  .github/workflows/superset-python-misc.yml
Owners: none

chore: Remove several React app console warnings and errors v2 (#21725)
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PublishedStatus/index.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/util/propShapes.jsx
  superset-frontend/src/explore/components/controls/MetricControl/savedMetricType.js
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Owners: none

chore: Remove several React app console warnings and errors v2 (#21725)
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PublishedStatus/index.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/util/propShapes.jsx
  superset-frontend/src/explore/components/controls/MetricControl/savedMetricType.js
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Owners: none

chore: Remove several React app console warnings and errors v2 (#21725)
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PublishedStatus/index.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/util/propShapes.jsx
  superset-frontend/src/explore/components/controls/MetricControl/savedMetricType.js
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Owners: none

Set up brew
  .github/workflows/superset-helm-docs.yml
  .github/workflows/superset-python-misc.yml
Owners: none

Update typo in docker-add-drivers.mdx
  docs/docs/databases/docker-add-drivers.mdx
Owners: none

fix lint
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Owners: none

Activate brew manually
  .github/workflows/superset-python-misc.yml
Owners: none

remove comment about literal
  setup.py
Owners: none

fix: invalid float number format by json-bigint
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
Owners: none

remove unused commands
  superset/sqllab/command.py
Owners: none

fix: add form data for empty state control to save dataset (#21944)
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Owners: none

fix: add form data for empty state control to save dataset (#21944)
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Owners: none

fix: add form data for empty state control to save dataset (#21944)
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Owners: none

put an extra except to make sure the original exception are kept
  superset/sqllab/command.py
Owners: none

fix: Adds logging for SPA route navigation with React router (#21960)
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/middleware/loggerMiddleware.js
  superset-frontend/src/utils/DebouncedMessageQueue.js
  superset-frontend/src/views/App.tsx
Owners: none

fix: Adds logging for SPA route navigation with React router (#21960)
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/middleware/loggerMiddleware.js
  superset-frontend/src/utils/DebouncedMessageQueue.js
  superset-frontend/src/views/App.tsx
Owners: none

fix: Adds logging for SPA route navigation with React router (#21960)
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/middleware/loggerMiddleware.js
  superset-frontend/src/utils/DebouncedMessageQueue.js
  superset-frontend/src/views/App.tsx
Owners: none

removed error text from header_data
  superset/reports/commands/execute.py
  superset/utils/core.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/unit_tests/notifications/email_tests.py
Owners: none

Skip helm-docs in pre-commit
  .github/workflows/superset-python-misc.yml
Owners: none

fix(sqllab): Remove invalid hotkey config
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Owners: none

fix: error_parsing (#21946)
  superset/reports/commands/execute.py
  superset/utils/core.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/unit_tests/notifications/email_tests.py
Owners: none

fix: error_parsing (#21946)
  superset/reports/commands/execute.py
  superset/utils/core.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/unit_tests/notifications/email_tests.py
Owners: none

fix: error_parsing (#21946)
  superset/reports/commands/execute.py
  superset/utils/core.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/unit_tests/notifications/email_tests.py
Owners: none

chore: bump pyathena and related packages (#21958)
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Owners: none

chore: bump pyathena and related packages (#21958)
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Owners: none

chore: bump pyathena and related packages (#21958)
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Owners: none

Filter helm-docs folder
  .pre-commit-config.yaml
Owners: none

Setup brew
  .github/workflows/superset-python-misc.yml
Owners: none

Fix brew install
  .github/workflows/superset-python-misc.yml
Owners: none

Remove redundant helm-docs workflow
  .github/workflows/superset-helm-docs.yml
Owners: none

fix: bump expected npm version
  superset-websocket/package.json
Owners: none

feat: Adds DropdownContainer component
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
Owners: @michael-s-molina, @geido, @ktmud

Remove assertion of visibility
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
Owners: @jinghua-qa, @geido

build(helm): Helm-docs + fix Helm chart release (#21963)
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-misc.yml
  .pre-commit-config.yaml
  helm/superset/Chart.yaml
  helm/superset/README.md
Owners: @craig-rueda, @dpgaspar, @villebro

build(helm): Helm-docs + fix Helm chart release (#21963)
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-misc.yml
  .pre-commit-config.yaml
  helm/superset/Chart.yaml
  helm/superset/README.md
Owners: @craig-rueda, @dpgaspar, @villebro

build(helm): Helm-docs + fix Helm chart release (#21963)
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-misc.yml
  .pre-commit-config.yaml
  helm/superset/Chart.yaml
  helm/superset/README.md
Owners: @craig-rueda, @dpgaspar, @villebro

Update index.yaml
  index.yaml
Owners: none
