Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

remove case when catalog is empty
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Owners: none

refactor: serialize extra json in state (#21523)
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Owners: none

refactor: serialize extra json in state (#21523)
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Owners: none

refactor: serialize extra json in state (#21523)
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Owners: none

Moved flower to separate pod
  helm/superset/README.md
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/service.yaml
  helm/superset/values.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

fix(alerts): restrict list view and gamma perms (#21765)
  UPDATING.md
  superset-frontend/src/views/CRUD/alert/AlertList.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset/reports/api.py
  superset/reports/commands/execute.py
  superset/reports/dao.py
  superset/reports/filters.py
  superset/security/manager.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
Owners: none

fix(alerts): restrict list view and gamma perms (#21765)
  UPDATING.md
  superset-frontend/src/views/CRUD/alert/AlertList.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset/reports/api.py
  superset/reports/commands/execute.py
  superset/reports/dao.py
  superset/reports/filters.py
  superset/security/manager.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
Owners: none

fix(alerts): restrict list view and gamma perms (#21765)
  UPDATING.md
  superset-frontend/src/views/CRUD/alert/AlertList.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset/reports/api.py
  superset/reports/commands/execute.py
  superset/reports/dao.py
  superset/reports/filters.py
  superset/security/manager.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
Owners: none

feat: Schedule feature implemented
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/views/CRUD/flash/components/FlashCreationButton/FlashCreationButton.tsx
Owners: none

feat: made constants for button types
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/views/CRUD/flash/components/FlashCreationButton/FlashCreationButton.tsx
  superset-frontend/src/views/CRUD/flash/constants.ts
Owners: none

chore: Add `USER_CLIENT_ERRORS` to stop logging exceptions that are user driven (#21818)
  superset/sqllab/command.py
Owners: none

chore: Add `USER_CLIENT_ERRORS` to stop logging exceptions that are user driven (#21818)
  superset/sqllab/command.py
Owners: none

chore: Add `USER_CLIENT_ERRORS` to stop logging exceptions that are user driven (#21818)
  superset/sqllab/command.py
Owners: none

perf(native-filters): improve native filter modal performance
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigurePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Owners: none

fix lint
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
Owners: none

Prevent XSS attack by filtering src attribute on markdown input
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
Owners: none

Convert direct use of antd Icons to use 'Icons' component
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/EditSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/TableCatalog.tsx
Owners: @michael-s-molina, @geido, @ktmud

Fix lint
  superset-frontend/src/reduxUtils.ts
Owners: none

feat(explore): Don't discard controls with custom sql when changing datasource
  superset-frontend/packages/superset-ui-core/src/query/types/Column.ts
  superset-frontend/packages/superset-ui-core/src/utils/isDefined.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndAdhocFilterOption.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/types.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetric.js
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionValue.jsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/reduxUtils.ts
Owners: none

Fix UT
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/AdhocFilter.test.js
  superset-frontend/src/reduxUtils.ts
Owners: none

choe: errors fixes for the build
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/modules/AnnotationTypes.js
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
Owners: none

fix test
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigPane.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigurePane.tsx
Owners: none

Fix failing tests
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/FilterIndicator.test.tsx
Owners: none

fix test
  tests/integration_tests/sqla_models_tests.py
Owners: none

fix(superset-embedded-sdk): Buffer is not defined (#21641)
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/guestTokenRefresh.ts
Owners: none

fix(superset-embedded-sdk): Buffer is not defined (#21641)
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/guestTokenRefresh.ts
Owners: none

fix(superset-embedded-sdk): Buffer is not defined (#21641)
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/guestTokenRefresh.ts
Owners: none

feat(color): color consistency enhancements (#21507)
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/SharedLabelColorSingleton.ts
  superset-frontend/packages/superset-ui-core/src/color/index.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardState.test.js
  superset-frontend/src/explore/ExplorePage.tsx
  superset/config.py
Owners: none

feat(color): color consistency enhancements (#21507)
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/SharedLabelColorSingleton.ts
  superset-frontend/packages/superset-ui-core/src/color/index.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardState.test.js
  superset-frontend/src/explore/ExplorePage.tsx
  superset/config.py
Owners: none

feat(color): color consistency enhancements (#21507)
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/SharedLabelColorSingleton.ts
  superset-frontend/packages/superset-ui-core/src/color/index.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardState.test.js
  superset-frontend/src/explore/ExplorePage.tsx
  superset/config.py
Owners: none

chore(sqla): refactor query utils (#21811)
  superset/connectors/sqla/models.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/sqla_models_tests.py
Owners: none

chore(sqla): refactor query utils (#21811)
  superset/connectors/sqla/models.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/sqla_models_tests.py
Owners: none

chore(sqla): refactor query utils (#21811)
  superset/connectors/sqla/models.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/sqla_models_tests.py
Owners: none

Fix spacing for Schedule option in SqlEditor dropdown
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
Owners: none

Fix unit test searching for element with changed reference
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.test.tsx
Owners: none

Fix ut
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetric.test.js
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.test.ts
Owners: none

Commits on 17Oct2022 for SETROLE
  superset/models/core.py
Owners: none

Fix label in adhoc metric not updating
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Owners: none

refactor
  superset/models/core.py
Owners: none

1. Add a "Created by" column to the list view, between "Modified" and "Actions" 2. Add a "Created by" filter to the top of the page, to the left of "Search"
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset/queries/saved_queries/api.py
Owners: none
