Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

fix(explore): Chart save modal displays error instead of failing silently (#21920)
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/types.ts
Owners: none

fix: small bump to shillelagh (#21953)
  setup.py
Owners: none

fix: small bump to shillelagh (#21953)
  setup.py
Owners: none

fix: small bump to shillelagh (#21953)
  setup.py
Owners: none

Remove trailing comma making tests fail
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
Owners: none

Adds logging for SPA route navigation with React router, fixes bug in loggerMiddleware that was sending malformed log payloads in some cases
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/middleware/loggerMiddleware.js
  superset-frontend/src/utils/DebouncedMessageQueue.js
  superset-frontend/src/views/App.tsx
Owners: none

Removes unnecessary code causing an import error
  superset-frontend/src/components/Table/cell-renderers/fixtures.ts
Owners: none

use factory instead
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
Owners: @apache/superset-committers

fix time offset
  superset/common/query_context_processor.py
  tests/integration_tests/query_context_tests.py
Owners: none

add more UT
  superset/common/utils/time_range_utils.py
  tests/integration_tests/query_context_tests.py
Owners: none

datetime_between => temporal_between
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/packages/superset-ui-core/src/query/buildQueryContext.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Operator.ts
  superset-frontend/packages/superset-ui-core/test/query/buildQueryContext.test.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/useGetTimeRangeByAdhocFilter.tsx
  superset-frontend/src/explore/constants.ts
  superset/common/query_context_processor.py
  superset/common/utils/time_range_utils.py
  superset/connectors/sqla/models.py
  superset/utils/core.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/common/test_time_range_utils.py
Owners: none

feat: support mulitple datetime filter in AdhocFilter and move away time section
  superset-frontend/packages/superset-ui-chart-controls/src/sections/sections.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/packages/superset-ui-core/src/query/buildQueryContext.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Operator.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndAdhocFilterOption.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/index.ts
  superset-frontend/src/explore/components/controls/FilterControl/utils/useDatePickerInAdhocFilter.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/useGetTimeRangeByAdhocFilter.tsx
  superset-frontend/src/explore/constants.ts
  superset/common/query_object_factory.py
  superset/connectors/sqla/models.py
  superset/utils/core.py
  tests/integration_tests/sqla_models_tests.py
Owners: none

should pass all CI steps
  superset-frontend/packages/superset-ui-chart-controls/src/sections/sections.tsx
  superset-frontend/packages/superset-ui-core/test/query/buildQueryContext.test.ts
  superset-frontend/packages/superset-ui-core/test/query/getAxis.test.ts
  superset/common/query_context_processor.py
  superset/common/query_object.py
  superset/common/query_object_factory.py
  superset/common/utils/time_range_utils.py
  superset/connectors/sqla/models.py
  superset/constants.py
  superset/db_engine_specs/sqlite.py
  superset/models/helpers.py
  superset/utils/core.py
  superset/utils/date_parser.py
  superset/viz.py
  tests/integration_tests/utils_tests.py
Owners: none

fix pylint
  superset/common/query_context_processor.py
Owners: none

add UT for time_range_utils
  superset/common/utils/time_range_utils.py
  tests/unit_tests/common/test_time_range_utils.py
  tests/unit_tests/conftest.py
Owners: none

fix overlap in modal
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Owners: none

datepicker modal in adhoc filter
  superset-frontend/src/explore/components/controls/FilterControl/utils/useDatePickerInAdhocFilter.tsx
Owners: none

apply global default time filter
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/useDatePickerInAdhocFilter.tsx
Owners: none

fix evalResponse first open modal
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Owners: none

fix mysql failure UT
  tests/integration_tests/query_context_tests.py
Owners: none

temporal_between => temporal_range
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/packages/superset-ui-core/src/query/buildQueryContext.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Operator.ts
  superset-frontend/packages/superset-ui-core/test/query/buildQueryContext.test.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/useGetTimeRangeByAdhocFilter.tsx
  superset-frontend/src/explore/constants.ts
  superset/common/query_context_processor.py
  superset/common/utils/time_range_utils.py
  superset/connectors/sqla/models.py
  superset/utils/core.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/common/test_time_range_utils.py
Owners: none

add header
  superset-frontend/src/explore/components/controls/FilterControl/utils/useDatePickerInAdhocFilter.tsx
Owners: none

new style in date picker
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
Owners: none

fix previous UT
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
Owners: none

fix subject change
  superset-frontend/packages/superset-ui-chart-controls/src/fixtures.ts
  superset-frontend/packages/superset-ui-chart-controls/src/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getTemporalColumns.test.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Owners: none

fix ut
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
Owners: none

fix drag&drop and save temporal column
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/dateFilterUtils.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
Owners: none

code smell
  superset-frontend/src/explore/components/controls/FilterControl/utils/useDatePickerInAdhocFilter.tsx
Owners: none

fix adhoc filter title
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/useGetTimeRangeByAdhocFilter.tsx
Owners: none

add ut
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getTemporalColumns.test.ts
Owners: none

use isTemporalColumn
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getTemporalColumns.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/index.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/useDatePickerInAdhocFilter.tsx
Owners: none

ut for time filter
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CommonFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/index.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/AdvancedFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CustomFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/DateFilterLabel.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/utils.test.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
Owners: none

support Handlebars
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controlPanel.tsx
Owners: none

addressing comments
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndAdhocFilterOption.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/index.ts
  superset-frontend/src/explore/components/controls/FilterControl/utils/useGetTimeRangeLabel.tsx
Owners: none

fix lint
  superset-frontend/src/explore/controlUtils/controlUtils.test.tsx
  superset-frontend/src/explore/types.ts
Owners: none

fix ut
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
Owners: none

Add helm dependencies in release action
  .github/workflows/superset-helm-release.yml
Owners: none

Bump chart version
  helm/superset/Chart.yaml
  helm/superset/README.md
Owners: @craig-rueda, @dpgaspar, @villebro

fix: dashboard api cache decorator
  superset/dashboards/api.py
Owners: none

fix(explore): Small changes in metadata bar copy and tooltip placement (#21952)
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Owners: @jinghua-qa, @geido, @michael-s-molina
