Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mistercrunch, @michael-s-molina, @betodealmeida, @eschutho, @geido, @kgabryje, @craig-rueda, @dpgaspar, @villebro, @nytai, @sadpandajoe, @rusackas

Update base.txt
  requirements/base.txt
Owners: none

chore(gha): bump ubuntu to latest fresh release
  .github/workflows/bump-python-package.yml
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/issue_creation.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/no-hold-label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/supersetbot.yml
  .github/workflows/tag-release.yml
  .github/workflows/tech-debt.yml
  .github/workflows/welcome-new-users.yml
Owners: @villebro, @geido, @eschutho, @rusackas, @betodealmeida, @nytai, @mistercrunch, @craig-rueda, @kgabryje, @dpgaspar

downgrade that one GHA
  .github/workflows/superset-e2e.yml
Owners: @villebro, @geido, @eschutho, @rusackas, @betodealmeida, @nytai, @mistercrunch, @craig-rueda, @kgabryje, @dpgaspar

touching files to trigger CI
  superset-frontend/src/theme.ts
  superset/__init__.py
Owners: none

comment
  .github/workflows/superset-e2e.yml
Owners: @villebro, @geido, @eschutho, @rusackas, @betodealmeida, @nytai, @mistercrunch, @craig-rueda, @kgabryje, @dpgaspar

chore(gha): bump ubuntu to latest fresh release (#31390)
  .github/workflows/bump-python-package.yml
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/issue_creation.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/no-hold-label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/supersetbot.yml
  .github/workflows/tag-release.yml
  .github/workflows/tech-debt.yml
  .github/workflows/welcome-new-users.yml
  superset-frontend/src/theme.ts
  superset/__init__.py
Owners: @villebro, @geido, @eschutho, @rusackas, @betodealmeida, @nytai, @mistercrunch, @craig-rueda, @kgabryje, @dpgaspar

chore(gha): bump ubuntu to latest fresh release (#31390)
  .github/workflows/bump-python-package.yml
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/issue_creation.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/no-hold-label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/supersetbot.yml
  .github/workflows/tag-release.yml
  .github/workflows/tech-debt.yml
  .github/workflows/welcome-new-users.yml
  superset-frontend/src/theme.ts
  superset/__init__.py
Owners: @villebro, @geido, @eschutho, @rusackas, @betodealmeida, @nytai, @mistercrunch, @craig-rueda, @kgabryje, @dpgaspar

updated swimlane version
  superset-frontend/package.json
Owners: none

add LOADERS variable in config and mecanic to get it in files
  superset-frontend/src/components/Loading/index.tsx
  superset/config.py
  superset/templates/superset/basic.html
  superset/views/core.py
Owners: none

updated swimlane version
  superset-frontend/package.json
Owners: none

refactor(button): upgraded button to antd5
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/DropdownButton/index.tsx
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ChartsScopingListPanel.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/datasets/styles.ts
  superset-frontend/src/theme/index.ts
Owners: @sadpandajoe, @geido, @eschutho, @rusackas, @betodealmeida

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @mistercrunch @michael-s-molina @betodealmeida @eschutho

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @kgabryje
/superset-frontend/src/components/MetadataBar/ @michael-s-molina @geido @kgabryje
/superset-frontend/src/components/DropdownContainer/ @michael-s-molina @geido @kgabryje

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro @nytai @michael-s-molina

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @sadpandajoe @geido @eschutho @rusackas @betodealmeida

# Notify PMC members of changes to GitHub Actions

/.github/ @villebro @geido @eschutho @rusackas @betodealmeida @nytai @mistercrunch @craig-rueda @kgabryje @dpgaspar

# Notify PMC members of changes to required GitHub Actions

/.asf.yaml @villebro @geido @eschutho @rusackas @betodealmeida @nytai @mistercrunch @craig-rueda @kgabryje @dpgaspar

# Maps are a finicky contribution process we care about

**/*.geojson @villebro @rusackas
/superset-frontend/plugins/legacy-plugin-chart-country-map/ @villebro @rusackas
