Repository apache/superset, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apache/superset-committers, @robdiciuccio, @craig-rueda, @rusackas, @eschutho, @dpgaspar, @nytai, @mistercrunch, @michael-s-molina, @geido, @ktmud, @villebro, @jinghua-qa

.github/CODEOWNERS:

# Notify all committers of DB migration changes, per SIP-59

# https://github.com/apache/superset/issues/13351

/superset/migrations/ @apache/superset-committers

# Notify Preset team when ephemeral env settings are changed

.github/workflows/ecs-task-definition.json @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/docker-ephemeral-env.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch
.github/workflows/ephemeral*.yml @robdiciuccio @craig-rueda @rusackas @eschutho @dpgaspar @nytai @mistercrunch

# Notify some committers of changes in the components

/superset-frontend/src/components/Select/ @michael-s-molina @geido @ktmud
/superset-frontend/src/components/MetadataBar/ @michael-s-molina

# Notify Helm Chart maintainers about changes in it

/helm/superset/ @craig-rueda @dpgaspar @villebro

# Notify E2E test maintainers of changes

/superset-frontend/cypress-base/ @jinghua-qa @geido

feat: actions access added
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset/views/base.py
Owners: none

feat: Improves SafeMarkdown HTML sanitization
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/spec/helpers/shim.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/webpack.config.js
  superset/config.py
  superset/examples/configs/dashboards/Slack_Dashboard.yaml
  superset/views/base.py
Owners: none

Adds configuration to disable HTML sanitization
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset/config.py
  superset/views/base.py
Owners: none

Fixes E2E test
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
Owners: @jinghua-qa, @geido

Fixes lint errors
  superset/config.py
Owners: none

Adds instructions in UPDATING.md
  UPDATING.md
Owners: none

Changes the feature flag name
  UPDATING.md
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset/config.py
  superset/views/base.py
Owners: none

feat: Adds the DropdownContainer component (#21974)
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
Owners: @michael-s-molina, @geido, @ktmud

feat: Adds the DropdownContainer component (#21974)
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
Owners: @michael-s-molina, @geido, @ktmud

feat: Adds the DropdownContainer component (#21974)
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
Owners: @michael-s-molina, @geido, @ktmud

refactor: Feature flags getter (#22015)
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Owners: none

refactor: Feature flags getter (#22015)
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Owners: none

refactor: Feature flags getter (#22015)
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Owners: none

feat(dashboard): Support changing filter bar location (#22004)
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/FilterBarLocationSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/types/Dashboard.ts
  superset/dashboards/schemas.py
Owners: none

feat(dashboard): Support changing filter bar location (#22004)
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/FilterBarLocationSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/types/Dashboard.ts
  superset/dashboards/schemas.py
Owners: none

feat(dashboard): Support changing filter bar location (#22004)
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/FilterBarLocationSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/types/Dashboard.ts
  superset/dashboards/schemas.py
Owners: none

Use npm ci instead of npm install
  superset-websocket/Dockerfile
Owners: none

Sync lock file
  superset-websocket/package-lock.json
Owners: none

Add icon extension points
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Owners: none

Remove debugging code
  superset-frontend/src/views/components/RightMenu.tsx
Owners: none

fix e2e
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.ts
Owners: @jinghua-qa, @geido

Update Cypress test
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
Owners: @jinghua-qa, @geido

renaming function
  superset/examples/birth_names.py
  superset/models/core.py
  tests/integration_tests/conftest.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/db_engine_specs/hive_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/sql_validator_tests.py
Owners: none

fix(sqllab): Add templateParams on kv store
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
Owners: none

Remove bad import
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
Owners: none

Fix lint
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
Owners: none

feat: Adds more customization properties to DropdownContainer
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Owners: none

chore(dataset): enable reload for schema and table
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Owners: none

fix: JSON serializers
  superset/models/core.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Owners: none

fix: JSON serializers (#22029)
  superset/models/core.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Owners: none

fix: JSON serializers (#22029)
  superset/models/core.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Owners: none

fix: JSON serializers (#22029)
  superset/models/core.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Owners: none

chore(dataset): enable reload for schema and table (#22032)
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Owners: none

chore(dataset): enable reload for schema and table (#22032)
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Owners: none

chore(dataset): enable reload for schema and table (#22032)
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Owners: none

Bump chart version
  helm/superset/Chart.yaml
Owners: @craig-rueda, @dpgaspar, @villebro

fix tests
  tests/integration_tests/access_tests.py
Owners: none

update updating
  UPDATING.md
Owners: none

fix(native-filters): panels are collapsed when switch native filters (#21976)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Owners: none

fix(native-filters): panels are collapsed when switch native filters (#21976)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Owners: none
