Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

fix: Provide more inclusive error handling for saved queries (#27644)
  superset/models/sql_lab.py
  superset/sql_parse.py
  tests/unit_tests/models/sql_lab_test.py
Labels: none

chore(🦾): bump python polyline==2.0.2
  requirements/base.txt
Labels: none

chore(🦾): bump python croniter==2.0.3
  requirements/base.txt
Labels: none

chore(🦾): bump python pyarrow==14.0.2
  requirements/base.txt
Labels: none

fix: Leverage actual database for rendering Jinjarized SQL (#27646)
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

fix: Provide more inclusive error handling for saved queries (#27644)
  superset/models/sql_lab.py
  superset/sql_parse.py
  tests/unit_tests/models/sql_lab_test.py
Labels: none

try older sqlalchemy
  requirements/base.txt
Labels: none

chore(🦾): bump python click==8.1.7
  requirements/base.txt
Labels: none

chore(🦾): bump python pygments==2.17.2
  requirements/base.txt
Labels: none

chore(🦾): bump python pygments==2.17.2
  requirements/base.txt
Labels: none

chore(🦾): bump python nh3==0.2.17
  pyproject.toml
  requirements/base.txt
Labels: none

chore(🦾): bump python isodate==0.6.1
  requirements/base.txt
Labels: none

chore(🦾): bump python wtforms==3.1.2
  requirements/base.txt
Labels: none

chore(🦾): bump python geopy==2.4.1
  requirements/base.txt
Labels: none

chore(🦾): bump python xlsxwriter==3.0.9
  requirements/base.txt
Labels: none

chore(🦾): bump python pyparsing==3.1.2
  requirements/base.txt
Labels: none

chore(🦾): bump python croniter==2.0.3
  requirements/base.txt
Labels: none

chore(🦾): bump python msgpack==1.0.8
  requirements/base.txt
Labels: none

chore(🦾): bump python backoff==2.2.1
  requirements/base.txt
Labels: none

chore(🦾): bump python selenium==4.9.1
  requirements/base.txt
Labels: none

chore(🦾): bump python geopy==2.4.1
  requirements/base.txt
Labels: none

rm pyproject.toml
  pyproject.toml
Labels: none

rm pyproject.toml
  pyproject.toml
Labels: none

rm pyproject.yml
  pyproject.toml
Labels: none

chore(🦾): bump python sqlalchemy==1.4.52
  pyproject.toml
  requirements/base.txt
Labels: none

fix: make fips compliant by adding useforsecurity=False flag on md5 hashes
  superset/key_value/utils.py
  superset/utils/hashing.py
  superset/utils/public_interfaces.py
Labels: none

updating notification method logic
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/types.ts
Labels: none

moving duplicate type to types file
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/types.ts
Labels: none

Add semantic-object-key-val as argument for onHover prop
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: none

Attempted to use a ref
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: none

Add border to row on HoverMenu hover
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: none

Fix with callback dictated by HoverMenu
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: none

Add test for hover state
  superset-frontend/src/dashboard/components/menu/HoverMenu.test.tsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: none

Apply code review suggestion
  superset/db_engine_specs/duckdb.py
Labels: none

Revert change: cannot use super() in staticmethod
  superset/db_engine_specs/duckdb.py
Labels: none

fix(chore): Removed hardcode of admin role from permission utils
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/preamble.ts
  superset/config.py
  superset/views/base.py
Labels: none

fix: Select onChange is fired when the same item is selected in single mode
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.tsx
Labels: none

added adminRole type to Window
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
Labels: packages

feat(viz picker): Remove some tags, refactor Recommended section
  superset-frontend/plugins/legacy-plugin-chart-chord/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/index.js
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Grid/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Heatmap/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Hex/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Area/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Line/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-table/src/index.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/index.ts
  superset-frontend/src/assets/images/icons/ballot.svg
  superset-frontend/src/assets/images/icons/category.svg
  superset-frontend/src/assets/images/icons/tags.svg
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: plugins

Update margin
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
