Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'

do user_agent string manipulation on a separate line
  superset/db_engine_specs/duckdb.py
Labels: none

group all theme ref
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

Run precommit
  superset/db_engine_specs/duckdb.py
  tests/unit_tests/db_engine_specs/test_duckdb.py
Labels: none

TESTING
  tests/integration_tests/celery_tests.py
  tests/unit_tests/conftest.py
Labels: none

remove unused import
  superset/db_engine_specs/duckdb.py
Labels: none

fix broken UTs
  tests/unit_tests/db_engine_specs/test_duckdb.py
Labels: none

TESTING
  tests/integration_tests/celery_tests.py
Labels: none

rm print
  tests/unit_tests/conftest.py
Labels: none

update test to use DuckDBEngineSpec
  tests/unit_tests/db_engine_specs/test_duckdb.py
Labels: none

Consistently use lower case with dashes for user agent
  tests/unit_tests/db_engine_specs/test_duckdb.py
Labels: none

fix(AlertReports): disabling value when not null option is active (#27550)
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

fix(AlertReports): defaulting grace period to undefined (#27552)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

fix(Chart Annotation modal): Table and Superset annotation options will paginate, exceeding previous max limit 100 (#27022)
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

fix(AlertReports): clearing custom_width when disabled (#27551)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

fix(sqllab): unable to remove table (#27636)
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: none

fix(AlertReports): clearing custom_width when disabled (#27551)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

fix(Chart Annotation modal): Table and Superset annotation options will paginate, exceeding previous max limit 100 (#27022)
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

fix(sqllab): unable to remove table (#27636)
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: none

fix(AlertReports): disabling value when not null option is active (#27550)
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

fix(AlertReports): defaulting grace period to undefined (#27552)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

feat(time-comparison-table): show and hide time comparison columns (#27446)
  superset-frontend/packages/superset-ui-chart-controls/src/components/Dropdown.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/components/Menu.tsx
  superset-frontend/plugins/plugin-chart-table/package.json
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: dependencies:npm, plugins, packages

added visual formatting section
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: plugins

implement basic color formatter
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
Labels: plugins

chore(🦾): bump python backoff==2.2.1
  pyproject.toml
  requirements/base.txt
Labels: none

chore(🦾): bump python flask-session==0.8.0
  requirements/base.txt
Labels: none

chore(🦾): bump python click-option-group==0.5.6
  requirements/base.txt
Labels: none

chore(🦾): bump python cron-descriptor==1.4.3
  requirements/base.txt
Labels: none

chore(🦾): bump python pyparsing==3.1.2
  requirements/base.txt
Labels: none

chore(🦾): bump python xlsxwriter==3.0.9
  requirements/base.txt
Labels: none

chore(🦾): bump python typing-extensions==4.10.0
  requirements/base.txt
Labels: none

chore(🦾): bump python python-dotenv==1.0.1
  requirements/base.txt
Labels: none

remove artefact
  pyproject.toml
Labels: none

fix: Leverage actual database for rendering Jinjarized SQL (#27646)
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

chore(🤖): bump python "flask==2.3.3" (#27657)
  requirements/base.txt
  tests/integration_tests/celery_tests.py
Labels: none

chore(🦾): bump python typing-extensions==4.10.0
  pyproject.toml
  requirements/base.txt
Labels: none

chore(🦾): bump python humanize==4.9.0
  requirements/base.txt
Labels: none

fix: Provide more inclusive error handling for saved queries (#27644)
  superset/models/sql_lab.py
  superset/sql_parse.py
  tests/unit_tests/models/sql_lab_test.py
Labels: none

remove artefact
  pyproject.toml
Labels: none

chore(🦾): bump python python-dateutil==2.9.0.post0
  pyproject.toml
  requirements/base.txt
Labels: none

fix: Leverage actual database for rendering Jinjarized SQL (#27646)
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: none
