Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

Fix issue #27463: Mixed time series chart throw error with Elasticsearch backend
  superset/db_engine_specs/elasticsearch.py
Labels: none

Update python version
  .github/actions/setup-backend/action.yml
  Dockerfile
Labels: github_actions

Fix python version
  .github/supersetbot/src/docker.js
  scripts/build_docker.py
Labels: none

Update python-ldap to 3.4.4
  requirements/development.in
  requirements/development.txt
Labels: none

Fix python version
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/no-op.yml
  docker-compose-non-dev.yml
  docker-compose.yml
Labels: github_actions

Fixes CI errors
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/dashboard/types.ts
  superset/databases/api.py
  superset/models/core.py
Labels: api

feat: Adds option to disable drill to detail per database
  docs/static/resources/openapi.json
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/features/databases/types.ts
  superset-frontend/src/features/datasets/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/types/Database.ts
  superset/dashboards/schemas.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/models/core.py
  superset/sqllab/utils.py
  superset/views/database/mixins.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/databases/api_tests.py
Labels: doc, api

Stacked Bar with Time comparison:
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: plugins

Stacked Bar with Time comparison:
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: plugins

change appname
  superset/config.py
Labels: none

remove href
  superset-frontend/src/features/home/Menu.tsx
Labels: none

revert remove href
  superset-frontend/src/features/home/Menu.tsx
  superset/templates/appbuilder/navbar.html
Labels: none

revert last commit'
  superset/templates/appbuilder/navbar.html
Labels: none

update to reflect new sort order
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
Labels: none

adjust type of OrderBy
  superset/common/query_actions.py
  superset/superset_typing.py
Labels: none

implement fix from GH comments
  superset/common/query_actions.py
Labels: none

update test for new sort order
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
Labels: none

actually fix drilling
  superset/common/query_actions.py
Labels: none

remove unnecessary import
  superset/common/query_actions.py
Labels: none

trying to fix this test
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
Labels: none

the prior test had the 2nd name, let's try that
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
Labels: none

revert change where it wasn't needed
  superset/common/query_actions.py
Labels: none

Skips all tests if Hive
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix: Skips Hive tests that are blocking PRs
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix: Skips Hive tests that are blocking PRs (#27605)
  tests/integration_tests/charts/data/api_tests.py
Labels: none

docs: make k8s top item in Installation section (#27540)
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/installation/running-on-kubernetes.mdx
  docs/docs/intro.mdx
Labels: doc

fix(docker): error around missing requirements/base.txt
  Dockerfile
Labels: none

fix(sql_parse): Ensure table extraction handles Jinja templating
  superset/commands/sql_lab/execute.py
  superset/jinja_context.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  superset/sqllab/query_render.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

Adds remaining sections
  RELEASING/release-notes-4-0/README.md
  RELEASING/release-notes-4-0/media/tags-1.png
  RELEASING/release-notes-4-0/media/tags-2.png
Labels: none

Changes tooltip
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
Labels: none

fix(db_engine_specs): Update convert_dttm to work correctly with CrateDB (#27567)
  superset/db_engine_specs/crate.py
  tests/unit_tests/db_engine_specs/test_crate.py
Labels: none

fix 'supersetbot docker' preset argument
  .github/supersetbot/src/cli.js
Labels: none

add fix to supersetbot + unit test
  .github/supersetbot/src/cli.test.js
Labels: none

feat: Adds option to disable drill to detail per database (#27536)
  docs/static/resources/openapi.json
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/features/databases/types.ts
  superset-frontend/src/features/datasets/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/types/Database.ts
  superset/dashboards/schemas.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/models/core.py
  superset/sqllab/utils.py
  superset/views/database/mixins.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/databases/api_tests.py
Labels: doc, api

more tests
  .github/supersetbot/src/cli.test.js
Labels: none

bump supersetbot
  .github/supersetbot/package.json
Labels: none

Skip Hive tests
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix: sqlglot SQL Server
  superset/sql_parse.py
Labels: none

typo
  superset/config.py
Labels: none

chore: clarifying doc comments about LOGO_TARGET_PATH
  superset/config.py
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
