Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

fix(sql-query): Untitled query translation string
  superset-frontend/src/SqlLab/utils/newQueryTabName.ts
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish

fix tests cases that can't read adminRole
  superset-frontend/src/dashboard/util/permissionUtils.ts
Labels: none

Fix tests
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: none

other: Add TechAuditBI to supersetbot metadata.js (#27634)
  .github/supersetbot/src/metadata.js
Labels: none

fix: Pylint errors on master
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/tags/models.py
  superset/utils/core.py
  superset/utils/date_parser.py
  superset/views/chart/mixin.py
  superset/views/database/mixins.py
Labels: none

chore: bump pylint
  requirements/development.in
  requirements/development.txt
Labels: none

chore: bump pylint (#27711)
  requirements/development.in
  requirements/development.txt
Labels: none

Revert "chore: bump pylint (#27711)"
  requirements/development.in
  requirements/development.txt
Labels: none

fix(explore): drag and drop indicator UX (#27558)
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/pages/Chart/Chart.test.tsx
Labels: none

perf(explore): virtualized datasource field sections (#27625)
  superset-frontend/package.json
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Labels: dependencies:npm

fix: Revert "chore: bump pylint (#27711)" (#27714)
  requirements/development.in
  requirements/development.txt
Labels: none

fix: Pylint errors on master (#27710)
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/tags/models.py
  superset/utils/core.py
  superset/utils/date_parser.py
  superset/views/chart/mixin.py
  superset/views/database/mixins.py
Labels: none

fix: make fips compliant by replacing md5 with sha256 in PGDialect
  superset/migrations/shared/utils.py
Labels: risk:db-migration

update type
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
Labels: plugins

Adds value bounds and axis intervals
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
  superset-frontend/src/explore/components/controls/BoundsControl.tsx
Labels: plugins

Adds support for generic chart axis
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
Labels: plugins

feat: Adds the ECharts Heatmap chart
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/Heatmap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: plugins

Adds examples
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/example1.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/example2.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/example3.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
Labels: plugins

Fixes a bug with temporal axis
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
Labels: plugins

Adds rank operation
  superset-frontend/packages/superset-ui-chart-controls/src/operators/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/rankOperator.ts
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
  superset/utils/pandas_postprocessing/__init__.py
  superset/utils/pandas_postprocessing/rank.py
Labels: plugins, packages

Adds sorting
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
Labels: dependencies:npm, plugins

Adds tests to rank operator
  superset-frontend/packages/superset-ui-chart-controls/test/operators/rankOperator.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
Labels: plugins, packages

Moves sorting to server side
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
Labels: plugins

chore(🦾): bump python flask-session 0.5.0 -> 0.8.0
  requirements/base.txt
Labels: none

update tooltip
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/types.ts
Labels: plugins

chore(explore): Hide ineligible metric and column list
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
Labels: none

[IPLT-5638] - integrated dynamic markdown/custom HTML components into superset
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/index.js
  superset-frontend/src/dashboard/components/gridComponents/new/components/NewDynamicMarkdown.jsx
  superset-frontend/src/dashboard/stylesheets/components/demand-app.less
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/dashboard/util/componentTypes.ts
  superset-frontend/src/dashboard/util/constants.ts
  superset-frontend/src/dashboard/util/isValidChild.test.ts
  superset-frontend/src/dashboard/util/isValidChild.ts
  superset-frontend/src/dashboard/util/newComponentFactory.js
Labels: none

chore(🦾): bump python tableschema 1.20.2 -> 1.20.10
  pyproject.toml
  requirements/development.txt
Labels: none

chore(🦾): bump python gevent 23.9.1 -> 24.2.1
  requirements/development.txt
Labels: none

chore(🦾): bump python thrift 0.16.0 -> 0.20.0
  requirements/development.txt
Labels: none

chore(🦾): bump python flask-cors 3.0.10 -> 4.0.0
  requirements/development.txt
Labels: none

chore(🦾): bump python sqlalchemy-bigquery 1.6.1 -> 1.10.0
  requirements/development.txt
Labels: none

chore(🦾): bump python pandas-gbq 0.19.1 -> 0.22.0
  requirements/development.txt
Labels: none

chore(🦾): bump python playwright 1.41.2 -> 1.42.0
  requirements/development.txt
Labels: none

chore(🦾): bump python sqlalchemy-bigquery 1.6.1 -> 1.10.0
  requirements/development.txt
Labels: none

chore(🦾): bump python gevent 23.9.1 -> 24.2.1
  requirements/development.txt
Labels: none

chore(🦾): bump python mysqlclient 2.1.0 -> 2.2.4
  requirements/development.txt
Labels: none

chore(🦾): bump python thrift 0.16.0 -> 0.20.0
  requirements/development.txt
Labels: none

chore(🦾): bump python pydruid 0.6.5 -> 0.6.6
  requirements/development.txt
Labels: none

chore(🦾): bump python tabulate 0.8.9 -> 0.8.10
  requirements/base.txt
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
