Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

Update action.yml
  .github/actions/setup-backend/action.yml
Labels: github_actions

fix(sql_parse): Ensure table extraction handles Jinja templating (#27470)
  superset/commands/sql_lab/execute.py
  superset/jinja_context.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  superset/sqllab/query_render.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

feat: use the local supersetbot
  .github/actions/setup-supersetbot/action.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/issue_creation.yml
  .github/workflows/supersetbot.yml
Labels: github_actions

fix
  .github/actions/setup-supersetbot/action.yml
Labels: github_actions

checkout the repo fist
  .github/actions/setup-supersetbot/action.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/issue_creation.yml
  .github/workflows/supersetbot.yml
Labels: github_actions

Update RefreshIntervalModal.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
Labels: none

no message
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

Rerun
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

fix(Dashboard): Add editMode conditional for translate3d fix on charts to allow intended Fullscreen (#27613)
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
Labels: none

chore(docs): clarifying doc comments about LOGO_TARGET_PATH (#27579)
  superset/config.py
Labels: none

linting
  docs/docs/miscellaneous/country-map-tools.mdx
Labels: doc

capitalization
  docs/docs/miscellaneous/country-map-tools.mdx
Labels: doc

fixing order by
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset/common/query_context_processor.py
  superset/common/utils/query_cache_manager.py
  superset/models/helpers.py
Labels: plugins, packages

feat(bar_chart): Stacked Bar chart with Time comparison in separated stacks (#27589)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: plugins

refactor(accessibility): add Label and MetadataBar tests and update tag element
  superset-frontend/src/components/Label/Label.test.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.test.tsx
  superset-frontend/src/components/Tags/Tag.tsx
Labels: none

Add ut
  tests/integration_tests/core_tests.py
Labels: none

fix: Persist query params appended to permalink
  superset/views/core.py
Labels: api

fix: Persist query params appended to permalink (#27601)
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: api

Bump .asf.yaml
  .asf.yaml
Labels: none

Revert no-op.yml
  .github/workflows/no-op.yml
Labels: github_actions

Add a bunch of no-op checks for Py3.9
  .github/workflows/no-op.yml
Labels: github_actions

Revert 'python_requires' to "~=3.9"
  setup.py
Labels: none

fixing order by
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset/common/query_context_processor.py
  superset/common/utils/query_cache_manager.py
  superset/models/helpers.py
Labels: plugins, packages

fix: sqlglot SQL Server (#27577)
  superset/sql_parse.py
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix(utils): fix off-by-one error in how rolling window's min_periods truncates dataframe (#27388)
  superset/utils/pandas_postprocessing/rolling.py
  tests/unit_tests/pandas_postprocessing/test_rolling.py
Labels: none

fix(Dashboard): Add editMode conditional for translate3d fix on charts to allow intended Fullscreen (#27613)
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
Labels: none

fix: Volatile datasource ordering in dashboard export (#19595)
  superset/models/dashboard.py
Labels: none

fix(sql_parse): Ensure table extraction handles Jinja templating (#27470)
  superset/commands/sql_lab/execute.py
  superset/jinja_context.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  superset/sqllab/query_render.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

fix: sqlglot SQL Server (#27577)
  superset/sql_parse.py
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix: Persist query params appended to permalink (#27601)
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: api

fix: Volatile datasource ordering in dashboard export (#19595)
  superset/models/dashboard.py
Labels: none

fix(Dashboard): Add editMode conditional for translate3d fix on charts to allow intended Fullscreen (#27613)
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
Labels: none

fix(utils): fix off-by-one error in how rolling window's min_periods truncates dataframe (#27388)
  superset/utils/pandas_postprocessing/rolling.py
  tests/unit_tests/pandas_postprocessing/test_rolling.py
Labels: none

fix(sql_parse): Ensure table extraction handles Jinja templating (#27470)
  superset/commands/sql_lab/execute.py
  superset/jinja_context.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  superset/sqllab/query_render.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

fix: Persist query params appended to permalink (#27601)
  superset/models/dashboard.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: api

Not working, but commiting so I don't lose it
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: none

typo
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: none

Squaring up differences with apache/master
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: none

Better typing of values
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: none

Rename variable to be more clear
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
