Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

fix: Skips Hive tests that are blocking PRs (#27605)
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix: guest queries (#27566)
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: none

fix(db_engine_specs): Update convert_dttm to work correctly with CrateDB (#27567)
  superset/db_engine_specs/crate.py
  tests/unit_tests/db_engine_specs/test_crate.py
Labels: none

fix: bump sqlglot to support materialized CTEs (#27576)
  requirements/base.txt
  setup.py
Labels: none

fix: guest queries (#27566)
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: none

fix: Skips Hive tests that are blocking PRs (#27605)
  tests/integration_tests/charts/data/api_tests.py
Labels: none

fix(db_engine_specs): Update convert_dttm to work correctly with CrateDB (#27567)
  superset/db_engine_specs/crate.py
  tests/unit_tests/db_engine_specs/test_crate.py
Labels: none

fix: bump sqlglot to support materialized CTEs (#27576)
  requirements/base.txt
  setup.py
Labels: none

fix(docker): error around missing requirements/base.txt (#27608)
  .github/supersetbot/package.json
  .github/supersetbot/src/cli.js
  .github/supersetbot/src/cli.test.js
  Dockerfile
Labels: none

fix(dashboard,css): center align 'waiting on database'
  superset-frontend/src/components/Chart/Chart.jsx
Labels: none

Stacked Bar with Time comparison:
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Labels: plugins

making it wider
  superset-frontend/src/components/Chart/Chart.jsx
Labels: none

resolved prettier build failed issues for frontend
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: none

Adding AWS S3 feature for Alert/Report Notification Methods(Frontend)
  docker/pythonpath_dev/superset_config.py
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/assets/images/icons/s3.svg
  superset-frontend/src/components/Icons/index.tsx
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/components/RecipientIcon.tsx
  superset-frontend/src/features/alerts/types.ts
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/types.ts
Labels: packages

Adding AWS S3 feature for Alert/Report Notification Methods(Backend)
  superset/commands/report/execute.py
  superset/migrations/versions/2024-01-15_15-19_931022261b3b_added_aws_columns.py
  superset/reports/api.py
  superset/reports/models.py
  superset/reports/notifications/S3.py
  superset/reports/notifications/__init__.py
  superset/reports/notifications/base.py
  superset/reports/schemas.py
  superset/views/base.py
Labels: risk:db-migration, api

Fix snake_case for s3_subtype
  superset/reports/notifications/S3.py
Labels: none

Re-add migration
  superset/migrations/versions/2024-03-20_10-09_13c1c218756f_added_aws_columns.py
Labels: risk:db-migration

fixing lint and prettier issues
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/index.tsx
Labels: packages

Fix pylint issues
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/types.ts
  superset/commands/report/execute.py
  superset/migrations/versions/2024-03-20_11-55_307a065963ec_added_aws_columns.py
  superset/reports/api.py
  superset/reports/models.py
  superset/reports/notifications/S3.py
  superset/reports/notifications/base.py
  superset/reports/schemas.py
Labels: risk:db-migration, api

Remove migration to re-home it
  superset/migrations/versions/2024-01-15_15-19_931022261b3b_added_aws_columns.py
Labels: risk:db-migration

Fix snake_case for aws_configuration
  superset/commands/report/execute.py
  superset/reports/notifications/base.py
  superset/views/base.py
Labels: none

Update snake_case for column name
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/types.ts
  superset/commands/report/execute.py
  superset/reports/api.py
  superset/reports/models.py
  superset/reports/notifications/S3.py
  superset/reports/notifications/base.py
  superset/reports/schemas.py
Labels: api

Add license headers (still need help for S3 icon)
  superset-frontend/src/assets/images/icons/s3.svg
  superset/reports/notifications/S3.py
Labels: none

import fixes
  superset/migrations/versions/2024-03-20_11-55_307a065963ec_added_aws_columns.py
Labels: risk:db-migration

Missed typo on column name
  superset/migrations/versions/2024-03-20_11-55_307a065963ec_added_aws_columns.py
Labels: risk:db-migration

Fix feature flag ID in frontend
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Labels: none

overzealous renaming fixed
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
Labels: none

fix: sqlglot SQL Server (#27577)
  superset/sql_parse.py
  tests/integration_tests/charts/data/api_tests.py
Labels: none

docs: simplify the Quickstart guide
  docs/docs/quickstart.mdx
Labels: doc

num/formating
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/quickstart.mdx
Labels: doc

bold
  docs/docs/quickstart.mdx
Labels: doc

Add editMode conditinal for translate3d fix on charts
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
Labels: none

fix: Volatile datasource ordering in dashboard export (#19595)
  superset/models/dashboard.py
Labels: none

fix(utils): fix off-by-one error in how rolling window's min_periods truncates dataframe (#27388)
  superset/utils/pandas_postprocessing/rolling.py
  tests/unit_tests/pandas_postprocessing/test_rolling.py
Labels: none

chore: rm references to .github/actions/cached-dependencies
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-translations.yml
  .gitmodules
Labels: github_actions

fix structure
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-translations.yml
Labels: github_actions

sourcing bashlib explicitely
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-integrationtest.yml
Labels: github_actions

more sourcing
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-translations.yml
Labels: github_actions

try a thing
  .github/actions/setup-backend/action.yml
Labels: github_actions

try a thing
  .github/actions/setup-backend/action.yml
Labels: github_actions

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
