Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

chore(🤖): bump python markdown==3.6
  requirements/base.txt
Labels: none

chore(🤖): bump python markdown==3.6
  requirements/base.txt
Labels: none

chore(🤖): bump python alembic==1.13.1
  requirements/base.txt
Labels: none

refactor(accessibility): add correct role to dashboard vertical bar icons and update tests
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
Labels: none

chore(🤖): bump python tabulate==0.8.10
  requirements/base.txt
Labels: none

chore(🤖): bump python sqlalchemy==1.4.52
  requirements/base.txt
Labels: none

chore(🤖): bump python nh3==0.2.15
  requirements/base.txt
Labels: none

chore(🤖): bump python flask==2.3.3
  requirements/base.txt
Labels: none

chore(🤖): bump python msgpack==1.0.8
  requirements/base.txt
Labels: none

chore(🤖): bump python flask-talisman==1.1.0
  requirements/base.txt
Labels: none

Added dashboard title translation
  superset-frontend/src/Superstructure/Root/utils.ts
  superset-frontend/src/Superstructure/api/init.ts
  superset-frontend/src/Superstructure/components/DashboardPage.tsx
  superset-frontend/src/dashboard/actions/dashboardLayout.js
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/reducers/dashboardLayout.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/types/Dashboard.ts
Labels: none

chore(🤖): bump python pip-tools==7.4.1
  requirements/development.txt
Labels: none

file issue
  requirements/development.txt
Labels: none

chore: fix master builds + bump python library "cryptography" (#27641)
  requirements/base.txt
Labels: none

Table with Time Comparison:
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/test_models.py
Labels: none

add get_extra_params to DuckDBEngineSpec
  superset/db_engine_specs/duckdb.py
Labels: none

Implement submenus navigation
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Menu/index.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/dashboard/types.ts
Labels: none

chore(🤖): bump python "sqlalchemy==1.4.52" (#27655)
  requirements/base.txt
Labels: none

update sqlalchemy_uri_placeholder
  superset/db_engine_specs/duckdb.py
Labels: none

deprecate flask._app_ctx_stack push and pop
  tests/integration_tests/celery_tests.py
Labels: none

update variable names
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: plugins

updated style
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: plugins

feat(time-comparison-table): implement comparison columns dropdown
  superset-frontend/packages/superset-ui-chart-controls/src/components/Dropdown.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/components/Menu.tsx
  superset-frontend/plugins/plugin-chart-table/package.json
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: dependencies:npm, plugins, packages

expand and collapse all time comparison columns
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: plugins

rename method name
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
Labels: none

another try
  tests/integration_tests/celery_tests.py
Labels: none

fix(Chart Annotation modal): Table and Superset annotation options will paginate, exceeding previous max limit 100 (#27022)
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

fix(explore): drag and drop indicator UX
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

fix unavailable sorting issue
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
Labels: none

hide dropzone while loading
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

loading indicator for verifying values
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

use theme variable
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

change loading pulse animation
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

tsc
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: none

missing useDnd by ExploreContainer
  superset-frontend/src/pages/Chart/Chart.test.tsx
Labels: none

more testing
  tests/integration_tests/celery_tests.py
Labels: none

mssing import
  tests/integration_tests/celery_tests.py
Labels: none

make user agent lowercase and replace spaces with dashes
  superset/db_engine_specs/duckdb.py
Labels: none

fix: Provide more inclusive error handling for saved queries
  superset/models/sql_lab.py
  superset/sql_parse.py
  tests/unit_tests/models/sql_lab_test.py
Labels: none

fix(sqllab): unable to remove table (#27636)
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
