Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'

Table with Time Comparison:
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset/charts/schemas.py
  superset/common/query_object.py
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/test_models.py
  tests/unit_tests/queries/query_object_test.py
Labels: plugins, packages

refactor(plugins): Time Comparison Utils
  superset-frontend/packages/superset-ui-core/src/index.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/packages/superset-ui-core/src/time-comparison/README.md
  superset-frontend/packages/superset-ui-core/src/time-comparison/getComparisonFilters.ts
  superset-frontend/packages/superset-ui-core/src/time-comparison/getComparisonInfo.ts
  superset-frontend/packages/superset-ui-core/src/time-comparison/index.ts
  superset-frontend/packages/superset-ui-core/src/time-comparison/types.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateTimeComparisonRangeValues.ts
  superset-frontend/packages/superset-ui-core/test/time-comparison/getComparisonFilters.test.ts
  superset-frontend/packages/superset-ui-core/test/time-comparison/getComparisonInfo.test.ts
  superset-frontend/packages/superset-ui-core/test/time-comparison/index.test.ts
  superset-frontend/packages/superset-ui-core/test/validator/validateTimeComparisonRangeValues.test.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/buildQuery.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/controlPanel.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/utils.ts
  superset/charts/schemas.py
  superset/common/utils/time_range_utils.py
  superset/constants.py
  superset/utils/date_parser.py
  tests/unit_tests/utils/date_parser_tests.py
Labels: plugins, packages

Table with Time Comparison:
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: plugins

Table with Time Comparison:
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/consts.ts
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
Labels: plugins

Table with Time Comparison:
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: plugins

Table with Time Comparison:
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
  superset-frontend/plugins/plugin-chart-table/src/utils/isEqualColumns.ts
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
  superset/charts/schemas.py
  superset/common/query_context_processor.py
  superset/common/query_object.py
  superset/connectors/sqla/models.py
  superset/constants.py
  tests/unit_tests/connectors/__init__.py
  tests/unit_tests/connectors/test_models.py
  tests/unit_tests/queries/query_object_test.py
Labels: plugins, packages

Table with Time Comparison:
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
Labels: plugins

Table with Time Comparison:
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: plugins

Table with Time Comparison:
  superset/connectors/sqla/models.py
Labels: none

Table with Time Comparison:
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/test_models.py
Labels: none

Fix fetchAppliedChart logic, value type, is working
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Fix eslint errors
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Edit valueOptions to object
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Edit A-Layer work for ephemeral test
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Add or modify tests
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

Rename arg to avoid eslint error
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Reduce fetched columns, separate slice fetch, change valueOptions
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Split functions, add new fetches, add search
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Fix eslint errors
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Cleanse comments
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Remove unnecessary return, remove initial state valueOptions
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Fix check for lifecycle change, fix test
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

Edit func name, apply default placeholder
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Add test for fetchAppliedChart call via a fetchMock
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

Modify flaky test
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

Edit asyncfetch, handlevalue, fetchappliedchart
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Split handleValue, fix render glitch, clean
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Refactor query for slice and appliedChart
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Remove valueOptions initilization
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Fix eslint error
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Correct mistaken state deletion
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Init valueOptions in state again, fix tests
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
Labels: none

Add comment
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Refactor to remove valueOptions, handle value object in state
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Fix applied value
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

Refactor valueOptions again
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: none

fix(sqllab): unable to remove table
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: none

adressing comments
  docs/docs/quickstart.mdx
Labels: doc

typo
  docs/docs/quickstart.mdx
Labels: doc

refactor(accessibility): remove unnecessary role="button" Icon changes
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/components/Icons/Icon.tsx
Labels: none
