Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

Better variable typing
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: none

Fix PY 3.11 docker image
  scripts/build_docker.py
Labels: none

fixing log_prune to commit log deletions
  superset/commands/report/log_prune.py
Labels: none

feat: support for KQL in SQLQuery
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

Update changeCssTemplate to match MenuClickEventHandler type
  superset-frontend/src/dashboard/components/CssEditor/index.tsx
Labels: none

Add explicit test for split_kql
  tests/unit_tests/sql_parse_tests.py
Labels: none

Add an entry on ./UPDATING.md
  UPDATING.md
Labels: none

feat: support for KQL in `SQLScript` (#27522)
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: none

re-working submenus
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: none

feat(alerts-reports): adding pdf filetype to email and slack reports (#27497)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/commands/report/exceptions.py
  superset/commands/report/execute.py
  superset/reports/models.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/reports/schemas.py
  superset/utils/core.py
  superset/utils/pdf.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
Labels: none

submenus are kinda working
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
Labels: none

address whitespace for linting
  superset-frontend/src/features/reports/ReportModal/index.tsx
Labels: none

adding unit test for no threshold value when not null is selected
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Labels: none

fix(AlertReports): clearing custom_width when disabled (#27551)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

refactor: Migrate CopyToClipboard to typescript (#27309)
  superset-frontend/src/components/CopyToClipboard/index.tsx
Labels: none

perf(explore): virtualized datasource field sections
  superset-frontend/package.json
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Labels: dependencies:npm

use theme
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
Labels: none

fix(dashboard,css): center align 'waiting on database' (#27611)
  superset-frontend/src/components/Chart/Chart.jsx
Labels: none

docs: updates list of countries in country-map-tools.mdx (#27596)
  docs/docs/miscellaneous/country-map-tools.mdx
Labels: doc

chore: replace "dashboard" -> "report" in chart email report modal (#25540)
  superset-frontend/src/features/reports/ReportModal/index.tsx
Labels: none

Refactor with helpers
  superset-frontend/src/features/home/ActivityTable.test.tsx
Labels: none

Replace userEvent with fireEvent
  superset-frontend/src/features/home/ActivityTable.test.tsx
Labels: none

Miigrate ActivityTable.test to RTL
  superset-frontend/src/features/home/ActivityTable.test.tsx
Labels: none

Refactor test to avoid fetch, change to userEvent
  superset-frontend/src/features/home/ActivityTable.test.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
Labels: none

Align tests with best practices
  superset-frontend/src/features/home/ActivityTable.test.tsx
Labels: none

test(Migration to RTL): Refactor ActivityTable.test.tsx from Enzyme to RTL (#27422)
  superset-frontend/src/features/home/ActivityTable.test.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
Labels: none

Implementing PR feedback
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: none

refactor(accessibility): add crossfilter tag test for role="button"
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.test.tsx
Labels: none

refactor(accessibility): remove unnecessary role="button"
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ChartsScopingListPanel.tsx
Labels: none

remove unnecessary role="button" from dashboard collapsed bar
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
Labels: none

refactor(accessiblity): remove unnecessary role="button" from SqlLab Fade
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
Labels: none

formatting changes
  superset/common/query_context_processor.py
Labels: none

test: del console.log
  superset-frontend/webpack.config.js
Labels: none

Add TechAuditBI to metadata.js
  .github/supersetbot/src/metadata.js
Labels: none

feat(jinja): metric macro (#27582)
  docs/docs/installation/sql-templating.mdx
  superset/jinja_context.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/test_jinja_context.py
Labels: doc

feat: use the local supersetbot (#27615)
  .github/actions/setup-supersetbot/action.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/issue_creation.yml
  .github/workflows/supersetbot.yml
Labels: github_actions

Update metadata.js
  .github/supersetbot/src/metadata.js
Labels: none

Apply suggestions from code review
  RELEASING/release-notes-4-0/README.md
Labels: none

refactor: Migrate CssEditor to typescript (#27498)
  superset-frontend/src/dashboard/components/CssEditor/index.tsx
Labels: none

fix(AlertReports): defaulting grace period to undefined (#27552)
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
