Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'

Fix tests
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useChildElementTruncation.test.ts
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useChildElementTruncation.ts
Labels: packages

Open dashboard in the same tab
  superset-frontend/src/components/ListView/CrossLinks.tsx
Labels: none

Improve coverage
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useChildElementTruncation.test.ts
Labels: packages

fix: useTruncation infinite loop, reenable dashboard cross links on ChartList
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useChildElementTruncation.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/TruncatedList/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/NameRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/ScopeRow.tsx
  superset-frontend/src/pages/ChartList/index.tsx
Labels: packages

Reenable cypress tests
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
Labels: none

Add license
  superset-frontend/src/components/ListView/DashboardCrossLinks.tsx
Labels: none

Adds review suggestion
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.tsx
Labels: none

fix: Removes filter plugins from viz gallery
  superset-frontend/src/constants.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: none

fix: Removes filter plugins from viz gallery (#27763)
  superset-frontend/src/constants.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: none

fix: Select onChange is fired when the same item is selected in single mode (#27706)
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.tsx
Labels: none

persisting legend index
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Labels: plugins, packages

revert for legend scroll
  superset/common/query_context_processor.py
Labels: none

Revert for legend scroll
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Labels: plugins

chore(docs): Cleanup UPDATING.md
  UPDATING.md
Labels: none

chore(explore): Hide ineligible metric and column list
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
Labels: none

feat: Adds the ECharts Heatmap chart (#25353)
  superset-frontend/packages/superset-ui-chart-controls/src/operators/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/rankOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/rankOperator.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/Heatmap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/example1.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/example2.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/example3.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/src/explore/components/controls/BoundsControl.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/utils/pandas_postprocessing/__init__.py
  superset/utils/pandas_postprocessing/rank.py
Labels: dependencies:npm, plugins, packages
