Repository apache/superset, changes with the labels that .github/labeler.yml gives for each.
All labels: risk:db-migration, dependencies:python, dependencies:npm, doc, api, i18n, i18n:brazilian, i18n:chinese, i18n:dutch, i18n:french, i18n:italian, i18n:japanese, i18n:korean, i18n:portuguese, i18n:russian, i18n:slovak, i18n:ukrainian, i18n:spanish, plugins, packages, embedded, github_actions

chore(🦾): bump python selenium 3.141.0 -> 4.9.1
  requirements/base.txt
Labels: none

chore(🦾): bump python mako 1.2.4 -> 1.3.2
  requirements/base.txt
Labels: none

chore(🦾): bump python python-dateutil 2.8.2 -> 2.9.0.post0
  requirements/base.txt
Labels: none

chore(🦾): bump python pyjwt 2.4.0 -> 2.8.0
  requirements/base.txt
Labels: none

chore(🦾): bump python flask-compress 1.13 -> 1.14
  requirements/base.txt
Labels: none

chore(🦾): bump python click-option-group 0.5.5 -> 0.5.6
  requirements/base.txt
Labels: none

chore(🦾): bump python typing-extensions 4.4.0 -> 4.10.0
  requirements/base.txt
Labels: none

reduce alert error to warning
  superset/commands/report/alert.py
Labels: none

chore(🦾): bump python tableschema 1.20.2 -> 1.20.10
  requirements/development.txt
Labels: none

fixin'
  requirements/base.txt
  requirements/development.txt
Labels: none

chore(🦾): bump python google-cloud-bigquery 3.10.0 -> 3.20.0
  requirements/development.txt
Labels: none

chore(🦾): bump python simplejson 3.17.3 -> 3.19.2
  requirements/base.txt
Labels: none

chore(🦾): bump python python-dotenv 0.19.0 -> 1.0.1
  requirements/base.txt
Labels: none

chore(🦾): bump python flask-session==0.8.0
  requirements/base.txt
Labels: none

deprecating SESSION_USE_SIGNER
  UPDATING.md
  superset/config.py
Labels: none

[hotfix] - reverted sidepanel width
  superset-frontend/src/dashboard/stylesheets/dashboard.less
Labels: none

try noqa
  superset/config.py
Labels: none

port
  docs/docs/quickstart.mdx
Labels: doc

chore(🦾): bump python flask-talisman 1.0.0 -> 1.1.0
  requirements/base.txt
Labels: none

chore(🦾): bump python flask-cors 3.0.10 -> 4.0.0
  requirements/development.txt
Labels: none

chore(🦾): bump python sqlglot 23.0.2 -> 23.2.0
  requirements/base.txt
Labels: none

chore(🦾): bump python packaging 23.1 -> 23.2
  requirements/base.txt
Labels: none

chore(🦾): bump python cron-descriptor 1.2.24 -> 1.4.3
  requirements/base.txt
Labels: none

chore(🦾): bump python google-cloud-bigquery 3.10.0 -> 3.20.0
  requirements/development.txt
Labels: none

chore(🦾): bump python humanize 3.11.0 -> 4.9.0
  requirements/base.txt
Labels: none

chore(🦾): bump python python-dotenv 0.19.0 -> 1.0.1
  requirements/base.txt
Labels: none

fix: reduce alert error to warning (#27744)
  superset/commands/report/alert.py
Labels: none

chore(sqllab): Do not strip comments when executing SQL statements
  superset/sql_lab.py
  tests/integration_tests/sqllab_tests.py
Labels: none

Добавил в метод api/v1/dashboard/<id or slug>/copy/ новое поле для валидации dashboard_title_RU
  superset/dashboards/schemas.py
Labels: none

chore(🦾): bump python xlsxwriter 3.0.7 -> 3.0.9
  requirements/base.txt
Labels: none

chore(🦾): bump python selenium 3.141.0 -> 4.9.1
  requirements/base.txt
Labels: none

chore(🦾): bump python pandas-gbq 0.19.1 -> 0.22.0
  requirements/development.txt
Labels: none

chore(🦾): bump python simplejson 3.17.3 -> 3.19.2
  requirements/base.txt
Labels: none

chore(🦾): bump python thrift 0.16.0 -> 0.20.0
  requirements/development.txt
Labels: none

fix: reduce alert error to warning (#27744)
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartActions.test.js
  superset/commands/report/alert.py
Labels: none

fix(explore): drag and drop indicator UX (#27558)
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/pages/Chart/Chart.test.tsx
Labels: none

perf(explore): virtualized datasource field sections (#27625)
  superset-frontend/package.json
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Labels: dependencies:npm

fix: reduce alert error to warning (#27744)
  superset/commands/report/alert.py
Labels: none

Adds Explore dnd
  RELEASING/release-notes-4-0/README.md
  RELEASING/release-notes-4-0/media/explore-dnd.png
Labels: none

Move DashboardCrossLinks to separate file
  superset-frontend/src/components/ListView/DashboardCrossLinks.tsx
  superset-frontend/src/pages/ChartList/index.tsx
Labels: none

.github/labeler.yml:

# TODO (if we can)
# - Label PRs in need of codeowner review
# - viz:charts:xyz labels
# â€“ component/design system areas
# - storybook(s)
# - f/e and b/e test changes?
# - product areas (SQL Lab, Explore, Dashboard, etc.)
# - database areas (SQLAlchemy, labelind DBs by driver, etc.)

############################################
# General workflow warnings
# full list of labels is here: https://github.com/apache/superset/labels
############################################

"risk:db-migration":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/migrations/**'

############################################
# Dependencies
############################################

"dependencies:python":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/requirements/**'
    - 'superset/translations/requirements.txt'
    - 'RELEASING/requirements.txt'

"dependencies:npm":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/package.json'
    - 'superset-frontend/package-lock.json'
    - 'superset-embedded-sdk/package.json'
    - 'superset-embedded-sdk/package-lock.json'
    - 'superset-websocket/package.json'
    - 'superset-websocket/package-lock.json'
    - 'superset-frontend/cypress-base/package.json'
    - 'superset-frontend/cypress-base/package-lock.json'
    - 'superset-frontend/packages/**/package.json'
    - 'superset-frontend/plugins/**/package.json'

############################################
# Areas of the main codebase
############################################

"doc":
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'

"api":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/**/api.py'
    - 'superset/views/core.py'

"i18n":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/**'

"i18n:brazilian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt_BR/**'

"i18n:chinese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/zh/**'

"i18n:dutch":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/nl/**'

"i18n:french":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/fr/**'

"i18n:italian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/it/**'

"i18n:japanese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ja/**'

"i18n:korean":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ko/**'

"i18n:portuguese":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/pt/**'

"i18n:russian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/ru/**'

"i18n:slovak":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/sk/**'

"i18n:ukrainian":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/uk/**'

"i18n:spanish":
- changed-files:
  - any-glob-to-any-file:
    - 'superset/translations/es/**'

############################################
# Sub-projects and monorepo packages
############################################

"plugins":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/plugins/**'

"packages":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-frontend/packages/**'

"embedded":
- changed-files:
  - any-glob-to-any-file:
    - 'superset-embedded-sdk/**'

"github_actions":
- changed-files:
  - any-glob-to-any-file:
    - '.github/actions/**'
    - '.github/workflows/**'
