Repository apache/superset, pull requests merged in 2018-11, with the labels that each got.

#6378 [migration]clean up __from and __to in dashboard json_metadata
  superset/migrations/versions/4ce8df208545_migrate_time_range_for_default_filters.py
Labels: db_migration, target:0.29

#6399 Fix adhoc metrics in Polygon
  superset/assets/spec/javascripts/visualizations/deckgl/utils_spec.js
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/visualizations/deckgl/layers/Polygon/Polygon.jsx
  superset/assets/src/visualizations/deckgl/layers/common.jsx
  superset/assets/src/visualizations/deckgl/utils.js
Labels: target:0.29

#6405 [fix] view results in sql lab
  superset/assets/src/SqlLab/components/ResultSet.jsx
Labels: target:0.29

#6365 [bugfix] deckgl legend is not interactive
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
Labels: target:0.29

#6422 [logging] Add render failure error into log
  superset/assets/src/chart/Chart.jsx
Labels: target:0.29

#6443 Remove coordinator in Druid Cluster config (#5164)
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/migrations/versions/46f444d8b9b7_remove_coordinator_from_druid_cluster_.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/pt/LC_MESSAGES/message.po
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
  tests/druid_tests.py
Labels: db_migration

#6438 [fix] edit chart title cause JS error
  superset/assets/src/dashboard/actions/datasources.js
  superset/assets/src/explore/components/ExploreChartHeader.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
Labels: target:0.30

#4961 Deprecate database attribute allow_run_sync
  superset/assets/spec/javascripts/sqllab/fixtures.js
  superset/assets/src/SqlLab/components/RunQueryActionButton.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/migrations/versions/46f444d8b9b7_remove_coordinator_from_druid_cluster_.py
  superset/migrations/versions/a61b40f9f57f_remove_allow_run_sync.py
  superset/models/core.py
  superset/utils/core.py
  superset/views/core.py
Labels: db_migration

#6465 Fixing error when clearing big number metric
  superset/assets/src/visualizations/BigNumber/transformProps.js
Labels: #bug, easy-review, reviewable

#6423 [SIP-5] Build metrics in query_object in the client
  superset/assets/package.json
  superset/assets/spec/javascripts/superset-ui/Metric.test.ts
  superset/assets/spec/javascripts/superset-ui/buildQueryObject.test.ts
  superset/assets/src/query/Column.ts
  superset/assets/src/query/FormData.ts
  superset/assets/src/query/Metric.ts
  superset/assets/src/query/buildQueryObject.ts
  superset/common/query_object.py
Labels: #code-quality

#6464 Update `@superset-ui/colors`
  superset/assets/package.json
  superset/assets/spec/javascripts/explore/components/ColorPickerControl_spec.jsx
  superset/assets/src/setup/setupColors.js
  superset/assets/src/visualizations/Chord/Chord.js
  superset/assets/src/visualizations/Histogram/Histogram.jsx
  superset/assets/src/visualizations/Partition/Partition.js
  superset/assets/src/visualizations/Rose/Rose.js
  superset/assets/src/visualizations/Sankey/Sankey.js
  superset/assets/src/visualizations/Sunburst/Sunburst.js
  superset/assets/src/visualizations/Treemap/Treemap.js
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
  superset/assets/src/visualizations/deckgl/utils.js
  superset/assets/src/visualizations/nvd3/NVD3Vis.js
  superset/assets/src/visualizations/wordcloud/WordCloud.js
  superset/assets/yarn.lock
Labels: #code-quality, reviewable

#5039 [Ready]Allow domain-sharding option for dashboard
  docs/installation.rst
  superset/assets/spec/javascripts/explore/utils_spec.jsx
  superset/assets/src/chart/chartAction.js
  superset/assets/src/explore/exploreUtils.js
  superset/assets/src/utils/hostNamesConfig.js
  superset/config.py
  superset/views/base.py
Labels: v0.30
