Repository apache/superset, pull requests merged in 2019-03, with the labels that each got.

#6965 Exclude venv for python linter to ignore
  tox.ini
Labels: .dev-env, minor-review, review

#6971 [csv-upload] Fixing message encoding
  superset/views/core.py
Labels: #bug

#6968 [date-filter] Adding minus infinity
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
Labels: #refine

#6962 Enhancement of query context and object.
  superset/common/query_context.py
  superset/common/query_object.py
  superset/views/api.py
Labels: #feature

#6857 auto-set 'Is Temporal' to true where column_name == '__time'
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
  tests/sqla_models_tests.py
Labels: #bug, .backend

#6859 [dashboard editor] use the theme's btn-primary
  superset/assets/src/dashboard/stylesheets/builder.less
Labels: #refine, .css, design-review

#6963 [sql-parse] Fixing parsing LIMIT exceptions
  superset/sql_parse.py
  tests/db_engine_specs_test.py
Labels: #bug

#6849 Sort Chart Types based on Usage
  superset/assets/src/explore/components/controls/VizTypeControl.jsx
Labels: #feature

#6925 [docs] warn that docker installation instructions are `contrib/`
  docs/installation.rst
Labels: #documentation, minor-review

#6956 Adding custom control overrides
  superset/assets/src/explore/components/controls/MetricsControl.jsx
  superset/assets/src/explore/controlPanels/extraOverrides.js
  superset/assets/src/explore/controlPanels/index.js
Labels: #feature

#6982 refactor: bump @superset-ui versions
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/components/AsyncSelect.jsx
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
  superset/assets/src/components/TableLoader.jsx
  superset/assets/src/modules/utils.js
  superset/assets/src/modules/visUtils.js
  superset/assets/src/setup/setupFormatters.js
  superset/assets/src/visualizations/TimeTable/SparklineCell.jsx
Labels: #feature, review

#7002 Split tags migration
  superset/migrations/versions/c82ee8a39623_add_implicit_tags.py
Labels: #bug, review, v0.31

#7020 bug: fix timetable viz tooltip time format
  superset/assets/src/visualizations/TimeTable/TimeTable.jsx
Labels: #bug, minor-review, review

#7021 Fix the white background shown in SQL editor on drag
  superset/assets/src/SqlLab/main.less
Labels: #bug, minor-review, review

#6979 Show tooltip with time frame
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
Labels: #refine, .js, lyft, minor-review

#6978 Fix time filter control
  superset/assets/src/explore/controls.jsx
Labels: #bug, .js, lyft, minor-review, review

#7027 fix user specified JSON metadata not updating dashboard on refresh
  superset/views/core.py
Labels: #bug, minor-review, review, v0.31

#7034 fix(critical-vulnerability) Fixed Unexpected unknown type selector "=" reported by SonarQube
  superset/assets/src/CRUD/styles.css
Labels: #bug

#7029 [sqlparse] Fixing table name extraction for ill-defined query
  superset/sql_parse.py
  tests/sql_parse_tests.py
Labels: #bug

#6993 Fix groupable only columns populating in filters
  superset/assets/src/explore/controls.jsx
Labels: #bug, .ui

#6821 User can turn off download - export csv from a dashboard
  superset/assets/spec/javascripts/dashboard/components/gridComponents/Chart_spec.jsx
  superset/assets/src/dashboard/components/SliceHeader.jsx
  superset/assets/src/dashboard/components/SliceHeaderControls.jsx
  superset/assets/src/dashboard/components/gridComponents/Chart.jsx
  superset/assets/src/dashboard/containers/Chart.jsx
  superset/assets/src/dashboard/reducers/getInitialState.js
  superset/views/core.py
Labels: #feature, review

#7009 Fix issues around Database permissions
  superset/security.py
  superset/views/core.py
Labels: #bug

#7040 [fix] Use HTTPS, not HTTP wherever practical
  CONTRIBUTING.md
  README.md
  RELEASING.md
  docs/Makefile
  docs/faq.rst
  docs/installation.rst
  docs/security.rst
  docs/visualization.rst
  scripts/check_license.sh
  setup.py
  superset/assets/package.json
  superset/assets/spec/javascripts/sqllab/Link_spec.jsx
  superset/assets/src/SqlLab/components/TemplateParamsEditor.jsx
  superset/assets/src/addSlice/AddSliceContainer.jsx
  superset/assets/src/modules/geo.js
  superset/config.py
  superset/data/countries.md
  superset/db_engine_specs.py
  superset/extract_table_names.py
  superset/migrations/env.py
  superset/views/core.py
Labels: #documentation

#7037 [datasource] Ensuring consistent behavior of datasource editing/saving.
  superset/views/datasource.py
Labels: #refine

#7028 Feature: Adding warning message for sqllab save query
  superset/assets/src/SqlLab/components/SaveQuery.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/config.py
  superset/views/base.py
Labels: #feature, .SQLLab

#7051 feat: bump superset-ui-plugins to v0.10.2
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: #feature, .vis

#6938 Add Bulgaria map to superset-ui-legacy-plugin-chart-country-map
  superset/assets/backendSync.json
  superset/assets/src/explore/controls.jsx
Labels: #feature

#7012 [docs] fix RST issues/warnings while building docs
  docs/installation.rst
Labels: #documentation

#7003 feat: improvements to "big number" visualization
  superset/assets/backendSync.json
  superset/assets/src/explore/controlPanels/BigNumber.js
  superset/assets/src/explore/controlPanels/BigNumberTotal.js
  superset/assets/src/explore/controls.jsx
Labels: #feature, .vis

#7050 fix: search for visualizations with case-insensitive keyword
  superset/assets/src/explore/components/controls/VizTypeControl.jsx
Labels: #bug

#7065 docs: add hostnfly to company list
  README.md
Labels: #documentation, minor-review

#7062 Improve handling of bytes data
  superset/utils/core.py
Labels: #refine

#7060 [tox] Enforcing consistent ordering
  tox.ini
Labels: #code-quality

#7052 feat: allow LIMIT to be specified in parameters
  superset/views/core.py
Labels: #enhancement

#4905 [missing values] Reverting replacing missing values with zeros
  superset/assets/backendSync.json
  superset/assets/src/explore/controls.jsx
  superset/common/query_context.py
  superset/viz.py
  tests/core_tests.py
  tests/viz_tests.py
Labels: #bug

#7066 Fix filter_box migration PR #6523
  superset/connectors/druid/models.py
  superset/migrations/versions/fb13d49b72f9_better_filters.py
  tests/migration_tests.py
Labels: #bug, v0.31

#5835 [bugfix] throw "TypeError: 'NoneType'..." when save chart to dash
  superset/views/core.py
Labels: #bug

#5741 [Dashboard] Keeping refresh frequency value in Dashboard
  superset/assets/spec/javascripts/dashboard/components/RefreshIntervalModal_spec.jsx
  superset/assets/src/dashboard/actions/dashboardState.js
  superset/assets/src/dashboard/components/Header.jsx
  superset/assets/src/dashboard/components/HeaderActionsDropdown.jsx
  superset/assets/src/dashboard/components/RefreshIntervalModal.jsx
  superset/assets/src/dashboard/components/SaveModal.jsx
  superset/assets/src/dashboard/containers/DashboardHeader.jsx
  superset/assets/src/dashboard/reducers/dashboardState.js
  superset/assets/src/dashboard/reducers/getInitialState.js
  superset/views/core.py
Labels: review

#7063 [fix] handle null column_name in druid/sqla models
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
Labels: #bug, v0.31

#7053 [mypy] Adding mypy type checking
  .travis.yml
  CONTRIBUTING.md
  requirements-dev.txt
  superset/common/query_context.py
  superset/common/query_object.py
  superset/utils/core.py
Labels: #code-quality

#7078 [forms] Fix handling of NULLs for chart or dashboard name
  superset/models/core.py
  superset/views/core.py
Labels: #bug, v0.31

#7102 SQL editor layout makeover
  superset/assets/cypress/integration/sqllab/tabs.js
  superset/assets/package-lock.json
  superset/assets/src/SqlLab/components/App.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/SqlLab/components/SouthPane.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
  superset/assets/src/components/FilterableTable/FilterableTableStyles.css
  superset/assets/src/components/TableSelector.css
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/assets/stylesheets/less/index.less
  superset/assets/stylesheets/superset.less
  superset/templates/superset/basic.html
Labels: #bug, .SQLLab, .js, review

#6795 Add HTTP Basic Auth for Druid (Issue #4776)
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/migrations/versions/45e7da7cfeba_.py
  superset/migrations/versions/e553e78e90c5_add_druid_auth_py_py.py
Labels: #enhancement, .security, risk:db-migration

#7054 Scripts & instructions to craft official Apache source releases
  .gitignore
  INSTALL.txt
  RELEASING.md
  scripts/sign.sh
Labels: #ASF

#7132 Bump python lib croniter to an existing version
  requirements.txt
  setup.py
Labels: minor-review, review

#7103 [docs] CONTRIBUTING.md - how to setup SQL Lab in async mode
  CONTRIBUTING.md
Labels: #documentation

#7111 [SQL Lab] Avoid closing save query modal on backdrop click
  superset/assets/src/SqlLab/components/SaveQuery.jsx
  superset/assets/src/components/ModalTrigger.jsx
Labels: #bug, .SQLLab

#7115 [setup] Updating extra requires
  setup.py
Labels: #code-quality, .python

#7118 [core] Fixed the Superset logo link when logged out
  superset/templates/appbuilder/navbar.html
Labels: #bug

#7104 [bugfix] SQL Lab 'Filter Results' doesn't stick
  superset/assets/src/SqlLab/components/ResultSet.jsx
Labels: #bug, .SQLLab

#7144 [migration] Fixing issue with c82ee8a39623 downgrade
  superset/migrations/versions/c82ee8a39623_add_implicit_tags.py
Labels: #bug, v0.31

#7145 [migration] Fixing issue with fb13d49b72f9 downgrade
  superset/migrations/versions/fb13d49b72f9_better_filters.py
Labels: #bug, v0.31

#7162 Revert PR #6933
  superset/views/core.py
Labels: lyft

#7158 docs: add cloudsmith to company list
  README.md
Labels: #documentation

#7135 [Lyft-GA] Enable color consistency in a dashboard
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset/assets/spec/javascripts/dashboard/components/Header_spec.jsx
  superset/assets/spec/javascripts/dashboard/fixtures/mockDashboardState.js
  superset/assets/spec/javascripts/dashboard/reducers/dashboardState_spec.js
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/dashboard/actions/dashboardLayout.js
  superset/assets/src/dashboard/actions/dashboardState.js
  superset/assets/src/dashboard/components/BuilderComponentPane.jsx
  superset/assets/src/dashboard/components/ColorComponentPane.jsx
  superset/assets/src/dashboard/components/DashboardBuilder.jsx
  superset/assets/src/dashboard/components/Header.jsx
  superset/assets/src/dashboard/components/HeaderActionsDropdown.jsx
  superset/assets/src/dashboard/components/InsertComponentPane.jsx
  superset/assets/src/dashboard/components/SaveModal.jsx
  superset/assets/src/dashboard/containers/Chart.jsx
  superset/assets/src/dashboard/containers/DashboardBuilder.jsx
  superset/assets/src/dashboard/containers/DashboardHeader.jsx
  superset/assets/src/dashboard/reducers/dashboardState.js
  superset/assets/src/dashboard/reducers/getInitialState.js
  superset/assets/src/dashboard/stylesheets/builder-sidepane.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/util/charts/getFormDataWithExtraFilters.js
  superset/assets/src/dashboard/util/constants.js
  superset/assets/src/dashboard/util/propShapes.jsx
  superset/assets/src/explore/components/controls/ColorSchemeControl.jsx
  superset/views/core.py
  tests/dashboard_tests.py
Labels: #enhancement, .dashboard, lyft, review, risk:many-files

#7168 Fix double scroll bars when content of sql result table overflows horizontally
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: .SQLLab, .js, lyft, review

#7120 [SQL Lab] Show tooltip on schema and table select options
  superset/assets/src/components/TableSelector.jsx
Labels: #enhancement, .SQLLab, lyft, review
