Repository apache/superset, pull requests merged in 2019-05, with the labels that each got.

#7415 Incorporate feedback from initial PR (prematurely merged to lyft-release-sp8)
  superset/db_engine_specs.py
  superset/models/sql_types/__init__.py
  superset/models/sql_types/presto_sql_types.py
Labels: need:more-info, size/S

#7413 feature: see Presto row and array data types
  superset/db_engine_specs.py
  superset/models/core.py
  superset/models/sql_types/__init__.py
  superset/models/sql_types/presto_sql_types.py
  tests/db_engine_specs_test.py
Labels: size/L

#7421 Removed --console-log and superset runserver
  CONTRIBUTING.md
  requirements-dev.txt
  setup.py
  superset/cli.py
Labels: size/L

#7427 Fixes dashboard export button broken download
  superset/templates/superset/export_dashboards.html
Labels: size/S

#6604 Added additional German translations to string file
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.mo
  superset/translations/de/LC_MESSAGES/messages.po
Labels: #enhancement, .i18n, review

#7374 [fix] Fixing SQL parsing issue
  superset/sql_parse.py
  tests/sql_parse_tests.py
Labels: #bug, size/M

#7434 Quick fix to address deadlock issue
  superset/__init__.py
Labels: size/S

#7442 Workaround for no results returned
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
Labels: size/S

#7436 feat: view presto row objects in data grid
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
  superset/assets/src/components/FilterableTable/FilterableTableStyles.css
  superset/db_engine_specs.py
  tests/db_engine_specs_test.py
Labels: size/L

#7416 feat: Scheduling queries from SQL Lab
  docs/installation.rst
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/SqlLab/components/ScheduleQueryButton.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/featureFlags.ts
  superset/views/sql_lab.py
Labels: #SIP, #enhancement, .SQLLab, .css, .js, lyft, review, size/L

#7422 Add `validate_sql_json` endpoint for checking that a given sql query is valid for the chosen database
  docs/installation.rst
  superset/config.py
  superset/sql_validators/__init__.py
  superset/sql_validators/base.py
  superset/sql_validators/presto_db.py
  superset/views/core.py
  tests/base_tests.py
  tests/sql_validator_tests.py
Labels: size/XL

#7445 feat: view presto row objects in data grid
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
  superset/assets/src/components/FilterableTable/FilterableTableStyles.css
  superset/db_engine_specs.py
  tests/db_engine_specs_test.py
Labels: size/L

#7462 feat: Add `validate_sql_json` endpoint for checking that a given sql …
  docs/installation.rst
  superset/config.py
  superset/sql_validators/__init__.py
  superset/sql_validators/base.py
  superset/sql_validators/presto_db.py
  superset/views/core.py
  tests/base_tests.py
  tests/sql_validator_tests.py
Labels: size/XL

#7461 feat: Live query validation in the SQL Lab UI
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/reducers/getInitialState.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/featureFlags.ts
  superset/views/core.py
Labels: size/L

#7452 Fixes World Bank example Rural Population chart
  superset/data/world_bank.py
Labels: size/XS

#7471 Late import for optional lib pyhive
  superset/sql_validators/presto_db.py
Labels: size/XS

#7375 fix: calendar heatmap examples
  superset/viz.py
Labels: size/XS

#7297 bugfix: Improve support for special characters in schema and table names
  superset/assets/spec/javascripts/components/TableSelector_spec.jsx
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/components/TableSelector.jsx
  superset/db_engine_specs.py
  superset/utils/core.py
  superset/views/core.py
  tests/utils_tests.py
Labels: size/M

#7233 [dashboard] After update filter, trigger new queries when charts are visible
  superset/assets/cypress/integration/dashboard/dashboard.helper.js
  superset/assets/cypress/integration/dashboard/index.test.js
  superset/assets/cypress/integration/dashboard/tabs.js
  superset/assets/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset/assets/spec/javascripts/explore/components/ExploreViewContainer_spec.jsx
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/dashboard/components/Dashboard.jsx
  superset/assets/src/dashboard/components/DashboardBuilder.jsx
  superset/assets/src/dashboard/components/DashboardGrid.jsx
  superset/assets/src/dashboard/components/gridComponents/Chart.jsx
  superset/assets/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset/assets/src/dashboard/components/gridComponents/Column.jsx
  superset/assets/src/dashboard/components/gridComponents/Row.jsx
  superset/assets/src/dashboard/components/gridComponents/Tab.jsx
  superset/assets/src/dashboard/components/gridComponents/Tabs.jsx
  superset/assets/src/dashboard/containers/Dashboard.jsx
  superset/assets/src/dashboard/containers/DashboardComponent.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
  superset/cli.py
  superset/data/__init__.py
  superset/data/tabbed_dashboard.py
Labels: review, size/XL

#7463 fix: alter sql columns to long text
  superset/migrations/versions/afc69274c25a_alter_sql_column_data_type_in_query_mysql_table.py
Labels: size/M

#7476 fix: alter sql columns to long text #7463
  superset/migrations/versions/afc69274c25a_alter_sql_column_data_type_in_query_mysql_table.py
Labels: size/M

#7428 Remove ConsoleLog
  CONTRIBUTING.md
Labels: size/M

#7377 druid connector: avoid using 'dimensions' for scan queries
  setup.py
  superset/connectors/druid/models.py
Labels: size/XS

#7485 Break line before LIMIT statement to prevent trailing comment issue
  superset/sql_parse.py
  tests/celery_tests.py
  tests/db_engine_specs_test.py
  tests/sql_parse_tests.py
Labels: size/S

#7443 [security] Adding Flask-Talisman
  requirements.txt
  setup.py
  superset/__init__.py
  superset/config.py
  superset/views/core.py
Labels: size/S

#7499 chore: Truncate progressbar percentage decimals
  superset/assets/src/SqlLab/components/QueryTable.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
Labels: size/XS

#7500 Flatten legacy preset charts
  superset/assets/src/setup/setupPlugins.js
  superset/assets/src/visualizations/presets/CommonChartPreset.js
  superset/assets/src/visualizations/presets/HierarchyChartPreset.js
  superset/assets/src/visualizations/presets/MainPreset.js
  superset/assets/src/visualizations/presets/MapChartPreset.js
Labels: size/L

#7506 Change `Visual Properties` tab label to `Customize`
  superset/assets/src/explore/components/ControlPanelsContainer.jsx
Labels: size/XS

#7507 fixed cache issue for query v1
  superset/common/query_context.py
Labels: size/XS

#7516 feat: Live query validation in the SQL Lab UI (#7461)
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/reducers/getInitialState.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/featureFlags.ts
  superset/views/core.py
Labels: size/L

#7517 chore: Truncate progressbar percentage decimals (#7499)
  superset/assets/src/SqlLab/components/QueryTable.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
Labels: size/XS

#7518 feat: Live query validation in the SQL Lab UI (#7461) (#7516)
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/reducers/getInitialState.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/featureFlags.ts
  superset/views/core.py
Labels: size/L

#7519 chore: Truncate progressbar percentage decimals (#7499) (#7517)
  superset/assets/src/SqlLab/components/QueryTable.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
Labels: size/XS

#7508 Validate start/end when scheduling queries
  docs/installation.rst
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/SqlLab/components/ScheduleQueryButton.jsx
Labels: size/M

#7528 Validate start/end when scheduling queries
  docs/installation.rst
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/SqlLab/components/ScheduleQueryButton.jsx
Labels: size/M

#7521 Show scheduled queries
  superset/assets/src/showSavedQuery/index.jsx
  superset/assets/webpack.config.js
  superset/templates/superset/models/savedquery/show.html
  superset/views/base.py
  superset/views/core.py
  superset/views/sql_lab.py
Labels: size/L

#7523 [sql lab] Fix new query stuck at pending state
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
Labels: size/XS

#7531 feat: add header tooltip
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: size/S

#7529 Talisman config
  superset/__init__.py
  superset/config.py
Labels: size/S

#7556 feat: add header tooltip
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: size/S

#7535 Disabling flask-talisman by default
  superset/config.py
Labels: size/XS

#7426 Rjurney master docs update
  CONTRIBUTING.md
  contrib/docker/README.md
  docs/installation.rst
  requirements-dev.txt
Labels: size/L

#7355 [security] New, deprecate merge_perm, FAB method is fixed
  superset/cli.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/views.py
  superset/security.py
  superset/views/core.py
  tests/access_tests.py
  tests/druid_tests.py
Labels: size/M

#5096 Set BoxPlotViz to is_timeseries=False
  superset/viz.py
Labels: #enhancement, .vis, inactive

#7552 [cypress] fix accessing a cross-origin frame error
  superset/assets/cypress/integration/dashboard/save.js
Labels: size/XS

#7573 [ad-hoc] Fixing type for COUNT DISTINCT
  superset/connectors/druid/models.py
  tests/druid_func_tests.py
Labels: size/XS

#7570 [testconn] Explicit closing engine connection
  superset/views/core.py
Labels: #bug, size/XS

#7468 Adding controls for verifying options
  superset/assets/spec/javascripts/explore/components/withVerification_spec.jsx
  superset/assets/src/explore/components/controls/index.js
  superset/assets/src/explore/components/controls/withVerification.jsx
Labels: size/L

#7585 A few improvements to scheduling queries
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/ScheduleQueryButton.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/config.py
Labels: size/M

#7559 Fix for polling queries
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
Labels: .SQLLab, minor-review, review, size/XS

#7584 Add link to scheduled pipeline
  docs/installation.rst
  superset/assets/spec/javascripts/showSavedQuery/utils_spec.jsx
  superset/assets/src/showSavedQuery/index.css
  superset/assets/src/showSavedQuery/index.jsx
  superset/assets/src/showSavedQuery/utils.js
  superset/views/sql_lab.py
Labels: size/L

#7576 Add American Express to list of users on readme
  README.md
Labels: size/XS

#7498 Reduce db queries in /queries/ endpoint
  superset/views/core.py
Labels: #bug, size/M

#7586 Remove aggregates from metric options if datasource has no columns
  superset/assets/spec/javascripts/explore/components/MetricsControl_spec.jsx
  superset/assets/src/explore/components/controls/MetricsControl.jsx
Labels: size/S

#7453 Add support for period character in table names
  superset/assets/spec/javascripts/components/TableSelector_spec.jsx
  superset/assets/spec/javascripts/sqllab/fixtures.js
  superset/assets/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset/assets/src/components/TableSelector.jsx
  superset/cli.py
  superset/db_engine_specs.py
  superset/models/core.py
  superset/security.py
  superset/utils/core.py
  superset/views/core.py
  tests/db_engine_specs_test.py
Labels: size/L

#7379 Remove the use of Pandas' iloc() in WorldMapViz
  superset/viz.py
Labels: size/XS

#7579 Add "Auto" option to Mapbox visualization point radius
  superset/assets/src/explore/controls.jsx
Labels: size/XS

#7550 Bump python libs, address insecure releases
  requirements-dev.txt
  requirements.txt
  setup.py
  superset/cli.py
  superset/views/core.py
  tests/db_engine_specs_test.py
  tests/viz_tests.py
Labels: size/M

#6610 Add support for Apache Drill
  docs/installation.rst
  superset/db_engine_specs.py
Labels: #enhancement, .backend, size/M

#7131 Make timestamp expression native SQLAlchemy element
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
  superset/models/core.py
  tests/db_engine_specs_test.py
  tests/model_tests.py
Labels: #enhancement, review

#7615 Fix SQL Lab window resizing layout bug
  superset/assets/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset/assets/src/SqlLab/constants.js
Labels: size/M

#7594 [SQL Lab] fix unnecessary offline action
  superset/assets/spec/javascripts/sqllab/QueryAutoRefresh_spec.jsx
  superset/assets/spec/javascripts/sqllab/fixtures.js
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
Labels: size/M

#7525 Add relative start param for time filters
  superset/common/query_object.py
  superset/config.py
  superset/utils/core.py
  superset/viz.py
  tests/utils_tests.py
Labels: size/M

#7627 Show expanded columns in gray in SQL Editor
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
  superset/assets/src/components/FilterableTable/FilterableTableStyles.css
Labels: #enhancement, .SQLLab, .css, .js, .ui, lyft, minor-review, review, size/S

#7625 View Presto row and array objects clearly in the data grid
  superset/assets/spec/javascripts/sqllab/fixtures.js
  superset/assets/src/SqlLab/components/ExploreResultsButton.jsx
  superset/assets/src/SqlLab/main.less
  superset/db_engine_specs.py
  superset/sql_lab.py
  tests/db_engine_specs_test.py
Labels: size/XL

#7630 fix: handle presto column names with whitespace
  superset/db_engine_specs.py
  tests/db_engine_specs_test.py
Labels: size/M

#7583 [template] Updating Superset version info
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: size/XS

#7628 [SQL Lab] Old query showing success state but not showing results
  superset/assets/spec/javascripts/sqllab/SouthPane_spec.jsx
  superset/assets/src/SqlLab/components/SouthPane.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
Labels: #bug, size/S

#7624 [SQL Lab] Prevent failed query error from disappearing
  superset/assets/src/SqlLab/reducers/sqlLab.js
Labels: size/XS

#7622 [requirements] Bumping pydruid version
  requirements.txt
Labels: size/XS
