Repository apache/superset, pull requests merged in 2019-02, with the labels that each got.

#6797 Fix play slider in deck.gl visualizations
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
Labels: #bug, .js, .vis, minor-review, v0.30

#6781 Merge default feature flags and user defined feature flags
  CONTRIBUTING.md
  superset/__init__.py
  superset/config.py
  superset/views/base.py
  tests/base_tests.py
Labels: #refine, review

#6801 Add missing license
  superset/migrations/versions/a33a03f16c4a_add_extra_column_to_savedquery.py
Labels: minor-review, review

#6805 Fix sticky tooltips on nvd3 vizzes
  superset/assets/src/visualizations/nvd3/utils.js
Labels: #bug, .vis, review, v0.30, v0.31

#6721 Introduce configs for some timezone handling aspects: epoch_s and relative end time
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
  superset/utils/core.py
  superset/viz.py
Labels: #feature, .backend, risk:breaking-change

#6745 Omnibar
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/components/OmniContainer.jsx
  superset/assets/src/dashboard/components/Dashboard.jsx
  superset/assets/src/featureFlags.ts
  superset/assets/src/logger.js
Labels: #feature, design-review, review

#5445 [wtforms] Using wtforms-json which prevents encoding empty strings in the database
  UPDATING.md
  requirements.txt
  setup.py
  superset/__init__.py
  superset/migrations/versions/c617da68de7d_form_nullable.py
Labels: risk:db-migration

#6722 Add "Select All" to SelectControl and allow free form group by expressions
  superset/assets/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset/assets/src/explore/components/controls/SelectControl.jsx
  superset/assets/src/explore/controls.jsx
  superset/connectors/sqla/models.py
  tests/base_tests.py
  tests/core_tests.py
  tests/model_tests.py
Labels: #feature, .ui, need:screenshot

#6719 Adding support for Pinot
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
  superset/viz.py
Labels: #feature, .backend, review

#6823 Backend only tagging system
  superset/migrations/versions/c82ee8a39623_add_implicit_tags.py
  superset/models/core.py
  superset/models/sql_lab.py
  superset/models/tags.py
  superset/views/__init__.py
  superset/views/tags.py
Labels: #feature, .backend, lyft, risk:db-migration, v0.31

#6829 Fix line chart overflowing the right side
  superset/assets/src/visualizations/nvd3/NVD3Vis.js
Labels: #bug, .vis, v0.30

#6830 Update @superset-ui/packages
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: #code-quality, review

#6839 Use SuperChart from package and remove one in apache
  superset/assets/spec/javascripts/visualizations/core/createLoadableRenderer_spec.jsx
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/visualizations/core/components/SuperChart.jsx
  superset/assets/src/visualizations/core/components/createLoadableRenderer.js
Labels: #code-quality

#6828 Add check for invalid color scheme
  superset/assets/src/explore/components/controls/ColorSchemeControl.jsx
Labels: #bug, minor-review, review

#6840 [config] clarifications around SUPERSET_WEBSERVER_TIMEOUT
  superset/config.py
Labels: #documentation

#6854 Bump FAB to 1.12.3
  requirements.txt
  setup.py
Labels: #code-quality

#6848 Adding BigQuery to the list of supported DBs.
  README.md
Labels: #documentation

#6832 Adding chart-id to chartrenderer
  superset/assets/src/chart/ChartRenderer.jsx
Labels: #refine, .vis, review

#6870 Docs: update user list in README
  README.md
Labels: #documentation

#6845 [main] Disable resetting main DB attributes
  superset/utils/core.py
  tests/core_tests.py
Labels: #bug, .database, v0.30

#6865 Update docs for pinot support
  docs/installation.rst
Labels: #documentation

#6882 [ci] take #2, improve build times by saving TerserPlugin cache
  .gitignore
  .travis.yml
  superset/assets/webpack.config.js
Labels: #code-quality, .dev-env

#6869 Adding template_params to datasource editor for sqla tables
  superset/assets/src/datasource/DatasourceEditor.jsx
  superset/connectors/sqla/models.py
Labels: #feature

#6862 [sqla] Fixing order-by for non-inner-joins
  superset/connectors/sqla/models.py
Labels: #bug, v0.30

#6884 Remove utils code that are no longer needed after the chart plugins migration
  superset/assets/spec/javascripts/utils/common_spec.jsx
  superset/assets/src/modules/dates.js
  superset/assets/src/modules/utils.js
  superset/assets/src/utils/common.js
  superset/assets/src/utils/reactify.jsx
Labels: #code-quality, review

#6894 Fix npm warning by bumping @superset-ui version
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: #code-quality, review

#6885 add Filters copy change
  superset/assets/src/explore/controlPanels/FilterBox.jsx
Labels: #refine, design-review

#6867 Raise exception if long or lat not set in mapbox viz
  superset/viz.py
Labels: #bug, .backend, .vis

#6911 Add show metadata button back to the explore view
  superset/assets/src/datasource/DatasourceModal.jsx
  superset/assets/src/explore/components/controls/DatasourceControl.jsx
Labels: #bug, v0.31

#6903 [box plot] add X tick layout control
  superset/assets/src/explore/controlPanels/BoxPlot.js
  superset/data/world_bank.py
Labels: #feature, minor-review

#6895 Fix tooltip
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/visualizations/deckgl/layers/common.jsx
Labels: #bug, .js, .tooltip, minor-review, v0.31

#6868 Fix extra_filters in `LineMulti.jsx`
  superset/assets/src/visualizations/nvd3/LineMulti/LineMulti.jsx
Labels: #bug, v0.31

#6898 Address tooltip's disappearance and stickiness
  superset/assets/src/visualizations/nvd3/NVD3Vis.js
  superset/assets/src/visualizations/nvd3/utils.js
Labels: #bug, .js, minor-review, v0.31

#6917 Fix database typeahead in SQL Lab
  superset/assets/src/components/TableSelector.jsx
  superset/views/core.py
Labels: #bug, .SQLLab, .backend, .js, minor-review, review, v0.31

#6923 Add a safety check before getting clientHeight
  superset/assets/src/SqlLab/components/SouthPane.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
Labels: #bug, minor-review, v0.31

#6816 Adding dropdown to DatasourceControl and ability to change datasource
  superset/assets/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
  superset/assets/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset/assets/src/datasource/ChangeDatasourceModal.jsx
  superset/assets/src/explore/components/controls/DatasourceControl.jsx
  superset/assets/src/explore/main.css
  superset/assets/stylesheets/superset.less
  superset/views/core.py
  superset/views/datasource.py
  tests/datasource_tests.py
Labels: #feature, .explore, .js, review, v0.31

#6847 Refactor dataframe and column name mutation logic
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
  tests/db_engine_specs_test.py
Labels: #code-quality, .backend

#6831 Do label name mutation before anything else on the dataframe
  superset/connectors/sqla/models.py
  superset/models/core.py
Labels: #bug, .backend

#6786 Fix Postgres time shifting problems
  superset/db_engine_specs.py
Labels: #bug, .backend

#6937 Fix rendering regression from the introduction of bignumber
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/spec/javascripts/chart/transformBigNumber_spec.js
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/chart/transformBigNumber.js
Labels: #bug, review, v0.31

#6905 Erase previously shown chart on error
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/chart/chartReducer.js
Labels: #bug, minor-review

#6904 [js deps] fix dependencies vulnerabilities
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/chart/Chart.jsx
  superset/data/san_francisco.csv.gz
  superset/viz.py
Labels: .security, minor-review

#6912 Remove Cypress from package.json
  superset/assets/cypress_build.sh
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: #builds

#6953 Fix deck.gl form data
  superset/assets/spec/javascripts/visualizations/deckgl/utils_spec.js
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
  superset/assets/src/visualizations/deckgl/Multi/Multi.jsx
  superset/assets/src/visualizations/deckgl/factory.jsx
  superset/assets/src/visualizations/deckgl/layers/Arc/Arc.jsx
  superset/assets/src/visualizations/deckgl/layers/Geojson/Geojson.jsx
  superset/assets/src/visualizations/deckgl/layers/Grid/Grid.jsx
  superset/assets/src/visualizations/deckgl/layers/Hex/Hex.jsx
  superset/assets/src/visualizations/deckgl/layers/Path/Path.jsx
  superset/assets/src/visualizations/deckgl/layers/Polygon/Polygon.jsx
  superset/assets/src/visualizations/deckgl/layers/Scatter/Scatter.jsx
  superset/assets/src/visualizations/deckgl/layers/Screengrid/Screengrid.jsx
  superset/assets/src/visualizations/deckgl/layers/common.jsx
  superset/assets/src/visualizations/deckgl/utils.js
Labels: #bug, .js, .vis, review, v0.31

#6808 Allow for dynamic feature flags
  superset/__init__.py
  superset/config.py
  superset/views/base.py
  tests/base_tests.py
  tests/superset_test_config.py
Labels: #feature

#6933 Show charts and dashboards based also on database permissions
  superset/views/core.py
Labels: #bug, .backend, lyft, minor-review, review, v0.31
