Repository apache/superset, pull requests merged in 2019-11, with the labels that each got.

#8446 [Table Vis]Switch to the new table plugin
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/visualizations/presets/MainPreset.js
Labels: size/XS

#8495 [datasource editor] Only one click target for edit action
  superset/assets/src/explore/components/controls/DatasourceControl.css
  superset/assets/src/explore/components/controls/DatasourceControl.jsx
Labels: size/L

#8494 [SIP-15] Fix ISO 8601 datetime matching/labeling in the DateFilterControl
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
Labels: size/XS

#8496 [docs] Change Fedora OS dependencies
  docs/installation.rst
Labels: size/S

#8478 feat: add korea(South) info to CountryMap viz
  docs/visualization.rst
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/explore/controls.jsx
Labels: size/M

#8485 Add `Duplicate Tab` option
  superset/assets/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
Labels: size/S

#8498 bump dompurify version because of nasty xss bypass.
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: size/XS

#8284 [typing] superset/models/core.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/models/core.py
Labels: size/L

#8470 Allow user to customize query cost estimate
  docs/sqllab.rst
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  superset/views/core.py
Labels: size/M

#8490 [SIP-15] Adding grace period
  docs/installation.rst
  superset/config.py
  superset/views/utils.py
  tests/utils_tests.py
Labels: size/M

#8492 Updating pip with default timeout
  contrib/docker/Dockerfile
Labels: size/XS

#8493 Fix column type on dbs.encrypted_extra, add instructions for testing migration downgrades
  CONTRIBUTING.md
  superset/migrations/versions/c2acd2cf3df2_alter_type_of_dbs_encrypted_extra.py
Labels: size/M

#8484 Update query tab's title when saving a new query
  superset/assets/src/SqlLab/reducers/sqlLab.js
Labels: size/XS

#8500 [docs] Small fixes on the release docs
  RELEASING/Dockerfile.from_tarball
  RELEASING/README.md
  RELEASING/from_tarball_entrypoint.sh
Labels: size/S

#8508 Remove tabs from sql_lab.rst
  docs/sqllab.rst
Labels: size/S

#8509 Make Report a bug link open in a new tab
  superset/templates/appbuilder/navbar_right.html
Labels: size/XS

#8515 [Table Vis]Revert tablevis
  superset/assets/src/visualizations/presets/MainPreset.js
Labels: size/XS

#8513 [sip-15] Fixing time range endpoints from dashboards
  superset/views/utils.py
  tests/utils_tests.py
Labels: size/M

#8427 Welcome page title: use app_name instead of 'Superset'
  superset/views/core.py
Labels: size/XS

#8510 Replace hardcoded default colors with defaults in setupColors.js
  superset/assets/src/explore/controls.jsx
  superset/assets/src/setup/setupColors.js
Labels: size/XS

#8457 [fix] Improve csv upload functionality
  superset/config.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/views/core.py
  superset/views/database/forms.py
  superset/views/database/views.py
  tests/core_tests.py
Labels: size/L

#8531 [docs] Adding Slice parameter documentation
  CONTRIBUTING.md
Labels: size/L

#8477 [cli] Fix, import datasources exported by UI
  superset/connectors/druid/views.py
  superset/utils/import_datasource.py
  superset/views/base.py
  superset/views/database/views.py
  tests/dict_import_export_tests.py
Labels: size/M

#8535 [docs] Updating slice parameter documentation.
  CONTRIBUTING.md
Labels: size/XS

#8517 Bump FAB to 2.2.0
  requirements.txt
  setup.py
Labels: size/XS

#8507 Allow customization of documentation icon and text
  superset/config.py
  superset/templates/appbuilder/navbar_right.html
Labels: size/S

#8411 Add support for database engine SAP Hana
  docs/index.rst
  docs/installation.rst
  setup.py
  superset/db_engine_specs/hana.py
Labels: size/M

#8547 [docs] 0.35.0 CHANGELOG
  CHANGELOG.md
Labels: size/L

#8541 Upgrade superset-ui/time-format
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: size/XS

#8534 Clickable checkbox labels
  superset/assets/spec/javascripts/explore/components/CheckboxControl_spec.jsx
  superset/assets/src/explore/components/controls/CheckboxControl.jsx
Labels: size/S

#8529 Encode feature flags to JSON pessimistically
  superset/views/core.py
  tests/core_tests.py
Labels: size/XS

#8523 [fix] Re-cleanup legacy filters
  superset/examples/birth_names.py
  superset/examples/country_map.py
  superset/examples/deck.py
  superset/examples/energy.py
  superset/examples/long_lat.py
  superset/examples/multiformat_time_series.py
  superset/examples/random_time_series.py
  superset/examples/unicode_test_data.py
  superset/examples/world_bank.py
  superset/migrations/versions/78ee127d0d1d_reconvert_legacy_filters_into_adhoc.py
Labels: size/L

#8551 Add convert_dttm method to SnowflakeEngineSpec
  superset/db_engine_specs/snowflake.py
  tests/db_engine_specs/snowflake_tests.py
Labels: size/M

#8550 [Dashboard Import] Log error on dashboard import failure
  superset/views/core.py
Labels: size/XS

#8549 docs: remove Gitter link from README
  README.md
Labels: preset, size/XS

#8560 [Table]Switch to new table(revision)
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/visualizations/presets/MainPreset.js
Labels: size/XS

#8558 bump legacy-preset-chart-nvd3 to 0.11.5
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: preset, size/XS

#8559 [WIP][dashboard scoped filter] part 2: add algorithm to convert checked ids to scope object
  superset/assets/spec/javascripts/dashboard/util/getFilterScopeFromNodesTree_spec.js
  superset/assets/src/dashboard/util/getFilterScopeFromNodesTree.js
Labels: size/L

#8564 [WIP][dashboard scoped filter] part 2: add algorithm to convert checked ids to scope object
  superset/assets/spec/javascripts/dashboard/util/getFilterScopeFromNodesTree_spec.js
  superset/assets/src/dashboard/util/getFilterScopeFromNodesTree.js
Labels: size/L

#8060 SIP-23: Persist SQL Lab state in the backend
  superset/assets/package-lock.json
  superset/assets/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset/assets/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset/assets/spec/javascripts/sqllab/reducers/sqlLab_spec.js
  superset/assets/src/SqlLab/App.jsx
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/App.jsx
  superset/assets/src/SqlLab/components/LimitControl.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/SqlLab/components/SouthPane.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/assets/src/SqlLab/components/TemplateParamsEditor.jsx
  superset/assets/src/SqlLab/reducers/getInitialState.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/components/TableSelector.jsx
  superset/assets/src/featureFlags.ts
  superset/assets/src/reduxUtils.js
  superset/config.py
  superset/migrations/versions/db4b49eb0782_add_tables_for_sql_lab_state.py
  superset/models/sql_lab.py
  superset/sql_lab.py
  superset/views/core.py
  superset/views/sql_lab.py
  tests/superset_test_config_sqllab_backend_persist.py
  tox.ini
Labels: #SIP, .SQLLab, .backend, .database, .js, .python, review, risk:breaking-change, risk:db-migration, size/XXL

#8567 Fix more places where feature flags are serialized
  superset/views/core.py
  tests/core_tests.py
Labels: size/M

#8575 Math.max(...array) considered harmful
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: size/XS

#8580 Copy template params when duplicating query
  superset/assets/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#8577 Do not autorun query on tab duplicate
  superset/assets/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/QueryTable.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
Labels: size/XS

#8582 [table vis]bump superset ui table version
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: size/XS

#8553 [dashboard scoped filter] Improve scrollbar inside modal
  superset/assets/src/dashboard/components/filterscope/FilterScopeSelector.jsx
  superset/assets/src/dashboard/components/filterscope/renderFilterFieldTreeNodes.jsx
  superset/assets/src/dashboard/stylesheets/filter-scope-selector.less
  superset/assets/src/dashboard/util/getFilterFieldNodesTree.js
Labels: size/XXL

#8581 Fix error when templateParams is undefined
  superset/assets/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#8566 [druid] Fix, pydruid forced dependency
  superset/connectors/druid/models.py
Labels: preset, size/S, v0.35

#8570 [docs] Improve tests for an Apache release candidate
  RELEASING/Dockerfile.from_tarball
  RELEASING/README.md
  RELEASING/test_run_tarball.sh
Labels: preset, size/M

#8583 [SECURITY] Bump pyarrow to 0.15.1 due to CVE
  requirements.txt
  setup.py
Labels: preset, size/XS

#8586 Fix async queries with SQLLAB_BACKEND_PERSISTENCE
  superset/assets/src/SqlLab/components/SouthPane.jsx
Labels: size/XS

#8587 [dashboard filter scope] force show filter_box as unchecked
  superset/assets/src/dashboard/components/filterscope/FilterScopeSelector.jsx
  superset/assets/src/dashboard/util/getRevertedFilterScope.js
Labels: size/S

#8572 [css] adding spaces before opening curlies.
  superset/assets/package.json
  superset/assets/src/SqlLab/main.less
  superset/assets/src/explore/main.css
  superset/assets/src/visualizations/FilterBox/FilterBox.css
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/assets/stylesheets/superset.less
Labels: preset, size/S

#8591 Adding bilibili into the companies list of superset users in README
  README.md
Labels: size/XS

#8592 add Switzerland to country selection
  docs/visualization.rst
  superset/assets/src/explore/controls.jsx
Labels: size/M

#8585 [lint] Add lint rule enforcing React Fragment shorthand
  superset/assets/.eslintrc
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/SqlLab/components/App.jsx
  superset/assets/src/SqlLab/components/ExploreResultsButton.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/components/ModalTrigger.jsx
  superset/assets/src/dashboard/components/Dashboard.jsx
  superset/assets/src/dashboard/components/FilterIndicatorGroup.jsx
  superset/assets/src/dashboard/components/FilterTooltipWrapper.jsx
  superset/assets/src/dashboard/components/filterscope/FilterScopeSelector.jsx
  superset/assets/src/explore/components/controls/VizTypeControl.jsx
Labels: size/M

#8595 [dashboard scoped filter] Reduce calls to expensive safeStringify
  superset/assets/src/dashboard/components/Dashboard.jsx
  superset/assets/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/S

#8605 add Liechtenstein to country selection
  docs/visualization.rst
  superset/assets/src/explore/controls.jsx
Labels: size/S

#8270 fix for issue#8269
  superset/assets/package.json
Labels: size/XS

#8597 Set owner when creating SQL Lab view
  superset/views/core.py
  tests/sqllab_tests.py
Labels: size/XS

#8511 Fix for BigQuery connection checks and CSV uploads
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/hive.py
  superset/templates/superset/models/database/macros.html
  superset/views/core.py
  superset/views/database/views.py
Labels: preset, size/S

#8562 showing version and SHA (subtly) in user menu.
  superset/assets/stylesheets/superset.less
  superset/config.py
  superset/templates/appbuilder/navbar_right.html
Labels: preset, size/M

#8606 Using Prettier for CSS
  superset/assets/package.json
  superset/assets/src/CRUD/styles.css
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/BootstrapSliderWrapper.css
  superset/assets/src/components/FilterBadgeIcon.css
  superset/assets/src/components/FilterEditIcon.css
  superset/assets/src/datasource/main.css
  superset/assets/src/explore/main.css
  superset/assets/src/profile/main.css
  superset/assets/src/showSavedQuery/index.css
Labels: size/XL

#8579 increase z-index on filter box to fix bleeding of filter indicator
  superset/assets/src/dashboard/stylesheets/variables.less
  superset/assets/src/visualizations/FilterBox/FilterBox.jsx
  superset/assets/src/visualizations/FilterBox/FilterBox.less
Labels: preset, size/M

#8289 Move from MVC FAB menu to Superset React menu
  superset/assets/cypress.json
  superset/assets/spec/javascripts/components/Menu_spec.jsx
  superset/assets/src/components/Menu/LanguagePicker.jsx
  superset/assets/src/components/Menu/Menu.jsx
  superset/assets/src/components/Menu/MenuObject.jsx
  superset/assets/src/components/Menu/NewMenu.jsx
  superset/assets/src/components/Menu/UserMenu.jsx
  superset/assets/src/welcome/App.jsx
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/templates/superset/welcome.html
  superset/views/base.py
  superset/views/core.py
  tests/core_tests.py
Labels: preset, size/XL

#8573 [SECURITY] bump packages with security vulnerabilities
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: preset, size/XS

#8563 Moving static colors over to Less vars
  superset/assets/src/SqlLab/App.jsx
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/BootstrapSliderWrapper.jsx
  superset/assets/src/components/BootstrapSliderWrapper.less
  superset/assets/src/components/FilterBadgeIcon.jsx
  superset/assets/src/components/FilterBadgeIcon.less
  superset/assets/src/components/FilterEditIcon.jsx
  superset/assets/src/components/FilterEditIcon.less
  superset/assets/src/components/FilterableTable/FilterableTableStyles.less
  superset/assets/src/components/TableLoader.jsx
  superset/assets/src/dashboard/stylesheets/builder-sidepane.less
  superset/assets/src/dashboard/stylesheets/builder.less
  superset/assets/src/dashboard/stylesheets/components/chart.less
  superset/assets/src/dashboard/stylesheets/components/new-component.less
  superset/assets/src/dashboard/stylesheets/components/tabs.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/stylesheets/dnd.less
  superset/assets/src/dashboard/stylesheets/filter-indicator-tooltip.less
  superset/assets/src/dashboard/stylesheets/filter-indicator.less
  superset/assets/src/dashboard/stylesheets/grid.less
  superset/assets/src/dashboard/stylesheets/hover-menu.less
  superset/assets/src/dashboard/stylesheets/index.less
  superset/assets/src/dashboard/stylesheets/popover-menu.less
  superset/assets/src/dashboard/stylesheets/variables.less
  superset/assets/src/datasource/DatasourceEditor.jsx
  superset/assets/src/datasource/main.less
  superset/assets/src/explore/App.jsx
  superset/assets/src/explore/components/controls/DatasourceControl.jsx
  superset/assets/src/explore/components/controls/DatasourceControl.less
  superset/assets/src/explore/main.less
  superset/assets/src/messageToasts/stylesheets/toast.less
  superset/assets/src/profile/App.jsx
  superset/assets/src/profile/main.less
  superset/assets/src/visualizations/FilterBox/FilterBox.less
  superset/assets/src/welcome/DashboardTable.jsx
  superset/assets/stylesheets/dashboard_deprecated.css
  superset/assets/stylesheets/explore.less
  superset/assets/stylesheets/less/variables.less
  superset/assets/stylesheets/react-select/select.less
  superset/assets/stylesheets/reactable-pagination.less
  superset/assets/stylesheets/sql.less
  superset/assets/stylesheets/superset.less
  superset/assets/stylesheets/welcome.less
Labels: preset, size/XL

#8599 [CONTRIBUTING] Adding filter-box options to chart params
  CONTRIBUTING.md
Labels: size/XS

#8617 Migrate CSS to LESS files, remove unused files
  superset/assets/src/CRUD/CollectionTable.jsx
  superset/assets/src/CRUD/Field.jsx
  superset/assets/src/CRUD/crud.less
  superset/assets/src/CRUD/styles.css
  superset/assets/src/CRUD/styles.less
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/chart/chart.less
  superset/assets/src/components/FilterBadgeIcon.less
  superset/assets/src/components/Loading.jsx
  superset/assets/src/components/Loading.less
  superset/assets/src/components/TableSelector.jsx
  superset/assets/src/components/TableSelector.less
  superset/assets/src/explore/components/Control.jsx
  superset/assets/src/explore/components/Control.less
  superset/assets/src/explore/components/controls/CollectionControl.jsx
  superset/assets/src/explore/components/controls/CollectionControl.less
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
  superset/assets/src/explore/components/controls/DateFilterControl.less
  superset/assets/src/explore/components/controls/VizTypeControl.jsx
  superset/assets/src/explore/components/controls/VizTypeControl.less
  superset/assets/src/showSavedQuery/index.jsx
  superset/assets/src/showSavedQuery/index.less
  superset/assets/src/visualizations/TimeTable/TimeTable.jsx
  superset/assets/src/visualizations/TimeTable/TimeTable.less
  superset/assets/stylesheets/explore.less
  superset/assets/stylesheets/sql.less
  superset/assets/stylesheets/welcome.less
Labels: preset

#8598 Make select_star work with SQL Lab views
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
Labels: size/M

#8596 [css] Simplifying SQL toolbar item margins, fixing overflow bug
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TemplateParamsEditor.jsx
  superset/assets/src/SqlLab/main.less
Labels: preset, size/M

#8615 Copying in Markdown formatted Apache Code of Conduct.
  CODE_OF_CONDUCT.md
Labels: preset, size/L

#8536 Pass url parameters from dashboard to charts
  superset/assets/cypress/integration/dashboard/index.test.js
  superset/assets/cypress/integration/dashboard/url_params.js
  superset/assets/package.json
  superset/assets/src/dashboard/reducers/getInitialState.js
  superset/jinja_context.py
  superset/utils/core.py
  superset/views/core.py
  tests/utils_tests.py
Labels: size/L

#8623 fix filter dropdown z-index
  superset/assets/src/visualizations/FilterBox/FilterBox.less
  superset/assets/stylesheets/superset.less
Labels: size/XS

#8621 Fixed docker issue with FLASK_APP value
  contrib/docker/docker-entrypoint.sh
  contrib/docker/docker-init.sh
Labels: size/XS

#8629 [SQL Lab] Wrap more logic with feature flag
  setup.cfg
  superset/views/core.py
Labels: size/M

#8618 Adjusting the placement of header menu carets
  superset/assets/src/components/Menu/Menu.jsx
  superset/assets/src/components/Menu/Menu.less
Labels: preset, size/M

#8626 slightly decouple sql_json, queries, and results http endpoints from …
  superset/utils/core.py
  superset/views/core.py
Labels: size/M

#8619 [fix] TimeTable timelag error
  superset/assets/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/XS

#8630 fixes error creating a new database due to Malformed JSON error for empty Secure extras field
  superset/templates/superset/models/database/macros.html
Labels: size/XS

#8612 [releases] New, email automation for apache releases
  RELEASING/README.md
  RELEASING/email_templates/announce.j2
  RELEASING/email_templates/result_ipmc.j2
  RELEASING/email_templates/result_pmc.j2
  RELEASING/email_templates/vote_ipmc.j2
  RELEASING/email_templates/vote_pmc.j2
  RELEASING/send_email.py
Labels: preset, size/XL

#8636 [dashboard scoped filters] Add all time related options to filters initialization
  superset/assets/src/dashboard/util/activeDashboardFilters.js
  superset/assets/src/dashboard/util/getFilterConfigsFromFormdata.js
  superset/assets/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/M

#8637 Now with CSS sourcemaps!
  superset/assets/webpack.config.js
Labels: preset-io, size/S

#8652 Pass full response to `query_cost_formatter`
  superset/db_engine_specs/presto.py
  tests/db_engine_specs/presto_tests.py
Labels: size/M

#8662 [docs] Update changelog and updating for 0.35.1
  CHANGELOG.md
  UPDATING.md
Labels: preset-io

#8653 Adding app context wrapper to Celery tasks
  superset/app.py
  superset/sql_lab.py
  tests/celery_tests.py
Labels: preset-io, size/M

#8646 [release] Fix, release docs
  RELEASING/README.md
  RELEASING/email_templates/announce.j2
  RELEASING/send_email.py
Labels: preset-io, size/L

#8650 Fixing variable conflicts between Superset and Boot(swatch/strap)
  superset/assets/src/components/RefreshLabel.less
  superset/assets/stylesheets/less/cosmo/variables.less
  superset/assets/stylesheets/less/variables.less
Labels: preset-io, size/L

#8600 Filter edit icon component replaced with Font Awesome
  superset/assets/package.json
  superset/assets/src/components/FilterEditIcon.jsx
  superset/assets/src/components/FilterEditIcon.less
  superset/assets/src/dashboard/components/FilterIndicatorTooltip.jsx
  superset/assets/src/dashboard/stylesheets/filter-indicator-tooltip.less
Labels: preset-io, size/M

#8633 Font styling consolidation
  superset/assets/package.json
  superset/assets/src/CRUD/crud.less
  superset/assets/src/SqlLab/components/TableElement.jsx
  superset/assets/src/SqlLab/main.less
  superset/assets/src/chart/chart.less
  superset/assets/src/components/FilterableTable/FilterableTableStyles.less
  superset/assets/src/dashboard/stylesheets/builder-sidepane.less
  superset/assets/src/dashboard/stylesheets/buttons.less
  superset/assets/src/dashboard/stylesheets/components/chart.less
  superset/assets/src/dashboard/stylesheets/components/divider.less
  superset/assets/src/dashboard/stylesheets/components/header.less
  superset/assets/src/dashboard/stylesheets/components/index.less
  superset/assets/src/dashboard/stylesheets/components/markdown.less
  superset/assets/src/dashboard/stylesheets/components/new-component.less
  superset/assets/src/dashboard/stylesheets/components/tabs.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/stylesheets/filter-indicator-tooltip.less
  superset/assets/src/dashboard/stylesheets/filter-indicator.less
  superset/assets/src/dashboard/stylesheets/filter-scope-selector.less
  superset/assets/src/dashboard/stylesheets/hover-menu.less
  superset/assets/src/dashboard/stylesheets/popover-menu.less
  superset/assets/src/dashboard/stylesheets/resizable.less
  superset/assets/src/datasource/main.less
  superset/assets/src/explore/components/controls/CollectionControl.less
  superset/assets/src/explore/components/controls/DatasourceControl.less
  superset/assets/src/explore/components/controls/DateFilterControl.less
  superset/assets/src/explore/components/controls/VizTypeControl.less
  superset/assets/src/explore/main.less
  superset/assets/src/visualizations/FilterBox/FilterBox.less
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/assets/stylesheets/less/index.less
  superset/assets/stylesheets/less/variables.less
  superset/assets/stylesheets/react-select/select.less
  superset/assets/stylesheets/reactable-pagination.less
  superset/assets/stylesheets/superset.less
  superset/examples/css_templates.py
Labels: preset-io, size/L

#8512 Disable deprecated druid connector by default
  UPDATING.md
  superset/config.py
  tests/druid_tests.py
  tests/security_tests.py
Labels: preset-io, size/XS

#8681 Only list tables in DB test if API returns them (which it doesn't)
  superset/templates/superset/models/database/macros.html
Labels: preset-io, size/S

#8679 [databases] [mvc] Fix, remove encrypted extra from list of possible filter
  superset/views/database/__init__.py
Labels: size/XS

#8689 [setup] Fix, sqlalchemy and sqlparse version interval
  setup.py
Labels: preset-io

#8692 [docs] Fix, database deps table
  docs/installation.rst
Labels: size/XS
