Repository apache/superset, pull requests merged in 2019-08, with the labels that each got.

#7955 Fix createDatasource
  superset/assets/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#7964 Use python3 for black to support py>=3.6
  .pre-commit-config.yaml
Labels: size/XS

#7965 Bump python requirements file
  requirements-dev.txt
  requirements.txt
  setup.py
Labels: size/M

#7643 7620: Start removing dependencies on requests
  requirements-dev.txt
  requirements.txt
  setup.py
  superset/connectors/druid/models.py
  superset/examples/helpers.py
  superset/tasks/cache.py
  superset/tasks/schedules.py
  superset/utils/core.py
  tests/druid_func_tests.py
  tests/druid_tests.py
  tests/model_tests.py
  tests/schedules_test.py
  tests/security_tests.py
Labels: size/M

#7975 Fix for new Pandas API
  superset/viz.py
Labels: size/XS

#7973 Bump sqlparse to 0.3.0
  requirements.txt
  setup.py
  superset/sql_parse.py
Labels: size/S

#7963 Remove collation info from MSSQL column type
  superset/db_engine_specs/mssql.py
Labels: size/S

#7952 [security] Adding docstrings and type hints
  superset/security.py
  superset/views/core.py
  tests/security_tests.py
Labels: size/L

#7977 [DB Engine] Support old and new Presto syntax
  docs/installation.rst
  superset/db_engine_specs/presto.py
  superset/views/database/__init__.py
  tests/db_engine_specs_test.py
Labels: size/S

#7988 [flake8] Ignoring I202
  superset/connectors/druid/models.py
  superset/security.py
  superset/utils/core.py
  tests/druid_tests.py
  tox.ini
Labels: size/XS

#7986 Bump FAB to 2.1.8
  requirements.txt
  setup.py
Labels: #bug, need:update, size/S

#7987 [sqllab] Fix, API page size limit on database select box
  superset/assets/src/components/TableSelector.jsx
  superset/views/database/api.py
Labels: size/XS

#7989 Bump @superset-ui versions
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/chart/ChartRenderer.jsx
Labels: size/M

#7992 [init] Setting up cache before registering blueprints
  superset/__init__.py
Labels: size/XS

#7994 Bump nvd3 charts for tooltip fix
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: size/XS

#7995 Revert "[sqllab] Fix, API page size limit on database select box"
  superset/assets/src/components/TableSelector.jsx
  superset/views/database/api.py
Labels: size/XS

#7996 Revert "Bump FAB to 2.1.8"
  requirements.txt
  setup.py
Labels: size/S

#7985 Fix #7984
  superset/viz.py
Labels: size/XS

#7998 [fix] reduce content in sql lab localStorage
  superset/assets/spec/javascripts/sqllab/fixtures.js
  superset/assets/spec/javascripts/sqllab/utils/emptyQueryResults_spec.js
  superset/assets/src/SqlLab/App.jsx
  superset/assets/src/SqlLab/utils/reduxStateToLocalStorageHelper.js
Labels: size/M

#7993 [Jinja] Make Presto template functions backwards compatible
  docs/sqllab.rst
  superset/jinja_context.py
Labels: size/M

#7981 Fix Pandas 0.24 DateOffset bug pt. 2
  superset/viz.py
Labels: size/XS

#7949 Update to fix the broken blueprints link
  docs/installation.rst
Labels: size/XS

#7999 Setup FOSSA as part of CI
  .fossa.yml
  .travis.yml
  scripts/fossa.sh
  tox.ini
Labels: size/M

#8002 [SQLLab] Fix, database api unlimited page size v2
  requirements.txt
  setup.py
  superset/assets/src/components/TableSelector.jsx
  superset/views/database/api.py
  tests/sqllab_tests.py
Labels: size/M

#8006 Local config no longer fails to import silently
  superset/config.py
Labels: size/M

#7997 Event logger config takes instance instead of class
  docs/installation.rst
  superset/__init__.py
  superset/utils/log.py
  tests/event_logger_tests.py
Labels: size/L

#8003 Added better display of NULL values in FilterableTable (as in SQL Lab Results)
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: size/M

#7929 Fix tooltips not visible for NVD3 charts on Firefox (#7822)
  superset/assets/stylesheets/less/index.less
Labels: size/XS

#8013 Fix: There was an issue fetching the favorite status of this dashboard (#6824)
  superset/assets/src/dashboard/actions/dashboardState.js
Labels: size/XS

#7951 [feat] Add d3 legend formatting for Arc, Polygon and Scatter deck.gl maps
  superset/assets/src/explore/controlPanels/DeckArc.js
  superset/assets/src/explore/controlPanels/DeckPolygon.js
  superset/assets/src/explore/controlPanels/DeckScatter.js
  superset/assets/src/explore/controls.jsx
  superset/assets/src/visualizations/Legend.jsx
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
  superset/assets/src/visualizations/deckgl/layers/Polygon/Polygon.jsx
Labels: size/M

#8011 [SQL Lab] Improve perf for filterable table rendering
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
  superset/assets/src/components/FilterableTable/FilterableTableStyles.css
Labels: size/M

#8016 Improve release instructions
  RELEASING/README.md
Labels: size/L

#8018 [Dashboard] Hide slice titles when they're empty
  superset/assets/src/components/EditableTitle.jsx
  superset/assets/src/dashboard/components/SliceHeader.jsx
Labels: size/S

#8026 Two more organisations using Superset - Zalora, GFG
  README.md
Labels: size/XS

#8032 Fix bug where lists in queries cannot contain multiple types
  superset/utils/core.py
  tests/utils_tests.py
Labels: size/S

#8014 [fix] Allow dashboard viewer auto refresh dashboard
  superset/assets/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset/assets/spec/javascripts/dashboard/components/RefreshIntervalModal_spec.jsx
  superset/assets/src/dashboard/actions/dashboardState.js
  superset/assets/src/dashboard/components/HeaderActionsDropdown.jsx
  superset/assets/src/dashboard/components/RefreshIntervalModal.jsx
  superset/assets/src/dashboard/reducers/dashboardState.js
Labels: size/M, v0.34

#8045 Added WPSemantix to list of companies using Apache Superset in README file
  README.md
Labels: size/XS

#8039 Disable flaky cypress test
  superset/assets/cypress/integration/dashboard/controls.js
Labels: size/XS

#8044 fix: issues #8041 - bubble support for complex metrics
  superset/viz.py
Labels: size/XS

#8025 [bugfix] Fix deck_polygon metric bug and update examples chart
  superset/examples/deck.py
  superset/viz.py
Labels: size/M

#8049 fix: onSave datasource raises React error
  superset/assets/spec/javascripts/explore/components/MetricsControl_spec.jsx
  superset/assets/src/explore/components/controls/MetricsControl.jsx
Labels: size/S

#8052 Set disableErrorBoundary in SuperChart to fix chart error handling
  superset/assets/src/chart/ChartRenderer.jsx
Labels: #bug, size/XS

#8056 Add feature flag for Presto expand data
  docs/installation.rst
  superset/config.py
  superset/db_engine_specs/presto.py
  tests/db_engine_specs_test.py
Labels: size/S

#8040 [viz] Revert dropna logic for pivot tables
  superset/viz.py
Labels: size/S

#8054 [sql lab] persist tables list in localStorage
  superset/assets/src/SqlLab/App.jsx
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/SqlLab/utils/reduxStateToLocalStorageHelper.js
Labels: size/S

#8042 Improve birth example dashboard
  superset/examples/birth_names.py
  tests/core_tests.py
  tests/dashboard_tests.py
Labels: size/XL

#8057 Adding support for filter box in annotations
  superset/assets/src/chart/chartAction.js
Labels: size/XS

#8035 Make package.json cross platform
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: .windows, size/XS

#8070 [Explore view] Fix extra data fetch when user clicks Run Query
  superset/assets/src/explore/components/ExploreViewContainer.jsx
Labels: size/S

#8075 Move more Presto nested types behind feature flag
  superset/db_engine_specs/presto.py
  tests/db_engine_specs_test.py
Labels: size/XS

#8067 remove idna req from setup.py/requirements.txt
  requirements.txt
  setup.py
Labels: size/XS

#8037 fix: handle case where result exists but corresponding query cannot be found
  superset/views/core.py
Labels: size/XS

#8078 Remove gevent installation as a separate docker layer
  contrib/docker/Dockerfile
Labels: size/XS

#8058 Add docstrings and typing to db_engine_specs and sql_parse
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/kylin.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/redshift.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/db_engine_specs/teradata.py
  superset/sql_parse.py
  tests/db_engine_specs_test.py
Labels: size/XL

#8083 feat: replace table and box plot vis with new plugins
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/visualizations/presets/MainPreset.js
Labels: #enhancement

#8097 [fix] add checks for stopped queries
  superset/sql_lab.py
Labels: size/XS

#8093 Move Darwin-specific JS libs to optional
  superset/assets/package.json
Labels: size/XS

#8100 docs: remove unused release instruction
  RELEASING/README.md
Labels: size/XS

#7569 Separate vis-specific controls from centralized controls
  superset/assets/spec/javascripts/explore/controlUtils_spec.jsx
  superset/assets/src/explore/components/ControlPanelsContainer.jsx
  superset/assets/src/explore/controlPanels/Rose.js
  superset/assets/src/explore/controlUtils.js
  superset/assets/src/explore/controls.jsx
  superset/assets/src/explore/reducers/exploreReducer.js
  superset/assets/src/explore/store.js
Labels: .pinned, size/L

#8105 Fix sqla query cache keys function
  superset/common/query_context.py
  superset/connectors/sqla/models.py
Labels: size/XS

#8106 Fix cache set kwargs
  superset/common/query_context.py
Labels: size/XS

#8077 Fixed Histogram visualization bug.
  superset/viz.py
Labels: size/S

#8140 remove unused files
  superset/assets/src/query/Column.ts
  superset/assets/src/query/DatasourceKey.ts
  superset/assets/src/query/FormData.ts
  superset/assets/src/query/Metric.ts
  superset/assets/src/query/buildQueryContext.ts
  superset/assets/src/query/buildQueryObject.ts
  superset/assets/src/query/index.ts
Labels: review, size/L

#8136 Add duration formatter for numeric data
  superset/assets/src/explore/controls.jsx
  superset/assets/src/setup/setupFormatters.js
Labels: #enhancement, size/S

#8130 removes unused state values and redundant presence checks
  superset/assets/src/SqlLab/components/ScheduleQueryButton.jsx
  superset/assets/src/SqlLab/components/ShareSqlLabQuery.jsx
  superset/assets/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset/assets/src/components/ErrorBoundary.jsx
  superset/assets/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/M

#8145 Revert "Fixed Histogram visualization bug. "
  superset/viz.py
Labels: size/S

#8146 Revert "Allow resizing width of SQL Lab left bar / editor"
  superset/assets/package-lock.json
  superset/assets/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/constants.js
  superset/assets/src/SqlLab/main.less
Labels: size/L

#8147 Revert "Fix tooltips not visible for NVD3 charts on Firefox (#7822)"
  superset/assets/stylesheets/less/index.less
Labels: size/XS

#8148 Adding explicit include for version_info.json
  MANIFEST.in
Labels: size/XS
