Repository apache/superset, pull requests merged in 2019-04, with the labels that each got.

#7166 [encoding] Adding explicit encoding when opening file contain utf-8 characters
  superset/__init__.py
Labels: #bug, v0.31

#7179 Fix: Click OK button cannot close error message modal
  superset/assets/src/SqlLab/components/ExploreResultsButton.jsx
Labels: #bug, .SQLLab

#7180 fix: do not crash when a vis type is disabled.
  superset/assets/src/explore/components/ControlPanelsContainer.jsx
  superset/assets/src/explore/components/controls/VizTypeControl.jsx
  superset/assets/src/explore/controlPanels/index.js
  superset/assets/src/explore/store.js
Labels: #bug, review

#7194 [SQL Lab] Added missing i18n statements
  superset/assets/src/SqlLab/components/LimitControl.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/SqlLab/components/ShareSqlLabQuery.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TemplateParamsEditor.jsx
Labels: #enhancement, .i18n

#7036 [security] make it easier to redefine Alpha/Gamma
  superset/security.py
Labels: #enhancement, .security

#7188 fix: deck.gl polygon tooltip
  superset/assets/package-lock.json
  superset/assets/src/visualizations/Legend.css
  superset/assets/src/visualizations/Legend.jsx
  superset/assets/src/visualizations/deckgl/utils.js
Labels: lyft, review

#7137 Change number format default
  superset/assets/backendSync.json
  superset/assets/src/explore/controlPanels/Bubble.js
  superset/assets/src/explore/controls.jsx
Labels: #enhancement, lyft, review

#7205 chore: [lyftga] update necessary packages
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: lyft, minor-review, review

#7123 [Data Source Editor][Bugfix] Use type of NUMERIC instead of NUMBER
  superset/assets/src/datasource/DatasourceEditor.jsx
  superset/connectors/base/models.py
Labels: #bug, review

#7210 chore: revert bignumber.js patch for charts and reapply the original bignumber.js change to SQL editor in an opt-in fashion
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/spec/javascripts/chart/transformBigNumber_spec.js
  superset/assets/spec/javascripts/visualizations/deckgl/utils_spec.js
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/chart/transformBigNumber.js
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
  superset/assets/src/visualizations/deckgl/Multi/Multi.jsx
  superset/assets/src/visualizations/deckgl/factory.jsx
  superset/assets/src/visualizations/deckgl/layers/Arc/Arc.jsx
  superset/assets/src/visualizations/deckgl/layers/Geojson/Geojson.jsx
  superset/assets/src/visualizations/deckgl/layers/Grid/Grid.jsx
  superset/assets/src/visualizations/deckgl/layers/Hex/Hex.jsx
  superset/assets/src/visualizations/deckgl/layers/Path/Path.jsx
  superset/assets/src/visualizations/deckgl/layers/Polygon/Polygon.jsx
  superset/assets/src/visualizations/deckgl/layers/Scatter/Scatter.jsx
  superset/assets/src/visualizations/deckgl/layers/Screengrid/Screengrid.jsx
  superset/assets/src/visualizations/deckgl/layers/common.jsx
  superset/assets/src/visualizations/deckgl/utils.js
Labels: #code-quality, .js, lyft, review

#7032 Fetch charts with GET to benefit from browser cache and conditional requests
  superset/assets/cypress/integration/dashboard/controls.js
  superset/assets/cypress/integration/dashboard/edit_mode.js
  superset/assets/cypress/integration/dashboard/filter.js
  superset/assets/cypress/integration/dashboard/load.js
  superset/assets/cypress/integration/dashboard/save.js
  superset/assets/cypress/integration/explore/control.test.js
  superset/assets/cypress/integration/explore/link.test.js
  superset/assets/package-lock.json
  superset/assets/spec/javascripts/chart/chartActions_spec.js
  superset/assets/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/chart/chartAction.js
  superset/assets/src/dashboard/components/Dashboard.jsx
  superset/assets/src/dashboard/containers/Dashboard.jsx
  superset/assets/src/explore/components/ExploreChartHeader.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
  superset/assets/src/explore/exploreUtils.js
  superset/utils/decorators.py
  superset/views/core.py
  superset/views/utils.py
Labels: #enhancement, lyft, risk:breaking-change

#7148 Celery task for warming up cache
  docs/installation.rst
  superset/assets/package-lock.json
  superset/tasks/__init__.py
  superset/tasks/cache.py
  tests/strategy_tests.py
Labels: #enhancement, lyft

#7220 [filter_box] allow empty filters list
  superset/assets/src/explore/controls.jsx
Labels: lyft

#7240 Fix for tagging backend
  superset/models/tags.py
  superset/views/tags.py
Labels: #bug, #code-quality, .backend, lyft

#7242 Fix race condition when fetching results in SQL Lab (#7198)
  superset/sql_lab.py
  superset/views/core.py
Labels: #bug, .SQLLab, v0.31

#7244 [filter_box] allow empty filters list (#7220)
  superset/assets/src/explore/controls.jsx
Labels: #bug, v0.31

#7105 Fix logo / branding files
  superset/assets/branding/FullLockupWithText.svg
  superset/assets/branding/FullLockupWithText@2x.png
  superset/assets/branding/FullLockupWithoutText@1x.svg
  superset/assets/branding/FullLockupWithoutText@2x.png
  superset/assets/branding/Horizontal.svg
  superset/assets/branding/Horizontal@2x.png
  superset/assets/branding/SoloMark.png
  superset/assets/branding/SoloMark@1x.svg
  superset/assets/branding/Superset_Logo_Gradient_Text.png
  superset/assets/branding/Superset_Logo_Gradient_Text.svg
  superset/assets/branding/Superset_Logo_Gradient_Text@2x.png
  superset/assets/branding/Superset_Logo_Horizontal_Lockup.png
  superset/assets/branding/Superset_Logo_Horizontal_Lockup.svg
  superset/assets/branding/Superset_Logo_Horizontal_Lockup@2x.png
  superset/assets/branding/Superset_Logo_No_Text.png
  superset/assets/branding/Superset_Logo_No_Text.svg
  superset/assets/branding/Superset_Logo_No_Text@2x.png
  superset/assets/branding/Superset_Logo_Vertical_Lockup.png
  superset/assets/branding/Superset_Logo_Vertical_Lockup.svg
  superset/assets/branding/Superset_Logo_Vertical_Lockup@2x.png
  superset/assets/branding/superset-logo-horiz-apache.png
  superset/assets/branding/superset-logo-horiz-apache.svg
  superset/assets/branding/superset-logo-horiz.png
  superset/assets/branding/superset-logo-horiz.svg
  superset/assets/branding/superset-logo-stacked-apache.png
  superset/assets/branding/superset-logo-stacked-apache.svg
  superset/assets/branding/superset-logo-stacked.png
  superset/assets/branding/superset-logo-stacked.svg
Labels: design-review

#7250 Fix partition query in Presto
  superset/db_engine_specs.py
Labels: #bug, .database, lyft, minor-review

#7227 Improve cache
  superset/utils/decorators.py
Labels: #enhancement, .python, lyft, minor-review, review

#7248 Fix refresh frequency
  superset/assets/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset/assets/src/dashboard/components/Header.jsx
  superset/assets/src/dashboard/components/HeaderActionsDropdown.jsx
  superset/assets/src/dashboard/reducers/dashboardState.js
Labels: #bug, .dashboard, .js, .ux, lyft, minor-review

#7164 [cache] Render label when cached
  superset/assets/src/explore/components/ExploreChartHeader.jsx
Labels: #bug

#6945 [db migration] add parent ids into Dashboard layout metadata
  superset/migrations/versions/80669c0097a6_add_parent_ids_in_dashboard_layout.py
  superset/migrations/versions/c8beba38d316_.py
Labels: #enhancement, risk:db-migration

#7121 [SQL Lab] fix table metadata loading spinner
  superset/assets/src/SqlLab/components/TableElement.jsx
  superset/assets/src/components/Loading.css
  superset/assets/src/components/Loading.jsx
Labels: #enhancement, lyft, need:update

#7211 Deprecate npm run backend-sync and related logic
  CONTRIBUTING.md
  UPDATING.md
  contrib/docker/Dockerfile
  contrib/docker/docker-entrypoint.sh
  superset/__init__.py
  superset/assets/package.json
  superset/assets/src/syncBackend.js
  superset/legacy.py
  superset/migrations/versions/a99f2f7c195a_rewriting_url_from_shortner_with_new_.py
  superset/migrations/versions/db0c65b146bd_update_slice_model_json.py
  superset/views/core.py
Labels: #code-quality

#7100 Improve code smell, use py3k super() call
  superset/viz.py
Labels: #code-quality, .python, review

#6959 bugfix: improve 'Time Table'
  superset/assets/src/explore/components/controls/CollectionControl.jsx
  superset/assets/src/explore/components/controls/TimeSeriesColumnControl.jsx
  superset/assets/src/explore/controlPanels/TimeTable.js
  superset/assets/src/explore/controls.jsx
  superset/assets/src/utils/getClientErrorObject.js
Labels: lyft

#7271 Add all database access permission to 'Alpha' role
  superset/security.py
  tests/security_tests.py
Labels: need:more-info, review

#7113 [slice] Fix, remove duplicate label_columns property
  superset/views/core.py
Labels: #code-quality, .python, review

#7231 bugfix: control validation handling and related state / queries
  .gitignore
  CONTRIBUTING.md
  superset/assets/cypress/integration/explore/control.test.js
  superset/assets/cypress/integration/explore/link.test.js
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/chart/ChartRenderer.jsx
  superset/assets/src/explore/components/Control.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
  superset/assets/src/explore/reducers/exploreReducer.js
  superset/assets/src/explore/reducers/getInitialState.js
  superset/assets/src/explore/store.js
Labels: lyft

#7329 [docs] improve the RELEASING.md docs
  RELEASING.md
Labels: #ASF, #documentation

#7076 fix: 'Unhashable type' in paired t-test chart
  superset/viz.py
Labels: #bug, lyft, review

#7013 [table] highlight selected <td>s
  superset/assets/stylesheets/superset.less
Labels: #bug

#6936 Allow Gamma and Alpha to access '/users/userinfo/'
  superset/security.py
  tests/core_tests.py
  tests/security_tests.py
Labels: #bug

#7345 improve not rich tooltip
  superset/viz.py
Labels: size/XS

#7341 Create .github/issue_label_bot.yaml for label bot.
  .github/issue_label_bot.yaml
Labels: size/XS

#7347 fix: do not save colors without a color scheme
  superset/assets/src/dashboard/components/Header.jsx
  superset/assets/src/dashboard/components/SaveModal.jsx
Labels: size/XS

#7084 [wtforms] Strip leading/trailing whitespace
  superset/migrations/versions/d94d33dbe938_form_strip.py
  superset/views/base.py
  tox.ini
Labels: risk:db-migration

#5451 [schema] Updating the datasources schema
  UPDATING.md
  superset/connectors/druid/models.py
  superset/migrations/versions/937d04c16b64_update_datasources.py
Labels: risk:db-migration

#7358 limit tables/views returned if schema is not provided
  superset/models/core.py
  superset/views/core.py
Labels: #enhancement, .python, lyft, minor-review, review, size/S

#7342 Add type anno
  .travis.yml
  superset/utils/cache.py
  superset/utils/core.py
Labels: #code-quality, size/M

#5452 [schema] Updating the base column schema
  UPDATING.md
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/7f2635b51f5d_update_base_columns.py
  tests/sqllab_tests.py
Labels: risk:db-migration, size/L

#7361 [migration] Using existing_type rather than type_
  superset/migrations/versions/937d04c16b64_update_datasources.py
Labels: size/XS

#7348 Feature flag for client cache
  superset/assets/cypress/integration/dashboard/controls.js
  superset/assets/cypress/integration/dashboard/edit_mode.js
  superset/assets/cypress/integration/dashboard/filter.js
  superset/assets/cypress/integration/dashboard/load.js
  superset/assets/cypress/integration/dashboard/save.js
  superset/assets/src/chart/Chart.jsx
  superset/assets/src/chart/chartAction.js
  superset/assets/src/featureFlags.ts
  superset/config.py
Labels: .js, lyft, minor-review, size/XS

#7331 remove backendSync.json
  superset/assets/backendSync.json
Labels: #code-quality

#7087 [bubbles] issue when using duplicated metrics
  superset/viz.py
Labels: #bug, .backend, .vis, review

#7359 SUPERSET-7: Docker compose config version breaks on Ubuntu 16.04
  contrib/docker/docker-compose.yml
Labels: size/XS

#7371 [schema] Adding commits and removing unnecessary foreign-key definitions
  superset/migrations/versions/7f2635b51f5d_update_base_columns.py
Labels: size/S

#7181 Store last selected dashboard in sessionStorage
  superset/assets/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset/assets/src/explore/components/SaveModal.jsx
  superset/views/core.py
Labels: #enhancement, .dashboard

#5453 [schema] Updating the base metric schema
  UPDATING.md
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/e9df189e5c7e_update_base_metrics.py
  tests/dict_import_export_tests.py
  tests/import_export_tests.py
Labels: risk:db-migration, size/L

#7365 Fix form in saving email schedule
  superset/views/schedules.py
Labels: size/XS

#7407 Added living goods as among the users of Superset
  README.md
Labels: size/XS

#7391 feat: see Presto row and array data types
  superset/db_engine_specs.py
  superset/models/core.py
  superset/models/sql_types/presto_sql_types.py
  tests/db_engine_specs_test.py
Labels: size/L

#7390 [dashboard] allow user re-order top-level tabs
  superset/assets/spec/javascripts/dashboard/actions/dashboardLayout_spec.js
  superset/assets/src/dashboard/actions/dashboardLayout.js
  superset/assets/src/dashboard/components/DashboardBuilder.jsx
  superset/assets/src/dashboard/components/gridComponents/Tab.jsx
Labels: size/M

#7411 [SQL Lab] Increase timeout threshold for offline check
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
Labels: size/XS

#7410 Setting renderTrigger on label_colors
  superset/assets/src/explore/controls.jsx
Labels: #bug, size/XS

#7350 Refactor out controlUtils.js module + unit tests
  superset/assets/spec/javascripts/explore/components/ControlPanelsContainer_spec.jsx
  superset/assets/spec/javascripts/explore/controlUtils_spec.jsx
  superset/assets/spec/javascripts/explore/store_spec.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
  superset/assets/src/explore/controlUtils.js
  superset/assets/src/explore/reducers/exploreReducer.js
  superset/assets/src/explore/reducers/getInitialState.js
  superset/assets/src/explore/store.js
  superset/assets/src/visualizations/deckgl/utils.js
Labels: #code-quality, review, size/L
