Repository apache/superset, pull requests merged in 2019-10, with the labels that each got.

#8298 Allow overwriting a SQLLab query that has previously been saved
  .gitignore
  superset/assets/package.json
  superset/assets/spec/javascripts/sqllab/SaveQuery_spec.jsx
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/SaveQuery.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/SqlLab/utils/reduxStateToLocalStorageHelper.js
  superset/views/core.py
  superset/views/sql_lab.py
Labels: size/L

#8305 [SQL Lab] Improve autocomplete
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
Labels: size/M

#8304 [Presto] Handle uncaught exception in get_create_view
  superset/db_engine_specs/presto.py
Labels: size/XS

#8175 [metric] Exposing security methods for visualizations and query-context
  superset/security.py
  superset/views/api.py
  superset/views/core.py
  tests/security_tests.py
Labels: size/L

#8299 fix: npm audit fix bumps handlebars 4.1.2->4.3.1
  superset/assets/package-lock.json
Labels: size/XS

#8296 #8294: Set moment library language during app setup
  superset/assets/src/preamble.js
Labels: size/S

#8347 [docs] Add Deepomatic in organization list
  README.md
Labels: size/XS

#8344 Add Fanatics to companies that use Superset
  README.md
Labels: size/XS

#8332 [fix] make names non-nullable
  UPDATING.md
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/b6fa807eac07_make_datasource_names_non_nullable.py
  superset/models/core.py
  tests/core_tests.py
  tests/db_engine_specs_test.py
  tests/model_tests.py
  tests/sqla_models_tests.py
Labels: size/M

#8338 Fix lint in `superset/db_engine_spec`
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/kylin.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/redshift.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/db_engine_specs/teradata.py
  superset/db_engine_specs/vertica.py
  tests/db_engine_specs_test.py
Labels: size/L

#8350 Remove unused methods from Presto
  superset/db_engine_specs/presto.py
  tests/db_engine_specs_test.py
Labels: size/L

#8351 fix saving new sql lab queries
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/views/sql_lab.py
Labels: size/S

#8343 Add support for Exasol
  docs/index.rst
  docs/installation.rst
  superset/db_engine_specs/exasol.py
Labels: size/M

#8005 Revert "[init] Setting up cache before registering blueprints"
  superset/__init__.py
Labels: inactive, size/XS

#8330 Fix pypi link and replace gitter badge with slack
  README.md
Labels: size/XS

#8345 [dashboard] show fewer filter indicators
  superset/assets/src/dashboard/components/FilterIndicatorGroup.jsx
  superset/assets/src/dashboard/components/FilterIndicatorsContainer.jsx
  superset/assets/src/dashboard/util/constants.js
Labels: size/S

#8363 Revert "[fix] make names non-nullable"
  UPDATING.md
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/b6fa807eac07_make_datasource_names_non_nullable.py
  superset/models/core.py
  tests/core_tests.py
  tests/db_engine_specs_test.py
  tests/model_tests.py
  tests/sqla_models_tests.py
Labels: size/M

#8365 Add komoot to the companies that use superset in README
  README.md
Labels: size/XS

#8368 [Docs] Put superset users in abc order
  README.md
Labels: size/XS

#8369 [doc] Add incubating to NOTICE
  NOTICE
Labels: size/XS

#8374 [Cypress] Skip another flaky sqllab test
  superset/assets/cypress/integration/sqllab/query.js
Labels: size/XS

#8372 [migration] Migrating since/until to time_range
  superset/migrations/versions/1495eb914ad3_time_range.py
Labels: size/M

#8376 [doc] Add 0.34.1 cherries to changelog
  CHANGELOG.md
Labels: size/S

#8390 [form-data] Deleting obsolete Superset.get_form_data method
  superset/views/core.py
Labels: size/M

#8371 [migration] make names non-nullable
  UPDATING.md
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/b6fa807eac07_make_names_non_nullable.py
  superset/models/core.py
  tests/core_tests.py
  tests/db_engine_specs_test.py
  tests/druid_tests.py
  tests/model_tests.py
  tests/sqla_models_tests.py
Labels: size/L

#8399 Update Slack invitation link
  README.md
  docs/index.rst
Labels: size/XS

#8367 [docs] CTAS on PostgreSQL needs commit to apply
  docs/installation.rst
  docs/sqllab.rst
Labels: #documentation, size/S

#8370 [Config] Cache static resources
  UPDATING.md
  superset/config.py
  superset/views/core.py
Labels: .config, size/S

#7702 [SIP-15A] Enforcing ISO 8601 date/timestamp formats
  superset/assets/src/datasource/DatasourceEditor.jsx
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
Labels: size/M

#8413 Fix typo in installation instructions (install instructions runserver port)
  docs/installation.rst
Labels: size/XS

#8353 [tests] Fix, removing deprecated function for future Python release compatibility.
  tests/access_tests.py
  tests/base_tests.py
  tests/celery_tests.py
  tests/dashboard_tests.py
  tests/dataframe_test.py
  tests/datasource_tests.py
  tests/db_engine_specs_test.py
  tests/dict_import_export_tests.py
  tests/druid_tests.py
  tests/import_export_tests.py
  tests/migration_tests.py
  tests/model_tests.py
  tests/schedules_test.py
  tests/sql_parse_tests.py
  tests/sqla_models_tests.py
  tests/sqllab_tests.py
  tests/utils_tests.py
  tests/viz_tests.py
Labels: size/XL

#8331 Add improved typed casting to BigQuery
  superset/db_engine_specs/bigquery.py
Labels: #enhancement, .database, minor-review, review, size/S

#8423 chore: fix master isort issue +
  superset/assets/cypress/integration/dashboard/controls.js
  superset/db_engine_specs/bigquery.py
Labels: size/XS

#8430 [pydruid] Bumping the pydruid version
  setup.py
Labels: size/XS

#8419 docs: add a note to RELEASING about Slack Channel
  RELEASING/README.md
Labels: size/XS

#8422 docs: Add an 'Orientation' section to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: #documentation, size/S

#8381 [fix] refine release instructions
  RELEASING/README.md
  pypi_push.sh
Labels: size/L

#8436 [fix] Updating parse_human_timedelta typing
  superset/common/query_object.py
  superset/utils/core.py
  tests/utils_tests.py
Labels: size/XS

#8442 Docs homepage spelling fix
  docs/index.rst
Labels: size/XS

#8444 explain the need to enable async queries
  docs/installation.rst
Labels: size/XS

#8438 introduce a space in command line option
  docs/installation.rst
Labels: size/XS

#8449 Split up tests/db_engine_test.py
  tests/db_engine_specs/base_engine_spec_tests.py
  tests/db_engine_specs/base_tests.py
  tests/db_engine_specs/bigquery_tests.py
  tests/db_engine_specs/hive_tests.py
  tests/db_engine_specs/mssql_tests.py
  tests/db_engine_specs/mysql_tests.py
  tests/db_engine_specs/oracle_tests.py
  tests/db_engine_specs/pinot_tests.py
  tests/db_engine_specs/postgres_tests.py
  tests/db_engine_specs/presto_tests.py
  tests/db_engine_specs_test.py
Labels: size/XXL

#8439 [setup] Fix, download_url
  setup.py
Labels: size/XS

#8389 Allow fetching all rows from results endpoint
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/App.jsx
  superset/assets/src/SqlLab/components/QueryHistory.jsx
  superset/assets/src/SqlLab/components/QuerySearch.jsx
  superset/assets/src/SqlLab/components/QueryTable.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/SqlLab/components/SouthPane.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/views/base.py
  superset/views/core.py
  superset/views/utils.py
  tests/core_tests.py
Labels: #enhancement, .SQLLab, lyft, minor-review, review, size/L

#8458 CLI: removed repeated word
  superset/cli.py
Labels: size/XS

#8433 [docs] Crafting a new release
  RELEASING/README.md
  scripts/sign.sh
Labels: size/M

#8448 Add UI-only database configuration method for extended authorization scenarios
  CONTRIBUTING.md
  superset/migrations/versions/cca2f5d568c8_add_encrypted_extra_to_dbs.py
  superset/models/core.py
  superset/templates/superset/models/database/add.html
  superset/templates/superset/models/database/edit.html
  superset/templates/superset/models/database/macros.html
  superset/views/database/__init__.py
Labels: size/M

#8441 [db engine] Add support for Elasticsearch
  docs/index.rst
  docs/installation.rst
  setup.py
  superset/db_engine_specs/elasticsearch.py
Labels: size/M

#8450 [SIP-15] Making client time use UTC as the local time
  UPDATING.md
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
  superset/assets/src/explore/controls.jsx
Labels: size/M

#8398 [SIP-15] Adding initial framework
  docs/installation.rst
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/spec/javascripts/messageToasts/components/Toast_spec.jsx
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
  superset/assets/src/explore/controlPanels/sections.jsx
  superset/assets/src/explore/controls.jsx
  superset/assets/src/messageToasts/components/Toast.jsx
  superset/assets/src/messageToasts/stylesheets/toast.less
  superset/config.py
  superset/connectors/sqla/models.py
  superset/utils/core.py
  superset/views/core.py
  superset/views/utils.py
  superset/viz.py
Labels: size/L

#8462 Provide documentation for using a Service Account to connect to BigQuery
  docs/installation.rst
Labels: size/S

#8471 [Datasource Editor] A few small UI changes in modal to prevent accidental edits
  superset/assets/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset/assets/src/datasource/DatasourceEditor.jsx
  superset/assets/src/datasource/main.css
  superset/assets/src/explore/components/controls/DatasourceControl.jsx
Labels: size/M

#8465 Update UPDATING.md
  UPDATING.md
Labels: size/S

#8432 docs: more release instructions
  RELEASING/README.md
Labels: size/M

#8454 Use `config[]` not `config.get()`
  CONTRIBUTING.md
  superset/__init__.py
  superset/cli.py
  superset/common/query_object.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/examples/birth_names.py
  superset/examples/multiformat_time_series.py
  superset/examples/random_time_series.py
  superset/examples/unicode_test_data.py
  superset/examples/world_bank.py
  superset/jinja_context.py
  superset/migrations/env.py
  superset/models/core.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/tasks/schedules.py
  superset/templates/appbuilder/navbar.html
  superset/templates/appbuilder/navbar_right.html
  superset/utils/core.py
  superset/utils/log.py
  superset/utils/logging_configurator.py
  superset/views/core.py
  superset/views/database/views.py
  superset/views/log/api.py
  superset/views/log/views.py
  superset/views/schedules.py
  superset/views/utils.py
  superset/viz.py
  tests/access_tests.py
  tests/base_tests.py
  tests/celery_tests.py
  tests/email_tests.py
  tests/security_tests.py
Labels: size/L

#8482 Re-enable DRUID_IS_ACTIVE flag
  superset/connectors/druid/views.py
Labels: size/M

#8487 fixing typo.
  superset/examples/world_bank.py
Labels: size/XS

#8486 Enhance docs for email reporting
  docs/installation.rst
Labels: size/M

#8481 [SIP-15] Fix time range endpoints decoding
  superset/views/utils.py
  tests/utils_tests.py
Labels: size/S

#8474 [SIP-15] Adding database level python-date-format
  docs/installation.rst
  superset/assets/src/datasource/DatasourceEditor.jsx
  superset/config.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
Labels: size/M
