Repository apache/superset, pull requests merged in 2019-12, with the labels that each got.

#8678 fix: default missing values to zero on area chart
  superset/viz.py
Labels: size/XS

#8707 [SQL Lab] Re-add erroneously removed css
  superset/assets/src/SqlLab/main.less
Labels: size/M

#8657 fix: vulnerabilities by running 'npm audit fix'
  superset/assets/package-lock.json
Labels: preset-io, size/XS

#8710 Update docs on gunicorn
  docs/installation.rst
Labels: size/XS

#8713 Split functionality out of views/database/__init__.py, re-enable pylint
  superset/views/database/__init__.py
  superset/views/database/api.py
  superset/views/database/forms.py
  superset/views/database/mixins.py
  superset/views/database/validators.py
  superset/views/database/views.py
Labels: size/XL

#8716 [SQL Lab] Fix unadjustable sql editor height
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/main.less
Labels: size/XS

#8715 fix: #8711 CSS loads late and app flickers
  superset/assets/webpack.config.js
Labels: size/XS

#8714 [fix] Druid IS NULL/IS NOT NULL filters
  superset/connectors/druid/models.py
  tests/druid_func_tests.py
Labels: size/S

#8680 [release] Fix, update superset docs process
  RELEASING/Dockerfile.make_docs
  RELEASING/README.md
  RELEASING/make_docs.sh
  RELEASING/make_docs_entrypoint.sh
  RELEASING/set_release_env.sh
Labels: #documentation, preset-io, size/XS

#8693 [jinja_context] Fix, allow for app factory pattern
  .travis.yml
  docs/sqllab.rst
  superset/__init__.py
  superset/app.py
  superset/extensions.py
  superset/jinja_context.py
  tox.ini
Labels: preset-io, size/S

#8718 Import `filter_immune_slice_fields` when importing dashboards
  superset/models/core.py
Labels: size/S

#8719 [Explore] should not trigger chart render when overlay is on
  superset/assets/spec/javascripts/chart/ChartRenderer_spec.jsx
  superset/assets/src/chart/ChartRenderer.jsx
Labels: size/M

#8721 Add protocol to cache warmup
  UPDATING.md
  superset/config.py
  superset/tasks/cache.py
  tests/strategy_tests.py
Labels: size/XS

#8734 [Explore] Fix annotation layer select box formatting
  superset/assets/src/explore/components/controls/AnnotationLayer.jsx
  superset/assets/src/explore/components/controls/AnnotationLayer.less
Labels: size/M

#8219 Support schema permissions
  superset/assets/cypress.json
  superset/connectors/base/models.py
  superset/connectors/connector_registry.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/5afa9079866a_serialize_schema_permissions_py.py
  superset/models/core.py
  superset/security.py
  superset/views/base.py
  superset/views/core.py
  superset/views/database/mixins.py
  superset/views/sql_lab.py
  tests/security_tests.py
  tests/utils_tests.py
Labels: size/XL

#8726 require a series on a bar chart in the UI
  superset/assets/src/explore/controlPanels/DistBar.js
Labels: preset-io, size/XS

#8735 Fixing up Docker installation docs
  docs/installation.rst
Labels: preset-io, size/S

#8738 bump style-loader to fix FOUC when sourcemaps are enabled
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: preset-io, size/XS

#8724 handle nulls in bar chart series/breakdown
  superset/assets/spec/javascripts/utils/common_spec.jsx
  superset/assets/src/utils/common.js
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/constants.py
  superset/viz.py
  tests/viz_tests.py
Labels: preset-io, size/M

#8740 [filter_box] Fix show time column in filter_box
  superset/assets/spec/javascripts/dashboard/util/getFilterConfigsFromFormdata_spec.js
  superset/assets/src/dashboard/util/getFilterConfigsFromFormdata.js
Labels: size/M

#8674 [fix] Chart specific time controls
  superset/assets/src/explore/controlPanels/Area.js
  superset/assets/src/explore/controlPanels/Bar.js
  superset/assets/src/explore/controlPanels/BigNumber.js
  superset/assets/src/explore/controlPanels/Compare.js
  superset/assets/src/explore/controlPanels/Iframe.js
  superset/assets/src/explore/controlPanels/Line.js
  superset/assets/src/explore/controlPanels/Markup.js
  superset/assets/src/explore/controlPanels/Separator.js
  superset/assets/src/explore/controlPanels/TimePivot.js
  superset/assets/src/explore/controlPanels/TimeTable.js
  superset/assets/src/explore/controlPanels/sections.jsx
Labels: size/M

#8742 [fix] Updating bound filters for PyDruid 0.5.7
  requirements-dev.txt
  superset/connectors/druid/models.py
  tests/druid_func_tests.py
Labels: size/M

#8732 [config] Enables swagger UI by default
  UPDATING.md
  superset/config.py
Labels: preset-io, size/XS

#8754 [docs] Fix, UPDATING had two changes that were not included on 0.35
  UPDATING.md
Labels: preset-io, size/XS

#8757 improve performance for filter form selects
  superset/assets/src/explore/components/controls/SelectControl.jsx
Labels: preset-io, size/XS

#8746 Correcting some issues with the Time-Series Table
  superset/assets/src/explore/components/controls/TimeSeriesColumnControl.jsx
  superset/assets/src/explore/controls.jsx
  superset/assets/src/visualizations/TimeTable/TimeTable.jsx
Labels: preset-io, size/XS

#8745 Adding error message when there's no partition for a presto table
  superset/db_engine_specs/presto.py
Labels: size/XS

#8712 guard against duplicate columns in datasource save
  superset/views/datasource.py
  tests/datasource_tests.py
Labels: preset-io, size/M

#8739 Change column to longtext
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/reducers/getInitialState.js
  superset/migrations/versions/89115a40e8ea_change_table_schema_description_to_long_.py
  superset/models/sql_lab.py
Labels: size/L

#8722 [fix] Remedying filter-box w/ invalid metrics
  superset/assets/src/explore/components/controls/FilterBoxItemControl.jsx
  superset/viz.py
Labels: size/M

#8744 Fixing default Dockerfile entrypoint
  docker/docker-entrypoint.sh
Labels: preset-io, size/XS

#8614 SHA display touchups
  superset/assets/stylesheets/superset.less
  superset/config.py
  superset/templates/appbuilder/navbar_right.html
Labels: preset-io, size/XS

#8741 fix: remove unused .js module
  superset/assets/spec/javascripts/explore/components/ControlPanelsContainer_spec.jsx
  superset/assets/src/explore/components/controls/FilterPanel.tsx
  superset/assets/src/explore/components/controls/index.js
  superset/assets/src/explore/controlPanels/sections.jsx
  superset/assets/src/explore/controlUtils.js
  superset/assets/src/explore/controls.jsx
  superset/assets/src/featureFlags.ts
Labels: preset-io, size/M

#8748 [fix] Fixing time controls when switching datasource types
  superset/assets/src/explore/reducers/exploreReducer.js
Labels: size/S

#8759 Bump viz plugins for bug bash fixes
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: size/XS

#8654 adds react-router to welcome component
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/welcome/App.jsx
Labels: preset-io, size/M

#8760 Removing upgrade of pip from Docker build
  Dockerfile
Labels: preset-io, size/XS

#8764 [fix] Adding time grains to PivotTable
  superset/assets/src/explore/controlPanels/PivotTable.js
Labels: size/XS

#8775 Splitting up some of the Docker build steps
  Dockerfile
  docker-compose.yml
  docker/docker-init.sh
  docker/pythonpath_dev/superset_config.py
Labels: preset-io, size/M

#8782 Adding updates to CONTRIBUTING and UPDATING for app factory changes
  CONTRIBUTING.md
  UPDATING.md
Labels: preset-io, size/S

#8767 Re-enable pylint on some configuration files
  superset/config.py
  superset/forms.py
  superset/legacy.py
  superset/migrations/env.py
  superset/stats_logger.py
Labels: preset-io, size/M

#8771 Re-enable pylint for example-related files
  superset/examples/energy.py
  superset/examples/helpers.py
  superset/examples/tabbed_dashboard.py
  superset/examples/world_bank.py
Labels: preset-io, size/S

#8766 Re-enable pylint for superset/utils folder
  superset/utils/cache.py
  superset/utils/import_datasource.py
  superset/utils/log.py
Labels: preset-io, size/M

#8788 fix urlib opener bug
  superset/tasks/schedules.py
  tests/schedules_test.py
Labels: size/XS

#8787 fix create-admin
  CONTRIBUTING.md
  RELEASING/from_tarball_entrypoint.sh
  docker/docker-init.sh
  docs/installation.rst
Labels: size/XS

#8772 re-enable pylint for database compatibility layer
  superset/db_engine_specs/__init__.py
  superset/db_engine_specs/elasticsearch.py
  superset/db_engine_specs/exasol.py
  superset/db_engines/hive.py
Labels: preset-io, size/S

#8768 Do not delete schema permission on the table deletion
  superset/views/base.py
Labels: size/S

#8765 Re-enable Pylint on some celery-related files
  superset/tasks/celery_app.py
  superset/tasks/schedules.py
Labels: preset-io, size/S

#8761 docs: add copyright notice to conform to ASF requirements
  docs/conf.py
Labels: preset-io, size/L

#8728 Support timeFormat extraction function for Druid as filter field
  superset/connectors/druid/models.py
  tests/druid_func_tests.py
Labels: size/XS

#8793 Bump FAB to 2.2.1
  requirements.txt
  setup.py
Labels: preset-io, size/XS

#8769 Limit payload returned when using SQLLAB_BACKEND_PERSISTENCE
  superset/views/base.py
  superset/views/core.py
  tests/base_tests.py
  tests/core_tests.py
Labels: size/L

#8800 [fix] Adding time grains to DualLine
  superset/assets/src/explore/controlPanels/DualLine.js
Labels: size/XS

#8797 darker opacity on shadow border for highlighted cards
  superset/assets/src/dashboard/stylesheets/components/chart.less
Labels: preset-io, size/XS

#8729 fix: don't show filter popover on explore view load
  superset/assets/cypress/integration/explore/control.test.js
  superset/assets/src/explore/components/AdhocFilterOption.jsx
  superset/assets/src/explore/components/AdhocMetricOption.jsx
Labels: preset-io, size/XS

#8774 Re-enable pylint for common, connector, and test files
  superset/cli.py
  superset/common/query_context.py
  superset/connectors/base/views.py
  superset/connectors/connector_registry.py
  tests/fixtures/pyodbcRow.py
Labels: preset-io, size/L

#8799 Update sql validator status
  superset/sql_validators/presto_db.py
  superset/views/core.py
Labels: size/S

#8770 Re-enable pylint for some model files
  superset/models/annotations.py
  superset/models/core.py
  superset/models/helpers.py
  superset/models/schedules.py
  superset/models/sql_lab.py
  superset/models/tags.py
Labels: preset-io, size/L

#8773 re-enable Pylint on a number of view files
  superset/views/dashboard.py
  superset/views/datasource.py
  superset/views/log/__init__.py
  superset/views/sql_lab.py
  superset/views/tags.py
  superset/views/utils.py
Labels: preset-io, size/L

#8743 Fix a bunch of files with pylint disabled
  .pylintrc
  superset/exceptions.py
  superset/jinja_context.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/translations/utils.py
  superset/views/annotations.py
  superset/views/base.py
  superset/views/log/views.py
  superset/views/schedules.py
Labels: preset-io, size/L

#8806 [dashboard] fix time granularity display values
  superset/assets/src/dashboard/components/FilterIndicatorsContainer.jsx
  superset/assets/src/dashboard/containers/FilterIndicators.jsx
  superset/assets/src/dashboard/reducers/dashboardFilters.js
  superset/assets/src/dashboard/reducers/getInitialState.js
  superset/assets/src/dashboard/util/getFilterConfigsFromFormdata.js
  superset/assets/src/dashboard/util/propShapes.jsx
  superset/assets/src/explore/constants.js
  superset/assets/src/explore/controls.jsx
  superset/assets/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/M

#8720 Require the SQLAlchemy URI on the database model
  superset/migrations/versions/817e1c9b09d0_add_not_null_to_dbs_sqlalchemy_url.py
  superset/models/core.py
  tests/base_tests.py
  tests/security_tests.py
Labels: preset-io, size/XS

#8812 [filter_box] dashboard should carry defaultValue in filter_box
  superset/assets/spec/javascripts/dashboard/util/getFilterConfigsFromFormdata_spec.js
  superset/assets/src/dashboard/util/getFilterConfigsFromFormdata.js
Labels: size/S

#8815 Fix for when there are no dashboards
  superset/assets/src/welcome/DashboardTable.jsx
Labels: size/XS

#8825 [fix] Adding time grains to Table
  superset/assets/src/explore/controlPanels/Table.js
Labels: size/XS

#8814 Move function in utils folder to fix circular import issues
  superset/utils/core.py
  superset/utils/dashboard_import_export.py
  tests/import_export_tests.py
Labels: preset-io, size/M

#8829 [dashboard] fix duplicated chart fetching when dashboard has default filters
  superset/assets/src/dashboard/components/Dashboard.jsx
Labels: size/S

#8836 Fix dev-server parameter example
  CONTRIBUTING.md
Labels: size/XS

#8833 [fix][sqllab] nullable booleans in dataframe
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/presto.py
Labels: size/XS

#8694 [dashboard] feat: REST API
  superset/models/core.py
  superset/utils/core.py
  superset/views/api.py
  superset/views/base.py
  superset/views/core.py
  superset/views/dashboard.py
  superset/views/dashboard/__init__.py
  superset/views/dashboard/api.py
  superset/views/dashboard/filters.py
  superset/views/dashboard/mixin.py
  superset/views/dashboard/views.py
  tests/base_tests.py
  tests/dashboard_api_tests.py
Labels: preset-io, size/XXL

#8826 Add user agent logs
  superset/sql_lab.py
  superset/views/core.py
Labels: size/M

#8851 fix: add default value to log param in sql_json
  superset/views/core.py
Labels: size/XS

#8850 Version number and SHA added to user menu
  superset/assets/spec/javascripts/components/Menu_spec.jsx
  superset/assets/src/components/Menu/Menu.jsx
  superset/assets/src/components/Menu/Menu.less
  superset/assets/src/components/Menu/UserMenu.jsx
  superset/config.py
  superset/views/base.py
Labels: preset-io, size/M

#8280 [superset] Core SQLAlchemy query refactor
  superset/views/core.py
Labels: preset-io, size/M

#8824 Re-enable pylint for superset/connectors/base/models.py
  superset/connectors/base/models.py
Labels: preset-io, size/M

#8854 Add toast presenter to Welcome app
  superset/assets/src/welcome/App.jsx
  superset/assets/src/welcome/DashboardTable.jsx
Labels: size/S

#8809 factor out DatasourceAccessRequest model
  superset/models/__init__.py
  superset/models/core.py
  superset/models/datasource_access_request.py
  superset/views/core.py
  tests/access_tests.py
  tests/base_tests.py
  tests/core_tests.py
Labels: preset-io, size/L

#8627 move cypress into its own directory with package.json
  CONTRIBUTING.md
  superset/assets/cypress-base/cypress.json
  superset/assets/cypress-base/cypress/.eslintrc
  superset/assets/cypress-base/cypress/fixtures/example.json
  superset/assets/cypress-base/cypress/integration/dashboard/controls.js
  superset/assets/cypress-base/cypress/integration/dashboard/dashboard.helper.js
  superset/assets/cypress-base/cypress/integration/dashboard/edit_mode.js
  superset/assets/cypress-base/cypress/integration/dashboard/fav_star.js
  superset/assets/cypress-base/cypress/integration/dashboard/filter.js
  superset/assets/cypress-base/cypress/integration/dashboard/index.test.js
  superset/assets/cypress-base/cypress/integration/dashboard/load.js
  superset/assets/cypress-base/cypress/integration/dashboard/save.js
  superset/assets/cypress-base/cypress/integration/dashboard/tabs.js
  superset/assets/cypress-base/cypress/integration/dashboard/url_params.js
  superset/assets/cypress-base/cypress/integration/explore/chart.test.js
  superset/assets/cypress-base/cypress/integration/explore/control.test.js
  superset/assets/cypress-base/cypress/integration/explore/link.test.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/area.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/big_number.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/big_number_total.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/box_plot.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/bubble.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/compare.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/dist_bar.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/dual_line.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/filter_box.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/histogram.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/index.test.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/line.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/pie.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/pivot_table.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/sankey.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/shared.helper.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/sunburst.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/table.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/time_table.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/treemap.js
  superset/assets/cypress-base/cypress/integration/explore/visualizations/world_map.js
  superset/assets/cypress-base/cypress/integration/sqllab/index.test.js
  superset/assets/cypress-base/cypress/integration/sqllab/query.js
  superset/assets/cypress-base/cypress/integration/sqllab/sourcePanel.js
  superset/assets/cypress-base/cypress/integration/sqllab/sqllab.helper.js
  superset/assets/cypress-base/cypress/integration/sqllab/tabs.js
  superset/assets/cypress-base/cypress/plugins/index.js
  superset/assets/cypress-base/cypress/support/commands.js
  superset/assets/cypress-base/cypress/support/index.js
  superset/assets/cypress-base/cypress/utils/readResponseBlob.js
  superset/assets/cypress-base/package-lock.json
  superset/assets/cypress-base/package.json
  superset/assets/cypress_build.sh
  superset/assets/package.json
Labels: preset-io

#8820 Refactor Dashboard and Slice models
  setup.cfg
  superset/connectors/base/models.py
  superset/examples/birth_names.py
  superset/examples/country_map.py
  superset/examples/deck.py
  superset/examples/energy.py
  superset/examples/helpers.py
  superset/examples/long_lat.py
  superset/examples/misc_dashboard.py
  superset/examples/multi_line.py
  superset/examples/multiformat_time_series.py
  superset/examples/random_time_series.py
  superset/examples/tabbed_dashboard.py
  superset/examples/unicode_test_data.py
  superset/examples/world_bank.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/tasks/cache.py
  superset/utils/dashboard_import_export.py
  superset/views/api.py
  superset/views/core.py
  superset/views/dashboard/filters.py
  superset/views/schedules.py
  superset/views/tags.py
  superset/views/utils.py
  superset/viz.py
  tests/base_tests.py
  tests/core_tests.py
  tests/dashboard_tests.py
  tests/druid_tests.py
  tests/import_export_tests.py
  tests/schedules_test.py
  tests/security_tests.py
Labels: preset-io, size/XXL

#8835 [explore view] fix: Inline edit chart title cause unintended overwrite original query parameter
  superset/assets/spec/javascripts/explore/components/ExploreChartHeader_spec.jsx
  superset/assets/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset/assets/src/explore/components/ExploreChartHeader.jsx
  superset/assets/src/explore/components/SaveModal.jsx
Labels: size/L

#8857 Removing some dividers to make header dropdown menus more consistent
  superset/connectors/druid/views.py
  superset/connectors/sqla/views.py
  superset/views/core.py
Labels: preset-io, size/S

#8872 [dashboard] New, get releated owners and slices
  superset/models/dashboard.py
  superset/views/base.py
  superset/views/dashboard/api.py
  tests/dashboard_api_tests.py
Labels: preset-io, size/L

#8866 Fix: broken reference
  superset/views/core.py
Labels: preset-io, size/XS

#8863 Ease switching of database engines for docker builds
  docker-compose.yml
  docker/.env
  docker/pythonpath_dev/superset_config.py
Labels: size/M

#8856 moving favicon(s) to config, allowing multiple favicons
  superset/config.py
  superset/templates/superset/basic.html
Labels: preset-io, size/S

#8882 [docker] Fix for #8880
  docker/.env
Labels: preset-io, size/S

#8900 chore: refactor, add typing and fix uncovered errors
  superset/app.py
  superset/common/query_context.py
  superset/config.py
  superset/connectors/base/models.py
  superset/connectors/connector_registry.py
  superset/connectors/sqla/models.py
  superset/dataframe.py
  superset/db_engine_specs/base.py
  superset/migrations/versions/258b5280a45e_form_strip_leading_and_trailing_whitespace.py
  superset/migrations/versions/c617da68de7d_form_nullable.py
  superset/migrations/versions/d94d33dbe938_form_strip.py
  superset/models/core.py
  superset/models/helpers.py
  superset/models/tags.py
  superset/sql_parse.py
  superset/stats_logger.py
  superset/views/annotations.py
  superset/views/base.py
  superset/views/datasource.py
  superset/viz.py
  tests/sqla_models_tests.py
  tests/viz_tests.py
Labels: size/L

#8906 Add new entry to lists of users of Apache Superset
  README.md
Labels: size/XS
