Repository apache/superset, pull requests merged in 2019-01, with the labels that each got.

#6504 Enhance Docker
  contrib/docker/docker-compose.yml
  contrib/docker/docker-entrypoint.sh
Labels: .backend, risk:breaking-change

#6524 [SIP 6] Querycontext improvement
  superset/assets/cypress/fixtures/example.json
  superset/assets/spec/javascripts/explore/utils_spec.jsx
  superset/assets/spec/javascripts/superset-ui/WordCloudBuildQuery.test.ts
  superset/assets/src/chart/chartAction.js
  superset/assets/src/explore/actions/saveModalActions.js
  superset/assets/src/explore/components/DisplayQueryButton.jsx
  superset/assets/src/explore/components/EmbedCodeButton.jsx
  superset/assets/src/explore/components/ExploreActionButtons.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
  superset/assets/src/explore/exploreUtils.js
  superset/assets/src/visualizations/deckgl/Multi/Multi.jsx
  superset/assets/src/visualizations/nvd3/LineMulti/LineMulti.jsx
  superset/assets/src/visualizations/wordcloud/FormData.ts
  superset/assets/src/visualizations/wordcloud/buildQuery.ts
  superset/assets/src/visualizations/wordcloud/transformProps.js
  superset/common/query_context.py
  superset/common/query_object.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/utils/core.py
  superset/views/api.py
  superset/viz.py
  tests/druid_func_tests.py
  tests/viz_tests.py
Labels: #feature

#6574 Fix 'Uncaught TypeError: Cannot read property 'value' of undefined'
  superset/assets/src/explore/controls.jsx
Labels: #bug, easy-review

#6593 Introduce a more visible resize grabber to the SQL editor
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset/assets/src/SqlLab/main.less
Labels: #refine, need:design-review

#6578 Improve false negative on AlteredSliceTag
  superset/assets/spec/javascripts/components/AlteredSliceTag_spec.jsx
  superset/assets/src/components/AlteredSliceTag.jsx
Labels: easy-review

#6607 Upgrade webpack-dev-server to fix 'npm audit' issue
  superset/assets/package-lock.json
  superset/assets/package.json
Labels: #code-quality, .dev-env

#6626 Improve padding in NVD3Vis
  superset/assets/src/visualizations/nvd3/NVD3Vis.js
Labels: #refine, easy-review, reviewable

#6614 data point no clipEdge
  superset/assets/src/visualizations/nvd3/NVD3Vis.js
Labels: #refine

#6630 README.md add kuaishou
  README.md
Labels: #documentation

#6497 pass source to db api mutator
  superset/models/core.py
  superset/sql_lab.py
  superset/utils/core.py
Labels: #feature

#6629 [README] use a numbered list instead of bullets for org list
  README.md
Labels: #documentation

#6617 #6588 Clear all other query tabs
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
Labels: #feature, need:design-review

#6436 [bugfix] show results in query history & revert #5848
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
  superset/assets/src/SqlLab/constants.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
Labels: #bug

#6631 Truncate long labels in x axis
  superset/assets/src/visualizations/nvd3/NVD3Vis.js
  superset/assets/src/visualizations/nvd3/utils.js
Labels: #refine, easy-review, reviewable

#6600 Add doc about translation using poedit
  CONTRIBUTING.md
Labels: #documentation

#6591 Fix for #6590: Numeric values in columns sometimes returned as quoted strings
  CONTRIBUTING.md
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/spec/helpers/shim.js
  superset/assets/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset/assets/spec/javascripts/welcome/DashboardTable_spec.jsx
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: #bug

#6682 Add HuiShouBao to organizations using superset
  README.md
Labels: #documentation

#5461 Deprecate auto-generated metrics
  superset/connectors/base/models.py
  superset/connectors/base/views.py
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/models.py
  superset/data/birth_names.py
  superset/data/country_map.py
  superset/data/energy.py
  superset/data/misc_dashboard.py
  superset/data/multi_line.py
  superset/data/multiformat_time_series.py
  superset/data/world_bank.py
  superset/migrations/versions/7467e77870e4_remove_aggs.py
  superset/migrations/versions/c829ff0b37d0_.py
  superset/migrations/versions/fbd55e0f83eb_.py
  superset/views/core.py
  tests/druid_tests.py
Labels: risk:db-migration

#6709 Add more format shims
  superset/assets/package-lock.json
  superset/assets/src/setup/setupFormatters.js
Labels: #bug, v0.30

#6703 Trim query before parsing
  superset/sql_parse.py
  tests/db_engine_specs_test.py
Labels: #bug, .backend, minor-review, review

#6670 Add universal "New" button
  superset/assets/spec/javascripts/addSlice/AddSliceContainer_spec.jsx
  superset/assets/src/addSlice/AddSliceContainer.jsx
  superset/migrations/versions/8b70aa3d0f87_.py
  superset/templates/appbuilder/general/widgets/search.html
  superset/templates/appbuilder/navbar_right.html
  superset/views/__init__.py
  superset/views/dashboard.py
  tests/dashboard_tests.py
Labels: #feature, design-review

#6627 [cosmetic] remove margin-bottom on dropdowns
  superset/assets/src/explore/components/Control.css
  superset/assets/src/explore/components/Control.jsx
  superset/assets/src/explore/main.css
  superset/migrations/versions/8b70aa3d0f87_.py
Labels: #refine, .css, design-review

#6693 Explicitly declare CLI option flags as flags
  superset/cli.py
Labels: need:rebase

#5827 Improve support for BigQuery, Redshift, Oracle, Db2, Snowflake
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
  superset/viz.py
Labels: review, risk:hard-to-test

#6687 Add `extra` column to `SavedQuery`
  superset/migrations/versions/a33a03f16c4a_add_extra_column_to_savedquery.py
  superset/models/sql_lab.py
  superset/views/sql_lab.py
Labels: #feature, need:rebase, review, risk:db-migration

#6717 Insert a space after auto complete
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
Labels: #feature, .js, controversial, minor-review, review

#6695 Allow empty results in Hive (from SET, eg)
  superset/db_engine_specs.py
Labels: #bug, minor-review, review

#6729 Merge heads
  superset/migrations/versions/18dc26817ad2_.py
Labels: review, risk:db-migration

#6698 Fix link to SQLAlchemy docs about database URLs format
  superset/views/core.py
Labels: #bug, review

#6677 Fix setup.py ASF issues
  setup.py
Labels: #ASF, need:rebase

#6701 Update CONTRIBUTING.md based on SIP-13 and add how to use labels
  CONTRIBUTING.md
Labels: #documentation

#6526 Hotkeys in Explore View
  superset/assets/src/components/Hotkeys.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
Labels: #feature

#6738 Add disclaimer and remove counter
  .rat-excludes
  DISCLAIMER
  scripts/check_license.sh
Labels: #ASF

#6730 Adding a note about 0.30 to updating
  UPDATING.md
Labels: #documentation, v0.30

#6742 Update gitignore
  .gitignore
Labels: #code-quality, .dev-env, minor-review, review

#6741 Add iframe and markup legacy plugin
  superset/assets/package-lock.json
  superset/assets/src/visualizations/Iframe/Iframe.jsx
  superset/assets/src/visualizations/Iframe/IframeChartPlugin.js
  superset/assets/src/visualizations/Iframe/images/thumbnail.png
  superset/assets/src/visualizations/Iframe/transformProps.js
  superset/assets/src/visualizations/Markup/Markup.css
  superset/assets/src/visualizations/Markup/Markup.jsx
  superset/assets/src/visualizations/Markup/MarkupChartPlugin.js
  superset/assets/src/visualizations/Markup/images/thumbnail.png
  superset/assets/src/visualizations/Markup/transformProps.js
  superset/assets/src/visualizations/markup.js
  superset/assets/src/visualizations/presets/LegacyChartPreset.js
Labels: #feature, .vis, review, v0.30

#6725 [cosmetic] remove 'List' prefix from list headers
  superset/connectors/druid/views.py
  superset/connectors/sqla/views.py
  superset/views/core.py
  tests/core_tests.py
Labels: #refine, minor-review

#6720 A few fixes for Presto connection
  superset/connectors/sqla/views.py
  superset/models/core.py
  superset/views/core.py
Labels: #bug, .backend

#6546 Make it easier to select dropdown options in control tests
  superset/assets/cypress/integration/explore/control.test.js
  superset/assets/src/components/VirtualizedRendererWrap.jsx
Labels: #code-quality

#6752 [fix] JS error out when inline edit a new time-series chart title
  superset/assets/src/explore/components/controls/AnnotationLayerControl.jsx
Labels: #bug, .vis, review

#6751 Bump PyHive version for prod requirements.txt
  setup.py
Labels: #code-quality, review

#6756 [Bug] Fix dashboard links in welcome page
  superset/assets/src/welcome/DashboardTable.jsx
Labels: #bug

#6358 Fixing sort issue with area chart and adding tests
  superset/assets/cypress/integration/explore/visualizations/area.js
  superset/assets/cypress/integration/explore/visualizations/line.js
  superset/viz.py
Labels: #bug, .backend

#6718 Removing uniqueness constraints on tables table
  superset/connectors/sqla/models.py
  superset/migrations/alembic.ini
  superset/migrations/versions/8d49a37823bf_make_table_unique_within_db_and_schema.py
  superset/models/helpers.py
Labels: #bug, risk:db-migration

#6690 Improve Unicode support for MSSQL
  docs/installation.rst
  superset/connectors/sqla/models.py
  superset/db_engine_specs.py
Labels: #feature, .backend, review

#6772 creating new circular-json safe stringify and replacing one call
  superset/assets/spec/javascripts/utils/safeStringify_spec.ts
  superset/assets/src/explore/exploreUtils.js
  superset/assets/src/utils/safeStringify.ts
Labels: #code-quality, .js, review, v0.31

#6764 Make all columns be filterable or groupable
  superset/connectors/sqla/models.py
Labels: #feature, minor-review
