Repository apache/superset, pull requests merged in 2019-09, with the labels that each got.

#8156 Forward SIGTERM signal to gunicorn
  contrib/docker/docker-entrypoint.sh
Labels: size/XS

#8149 chore: remove PY3 conditional logic
  superset/utils/core.py
Labels: size/S

#8143 [Codemod] Rename react unsafe lifecycles
  superset/assets/.eslintrc
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/spec/javascripts/components/AlteredSliceTag_spec.jsx
  superset/assets/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset/assets/spec/javascripts/dashboard/components/SliceAdder_spec.jsx
  superset/assets/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset/assets/src/CRUD/CollectionTable.jsx
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
  superset/assets/src/SqlLab/components/QueryAutoRefresh.jsx
  superset/assets/src/SqlLab/components/ResultSet.jsx
  superset/assets/src/SqlLab/components/SouthPane.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/assets/src/chart/chartAction.js
  superset/assets/src/components/AlteredSliceTag.jsx
  superset/assets/src/components/AnchorLink.jsx
  superset/assets/src/components/EditableTitle.jsx
  superset/assets/src/components/TableLoader.jsx
  superset/assets/src/components/Timer.jsx
  superset/assets/src/dashboard/components/Dashboard.jsx
  superset/assets/src/dashboard/components/DashboardBuilder.jsx
  superset/assets/src/dashboard/components/Header.jsx
  superset/assets/src/dashboard/components/HeaderActionsDropdown.jsx
  superset/assets/src/dashboard/components/SliceAdder.jsx
  superset/assets/src/dashboard/components/gridComponents/Markdown.jsx
  superset/assets/src/dashboard/components/gridComponents/Tabs.jsx
  superset/assets/src/dashboard/components/menu/WithPopoverMenu.jsx
  superset/assets/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset/assets/src/explore/components/ExploreViewContainer.jsx
  superset/assets/src/explore/components/controls/AdhocFilterControl.jsx
  superset/assets/src/explore/components/controls/AnnotationLayerControl.jsx
  superset/assets/src/explore/components/controls/MetricsControl.jsx
  superset/assets/src/explore/components/controls/SelectControl.jsx
  superset/assets/src/visualizations/deckgl/CategoricalDeckGLContainer.jsx
  superset/assets/src/visualizations/deckgl/Multi/Multi.jsx
  superset/assets/src/visualizations/deckgl/factory.jsx
Labels: size/M

#8139 [sqllab] add retries for stop_query
  requirements.txt
  setup.py
  superset/sql_lab.py
  superset/views/core.py
Labels: size/M

#8158 chore: bump cypress from 3.1.5 to 3.4.1
  superset/assets/package.json
Labels: size/XS

#8117 Fix to Werkzeug ProxyFix; expose ProxyFix configuration items
  .gitignore
  UPDATING.md
  setup.py
  superset/__init__.py
  superset/config.py
Labels: size/S, v0.34

#8179 Update messages.json
  superset/translations/zh/LC_MESSAGES/messages.json
Labels: size/XS

#8181 [bugfix] Correctly quote table and schema in select_star
  superset/connectors/sqla/models.py
  tests/model_tests.py
Labels: size/XS, v0.34

#8180 [bugfix] Make orderby native sqla construct
  superset/connectors/sqla/models.py
Labels: size/XS, v0.34

#8184 [fix] retry stop_query on all exceptions
  superset/views/core.py
Labels: size/XS

#8191 [fix] Call to rejected_tables method
  superset/views/core.py
Labels: size/XS

#8165 [bugfix] fix timegrain addon regression
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/kylin.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/db_engine_specs/teradata.py
  tests/db_engine_specs_test.py
Labels: size/L, v0.34

#8174 Bump flask-appbuilder to 2.1.13
  requirements.txt
Labels: size/XS

#8187 Fix for CHANGELOG formatting
  CHANGELOG.md
Labels: size/XS

#8038 Prevent 'main' database connection creation
  superset/cli.py
  superset/security.py
  superset/utils/core.py
  superset/views/core.py
  tests/base_tests.py
  tests/celery_tests.py
  tests/core_tests.py
  tests/dict_import_export_tests.py
  tests/model_tests.py
  tests/sql_parse_tests.py
  tests/sql_validator_tests.py
  tests/sqla_models_tests.py
  tests/sqllab_tests.py
Labels: size/L

#8182 [Config] Disable celery acks late
  superset/config.py
Labels: .config, size/XS

#8164 [sqllab] More detailed async error messages for sqllab
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/presto.py
  superset/utils/core.py
  tests/db_engine_specs_test.py
Labels: size/S

#8204 change log from csv_export to data_export; fix db name in log
  superset/views/core.py
Labels: size/XS

#8198 Update messages.json
  superset/translations/zh/LC_MESSAGES/messages.json
Labels: size/S

#8209 [examples] Fix, sf population polygons div by zero error
  superset/examples/sf_population_polygons.py
Labels: size/XS

#8034 [viz] Adding get_df typing
  superset/viz.py
Labels: size/S

#8208 chore: update UPDATING.md with a 0.34.0 section
  RELEASING/README.md
  UPDATING.md
Labels: size/XS

#8206 Correct typos in docker readme
  contrib/docker/README.md
Labels: need:more-info, size/XS

#8210 Update messages.json
  superset/translations/zh/LC_MESSAGES/messages.json
Labels: size/M

#8212 fix: attempt to fix the flaky SQL Lab test
  superset/assets/cypress/integration/dashboard/controls.js
  superset/assets/cypress/integration/sqllab/query.js
Labels: size/XS

#8196 chore: fix version info
  MANIFEST.in
  setup.py
  superset/config.py
Labels: size/M

#8173 feat: read control panel configs from registry
  superset/assets/spec/javascripts/explore/components/ControlPanelsContainer_spec.jsx
  superset/assets/spec/javascripts/explore/controlUtils_spec.jsx
  superset/assets/spec/javascripts/explore/store_spec.jsx
  superset/assets/src/explore/components/ControlPanelsContainer.jsx
  superset/assets/src/explore/controlPanels/extraOverrides.js
  superset/assets/src/explore/controlPanels/index.js
  superset/assets/src/explore/controlUtils.js
  superset/assets/src/explore/store.js
  superset/assets/src/setup/setupPlugins.ts
  superset/assets/src/setup/setupPluginsExtra.js
Labels: review, size/XL

#8221 fix: initialize control state for inline control config object
  superset/assets/src/explore/controlUtils.js
Labels: size/S

#8222 refactor: prepare control panel configs for separation into plugins
  superset/assets/src/explore/controlPanels/PairedTtest.js
  superset/assets/src/explore/controlPanels/WordCloud.js
  superset/assets/src/explore/controlPanels/WorldMap.js
  superset/assets/src/explore/controls.jsx
Labels: size/L

#8231 [SQL Lab] Fix bug when filtering on results that include nulls
  superset/assets/spec/javascripts/components/FilterableTable/FilterableTable_spec.jsx
  superset/assets/src/components/FilterableTable/FilterableTable.jsx
Labels: size/XS

#8226 Handle int64 columns with missing data in SQL Lab
  superset/dataframe.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  tests/dataframe_test.py
Labels: size/M

#8172 Allow users to estimate query cost before executing it
  docs/sqllab.rst
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/assets/src/SqlLab/components/EstimateQueryCostButton.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/main.less
  superset/assets/src/SqlLab/reducers/getInitialState.js
  superset/assets/src/SqlLab/reducers/sqlLab.js
  superset/assets/src/featureFlags.ts
  superset/config.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/views/core.py
  superset/views/database/api.py
Labels: #enhancement, .SQLLab, .database, lyft, review, risk:db-migration, size/L

#8233 Simplify and improve `expand_data` in Presto
  superset/db_engine_specs/presto.py
  superset/utils/core.py
  tests/db_engine_specs_test.py
  tests/utils_tests.py
Labels: lyft, review, size/L

#8213 Better distinction between tables and views, and show CREATE VIEW
  superset/assets/src/SqlLab/components/ShowSQL.jsx
  superset/assets/src/SqlLab/components/TableElement.jsx
  superset/assets/src/components/TableSelector.jsx
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  superset/views/core.py
  tests/db_engine_specs_test.py
Labels: size/L

#8185 Add RegisteredLookupExtraction support to extraction function
  superset/connectors/druid/models.py
  tests/druid_func_tests.py
Labels: size/M

#8246 Update README.md
  README.md
Labels: need:more-info, size/XS

#8251 Small fix for Presto dtype map
  superset/db_engine_specs/presto.py
  tests/dataframe_test.py
Labels: size/S

#8243 Show Presto views as views, not tables
  superset/assets/src/components/TableSelector.css
  superset/assets/src/components/TableSelector.jsx
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/sqlite.py
  superset/models/core.py
  superset/views/core.py
  tests/db_engine_specs_test.py
Labels: size/M

#8253 Fix array casting
  superset/dataframe.py
Labels: size/XS

#8224 [sqllab] create query slightly earlier
  superset/views/core.py
Labels: size/S

#8244 docs: reflect the pypi move from superset to apache-superset
  docs/installation.rst
Labels: size/XS

#8250 Update another pypi case from superset to apache-superset
  README.md
Labels: size/XS

#8257 Remove __row_id
  superset/db_engine_specs/presto.py
  tests/db_engine_specs_test.py
Labels: size/M

#8223 Fix sync failed when datasource is schema-less
  superset/assets/src/datasource/DatasourceEditor.jsx
Labels: size/XS

#8163 [SQLLab] Refactor sql json endpoint
  superset/views/core.py
Labels: size/L

#8138 [typing] add typing for superset/connectors and superset/common
  superset/common/query_context.py
  superset/common/query_object.py
  superset/connectors/base/models.py
  superset/connectors/connector_registry.py
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/models.py
Labels: size/XL

#8268 Fix no data in Presto
  superset/dataframe.py
  tests/dataframe_test.py
Labels: size/S

#8276 More intuitive display of negative time deltas (#8274)
  superset/utils/core.py
  tests/utils_tests.py
Labels: size/M

#8240 [database] Improve form and API validation for invalid URI
  superset/views/database/__init__.py
  superset/views/database/api.py
  superset/views/database/views.py
Labels: size/M

#8256 [sql_json] Ensuring the request body is JSON encoded
  superset/assets/cypress/integration/sqllab/query.js
  superset/assets/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/views/core.py
  tests/base_tests.py
  tests/celery_tests.py
Labels: size/M

#8261 [migration] Stripping leading and trailing whitespace
  superset/migrations/versions/258b5280a45e_form_strip_leading_and_trailing_whitespace.py
Labels: risk:db-migration

#8282 chore: skip flaky SQL Lab test
  superset/assets/cypress/integration/sqllab/query.js
Labels: size/XS

#8262 [SQL Lab] Add commit to resolve query table lock
  superset/sql_lab.py
Labels: size/XS

#8272 Refine release instructions
  RELEASING/README.md
Labels: size/XS

#8271 Fix: Missing time series datapoints in druid show up as absurd values in line chart
  superset/connectors/druid/models.py
Labels: size/XS

#8309 [docs] Add explicit support for python 3.7
  docs/installation.rst
  setup.py
Labels: size/XS

#8311 Add Safaricom to list of companies using Apache Superset
  README.md
Labels: size/XS

#8307 allow non-relative LOGO_TARGET_PATH
  superset/templates/appbuilder/navbar.html
Labels: size/XS

#8239 [superset] Fix, missing return on error and improved query
  superset/views/core.py
Labels: size/XS

#8317 Adding explicit Flask session cookie options to default config
  superset/config.py
Labels: size/S

#8320 Update RunQueryActionButton.jsx
  superset/assets/src/SqlLab/components/RunQueryActionButton.jsx
Labels: size/XS

#8300 refactor: remove unused code
  superset/assets/package.json
  superset/assets/spec/javascripts/modules/colors_spec.jsx
  superset/assets/spec/javascripts/modules/geo_spec.jsx
  superset/assets/spec/javascripts/modules/sandbox_spec.jsx
  superset/assets/spec/javascripts/modules/time_spec.js
  superset/assets/spec/javascripts/modules/utils_spec.jsx
  superset/assets/src/explore/components/controls/ViewportControl.jsx
  superset/assets/src/explore/controls.jsx
  superset/assets/src/modules/colors.js
  superset/assets/src/modules/geo.js
  superset/assets/src/modules/sandbox.js
  superset/assets/src/modules/time.js
  superset/assets/src/modules/utils.js
Labels: size/XL
