Repository apache/superset, pull requests merged in 2020-04, with the labels that each got.

#9425 fix pagination for list views
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/dashboardList/DashboardList_spec.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/Pagination.tsx
Labels: preset-io, size/M

#9341 feat(visualization): add timeRangeFixed to Big Number w/ Trendlines
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/controlPanels/BigNumber.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/controls.jsx
  superset/viz.py
Labels: size/L

#9428 [fix]some translation not work better
  superset/translations/utils.py
Labels: size/XS

#9436 Add check for SSL certificate and add form validators
  superset/exceptions.py
  superset/views/core.py
  superset/views/database/mixins.py
  superset/views/database/views.py
Labels: 0.36, preset-io, size/M

#9446 Migrating unique DeckGL controls
  CONTRIBUTING.md
  superset-frontend/src/explore/controlPanels/DeckGeojson.js
  superset-frontend/src/explore/controlPanels/DeckHex.js
  superset-frontend/src/explore/controlPanels/DeckMulti.js
  superset-frontend/src/explore/controlPanels/DeckPolygon.js
  superset-frontend/src/explore/controlPanels/DeckScatter.js
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/L

#9356 Enforcing linting of LESS
  superset-frontend/fonts/FiraCode/specimen.less
  superset-frontend/fonts/FiraCode/woff/FiraCode-Bold.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Light.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Medium.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Regular.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Retina.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-VF.woff
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Bold.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Light.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Medium.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Regular.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Retina.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-VF.woff2
  superset-frontend/fonts/InterUI/Inter-Black.woff
  superset-frontend/fonts/InterUI/Inter-Black.woff2
  superset-frontend/fonts/InterUI/Inter-BlackItalic.woff
  superset-frontend/fonts/InterUI/Inter-BlackItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Bold.woff
  superset-frontend/fonts/InterUI/Inter-Bold.woff2
  superset-frontend/fonts/InterUI/Inter-BoldItalic.woff
  superset-frontend/fonts/InterUI/Inter-BoldItalic.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraBold.woff
  superset-frontend/fonts/InterUI/Inter-ExtraBold.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraBoldItalic.woff
  superset-frontend/fonts/InterUI/Inter-ExtraBoldItalic.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraLight.woff
  superset-frontend/fonts/InterUI/Inter-ExtraLight.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraLightItalic.woff
  superset-frontend/fonts/InterUI/Inter-ExtraLightItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Italic.woff
  superset-frontend/fonts/InterUI/Inter-Italic.woff2
  superset-frontend/fonts/InterUI/Inter-Light.woff
  superset-frontend/fonts/InterUI/Inter-Light.woff2
  superset-frontend/fonts/InterUI/Inter-LightItalic.woff
  superset-frontend/fonts/InterUI/Inter-LightItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Medium.woff
  superset-frontend/fonts/InterUI/Inter-Medium.woff2
  superset-frontend/fonts/InterUI/Inter-MediumItalic.woff
  superset-frontend/fonts/InterUI/Inter-MediumItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Regular.woff
  superset-frontend/fonts/InterUI/Inter-Regular.woff2
  superset-frontend/fonts/InterUI/Inter-SemiBold.woff
  superset-frontend/fonts/InterUI/Inter-SemiBold.woff2
  superset-frontend/fonts/InterUI/Inter-SemiBoldItalic.woff
  superset-frontend/fonts/InterUI/Inter-SemiBoldItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Thin.woff
  superset-frontend/fonts/InterUI/Inter-Thin.woff2
  superset-frontend/fonts/InterUI/Inter-ThinItalic.woff
  superset-frontend/fonts/InterUI/Inter-ThinItalic.woff2
  superset-frontend/fonts/InterUI/Inter-italic.var.woff2
  superset-frontend/fonts/InterUI/Inter-roman.var.woff2
  superset-frontend/fonts/InterUI/Inter.var.woff2
  superset-frontend/package.json
  superset-frontend/stylesheets/fonts/InterUI/specimen.less
  superset-frontend/stylesheets/less/font_specimens/fira_code.less
  superset-frontend/stylesheets/less/font_specimens/inter_ui.less
  superset-frontend/stylesheets/less/fonts.less
  superset-frontend/stylesheets/less/variables.less
Labels: preset-io, size/L

#9440 Migrating unique bigNumber(total) controls
  CONTRIBUTING.md
  superset-frontend/src/explore/controlPanels/BigNumber.jsx
  superset-frontend/src/explore/controlPanels/BigNumberTotal.js
  superset-frontend/src/explore/controlPanels/Shared_BigNumber.js
  superset-frontend/src/explore/controlPanels/sections.jsx
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/L

#9445 Migrating unique NVD3 viz controls
  CONTRIBUTING.md
  superset-frontend/src/explore/controlPanels/Bubble.js
  superset-frontend/src/explore/controlPanels/Bullet.js
  superset-frontend/src/explore/controlPanels/LineMulti.js
  superset-frontend/src/explore/controlPanels/Pie.js
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/L

#9454 Migrating NVD3 Area's stacked_style config
  CONTRIBUTING.md
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/src/explore/controlPanels/Area.js
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/M

#9466 Eslint prefer-object-spread
  superset-frontend/.eslintrc.js
  superset-frontend/spec/javascripts/components/AlteredSliceTag_spec.jsx
  superset-frontend/spec/javascripts/components/Checkbox_spec.jsx
  superset-frontend/spec/javascripts/components/ColumnOption_spec.jsx
  superset-frontend/spec/javascripts/components/MetricOption_spec.jsx
  superset-frontend/spec/javascripts/components/OnPasteSelect_spec.jsx
  superset-frontend/spec/javascripts/components/OptionDescription_spec.jsx
  superset-frontend/spec/javascripts/components/PopoverSection_spec.jsx
  superset-frontend/spec/javascripts/components/VirtualizedRendererWrap_spec.jsx
  superset-frontend/spec/javascripts/explore/components/TextArea_spec.jsx
  superset-frontend/spec/javascripts/profile/fixtures.jsx
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset-frontend/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset-frontend/spec/javascripts/sqllab/fixtures.js
  superset-frontend/spec/javascripts/sqllab/reducers/sqlLab_spec.js
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/components/Button.jsx
  superset-frontend/src/components/VictoryTheme.js
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/ColorPickerControl.jsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/store.js
  superset-frontend/src/reduxUtils.js
  superset-frontend/src/utils/reducerUtils.js
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: preset-io, size/L

#9416 [mypy] Enforcing typing for some modules
  setup.cfg
  superset/commands/base.py
  superset/commands/exceptions.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/common/tags.py
  superset/dao/base.py
  superset/db_engines/hive.py
  superset/stats_logger.py
  superset/utils/core.py
Labels: size/M

#9451 release: Add support for ZSH in RELEASING and add tagging instructions
  RELEASING/README.md
  RELEASING/set_release_env.sh
Labels: preset-io, size/M

#9472 Added dremio in “Who uses Apache Superset (incubating)?”
  README.md
Labels: size/XS

#9403 [query] New, readonly API
  superset/app.py
  superset/queries/__init__.py
  superset/queries/api.py
  superset/queries/dao.py
  superset/queries/filters.py
  tests/queries/__init__.py
  tests/queries/api_tests.py
Labels: preset-io, size/L

#9469 [mypy] Enforcing typing for superset.examples
  setup.cfg
  superset/examples/bart_lines.py
  superset/examples/birth_names.py
  superset/examples/countries.py
  superset/examples/country_map.py
  superset/examples/css_templates.py
  superset/examples/deck.py
  superset/examples/energy.py
  superset/examples/flights.py
  superset/examples/helpers.py
  superset/examples/long_lat.py
  superset/examples/misc_dashboard.py
  superset/examples/multi_line.py
  superset/examples/multiformat_time_series.py
  superset/examples/paris.py
  superset/examples/random_time_series.py
  superset/examples/sf_population_polygons.py
  superset/examples/tabbed_dashboard.py
  superset/examples/unicode_test_data.py
  superset/examples/world_bank.py
  superset/utils/core.py
  superset/viz.py
Labels: size/L

#9455 Migrating shared DeckGL controls
  CONTRIBUTING.md
  superset-frontend/src/explore/controlPanels/DeckArc.js
  superset-frontend/src/explore/controlPanels/DeckGeojson.js
  superset-frontend/src/explore/controlPanels/DeckGrid.js
  superset-frontend/src/explore/controlPanels/DeckHex.js
  superset-frontend/src/explore/controlPanels/DeckMulti.js
  superset-frontend/src/explore/controlPanels/DeckPath.js
  superset-frontend/src/explore/controlPanels/DeckPolygon.js
  superset-frontend/src/explore/controlPanels/DeckScatter.js
  superset-frontend/src/explore/controlPanels/DeckScreengrid.js
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/XXL

#9464 [Doc] Update installation doc for Dremio
  docs/installation.rst
Labels: size/XS

#9418 [mypy] Enforcing typing for superset.dashboards
  setup.cfg
  superset/charts/commands/delete.py
  superset/charts/commands/update.py
  superset/commands/base.py
  superset/dashboards/api.py
  superset/dashboards/commands/bulk_delete.py
  superset/dashboards/commands/create.py
  superset/dashboards/commands/delete.py
  superset/dashboards/commands/exceptions.py
  superset/dashboards/commands/update.py
  superset/dashboards/dao.py
  superset/dashboards/filters.py
  superset/dashboards/schemas.py
  superset/views/base.py
Labels: preset-io, size/M

#9437 [datasets] Add strict type annotation
  setup.cfg
  superset/datasets/api.py
  superset/datasets/commands/create.py
  superset/datasets/commands/delete.py
  superset/datasets/commands/exceptions.py
  superset/datasets/commands/refresh.py
  superset/datasets/commands/update.py
  superset/datasets/dao.py
  superset/datasets/schemas.py
  superset/views/base.py
Labels: preset-io, size/M

#9337 Filter owners select by text input
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  superset/views/base_api.py
  superset/views/filters.py
  tests/base_api_tests.py
  tests/chart_api_tests.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/L

#9480 Handle empty dataframes in TableViz
  superset/viz.py
Labels: size/S

#9376 Add CUSTOM_TEMPLATE_PROCESSOR config
  docs/installation.rst
  docs/sqllab.rst
  superset/config.py
  superset/extensions.py
  superset/jinja_context.py
  tests/base_tests.py
  tests/core_tests.py
  tests/superset_test_config.py
  tests/superset_test_custom_template_processors.py
Labels: size/L

#9487 [tests] refactor, change datasets and charts to it's own folder
  tests/charts/__init__.py
  tests/charts/api_tests.py
  tests/datasets/__init__.py
  tests/datasets/api_tests.py
Labels: preset-io, size/M

#9493 Upgrade table chart plugin to 0.12.13
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#9486 feat: change default time range in sql lab explore
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
Labels: size/XS

#9495 Add explore control tabOverride at the section level
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/controlPanels/BigNumber.jsx
Labels: size/XS

#9479 [query] Migrate api v1 query to new location
  superset/charts/api.py
  superset/views/base_api.py
  tests/charts/api_tests.py
  tests/queries/api_tests.py
Labels: preset-io, size/L

#9491 Bump FAB to 2.3.2
  requirements.txt
  setup.py
Labels: preset-io, size/M

#9484 [dashboards] Fix, update dashboard owners not propagating to charts o…
  superset/dashboards/commands/create.py
  superset/dashboards/commands/update.py
  superset/dashboards/dao.py
  tests/dashboards/api_tests.py
Labels: 0.36, preset-io, size/M

#9435 [dashboards] New, tittle and slug OR filter
  superset/dashboards/api.py
  superset/dashboards/filters.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/L

#9496 fix: add lineWidth to Shared_DeckGL.jsx
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
Labels: preset-io, size/S

#9427 feat: Add post processing to QueryObject
  requirements.txt
  setup.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/exceptions.py
  superset/utils/pandas_postprocessing.py
  tests/core_tests.py
  tests/fixtures/dataframes.py
  tests/pandas_postprocessing_tests.py
Labels: preset-io, size/XL

#9370 Add visualization flow to the CTA queries
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ResultSet.jsx
  superset/assets/spec/javascripts/sqllab/ExploreCtasResultsButton_spec.jsx
  superset/assets/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/views/base.py
  superset/views/core.py
  tests/sqllab_tests.py
Labels: size/XL

#9503 Bump sqlalchemy and dremio deps
  requirements.txt
  setup.py
Labels: preset-io, size/XS

#9492 [charts] New, custom filter for name OR description
  superset/charts/api.py
  superset/charts/filters.py
  tests/charts/api_tests.py
Labels: preset-io, size/M

#9509 Create a docker volume for the node_modules directory
  docker-compose.yml
Labels: size/XS

#9507 chore: auto label issues based on the template chosen
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/sip.md
Labels: preset-io, size/XS

#9500 control to turn off table bar-chart backgrounds
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/Table.js
Labels: preset-io, size/S

#9522 Another attempt to fix a viz.py bug
  superset/viz.py
Labels: preset-io, size/XS

#9521 [dashboard] Fix, improve test for custom filter
  tests/dashboards/api_tests.py
Labels: preset-io, size/S

#9520 [api] refactor, remove unnecessary code, using command pattern now
  superset/views/base_api.py
Labels: preset-io, size/L

#9465 Importing validators module from superset-ui
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/TextControl.jsx
  superset-frontend/src/explore/controlPanels/CalHeatmap.js
  superset-frontend/src/explore/controlPanels/Chord.js
  superset-frontend/src/explore/controlPanels/DeckArc.js
  superset-frontend/src/explore/controlPanels/DeckGeojson.js
  superset-frontend/src/explore/controlPanels/DeckGrid.js
  superset-frontend/src/explore/controlPanels/DeckMulti.js
  superset-frontend/src/explore/controlPanels/DeckScatter.js
  superset-frontend/src/explore/controlPanels/DeckScreengrid.js
  superset-frontend/src/explore/controlPanels/DistBar.js
  superset-frontend/src/explore/controlPanels/EventFlow.js
  superset-frontend/src/explore/controlPanels/Heatmap.js
  superset-frontend/src/explore/controlPanels/Histogram.js
  superset-frontend/src/explore/controlPanels/LineMulti.js
  superset-frontend/src/explore/controlPanels/Partition.jsx
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
  superset-frontend/src/explore/controlPanels/Table.js
  superset-frontend/src/explore/controlPanels/WordCloud.js
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/validators.js
Labels: preset-io, size/L

#9533 (Multi-line chart bug) Fix typo in viz.py
  superset/viz.py
Labels: preset-io, size/XS

#9535 Disabling recording in Cypress tests
  .github/workflows/superset-e2e.yml
Labels: preset-io, size/XS

#9538 Run CI on all pushes / PR's
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python.yml
Labels: preset-io, size/M

#9537 [list views] add work-break css for table layouts
  superset-frontend/src/components/ListView/ListViewStyles.less
  superset-frontend/src/components/ListView/TableCollection.tsx
Labels: preset-io, size/S

#8947 [thumbnails] thumbnails for dashboards and charts
  docs/installation.rst
  requirements-dev.txt
  setup.py
  superset/__init__.py
  superset/charts/api.py
  superset/charts/schemas.py
  superset/cli.py
  superset/config.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/tasks/thumbnails.py
  superset/utils/cache_manager.py
  superset/utils/core.py
  superset/utils/screenshots.py
  superset/views/base_api.py
  tests/dashboards/api_tests.py
  tests/superset_test_config_thumbnails.py
  tests/thumbnails_tests.py
  tox.ini
Labels: preset-io, size/XXL

#9541 [copy] fix: Row Level Security get_rls_filters func SELECT statement
  superset/security/manager.py
  tests/security_tests.py
Labels: size/S

#9523 Make email parsing more robust
  superset/utils/core.py
  tests/utils_tests.py
Labels: size/S

#9536 docs: point our README the maintained Docker image
  README.md
Labels: preset-io, size/XS

#9539 Bump copyright notice
  docs/conf.py
Labels: preset-io, size/XS

#9548 Ditching travis config in favor of Github Actions
  .travis.yml
Labels: preset-io, size/L

#9549 Bump @superset-ui/legacy-plugin-chart-table to 0.12.14
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#9519 [dashboard] New, add statsd incr to the API
  superset/dashboards/api.py
  superset/utils/core.py
  superset/views/base_api.py
  tests/base_tests.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/L

#9560 [fix] warm up cache error handling
  superset/views/core.py
  tests/core_tests.py
Labels: size/S

#9550 [fix] dashboard filter scope bug
  superset-frontend/spec/javascripts/dashboard/util/getFilterScopeFromNodesTree_spec.js
  superset-frontend/src/dashboard/util/getFilterScopeFromNodesTree.js
Labels: size/S

#9566 chore: Migrate unique FilterBox controls from controls.jsx
  CONTRIBUTING.md
  superset-frontend/src/explore/controlPanels/FilterBox.jsx
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/L

#9556 chore: Add OpenAPI docs to /api/v1/chart/data EP
  setup.cfg
  superset/charts/api.py
  superset/charts/schemas.py
  superset/common/query_object.py
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/examples/birth_names.py
  superset/examples/world_bank.py
  superset/typing.py
  superset/utils/core.py
  superset/utils/pandas_postprocessing.py
  tests/charts/api_tests.py
Labels: preset-io, size/XL

#9567 [pypi] Include compiled translations on Pypi pkg
  RELEASING/README.md
  pypi_push.sh
Labels: preset-io, size/S

#9570 doc: Add changelog for 0.36.0
  CHANGELOG.md
Labels: preset-io, size/L

#9525 Migrating shared NVD3 controls to new module
  CONTRIBUTING.md
  superset-frontend/spec/javascripts/components/AlteredSliceTag_spec.jsx
  superset-frontend/spec/javascripts/utils/getControlsForVizType_spec.js
  superset-frontend/src/components/AlteredSliceTag.jsx
  superset-frontend/src/explore/components/Control.jsx
  superset-frontend/src/explore/controlPanels/Area.js
  superset-frontend/src/explore/controlPanels/Bar.js
  superset-frontend/src/explore/controlPanels/BoxPlot.js
  superset-frontend/src/explore/controlPanels/Bubble.js
  superset-frontend/src/explore/controlPanels/CalHeatmap.js
  superset-frontend/src/explore/controlPanels/Compare.js
  superset-frontend/src/explore/controlPanels/DistBar.js
  superset-frontend/src/explore/controlPanels/DualLine.js
  superset-frontend/src/explore/controlPanels/Heatmap.js
  superset-frontend/src/explore/controlPanels/Histogram.js
  superset-frontend/src/explore/controlPanels/Line.js
  superset-frontend/src/explore/controlPanels/LineMulti.js
  superset-frontend/src/explore/controlPanels/Mapbox.js
  superset-frontend/src/explore/controlPanels/Partition.jsx
  superset-frontend/src/explore/controlPanels/Pie.js
  superset-frontend/src/explore/controlPanels/Rose.js
  superset-frontend/src/explore/controlPanels/Shared_NVD3.js
  superset-frontend/src/explore/controlPanels/TimePivot.js
  superset-frontend/src/explore/controlPanels/WorldMap.js
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/utils/getControlsForVizType.js
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: preset-io, size/XXL

#9579 fix: Add deprecated fields to QueryObject schema
  superset/charts/schemas.py
  superset/common/query_object.py
  superset/connectors/druid/models.py
  tests/charts/api_tests.py
Labels: preset-io, size/M

#9583 [mypy] Enforcing typing for superset.migrations
  setup.cfg
  superset/migrations/env.py
Labels: size/S

#9443 Re-enable the AnnotationLayerModelView read API
  superset/views/annotations.py
Labels: size/XS

#9585 [config] Enable dashboard bootstrap payload reduction by default
  superset/config.py
Labels: size/XS

#9598 [docs] fix, elastic.co elasticsearch product location
  docs/index.rst
Labels: preset-io, size/XS

#9582 [fix] Fixing issue with Jinja filter_value
  superset/jinja_context.py
  tests/jinja_context_tests.py
Labels: size/L

#9591 [Build] moves prettier check to separate script
  .github/workflows/superset-frontend.yml
  superset-frontend/package.json
Labels: preset-io, size/XS

#9569 Add documentation build to Github Actions
  .github/workflows/superset-python.yml
  docs/requirements.txt
Labels: preset-io, size/S

#9562 Add raw number/integer option to d3 number formats
  superset-frontend/src/explore/controls.jsx
Labels: size/XS

#9602 Bump superset-ui-connection to 0.12.22
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/spec/javascripts/components/AsyncSelect_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ShareSqlLabQuery_spec.jsx
Labels: size/S

#9571 [charts] feat: add statsd to charts api
  superset/charts/api.py
  tests/charts/api_tests.py
Labels: size/L

#9547 [tests] Helper script to run single tests
  docker-compose.yml
  scripts/tests/README.md
  scripts/tests/run.sh
Labels: preset-io, size/L

#9530 [charts] adds new filters ui
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/chartList/ChartList_spec.jsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/StyledSelect.tsx
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/datasetList/DatasetList.tsx
  superset-frontend/src/welcome/App.jsx
  superset/charts/api.py
  superset/charts/dao.py
  superset/views/base_api.py
  tests/charts/api_tests.py
Labels: preset-io, size/L

#9587 [SQL Lab] Lock result set controls to be always visible
  superset-frontend/src/SqlLab/components/ResultSet.jsx
  superset-frontend/src/SqlLab/main.less
Labels: size/M

#9614 [statsd] Send time metrics in ms not seconds
  superset/utils/core.py
Labels: preset-io, size/XS

#9592 fix: move docs image symlink to _static
  .github/workflows/superset-python.yml
  docs/_static/images
  docs/build.sh
  docs/images
Labels: preset-io, size/XS

#9608 fix: change number format to original value to "~g"
  superset-frontend/src/explore/controls.jsx
Labels: size/XS

#9605 use new @superset-ui/style package for theming
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/SearchInput.tsx
  superset-frontend/src/components/StyledSelect.tsx
  superset-frontend/src/welcome/App.jsx
  superset-frontend/stylesheets/styled-components/superset-theme.ts
Labels: preset-io, size/M

#9612 [sql_lab] Improve performance, only use slow func when needed
  superset/sql_parse.py
Labels: preset-io, size/XS

#9599 chore: Improve chart data API + schemas + tests
  superset/charts/schemas.py
  superset/common/query_object.py
  superset/connectors/base/models.py
  tests/access_tests.py
  tests/base_tests.py
  tests/charts/api_tests.py
  tests/core_tests.py
  tests/dict_import_export_tests.py
  tests/fixtures/query_context.py
  tests/import_export_tests.py
  tests/query_context_tests.py
Labels: preset-io, size/XL

#9641 [fix] Fixing regression from #9161
  tests/sqla_models_tests.py
  tox.ini
Labels: size/M

#9643 Cast raw 'fetch_values_predicate' to Sqlalchemy Text
  superset/connectors/sqla/models.py
Labels: size/XS

#9572 [fix] Automatically add relevant Jinja methods to cache key if present
  UPDATING.md
  docs/sqllab.rst
  superset/connectors/sqla/models.py
  superset/jinja_context.py
  superset/views/tags.py
  tests/core_tests.py
  tests/sqla_models_tests.py
Labels: size/L

#9577 [datesets] feat: add statsd to datasets api
  superset/datasets/api.py
  tests/datasets/api_tests.py
Labels: size/L

#9639 docs: remove references to superset-ui-plugins
  CONTRIBUTING.md
Labels: size/S

#9586 [mypy] Enforcing typing for a number of modules
  setup.cfg
  superset/connectors/druid/models.py
  superset/exceptions.py
  superset/models/schedules.py
  superset/security/analytics_db_safety.py
  superset/security/manager.py
  superset/sql_validators/presto_db.py
  superset/tasks/cache.py
  superset/tasks/celery_app.py
  superset/tasks/schedules.py
  superset/tasks/thumbnails.py
  superset/utils/core.py
Labels: size/L

#9640 [dashboard] increase tab count limit
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
Labels: size/XS

#9644 [mssql] Fix, apply limit and set alias for functions
  superset/db_engine_specs/mssql.py
  superset/sql_parse.py
  tests/db_engine_specs/mssql_tests.py
Labels: preset-io, size/L

#9634 [database] Fix, test connection error message for module not found
  superset/views/core.py
  tests/core_tests.py
Labels: preset-io, size/S

#9663 chore(ts): refactor and migrate StackTraceMessage to TypeScript
  superset-frontend/package.json
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/components/ErrorBoundary.jsx
  superset-frontend/src/components/ErrorMessageWithStackTrace.tsx
  superset-frontend/src/components/StackTraceMessage.jsx
Labels: size/L

#9624 [fix] Push browser history on pagination in react listviews
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/welcome/App.jsx
Labels: size/M

#9661 feat: Add geospatial post processing operations
  requirements.txt
  superset/charts/schemas.py
  superset/utils/pandas_postprocessing.py
  tests/fixtures/dataframes.py
  tests/pandas_postprocessing_tests.py
Labels: preset-io, size/L

#9666 [fix] Support APP_ICON_WIDTH configuration parameter in SPA menu
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/components/Menu/Menu.jsx
  superset/views/base.py
Labels: size/XS

#9676 Preferring config[] over config.get
  superset/views/base.py
Labels: preset-io, size/S

#9662 [logging] deprecation notices for SQLite
  superset/migrations/env.py
  superset/sql_lab.py
  tests/superset_test_config.py
  tests/superset_test_config_thumbnails.py
Labels: preset-io, size/M

#9669 fix: refine viz exception handling
  superset/views/core.py
  superset/viz.py
  superset/viz_sip38.py
Labels: preset-io, size/L

#9637 [explore view] add partition as adhoc filter option
  superset-frontend/spec/javascripts/explore/components/AdhocFilterEditPopoverSimpleTabContent_spec.jsx
  superset-frontend/src/explore/AdhocFilter.js
  superset-frontend/src/explore/components/AdhocFilterEditPopover.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/constants.js
Labels: size/L

#9679 fix(tests): custom filter flaky tests on dash and charts
  tests/charts/api_tests.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/S

#9682 tests(engine_specs): full postgres engine coverage
  superset/db_engine_specs/postgres.py
  tests/db_engine_specs/postgres_tests.py
Labels: preset-io, size/M

#9685 [fix] reduce table metadata fetch for latest_partition check
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset/connectors/sqla/models.py
Labels: size/S

#9665 [fix] Ensuring cache warmup respects request form data
  superset/jinja_context.py
  superset/views/core.py
  superset/views/utils.py
  tests/jinja_context_tests.py
  tests/macro_tests.py
  tests/utils_tests.py
Labels: size/L

#9689 Fix ENABLE_ROW_LEVEL_SECURITY flag usage
  superset/common/query_context.py
  superset/connectors/sqla/models.py
  superset/viz.py
  superset/viz_sip38.py
  tests/superset_test_config.py
Labels: size/S

#9688 Make cache work again for annotations
  superset/connectors/sqla/models.py
Labels: size/XS

#9677 feat(errors): add client scaffolding for custom error messages
  superset-frontend/spec/javascripts/components/ErrorMessage/getErrorMessageComponentRegistry_spec.tsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/components/ErrorBoundary.jsx
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.tsx
  superset-frontend/src/components/ErrorMessage/getErrorMessageComponentRegistry.ts
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/setup/setupApp.ts
  superset-frontend/src/setup/setupErrorMessages.ts
  superset-frontend/src/setup/setupErrorMessagesExtra.ts
Labels: size/L

#9651 [Chart & Dashboard] improve listview filter ui and add expandable list support
  superset-frontend/images/icons/cancel-x.svg
  superset-frontend/images/icons/search.svg
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/components/SearchInput_spec.jsx
  superset-frontend/spec/javascripts/views/dashboardList/DashboardList_spec.jsx
  superset-frontend/src/components/Button.jsx
  superset-frontend/src/components/ExpandableList.tsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/ListViewStyles.less
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/SearchInput.tsx
  superset-frontend/src/components/StyledSelect.tsx
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset-frontend/src/welcome/App.jsx
  superset-frontend/webpack.config.js
  superset/dashboards/api.py
Labels: preset-io, size/XL

#9684 fix: migrate all slices off the old time grain format
  superset/migrations/versions/620241d1153f_update_time_grain_sqla.py
Labels: size/L

#9619 perf(charts): improve performance on GET list
  superset/charts/api.py
  superset/models/slice.py
Labels: preset-io, size/S

#9705 fix(security) Fixing regression in #9689
  superset/viz.py
Labels: size/XS

#9702 tests(engine_specs): full bigquery engine coverage
  superset/db_engine_specs/bigquery.py
  tests/db_engine_specs/bigquery_tests.py
Labels: preset-io, size/L

#9694 [Helm] - Allow for customization of release name
  helm/superset/.gitignore
  helm/superset/.helmignore
  helm/superset/Chart.yaml
  helm/superset/requirements.yaml
  helm/superset/templates/NOTES.txt
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-env.yaml
  helm/superset/templates/secret-superset-config.yaml
  helm/superset/templates/service.yaml
  helm/superset/values.yaml
Labels: preset-io

#9696 chore: bump PyArrow to 0.17.0
  requirements.txt
  setup.py
  superset/result_set.py
Labels: preset-io
