Repository apache/superset, pull requests merged in 2020-12, with the labels that each got.

#11851 chore: Add home link to navbar
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset/app.py
Labels: polidea, rush!, size/S

#11863 chore: remove SIP_34_QUERY_SEARCH_UI feature flag
  superset-frontend/src/SqlLab/components/App.jsx
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/views/CRUD/data/common.ts
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset/app.py
  superset/config.py
  superset/views/core.py
Labels: preset-io, size/M

#11580 fix: filters push out apply button on dashboard
  superset-frontend/src/components/Select/OnPasteSelect.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/stylesheets/components/chart.less
Labels: polidea, rush!, size/S

#11845 fix: dashboard iframe to markdown db migration
  superset/migrations/versions/978245563a02_migrate_iframe_to_dash_markdown.py
Labels: preset-io, risk:db-migration, size/S

#11781 fix (dataset editor): allow Source tab readOnly mode
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/components/DatabaseSelector.tsx
  superset-frontend/src/components/TableSelector.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/featureFlags.ts
  superset/config.py
  superset/views/base.py
Labels: needs-design-input, size/L

#11881 fix: certification icon order
  superset-frontend/src/components/TableSelector.tsx
Labels: size/XS

#11802 feat: report/alert list CRUD view
  superset-frontend/images/icons/exclamation.svg
  superset-frontend/images/icons/slack.svg
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/src/common/components/Switch.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/app.py
  superset/config.py
  superset/reports/api.py
  superset/views/alerts.py
  tests/reports/api_tests.py
  tests/superset_test_config.py
Labels: preset-io, size/XL

#11843 style: remove react bootstrap fade component
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/common/components/Fade.tsx
Labels: flexiana, size/M

#11848 fix: Align icon
  superset-frontend/src/components/FaveStar.tsx
Labels: flexiana, size/XS

#11847 fix: Show copy icon
  superset-frontend/src/components/CopyToClipboard.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
Labels: flexiana, size/M

#11816 feat: allow user to view their profile again
  superset-frontend/src/components/Menu/Menu.tsx
  superset/templates/appbuilder/navbar_right.html
  superset/views/base.py
Labels: size/S

#10770 fix: Capture error when celery back-end does not support forgetting tasks
  superset/views/core.py
Labels: preset-io, size/XS

#11887 chore: Update sqllab types
  superset-frontend/src/SqlLab/types.ts
Labels: size/XS

#11891 chore: Enable jsx-a11y/anchor-is-valid
  superset-frontend/.eslintrc.js
Labels: size/XS

#11902 fix: add fix for extra comments for #11781
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
Labels: size/S

#11856 feat(css templates): security perm simplification
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplatesList_spec.jsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset/css_templates/api.py
  superset/migrations/versions/8ee129739cf9_security_converge_css_templates.py
  superset/views/css_templates.py
  tests/css_templates/api_tests.py
  tests/security_tests.py
Labels: preset-io, risk:db-migration, size/L

#11897 fix(query): sorting by user for Query History list view
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/types.ts
Labels: preset-io, size/XS

#11913 style: eslint curly rule
  superset-frontend/.eslintrc.js
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/utils/downloadAsImage.ts
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryPreviewModal.test.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
Labels: preset-io, size/M

#11912 fix: Button storybook component size knob
  superset-frontend/src/components/Button/Button.stories.jsx
Labels: preset-io, size/XS

#11876 fix: Check if annotation type is supported by the given chart type
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
Labels: polidea, size/S

#11868 chore: Support SET & SHOW commands as read only SQL commands
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/sql_lab.py
  superset/sql_parse.py
  tests/core_tests.py
  tests/db_engine_specs/base_engine_spec_tests.py
  tests/db_engine_specs/hive_tests.py
  tests/db_engine_specs/presto_tests.py
  tests/sql_parse_tests.py
Labels: size/L

#11861 feat: Adding SaveDatasetModal component
  superset-frontend/spec/javascripts/sqllab/SaveDatasetModal_spec.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal.tsx
  superset-frontend/src/common/components/index.tsx
Labels: size/L

#11911 fix: adjust width for non multi select inputs
  superset-frontend/src/components/Select/styles.tsx
Labels: preset-io, size/S

#11904 feat: run BQ queries as single statement
  setup.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/sql_lab.py
Labels: size/S

#11875 refactor: Move ProgressBar to Antd
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/common/components/ProgressBar.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/common/components/index.tsx
Labels: flexiana, size/M

#11786 chore: add unit tests for the current import functionality
  superset/cli.py
  superset/datasets/commands/importers/v0.py
  tests/dashboards/commands_tests.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/L

#11919 fix: Forgot to remove bad comments from SaveDatasetModal
  superset-frontend/src/SqlLab/components/SaveDatasetModal.tsx
Labels: size/XS

#11665 feat: add event and interval annotation support to chart data ep
  superset-frontend/src/chart/chartAction.js
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/utils/core.py
  superset/viz.py
  tests/annotation_layers/api_tests.py
  tests/annotation_layers/fixtures.py
  tests/charts/api_tests.py
  tests/fixtures/query_context.py
Labels: preset-io, size/L

#11900 feat: filters for alerts and reports list view
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset/reports/api.py
Labels: preset-io, size/M

#11877 fix: disable keyboard shortcut for running empty query in SQL Lab
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
Labels: polidea, size/S

#11930 fix: Quick fix for branch names in tags
  .github/workflows/docker_build_push.sh
Labels: preset-io, size/XS

#11939 fix: make sure we log the logs
  superset/views/core.py
Labels: size/XS

#11928 refactor: Extract copy functionality to utils
  superset-frontend/src/components/CopyToClipboard.jsx
  superset-frontend/src/utils/copy.ts
  superset-frontend/src/views/CRUD/data/components/SyntaxHighlighterCopy/index.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: flexiana, size/L

#11899 refactor: Move Badge to Antdesign
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/common/components/Badge.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/profile/components/Security.tsx
Labels: flexiana, size/M

#11538 feat: add Postgres SQL validator
  .github/workflows/bashlib.sh
  Dockerfile
  requirements/base.txt
  requirements/development.txt
  requirements/docker.txt
  requirements/integration.txt
  requirements/testing.txt
  setup.cfg
  setup.py
  superset/config.py
  superset/sql_validators/__init__.py
  superset/sql_validators/postgres.py
  tests/sql_validator_tests.py
Labels: size/L

#11854 feat: Results table on Explore view
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/big_number.test.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/explore/components/DisplayQueryButton_spec.jsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/explore/components/DataTableControl.tsx
  superset-frontend/src/explore/components/DataTablesPane.tsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
Labels: polidea, size/XL

#11893 feat(releasing): support changelog csv export
  RELEASING/changelog.py
Labels: preset-io, size/L

#11931 fix(charts): screenshot API declaring an unnecessary rison arg
  superset/charts/api.py
Labels: preset-io, size/XS

#11947 chore: bump nvd3 plugin version
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#11884 feat: add modal to import databases
  superset-frontend/src/database/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/database/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset/databases/api.py
  superset/databases/commands/importers/dispatcher.py
  superset/databases/commands/importers/v1/__init__.py
  superset/databases/schemas.py
  superset/models/core.py
  superset/models/helpers.py
  tests/databases/api_tests.py
  tests/databases/commands_tests.py
Labels: size/XL

#11910 feat: add modal to import datasets
  superset-frontend/src/datasource/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/datasource/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/dataset/types.ts
  superset/databases/commands/importers/v1/__init__.py
  superset/datasets/api.py
  superset/datasets/commands/importers/dispatcher.py
  superset/datasets/commands/importers/v0.py
  superset/datasets/commands/importers/v1/__init__.py
  superset/datasets/schemas.py
Labels: size/L

#11924 feat: add modal to import dashboards
  superset-frontend/src/dashboard/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/dashboard/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/dashboard/types.ts
  superset/dashboards/api.py
  superset/dashboards/commands/export.py
  superset/dashboards/commands/importers/dispatcher.py
  superset/dashboards/commands/importers/v1/__init__.py
  superset/dashboards/schemas.py
Labels: size/L

#11885 fix(event-flow-viz): handle null metadata selection
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset/viz.py
Labels: flexiana, size/XS

#11950 fix(alerts, thumbnails): celery tasks using flask-sqlalchemy sessions
  superset/config.py
  superset/security/manager.py
  superset/tasks/schedules.py
  superset/tasks/thumbnails.py
Labels: preset-io, size/M

#11940 build: cancel previous github action runs
  .github/workflows/superset-docs.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-mysql.yml
  .github/workflows/superset-python-postgres.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-sqlite.yml
  .github/workflows/superset-translations.yml
Labels: size/L

#11755 feat: Sqllab to Explore UX improvements
  superset-frontend/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SaveDatasetModal_spec.tsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal.tsx
  superset-frontend/src/api/dataset.ts
  superset/datasets/schemas.py
Labels: size/L

#11934 fix: always fetch database list on bootstrap payload
  superset/dao/base.py
  superset/views/core.py
Labels: preset-io, size/S

#11883 refactor: move enums to the beginning of utils/core.py
  superset/utils/core.py
Labels: size/L

#11967 refactor: Upgrade Redux
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/URLShortLinkButton_spec.jsx
  superset-frontend/spec/javascripts/components/URLShortLinkModal_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/FiltersBadge_spec.tsx
  superset-frontend/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ExploreViewContainer_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset-frontend/spec/javascripts/sqllab/App_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset-frontend/spec/javascripts/sqllab/QueryAutoRefresh_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ShareSqlLabQuery_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SouthPane_spec.jsx
  superset-frontend/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/annotation/AnnotationList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/annotation/AnnotationModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/annotationlayers/AnnotationLayerModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/annotationlayers/AnnotationLayersList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplateModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplatesList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/dataset/DatasetList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryPreviewModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/ChartTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/DashboardTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/SavedQueries_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/Welcome_spec.tsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/containers/FiltersBadge.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/logger/actions/index.ts
  superset-frontend/src/views/CRUD/data/query/QueryList.test.tsx
  superset-frontend/src/views/CRUD/data/query/QueryPreviewModal.test.tsx
Labels: preset-io, size/L

#11308 tests: added fixture with energy usage instead of example
  tests/access_tests.py
  tests/charts/api_tests.py
  tests/charts/commands_tests.py
  tests/conftest.py
  tests/core_tests.py
  tests/dashboard_tests.py
  tests/dashboard_utils.py
  tests/databases/api_tests.py
  tests/datasets/api_tests.py
  tests/datasets/commands_tests.py
  tests/db_engine_specs/base_engine_spec_tests.py
  tests/fixtures/energy_dashboard.py
  tests/import_export_tests.py
  tests/model_tests.py
  tests/query_context_tests.py
  tests/security_tests.py
Labels: polidea, size/L

#11987 fix: make "DELETE" confirmation work in other languages
  superset-frontend/src/components/DeleteModal.tsx
Labels: size/XS

#11986 chore: add user to sql lab state
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
Labels: preset-io, size/M

#11975 chore: Change paddings on ListView and SubMenu
  superset-frontend/src/components/ListView/CardSortSelect.tsx
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
Labels: polidea, size/S

#11985 feat: Debounce TextControl if change handler runs immediately after user input
  superset-frontend/src/explore/components/controls/TextControl.tsx
Labels: polidea, size/M

#11963 fix : adhoc filter dropdown
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
Labels: flexiana, size/XS

#11964 refactor : Transform FilterScopeModal to Typescript
  superset-frontend/src/dashboard/components/filterscope/FilterScopeModal.tsx
Labels: flexiana, size/M

#11990 style: fixing rounded corners on list view tables.
  superset-frontend/src/components/dataViewCommon/TableCollection.tsx
Labels: preset-io, size/XS

#11946 fix(explore): changing metric aggregate doesn't update label
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
Labels: size/S

#11980 fix : Fix style for header (sqllab)
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/SqlLab/main.less
Labels: flexiana, size/M

#11936 chore: consolidate common code in importers
  superset-frontend/src/chart/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/chart/components/ImportModal/index.tsx
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/dashboard/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/database/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/database/components/ImportModal/index.tsx
  superset-frontend/src/datasource/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset/app.py
  superset/charts/commands/export.py
  superset/charts/commands/importers/v1/__init__.py
  superset/commands/export.py
  superset/commands/importers/v1/__init__.py
  superset/dashboards/commands/export.py
  superset/dashboards/commands/importers/v1/__init__.py
  superset/databases/commands/export.py
  superset/databases/commands/importers/v1/__init__.py
  superset/datasets/commands/export.py
  superset/datasets/commands/importers/v1/__init__.py
  superset/queries/saved_queries/commands/export.py
Labels: size/XXL

#11977 refactor: Removes hard coded colors
  superset-frontend/spec/javascripts/explore/components/ColorScheme_spec.jsx
  superset-frontend/spec/javascripts/explore/components/FilterBox_spec.jsx
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/withAsyncVerification_spec.tsx
  superset-frontend/src/components/Select/SupersetStyledSelect.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/styles.ts
Labels: size/L, turing

#12002 chore: move passwords needed message
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: size/M

#11982 feat: confirm overwrite when importing
  superset/charts/api.py
  superset/charts/commands/importers/v1/__init__.py
  superset/commands/importers/v1/__init__.py
  superset/dashboards/api.py
  superset/dashboards/commands/importers/v1/__init__.py
  superset/databases/api.py
  superset/databases/commands/importers/v1/__init__.py
  superset/datasets/api.py
  superset/datasets/commands/importers/v1/__init__.py
  tests/charts/api_tests.py
  tests/charts/commands_tests.py
  tests/dashboards/api_tests.py
  tests/dashboards/commands_tests.py
  tests/databases/api_tests.py
  tests/databases/commands_tests.py
  tests/datasets/api_tests.py
  tests/datasets/commands_tests.py
Labels: size/XL

#11937 feat: alert/report execution log list view
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/alert/ExecutionLog_spec.jsx
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertStatusIcon.tsx
  superset-frontend/src/views/CRUD/alert/components/RecipientIcon.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset/reports/logs/api.py
  superset/views/alerts.py
Labels: preset-io, size/XL

#11994 feat: add invisible layer on loading chart
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/stylesheets/components/chart.less
Labels: size/S

#11951 refactor : Transform SaveModal to typescript
  superset-frontend/src/components/Checkbox/Checkbox.test.tsx
  superset-frontend/src/components/Checkbox/index.tsx
  superset-frontend/src/dashboard/components/SaveModal.tsx
Labels: flexiana, size/L

#11973 fix(dataset): fetch metadata on dataset creation may raise broad exceptions
  superset/connectors/sqla/models.py
Labels: preset-io, size/XS

#12003 chore: remove generic type
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
Labels: size/S

#12007 fix: add default position to dash export
  superset/dashboards/commands/export.py
Labels: size/M

#11770 feat: alerts/reports add/edit modal
  superset-frontend/package-lock.json
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertReportModal_spec.jsx
  superset-frontend/src/common/components/Modal/Modal.tsx
  superset-frontend/src/common/components/Radio.tsx
  superset-frontend/src/common/components/Select.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/middleware/asyncEvent.ts
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/reports/api.py
  superset/reports/commands/update.py
Labels: preset-io, size/XXL

#11983 feat: add confirmation dialog for imports
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/L

#11991 feat: update IDs when importing dashboards
  superset/dashboards/commands/importers/v1/__init__.py
  superset/dashboards/commands/importers/v1/utils.py
  tests/dashboards/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/M

#11915 fix: Change url & add check for active item in menu
  superset-frontend/stylesheets/less/cosmo/bootswatch.less
Labels: flexiana, size/XS

#11993 refactor : Change menu name and reorder items
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
Labels: flexiana, size/S

#11978 docs: restored page on roles in security, executed other touchups, and…
  README.md
  docs/README.md
  docs/gatsby-node.js
  docs/src/pages/docs/frequently-asked-questions-page.mdx
  docs/src/pages/docs/installation/building-viz-plugins.mdx
  docs/src/pages/docs/roadmap-page.mdx
  docs/src/pages/docs/security-page.mdx
  docs/src/pages/index.tsx
  superset/security/manager.py
Labels: preset-io, size/L

#12024 style: Restoring menu highlights
  superset-frontend/src/components/Menu/Menu.tsx
Labels: preset-io, size/S

#12013 refactor: Existing Antd Collapse to enhanced
  superset-frontend/src/common/components/Collapse.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel.tsx
  superset-frontend/src/explore/components/DataTablesPane.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: flexiana, size/L

#11207 feat: Added setup for running Cypress tests in docker locally
  CONTRIBUTING.md
  docker-compose.yml
  docker/.env
  docker/docker-bootstrap.sh
  docker/docker-init.sh
Labels: polidea, size/M

#12018 fix: datasource modal doesn't save schema
  superset-frontend/src/datasource/DatasourceModal.tsx
Labels: preset-io, size/XS

#12006 fix: Explore "Change Dataset" UX Enhancements
  superset-frontend/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/explore/exploreUtils.js
  superset-frontend/src/types/Dataset.ts
Labels: size/L

#12043 fix: disable browser autocomplete for DeleteModal
  superset-frontend/src/components/DeleteModal.tsx
Labels: preset-io, size/XS

#12032 feat: add cron picker to AlertReportModal
  requirements/base.txt
  setup.cfg
  setup.py
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/common/components/CronPicker.tsx
  superset-frontend/src/common/components/Select.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertReportCronScheduler.test.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertReportCronScheduler.tsx
  superset/models/reports.py
  superset/reports/api.py
  tests/reports/api_tests.py
Labels: preset-io, size/L

#11957 chore: bumping plugin packages to latest
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/M

#11996 fix: Fix style for error modal
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
Labels: flexiana, size/XS

#12035 fix(reports): apply owners security validation
  superset/reports/api.py
  superset/reports/commands/bulk_delete.py
  superset/reports/commands/delete.py
  superset/reports/commands/exceptions.py
  superset/reports/commands/update.py
  tests/reports/api_tests.py
Labels: preset-io, size/L

#12039 fix(reports): log duration and sort columns
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
  superset/reports/api.py
  superset/reports/logs/api.py
  superset/reports/schemas.py
Labels: preset-io, size/S

#11853 feat(reports): security perm simplification
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset/migrations/versions/40f16acf1ba7_security_converge_reports.py
  superset/reports/api.py
  tests/reports/api_tests.py
Labels: preset-io, risk:db-migration, size/L

#12054 fix: (re)upgrade react-split
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/XS

#12055 fix(viz): remove orderby from sample request
  superset/viz.py
Labels: preset-io, size/XS

#11981 feat(charts): security perm simplification
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset/charts/api.py
  superset/constants.py
  superset/migrations/versions/ccb74baaa89b_security_converge_charts.py
  superset/views/chart/views.py
  superset/views/core.py
  tests/charts/api_tests.py
  tests/security_tests.py
Labels: preset-io, risk:db-migration, size/L

#11971 refactor: Transform URLShortLinkModal to Typescript
  superset-frontend/src/components/URLShortLinkModal.tsx
Labels: flexiana, size/M

#12057 docs: fixed CONTRIBUTING typos
  CONTRIBUTING.md
Labels: polidea, size/XS

#11803 feat: handle new export in CLI
  superset/cli.py
Labels: size/L

#12063 fix: annotation layers: remove redirect on layer edit
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayerModal.tsx
Labels: preset-io, size/XS

#12064 fix: small fixes to the new import/export
  superset/charts/commands/export.py
  superset/dashboards/commands/export.py
  superset/dashboards/commands/importers/v1/utils.py
  superset/databases/commands/export.py
  superset/datasets/commands/export.py
  superset/datasets/commands/importers/v1/utils.py
  superset/datasets/schemas.py
Labels: size/M

#12044 feat: Add new default dashboard
  superset/datasets/commands/importers/v1/utils.py
  superset/db_engine_specs/sqlite.py
  superset/examples/configs/charts/Filter.yaml
  superset/examples/configs/charts/Number_of_Deals_for_each_Combination.yaml
  superset/examples/configs/charts/Overall_Sales_By_Product_Line.yaml
  superset/examples/configs/charts/Proportion_of_Revenue_by_Product_Line.yaml
  superset/examples/configs/charts/Quarterly_Sales.yaml
  superset/examples/configs/charts/Quarterly_Sales_By_Product_Line.yaml
  superset/examples/configs/charts/Revenue_by_Deal_Size.yaml
  superset/examples/configs/charts/Seasonality_of_Revenue_per_Product_Line.yaml
  superset/examples/configs/charts/Total_Items_Sold.yaml
  superset/examples/configs/charts/Total_Items_Sold_By_Product_Line.yaml
  superset/examples/configs/charts/Total_Revenue.yaml
  superset/examples/configs/dashboards/Sales_Dashboard.yaml
  superset/examples/configs/datasets/examples/Cleaned_Sales_Data.yaml
Labels: size/XXL

#12065 feat: New Limit Selector
  superset-frontend/spec/javascripts/sqllab/LimitControl_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/LimitControl.tsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
Labels: size/L

#11927 refactor: optimize backend log payload
  setup.cfg
  superset/utils/log.py
  superset/views/base_api.py
  superset/views/core.py
  tests/event_logger_tests.py
Labels: size/L

#11970 feat: add hook for dataset health check
  superset-frontend/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset/config.py
  superset/connectors/sqla/models.py
  superset/datasets/dao.py
  superset/views/core.py
  superset/views/datasource.py
  tests/datasource_tests.py
Labels: size/M

#12049 feat: show missing parameters in query
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/featureFlags.ts
  superset/errors.py
  superset/jinja_context.py
  superset/utils/core.py
  superset/views/core.py
  tests/base_tests.py
  tests/sqllab_tests.py
Labels: size/L

#12042 refactor: Migrate react-select to Antd Select in Metrics and Filters popovers
  superset-frontend/spec/javascripts/explore/components/AdhocFilterEditPopoverSimpleTabContent_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopover_spec.jsx
  superset-frontend/src/common/components/Select.tsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSqlTabContent.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: polidea, size/L

#12038 fix: Closes #11864 - Duplicate PropertiesModal
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.jsx
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
Labels: flexiana, size/M

#12014 feat(annotations): security permissions simplification
  superset-frontend/spec/javascripts/views/CRUD/annotationlayers/AnnotationLayersList_spec.jsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset/annotation_layers/annotations/api.py
  superset/annotation_layers/api.py
  superset/migrations/versions/c25cb2c78727_security_converge_annotations.py
  superset/views/annotations.py
  tests/annotation_layers/api_tests.py
  tests/security_tests.py
Labels: polidea, risk:db-migration, size/L

#12000 feat(datasets): security perm simplification
  superset-frontend/spec/javascripts/views/CRUD/data/dataset/DatasetList_spec.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset/connectors/sqla/views.py
  superset/constants.py
  superset/datasets/api.py
  superset/migrations/versions/45731db65d9c_security_converge_datasets.py
  superset/security/manager.py
  tests/datasets/api_tests.py
  tests/security_tests.py
Labels: preset-io, risk:db-migration, size/L

#11979 fix(dataset): Page blanks on large data load
  superset-frontend/spec/javascripts/explore/utils_spec.jsx
  superset-frontend/src/explore/components/DataTableControl.tsx
  superset-frontend/src/explore/components/DataTablesPane.tsx
  superset-frontend/src/explore/exploreUtils.js
Labels: flexiana, size/M

#11750 build(cypress): Use pull_request_target event to run cypress
  .github/workflows/superset-e2e.yml
Labels: preset-io, size/S

#12076 build(cypress): Remove e2e pull_request event trigger
  .github/workflows/superset-e2e.yml
Labels: preset-io, size/XS

#12025 feat: Global nav menus open on hover
  superset-frontend/src/components/Menu/LanguagePicker.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/components/Menu/NewMenu.tsx
Labels: preset-io, size/M

#12053 feat(alerts/reports): delete and bulk delete actions
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
Labels: preset-io, size/L

#12070 fix: improve import flow UI/UX
  superset-frontend/src/common/components/Modal/Modal.tsx
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: size/L

#12048 fix: database add/edit modal: reset active tab on open
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/S

#12079 fix: Python dependencies in #11499
  requirements/base.in
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/integration.txt
  requirements/testing.in
  requirements/testing.txt
  setup.py
Labels: size/M

#12078 chore: bumping superset ui to 15.18 and deckgl to 0.3.2
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/M

#12077 feat(alert/report): add 'not null' condition option to modal
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
Labels: preset-io, size/M

#12086 fix: Fix "View in SQLLab" bug
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
Labels: size/XS

#12088 fix: handle context-dependent feature flags in CLI
  superset/cli.py
Labels: size/XS

#12074 build: fix typescript errors with npm link
  superset-frontend/tsconfig.json
Labels: size/XS

#11972 chore: Remove unused CodeModal
  superset-frontend/spec/javascripts/dashboard/components/CodeModal_spec.jsx
  superset-frontend/src/dashboard/components/CodeModal.jsx
Labels: flexiana, size/L

#12061 feat(logs): security permissions simplification
  superset/migrations/versions/4b84f97828aa_security_converge_logs.py
  superset/security/manager.py
  superset/views/log/api.py
  superset/views/log/views.py
  tests/security_tests.py
Labels: polidea, risk:db-migration, size/M

#12012 feat(dashboards): security perm simplification
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset/constants.py
  superset/dashboards/api.py
  superset/migrations/versions/1f6dca87d1a2_security_converge_dashboards.py
  superset/views/core.py
  superset/views/dashboard/views.py
  tests/base_api_tests.py
  tests/dashboards/api_tests.py
  tests/security_tests.py
Labels: preset-io, risk:db-migration, size/L

#12036 feat(databases): security perm simplification
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset/constants.py
  superset/databases/api.py
  superset/migrations/versions/42b4c9e01447_security_converge_databases.py
  superset/views/database/views.py
  tests/databases/api_tests.py
  tests/security_tests.py
Labels: preset-io, risk:db-migration, size/L

#12072 feat(queries): security perm simplification
  superset/migrations/versions/e37912a26567_security_converge_queries.py
  superset/queries/api.py
  tests/security_tests.py
Labels: preset-io, risk:db-migration, size/M

#12099 docs: Small typo fix in Athena connection docs
  docs/src/pages/docs/Connecting to Databases/athena.mdx
Labels: size/XS

#12056 fix(reports): increase crontab size and alert fixes
  superset/config.py
  superset/migrations/versions/ab104a954a8f_reports_alter_crontab_size.py
  superset/models/reports.py
  superset/reports/api.py
  superset/reports/commands/alert.py
  superset/reports/commands/exceptions.py
  superset/reports/logs/api.py
  superset/reports/schemas.py
  superset/tasks/scheduler.py
  tests/reports/api_tests.py
Labels: preset-io, risk:db-migration, size/L

#11148 chore: add latest tag action
  .github/workflows/latest-release-tag.yml
  .gitignore
  RELEASING/README.md
  docs/src/pages/docs/installation/index.mdx
  docs/src/pages/docs/installation/installing_scratch.mdx
  scripts/tag_latest_release.sh
Labels: preset-io, size/L

#12071 feat(alerts/reports): add refresh action
  superset-frontend/src/components/LastUpdated/LastUpdated.test.tsx
  superset-frontend/src/components/LastUpdated/index.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: preset-io, size/L

#12087 feat: Add toolbar overflow menu
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
Labels: size/L

#12081 feat: update alert/report icons and column order
  superset-frontend/images/icons/alert_solid_small.svg
  superset-frontend/images/icons/slack.svg
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertStatusIcon.tsx
  superset-frontend/src/views/CRUD/alert/components/RecipientIcon.tsx
Labels: preset-io, size/L

#11418 feat(explore): time picker enhancement
  requirements/base.txt
  setup.cfg
  setup.py
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterControl.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/constants.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/explore/components/controls/index.js
  superset-frontend/src/explore/dateFilterUtils.ts
  superset/utils/core.py
  superset/views/api.py
  tests/charts/api_tests.py
  tests/utils_tests.py
Labels: size/XXL

#12080 feat: initial custom error messages for SQL Lab
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/components/ErrorMessage/ParameterErrorMessage.tsx
  superset-frontend/src/setup/setupErrorMessages.ts
  superset/exceptions.py
  superset/views/base.py
  superset/views/core.py
  tests/celery_tests.py
  tests/sqllab_tests.py
Labels: size/L

#12110 fix(alerts/reports): modal submit button, copy changes, select apis
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertReportCronScheduler.tsx
  superset/reports/api.py
Labels: preset-io, size/M

#12085 feat(alerts/reports): remove SIP_34_UI feature flag
  superset/views/alerts.py
Labels: preset-io, size/XS

#12045 feat: updates to alert/report modal + more tests
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertReportModal_spec.jsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: preset-io, size/M

#12114 fix: FilterBox select lose focus when focused
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
  superset-frontend/cypress-base/package.json
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/M

#12008 feat(explore-datasource): add new datasource tab to explore view
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/spec/javascripts/explore/components/ControlPanelSection_spec.jsx
  superset-frontend/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/DatasourcePanel_spec.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/DatasourcePanel.tsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: preset-io, size/XL

#12117 docs(releasing): update release automation and docs
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  RELEASING/README.md
  RELEASING/email_templates/announce.j2
  RELEASING/email_templates/result_ipmc.j2
  RELEASING/email_templates/result_pmc.j2
  RELEASING/email_templates/vote_ipmc.j2
  RELEASING/email_templates/vote_pmc.j2
  RELEASING/make_tarball.sh
  RELEASING/make_tarball_entrypoint.sh
  RELEASING/send_email.py
  RELEASING/set_release_env.sh
  RELEASING/test_run_tarball.sh
Labels: preset-io, size/L

#12119 fix: security cleanup annotation and refresh permissions
  superset/constants.py
Labels: preset-io, size/XS

#12118 feat(chart-data-api): ignore unknown fields on QueryObject
  superset/charts/schemas.py
  tests/query_context_tests.py
Labels: preset-io, size/S

#12115 fix: remove keys in dashboard export
  superset/dashboards/commands/export.py
  superset/dashboards/commands/importers/v1/utils.py
Labels: size/S

#11880 feat: Support multiple queries per request
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/spec/javascripts/dashboard/components/FiltersBadge_spec.tsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/ChartRenderer.jsx
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/chart/chartReducer.js
  superset-frontend/src/dashboard/components/FiltersBadge/selectors.ts
  superset-frontend/src/dashboard/components/SliceHeader.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/util/propShapes.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.jsx
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/reducers/getInitialState.js
  superset-frontend/src/middleware/asyncEvent.ts
Labels: size/L

#12124 fix: fix the Flaky test for FilterBox re-introduced by #12114
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
Labels: size/S

#12069 feat: move sql lab save and copy buttons
  superset-frontend/images/icons/link.svg
  superset-frontend/images/icons/save.svg
  superset-frontend/spec/javascripts/sqllab/SaveQuery_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ShareSqlLabQuery_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/SaveQuery.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/components/CopyToClipboard.jsx
  superset-frontend/src/components/Icon/index.tsx
Labels: preset-io, size/XL

#12100 feat: move keyboard shortcut hints to tooltips
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
Labels: preset-io, size/M

#12060 feat: View all fav charts and dashboards
  superset-frontend/spec/javascripts/views/CRUD/welcome/SavedQueries_spec.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
Labels: flexiana, size/L

#12125 fix: Fix chart save and go button
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
Labels: size/M, turing

#12129 fix(explore): overflow issue with metric options
  superset-frontend/src/explore/components/OptionControls.tsx
Labels: preset-io, size/XS

#12127 fix: remove SIP_34_ALERTS_UI from config
  superset/config.py
Labels: preset-io, size/XS

#12135 fix: make example table name safe
  superset/examples/configs/datasets/examples/cleaned_sales_data.yaml
Labels: size/XS

#12113 feat: display suggestions when query has missing parameters
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/ErrorMessage/ParameterErrorMessage.tsx
Labels: size/M

#12130 feat: estimate query cost in Postgres
  superset/commands/importers/v1/__init__.py
  superset/config.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
Labels: size/L
