Repository apache/superset, pull requests merged in 2020-01, with the labels that each got.

#8838 Making SECRET_KEY the same in test and default
  tests/superset_test_config.py
Labels: preset-io, size/XS

#8908 [Fix],Correct read in Jinja configuration and update docs of Superset…
  superset/app.py
  superset/extensions.py
Labels: size/XS

#8918 [database] [log] Fix, Limit the amount of info on response
  superset/views/database/api.py
  superset/views/log/api.py
Labels: preset-io, size/S, v0.35

#8733 Replace pandas.DataFrame with PyArrow.Table for nullable int typing
  superset/assets/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset/assets/spec/javascripts/sqllab/fixtures.js
  superset/config.py
  superset/dataframe.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/result_set.py
  superset/sql_lab.py
  superset/views/core.py
  tests/celery_tests.py
  tests/core_tests.py
  tests/dataframe_test.py
  tests/result_set_tests.py
  tests/sqllab_tests.py
Labels: preset-io, size/XXL

#8887 Add config for celery email task soft time
  superset/config.py
  superset/tasks/schedules.py
Labels: size/S

#8911 [dashboard] Fix, prevent delete and update on dashes not owned
  superset/views/base.py
  superset/views/dashboard/api.py
  superset/views/dashboard/mixin.py
  superset/views/dashboard/views.py
  tests/dashboard_api_tests.py
Labels: preset-io, size/L

#8930 Revert "Make select_star work with SQL Lab views (#8598)"
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
Labels: size/M

#8931 [docs] Fix docstrings in superset/config.py
  superset/config.py
Labels: size/XS

#8935 [fix] Enforce the QueryResult.df to be a pandas.DataFrame object
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  superset/viz.py
  tests/model_tests.py
Labels: size/L

#8942 [dashboards] Fix, missing mulexport permission
  superset/views/dashboard/views.py
Labels: 0.36, preset-io, size/XS

#8914 [dashboard] Deprecate superset published API
  superset/assets/src/dashboard/actions/dashboardState.js
  superset/views/core.py
Labels: preset-io, size/S

#8939 Add support for Dremio as a new source
  docs/index.rst
  docs/installation.rst
  setup.py
  superset/db_engine_specs/dremio.py
Labels: size/M

#8945 [app] Fix, manage menu should be before charts
  superset/app.py
Labels: preset-io, size/S

#8946 Ensure proper JSON serialization of numpy.ndarray
  superset/utils/core.py
  tests/utils_tests.py
Labels: preset-io, size/XS

#8948 [fix] Enforce the QueryResult.df to be a pandas.DataFrame (Phase II)
  superset/common/query_context.py
  superset/connectors/druid/models.py
Labels: size/S

#8781 [css] Bringing Bootswatch in line with external variables, and other CSS tweaks
  superset/assets/.eslintignore
  superset/assets/package-lock.json
  superset/assets/package.json
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/RefreshLabel.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/stylesheets/filter-scope-selector.less
  superset/assets/src/explore/components/AdhocMetricEditPopoverTitle.jsx
  superset/assets/src/explore/main.less
  superset/assets/src/messageToasts/stylesheets/toast.less
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/assets/stylesheets/less/cosmo/variables.less
  superset/assets/stylesheets/less/index.less
  superset/assets/stylesheets/less/variables.less
  superset/assets/stylesheets/react-select/select.less
  superset/assets/stylesheets/reactable-pagination.less
  superset/assets/stylesheets/superset.less
Labels: preset-io, size/XXL

#8576 [db migration] change datasources-clusters foreign key to cluster_id
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/migrations/versions/e96dbf2cfef0_datasource_cluster_fk.py
  superset/utils/core.py
  tests/base_tests.py
  tests/dict_import_export_tests.py
  tests/druid_tests.py
  tests/import_export_tests.py
  tests/security_tests.py
Labels: size/L

#8950 docs: add Reward Gateway to README
  README.md
Labels: preset-io, size/XS

#8949 [filter_box] Fix ; separated filter_box default values
  superset/assets/spec/javascripts/dashboard/util/getFilterConfigsFromFormdata_spec.js
  superset/assets/src/dashboard/util/getFilterConfigsFromFormdata.js
Labels: size/S

#8966 fix: lighten CSS border for data preview table
  superset/assets/src/components/FilterableTable/FilterableTableStyles.less
Labels: preset-io, size/XS

#8964 Fixing RewardGateway URL (https://rewardgateway.com/ gave a cert error)
  README.md
Labels: preset-io, size/XS

#8969 docs: fix bad extras_require reference
  docs/installation.rst
Labels: preset-io, size/XS

#8971 Add changelog for 0.35.2
  CHANGELOG.md
Labels: size/S

#8967 Refactor sql editor autocomplete
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
  superset/assets/src/SqlLab/constants.js
  superset/assets/src/SqlLab/utils/sqlKeywords.ts
  superset/assets/src/explore/components/AdhocFilterEditPopoverSqlTabContent.jsx
  superset/assets/src/explore/components/AdhocMetricEditPopover.jsx
Labels: size/L

#8974 [dashboard] fix for empty dashboard slug when editing
  superset/assets/src/dashboard/components/Header.jsx
  superset/assets/src/dashboard/components/PropertiesModal.jsx
Labels: preset-io, size/S

#8958 [docs] Fix CORS section in installation
  docs/installation.rst
Labels: size/XS

#8901 fix: add datasource.changed_on to cache_key
  UPDATING.md
  setup.cfg
  superset/common/query_context.py
  superset/common/query_object.py
  superset/viz.py
  tests/core_tests.py
Labels: size/L

#8817 [sip-15] Displaying endpoints for all start/end time ranges
  superset/assets/src/explore/components/controls/DateFilterControl.jsx
Labels: #SIP, size/S

#8917 [charts] New, REST API
  superset/app.py
  superset/views/api.py
  superset/views/base.py
  superset/views/base_api.py
  superset/views/base_schemas.py
  superset/views/chart/__init__.py
  superset/views/chart/api.py
  superset/views/chart/filters.py
  superset/views/chart/mixin.py
  superset/views/chart/views.py
  superset/views/core.py
  superset/views/dashboard/api.py
  tests/base_api_tests.py
  tests/base_tests.py
  tests/chart_api_tests.py
  tests/dashboard_api_tests.py
Labels: preset-io, size/XXL

#8972 [dashboards] New, API for Bulk delete
  superset/views/dashboard/api.py
  tests/dashboard_api_tests.py
Labels: preset-io, size/L

#8985 Bump pandas to 0.25.3
  requirements.txt
  setup.py
  superset/result_set.py
Labels: size/XS

#8996 [druid] make cluster_name editable
  superset/connectors/druid/views.py
Labels: size/S

#8997 [SQL Lab] Open request access link in a new tab
  superset/assets/src/SqlLab/components/ResultSet.jsx
Labels: size/XS

#8995 [druid] Making scaning/refreshing Druid datasource view items optional
  superset/app.py
  superset/config.py
Labels: size/M

#8992 chore: Bump requirements.txt
  requirements.txt
Labels: size/M

#8988 Timing and radii
  superset/assets/src/CRUD/crud.less
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/FilterBadgeIcon.less
  superset/assets/src/dashboard/stylesheets/builder-sidepane.less
  superset/assets/src/dashboard/stylesheets/components/chart.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/stylesheets/filter-indicator-tooltip.less
  superset/assets/src/dashboard/stylesheets/filter-indicator.less
  superset/assets/src/dashboard/stylesheets/filter-scope-selector.less
  superset/assets/src/explore/components/controls/DatasourceControl.less
  superset/assets/src/explore/components/controls/VizTypeControl.less
  superset/assets/src/messageToasts/stylesheets/toast.less
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/assets/stylesheets/less/cosmo/variables.less
  superset/assets/stylesheets/less/variables.less
  superset/assets/stylesheets/reactable-pagination.less
  superset/assets/stylesheets/superset.less
Labels: preset-io, size/L

#8960 fix: shut off unneeded endpoints
  .gitignore
  .rat-excludes
  requirements.txt
  superset/app.py
  superset/assets/src/dashboard/actions/sliceEntities.js
  superset/connectors/druid/views.py
  superset/connectors/sqla/views.py
  superset/constants.py
  superset/security/manager.py
  superset/views/annotations.py
  superset/views/base_api.py
  superset/views/chart/api.py
  superset/views/chart/views.py
  superset/views/core.py
  superset/views/dashboard/api.py
  superset/views/dashboard/views.py
  superset/views/database/api.py
  superset/views/database/views.py
  superset/views/log/api.py
  superset/views/log/views.py
  superset/views/schedules.py
  superset/views/sql_lab.py
  tests/core_tests.py
  tests/import_export_tests.py
  tests/security_tests.py
Labels: .important, .security, need:more-info, preset-io, risk:hard-to-test, size/L

#9004 Bump FAB to 2.2.2
  requirements.txt
  setup.py
Labels: preset-io, size/XS

#8998 docs: remove name change notice in README.md
  CHANGELOG.md
  README.md
Labels: preset-io

#9006 [fix] pydruid export_pandas
  superset/connectors/druid/models.py
Labels: size/XS

#9008 [SQL Lab] Disable autocomplete when typing numbers
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
Labels: size/XS

#9009 [perf_logging] Add is_cached status when chart has error
  superset/assets/src/chart/chartAction.js
Labels: size/XS

#8984 Z index registry / clean-up
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/FilterBadgeIcon.less
  superset/assets/src/dashboard/stylesheets/builder-sidepane.less
  superset/assets/src/dashboard/stylesheets/components/chart.less
  superset/assets/src/dashboard/stylesheets/components/column.less
  superset/assets/src/dashboard/stylesheets/components/header.less
  superset/assets/src/dashboard/stylesheets/components/row.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/stylesheets/dnd.less
  superset/assets/src/dashboard/stylesheets/grid.less
  superset/assets/src/dashboard/stylesheets/hover-menu.less
  superset/assets/src/dashboard/stylesheets/popover-menu.less
  superset/assets/src/dashboard/stylesheets/resizable.less
  superset/assets/src/messageToasts/stylesheets/toast.less
  superset/assets/stylesheets/less/variables.less
  superset/assets/stylesheets/react-select/select.less
  superset/assets/stylesheets/superset.less
  superset/examples/css_templates.py
Labels: preset-io, size/L

#9012 [SQL Lab] Add function names to autocomplete
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
  superset/assets/src/SqlLab/components/SqlEditor.jsx
  superset/assets/src/SqlLab/constants.js
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/views/database/api.py
Labels: size/M

#9011 [fix] Ensure sunburst column ordering adheres to hierarchy
  superset/viz.py
Labels: size/S

#9010 [fix][i18n] Enable Spanish
  superset/config.py
Labels: size/XS

#9019 [SQL Lab] Cache function names query
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
Labels: size/XS

#9015 [dashboard] fix, enable info endpoint
  superset/constants.py
Labels: preset-io, size/XS

#9020 [Caching] Ensure cache is always created
  superset/config.py
  superset/typing.py
  superset/utils/cache_manager.py
  tests/utils_tests.py
Labels: size/XS

#8993 [log] fix, log model view permissions
  superset/security/manager.py
  superset/views/log/api.py
  tests/log_api_tests.py
  tests/security_tests.py
Labels: preset-io, size/L

#9026 [refactor] Centralizing custom Python types
  superset/typing.py
  superset/viz.py
Labels: size/XS

#9025 [dashboard] fix, add config to optionally enable react replacement fo…
  superset/config.py
  superset/views/dashboard/views.py
Labels: preset-io, size/S

#9030 [fix] Reverting metic logic from #8901
  superset/common/query_object.py
  tests/core_tests.py
Labels: size/XS

#9035 [routes] Re-adding FAB API routes for SqlMetricInlineView and TableModelView
  superset/connectors/sqla/views.py
  superset/constants.py
Labels: size/XS

#9036 [routes] Re-adding FAB API routes for TableColumnInlineView
  superset/connectors/sqla/views.py
Labels: size/XS

#9007 Serialize nested columns as JSON strings
  superset/result_set.py
  tests/result_set_tests.py
Labels: preset-io, size/M

#9040 [fix] Adding show to FAB CRUD set
  superset/constants.py
Labels: size/XS

#9038 Remove redirect endpoint /superset/explorev2
  superset/views/core.py
Labels: preset-io, size/S

#8982 [api] fix, set default columns to just id when not defined
  superset/views/base_api.py
  tests/base_api_tests.py
  tests/dashboard_api_tests.py
Labels: preset-io, size/L

#9002 [database] new, API table metadata
  superset/assets/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset/assets/src/SqlLab/actions/sqlLab.js
  superset/views/core.py
  superset/views/database/api.py
  superset/views/database/filters.py
  superset/views/database/mixins.py
  tests/core_tests.py
  tests/database_api_tests.py
Labels: preset-io, size/XL

#9049 Remove endpoints allowing arbitrary cache access
  superset/views/core.py
Labels: preset-io, size/S

#8527 Avoid fetch fav dashboard stat not logged in
  superset/assets/spec/javascripts/dashboard/components/Header_spec.jsx
  superset/assets/src/dashboard/components/Header.jsx
Labels: size/M

#9031 [fix] Pivot table metric ordering
  superset/viz.py
Labels: size/XS

#9041 [sqllab] Showing schema length only when schema selected
  superset/assets/src/components/TableSelector.jsx
Labels: size/S

#9018 Add revert guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: preset-io, size/S

#9050 [UPDATING] Add metadata cache changes to 0.29.0
  UPDATING.md
Labels: size/XS

#9052 [docs] update README.md Peak AI
  README.md
Labels: need:more-info, size/XS

#9059 [SQL Lab] Remove space after schema autocomplete
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
Labels: size/XS

#9058 [Viz/Query] Improve logging around cache hits
  superset/common/query_context.py
  superset/viz.py
Labels: size/XS

#9023 LESS is more
  superset/assets/package.json
  superset/assets/src/CRUD/crud.less
  superset/assets/src/SqlLab/main.less
  superset/assets/src/components/FilterBadgeIcon.less
  superset/assets/src/components/FilterableTable/FilterableTableStyles.less
  superset/assets/src/components/Menu/Menu.less
  superset/assets/src/components/RefreshLabel.less
  superset/assets/src/components/TableSelector.less
  superset/assets/src/dashboard/stylesheets/buttons.less
  superset/assets/src/dashboard/stylesheets/components/chart.less
  superset/assets/src/dashboard/stylesheets/components/column.less
  superset/assets/src/dashboard/stylesheets/components/header.less
  superset/assets/src/dashboard/stylesheets/components/markdown.less
  superset/assets/src/dashboard/stylesheets/components/new-component.less
  superset/assets/src/dashboard/stylesheets/components/row.less
  superset/assets/src/dashboard/stylesheets/components/tabs.less
  superset/assets/src/dashboard/stylesheets/dashboard.less
  superset/assets/src/dashboard/stylesheets/dnd.less
  superset/assets/src/dashboard/stylesheets/popover-menu.less
  superset/assets/src/dashboard/stylesheets/resizable.less
  superset/assets/src/explore/components/controls/VizTypeControl.less
  superset/assets/src/explore/main.less
  superset/assets/src/messageToasts/stylesheets/toast.less
  superset/assets/src/showSavedQuery/index.less
  superset/assets/src/visualizations/FilterBox/FilterBox.less
  superset/assets/stylesheets/less/cosmo/bootswatch.less
  superset/assets/stylesheets/less/index.less
  superset/assets/stylesheets/react-select/select.less
  superset/assets/stylesheets/reactable-pagination.less
  superset/assets/stylesheets/superset.less
Labels: preset-io, size/XL
