Repository apache/superset, pull requests merged in 2020-10, with the labels that each got.

#11109 feat: saved query list actions
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryList_spec.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/components/ListView/ActionsBar.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset/queries/saved_queries/api.py
  tests/queries/saved_queries/api_tests.py
Labels: preset-io, size/L

#11127 fix: SpatialControl popover won't open
  superset-frontend/src/components/Popover/index.tsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
Labels: preset-io, size/L

#11114 feat: CRUD REST API for CSS Templates
  superset/app.py
  superset/css_templates/__init__.py
  superset/css_templates/api.py
  superset/css_templates/commands/__init__.py
  superset/css_templates/commands/bulk_delete.py
  superset/css_templates/commands/exceptions.py
  superset/css_templates/dao.py
  superset/css_templates/filters.py
  superset/css_templates/schemas.py
  tests/css_templates/__init__.py
  tests/css_templates/api_tests.py
Labels: preset-io, size/XL

#11115 fix: alembic migration error msg trying to delete constraint on tables
  superset/migrations/versions/18532d70ab98_fix_table_unique_constraint_in_mysql.py
Labels: preset-io, risk:db-migration, size/XS

#11125 fix: Revert "Replace reactable with DataTable from superset-ui in QueryTab…
  superset-frontend/spec/javascripts/sqllab/QueryTable_spec.jsx
  superset-frontend/spec/javascripts/sqllab/fixtures.ts
  superset-frontend/src/SqlLab/components/QueryTable.jsx
Labels: preset-io, size/M

#11121 fix: remove extra flash import
  superset/templates/superset/import_dashboards.html
Labels: preset-io, size/XS

#11132 docs: use the Apache-Superset logo on README / pypi
  README.md
Labels: preset-io, size/XS

#11102 chore: refactor submenu's right nav to accept list of buttons
  superset-frontend/spec/javascripts/components/SubMenu_spec.jsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Labels: preset-io, size/L

#11083 feat: custom favorite filter for dashboards, charts and saved queries
  superset/charts/api.py
  superset/charts/filters.py
  superset/dashboards/api.py
  superset/dashboards/filters.py
  superset/models/sql_lab.py
  superset/queries/saved_queries/api.py
  superset/queries/saved_queries/filters.py
  superset/views/base_api.py
  tests/charts/api_tests.py
  tests/dashboards/api_tests.py
  tests/queries/saved_queries/api_tests.py
Labels: preset-io, size/L

#11126 style: rename label 'table name'->'dataset name'
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: preset-io, size/XS

#11111 style(listview): dynamic card size and grid spacing
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/components/ListViewCard/ImageLoader.test.jsx
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset/utils/screenshots.py
Labels: preset-io, size/M

#11124 fix: add info about case sensitive search
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
Labels: preset-io, size/XS

#11133 docs: comply to ASF requirements
  README.md
  docs/.htaccess
  docs/src/components/MainMenu.tsx
  docs/src/components/footer.tsx
  docs/src/components/layout.tsx
  docs/src/pages/resources.tsx
Labels: preset-io, size/M

#11140 docs: docs site footer link tweak
  .asf.yaml
  docs/src/components/footer.tsx
Labels: preset-io, size/XS

#11136 fix: Alembic migration 18532d70ab98
  superset/migrations/versions/18532d70ab98_fix_table_unique_constraint_in_mysql.py
Labels: size/S

#11139 style: override ace edit error icon
  superset-frontend/images/icons/error_solid_small_red.svg
  superset-frontend/stylesheets/superset.less
  superset-frontend/webpack.config.js
Labels: preset-io, size/S

#10924 perf(explore): render datasource details only when needed
  superset-frontend/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: size/M

#11090 refactor: Replace react-bootstrap tabs with Antd tabs
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.js
  superset-frontend/spec/javascripts/profile/App_spec.tsx
  superset-frontend/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset-frontend/src/SqlLab/components/SouthPane.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/common/components/Dropdown.tsx
  superset-frontend/src/common/components/Modal.tsx
  superset-frontend/src/common/components/Tabs.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/profile/components/App.tsx
Labels: polidea, size/XL

#11141 fix(examples): missing expressions in birth_names
  superset-frontend/cypress-base/cypress/integration/explore/AdhocMetrics.test.ts
  superset/examples/birth_names.py
Labels: preset-io, size/XS

#11120 fix: clean up prop type errors in jest tests
  superset-frontend/spec/javascripts/chart/ChartRenderer_spec.jsx
  superset-frontend/spec/javascripts/components/URLShortLinkModal_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/FilterIndicatorGroup_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/FilterIndicator_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopover_spec.jsx
  superset-frontend/spec/javascripts/explore/components/DisplayQueryButton_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ExploreActionButtons_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ExploreChartPanel_spec.jsx
  superset-frontend/spec/javascripts/explore/components/QueryAndSaveBtns_spec.jsx
  superset-frontend/spec/javascripts/sqllab/QuerySearch_spec.jsx
Labels: preset-io, size/M

#11144 Filters p0 scoping css, take 1
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/stylesheets/builder.less
  superset-frontend/src/dashboard/stylesheets/components/chart.less
Labels: preset-io, size/M

#11058 fix: Enable ESLint rule default-props-match-prop-types
  superset-frontend/.eslintrc.js
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.js
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/components/Hotkeys.jsx
  superset-frontend/src/components/Select/OnPasteSelect.jsx
  superset-frontend/src/dashboard/components/ColorSchemeControlWrapper.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceHeader.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/menu/WithPopoverMenu.jsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.jsx
Labels: chore:linting, polidea, size/M

#11145 fix: fixing CI workflow
  .github/workflows/superset-docs.yml
Labels: preset-io, size/XS

#11150 fix: Revert "refactor: Remove usages of reactable from TimeTable"
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/L

#11143 chore: Remove obsolete creating missing metric permissions
  superset/security/manager.py
Labels: size/XS

#11154 docs: add API page to docs using Swagger UI
  README.md
  docs/README.txt
  docs/doczrc.js
  docs/package-lock.json
  docs/package.json
  docs/src/components/footer.tsx
  docs/src/gatsby-theme-docz/index.tsx
  docs/src/pages/docs/api.mdx
  docs/src/resources/openapi.json
  scripts/fossa.sh
Labels: preset-io

#11151 style: Filters p0 css2
  superset-frontend/package-lock.json
  superset-frontend/spec/javascripts/dashboard/components/FiltersBadge_spec.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
Labels: preset-io, size/L

#11152 docs: typo
  README.md
  docs/installation.rst
Labels: size/XS

#11040 chore: allow passing bash args into the pytest
  scripts/python_tests.sh
Labels: size/XS

#11135 feat: saved query preview modal
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryPreviewModal_spec.jsx
  superset-frontend/src/common/components/Modal.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryPreviewModal.tsx
Labels: preset-io, size/L

#11108 chore: Remove erroneous package-lock.json
  package-lock.json
Labels: preset-io, size/XS

#11055 chore: more 'datasource' -> 'dataset' renaming
  .rat-excludes
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/controlPanels/sections.jsx
  superset-frontend/src/profile/components/Security.tsx
  superset-frontend/src/utils/getClientErrorObject.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: preset-io, size/M

#11137 fix: enable consistent etag across workers and force no-cache for dashboards
  superset/utils/decorators.py
  superset/views/core.py
Labels: size/M

#11149 fix: Fix Time Column dropdown for date filter
  superset-frontend/spec/javascripts/explore/fixtures.jsx
  superset-frontend/src/explore/controls.jsx
Labels: size/XS

#11075 style(sqllab): make database errors more clear and render as monospace
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/components/ErrorBoundary.jsx
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.tsx
Labels: preset-io, size/M

#11056 style: fix too light form labels in DatabaseModal + DRY css
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/S

#11170 style(dashboard): minor improvements to chart context menu
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
Labels: preset-io, size/S

#11168 fix: 📜 `/docs/api` won't render
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-presto.yml
  docs/src/components/AnchorNavigator.tsx
  docs/src/components/MainMenu.tsx
  docs/src/pages/docs/api.mdx
Labels: preset-io, size/M

#11174 chore: add issue template for 'Cosmetic Issue'
  .github/ISSUE_TEMPLATE/cosmetic.md
Labels: preset-io, size/S

#11175 chore: remove SIP_34_SAVED_QUERIES_UI feature flag
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/views/CRUD/data/common.ts
  superset/views/sql_lab.py
Labels: preset-io, size/S

#11176 fix: cosmetic issue template
  .github/ISSUE_TEMPLATE/cosmetic.md
Labels: preset-io, size/XS

#11164 fix: save query modal/button styling + convert to ant-d modal
  superset-frontend/spec/javascripts/sqllab/SaveQuery_spec.jsx
  superset-frontend/src/SqlLab/components/SaveQuery.jsx
  superset-frontend/src/SqlLab/components/SaveQuery.tsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/common/components/Modal.tsx
Labels: preset-io, size/L

#11180 fix: saved query CRUD list view
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Labels: preset-io, size/XS

#11173 fix(viz): downgrade exception for missing viz/datasource
  superset/views/utils.py
  superset/viz.py
Labels: preset-io, size/M

#11131 test: removed unicode_test example from unit tests
  tests/charts/api_tests.py
  tests/conftest.py
  tests/dashboard_utils.py
  tests/databases/api_tests.py
  tests/fixtures/unicode_dashboard.py
  tests/security_tests.py
  tests/strategy_tests.py
Labels: polidea, size/L, test

#11155 chore: cleanup FAB update perms
  UPDATING.md
  docs/installation.rst
  docs/src/pages/docs/installation/configuring.mdx
  superset/app.py
Labels: size/M

#11098 feat: add UUID column to ImportMixin
  superset/dashboards/dao.py
  superset/datasets/schemas.py
  superset/migrations/versions/b56500de1855_add_uuid_column_to_import_mixin.py
  superset/models/helpers.py
  superset/models/slice.py
  superset/utils/core.py
  superset/views/core.py
  tests/databases/api_tests.py
  tests/dict_import_export_tests.py
  tests/import_export_tests.py
Labels: database, risk:db-migration, size/L

#11194 fix: Revert "refactor: Replace react-bootstrap tabs with Antd tabs (#11090)"
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.js
  superset-frontend/spec/javascripts/profile/App_spec.tsx
  superset-frontend/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset-frontend/src/SqlLab/components/SouthPane.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/common/components/Dropdown.tsx
  superset-frontend/src/common/components/Modal.tsx
  superset-frontend/src/common/components/Tabs.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/profile/components/App.tsx
Labels: size/XL

#11172 chore: turn SQL templating off by default
  UPDATING.md
  superset/config.py
  superset/jinja_context.py
  tests/superset_test_config.py
Labels: preset-io, size/M

#11196 fix: skip unit test that is failing in master for test-postgres-hive
  tests/datasets/api_tests.py
Labels: size/XS

#11203 fix: revert eTag cache feature for dashboard
  superset/config.py
  superset/utils/decorators.py
  superset/views/core.py
  superset/views/utils.py
  tests/utils_tests.py
Labels: size/L

#11204 chore: Fix typo "insode" -> "inside"
  docs/src/pages/docs/installation/installing_scratch.mdx
Labels: size/XS

#11208 chore: Add __pycache__ to gitignore
  .gitignore
Labels: size/XS

#11213 test: test_cache_logging is not depending on other dashboard
  tests/core_tests.py
Labels: polidea, size/XS

#11214 test: datasource uid of cache in test_csv_response_format is asserted with table id
  tests/query_context_tests.py
Labels: polidea, size/XS

#11101 style(listview): various changes to get closer to SIP-34 designs.
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
  superset-frontend/src/components/FaveStar.tsx
  superset-frontend/src/components/IndeterminateCheckbox.tsx
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/components/ListView/CardSortSelect.tsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/components/SearchInput.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/stylesheets/superset.less
Labels: preset-io, size/XL

#11189 feat: CSS Templates List
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplatesList_spec.jsx
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset/views/css_templates.py
Labels: preset-io, size/L

#11179 chore: simplify alerting data model to leverage a single class
  superset/app.py
  superset/migrations/versions/af30ca79208f_collapse_alerting_models_into_a_single_.py
  superset/models/alerts.py
  superset/tasks/alerts/observer.py
  superset/tasks/alerts/validator.py
  superset/tasks/schedules.py
  superset/views/alerts.py
  tests/alerts_tests.py
Labels: size/XL

#11212 refactor: Replace react-bootstrap tabs with Antd tabs in SqlLab
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.js
  superset-frontend/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
  superset-frontend/src/SqlLab/components/SouthPane.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/common/components/Dropdown.tsx
  superset-frontend/src/common/components/Tabs.tsx
  superset-frontend/src/common/components/common.stories.tsx
Labels: polidea, size/XL

#11225 fix: adding `nofollow` to 3rd party links on docs site
  docs/src/pages/index.tsx
Labels: preset-io, size/XS

#11230 fix(cypress): table viz failed to run in postgres12
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/shared.helper.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
Labels: size/S

#11223 chore: Leverage SQLALchemy ping rather than explicit SELECT 1 for testconn
  superset/views/core.py
Labels: size/XS

#11201 chore(sql-lab): catch PyArrow deserialization error
  superset/exceptions.py
  superset/views/core.py
  superset/views/utils.py
Labels: preset-io, size/M

#11236 chore(sqla): assert query does not exceed 1 statement
  superset/connectors/sqla/models.py
  tests/sqla_models_tests.py
Labels: preset-io, size/M

#11237 feat(datasets): REST API bulk delete
  superset/datasets/api.py
  superset/datasets/commands/bulk_delete.py
  superset/datasets/commands/exceptions.py
  superset/datasets/dao.py
  superset/datasets/schemas.py
  tests/datasets/api_tests.py
Labels: preset-io, size/L

#11221 fix: dataset editor update user list endpoint
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: preset-io, size/XS

#11244 chore: deprecate REDUCE_DASHBOARD_BOOTSTRAP_PAYLOAD
  UPDATING.md
  superset/config.py
  superset/views/core.py
Labels: size/S

#11220 feat: prevent co-edit dashboard collision
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/reducers/getInitialState.js
  superset/models/dashboard.py
  superset/views/core.py
  tests/dashboard_tests.py
Labels: size/M

#11210 fix: show TIME COLUMN options in dashboard
  superset-frontend/spec/javascripts/explore/components/FilterBox_spec.jsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/M

#11246 fix: Ensure consistent naming for testconn
  superset/templates/superset/models/database/macros.html
  superset/views/core.py
Labels: size/S

#11228 test: add admin to the owners of birth_names slices
  .github/workflows/bashlib.sh
  superset/examples/birth_names.py
Labels: size/M

#11209 perf: speed up uuid column generation
  superset/migrations/versions/b56500de1855_add_uuid_column_to_import_mixin.py
Labels: size/L

#11181 fix: keep placeholder in multivalue select when a value exists
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
Labels: preset-io, size/L

#11242 docs: don't link to database engine pages
  docs/src/images/databases/apache-kylin.png
  docs/src/images/databases/clickhouse.png
  docs/src/images/databases/firebird.png
  docs/src/images/databases/oraclelogo.png
  docs/src/pages/index.tsx
Labels: preset-io

#11252 fix: improve time compare range error
  superset/viz.py
  superset/viz_sip38.py
Labels: size/XS

#11255 Filters performance
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel.tsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: preset-io, size/S

#11253 build: update webpack for npm linking plugins
  superset-frontend/tsconfig.json
  superset-frontend/webpack.config.js
Labels: size/S

#11234 perf: cache dashboard bootstrap data
  superset/charts/commands/delete.py
  superset/config.py
  superset/connectors/druid/__init__.py
  superset/dashboards/dao.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/utils/core.py
  superset/utils/decorators.py
  superset/views/core.py
  superset/views/dashboard/views.py
  tests/superset_test_config.py
  tests/util/__init__.py
  tests/utils/__init__.py
  tests/utils/decorators_tests.py
  tests/utils/machine_auth_tests.py
Labels: size/L

#11258 chore: update dashboard edit modal UI
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
Labels: preset-io, size/S

#11193 fix: do not import superset_config on tests
  scripts/python_tests.sh
  superset/config.py
  superset/utils/core.py
  tox.ini
Labels: size/S

#11261 docs: Add utair to list of companies using Apache Superset
  INTHEWILD.md
Labels: size/XS

#11233 chore(engine): adapt postgres backend connection URI
  superset/db_engine_specs/__init__.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/S

#11262 fix(crud): set default extra value when adding database
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/XS

#11256 docs: add note about migration in #11098 to Changelog
  UPDATING.md
Labels: size/XS

#11222 refactor: use contextmanager for event_logger decorators
  superset/__init__.py
  superset/utils/log.py
  superset/views/core.py
  tests/event_logger_tests.py
Labels: size/L

#11249 test: refactored api_tests in charts [WIP]
  tests/charts/api_tests.py
Labels: polidea, size/M, test

#11270 fix: Revert "fix: keep placeholder in multivalue select when a value exists"
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
Labels: size/L

#11260 fix(query search): use new api to fetch users
  superset-frontend/src/SqlLab/components/QuerySearch.jsx
  superset/queries/api.py
Labels: preset-io, size/S

#11273 fix: delete the correct dashboard cache key
  superset/models/dashboard.py
Labels: size/XS

#11254 chore: Added data-test attributes for testing
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/components/DeleteModal.tsx
  superset-frontend/src/components/EditableTitle.tsx
  superset-frontend/src/components/FaveStar.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/components/Modal.tsx
  superset-frontend/src/components/PopoverSection.jsx
  superset-frontend/src/components/Select/SupersetStyledSelect.tsx
  superset-frontend/src/components/URLShortLinkButton.jsx
  superset-frontend/src/components/dataViewCommon/TableCollection.tsx
  superset-frontend/src/dashboard/components/AddSliceCard.jsx
  superset-frontend/src/dashboard/components/BuilderComponentPane.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/IconButton.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/DraggableNewComponent.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopover.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.jsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/components/controls/TextControl.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
  superset/templates/superset/basic.html
  superset/templates/superset/theme.html
Labels: polidea, size/L

#11287 fix: Fix styling in SqlLab when tabs overflow
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/common/components/Dropdown.tsx
  superset-frontend/src/common/components/Tabs.tsx
Labels: polidea, size/S

#11272 chore: update superset-ui plugin packages
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#11278 fix: add schema name to datasource field in chart list
  superset/models/slice.py
Labels: preset-io, size/XS

#11293 fix: use dashboard id for stable cache key
  superset/models/dashboard.py
Labels: size/XS

#11187 fix: button translations missing
  superset-frontend/spec/javascripts/explore/components/QueryAndSaveBtns_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/dashboard/components/PublishedStatus.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset/templates/appbuilder/general/widgets/search.html
  superset/views/dashboard/mixin.py
Labels: size/S

#11294 feat: update time_compare description and choices
  superset-frontend/src/explore/controlPanels/sections.jsx
Labels: size/XS

#11300 fix(SQLLab): CTAS and CVAS buttons invisible #11177
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
Labels: size/XS

#11305 fix: should update last_modified_time in client-side after save dash
  superset-frontend/spec/javascripts/dashboard/reducers/dashboardState_spec.js
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/getInitialState.js
Labels: size/M

#11229 feat: export databases as a ZIP bundle
  requirements/testing.in
  requirements/testing.txt
  setup.cfg
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/export.py
  superset/databases/schemas.py
  superset/models/helpers.py
  superset/utils/dict_import_export.py
  tests/charts/api_tests.py
  tests/dashboards/api_tests.py
  tests/databases/api_tests.py
  tests/databases/commands_tests.py
  tests/datasets/api_tests.py
  tests/sqla_models_tests.py
  tests/sqllab_tests.py
Labels: size/XL

#11259 chore: make config ENABLE_REACT_CRUD_VIEWS = True by default
  UPDATING.md
  superset/config.py
Labels: preset-io, size/XS

#11216 refactor: Refactor QueryTable to use react-table
  superset-frontend/spec/javascripts/sqllab/App_spec.jsx
  superset-frontend/spec/javascripts/sqllab/QueryTable_spec.jsx
  superset-frontend/src/SqlLab/components/App.jsx
  superset-frontend/src/SqlLab/components/QuerySearch.jsx
  superset-frontend/src/SqlLab/components/QueryTable.jsx
Labels: polidea, size/L

#11326 fix(chart-api): cached-indicator always shows value is cached
  superset/common/query_context.py
Labels: preset-io, size/XS

#11325 fix(extra-filters): add logic for identifying applied extra filters
  superset-frontend/spec/javascripts/explore/components/QueryAndSaveBtns_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/dashboard/components/PublishedStatus.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/controlPanels/sections.jsx
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/models/dashboard.py
  superset/templates/appbuilder/general/widgets/search.html
  superset/utils/core.py
  superset/views/dashboard/mixin.py
  superset/viz.py
  tests/charts/api_tests.py
  tests/utils_tests.py
Labels: preset-io, size/L

#11333 fix: bring back type ignore for config import
  superset/config.py
Labels: polidea, size/XS

#11290 tests: added fixtures to created dashboards and updated test with proper value
  tests/dashboard_tests.py
  tests/databases/api_tests.py
  tests/datasets/api_tests.py
Labels: polidea, size/L, test

#11241 refactor: Replace usages of reactable in ChangeDatasourceModal
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
Labels: polidea, size/M

#11280 chore: Dashboard cypress refactor
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_mode.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/fav_star.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.js
  superset-frontend/src/dashboard/components/BuilderComponentPane.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
Labels: polidea, size/L

#11313 tests: Parameterize some tests in alerts_tests.py
  tests/alerts_tests.py
Labels: size/L

#11218 fix: update table_name and schema on dataset editor
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  tests/fixtures/datasource.py
Labels: preset-io, size/XS

#11296 feat: css template add/edit modal
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplateModal_spec.jsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplateModal.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/csstemplates/types.ts
Labels: preset-io, size/L

#11343 fix: Fix tabs switching in SouthPane
  superset-frontend/src/SqlLab/components/SouthPane.jsx
Labels: polidea, size/XS

#11227 style(menu): clean up right menu - leaving only "Settings"
  .pre-commit-config.yaml
  UPDATING.md
  setup.cfg
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/NewMenu.tsx
  superset-frontend/src/components/Menu/UserMenu.tsx
  superset/config.py
  superset/views/utils.py
Labels: needs-design-input, preset-io, size/L

#11274 fix: error around latest partition in BigQuery
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/models/core.py
  tests/db_engine_specs/bigquery_tests.py
Labels: preset-io, size/M

#11169 docs: add a roadmap page pointing to SIP-53
  docs/src/pages/docs/roadmap-page.mdx
  docs/static/images/roadmap.png
Labels: preset-io

#11353 style: using correct + icon on New Query button
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Labels: preset-io, size/S

#11337 fix(listview): hide actions column if no actions are allowed
  superset-frontend/src/SqlLab/components/QuerySearch.jsx
  superset-frontend/src/components/dataViewCommon/TableCollection.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: preset-io, size/S

#11365 fix(sqla): allow 'unknown' type queries in explore view
  superset/connectors/sqla/models.py
  superset/sql_parse.py
Labels: size/XS

#11348 fix: Allow "EXPLAIN" queries when "Allow DML" setting is False
  superset/sql_parse.py
  tests/sql_parse_tests.py
Labels: size/M

#11286 fix: saved_query search on schema and database not working
  superset/queries/saved_queries/api.py
  tests/queries/saved_queries/api_tests.py
Labels: preset-io, size/M

#11340 feat: adding feature flags to escape/hide html in markdown
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/featureFlags.ts
  superset/config.py
Labels: preset-io, size/M

#11355 style: make <Label/> not uppercase
  superset-frontend/stylesheets/less/cosmo/bootswatch.less
Labels: preset-io, size/XS

#11338 fix: 'Save Chart' modal's dashboard dropdown isn't sticky
  superset/views/core.py
Labels: preset-io, size/XS

#11354 style(sqllab): wrap text in monospace db-provided error messages
  superset-frontend/src/SqlLab/components/ResultSet.tsx
Labels: preset-io, size/XS

#11374 fix(logging): Change log level to warn for failure to get table/view names from DB
  superset/models/core.py
Labels: preset-io, size/XS

#11367 fix: Overflowing tabs in SqlLab not styled properly
  superset-frontend/src/SqlLab/main.less
Labels: polidea, size/XS

#11271 feat: CSS Templates List Actions
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplatesList_spec.jsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset/css_templates/api.py
  superset/views/css_templates.py
  tests/css_templates/api_tests.py
Labels: preset-io, size/L

#11334 chore(prophet): ignore logged warning for missing plotly package
  superset/utils/pandas_postprocessing.py
Labels: preset-io, size/XS

#11372 style: removing outlines on a few key elements
  superset-frontend/stylesheets/superset.less
Labels: cosmetic-issue, preset-io, size/XS

#11346 perf(api): improve API info performance
  superset-frontend/src/views/CRUD/hooks.ts
Labels: preset-io, size/XS

#11362 feat: add statsd metrics to FAB rest API post, put and delete
  superset/views/base_api.py
  tests/css_templates/api_tests.py
  tests/databases/api_tests.py
  tests/datasets/api_tests.py
Labels: preset-io, size/L

#11386 docs: add VLMedia to users list
  INTHEWILD.md
Labels: size/XS

#11383 style: improve the "Create New Chart" screen's usability
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
Labels: preset-io, size/S

#11349 feat: export charts as ZIP files
  superset/charts/api.py
  superset/charts/commands/export.py
  superset/charts/schemas.py
  superset/datasets/api.py
  tests/charts/api_tests.py
  tests/charts/commands_tests.py
Labels: size/L

#11369 fix: dashboard cache invalid join query
  superset/models/dashboard.py
Labels: size/S

#11376 build: let webpack proxy server handle more content encoding
  superset-frontend/webpack.proxy-config.js
Labels: size/S

#11240 refactor: Replace usages of reactable in TableLoader
  superset-frontend/src/components/TableLoader.jsx
  superset-frontend/src/components/TableLoader.tsx
  superset-frontend/src/components/TableView/TableView.tsx
  superset-frontend/src/profile/components/CreatedContent.tsx
  superset-frontend/src/profile/components/Favorites.tsx
  superset-frontend/src/profile/components/RecentActivity.tsx
Labels: polidea, size/L

#11211 refactor: Replace react-bootstrap tabs with Antd tabs on Profile
  superset-frontend/spec/javascripts/profile/App_spec.tsx
  superset-frontend/src/common/components/Dropdown.tsx
  superset-frontend/src/common/components/Modal.tsx
  superset-frontend/src/common/components/Tabs.tsx
  superset-frontend/src/profile/components/App.tsx
Labels: polidea, size/M

#10834 fix: dashboard edit/save errors
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/cypress-base/tsconfig.json
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/src/components/EditableTitle.tsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/reducers/getInitialState.js
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
Labels: preset-io, size/XL

#11129 fix: typo in docs
  docs/src/pages/docs/installation/networking_settings.mdx
Labels: size/XS

#11403 build: bump pr-lint-action
  .github/workflows/pr-lint.yml
Labels: preset-io, size/XS

#11335 fix: change chart title by clicking
  superset/views/core.py
Labels: preset-io, size/XS

#11398 docs: Add semantic prefix info for PR titles
  CONTRIBUTING.md
Labels: preset-io, size/S

#11400 fix: long labels now truncate with ellipsis
  superset-frontend/src/components/Label/index.tsx
Labels: preset-io, size/XS

#11396 fix: datasource editor doesn't save schema
  superset-frontend/src/datasource/DatasourceModal.tsx
Labels: preset-io, size/XS

#11344 feat: annotations REST API
  superset/annotation_layers/__init__.py
  superset/annotation_layers/annotations/api.py
  superset/annotation_layers/annotations/commands/__init__.py
  superset/annotation_layers/annotations/commands/bulk_delete.py
  superset/annotation_layers/annotations/commands/create.py
  superset/annotation_layers/annotations/commands/delete.py
  superset/annotation_layers/annotations/commands/exceptions.py
  superset/annotation_layers/annotations/commands/update.py
  superset/annotation_layers/annotations/dao.py
  superset/annotation_layers/annotations/filters.py
  superset/annotation_layers/annotations/schemas.py
  superset/annotation_layers/api.py
  superset/annotation_layers/commands/__init__.py
  superset/annotation_layers/commands/bulk_delete.py
  superset/annotation_layers/commands/create.py
  superset/annotation_layers/commands/delete.py
  superset/annotation_layers/commands/exceptions.py
  superset/annotation_layers/commands/update.py
  superset/annotation_layers/dao.py
  superset/annotation_layers/filters.py
  superset/annotation_layers/schemas.py
  superset/app.py
  superset/models/annotations.py
  tests/annotation_layers/__init__.py
  tests/annotation_layers/api_tests.py
  tests/core_tests.py
Labels: preset-io, size/XXL

#11395 refactor: Use Antd Dropdown instead of react-bootstrap in DatasourceControl
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset-frontend/src/common/components/Tooltip.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: polidea, size/L

#11342 chore: Button cruft cleanup
  superset-frontend/spec/javascripts/sqllab/LimitControl_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SaveQuery_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/LimitControl.tsx
  superset-frontend/src/SqlLab/components/SaveQuery.tsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.jsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/components/Button/Button.stories.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/RefreshChartOverlay.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/M

#11375 chore: Fixed skipped cypress test - refresh dashboard function
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.js
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SliceHeader.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: polidea, size/M

#11336 feat(dashboard): fetch charts by owners instead of created_by
  superset-frontend/src/dashboard/actions/sliceEntities.js
Labels: preset-io, size/M

#11416 refactor: typing for explore Control and messageToasts
  superset-frontend/spec/javascripts/dashboard/actions/dashboardLayout_spec.js
  superset-frontend/spec/javascripts/messageToasts/mockMessageToasts.js
  superset-frontend/spec/javascripts/messageToasts/utils/getToastsFromPyFlashMessages_spec.js
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/Control.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/messageToasts/actions/index.ts
  superset-frontend/src/messageToasts/components/Toast.tsx
  superset-frontend/src/messageToasts/components/ToastPresenter.tsx
  superset-frontend/src/messageToasts/constants.js
  superset-frontend/src/messageToasts/constants.ts
  superset-frontend/src/messageToasts/types.ts
  superset-frontend/src/messageToasts/utils/getToastsFromPyFlashMessages.js
  superset-frontend/src/types/Chart.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: size/L
