Repository apache/superset, pull requests merged in 2020-05, with the labels that each got.

#9706 [table editor] hide Edit Datasource option when no onDatasourceSave
  superset-frontend/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: size/M

#9707 migrate bignumber to use builtin controls
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/BigNumber.jsx
  superset-frontend/src/explore/controlPanels/BigNumberTotal.js
  superset-frontend/src/explore/controlPanels/Shared_BigNumber.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/L

#9695 Fix email reports
  superset/models/schedules.py
  superset/views/schedules.py
Labels: size/S

#9712 feat: add logging to warm_up_cache endpoint
  superset/views/core.py
Labels: size/XS

#9716 [hive][csv upload] make INTs BIGINTs
  superset/db_engine_specs/hive.py
Labels: size/XS

#9692 [sqllab] fix, strip comments before parsing statements
  superset/sql_parse.py
  tests/sql_parse_tests.py
Labels: preset-io, size/S

#9671 FilterBox,BigNumber,WorldMap: Handle empty results
  superset/viz.py
Labels: size/S

#9735 Fix bad test
  tests/sql_parse_tests.py
Labels: size/XS

#9704 perf(dashboards): improve API performance for dashboards
  requirements.txt
  setup.py
  superset/dashboards/api.py
Labels: preset-io, size/S

#9703 fix(dependencies): Bump FAB to 2.3.4
  requirements.txt
Labels: preset-io, size/XS

#9724 docs(api): improve openapi documentation for dash, charts and queries
  superset/charts/api.py
  superset/charts/schemas.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/queries/api.py
  superset/queries/schemas.py
  superset/views/base_api.py
  tests/charts/api_tests.py
Labels: preset-io, size/L

#9742 fix: stop using `css` as a prop
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
Labels: preset-io, size/S

#9733 [perf logging] Add timing event when browser tab is hidden
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/logger/LogUtils.js
Labels: size/M

#9744 fix: re-add all time grain options to the new chart API
  superset/charts/schemas.py
Labels: size/XS

#9654 fix: autocomplete search in AdhocFilter operator dropdown
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
Labels: #bug, preset-io, size/XS

#9749 fix: Add force flag to QueryContext schema
  superset/charts/schemas.py
Labels: preset-io, size/M

#9739 perf(dataset): improve performance on get list
  superset/datasets/api.py
  tests/datasets/api_tests.py
Labels: preset-io, size/XS

#9740 feat: Add controlGroups to formData
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/S

#9709 Use monospace font in the superset timers
  superset-frontend/src/SqlLab/main.less
Labels: size/XS

#9652 fix: adhoc filter 'equals' doesn't let you save
  setup.cfg
  superset-frontend/spec/javascripts/explore/AdhocFilter_spec.js
  superset-frontend/src/explore/AdhocFilter.js
  superset/sql_parse.py
Labels: #bug, preset-io, size/M

#9745 [perf logging] Add extra logging for new/editMode dash
  superset-frontend/spec/javascripts/dashboard/util/isDashboardEmpty_spec.ts
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/util/isDashboardEmpty.ts
Labels: size/M

#9755 Revert "FilterBox,BigNumber,WorldMap: Handle empty results"
  superset/viz.py
Labels: size/S

#9731 Update README.md
  README.md
Labels: need:more-info, size/L

#9758 fix: removing migrated sunburst controls (take 2)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/Sunburst.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/M

#9710 Query the new chart data api for charts that support it
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/visualizations/FilterBox/FilterBoxChartPlugin.js
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: preset-io, size/L

#9762 fix: implement force refresh in chart data request
  docker/pythonpath_dev/superset_config.py
  setup.cfg
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/chart/chartAction.js
  superset/sql_parse.py
Labels: preset-io, size/S

#9766 [docs] add postgres documentation
  docs/installation.rst
Labels: preset-io, size/S

#9770 use word cloud's built in control panel
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/WordCloud.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/M

#9771 use the builtin calendar control panel
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/CalHeatmap.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/L

#9714 fix bug where error at import dashboard fails to show toast in "welcome" app
  superset-frontend/src/components/FlashProvider.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset-frontend/src/welcome/App.jsx
Labels: size/L

#9691 Catch db_engine_spec.get_function_names exceptions
  superset/models/core.py
Labels: size/XS

#9756 Fix SQL Lab schema permission checks
  superset/security/manager.py
  tests/base_tests.py
  tests/sqllab_tests.py
Labels: #bug, .security, size/L

#9767 [docs] Add SSL config options for postgres
  docs/installation.rst
Labels: preset-io, size/L

#9778 Add QueryContext deserialization test
  superset/charts/schemas.py
  tests/query_context_tests.py
Labels: preset-io, size/M

#9779 tests: Fix, script to help run single tests
  scripts/tests/run.sh
Labels: preset-io, size/XS

#9773 chore: move bullet string manipulation to frontend
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset/viz.py
  superset/viz_sip38.py
Labels: preset-io, size/M

#9715 [caching] Using request context rather than globals
  superset/views/core.py
  superset/views/utils.py
  tests/utils_tests.py
Labels: size/M

#9655 build: set up GitHub app PRLint
  .github/PULL_REQUEST_TEMPLATE.md
  .github/prlint.json
Labels: preset-io, size/S

#9791 build: disable webpack progress for CI
  superset-frontend/package.json
  superset-frontend/webpack.config.js
Labels: size/S

#9753 feat: convert backend chart errors to the new error type
  superset-frontend/cypress-base/cypress/integration/dashboard/load.js
  superset-frontend/spec/javascripts/utils/getClientErrorObject_spec.ts
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/utils/getClientErrorObject.ts
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/errors.py
  superset/models/helpers.py
  superset/views/base.py
  superset/views/core.py
  superset/views/datasource.py
  superset/viz.py
  superset/viz_sip38.py
  tests/core_tests.py
Labels: airbnb, size/L

#9795 docs: add whale.im to list of users
  README.md
Labels: size/XS

#9786 chore: bump python dependencies
  CONTRIBUTING.md
  UPDATING.md
  docker/pythonpath_dev/superset_config.py
  docs/installation.rst
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  superset/config.py
  tests/sql_parse_tests.py
  tests/superset_test_config_thumbnails.py
  tests/thumbnails_tests.py
Labels: preset-io, size/L

#9342 Add extra configuration to the email reports
  superset/config.py
  superset/tasks/schedules.py
Labels: size/M

#9798 fix: add flag for time series table
  superset-frontend/src/visualizations/TimeTable/TimeTableChartPlugin.js
Labels: size/XS

#9799 fix: construct SupersetErrors properly
  superset/viz.py
  superset/viz_sip38.py
Labels: size/XS

#9796 feat: return security errors in the SIP-40 format
  superset-frontend/spec/javascripts/utils/getClientErrorObject_spec.ts
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/utils/getClientErrorObject.ts
  superset/errors.py
  superset/exceptions.py
  superset/security/manager.py
  superset/views/base.py
  superset/views/core.py
  tests/core_tests.py
Labels: size/L

#9775 tests(celery): improve celery tests infra
  .github/workflows/superset-python.yml
  docker-compose.yml
  docker/pythonpath_dev/superset_config.py
  scripts/tests/README.md
  scripts/tests/run.sh
  tests/celery_tests.py
  tests/superset_test_config.py
  tests/superset_test_config_thumbnails.py
  tests/thumbnails_tests.py
  tox.ini
Labels: preset-io, size/L

#9803 fix: invalid JSON in FR and DE translations
  .github/workflows/superset-translations.yml
  superset-frontend/package.json
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ko/LC_MESSAGES/messages.json
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.json
Labels: preset-io, size/XS

#9774 upgrade migrated plugins, remove controlPanel configs
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/Area.js
  superset-frontend/src/explore/controlPanels/Bar.js
  superset-frontend/src/explore/controlPanels/BoxPlot.js
  superset-frontend/src/explore/controlPanels/Bubble.js
  superset-frontend/src/explore/controlPanels/Bullet.js
  superset-frontend/src/explore/controlPanels/Chord.js
  superset-frontend/src/explore/controlPanels/Compare.js
  superset-frontend/src/explore/controlPanels/DistBar.js
  superset-frontend/src/explore/controlPanels/DualLine.js
  superset-frontend/src/explore/controlPanels/Line.js
  superset-frontend/src/explore/controlPanels/LineMulti.js
  superset-frontend/src/explore/controlPanels/Pie.js
  superset-frontend/src/explore/controlPanels/PivotTable.js
  superset-frontend/src/explore/controlPanels/Rose.js
  superset-frontend/src/explore/controlPanels/Sankey.js
  superset-frontend/src/explore/controlPanels/Shared_NVD3.js
  superset-frontend/src/explore/controlPanels/TimePivot.js
  superset-frontend/src/explore/controlPanels/Treemap.js
  superset-frontend/src/explore/controlPanels/WorldMap.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/XXL

#9790 fix(babel): broken babel extract
  .github/workflows/superset-python.yml
  superset/datasets/commands/exceptions.py
  superset/views/core.py
Labels: preset-io, size/M

#9789 FilterBox,BigNumber,WorldMap: Handle empty results - second attempt
  superset/viz.py
Labels: size/S

#9800 style: enforcing mypy typing for translations
  setup.cfg
  superset/translations/utils.py
Labels: size/S

#9827 build: Add python 3.8 to the build matrix
  .github/workflows/superset-python.yml
  docker/requirements-extra.txt
  helm/superset/values.yaml
  requirements-dev.txt
  setup.py
  tests/core_tests.py
Labels: size/S

#9819 feat(frontend): add ability to download dashboard and chart as image
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/util/downloadAsImage.ts
Labels: size/L

#9828 build: tox leveraging conditional factors
  tox.ini
Labels: size/S

#9831 refactor: simplify getExploreUrl functions
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset-frontend/spec/javascripts/explore/utils_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/exploreUtils.js
Labels: preset-io, size/L

#9835 fix: use snake_case for error_type
  superset-frontend/spec/javascripts/utils/getClientErrorObject_spec.ts
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
Labels: size/XS

#9808 feat: bump superset-ui/time-format and big-number
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#9768 feat: partitionchart controls migration
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ColumnOption_spec.jsx
  superset-frontend/spec/javascripts/components/FormRow_spec.jsx
  superset-frontend/spec/javascripts/components/MetricOption_spec.jsx
  superset-frontend/spec/javascripts/components/OptionDescription_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ControlPanelSection_spec.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/components/ActionMenuItem.jsx
  superset-frontend/src/components/ColumnOption.jsx
  superset-frontend/src/components/FormRow.jsx
  superset-frontend/src/components/InfoTooltipWithTrigger.jsx
  superset-frontend/src/components/ListView/LegacyFilters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/MetricOption.jsx
  superset-frontend/src/components/OptionDescription.jsx
  superset-frontend/src/components/PopoverSection.jsx
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/ControlHeader.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl.jsx
  superset-frontend/src/explore/components/controls/CollectionControl.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl.jsx
  superset-frontend/src/explore/controlPanels/Partition.jsx
  superset-frontend/src/setup/setupPlugins.ts
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
  superset/assets/src/SqlLab/components/ExploreCtasResultsButton.jsx
Labels: size/L

#9834 docs: Update the link to ClickHouse official website
  docs/index.rst
Labels: size/XS

#9829 fix: [filter_box] fix 2 issues in single value filter_box
  superset-frontend/spec/javascripts/explore/components/FilterBoxItemControl_spec.jsx
  superset-frontend/src/dashboard/util/getFilterConfigsFromFormdata.js
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
  superset-frontend/src/explore/constants.js
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/L

#9833 build: Updating the sphinx configuration
  docs/conf.py
  docs/requirements.txt
  docs/sqllab.rst
Labels: size/S

#9817 fix: [explore view] inline edit slice name should not overwrite
  superset-frontend/spec/javascripts/explore/components/ExploreChartHeader_spec.jsx
  superset-frontend/src/explore/actions/exploreActions.js
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/getInitialState.js
Labels: size/L

#9837 fix: issue with duplicated dependencies
  Dockerfile
  Dockerfile-dev
  docker-compose.yml
Labels: preset-io, size/M

#9814 build: conditionally run fossa check based on dependency file changes
  .github/workflows/license-check.yml
Labels: preset-io, size/S

#9806 feat: markupchart plugin controls migration
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/Markup.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: size/M

#9846 docs: Disable sphinx-autodoc-typehints
  docs/conf.py
  docs/requirements.txt
Labels: size/S

#9816 fixes: limit no authorization error for sentry
  superset/views/base.py
Labels: preset-io, size/XS

#9850 fix: Fix for updated cache dependency
  helm/superset/templates/_helpers.tpl
Labels: preset-io, size/XS

#9862 fix: Revert "[sqllab] fix, strip comments before parsing statements"
  superset/sql_parse.py
  tests/sql_parse_tests.py
Labels: size/S

#9832 fix: Removing the logic to add timeseries_limit_metric to the data for table
  superset/viz.py
  superset/viz_sip38.py
  tests/viz_tests.py
Labels: size/S

#9841 feat: Add new result formats and types to chart data API
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/utils/core.py
  superset/views/core.py
  tests/query_context_tests.py
Labels: preset-io, size/L

#9848 refactor: upgrade plugins, remove unnecessary code
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/DirectedForce.js
  superset-frontend/src/explore/controlPanels/Heatmap.js
  superset-frontend/src/explore/controlPanels/Histogram.js
  superset-frontend/src/explore/controlPanels/Horizon.js
  superset-frontend/src/explore/controlPanels/Iframe.js
  superset-frontend/src/explore/controlPanels/Mapbox.js
  superset-frontend/src/explore/controlPanels/Shared_Global.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/XL

#9853 feat: Adding Emotion ThemeProviders for all React apps
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/components/App.jsx
  superset-frontend/src/addSlice/App.jsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/dashboard/App.jsx
  superset-frontend/src/explore/App.jsx
  superset-frontend/src/profile/App.jsx
Labels: preset-io, size/M

#9811 fix: Emit a warning message rather than an exception on query failure
  superset/connectors/sqla/models.py
Labels: preset-io, size/XS

#9865 build: only conditionally skip fossa for pull_request events
  .github/workflows/license-check.yml
Labels: preset-io, size/XS

#9839 fix(chart): chart datasource explore URL showing datasource name for druid
  superset/models/slice.py
Labels: preset-io, size/XS

#9864 docs: Update README Resources section
  README.md
Labels: size/XS

#9847 feat: tablechart plugin controls migration
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ColumnOption_spec.jsx
  superset-frontend/spec/javascripts/components/ColumnTypeLabel_spec.jsx
  superset-frontend/spec/javascripts/explore/components/FilterDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/src/components/ColumnOption.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/FilterDefinitionOption.jsx
  superset-frontend/src/explore/components/MetricDefinitionOption.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/controlPanels/EventFlow.jsx
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
  superset-frontend/src/explore/controlPanels/Table.jsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/setup/setupPlugins.ts
Labels: size/L

#9734 feat: implement csv upload configuration func for the schema enforcement
  superset/config.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/models/core.py
  superset/views/database/views.py
  tests/core_tests.py
Labels: size/L

#9881 fix: don't create examples db on 'superset init'
  setup.cfg
  superset/cli.py
  superset/db_engine_specs/base.py
  superset/errors.py
  superset/sql_parse.py
  superset/views/base.py
  superset/viz.py
  superset/viz_sip38.py
Labels: preset-io, size/S

#9884 fix: reenable table chart page length
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#9883 style(mypy): Enforcing typing for superset.models
  setup.cfg
  superset/connectors/sqla/models.py
  superset/legacy.py
  superset/models/annotations.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/schedules.py
  superset/models/slice.py
  superset/models/sql_lab.py
  superset/models/sql_types/presto_sql_types.py
  superset/models/tags.py
  superset/utils/cache.py
  superset/utils/core.py
Labels: size/L

#9895 fix: Add missing line break in Database 'extra' instructions
  superset/views/database/mixins.py
Labels: size/XS

#9824 style(mypy): enforcing mypy typing for superset.connectors
  setup.cfg
  superset/connectors/base/models.py
  superset/connectors/base/views.py
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/db_engine_specs/base.py
  superset/errors.py
  superset/jinja_context.py
  superset/sql_parse.py
  superset/typing.py
  superset/utils/core.py
  superset/utils/import_datasource.py
  superset/views/base.py
  superset/viz.py
  superset/viz_sip38.py
Labels: size/XL

#9891 fix: [dashboard] should not trigger chart refresh when filter not applicable
  superset-frontend/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
Labels: size/L

#9908 feat: bump superset-ui and implement queryFields in formData
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/S

#9851 feat: remove para controls
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/Para.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: size/M

#9916 feat: paired t testchart control migration
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/controlPanels/PairedTtest.js
  superset-frontend/src/setup/setupPlugins.ts
Labels: size/L

#9919 fix: bump nvd3 plugin for annotation styles
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#9890 style: beautify roles CRUD
  superset-frontend/stylesheets/superset.less
  superset/security/manager.py
Labels: preset-io, size/XS

#9915 fix: annotation layer json
  superset/views/core.py
  tests/core_tests.py
  tests/superset_test_config.py
Labels: size/M

#9926 test: bump sinon to latest stable version
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/middleware/logger_spec.js
  superset-frontend/spec/javascripts/profile/EditableTitle_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
Labels: preset-io, size/S

#9931 fix: Revert "feat: bump superset-ui and implement queryFields in formData …
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/controls.jsx
Labels: preset-io, size/S

#9933 fix(react-select): FilterBox focus event and adhoc filter popup height
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.js
  superset-frontend/spec/javascripts/explore/components/AdhocFilterEditPopoverSimpleTabContent_spec.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/M

#9921 style(mypy): Enforcing typing for views.dashboard
  setup.cfg
  superset/views/dashboard/filters.py
  superset/views/dashboard/mixin.py
  superset/views/dashboard/views.py
Labels: size/S

#9920 style(mypy): Enforcing typing for views.database
  setup.cfg
  superset/views/database/api.py
  superset/views/database/decorators.py
  superset/views/database/filters.py
  superset/views/database/forms.py
  superset/views/database/mixins.py
  superset/views/database/validators.py
  superset/views/database/views.py
Labels: size/L

#9912 style(mypy): Enforcing typing for views.chart
  setup.cfg
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/views/chart/filters.py
  superset/views/chart/views.py
Labels: size/M

#9905 style(mypy): Enforcing typing for superset.utils
  setup.cfg
  superset/config.py
  superset/typing.py
  superset/utils/cache.py
  superset/utils/core.py
  superset/utils/dashboard_filter_scopes_converter.py
  superset/utils/dashboard_import_export.py
  superset/utils/dates.py
  superset/utils/decorators.py
  superset/utils/dict_import_export.py
  superset/utils/feature_flag_manager.py
  superset/utils/log.py
  superset/utils/pandas_postprocessing.py
  superset/utils/screenshots.py
  superset/utils/url_map_converters.py
  superset/views/core.py
  tests/utils_tests.py
Labels: size/L

#9940 fix: FilterBox Select should be Creatable
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.js
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/S
