Repository apache/superset, pull requests merged in 2020-08, with the labels that each got.

#10500 chore: pre-commit run --all-files
  .github/workflows/license-check.yml
  .github/workflows/prefer_typescript.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  DISCLAIMER
  INTHEWILD.md
  LICENSE.txt
  docker/README.md
  docs/import_export_datasources.rst
  docs/security.rst
  helm/superset/requirements.yaml
  helm/superset/templates/secret-superset-config.yaml
  requirements-dev.txt
  scripts/permissions_cleanup.py
  superset-frontend/.storybook/main.js
  superset-frontend/.storybook/preview.jsx
  superset-frontend/fonts/FiraCode/specimen.less
  superset-frontend/images/icons/cancel-x.svg
  superset-frontend/images/icons/checkbox-half.svg
  superset-frontend/images/icons/checkbox-off.svg
  superset-frontend/images/icons/checkbox-on.svg
  superset-frontend/images/icons/compass.svg
  superset-frontend/images/icons/dataset_physical.svg
  superset-frontend/images/icons/dataset_virtual.svg
  superset-frontend/images/icons/error.svg
  superset-frontend/images/icons/pencil.svg
  superset-frontend/images/icons/search.svg
  superset-frontend/images/icons/sort-asc.svg
  superset-frontend/images/icons/sort-desc.svg
  superset-frontend/images/icons/sort.svg
  superset-frontend/images/icons/trash.svg
  superset-frontend/images/icons/warning.svg
  superset-frontend/src/views/CRUD/dataset/DatasetList.tsx
  superset/bin/superset
  superset/dashboards/schemas.py
  superset/migrations/README
  superset/migrations/versions/21e88bc06c02_annotation_migration.py
  superset/queries/schemas.py
  superset/templates/appbuilder/baselayout.html
  superset/templates/appbuilder/general/model/list.html
  superset/templates/email/role_extended.txt
  superset/templates/email/role_granted.txt
  superset/templates/superset/basic.html
  superset/templates/superset/export_dashboards.html
  superset/templates/superset/fab_overrides/list_with_checkboxes.html
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/templates/superset/form_view/excel_to_database_view/edit.html
  superset/templates/superset/paper-theme.html
Labels: size/L

#10487 refactor: reduce test data size
  superset/examples/birth_names.py
  superset/examples/energy.py
  superset/examples/unicode_test_data.py
  superset/examples/world_bank.py
  tests/charts/api_tests.py
  tests/load_examples_test.py
  tests/model_tests.py
  tests/sqllab_tests.py
Labels: size/M

#10378 docs: authentication type methods
  docs/security.rst
Labels: size/XS

#10368 docs: Add supported database logos
  README.md
  superset-frontend/images/apache-kylin.png
  superset-frontend/images/clickhouse.png
  superset-frontend/images/db2.png
  superset-frontend/images/druid.png
  superset-frontend/images/exasol.png
  superset-frontend/images/firebird.png
  superset-frontend/images/google-biquery.png
  superset-frontend/images/greenplum.png
  superset-frontend/images/mariadb.png
  superset-frontend/images/monet-db.png
  superset-frontend/images/mssql-server.png
  superset-frontend/images/mysql.png
  superset-frontend/images/oracle.png
  superset-frontend/images/postgresql.png
  superset-frontend/images/presto.png
  superset-frontend/images/redshift.png
  superset-frontend/images/snowflake.png
  superset-frontend/images/sqlite.png
  superset-frontend/images/sybase.png
  superset-frontend/images/vertica.png
Labels: size/M

#10502 docs: add a '.asf.yaml' file to configure our GitHub
  .asf.yaml
Labels: preset-io, size/M

#10507 docs: new contributing language around adding new plugins
  CONTRIBUTING.md
Labels: preset-io, size/S

#10506 fix: refactored SQL-based alerts to not pass sqlalchemy objects as args
  superset/tasks/schedules.py
  tests/alerts_tests.py
Labels: size/S

#10444 feat: dataset editor improvement
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/spec/javascripts/profile/EditableTitle_spec.tsx
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/components/EditableTitle.jsx
  superset-frontend/src/components/EditableTitle.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/controls/TextControl.tsx
  superset-frontend/stylesheets/superset.less
Labels: preset-io, size/XL

#10512 feat: updated email format for SQL-based email alerts
  superset/tasks/schedules.py
  superset/templates/email/alert.txt
Labels: size/M

#10513 docs: Add link to July community meetup
  README.md
Labels: size/XS

#10505 fix: explore panel missing padding
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
Labels: size/XS

#10519 fix: make SQL-based alert email links user friendly
  superset/tasks/schedules.py
Labels: size/S

#10458 fix: update time range select tooltip
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset/translations/messages.pot
Labels: preset-io, size/XS

#10510 feat: add favorite star to dashboard and chart lists
  superset-frontend/cypress-base/cypress/integration/dashboard/fav_star.test.js
  superset-frontend/images/icons/favorite-selected.svg
  superset-frontend/images/icons/favorite-unselected.svg
  superset-frontend/package-lock.json
  superset-frontend/src/components/FaveStar.jsx
  superset-frontend/src/components/FaveStar.tsx
  superset-frontend/src/components/Icon.tsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: preset-io, size/L

#10517 feat: make screenshot timeout configurable
  superset/config.py
  superset/utils/screenshots.py
Labels: size/S

#10425 fix: db installation
  docs/installation.rst
  setup.py
Labels: size/L

#10515 feat: storybook for Icon component
  superset-frontend/.storybook/main.js
  superset-frontend/src/components/Icon/icon.stories.jsx
  superset-frontend/src/components/Icon/index.tsx
  superset/templates/email/alert.txt
Labels: preset-io, size/M, storybook

#10412 fix: show label for filters in filter box in explore
  superset-frontend/spec/javascripts/explore/components/FilterBoxItemControl_spec.jsx
  superset-frontend/src/explore/components/controls/CollectionControl.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
Labels: size/M

#10110 ci: bump Python tests to 3.7 and add support for 3.8
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python.yml
  docs/installation.rst
  setup.py
Labels: preset-io, size/S

#10522 fix(log): don't log exceptions on test connection
  superset/views/core.py
Labels: preset-io, size/S

#10498 feat: welcome presto to the suite of tested databases
  .github/workflows/superset-python.yml
  requirements/base.txt
  requirements/integration.txt
  requirements/testing.in
  requirements/testing.txt
  superset/examples/birth_names.py
  superset/examples/multiformat_time_series.py
  superset/examples/random_time_series.py
  superset/examples/world_bank.py
  superset/utils/core.py
  tests/base_tests.py
  tests/celery_tests.py
  tests/charts/api_tests.py
  tests/core_tests.py
  tests/database_api_tests.py
  tests/datasets/api_tests.py
  tests/db_engine_specs/base_engine_spec_tests.py
  tests/load_examples_test.py
  tests/model_tests.py
  tests/sqla_models_tests.py
  tests/sqllab_test_util.py
  tests/sqllab_tests.py
  tests/superset_test_config.py
  tox.ini
Labels: size/XL

#10537 fix: revert "chore: Cleanup database sessions (#10427)"
  superset/cli.py
  superset/commands/utils.py
  superset/common/query_context.py
  superset/connectors/connector_registry.py
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/models.py
  superset/dashboards/dao.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/slice.py
  superset/models/tags.py
  superset/security/manager.py
  superset/sql_lab.py
  superset/tasks/cache.py
  superset/tasks/schedules.py
  superset/utils/dashboard_import_export.py
  superset/utils/dict_import_export.py
  superset/utils/import_datasource.py
  superset/views/base.py
  superset/views/chart/views.py
  superset/views/core.py
  superset/views/datasource.py
  superset/views/utils.py
  tests/access_tests.py
  tests/alerts_tests.py
  tests/base_tests.py
  tests/celery_tests.py
  tests/charts/api_tests.py
  tests/core_tests.py
  tests/database_api_tests.py
  tests/datasets/api_tests.py
  tests/dict_import_export_tests.py
  tests/druid_tests.py
  tests/import_export_tests.py
  tests/query_context_tests.py
  tests/security_tests.py
  tests/sqllab_tests.py
  tests/strategy_tests.py
Labels: size/XXL

#10541 ci: bump pre-commit py36 to py37
  .github/workflows/superset-python.yml
  setup.cfg
  superset/db_engine_specs/base.py
  superset/errors.py
  superset/sql_parse.py
  superset/views/base.py
  superset/viz.py
  superset/viz_sip38.py
Labels: preset-io, size/S

#10494 chore: TypeScript <Label />
  superset-frontend/spec/helpers/theming.ts
  superset-frontend/spec/javascripts/components/CachedLabel_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocFilterOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocMetricOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/DateFilterControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/RowCountLabel_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ViewportControl_spec.jsx
  superset-frontend/spec/javascripts/profile/Security_spec.tsx
  superset-frontend/spec/javascripts/sqllab/LimitControl_spec.jsx
  superset-frontend/spec/javascripts/sqllab/QueryStateLabel_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SouthPane_spec.jsx
  superset-frontend/spec/javascripts/sqllab/Timer_spec.jsx
  superset-frontend/src/SqlLab/components/LimitControl.jsx
  superset-frontend/src/SqlLab/components/QueryStateLabel.jsx
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/SouthPane.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/components/Button/button.stories.jsx
  superset-frontend/src/components/CachedLabel.jsx
  superset-frontend/src/components/Label/index.tsx
  superset-frontend/src/components/Label/label.stories.jsx
  superset-frontend/src/components/TableSelector.jsx
  superset-frontend/src/components/Timer.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/RowCountLabel.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.jsx
  superset-frontend/src/profile/components/Security.tsx
Labels: preset-io, size/L, storybook

#10538 fix: remove unnecessary exception when exploring non-legacy viz plugins
  superset/models/slice.py
  superset/utils/core.py
  superset/viz.py
  tests/utils_tests.py
Labels: preset-io, size/M

#10544 fix: table chart query mode initial value
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset-frontend/src/explore/controlUtils.js
Labels: size/XS

#10548 fix: handle query exceptions gracefully
  superset/common/query_context.py
  superset/connectors/sqla/models.py
  superset/views/core.py
  superset/viz.py
  tests/sqla_models_tests.py
Labels: preset-io, size/L

#10477 docs: Update and refresh homepage of superset.apache.org
  docs/index.rst
Labels: size/M

#10455 chore: Migrate Timer component from jsx to tsx
  superset-frontend/spec/javascripts/sqllab/Timer_spec.jsx
  superset-frontend/src/components/Timer.jsx
  superset-frontend/src/components/Timer.tsx
Labels: size/L

#10551 fix: embedded chart height
  superset-frontend/src/explore/App.jsx
Labels: size/XS

#10552 fix: table viz query mode switch not working
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset-frontend/src/explore/controlUtils.js
Labels: size/S

#10553 docs: add additional project tags
  .asf.yaml
Labels: size/XS

#10527 fix(dashboard): changing the chart title, except not
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset/dashboards/dao.py
Labels: preset-io, size/M

#10557 Removing trailing space and fix CI
  .asf.yaml
Labels: size/XS

#10550 fix: Updating Dockerfile to work with updated python requirements.
  .github/workflows/superset-docker.yml
  Dockerfile
  Dockerfile-dev
  requirements/docker.in
  requirements/docker.txt
Labels: preset-io, size/M

#10536 fix: Resolves #10535 -> unable to run tox testing
  tox.ini
Labels: size/XS

#10542 fix: add retry to SQL-based alerting celery task
  superset/tasks/schedules.py
  tests/alerts_tests.py
Labels: size/L

#10556 chore: clean up csv tests
  superset/tasks/slack_util.py
  superset/utils/core.py
  tests/base_tests.py
  tests/core_tests.py
  tests/csv_upload_tests.py
Labels: size/XL

#10558 fix: drill installation
  docs/installation.rst
  setup.py
Labels: size/XS

#10545 chore: move load examples to the fixture
  scripts/python_tests.sh
  tests/celery_tests.py
  tests/charts/api_tests.py
  tests/conftest.py
  tests/core_tests.py
  tests/datasets/api_tests.py
  tests/schedules_test.py
  tox.ini
Labels: size/L

#10529 fix: misaligned LimitControl buttons and port jsx->tsx
  superset-frontend/src/SqlLab/components/LimitControl.tsx
Labels: preset-io, size/M

#10475 fix(dashboard): add animation state to fix tab switch re-renders
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Chart_spec.jsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/containers/DashboardBuilder.jsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
Labels: size/M

#10518 fix(sqllab): Handle long table names in SQL Lab
  superset-frontend/src/SqlLab/components/AceEditorWrapper.tsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/components/TableSelector.jsx
Labels: design-review, preset-io, size/S

#10576 fix: disable false positive error
  superset/utils/decorators.py
Labels: preset-io, size/XS

#10566 feat: slack integration for SQL-based alerts
  superset/migrations/versions/f2672aa8350a_add_slack_to_alerts.py
  superset/models/alerts.py
  superset/tasks/schedules.py
  superset/tasks/slack_util.py
  superset/templates/slack/alert.txt
  superset/templates/slack/alert_no_screenshot.txt
  superset/views/alerts.py
  tests/alerts_tests.py
Labels: size/L

#10573 fix: add translate for dropdown menu
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: .i18n, size/M

#10549 feat(table-viz): translation and metric column header align right
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#10581 fix: github tags for asf CI
  .asf.yaml
Labels: size/XS

#10580 fix: error message modal overflow
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
Labels: size/XS

#10584 fix: add None checking to cast_to_num
  superset/utils/core.py
  tests/utils_tests.py
Labels: preset-io, size/S

#10509 docs: Update engine installation
  docs/installation.rst
Labels: size/XS

#10567 chore: Migrating reports to AuthWebdriverProxy
  UPDATING.md
  scripts/tests/run.sh
  superset/app.py
  superset/config.py
  superset/extensions.py
  superset/tasks/schedules.py
  superset/tasks/thumbnails.py
  superset/utils/machine_auth.py
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/base_tests.py
  tests/schedules_test.py
  tests/thumbnails_tests.py
  tests/util/__init__.py
  tests/util/machine_auth_tests.py
Labels: preset-io, size/XL

#10592 feat: add extra column to tables and sql_metrics
  superset/migrations/versions/f120347acb39_add_extra_column_to_tables_and_metrics.py
  superset/tasks/slack_util.py
Labels: risk:db-migration, size/M

#10578 fix: dataset delete and perm delete
  superset/datasets/commands/delete.py
  superset/tasks/slack_util.py
  tests/datasets/api_tests.py
Labels: preset-io, size/M

#10572 fix: show error if rolling window returns empty df
  superset/viz.py
  tests/viz_tests.py
Labels: preset-io, size/M

#10504 fix: More tweaks needed after adding Doctype tag
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/chart.less
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/components/TableSelector.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: preset-io, size/M

#10562 fix(thumbnails): missing field, logging and new config var
  UPDATING.md
  superset/charts/api.py
  superset/config.py
  superset/tasks/schedules.py
  superset/tasks/thumbnails.py
  superset/utils/screenshots.py
Labels: preset-io, size/M

#10600 docs: update CHANGELOG.md and UPDATING.md for 0.37.0
  CHANGELOG.md
  UPDATING.md
Labels: preset-io, size/L

#10451 fix(chart-data-api): assert referenced columns are present in datasource
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/connectors/sqla/models.py
  superset/utils/core.py
  superset/viz.py
  tests/core_tests.py
  tests/query_context_tests.py
Labels: preset-io, size/L

#10601 feat: sort card view by Alphabetical, Recently Modified, and Least Recently Modified
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/src/components/ListView/CardSortSelect.tsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
Labels: preset-io, size/L

#10590 refactor: [migration] convert iframe chart into dashboard markdown component
  UPDATING.md
  superset-frontend/src/dashboard/reducers/getInitialState.js
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
  superset-frontend/src/explore/constants.js
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/migrations/versions/978245563a02_migrate_iframe_to_dash_markdown.py
  superset/migrations/versions/f80a3b88324b_.py
  superset/tasks/slack_util.py
  superset/viz.py
Labels: size/L

#10608 chore: migrate console logs to logging service
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/ChartRenderer.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/withVerification.jsx
  superset-frontend/src/setup/setupClient.js
  superset-frontend/src/views/CRUD/utils.tsx
Labels: preset-io, size/S

#10604 fix: fixing console error about bad html attribute
  superset-frontend/src/components/Button/index.tsx
Labels: preset-io, size/XS

#10602 chore: bump react-redux to 5.1.2, whittling console noise
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/SliceAdder_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ExploreViewContainer_spec.jsx
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset-frontend/spec/javascripts/sqllab/TabbedSqlEditors_spec.jsx
Labels: preset-io, size/S

#10613 chore: npm audit fix as of 2020-08-15
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/webpack.config.js
Labels: preset-io

#10621 improve documentation for country maps
  docs/visualization.rst
Labels: size/S

#10619 feat(datasource): remove deleted columns and update column type on metadata refresh
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
Labels: preset-io, size/L

#10625 fix: removing unsupported modal sizes
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton.jsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.jsx
  superset-frontend/src/components/DeleteModal.tsx
  superset-frontend/src/components/Modal.tsx
  superset-frontend/src/components/ModalTrigger.jsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
Labels: preset-io, size/S

#10627 style: Label styling/storybook touchups
  superset-frontend/src/components/Label/index.tsx
  superset-frontend/src/components/Label/label.stories.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: preset-io, size/L

#10607 feat: card view bulk select
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
Labels: preset-io, size/M

#10603 refactor: remove slice level label_colors from dashboard init load
  superset/config.py
  superset/views/core.py
Labels: size/XS

#10631 chore: splitting button stories into separate stories
  superset-frontend/src/components/Button/button.stories.jsx
Labels: preset-io, size/M

#10643 fix: chart list api endpoint
  superset/charts/api.py
Labels: preset-io, size/XS

#10634 feat: Allow tests files in /src (plus Label component tests)
  superset-frontend/jest.config.js
  superset-frontend/src/components/Label/Label.stories.tsx
  superset-frontend/src/components/Label/Label.test.tsx
  superset-frontend/webpack.config.js
Labels: preset-io, size/M

#10644 fix: controls scroll issue
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
Labels: preset-io, size/XS

#10637 feat(viz-plugins): add date formatting to pivot-table
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset/viz.py
Labels: preset-io, size/S

#10630 feat: add certification to metrics
  superset-frontend/images/icons/certified.svg
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/components/CertifiedIconWithTooltip.tsx
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
Labels: size/L

#10642 feat: setup react page with submenu for datasources listview
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/dataset/DatasetList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/DashboardTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/Welcome_spec.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/components/Modal.tsx
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/CRUD/data/common.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/Button.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
  superset-frontend/src/views/index.tsx
  superset-frontend/webpack.config.js
  superset/config.py
  superset/templates/superset/crud_views.html
  superset/views/base.py
  superset/views/core.py
  superset/views/database/views.py
Labels: preset-io, size/L

#10650 feat: bump superset-ui for certified tag
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#10633 fix: dedup groupby in viz.py while preserving order
  superset/tasks/slack_util.py
  superset/viz.py
Labels: preset-io, size/XS

#10647 feat: Getting fancier with Storybook
  superset-frontend/.eslintrc.js
  superset-frontend/.storybook/main.js
  superset-frontend/.storybook/preview.jsx
  superset-frontend/.storybook/storybook.css
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/Button/button.stories.jsx
  superset-frontend/src/components/Label/Label.stories.tsx
Labels: preset-io

#10652 fix: Remove incorrect comment indicating thumbnails are insecure
  superset/charts/api.py
Labels: preset-io, size/XS

#10661 fix(db_engine_specs): mysql longtext type should not be numeric
  superset/db_engine_specs/base.py
  tests/db_engine_specs/mysql_tests.py
Labels: preset-io, size/M

#10658 fix(db_engine_specs): improve Presto column type matching
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/presto.py
  superset/models/sql_types/presto_sql_types.py
  tests/db_engine_specs/presto_tests.py
Labels: preset-io, size/L

#10657 Eslint error cleanup
  superset-frontend/cypress-base/cypress/integration/explore/link.test.js
  superset-frontend/spec/javascripts/explore/components/EmbedCodeButton_spec.jsx
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/CopyToClipboard.jsx
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: preset-io, size/M

#10423 style: Fancier menus, more SIP-34-ish
  superset-frontend/images/icons/dropdown-arrow.svg
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/components/Menu/LanguagePicker.tsx
  superset-frontend/src/components/Menu/Menu.less
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/components/Menu/UserMenu.tsx
  superset-frontend/src/components/NavDropdown/index.tsx
  superset-frontend/stylesheets/less/cosmo/bootswatch.less
Labels: preset-io, size/L

#10676 fix(sqllab): log exceptions caused by the user as debug and not error
  superset/sql_lab.py
Labels: preset-io, size/XS

#10675 feature: Adding extra_filters to warm_up_cache
  superset/views/core.py
  tests/core_tests.py
Labels: size/S

#10677 fix: only call signal if executing on the main thread
  superset/utils/core.py
Labels: preset-io, size/XS

#10683 feat(row-level-security): add hook for customizing form dropdowns
  superset/config.py
  superset/connectors/sqla/views.py
Labels: preset-io, size/S

#10681 fix: layout flexiness
  superset-frontend/src/components/Menu/SubMenu.tsx
Labels: preset-io, size/XS

#10682 fix: SubMenu css
  superset-frontend/src/components/Menu/SubMenu.tsx
Labels: preset-io, size/XS

#10680 refactor: useListViewResource hook for charts, dashboards, datasets
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
Labels: preset-io, size/XXL

#10690 chore: Fix indentation issue
  superset/tasks/cache.py
Labels: size/XS

#10687 fix(filter-box): don't add empty filter to filtersChoices
  superset-frontend/spec/javascripts/explore/components/FilterBox_spec.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: preset-io, size/M, v0.37.1

#10669 feat: chart and dashboard card list view e2e cypress test
  .github/workflows/superset-e2e.yml
  superset-frontend/cypress-base/cypress/integration/chart_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/chart_list.helper.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/list_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/dashboard_list.helper.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  tests/superset_test_config.py
Labels: preset-io, size/L

#10691 feat(listview): set default view mode based on THUMBNAIL feature flag
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: preset-io, size/M

#10693 fix: shorten url with extra request parameters
  superset-frontend/spec/javascripts/explore/components/EmbedCodeButton_spec.jsx
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
Labels: size/M

#10439 style: Move security/manage navigation tabs into a settings dropdown
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/views/App.tsx
Labels: preset-io, size/L

#10699 fix: card view cypress failed tests
  superset-frontend/cypress-base/cypress/integration/chart_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
Labels: preset-io, size/XS

#10695 fix: change engine name for the custom macros testing
  tests/base_tests.py
  tests/core_tests.py
  tests/sqla_models_tests.py
  tests/superset_test_custom_template_processors.py
Labels: size/M

#10698 style: add border between menu and submenu
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
Labels: preset-io, size/S

#10674 fix: change public role like gamma procedure
  UPDATING.md
  superset/config.py
  superset/connectors/sqla/models.py
  superset/security/manager.py
  superset/templates/superset/public_welcome.html
  superset/views/core.py
  tests/dashboard_tests.py
  tests/security_tests.py
  tests/superset_test_config.py
  tests/superset_test_config_thumbnails.py
Labels: preset-io, size/L

#10707 refactor(database): use SupersetResultSet on SqlaTable.get_df()
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/exasol.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/postgres.py
  superset/models/core.py
  superset/typing.py
  superset/viz.py
Labels: preset-io, size/M

#10684 fix(jinja): extract form_data from json body
  superset/views/utils.py
  tests/charts/api_tests.py
  tests/datasource_tests.py
Labels: preset-io, size/M, v0.37.1

#10717 fix: move menu reorg logic from crud app into Menu component
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/views/App.tsx
Labels: preset-io, size/L

#10720 chore: update samesite config documentation
  superset/config.py
Labels: size/XS

#10704 chore: covert celery tests to the pytest
  tests/celery_tests.py
Labels: size/XL

#10715 style: rename 'Source' top nav item to 'Data'
  .github/workflows/bashlib.sh
  .github/workflows/superset-e2e.yml
  superset-frontend/cypress-base/cypress/integration/chart_list/list_view.test.ts
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/spec/javascripts/explore/components/DatasourceControl_spec.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset/app.py
  tests/security_tests.py
Labels: preset-io, size/L

#10706 fix(db-engine-spec): execute oracle DML statement bug in sqllab
  superset/db_engine_specs/oracle.py
Labels: size/S

#10733 chore: bump pyarrow
  requirements/base.txt
  requirements/testing.txt
  setup.py
  superset/db_engine_specs/base.py
Labels: preset-io, size/M

#10728 style: Tabs now support AntD compound components (+ basic stories)
  superset-frontend/.storybook/main.js
  superset-frontend/src/common/components/Tabs.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/M
