Repository apache/superset, pull requests merged in 2020-11, with the labels that each got.

#11519 feat: make logo link point to welcome page
  superset/views/base.py
Labels: preset-io, size/S

#11389 refactor: Replace react-bootstrap Modals with Antd in Explore
  superset-frontend/cypress-base/cypress/integration/explore/link.test.js
  superset-frontend/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset-frontend/spec/javascripts/explore/components/VizTypeControl_spec.jsx
  superset-frontend/src/common/components/Modal/Modal.tsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
Labels: polidea, size/L

#11491 feat: globally disable underscore for links in menu items
  superset-frontend/src/common/components/index.tsx
Labels: size/S

#11476 fix: Update "View In SQL Lab" Flow to render source query from datasource object
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: size/S

#11160 refactor: Replace react-bootstrap Tabs with Antd Tabs in DashboardBuilder
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.js
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tab_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tabs_spec.jsx
  superset-frontend/src/common/components/Tabs/Tabs.tsx
  superset-frontend/src/components/URLShortLinkButton.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/stylesheets/components/index.less
  superset-frontend/src/dashboard/stylesheets/components/tabs.less
  superset-frontend/stylesheets/superset.less
Labels: needs-design-input, polidea, size/L

#11501 fix(dashboard): multiple lines and indentation when editing json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
Labels: preset-io, size/S

#11435 refactor: rewrite and enhance chart control withVerification
  superset-frontend/spec/javascripts/explore/components/withAsyncVerification_spec.tsx
  superset-frontend/spec/javascripts/explore/components/withVerification_spec.jsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/Control.tsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
  superset-frontend/src/explore/components/controls/index.js
  superset-frontend/src/explore/components/controls/withAsyncVerification.tsx
  superset-frontend/src/explore/components/controls/withVerification.jsx
  superset-frontend/src/messageToasts/actions/index.ts
  superset-frontend/src/messageToasts/reducers/index.js
  superset-frontend/src/messageToasts/types.ts
Labels: size/XL

#11532 chore: remove sanitize
  superset/charts/commands/export.py
  superset/dashboards/commands/export.py
  superset/databases/commands/export.py
  superset/datasets/commands/export.py
  superset/queries/saved_queries/commands/export.py
  superset/utils/dict_import_export.py
  tests/charts/commands_tests.py
  tests/dashboards/commands_tests.py
  tests/queries/saved_queries/commands_tests.py
Labels: size/M

#11502 refactor: reduce number of api calls needed to fetch favorite status for charts and dashboards
  superset-frontend/src/components/FaveStar.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
  superset/charts/api.py
  superset/charts/dao.py
  superset/charts/schemas.py
  superset/dashboards/api.py
  superset/dashboards/dao.py
  superset/dashboards/schemas.py
  superset/models/core.py
  tests/charts/api_tests.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/XL

#11361 docs: add Xendit to users list
  INTHEWILD.md
Labels: need:more-info, size/XS

#11526 fix(tests): flaky test with dttm on Query API
  tests/queries/api_tests.py
Labels: preset-io, size/XS

#11530 feat: annotation layers delete logic + linking w/ annotation view
  superset-frontend/spec/javascripts/views/CRUD/annotationlayers/AnnotationLayersList_spec.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayerModal.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: preset-io, size/L

#11528 refactor: Use Antd Menu in Menu component
  superset-frontend/spec/javascripts/components/Menu_spec.jsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/components/Menu/NewMenu.tsx
  superset-frontend/src/components/NavDropdown/index.tsx
Labels: polidea, size/L

#11527 refactor: Replace react-bootstrap dialogs with Antd dialogs
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceModal_spec.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/common/components/Modal/Modal.tsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
Labels: polidea, size/L

#11551 docs: add Avesta to users list
  INTHEWILD.md
Labels: size/XS

#11370 fix: add sort option to filters, sort chart list filter options
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: preset-io, size/S

#11311 style: database modal updates
  superset-frontend/src/common/components/InfoTooltip.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/L

#11487 refactor: Replace react-bootstrap MenuItems with Antd Menu
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.js
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/CopyToClipboard.jsx
  superset-frontend/src/components/Menu/LanguagePicker.tsx
  superset-frontend/src/dashboard/components/CssEditor.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
Labels: polidea, size/L

#11445 fix: Pasting text issues in MetricsControl and AdhocFilterControl inputs
  superset-frontend/spec/javascripts/explore/components/AdhocFilterControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricsControl_spec.jsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
Labels: polidea, size/M

#11559 feat: add affordances for new export functionality
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset/config.py
  superset/views/database/views.py
Labels: size/L

#11558 fix(dashboard): navigate to a filter box without screwing up tab state
  superset-frontend/src/dashboard/reducers/dashboardState.js
Labels: preset-io, size/XS

#11555 refactor: Replace react-bootstrap MenuItems with Antd Menu
  superset-frontend/spec/javascripts/components/SubMenu_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Header_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Markdown_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/DashboardTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/SavedQueries_spec.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/dashboard/components/menu/PopoverDropdown.jsx
Labels: polidea, size/L

#11314 chore: Cypress dashboard list selectors refactor
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
Labels: polidea, size/L

#11575 chore(rls): move to feature flag and disable related view
  UPDATING.md
  superset/app.py
  superset/common/query_context.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/security/manager.py
  superset/viz.py
  superset/viz_sip38.py
  tests/superset_test_config.py
Labels: preset-io, size/M

#11579 fix: changed top overflow for charts
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
Labels: polidea, size/XS

#11554 refactor: Replace react-bootstrap MenuItems with Antd Menu
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.js
  superset-frontend/spec/javascripts/explore/components/DisplayQueryButton_spec.jsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/ModalTrigger.jsx
  superset-frontend/src/components/URLShortLinkModal.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/stylesheets/components/chart.less
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
Labels: polidea, size/XL

#11578 fix: Issues with filters and metrics popovers
  superset-frontend/spec/javascripts/explore/components/AdhocFilterEditPopoverSimpleTabContent_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocFilterEditPopover_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopover_spec.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopover.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSqlTabContent.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: polidea, size/L

#11550 feat: new report schedule models
  superset/migrations/versions/49b5a32daba5_add_report_schedules.py
  superset/models/reports.py
Labels: preset-io, risk:db-migration, size/L

#11594 fix(dashboard): order charts by changed_on
  superset-frontend/src/dashboard/actions/sliceEntities.js
Labels: preset-io, size/XS

#11602 style: Wrap chart titles again
  superset-frontend/src/dashboard/stylesheets/dashboard.less
Labels: preset-io, size/XS

#11607 fix: Filter and Metric popovers not closing after clicking Save
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/AdhocMetrics.test.ts
  superset-frontend/src/explore/components/AdhocFilterEditPopover.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
Labels: polidea, size/M

#11557 chore(home-screen): fixes for loading states, flicker issue, and reduction of api calls
  superset-frontend/images/empty-charts.png
  superset-frontend/images/empty-charts.svg
  superset-frontend/images/empty-dashboard.png
  superset-frontend/images/empty-dashboard.svg
  superset-frontend/images/empty-queries.png
  superset-frontend/images/empty-queries.svg
  superset-frontend/images/star-circle.png
  superset-frontend/images/star-circle.svg
  superset-frontend/images/union.png
  superset-frontend/images/union.svg
  superset-frontend/spec/javascripts/views/CRUD/welcome/ActivityTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/ChartTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/DashboardTable_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/SavedQueries_spec.tsx
  superset-frontend/spec/javascripts/views/CRUD/welcome/Welcome_spec.tsx
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/EmptyState.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: preset-io, size/L

#11564 chore: cleaning out old deckgl controls
  superset-frontend/src/explore/controlPanels/DeckArc.js
  superset-frontend/src/explore/controlPanels/DeckGeojson.js
  superset-frontend/src/explore/controlPanels/DeckGrid.js
  superset-frontend/src/explore/controlPanels/DeckHex.js
  superset-frontend/src/explore/controlPanels/DeckMulti.js
  superset-frontend/src/explore/controlPanels/DeckPath.js
  superset-frontend/src/explore/controlPanels/DeckPolygon.js
  superset-frontend/src/explore/controlPanels/DeckScatter.js
  superset-frontend/src/explore/controlPanels/DeckScreengrid.js
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/XXL

#11525 fix: extended droppable area on the top of dashboards
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/stylesheets/dnd.less
Labels: polidea, size/S

#11583 chore: Fixed unstable Bubbles cypress test
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/bubble.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
Labels: polidea, size/M

#11569 chore: clean up mountedTab
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Chart_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tabs_spec.jsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/common/components/Tabs/Tabs.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/containers/DashboardBuilder.jsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
Labels: size/M

#11570 fix: minor style touch on dashboard page
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.less
Labels: size/S

#11540 feat: annotation delete modal, bulk delete and empty state
  superset-frontend/spec/javascripts/views/CRUD/annotation/AnnotationList_spec.jsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationList.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
Labels: preset-io, size/L

#11614 fix(dashboard): use server-side lastModifiedTime for co-edit check
  superset-frontend/spec/javascripts/dashboard/reducers/dashboardState_spec.js
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset/views/core.py
Labels: size/M

#11621 fix: Datetime popover issues
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
Labels: polidea, rush!, size/XS

#11592 feat(dashboard): leaner filter indicator panel with wrapped text
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
Labels: preset-io, size/M

#11631 style: fixing tall filter indicators
  superset-frontend/src/dashboard/stylesheets/dashboard.less
Labels: preset-io, size/XS

#11632 fix: js unit test when save dash
  superset-frontend/spec/javascripts/dashboard/reducers/dashboardState_spec.js
Labels: size/XS

#11630 chore: Disabled Bubble test
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/bubble.test.js
Labels: polidea, size/XS

#11635 fix: CommandInvalidError had invalid init
  superset/commands/exceptions.py
  tests/commands_test.py
Labels: minor-review, size/S

#11521 chore: simplify Apache Kylin datetime convert
  superset/db_engine_specs/kylin.py
Labels: size/XS

#11638 fix: card thumbnails now always show border.
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
Labels: preset-io, size/XS

#11636 chore: rename IMPORT_EXPORT_VERSION
  superset/charts/commands/export.py
  superset/commands/export.py
  superset/dashboards/commands/export.py
  superset/databases/commands/export.py
  superset/datasets/commands/export.py
  superset/queries/saved_queries/commands/export.py
  superset/utils/dict_import_export.py
Labels: size/M

#11584 chore: Enabled artifacts for failing tests
  .github/workflows/superset-e2e.yml
Labels: polidea, size/XS

#11535 refactor: Remove reactable arc
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton.jsx
  superset-frontend/src/components/TableView/index.ts
  superset-frontend/src/components/dataViewCommon/TableCollection.tsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
Labels: polidea, size/L

#11458 chore: enabled cypress test in filter file
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
Labels: polidea, size/M

#11603 build(deps-dev): update cypress to 5.5.0, improvements for running locally
  CONTRIBUTING.md
  superset-frontend/cypress-base/cypress.json
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_mode.test.js
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/cypress_build.sh
  tox.ini
Labels: preset-io, size/L

#11626 feat(sankey-viz): allow sort by metric and bump superset-ui packages
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset/viz.py
Labels: size/M

#11650 style: various little tweaks to home screen stylin'
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/EmptyState.tsx
  superset-frontend/stylesheets/less/variables.less
Labels: preset-io, rush!, size/S

#11649 fix(saved-query): handle case where sql_tables in undefined
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/types.ts
Labels: preset-io, size/S

#11656 fix(chart-data): ignore orderby on sample result type
  superset/common/query_context.py
  tests/fixtures/query_context.py
Labels: preset-io, size/XS

#11655 fix (explore): handle null value in date filter
  superset-frontend/spec/javascripts/explore/components/DateFilterControl_spec.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
Labels: size/S

#11648 feat(dev): don't clean up assets when in dev-server
  superset-frontend/webpack.config.js
Labels: size/S

#11644 build: set actions/setup-python to v2
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python.yml
  .github/workflows/superset-translations.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-presto.yml
Labels: size/S

#11652 chore: add import icon
  superset-frontend/images/icons/import.svg
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/Icon/index.tsx
Labels: preset-io

#11529 chore: consolidate dashboard import logic
  superset/cli.py
  superset/dashboards/commands/importers/v0.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/utils/dashboard_import_export.py
  superset/views/core.py
  tests/import_export_tests.py
Labels: size/XL

#11643 fix: Restructure chart header to wrap nicely
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
Labels: polidea, size/M

#11533 chore: consolidate datasource import logic
  superset/cli.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/dashboards/commands/importers/__init__.py
  superset/dashboards/commands/importers/v0.py
  superset/datasets/commands/importers/__init__.py
  superset/datasets/commands/importers/v0.py
  superset/utils/dict_import_export.py
  superset/utils/import_datasource.py
  tests/import_export_tests.py
Labels: size/XL

#11653 fix: database connection validation when creation
  superset/databases/commands/create.py
  tests/databases/api_tests.py
  tests/superset_test_config.py
Labels: size/M

#11199 feat: add ECharts BoxPlot chart
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/url_params.test.js
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/utils/vizPlugins.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/charts/schemas.py
  superset/utils/core.py
  superset/utils/pandas_postprocessing.py
  superset/viz.py
  tests/fixtures/dataframes.py
  tests/pandas_postprocessing_tests.py
Labels: preset-io, size/XL

#11663 chore: clean up a debug line from #11653
  tests/databases/api_tests.py
Labels: size/XS

#11289 feat: keep placeholder on multiselect
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: preset-io, size/L

#11673 fix: make higher chart box resizable
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/stylesheets/components/markdown.less
  superset-frontend/src/dashboard/stylesheets/dnd.less
  superset-frontend/src/dashboard/stylesheets/popover-menu.less
Labels: polidea, size/S

#11661 fix (dashboard): remove default filters parameters from dashboard url
  superset/models/dashboard.py
  tests/dashboard_tests.py
Labels: size/S

#11672 fix(dashboard): ordering for add chart widget
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset/charts/api.py
Labels: preset-io, size/S

#11606 feat: new reports models api
  superset/app.py
  superset/config.py
  superset/dao/base.py
  superset/models/reports.py
  superset/models/slice.py
  superset/reports/__init__.py
  superset/reports/api.py
  superset/reports/commands/__init__.py
  superset/reports/commands/base.py
  superset/reports/commands/bulk_delete.py
  superset/reports/commands/create.py
  superset/reports/commands/delete.py
  superset/reports/commands/exceptions.py
  superset/reports/commands/update.py
  superset/reports/dao.py
  superset/reports/filters.py
  superset/reports/logs/__init__.py
  superset/reports/logs/api.py
  superset/reports/logs/schemas.py
  superset/reports/schemas.py
  superset/views/base_api.py
  tests/reports/__init__.py
  tests/reports/api_tests.py
  tests/superset_test_config.py
Labels: preset-io, size/XXL

#11613 docs: add support for Google Analytics on superset.apache.org
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  superset-frontend/cypress-base/cypress/integration/chart_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
Labels: preset-io, size/S

#11671 fix: Dropdown menu not closing on Dashboard view
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/ModalTrigger.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/stylesheets/dashboard.less
Labels: polidea, size/L

#11618 feat: keep modal open when saving database failed
  superset-frontend/cypress-base/cypress/integration/database/helper.ts
  superset-frontend/cypress-base/cypress/integration/database/modal.test.ts
  superset-frontend/src/common/components/Modal/Modal.tsx
  superset-frontend/src/utils/getClientErrorObject.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset/databases/schemas.py
  superset/models/core.py
  tests/databases/api_tests.py
Labels: size/L

#11616 feat: Adding docker build/push
  .github/workflows/docker.yml
  .github/workflows/docker_build_push.sh
  .github/workflows/test-docker.yml
  Dockerfile-dev
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
Labels: preset-io, size/L

#11679 fix(saved query): handle null sql field
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryPreviewModal.tsx
  superset-frontend/src/views/CRUD/types.ts
Labels: preset-io, size/XS

#11509 feat: rename TABLE_NAMES_CACHE_CONFIG to DATA_CACHE_CONFIG
  .gitignore
  UPDATING.md
  docs/installation.rst
  docs/src/pages/docs/installation/caching.mdx
  helm/superset/templates/_helpers.tpl
  superset/__init__.py
  superset/common/query_context.py
  superset/config.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/utils/cache.py
  superset/utils/cache_manager.py
  superset/utils/decorators.py
  superset/utils/screenshots.py
  superset/views/core.py
  superset/viz.py
  superset/viz_sip38.py
  tests/cache_tests.py
  tests/databases/api_tests.py
  tests/superset_test_config.py
Labels: risk:breaking-change, size/XL

#11691 fix: Hidden overflow issues in Dashboard Builder tabs
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
Labels: polidea, rush!, size/XS

#11676 chore: remove a few obsolete logic
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/util/constants.ts
Labels: size/M

#11685 chore: V1 charts load cypress tests
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pie.test.js
  superset-frontend/cypress-base/cypress/utils/vizPlugins.ts
  superset-frontend/src/chart/chartAction.js
Labels: polidea, size/M

#11701 chore: statds metrics for cache invalidation
  superset/cachekeys/api.py
  superset/stats_logger.py
  tests/stats_logger_tests.py
Labels: size/S

#11707 feat: Switching Docker compose over to the official image
  Dockerfile-dev
  docker-compose.yml
Labels: preset-io, size/M

#11684 fix: default dashboard/chart cards are vector with perfect corners
  superset-frontend/images/chart-card-fallback.png
  superset-frontend/images/chart-card-fallback.svg
  superset-frontend/images/dashboard-card-fallback.png
  superset-frontend/images/dashboard-card-fallback.svg
  superset-frontend/src/components/ListViewCard/ListViewCard.stories.tsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
Labels: preset-io

#11693 fix: Remove "required" from SaveModal Add to dashboard field
  superset-frontend/src/explore/components/SaveModal.jsx
Labels: polidea, size/XS

#11718 refactor: Load fonts from packages rather than local binaries
  superset-frontend/fonts/FiraCode/specimen.less
  superset-frontend/fonts/FiraCode/woff/FiraCode-Bold.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Light.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Medium.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Regular.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-Retina.woff
  superset-frontend/fonts/FiraCode/woff/FiraCode-VF.woff
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Bold.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Light.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Medium.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Regular.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-Retina.woff2
  superset-frontend/fonts/FiraCode/woff2/FiraCode-VF.woff2
  superset-frontend/fonts/InterUI/Inter-Black.woff
  superset-frontend/fonts/InterUI/Inter-Black.woff2
  superset-frontend/fonts/InterUI/Inter-BlackItalic.woff
  superset-frontend/fonts/InterUI/Inter-BlackItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Bold.woff
  superset-frontend/fonts/InterUI/Inter-Bold.woff2
  superset-frontend/fonts/InterUI/Inter-BoldItalic.woff
  superset-frontend/fonts/InterUI/Inter-BoldItalic.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraBold.woff
  superset-frontend/fonts/InterUI/Inter-ExtraBold.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraBoldItalic.woff
  superset-frontend/fonts/InterUI/Inter-ExtraBoldItalic.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraLight.woff
  superset-frontend/fonts/InterUI/Inter-ExtraLight.woff2
  superset-frontend/fonts/InterUI/Inter-ExtraLightItalic.woff
  superset-frontend/fonts/InterUI/Inter-ExtraLightItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Italic.woff
  superset-frontend/fonts/InterUI/Inter-Italic.woff2
  superset-frontend/fonts/InterUI/Inter-Light.woff
  superset-frontend/fonts/InterUI/Inter-Light.woff2
  superset-frontend/fonts/InterUI/Inter-LightItalic.woff
  superset-frontend/fonts/InterUI/Inter-LightItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Medium.woff
  superset-frontend/fonts/InterUI/Inter-Medium.woff2
  superset-frontend/fonts/InterUI/Inter-MediumItalic.woff
  superset-frontend/fonts/InterUI/Inter-MediumItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Regular.woff
  superset-frontend/fonts/InterUI/Inter-Regular.woff2
  superset-frontend/fonts/InterUI/Inter-SemiBold.woff
  superset-frontend/fonts/InterUI/Inter-SemiBold.woff2
  superset-frontend/fonts/InterUI/Inter-SemiBoldItalic.woff
  superset-frontend/fonts/InterUI/Inter-SemiBoldItalic.woff2
  superset-frontend/fonts/InterUI/Inter-Thin.woff
  superset-frontend/fonts/InterUI/Inter-Thin.woff2
  superset-frontend/fonts/InterUI/Inter-ThinItalic.woff
  superset-frontend/fonts/InterUI/Inter-ThinItalic.woff2
  superset-frontend/fonts/InterUI/Inter-italic.var.woff2
  superset-frontend/fonts/InterUI/Inter-roman.var.woff2
  superset-frontend/fonts/InterUI/Inter.var.woff2
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/main.less
  superset-frontend/stylesheets/less/font_specimens/fira_code.less
  superset-frontend/stylesheets/less/font_specimens/inter_ui.less
  superset-frontend/stylesheets/less/fonts.less
  superset-frontend/webpack.config.js
Labels: preset-io, rush!

#11670 feat: new import commands for dataset and databases
  superset/cli.py
  superset/commands/importers/exceptions.py
  superset/commands/importers/v1/__init__.py
  superset/commands/importers/v1/utils.py
  superset/databases/commands/importers/__init__.py
  superset/databases/commands/importers/v1/__init__.py
  superset/databases/commands/importers/v1/utils.py
  superset/databases/schemas.py
  superset/datasets/commands/importers/v0.py
  superset/datasets/commands/importers/v1/__init__.py
  superset/datasets/commands/importers/v1/utils.py
  superset/datasets/schemas.py
  superset/models/helpers.py
  tests/databases/commands_tests.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/XL

#11719 fix: ModalTriggers styling in SqlLab
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/ModalTrigger.jsx
Labels: polidea, rush!, size/S

#11692 fix: "Select all" option in SelectControl on Explore view
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: polidea, size/XS

#11724 fix: prior npm font source had a glitch
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/stylesheets/less/fonts.less
Labels: preset-io, rush!, size/XS

#11704 feat(templating): Safer Jinja template processing
  CONTRIBUTING.md
  UPDATING.md
  superset/__init__.py
  superset/app.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/extensions.py
  superset/jinja_context.py
  tests/core_tests.py
  tests/jinja_context_tests.py
Labels: preset-io, size/XL

#11727 chore: remove annotations UI feature flag
  superset/config.py
  superset/views/annotations.py
Labels: preset-io, size/S

#11728 feat: API endpoints to upload dataset/db
  superset/cli.py
  superset/constants.py
  superset/databases/api.py
  superset/databases/commands/importers/dispatcher.py
  superset/datasets/api.py
  superset/datasets/commands/importers/dispatcher.py
  superset/datasets/commands/importers/v0.py
  superset/views/base_api.py
  tests/databases/api_tests.py
  tests/databases/commands_tests.py
  tests/datasets/api_tests.py
Labels: size/L

#11726 fix: Missing styles in FilterScopeSelector modal
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/dashboard/stylesheets/filter-scope-selector.less
Labels: polidea, rush!, size/S

#11703 docs: fix docker config paths
  docker/README.md
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
Labels: preset-io, size/S

#11731 fix: do not drop calculated column on metadata sync
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  tests/sqla_models_tests.py
Labels: preset-io, size/M

#11740 fix: Adding __init__.py in superset.commands.importers
  superset/commands/importers/__init__.py
  superset/databases/commands/importers/v1/__init__.py
  superset/datasets/commands/importers/v1/__init__.py
Labels: preset-io, size/S

#11736 chore: Text change Allow Data Upload
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: size/XS

#11611 style: dark filter popover background
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
Labels: preset-io, size/M

#11709 fix: Make spacings in Settings menu more consistent
  superset-frontend/src/components/Menu/Menu.tsx
Labels: polidea, size/M

#11752 fix: Null error when deleting the last owner label in DatasourceEditor/settings
  superset-frontend/src/explore/components/controls/SelectAsyncControl.jsx
Labels: polidea, size/XS

#11760 feat: Add user info to sqllab via bootstrap data
  superset/views/core.py
Labels: size/XS

#11743 feat: add a command to import charts
  superset/charts/commands/importers/__init__.py
  superset/charts/commands/importers/v1/__init__.py
  superset/charts/commands/importers/v1/utils.py
  superset/charts/schemas.py
  superset/models/helpers.py
  superset/models/slice.py
  tests/charts/commands_tests.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/L

#11772 chore: fix typo
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/XS

#11747 fix: docker healthcheck.
  Dockerfile
Labels: size/XS

#11732 fix: style multiselect input
  superset-frontend/src/components/Select/SupersetStyledSelect.tsx
  superset-frontend/src/components/Select/styles.tsx
Labels: preset-io, size/M

#11775 docs: add Xite to users list
  INTHEWILD.md
Labels: size/XS

#11749 feat: add a command to import dashboards
  superset/commands/export.py
  superset/dashboards/commands/export.py
  superset/dashboards/commands/importers/v1/__init__.py
  superset/dashboards/commands/importers/v1/utils.py
  superset/dashboards/schemas.py
  tests/charts/commands_tests.py
  tests/dashboards/commands_tests.py
  tests/databases/commands_tests.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/XL

#11787 fix: annotation layer crashes when clearing type select
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
Labels: preset-io, size/XS

#11712 chore: enabled v1 verification in filter and url_params test files
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/url_params.test.js
  superset-frontend/cypress-base/cypress/utils/vizPlugins.ts
Labels: polidea, size/M

#11791 feat(cards): add tool tip to cards
  superset-frontend/src/components/ListViewCard/index.tsx
Labels: preset-io, size/S

#11754 chore: controls.test supporting v1 charts and added force=true to url when r…
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.js
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
Labels: polidea, size/M

#11780 refactor: Replace SqlLab components' styles using Emotion & theme variables
  superset-frontend/src/SqlLab/components/QuerySearch.jsx
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/SqlLab/main.less
Labels: polidea, size/M

#11675 feat: use rison for list view filters stateful urls
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/helpers/ProviderWrapper.tsx
  superset-frontend/spec/helpers/theming.ts
  superset-frontend/spec/javascripts/components/AlteredSliceTag_spec.jsx
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/views/App.tsx
Labels: preset-io, size/L

#11794 build: split python CI jobs
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-mysql.yml
  .github/workflows/superset-python-postgres.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-sqlite.yml
  .github/workflows/superset-python.yml
Labels: size/XL

#11783 docs: update docs around email reports
  docs/installation.rst
  docs/src/pages/docs/installation/email_reports.mdx
Labels: preset-io, size/XS

#11785 feat: add certification info to table selector
  superset-frontend/spec/javascripts/components/TableSelector_spec.jsx
  superset-frontend/src/components/CertifiedIconWithTooltip.tsx
  superset-frontend/src/components/TableSelector.tsx
  superset/connectors/sqla/models.py
  superset/views/core.py
  tests/core_tests.py
Labels: size/M

#11798 fix: docker healthcheck
  Dockerfile
Labels: size/XS

#11737 refactor: Replace react-bootstrap tooltips with Antd tooltips
  superset-frontend/spec/javascripts/components/FilterableTable/FilterableTable_spec.tsx
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopoverTitle_spec.jsx
  superset-frontend/spec/javascripts/explore/components/DateFilterControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/EmbedCodeButton_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ColumnElement_spec.tsx
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/SqlLab/components/ColumnElement.tsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/common/components/InfoTooltip.tsx
  superset-frontend/src/common/components/Tooltip.tsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/CopyToClipboard.jsx
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/src/components/Link.tsx
  superset-frontend/src/components/TooltipWrapper.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopoverTitle.jsx
  superset-frontend/src/explore/components/ControlHeader.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
Labels: polidea, size/L

#11806 chore: unbreak frontend ci
  superset-frontend/src/components/ListViewCard/index.tsx
Labels: size/XS

#11795 fix: mutating input df in viz.py
  superset/viz.py
Labels: preset-io, size/XS

#11762 fix: attachment filename error in sqllab with i18n
  superset/views/core.py
Labels: size/XS

#11809 docs: 0.38.0 CHANGELOG and UPDATING
  CHANGELOG.md
  UPDATING.md
Labels: preset-io, size/L

#10815 chore: type src/logger
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/logger/actions/index.ts
Labels: size/XS

#11714 chore: improve analytics
  UPDATING.md
  superset/annotation_layers/api.py
  superset/cachekeys/api.py
  superset/charts/api.py
  superset/css_templates/api.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/migrations/versions/a8173232b786_add_path_to_logs.py
  superset/models/core.py
  superset/utils/log.py
  superset/views/base_api.py
  superset/views/core.py
Labels: preset-io, size/L

#11797 fix: add feature flag for domain sharding
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/utils/hostNamesConfig.js
  superset/config.py
Labels: size/S

#11805 fix: remove root dir from ZIP bundle
  superset/charts/api.py
  superset/commands/importers/v1/utils.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  tests/charts/api_tests.py
  tests/dashboards/api_tests.py
  tests/databases/api_tests.py
  tests/datasets/api_tests.py
Labels: size/L

#11683 feat: filter by me on CRUD list view
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/spec/javascripts/views/CRUD/annotationlayers/AnnotationLayersList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplatesList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/dataset/DatasetList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryList_spec.jsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: preset-io, size/L

#11815 chore: Fix TableModelView.edit super call
  superset/connectors/sqla/views.py
Labels: size/XS

#11801 fix: delete chart or dashboards with assoc reports
  superset/charts/commands/bulk_delete.py
  superset/charts/commands/delete.py
  superset/charts/commands/exceptions.py
  superset/dashboards/commands/bulk_delete.py
  superset/dashboards/commands/delete.py
  superset/dashboards/commands/exceptions.py
  superset/databases/commands/delete.py
  superset/databases/commands/exceptions.py
  superset/reports/dao.py
  superset/reports/schemas.py
  tests/charts/api_tests.py
  tests/dashboards/api_tests.py
  tests/databases/api_tests.py
Labels: preset-io, size/L

#11825 fix(setup): disallow python 3.6 for pip install
  setup.py
Labels: preset-io, size/XS

#11827 docs(release): small fixes and deprecate apache docs
  RELEASING/README.md
  RELEASING/make_docs.sh
  RELEASING/make_docs_entrypoint.sh
  UPDATING.md
Labels: preset-io, size/L

#11828 ci(docker): build image on release
  .github/workflows/docker.yml
  .github/workflows/docker_build_push.sh
Labels: preset-io, size/S

#11811 fix: Adding and removing annotations
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl.jsx
Labels: polidea, rush!, size/L

#11824 fix: wrong key used FEATURE_FLAGS[LISTVIEW_DEFAULT_CARD_VIEW]
  superset/config.py
Labels: size/XS

#11837 fix: improve Avatar text size consistency
  superset-frontend/src/components/FacePile/index.tsx
Labels: size/S

#11834 chore: Change subtabs order for Data tab
  superset-frontend/src/views/CRUD/data/common.ts
Labels: polidea, size/S

#11779 chore: Move styles of Dashboard and FilterScopeSelector modals to Emotion
  superset-frontend/src/components/ModalTrigger.jsx
  superset-frontend/src/dashboard/components/DeleteComponentModal.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.jsx
  superset-frontend/src/dashboard/components/filterscope/FilterScopeModal.jsx
  superset-frontend/src/dashboard/components/filterscope/FilterScopeSelector.jsx
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/dashboard/stylesheets/filter-scope-selector.less
Labels: polidea, size/L

#11764 feat(saved queries): security perm simplification
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryList_spec.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset/constants.py
  superset/migrations/shared/__init__.py
  superset/migrations/shared/security_converge.py
  superset/migrations/versions/e38177dbf641_security_converge_saved_queries.py
  superset/queries/saved_queries/api.py
  superset/views/sql_lab.py
  tests/queries/saved_queries/api_tests.py
  tests/security/migrate_roles_tests.py
Labels: preset-io, risk:db-migration, size/XL

#11778 fix: Download as image not working on Dashboard view
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
Labels: polidea, rush!, size/M

#11836 feat: Sqllab to Explore UX improvements api changes
  superset/datasets/api.py
  superset/datasets/commands/update.py
  superset/datasets/dao.py
  tests/datasets/api_tests.py
Labels: size/M

#11238 feat: Option to run npm dev-server (hot reload) while calling docker-compose up
  docker-compose.yml
  docker/docker-frontend.sh
Labels: polidea, size/S

#11830 fix: update chart doesn't remove all connections to dashboards
  superset/charts/commands/update.py
  tests/charts/api_tests.py
Labels: .backend, polidea, size/M

#11852 fix: security converge downgrade procedure
  superset/migrations/shared/security_converge.py
Labels: preset-io, size/XS

#11766 fix: Chart select borders in BuilderComponentPane
  superset-frontend/src/dashboard/components/BuilderComponentPane.jsx
Labels: polidea, rush!, size/S

#11858 fix(datasets): renaming openAPI columns
  superset/datasets/api.py
  superset/datasets/commands/update.py
Labels: size/XS

#11855 feat: Create api abstraction layer for dataset network calls
  superset-frontend/src/api/dataset.ts
Labels: size/M

#11702 feat: list view filters for Query History
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/helpers/shim.ts
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/Filters/Base.ts
  superset-frontend/src/components/ListView/Filters/DateRange.tsx
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/Filters/Select.tsx
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.test.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/queries/api.py
Labels: preset-io, size/XL

#11812 chore: move fixtures and helpers to root
  superset-frontend/spec/fixtures/mockChartQueries.js
  superset-frontend/spec/fixtures/mockDashboardData.js
  superset-frontend/spec/fixtures/mockDashboardFilters.js
  superset-frontend/spec/fixtures/mockDashboardInfo.js
  superset-frontend/spec/fixtures/mockDashboardLayout.js
  superset-frontend/spec/fixtures/mockDashboardState.js
  superset-frontend/spec/fixtures/mockSliceEntities.js
  superset-frontend/spec/fixtures/mockState.js
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/spec/helpers/WithDragDropContext.jsx
  superset-frontend/spec/javascripts/CRUD/CollectionTable_spec.jsx
  superset-frontend/spec/javascripts/dashboard/actions/dashboardState_spec.js
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/FiltersBadge_spec.tsx
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/SliceAdder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/ChartHolder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Chart_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Column_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Divider_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Header_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Markdown_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Row_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tab_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tabs_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/new/DraggableNewComponent_spec.jsx
  superset-frontend/spec/javascripts/dashboard/reducers/dashboardFilters_spec.js
  superset-frontend/spec/javascripts/dashboard/util/getLeafComponentIdFromPath_spec.js
  superset-frontend/spec/javascripts/dashboard/util/updateComponentParentsList_spec.js
  superset-frontend/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/explore/components/FilterBoxItemControl_spec.jsx
Labels: preset-io
