Repository apache/superset, pull requests merged in 2020-02, with the labels that each got.

#9062 [fix] Ensure that is_adhoc_metric returns a boolean
  superset/utils/core.py
Labels: size/XS

#9064 [SQL Lab] Improve autocomplete performance
  superset/assets/src/SqlLab/components/AceEditorWrapper.jsx
Labels: size/XS

#9068 Update superset organisation users in readme
  README.md
Labels: size/XS

#9065 [sqla] Fixing ORDER BY logic
  superset/connectors/sqla/models.py
Labels: size/S

#9075 add Dragonpass Com. Ltd.
  README.md
Labels: size/XS

#9017 [sip-15] Enabling SIP-15 by default
  UPDATING.md
  superset/config.py
  tests/core_tests.py
Labels: size/XS

#9060 [domain sharding] Freeup main domain when domain sharding is enabled
  superset/assets/spec/javascripts/explore/utils_spec.jsx
  superset/assets/src/chart/chartAction.js
  superset/assets/src/explore/exploreUtils.js
Labels: size/S

#9070 [logging] Add flag for document visibility
  superset/assets/src/middleware/loggerMiddleware.js
Labels: size/XS

#9076 Add Preset, Inc. to companies using Superset
  README.md
Labels: preset-io, size/XS

#9069 [docs] add a link to versioned docs in the docs
  docs/index.rst
Labels: need:more-info, preset-io, size/XS

#9051 [explore] Modal to edit chart properties
  superset/assets/src/explore/actions/exploreActions.js
  superset/assets/src/explore/components/DisplayQueryButton.jsx
  superset/assets/src/explore/components/ExploreActionButtons.jsx
  superset/assets/src/explore/components/PropertiesModal.jsx
  superset/assets/src/explore/reducers/exploreReducer.js
  superset/models/slice.py
  superset/views/chart/api.py
Labels: preset-io, size/L

#9047 [csv upload] Use python's named temp file
  superset/config.py
  superset/db_engine_specs/base.py
  superset/views/database/views.py
Labels: .security, preset-io, size/M

#9082 [fix] Issue with previously defined SQL configuration
  superset/models/core.py
Labels: size/S

#9056 Do not show stacktraces on some intentionally-thrown errors
  superset/templates/superset/models/database/macros.html
  superset/views/base.py
  superset/views/core.py
  tests/core_tests.py
Labels: preset-io, size/M

#9046 [query] deprecate can_only_access_owned_queries
  UPDATING.md
  superset/security/manager.py
  superset/views/core.py
  superset/views/sql_lab.py
  tests/sqllab_tests.py
Labels: .security, preset-io, size/L

#9078 Wrap tagging endpoints in a feature flag (disabled by default)
  superset/app.py
  superset/config.py
  tests/tagging_tests.py
Labels: preset-io, size/XS

#9093 [fix] Temporary filename for CSV upload to Hive
  superset/db_engine_specs/hive.py
Labels: size/XS

#9088 [dashboard] Fix metadata state
  superset/assets/src/dashboard/components/PropertiesModal.jsx
  superset/assets/src/dashboard/reducers/getInitialState.js
Labels: preset-io, size/M

#9044 [table] [columns] remove generic checkbox API
  superset/templates/superset/fab_overrides/list_with_checkboxes.html
  superset/views/core.py
Labels: .security, preset-io, size/S

#9097 [fix] tox running of specific tests
  tests/base_api_tests.py
  tests/dashboard_api_tests.py
  tests/dashboard_tests.py
  tests/database_api_tests.py
  tests/dataframe_test.py
  tests/druid_func_tests.py
  tests/log_api_tests.py
  tests/model_tests.py
  tests/result_set_tests.py
  tests/security_tests.py
  tests/sql_validator_tests.py
  tests/sqla_models_tests.py
  tests/sqllab_tests.py
  tests/strategy_tests.py
  tests/utils_tests.py
  tests/viz_tests.py
  tox.ini
Labels: size/M

#9096 SQL Lab: Use numpy structured arrays, fallback to JSON serialization
  superset/result_set.py
  tests/result_set_tests.py
Labels: preset-io, size/M

#9091 [datasources] Fix, Prevent gamma user's from accessing save datasources
  superset/security/manager.py
Labels: preset-io, size/XS

#9081 [dashboard] Fix for dashboard edit modal, loading user list
  superset/assets/src/dashboard/components/PropertiesModal.jsx
Labels: preset-io, size/M

#9099 Moving away from using the root logger everywhere
  superset/cli.py
  superset/common/query_context.py
  superset/config.py
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/slice.py
  superset/result_set.py
  superset/security/manager.py
  superset/sql_parse.py
  superset/sql_validators/presto_db.py
  superset/stats_logger.py
  superset/tasks/schedules.py
  superset/utils/core.py
  superset/utils/dashboard_import_export.py
  superset/utils/decorators.py
  superset/utils/dict_import_export.py
  superset/utils/import_datasource.py
  superset/utils/logging_configurator.py
  superset/views/base.py
  superset/views/base_api.py
  superset/views/core.py
  superset/viz.py
  tests/core_tests.py
  tests/email_tests.py
  tests/viz_tests.py
Labels: preset-io, size/L

#9043 Add support for Cockroach DB
  docs/index.rst
  docs/installation.rst
  setup.py
  superset/db_engine_specs/cockroachdb.py
Labels: size/M

#9121 [logging] Add data_age for cached chart
  superset-frontend/src/chart/chartAction.js
Labels: size/XS

#9117 Bump FAB to 2.2.3
  requirements.txt
  setup.py
Labels: preset-io, size/XS

#9114 [docker] fix, Dockerfile for frontend builds
  .gitignore
  .rat-excludes
  Dockerfile
  docker-compose.yml
  setup.py
  superset/config.py
  superset/static/.gitkeep
Labels: preset-io, size/XS

#9134 [charts] Fix, double registration of charts API
  superset/views/chart/api.py
Labels: preset-io, size/XS

#9054 [database] new, select star API migration
  superset/security/manager.py
  superset/views/base_api.py
  superset/views/core.py
  superset/views/database/api.py
  superset/views/database/decorators.py
  tests/core_tests.py
  tests/database_api_tests.py
Labels: preset-io, size/L

#9140 [dashboard] remove loading spinner in missing chart holder
  superset-frontend/spec/javascripts/dashboard/components/MissingChart_spec.jsx
  superset-frontend/src/dashboard/components/MissingChart.jsx
  superset-frontend/src/dashboard/stylesheets/components/chart.less
Labels: size/S

#9109 [migration] metadata for dashboard filters
  UPDATING.md
  superset/migrations/versions/3325d4caccc8_dashboard_scoped_filters.py
  superset/utils/dashboard_filter_scopes_converter.py
Labels: size/L

#8658 fix: handle duplicate groupby keys
  superset/connectors/sqla/models.py
  superset/viz.py
Labels: preset-io, size/XS

#9102 [sqllab] fix: return pandas records in execute_sql_statements
  superset/sql_lab.py
Labels: preset-io, size/S

#9149 fix: adhoc metric bug in chord diagram
  superset/viz.py
Labels: size/XS

#9150 [mypy] Disallowing implicit optional
  setup.cfg
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/security/manager.py
  superset/views/base_schemas.py
  superset/views/chart/api.py
  superset/views/core.py
  superset/views/dashboard/api.py
  superset/views/database/api.py
  superset/views/database/decorators.py
  superset/viz.py
  tests/chart_api_tests.py
  tests/dashboard_api_tests.py
Labels: size/M

#9139 Catch TypeError on PyArrow array instantiation
  superset/result_set.py
  tests/result_set_tests.py
Labels: preset-io, size/S

#9142 Support human readable datetime type for PinotDB
  superset/db_engine_specs/pinot.py
Labels: size/S

#8925 Add release refinements from 0.35.2 release
  NOTICE
  README.md
  RELEASING/README.md
  RELEASING/make_tarball.sh
  RELEASING/send_email.py
  RELEASING/set_release_env.sh
Labels: size/L

#9138 [mypy] Enforcing typing for db_engine_specs
  setup.cfg
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/exasol.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/models/core.py
  superset/sql_parse.py
  superset/utils/core.py
  superset/utils/feature_flag_manager.py
Labels: size/L

#9163 [security] filter out markdown containing XSS
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
Labels: preset-io, size/S

#9162 [SIP-36] Migrate Link.jsx to Link.tsx
  superset-frontend/src/SqlLab/components/Link.jsx
  superset-frontend/src/SqlLab/components/Link.tsx
Labels: size/L

#9145 [dashboard] use filter_scopes metadata when import old dashboard
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/views/dashboard/api.py
  tests/import_export_tests.py
Labels: size/M

#9120 Add feature flags to control query sharing, KV exposure
  UPDATING.md
  superset-frontend/spec/javascripts/sqllab/ShareSqlLabQuery_spec.jsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery.jsx
  superset-frontend/src/featureFlags.ts
  superset/app.py
  superset/config.py
  tests/core_tests.py
  tests/superset_test_config.py
Labels: preset-io, size/L

#9146 [dashboard] clean up usage for old filter immune metadata
  superset-frontend/spec/javascripts/dashboard/fixtures/mockDashboardInfo.js
  superset-frontend/src/dashboard/reducers/getInitialState.js
  superset/views/core.py
Labels: size/S

#9144 [database] Fix, tables endpoint
  superset/views/core.py
  superset/views/database/api.py
  tests/base_tests.py
  tests/core_tests.py
Labels: preset-io, size/L

#9172 [SIP-36] deprecate tslint and configure eslint for typescript
  superset-frontend/.eslintignore
  superset-frontend/.eslintrc
  superset-frontend/.eslintrc.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/utils/safeStringify_spec.ts
  superset-frontend/src/SqlLab/components/Link.tsx
  superset-frontend/src/SqlLab/utils/sqlKeywords.ts
  superset-frontend/src/components/ConfirmStatusChange.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/dashboard/stylesheets/popover-menu.less
  superset-frontend/src/utils/safeStringify.ts
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset-frontend/tsconfig.json
  superset-frontend/tslint.json
Labels: preset-io, size/XL

#9173 [fix] SQL query source
  UPDATING.md
  superset/models/core.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/utils/core.py
  superset/views/core.py
Labels: size/M

#9181 Infer SQL_LAB QuerySource from referrer
  superset/models/core.py
Labels: size/XS

#8699 [SIP-29] Add support for row-level security
  UPDATING.md
  docs/security.rst
  superset/app.py
  superset/common/query_context.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/migrations/versions/0a6f12f60c73_add_role_level_security.py
  superset/security/manager.py
  superset/viz.py
  tests/security_tests.py
Labels: .important, .security, risk:db-migration, size/L

#9191 Make JSX Menu links open in new tab
  superset-frontend/src/components/Menu/Menu.jsx
Labels: size/S

#9184 docs: remove focus on Druid in README.md
  README.md
  docs/installation.rst
Labels: preset-io, size/M

#9178 [core] Fix, sanitize errors returned from testconn
  superset/views/core.py
  superset/views/database/validators.py
  tests/core_tests.py
Labels: preset-io, size/M

#9167 [log] Set detailed query info to log debug level
  superset/models/core.py
  superset/sql_lab.py
  superset/sql_parse.py
Labels: preset-io, size/S

#9086 [dashboard, chart] fix, add filter support to match FAB's filter functionality
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset/views/dashboard/api.py
Labels: preset-io, size/XL

#9165 Bump FAB to 2.2.4
  requirements.txt
  setup.py
Labels: preset-io, size/XS

#9188 [dashboard] fix filter_scopes when copy dashboard with duplicate_slices
  superset/models/dashboard.py
  superset/utils/dashboard_filter_scopes_converter.py
  superset/views/core.py
Labels: size/S

#9180 [SIP-36] Migrate setupApp.js to setupApp.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/setup/setupApp.ts
Labels: size/S

#9185 [SIP-36] Update CONTRIBUTING with TypeScript details
  CONTRIBUTING.md
Labels: size/L

#9189 build: upgrade typescript to 3.8.2
  .gitignore
  CONTRIBUTING.md
  superset-frontend/.eslintignore
  superset-frontend/.gitignore
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/utils/safeStringify_spec.ts
  superset-frontend/webpack.config.js
Labels: #build, size/S

#9106 chore: run 'npm audit fix' to fix 2 vulnerabilities
  superset-frontend/package-lock.json
Labels: need:more-info, preset-io, size/XS

#9202 [dashboard perf logging] add dashboard url anchor component id
  superset-frontend/src/dashboard/components/Dashboard.jsx
Labels: size/XS

#9203 [plugin] upgrade chart plugin version (to fix annotation)
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#9196 [Bug Fix] Returning timeseries_limit_metric in table viz get_data
  superset/viz.py
  tests/viz_tests.py
Labels: size/XS

#9213 [fix] remove chart id from filter_scopes metadata if chart is not in dash anymore
  superset/utils/dashboard_filter_scopes_converter.py
  superset/views/core.py
Labels: size/S

#9212 [dashboard, chart] fix ordering and filtering in listviews
  superset-frontend/package-lock.json
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/types/react-table-config.d.ts
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset/views/chart/api.py
Labels: preset-io, size/L
