Repository apache/superset, pull requests merged in 2020-06, with the labels that each got.

#9952 feat: [filter_box] disable instant_filtering by defult
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.js
  superset-frontend/src/explore/controlPanels/FilterBox.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/S

#9901 build: add workflow preferring TypeScript files
  .github/workflows/prefer_typescript.yml
Labels: size/M

#9903 feat: expand new chart data endpoint coverage
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.jsx
  superset-frontend/src/explore/exploreUtils.js
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/config.py
  superset/utils/core.py
  superset/views/core.py
  superset/viz.py
  tests/query_context_tests.py
Labels: preset-io, size/L

#9962 feat: implement new version of word cloud
  superset-frontend/cypress-base/cypress/integration/dashboard/index.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/url_params.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/spec/javascripts/explore/store_spec.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/store.js
Labels: preset-io, size/M

#9970 style(mypy): Fix memoize watch type
  superset/models/core.py
  superset/utils/core.py
Labels: size/XS

#9969 fix(revert): Using request context rather than globals
  superset/views/core.py
  superset/views/utils.py
  tests/utils_tests.py
Labels: size/M

#9888 feat: make CRUD annotations inline
  superset/app.py
  superset/views/annotations.py
Labels: preset-io, size/M

#9954 fix: pinot select query logic
  superset/db_engine_specs/pinot.py
  tests/db_engine_specs/pinot_tests.py
Labels: size/S

#9456 fix: Disable save button when can_add: false, can_overwrite: false
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
Labels: size/XS

#9973 fix(mypy): Resolves regression introducted in #9824
  superset/common/query_object.py
  superset/connectors/sqla/models.py
  superset/tasks/cache.py
  superset/utils/core.py
Labels: size/S

#9886 feat: [dashboard] notification and warning for auto force refresh
  superset-frontend/spec/javascripts/dashboard/components/Header_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/RefreshIntervalModal_spec.jsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/getInitialState.js
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset/config.py
  superset/views/base.py
Labels: size/L

#9943 style(mypy): Enforcing typing for superset module
  setup.cfg
  superset/app.py
  superset/cli.py
  superset/config.py
  superset/exceptions.py
  superset/extensions.py
  superset/forms.py
  superset/jinja_context.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/stats_logger.py
  superset/typing.py
  superset/viz.py
  superset/viz_sip38.py
  tests/viz_tests.py
Labels: size/XL

#9784 fix: fetch all owners for dashboard and chart listview filters and properties modal
  superset-frontend/spec/javascripts/views/chartList/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/dashboardList/DashboardList_spec.jsx
  superset-frontend/spec/javascripts/views/datasetList/DatasetList_spec.jsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset-frontend/src/views/datasetList/DatasetList.tsx
Labels: preset-io, size/L

#9934 fix: display python_date_format in react views as well
  superset/connectors/sqla/models.py
Labels: size/S

#9960 docs: add ELMO Cloud HR & Payroll to list of users on readme
  README.md
Labels: size/XS

#9965 docs(api): Wrong parameter name on database openapi spec
  superset/views/database/api.py
Labels: preset-io, size/XS

#9989 fix: remove -1,-1 from owners request in charts, dashboards list and propertiesModal
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
Labels: preset-io, size/M

#9975 feat: finalize Word Cloud move to new chart data endpoint
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.jsx
  superset-frontend/src/explore/exploreUtils.js
  superset/assets/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset/charts/api.py
  superset/common/query_context.py
  superset/viz.py
  superset/viz_sip38.py
  tests/core_tests.py
Labels: preset-io, size/L

#9939 style(mypy): Enforcing typing for superset.views module
  setup.cfg
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/sql_validators/base.py
  superset/sql_validators/presto_db.py
  superset/tasks/schedules.py
  superset/views/annotations.py
  superset/views/api.py
  superset/views/base.py
  superset/views/base_api.py
  superset/views/base_schemas.py
  superset/views/core.py
  superset/views/datasource.py
  superset/views/filters.py
  superset/views/log/__init__.py
  superset/views/log/api.py
  superset/views/schedules.py
  superset/views/sql_lab.py
  superset/views/tags.py
  superset/views/utils.py
  superset/viz.py
  superset/viz_sip38.py
Labels: size/XL

#10000 fix: [logging] fix render chart error type
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/logger/LogUtils.js
Labels: size/XS

#10001 style(mypy): Spit-and-polish pass
  setup.cfg
  superset/app.py
  superset/charts/commands/create.py
  superset/charts/commands/update.py
  superset/common/query_object.py
  superset/config.py
  superset/connectors/base/models.py
  superset/connectors/connector_registry.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/dao/base.py
  superset/dashboards/commands/create.py
  superset/dashboards/commands/update.py
  superset/datasets/commands/create.py
  superset/datasets/commands/update.py
  superset/datasets/dao.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/exasol.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/extensions.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/slice.py
  superset/models/sql_types/presto_sql_types.py
  superset/queries/filters.py
  superset/result_set.py
  superset/security/manager.py
  superset/sql_lab.py
  superset/tasks/celery_app.py
  superset/tasks/schedules.py
  superset/utils/cache.py
  superset/utils/core.py
  superset/utils/dashboard_filter_scopes_converter.py
  superset/utils/decorators.py
  superset/utils/import_datasource.py
  superset/utils/log.py
  superset/utils/logging_configurator.py
  superset/utils/pandas_postprocessing.py
  superset/utils/screenshots.py
  superset/views/base.py
  superset/views/base_api.py
  superset/views/base_schemas.py
  superset/views/core.py
  superset/views/database/api.py
  superset/views/database/decorators.py
  superset/views/schedules.py
  superset/views/sql_lab.py
  superset/views/utils.py
  superset/viz.py
  tests/base_tests.py
  tests/superset_test_config_thumbnails.py
Labels: size/L

#10015 fix: Quick fix for bad regex in GH Workflow
  .github/workflows/license-check.yml
Labels: preset-io, size/XS

#10010 feat: add support for query offset
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  tests/charts/api_tests.py
  tests/charts/schema_tests.py
Labels: preset-io, size/L

#10021 fix: flaky test_copy_dash test in dashboard_tests.py
  tests/dashboard_tests.py
Labels: preset-io, size/XS

#10003 fix(SankeyViz): enforce source/target order
  superset/viz.py
Labels: size/XS

#9997 chore: remove markup and separator from viz.py
  superset/viz.py
  superset/viz_sip38.py
Labels: preset-io, size/M

#9673 refactor(sql): optimize sql query parser
  superset/sql_parse.py
Labels: preset-io, size/S

#10018 chore: bump superset-ui to 0.13.27
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/explore/controlPanels/CountryMap.js
  superset-frontend/src/explore/controlPanels/EventFlow.jsx
  superset-frontend/src/setup/setupPlugins.ts
Labels: preset-io, size/L

#10036 Fix chart annotation source type showing perpetual loading when re-se…
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: preset-io, size/S

#9971 feat: support delimiters in hive csv upload
  superset/db_engine_specs/hive.py
Labels: size/S

#10039 fix(security): can_access with None crashes on builtin roles
  superset/security/manager.py
Labels: preset-io, size/XS

#10030 chore(security): Renaming schemas_accessible_by_user
  UPDATING.md
  superset/security/manager.py
  superset/views/core.py
  superset/views/database/forms.py
  tests/core_tests.py
  tests/security_tests.py
Labels: size/S

#10031 chore(security): Renaming access methods
  UPDATING.md
  superset/charts/filters.py
  superset/dashboards/filters.py
  superset/security/manager.py
  superset/views/base.py
  superset/views/chart/filters.py
  superset/views/core.py
  superset/views/dashboard/filters.py
  superset/views/database/decorators.py
  superset/views/database/filters.py
  superset/views/database/forms.py
  superset/views/database/validators.py
  tests/core_tests.py
  tests/security_tests.py
Labels: size/L

#10042 chore: [logging] add dashboard is_published into perf logging
  superset-frontend/src/dashboard/components/Dashboard.jsx
Labels: size/XS

#10048 feat: add deafult buildQuery for V1 chart data requests
  superset-frontend/spec/javascripts/chart/chartActions_spec.js
  superset-frontend/spec/javascripts/explore/utils_spec.jsx
  superset-frontend/src/explore/exploreUtils.js
Labels: preset-io, size/S

#10046 fix: bump pydruid version
  requirements-dev.txt
  setup.py
Labels: preset-io, size/XS

#10037 fix: native annotations
  superset/common/query_context.py
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/views/annotations.py
  superset/viz.py
  tests/core_tests.py
Labels: preset-io, size/S

#10041 feat: owners profile icon on dataset list view
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/AvatarIcon.tsx
  superset-frontend/src/views/datasetList/DatasetList.tsx
Labels: preset-io, size/M

#10060 fix: dashboard export raises schema issues
  setup.cfg
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset/db_engine_specs/base.py
  superset/errors.py
  superset/sql_parse.py
  superset/views/base.py
  superset/viz.py
  superset/viz_sip38.py
Labels: preset-io, size/S

#10065 docs: Add DouroECI to list of users on readme
  README.md
Labels: size/XS

#10061 fix: caching on viz with relative time ranges and time compare
  superset/viz.py
  tests/core_tests.py
Labels: size/S

#10069 build: update prefer_typescript.yml
  .github/workflows/prefer_typescript.yml
Labels: size/XS

#10070 fix: use custom int parsing over flask int parsing in sqllab queries endpoint
  superset/views/core.py
  tests/sqllab_tests.py
Labels: preset-io, size/XS

#10059 chore: bumping superset-ui theme version
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/XS

#10074 other: add TypeScript tracker generation script
  scripts/generate_frontend_ts_tasklist.js
Labels: size/M

#10075 docs: Add GrowthSimple to list of users on readme
  README.md
Labels: size/XS

#10079 fix: Ensuring /queries/ route accepts float or int
  superset/views/core.py
  tests/sqllab_tests.py
Labels: size/S

#10071 docs: FAQ entry for 'Does Superset have an API?'
  docs/faq.rst
Labels: need:more-info, preset-io, size/S

#9810 feat: superset report slack integration
  requirements.txt
  setup.py
  superset/config.py
  superset/migrations/versions/743a117f0d98_add_slack_to_the_schedule.py
  superset/models/schedules.py
  superset/tasks/schedules.py
  superset/tasks/slack_util.py
  superset/views/schedules.py
  tests/schedules_test.py
Labels: size/L

#10076 fix(sqllab): table refresh API endpoint
  superset-frontend/src/components/TableSelector.jsx
Labels: size/L

#10068 chore: type src/dashboard/util/charts
  superset-frontend/spec/javascripts/dashboard/util/getFormDataWithExtraFilters_spec.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/charts/getEffectiveExtraFilters.ts
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
Labels: size/M

#9444 feat: implement dttm column configuration through db extra config
  superset/config.py
  superset/connectors/sqla/models.py
  tests/config_tests.py
  tests/dict_import_export_tests.py
Labels: size/L

#10035 fix: adds pagination/infinite scroll to owners select on DashboardList and ChartList
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/Select/SupersetStyledSelect.tsx
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
Labels: preset-io, size/M

#10090 style: Change logo color to new branding
  superset-frontend/branding/superset-logo-horiz-apache.png
  superset-frontend/branding/superset-logo-horiz-apache.svg
  superset-frontend/branding/superset-logo-horiz.png
  superset-frontend/branding/superset-logo-horiz.svg
  superset-frontend/branding/superset-logo-stacked-apache.png
  superset-frontend/branding/superset-logo-stacked-apache.svg
  superset-frontend/branding/superset-logo-stacked.png
  superset-frontend/branding/superset-logo-stacked.svg
Labels: preset-io

#10077 chore(metricoption): remove metricoption and columntypelable dependency
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ColumnTypeLabel_spec.jsx
  superset-frontend/spec/javascripts/components/MetricOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionValue_spec.jsx
  superset-frontend/src/components/ColumnTypeLabel.jsx
  superset-frontend/src/components/MetricOption.jsx
  superset-frontend/src/explore/components/AdhocMetricStaticOption.jsx
  superset-frontend/src/explore/components/AggregateOption.jsx
  superset-frontend/src/explore/components/FilterDefinitionOption.jsx
  superset-frontend/src/explore/components/MetricDefinitionOption.jsx
  superset-frontend/src/explore/components/MetricDefinitionValue.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/L

#10101 chore: Upgrade pylint to 2.5.3 and fix most new rules
  .pylintrc
  requirements-dev.txt
  superset/app.py
  superset/charts/api.py
  superset/commands/base.py
  superset/common/query_object.py
  superset/config.py
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/dao/exceptions.py
  superset/dashboards/api.py
  superset/dashboards/dao.py
  superset/datasets/api.py
  superset/datasets/dao.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/sqlite.py
  superset/models/annotations.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/schedules.py
  superset/models/sql_types/presto_sql_types.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/tasks/cache.py
  superset/tasks/schedules.py
  superset/tasks/slack_util.py
  superset/utils/dashboard_filter_scopes_converter.py
  superset/utils/log.py
  superset/utils/screenshots.py
  superset/views/annotations.py
  superset/views/base.py
  superset/views/dashboard/views.py
  superset/views/database/decorators.py
  superset/views/utils.py
Labels: preset-io, size/L

#10056 style: push bootstrap theme towards SIP-34 styles
  setup.cfg
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.js
  superset-frontend/spec/javascripts/explore/components/QueryAndSaveBtns_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/SqlLab/components/SaveQuery.jsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/components/ListView/LegacyFilters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.css
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/stylesheets/less/cosmo/bootswatch.less
  superset-frontend/stylesheets/less/cosmo/variables.less
  superset-frontend/stylesheets/less/variables.less
  superset-frontend/stylesheets/superset.less
Labels: preset-io, size/L

#10073 chore: type FilterableTable
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/FilterableTable/FilterableTable_spec.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/L

#10092 fix: Visualization settings were lost when editing a datasource from Explore
  superset-frontend/spec/javascripts/explore/exploreActions_spec.js
  superset-frontend/src/explore/reducers/exploreReducer.js
Labels: preset-io, size/S

#10115 fix: dashboard should not add extra_filters onto chart annotation
  superset-frontend/src/chart/chartAction.js
Labels: size/XS

#10119 chore(mypy): Fixing can_access_database types
  superset/security/manager.py
Labels: size/XS

#10122 docs: add Nielsen to users list
  README.md
Labels: size/XS

#10123 style: replace broken glyphs with font-awesome
  superset-frontend/spec/javascripts/explore/components/AdhocFilterEditPopover_spec.jsx
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopover_spec.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopover.jsx
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/main.less
Labels: preset-io, size/M

#10111 perf(datasets): improve datasets API performance for attr kind
  superset/datasets/api.py
  tests/datasets/api_tests.py
Labels: preset-io, size/XS, v0.37

#9751 feat: Add multiple table filters for Row Level Security
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/migrations/versions/e557699a813e_add_tables_relation_to_row_level_.py
  superset/security/manager.py
  tests/security_tests.py
Labels: #enhancement, .security, security:access-control, size/L, v0.37

#10117 chore: Bump sqlalchemy-utils and cachelib and refresh requirements.txt
  requirements.txt
  setup.py
  superset/migrations/versions/b5998378c225_add_certificate_to_dbs.py
Labels: preset-io, size/S, v0.37

#10129 chore: fix add datasource help string
  superset-frontend/src/addSlice/AddSliceContainer.jsx
Labels: size/M

#10080 chore: [logging] add selected tab name into perf logging
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/middleware/loggerMiddleware.js
Labels: size/S

#10114 fix: dashboard filter scope bug
  superset-frontend/spec/javascripts/dashboard/util/getFilterScopeFromNodesTree_spec.js
  superset-frontend/src/dashboard/util/getFilterScopeFromNodesTree.js
Labels: size/L, v0.37

#10112 chore: bump superset-ui to v0.14.1
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ColumnTypeLabel_spec.jsx
  superset-frontend/spec/javascripts/components/FormRow_spec.jsx
  superset-frontend/spec/javascripts/explore/components/ControlPanelSection_spec.jsx
  superset-frontend/spec/javascripts/explore/components/FilterDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionValue_spec.jsx
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/components/ActionMenuItem.jsx
  superset-frontend/src/components/FormRow.jsx
  superset-frontend/src/components/PopoverSection.jsx
  superset-frontend/src/explore/components/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/AdhocMetricStaticOption.jsx
  superset-frontend/src/explore/components/AggregateOption.jsx
  superset-frontend/src/explore/components/ControlHeader.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/FilterDefinitionOption.jsx
  superset-frontend/src/explore/components/MetricDefinitionOption.jsx
  superset-frontend/src/explore/components/MetricDefinitionValue.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl.jsx
  superset-frontend/src/explore/components/controls/CollectionControl.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl.jsx
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
  superset/assets/src/SqlLab/components/ExploreCtasResultsButton.jsx
Labels: size/L, v0.37

#10138 docs: break down Superset 101 Getting Started content
  README.md
Labels: size/XS

#10104 feat: dataset add modal
  superset-frontend/images/icons/warning.svg
  superset-frontend/src/components/Icon.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/components/TableSelector.jsx
  superset-frontend/src/views/datasetList/Button.tsx
  superset-frontend/src/views/datasetList/DatasetModal.tsx
  superset-frontend/src/views/datasetList/Modal.tsx
Labels: preset-io, size/L

#10094 style: listviews closer to SIP-34
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/chartList/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/dashboardList/DashboardList_spec.jsx
  superset-frontend/spec/javascripts/welcome/DashboardTable_spec.jsx
  superset-frontend/src/components/AvatarIcon.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/ListViewStyles.less
  superset-frontend/src/components/ListView/Pagination.tsx
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/components/Pagination.tsx
  superset-frontend/src/types/react-table-config.d.ts
  superset-frontend/src/utils/common.js
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset-frontend/src/views/datasetList/DatasetList.tsx
  superset-frontend/stylesheets/less/variables.less
Labels: preset-io, size/XXL, v0.37

#10034 chore(security): Updating assert logic
  UPDATING.md
  superset/charts/api.py
  superset/common/query_context.py
  superset/connectors/base/models.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/views/api.py
  superset/views/core.py
  superset/views/utils.py
  superset/viz.py
  superset/viz_sip38.py
  tests/security_tests.py
Labels: size/L, v0.37

#10147 fix: fix CTAS explore flow
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
Labels: size/XS, v0.37

#10143 fix: FilterBox JS errors when no results
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/XS

#10148 fix: refine shouldUseLegacyApi and add tests
  superset-frontend/spec/javascripts/explore/utils_spec.jsx
  superset-frontend/src/explore/exploreUtils.js
Labels: preset-io, size/M, v0.37

#9794 feat: implement create view as functionality in Sqllab
  UPDATING.md
  requirements-dev.txt
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ResultSet.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset/migrations/versions/ea396d202291_ctas_method_in_query.py
  superset/models/core.py
  superset/models/sql_lab.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/views/core.py
  superset/views/database/api.py
  superset/views/database/mixins.py
  tests/base_tests.py
  tests/celery_tests.py
  tests/database_api_tests.py
  tests/sqllab_tests.py
Labels: design-review, size/L, v0.37

#10130 fix(security): dbs/clusters perm
  superset/connectors/druid/models.py
  superset/migrations/versions/a72cb0ebeb22_deprecate_dbs_perm_column.py
  superset/models/core.py
  superset/security/manager.py
  tests/security_tests.py
Labels: size/L

#10156 fix: fix alembic migrations order
  superset/migrations/versions/a72cb0ebeb22_deprecate_dbs_perm_column.py
Labels: size/XS

#10154 fix: Fixed Attribute Error when running core_tests.py
  tests/core_tests.py
Labels: size/XS

#10105 fix: Loading overlay bugfix and cleanup
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/components/Button.jsx
  superset-frontend/src/components/Loading.less
  superset-frontend/src/components/Loading.tsx
  superset-frontend/src/components/RefreshChartOverlay.tsx
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/stylesheets/superset.less
Labels: preset-io, size/L, v0.37

#10124 refactor: Re-enable lint for 3 files
  superset/connectors/druid/views.py
  superset/utils/dashboard_import_export.py
  superset/views/core.py
Labels: preset-io, size/L, v0.37

#10157 refactor: import emotion-theming methods from @superset-ui/style
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/chartList/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/dashboardList/DashboardList_spec.jsx
  superset-frontend/spec/javascripts/views/datasetList/DatasetList_spec.jsx
  superset-frontend/spec/javascripts/welcome/DashboardTable_spec.jsx
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/components/App.jsx
  superset-frontend/src/addSlice/App.tsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/dashboard/App.jsx
  superset-frontend/src/explore/App.jsx
  superset-frontend/src/profile/App.jsx
  superset-frontend/src/welcome/App.jsx
Labels: size/M

#10160 feat: Add new timegrains and convert_dttm to Druid engine spec
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/elasticsearch.py
  superset/db_engine_specs/hana.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/kylin.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/utils/core.py
  tests/db_engine_specs/druid_tests.py
Labels: preset-io, size/L

#10135 fix: implement legacy druid dashboard import
  superset/utils/dashboard_import_export.py
Labels: preset-io, size/S

#10106 refactor: Re-enable pylint on 5 files
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/result_set.py
  superset/security/manager.py
  superset/tasks/thumbnails.py
Labels: preset-io, size/L, v0.37

#10128 fix: [search query view] edit link is broken
  setup.cfg
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset/models/sql_lab.py
  superset/queries/api.py
  tests/queries/api_tests.py
Labels: preset-io, size/M

#10161 build: dont prefer ts for cypress tests
  .github/workflows/prefer_typescript.yml
Labels: size/M

#10171 fix: return slice owners for /user_slices ep
  superset/views/core.py
  tests/base_tests.py
  tests/core_tests.py
Labels: preset-io, size/M

#10120 refactor: Fix lint on superset/utils/core.py
  superset/migrations/versions/1226819ee0e3_fix_wrong_constraint_on_table_columns.py
  superset/migrations/versions/3b626e2a6783_sync_db_with_models.py
  superset/utils/core.py
  superset/utils/dict_import_export.py
  tests/access_tests.py
  tests/email_tests.py
Labels: preset-io, size/L

#9210 Add maximize and minimize feature to charts
  superset-frontend/src/dashboard/components/SliceHeader.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/stylesheets/components/chart.less
Labels: size/M, v0.37

#10164 feat: Added configuration to SQL Lab results "Explore" button
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset-frontend/src/SqlLab/components/ResultSet.jsx
  superset/models/core.py
  superset/views/database/api.py
  superset/views/database/mixins.py
  tests/core_tests.py
  tests/database_api_tests.py
Labels: size/M

#10121 style: bring new SIP-34 palettes in controls
  superset-frontend/src/setup/setupColors.js
Labels: preset-io, size/XS

#10155 chore: Updating UPDATING.md
  UPDATING.md
Labels: size/XS

#10175 refactor: Break some static methods out of superset.views.core.Superset
  superset/charts/dao.py
  superset/dashboards/dao.py
  superset/views/core.py
  tests/dashboard_tests.py
  tests/dashboards/dao_tests.py
Labels: preset-io, size/L

#10179 fix: row count container alignment
  superset-frontend/src/components/ListView/ListViewStyles.less
Labels: size/XS

#10180 refactor: better naming for config flag
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/views/dashboardList/DashboardList.tsx
  superset/config.py
Labels: preset-io, size/M

#10113 feat(viz): add query mode switch to table chart
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/helpers/shim.js
  superset-frontend/spec/javascripts/components/AsyncSelect_spec.jsx
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/components/TableSelector_spec.jsx
  superset-frontend/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricsControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/spec/javascripts/explore/exploreActions_spec.js
  superset-frontend/spec/javascripts/messageToasts/components/Toast_spec.jsx
  superset-frontend/spec/javascripts/profile/EditableTitle_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset-frontend/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset-frontend/spec/javascripts/welcome/DashboardTable_spec.jsx
  superset-frontend/src/chart/ChartRenderer.jsx
  superset-frontend/src/components/ListView/TableCollection.tsx
  superset-frontend/src/explore/components/Control.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/controlPanels/sections.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/types/react-table-config.d.ts
  superset-frontend/src/views/chartList/ChartList.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset-frontend/src/welcome/DashboardTable.jsx
  superset-frontend/webpack.config.js
  superset/utils/core.py
  superset/viz.py
  tests/viz_tests.py
Labels: size/XL

#10172 fix: make auth for hive optional
  superset/db_engine_specs/hive.py
Labels: size/XS

#10187 fix: make time grain nullable in chart data endpoint
  superset/charts/schemas.py
  tests/charts/schema_tests.py
Labels: preset-io, size/S

#10188 fix: update to last pyathena >= 1.10.8, to fix athena CSV upload
  setup.py
Labels: size/XS

#10170 build: enable typescript for cypress
  .github/workflows/prefer_typescript.yml
  superset-frontend/cypress-base/.eslintrc
  superset-frontend/cypress-base/cypress.json
  superset-frontend/cypress-base/cypress/.eslintrc
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/cypress-base/cypress/integration/explore/link.test.js
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.js
  superset-frontend/cypress-base/cypress/plugins/index.js
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/cypress/support/index.js
  superset-frontend/cypress-base/cypress/support/index.ts
  superset-frontend/cypress-base/cypress/utils/readResponseBlob.ts
  superset-frontend/cypress-base/tsconfig.json
Labels: size/L

#10174 feat: Add Explore Database to CTAS/CVAS visualization flow
  superset-frontend/src/SqlLab/components/ResultSet.jsx
  superset/models/core.py
  superset/views/database/api.py
  superset/views/database/views.py
  tests/core_tests.py
  tests/database_api_tests.py
Labels: size/S

#10195 chore: s/assertEqual/assertEquals
  tests/config_tests.py
  tests/core_tests.py
  tests/datasource_tests.py
  tests/jinja_context_tests.py
  tests/model_tests.py
  tests/query_context_tests.py
  tests/security_tests.py
  tests/utils_tests.py
Labels: size/L

#10191 feat: add configuration for Presto cursor poll interval
  superset/db_engine_specs/presto.py
  superset/models/core.py
Labels: size/S

#10205 fix: datatable dependencies for pivot-table in dev
  superset-frontend/webpack.config.js
Labels: size/XS
