Repository apache/superset, pull requests merged in 2020-09, with the labels that each got.

#10747 Fix: Rejiggering some dependencies, trying to get CI to pass
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/S

#10678 chore: log cache keys to the logs
  superset/common/query_context.py
  superset/migrations/versions/175ea3592453_cache_lookup.py
  superset/models/cache.py
  superset/utils/log.py
  superset/viz.py
  superset/viz_sip38.py
  tests/core_tests.py
  tests/query_context_tests.py
Labels: size/L

#10605 feat: refractored SQL-based alerting framework
  superset/app.py
  superset/migrations/versions/2e5a0ee25ed4_refractor_alerting.py
  superset/models/alerts.py
  superset/tasks/alerts/__init__.py
  superset/tasks/alerts/observer.py
  superset/tasks/alerts/validator.py
  superset/tasks/schedules.py
  superset/templates/email/alert.txt
  superset/templates/slack/alert.txt
  superset/templates/slack/alert_no_screenshot.txt
  superset/views/alerts.py
  tests/alerts_tests.py
Labels: size/XXL

#10511 docs: Updated Docker local install instructions
  docs/installation.rst
Labels: size/M

#10750 chore: moving all @types dependencies to dev dependencies
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/S

#10738 Fix local docker deployment
  Dockerfile-dev
Labels: size/XS

#10758 fix: merge two migrations that upgraded from the same revision
  superset/migrations/versions/ae19b4ee3692_.py
Labels: size/M

#10744 chore: add logging for "dashboard" action
  superset/views/core.py
Labels: size/XS

#10752 feat(viz): add ECharts Timeseries chart
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/setup/setupColors.js
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: preset-io

#10748 docs: Update OAuth configuration in installation.rst
  docs/installation.rst
Labels: size/S

#10741 feat(database): POST, PUT, DELETE API endpoints
  superset/databases/api.py
  superset/databases/commands/__init__.py
  superset/databases/commands/create.py
  superset/databases/commands/delete.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/update.py
  superset/databases/dao.py
  superset/databases/filters.py
  superset/databases/schemas.py
  superset/databases/utils.py
  superset/datasets/api.py
  superset/views/base_api.py
  superset/views/core.py
  superset/views/database/mixins.py
  superset/views/database/validators.py
  tests/database_api_tests.py
  tests/databases/__init__.py
  tests/databases/api_tests.py
Labels: preset-io

#10759 Fix precommit hook for docs/installation.rst
  docs/installation.rst
Labels: preset-io, size/S

#10751 chore: removing fsevents dependency
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/XS

#10746 refactor: convert DatasetList schema filter to use new distinct api
  superset-frontend/spec/javascripts/views/CRUD/data/dataset/DatasetList_spec.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset/views/base_api.py
  tests/datasets/api_tests.py
Labels: preset-io, size/L

#10705 feat: SIP-34 table list view for databases
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/src/components/ConfirmStatusChange.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
  superset/databases/api.py
  tests/databases/api_tests.py
  tests/sqllab_tests.py
Labels: preset-io, size/L

#10766 fix: re-installing local superset in cache image
  Dockerfile-dev
  docker-compose.yml
Labels: preset-io, size/S

#10692 fix: dashboard extra filters
  superset/examples/world_bank.py
  superset/views/utils.py
  tests/strategy_tests.py
  tests/utils_tests.py
Labels: size/L

#10722 More Label touchups (margins)
  superset-frontend/src/SqlLab/components/LimitControl.tsx
  superset-frontend/src/components/CachedLabel.jsx
  superset-frontend/src/components/Label/Label.stories.tsx
  superset-frontend/src/components/Label/index.tsx
  superset-frontend/src/components/TableSelector.jsx
  superset-frontend/src/components/Timer.tsx
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
  superset-frontend/src/explore/components/RowCountLabel.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl.jsx
Labels: preset-io, size/M

#10762 fix: add validator information to email/slack alerts
  superset/models/alerts.py
  superset/tasks/schedules.py
  superset/templates/email/alert.txt
  superset/templates/slack/alert.txt
  superset/templates/slack/alert_no_screenshot.txt
  tests/alerts_tests.py
Labels: size/M

#10774 fix: pivot table timestamp grouping
  superset/viz.py
  tests/viz_tests.py
Labels: preset-io, size/M

#10778 fix: can not type `0.05` in `TextControl` if isFloat
  superset-frontend/src/explore/components/controls/TextControl.tsx
Labels: size/XS

#10787 fix: disable domain sharding on explore view
  superset-frontend/src/chart/chartAction.js
Labels: size/S

#10777 feat: CRUD REST API for saved queries
  superset/app.py
  superset/queries/savedqueries/__init__.py
  superset/queries/savedqueries/api.py
  tests/queries/saved_queries/__init__.py
  tests/queries/saved_queries/api_tests.py
Labels: preset-io, size/L

#10794 security: disallow uuid package on jinja2
  UPDATING.md
  docs/sqllab.rst
  superset/extensions.py
Labels: preset-io, size/S

#10789 feat: add creator column to alert/list
  superset/views/alerts.py
Labels: size/XS

#10781 fix: MVC show saved query
  superset/templates/superset/models/savedquery/show.html
  superset/views/sql_lab.py
Labels: preset-io, size/M

#10772 feat: filters for database list view
  superset-frontend/spec/javascripts/components/ListView/ListView_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/components/SearchInput.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
Labels: preset-io, size/L

#10805 Fix: Include RLS filters for cache keys
  superset/connectors/sqla/models.py
Labels: size/XS, v0.37, v0.37.2

#10796 docs: Add a note to contributing.md on reporting security vulnerabilities
  CONTRIBUTING.md
Labels: preset-io, size/XS

#10810 test: add rls jinja extra cache key test
  tests/security_tests.py
Labels: preset-io, size/S

#10814 fix: ColorSchemeControl should not use CreatableSelect
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/spec/javascripts/explore/components/ColorScheme_spec.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
Labels: size/M

#10800 feat: database delete warning
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseList_spec.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset/databases/api.py
  superset/databases/dao.py
  superset/databases/schemas.py
  tests/databases/api_tests.py
Labels: preset-io, size/L

#10803 chore: deprecate python 3.6 support
  .github/workflows/superset-python.yml
  Dockerfile
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  RELEASING/Dockerfile.make_docs
  RELEASING/Dockerfile.make_tarball
  docs/installation.rst
  requirements/base.txt
  requirements/integration.txt
  requirements/testing.txt
  setup.py
Labels: preset-io, size/M

#10795 fix: Database API missing allow none on fields
  superset/databases/schemas.py
Labels: preset-io, size/M

#10813 fix: bump node version on Dockerfile to be on par with docker-compose
  Dockerfile
Labels: .docker, size/XS

#10723 feat(databases): test connection api
  superset/app.py
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/test_connection.py
  superset/databases/dao.py
  superset/databases/schemas.py
  superset/tasks/schedules.py
  superset/views/base_api.py
  superset/views/core.py
  tests/databases/api_tests.py
Labels: preset-io, size/L

#10822 Revert "chore: add logging for "dashboard" action"
  superset/views/core.py
Labels: size/XS

#10818 fix(tests): export dataset tests fails with presto
  tests/datasets/api_tests.py
Labels: preset-io, size/XS

#10816 fix(sql-lab): relax column name restrictions
  superset-frontend/spec/javascripts/sqllab/ExploreResultsButton_spec.jsx
  superset-frontend/spec/javascripts/sqllab/fixtures.ts
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
Labels: preset-io, size/M

#10819 fix: use nullpool in the celery workers
  superset/cli.py
  superset/sql_lab.py
  superset/tasks/alerts/observer.py
  superset/tasks/schedules.py
  superset/utils/celery.py
  tests/alerts_tests.py
  tests/schedules_test.py
Labels: size/L

#10824 fix(databases): test connection api endpoint
  superset/databases/commands/test_connection.py
  superset/databases/schemas.py
  tests/databases/api_tests.py
Labels: preset-io, size/S

#10831 build: optimize webpack code split
  superset-frontend/webpack.config.js
Labels: size/M

#10823 fix: Making the database/cluster read-only
  superset-frontend/src/components/TableSelector.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset/connectors/base/views.py
  superset/connectors/druid/views.py
  superset/connectors/sqla/views.py
Labels: size/M

#10793 feat: SavedQuery REST API for bulk delete and new API fields
  superset/app.py
  superset/models/sql_lab.py
  superset/queries/saved_queries/__init__.py
  superset/queries/saved_queries/api.py
  superset/queries/saved_queries/commands/__init__.py
  superset/queries/saved_queries/commands/bulk_delete.py
  superset/queries/saved_queries/commands/exceptions.py
  superset/queries/saved_queries/dao.py
  superset/queries/saved_queries/filters.py
  superset/queries/saved_queries/schemas.py
  superset/queries/savedqueries/api.py
  tests/queries/saved_queries/api_tests.py
Labels: preset-io, size/L

#10841 update all python version in the Dockerfile to 3.7
  Dockerfile
  docs/installation.rst
Labels: size/XS

#10842 fix(test): missing auth on tests
  tests/base_api_tests.py
  tests/core_tests.py
Labels: preset-io, size/M

#10745 feat: add/edit database modal form sections UI
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseModal_spec.jsx
  superset-frontend/src/common/components/Modal.tsx
  superset-frontend/src/common/components/Tabs.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
Labels: preset-io, size/XL

#10851 style: white toolbar for SQL Lab
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/SqlLab/main.less
Labels: preset-io, size/XS

#10846 fix: test_connection POST request body
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: preset-io, size/XS

#10850 feat: server side dashboard css for less repaint
  superset/templates/superset/dashboard.html
  superset/views/core.py
Labels: size/S

#10859 Improvement contributing.md
  CONTRIBUTING.md
Labels: size/S

#10855 Adding editorconfig setting for IDE hints
  .editorconfig
Labels: size/M

#10874 ESLint: enable no-confusing-arrow rule
  superset-frontend/.eslintrc.js
Labels: size/XS

#10867 ESLint: Re-enable rule prefer-destructuring (only for objects)
  superset-frontend/.eslintrc.js
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.js
  superset-frontend/spec/helpers/shim.ts
  superset-frontend/spec/javascripts/CRUD/CollectionTable_spec.jsx
  superset-frontend/spec/javascripts/dashboard/actions/dashboardState_spec.js
  superset-frontend/spec/javascripts/dashboard/reducers/dashboardFilters_spec.js
  superset-frontend/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset-frontend/spec/javascripts/explore/utils_spec.jsx
  superset-frontend/spec/javascripts/middleware/logger_spec.js
  superset-frontend/spec/javascripts/sqllab/QuerySearch_spec.jsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper.tsx
  superset-frontend/src/SqlLab/components/ColumnElement.tsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/LimitControl.tsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/SouthPane.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/components/AlteredSliceTag.jsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/Select/WindowedSelect/WindowedMenuList.tsx
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/dashboard/components/CodeModal.jsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/filterscope/FilterScopeSelector.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/containers/FilterIndicators.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/getInitialState.js
  superset-frontend/src/dashboard/util/getFilterScopeNodesTree.js
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/AdhocFilter.js
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
  superset-frontend/src/explore/components/controls/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/components/controls/TextControl.tsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/exploreUtils.js
  superset-frontend/src/explore/reducers/getInitialState.js
  superset-frontend/src/middleware/loggerMiddleware.js
  superset-frontend/src/reduxUtils.ts
  superset-frontend/src/showSavedQuery/index.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: size/L

#10871 ESLint: Re-enable rule no-unused-state
  superset-frontend/.eslintrc.js
  superset-frontend/src/SqlLab/components/QuerySearch.jsx
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/SaveQuery.jsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/dashboard/components/CssEditor.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: size/M

#10860 ESLint: Re-enable no-useless-path-segments rule
  superset-frontend/.eslintrc.js
  superset-frontend/src/components/Icon/icon.stories.jsx
  superset-frontend/src/components/ListViewCard/ListViewCard.stories.tsx
  superset-frontend/src/components/TableLoader.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/reducers/index.js
  superset-frontend/src/dashboard/util/activeDashboardFilters.js
  superset-frontend/src/dashboard/util/getFilterScopeNodesTree.js
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/CollectionControl.jsx
  superset-frontend/src/explore/controlPanels/Shared_DeckGL.jsx
Labels: size/M

#10863 ESLint: Re-enable rule no-restricted-globals
  superset-frontend/.eslintrc.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper.tsx
  superset-frontend/src/components/SearchInput.tsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/util/getComponentWidthFromDrop.js
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
  superset-frontend/src/explore/exploreUtils.js
  superset-frontend/src/modules/utils.js
  superset-frontend/src/setup/setupApp.ts
  superset-frontend/src/utils/hostNamesConfig.js
Labels: size/M

#10864 ESLint: Re-enable rule no-non-null-assertion
  superset-frontend/.eslintrc.js
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/XS

#10869 ESLint: Re-enable rule jsx-curly-brace-presence
  superset-frontend/.eslintrc.js
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/ControlHeader.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: size/M

#10872 ESLint: Re-enable rule sort-comp
  superset-frontend/.eslintrc.js
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
Labels: size/M

#10853 docs(style): make more responsive for mobile
  docs/.eslintrc.js
  docs/README.md
  docs/src/components/AnchorNavigator.tsx
  docs/src/components/DoczMenu.tsx
  docs/src/components/MainMenu.tsx
  docs/src/components/footer.tsx
  docs/src/components/image.tsx
  docs/src/components/layout.scss
  docs/src/components/layout.tsx
  docs/src/gatsby-theme-docz/index.tsx
  docs/src/pages/community.tsx
  docs/src/pages/index.tsx
  docs/src/pages/resources.tsx
  docs/src/resources/data.js
  docs/src/utils.js
Labels: preset-io

#10876 ESLint: Enable rule no-plusplus
  superset-frontend/.eslintrc.js
  superset-frontend/src/SqlLab/components/QuerySearch.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/modules/utils.js
  superset-frontend/src/reduxUtils.ts
  superset-frontend/src/utils/common.js
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/S

#10861 ESLint: Re-enable rule no-else-return
  superset-frontend/.eslintrc.js
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton.jsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/chart/chartReducer.js
  superset-frontend/src/components/AlteredSliceTag.jsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/components/ModalTrigger.jsx
  superset-frontend/src/dashboard/components/FilterIndicatorsContainer.jsx
  superset-frontend/src/dashboard/components/PublishedStatus.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/reducers/dashboardFilters.js
  superset-frontend/src/dashboard/util/getComponentWidthFromDrop.js
  superset-frontend/src/dashboard/util/logging/findNonTabChildChartIds.js
  superset-frontend/src/explore/AdhocFilter.js
  superset-frontend/src/explore/AdhocMetric.js
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSimpleTabContent.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/FilterDefinitionOption.jsx
  superset-frontend/src/explore/components/MetricDefinitionOption.jsx
  superset-frontend/src/explore/components/controls/MetricsControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/utils/common.js
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/L

#10866 ESLint: Re-enable rule control-has-associated-label
  superset-frontend/.eslintrc.js
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/components/Checkbox.tsx
  superset-frontend/src/components/RefreshLabel.jsx
  superset-frontend/src/dashboard/components/FilterIndicatorTooltip.jsx
  superset-frontend/src/explore/components/AdhocFilterEditPopover.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
Labels: size/S

#10873 ESLint: Re-enable rule state-in-constructor
  superset-frontend/.eslintrc.js
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
Labels: size/S

#10862 ESLint: Re-enable rule line-between-class-members
  superset-frontend/.eslintrc.js
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/CRUD/Fieldset.jsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper.tsx
  superset-frontend/src/SqlLab/components/App.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/HighlightedSql.jsx
  superset-frontend/src/SqlLab/components/QueryAutoRefresh.jsx
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/SaveQuery.jsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.jsx
  superset-frontend/src/SqlLab/components/SouthPane.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset-frontend/src/components/FlashProvider.tsx
  superset-frontend/src/components/Hotkeys.jsx
  superset-frontend/src/components/ModalTrigger.jsx
  superset-frontend/src/components/Pagination.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane.jsx
  superset-frontend/src/dashboard/components/ColorSchemeControlWrapper.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/Control.jsx
  superset-frontend/src/explore/components/ControlHeader.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/CheckboxControl.jsx
  superset-frontend/src/explore/components/controls/CollectionControl.jsx
  superset-frontend/src/explore/components/controls/ColorPickerControl.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/explore/components/controls/TextControl.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.jsx
  superset-frontend/src/profile/components/CreatedContent.tsx
  superset-frontend/src/profile/components/Favorites.tsx
  superset-frontend/src/utils/DebouncedMessageQueue.js
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/L

#10865 ESLint: Re-enable rule no-unused-vars
  superset-frontend/.eslintrc.js
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
Labels: size/M

#10883 chore: clean up aphrodite
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#10844 Feat: Adding table comment and columns comment for SQLLab
  superset/databases/utils.py
  superset/db_engine_specs/base.py
  superset/models/core.py
  tests/databases/api_tests.py
Labels: size/M

#10877 Reviewed and repaired disabled pylint in dashboard file
  superset/models/dashboard.py
Labels: size/M

#10884 fix(cypress): wait for filterValues request
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
Labels: preset-io, size/XS

#10888 docs: fix ubuntu 20.04 installation instructions
  docs/installation.rst
  docs/src/pages/docs/installation/installing_scratch.mdx
Labels: preset-io, size/XS

#10761 feat: implement cache invalidation api
  superset/app.py
  superset/cachekeys/__init__.py
  superset/cachekeys/api.py
  superset/cachekeys/schemas.py
  superset/charts/schemas.py
  tests/base_tests.py
  tests/cachekeys/__init__.py
  tests/cachekeys/api_tests.py
  tests/datasets/api_tests.py
  tests/superset_test_config.py
Labels: size/L

#10887 chore: Using cache factory method
  UPDATING.md
  docs/src/pages/docs/installation/caching.mdx
  superset/__init__.py
  superset/utils/cache_manager.py
  tests/superset_test_config_thumbnails.py
  tests/utils_tests.py
Labels: size/L

#10885 fixing broken links. Fixes #10878
  README.md
Labels: preset-io, size/XS

#10837 feat: move ace-editor and mathjs to async modules
  superset-frontend/cypress-base/cypress/integration/dashboard/dashboard.helper.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_mode.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Markdown_spec.jsx
  superset-frontend/spec/javascripts/explore/components/TextArea_spec.jsx
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper.tsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/components/AsyncAceEditor.tsx
  superset-frontend/src/components/AsyncEsmComponent.tsx
  superset-frontend/src/dashboard/components/CssEditor.jsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/AdhocFilterEditPopoverSqlTabContent.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/types/brace.d.ts
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
  superset-frontend/webpack.config.js
Labels: size/XXL

#10892 fix(cypress): prevent CI failure on codecov failure
  .github/workflows/bashlib.sh
Labels: preset-io, size/XS

#10880 feat: data menu routing
  superset-frontend/spec/javascripts/components/SubMenu_spec.jsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/data/common.ts
Labels: preset-io, size/L

#10895 chore: add eslint-import-resolver-typescript
  superset-frontend/.eslintrc.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/featureFlags.ts
Labels: size/XS

#10899 docs: Correcting 2 steps in docs deployment readme
  docs/README.md
Labels: preset-io, size/XS

#10893 docs: add changelog entries for 0.37.1
  CHANGELOG.md
  UPDATING.md
Labels: preset-io, size/XS

#10900 docs: redirect http -> https
  .rat-excludes
  docs/.htaccess
  docs/README.md
  docs/package.json
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
Labels: preset-io, size/M

#10901 build: optimize eslintrc for webpack configs
  superset-frontend/.eslintrc.js
Labels: size/S

#10903 docs: add back issue code links
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/components/ErrorMessage/IssueCode.tsx
Labels: preset-io, size/M

#10912 fix: spelling in docs homepage
  docs/src/pages/index.tsx
Labels: size/XS

#10886 Fixing docs site home screen mobile layout issues
  README.md
  docs/src/components/layout.tsx
  docs/src/pages/index.tsx
Labels: preset-io, size/M

#10882 simplifying/clarifying youtube video code/datastructures
  docs/src/pages/resources.tsx
Labels: preset-io, size/M

#10891 fix: superset alerting misc fixes
  superset/models/alerts.py
  superset/tasks/alerts/validator.py
  superset/tasks/schedules.py
  superset/views/alerts.py
  tests/alerts_tests.py
Labels: size/L

#10897 fix: front end CI tests and test runner
  .github/workflows/superset-frontend.yml
  superset-frontend/src/dashboard/util/getComponentWidthFromDrop.js
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl.jsx
Labels: preset-io, size/M

#10799 feat: use svg for checkbox component
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/Checkbox_spec.jsx
  superset-frontend/src/components/Button/Button.stories.jsx
  superset-frontend/src/components/Button/Button.test.tsx
  superset-frontend/src/components/Checkbox/Checkbox.stories.jsx
  superset-frontend/src/components/Checkbox/Checkbox.test.tsx
  superset-frontend/src/components/Checkbox/index.tsx
Labels: size/L

#10847 update port that cypress runs on for local vs test
  .github/workflows/bashlib.sh
  CONTRIBUTING.md
  superset-frontend/cypress-base/cypress.json
  superset-frontend/cypress_build.sh
Labels: preset-io, size/S

#10898 docs: Client side redirects (one POC)
  docs/gatsby-config.js
  docs/gatsby-node.js
  docs/package-lock.json
  docs/package.json
Labels: preset-io, size/S

#10908 ESLint: Enable anchor-has-content rule
  superset-frontend/.eslintrc.js
  superset-frontend/spec/javascripts/explore/components/ControlRow_spec.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
Labels: polidea, size/S

#10848 Update FOSSA configuration for new requirements layout
  .fossa.yml
  .github/workflows/license-check.yml
  scripts/fossa.sh
Labels: preset-io, size/S

#10902 fix: babel script broken by format string
  superset/databases/api.py
Labels: size/XS

#10918 fix: correct lint errors
  superset-frontend/src/components/Checkbox/Checkbox.stories.jsx
  superset-frontend/src/components/Checkbox/Checkbox.test.tsx
Labels: preset-io, size/XS

#10840 Adding Dashboard toggle fullscreen button
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/spec/javascripts/dashboard/util/getDashboardUrl_spec.js
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/util/getDashboardUrl.js
Labels: size/M

#10911 fix: url parameter was covering class parameter
  superset/models/core.py
Labels: polidea, size/S

#10931 fix(legacy-druid): undefined filter key
  superset/connectors/druid/models.py
Labels: preset-io, size/XS

#10915 fix: removed disabled globally rule: old-ne-operator
  .pylintrc
Labels: polidea, size/XS

#10932 fix: address all disabled pylint checks in charts/api.py
  superset/charts/api.py
Labels: polidea, size/M

#10926 chore: remove SIP_34_DATABASE_UI feature flag
  superset/config.py
  superset/views/database/views.py
Labels: preset-io, size/XS

#10923 chore: upgrade cypress to use retries
  superset-frontend/cypress-base/cypress.json
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Labels: preset-io, size/S

#10906 fix: updated `type: ignore` of helper in models
  superset/models/helpers.py
Labels: polidea, size/S

#10941 fix: update pylint disabled checks in common/query_context.py
  superset/common/query_context.py
Labels: polidea, size/S

#10934 fix(jinja): make context attrs private on SQL templates
  superset/jinja_context.py
  tests/superset_test_custom_template_processors.py
Labels: preset-io, size/M

#10909 fix: several disabled pylint rules in models/helpers.py
  superset/models/helpers.py
Labels: polidea, size/M

#10889 ESLint: no-restricted-syntax
  superset-frontend/.eslintrc.js
  superset-frontend/spec/javascripts/explore/controlUtils_spec.jsx
  superset-frontend/spec/javascripts/explore/fixtures.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/components/AlteredSliceTag.jsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/explore/controlUtils.js
  superset-frontend/src/utils/common.js
  superset-frontend/webpack.config.js
Labels: polidea, size/L

#10959 fix: typo in prefer typescript
  .github/workflows/prefer-typescript.yml
Labels: size/XS

#10949 Ignore '/docs' on some GH actions, give docs its own action
  .github/workflows/superset-docs.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python.yml
  .github/workflows/test-hive.yml
  .github/workflows/test-presto.yml
  docs/src/pages/404.jsx
Labels: preset-io, size/M

#10921 docs: set up client-side redirects from previous era docs urls
  docs/README.md
  docs/gatsby-node.js
  docs/src/pages/docs/contributing-page.mdx
  docs/src/pages/index.tsx
Labels: preset-io, size/XL

#10961 ESLint: Remove ts-ignore
  superset-frontend/src/components/Select/SupersetStyledSelect.tsx
  superset-frontend/src/components/Select/WindowedSelect/WindowedMenuList.tsx
  superset-frontend/src/components/Select/WindowedSelect/windowed.tsx
Labels: polidea, size/M

#10879 ESLint: Enable rule no-named-as-default
  superset-frontend/.eslintrc.js
  superset-frontend/spec/javascripts/explore/components/ExploreViewContainer_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/App.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/SaveModal.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/store.js
  superset-frontend/src/modules/AnnotationTypes.js
  superset-frontend/src/utils/getControlsForVizType.js
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: polidea, size/M

#10964 fix: simply is_adhoc_metric
  superset/utils/core.py
Labels: preset-io, size/S, v0.37, v0.37.2

#10870 ESLint: Re-enable rule no-access-state-in-setstate
  superset-frontend/.eslintrc.js
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/SqlLab/components/LimitControl.tsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/SaveQuery.jsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.jsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/components/OmniContainer.jsx
  superset-frontend/src/dashboard/components/SaveModal.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/AdhocMetricEditPopover.jsx
  superset-frontend/src/explore/components/ControlPanelSection.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: polidea, size/L

#10958 fix: removed disabled lint rule `too-many-locals` in connectors/base/models.py
  superset/connectors/base/models.py
Labels: polidea, size/XS

#10976 fix: pylint disabled rules in dashboard/api.py
  superset/dashboards/api.py
Labels: polidea, size/S

#10975 fix: remove disabled rule `pointless-string-statement` in dao files
  superset/dao/base.py
Labels: polidea, size/XS

#10942 fix: setting specific exceptions common/query_context.py
  superset/common/query_context.py
Labels: polidea, size/XS

#10957 fix: re-enabling several globally disabled lint rules
  .pylintrc
Labels: polidea, size/XS

#10939 fix: allow empty observations in alerting
  superset/tasks/alerts/observer.py
  tests/alerts_tests.py
Labels: size/S

#10938 fix: use nullpool even for user lookup in the celery
  superset/tasks/schedules.py
  tests/schedules_test.py
Labels: size/M

#10829 fix: update the time filter for 'Last Year' option in explore
  superset-frontend/spec/javascripts/explore/components/DateFilterControl_spec.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl.jsx
Labels: preset-io, size/L

#10979 fix: changed disabled rules in datasets module
  superset/datasets/api.py
Labels: polidea, size/S

#10970 style: fix checkbox color
  superset-frontend/spec/javascripts/explore/components/CheckboxControl_spec.jsx
  superset-frontend/src/components/Checkbox/index.tsx
  superset-frontend/src/components/CheckboxIcons.tsx
Labels: preset-io, size/S

#10933 ESLint: Remove ts-ignore comments
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/components/HighlightedSql.jsx
  superset-frontend/src/SqlLab/components/LimitControl.tsx
  superset-frontend/src/SqlLab/components/ShowSQL.tsx
  superset-frontend/src/components/DeleteModal.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset-frontend/src/components/Link.tsx
  superset-frontend/src/components/ListView/Filters.tsx
  superset-frontend/src/components/Select/SupersetStyledSelect.tsx
  superset-frontend/src/components/Select/WindowedSelect/WindowedMenuList.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/DisplayQueryButton.jsx
  superset-frontend/src/explore/components/PropertiesModal.tsx
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/setup/setupApp.ts
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: polidea, size/L

#10944 chore: selectors refactor in SQLLab test suite (Cypress)
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.js
  superset-frontend/src/SqlLab/components/TabbedSqlEditors.jsx
Labels: polidea, size/M

#10989 adding ts-ignores back that caused build issues
  superset-frontend/src/components/ListView/Filters.tsx
Labels: preset-io, size/XS

#10990 build: add PR lint action
  .github/prlint.json
  .github/workflows/pr-lint.yml
Labels: preset-io, size/M

#10988 docs: add gallery screenshot & link in README
  .pre-commit-config.yaml
  README.md
  docs/src/pages/404.jsx
  superset-frontend/images/screenshots/gallery.png
Labels: preset-io

#10946 feat(row-level-security): add base filter type and filter grouping
  superset/app.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/migrations/versions/e5ef6828ac4e_add_rls_filter_type_and_grouping_key.py
  superset/security/manager.py
  superset/templates/superset/models/rls/list.html
  superset/utils/core.py
  tests/security_tests.py
Labels: preset-io, size/L

#10753 fix(presto): default unknown types to string type
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  tests/db_engine_specs/presto_tests.py
Labels: preset-io, size/S

#10991 Enable subqueries in gsheets engine
  superset/db_engine_specs/gsheets.py
Labels: size/XS

#10966 feat: add ECharts Pie chart
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pie.test.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/viz.py
  tests/viz_tests.py
Labels: preset-io, size/L

#10868 ESLint: Re-enable rule default-props-match-prop-types
  superset-frontend/.eslintrc.js
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor.jsx
  superset-frontend/src/components/Hotkeys.jsx
  superset-frontend/src/components/Select/OnPasteSelect.jsx
  superset-frontend/src/dashboard/components/ColorSchemeControlWrapper.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceHeader.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/menu/WithPopoverMenu.jsx
  superset-frontend/src/dashboard/containers/DashboardBuilder.jsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.jsx
Labels: polidea, size/M

#10981 Replace reactable with DataTable from superset-ui in QueryTable
  superset-frontend/spec/javascripts/sqllab/QueryTable_spec.jsx
  superset-frontend/spec/javascripts/sqllab/fixtures.ts
  superset-frontend/src/SqlLab/components/QueryTable.jsx
Labels: polidea, size/M

#10998 fix: enable pylint rules in db_engine_specs module
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/hana.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/kylin.py
Labels: chore:linting, polidea, size/M

#11003 fix: unbreak ci
  .github/workflows/prefer-typescript.yml
Labels: size/XS

#11006 build: enable react-hooks linting
  superset-frontend/.eslintrc.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/Select/WindowedSelect/WindowedMenuList.tsx
Labels: size/S

#10986 feat(listview): feature flag config to set default viewing mode
  superset-frontend/spec/javascripts/views/CRUD/chart/ChartList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/dashboard/DashboardList_spec.jsx
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset/config.py
Labels: preset-io, size/S

#11007 fix: Bring back import menu
  superset-frontend/src/components/Menu/Menu.tsx
Labels: size/S

#10983 fix: Add Item Overflow on Dataset Editor
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/stylesheets/superset.less
Labels: preset-io, size/M

#10994 chore: downgrade expected exception from error to info
  superset/datasets/dao.py
Labels: preset-io, size/XS

#11017 fix: query search low privileged user search access denied
  superset/views/core.py
Labels: preset-io, size/S

#11009 fix: menu shows a 0 when there are no settings
  superset-frontend/src/components/Menu/Menu.tsx
Labels: preset-io, size/XS

#10978 fix: changes a pylint check in dashboard module
  superset/dashboards/dao.py
Labels: polidea, size/XS

#11016 fix: enabled pylint rules in `db_engines` module
  superset/db_engines/hive.py
Labels: chore:linting, polidea, size/S

#11014 fix: reenable pylint rule `unused-import` in charts and connectors modules
  superset/charts/dao.py
  superset/connectors/connector_registry.py
Labels: chore:linting, polidea, size/XS

#10974 fix: pylint checks in connectors/sqla/models.py
  superset/connectors/sqla/models.py
Labels: chore:linting, polidea, size/XS

#11000 fix: enable several pylint rules partially in db_engines_specs module
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
Labels: chore:linting, polidea, size/M
