Repository apache/superset, pull requests merged in 2021-07, with the labels that each got.

#15454 feat(dashboard-groupby): group by - add ability to exclude columns
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/GroupBy/controlPanel.ts
  superset-frontend/src/filters/components/Range/controlPanel.ts
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Time/controlPanel.ts
Labels: size/L, viz:dashboard:groupby

#15365 chore(native-filters): remove instant filtering option
  superset-frontend/spec/fixtures/mockNativeFilters.ts
  superset-frontend/spec/javascripts/dashboard/fixtures/mockNativeFilters.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
Labels: preset-io, size/M, v1.3

#15493 fix: skip set and log when use NullCache
  superset/utils/cache.py
Labels: size/XS

#15273 feat: update ingress api version to v1
  helm/superset/Chart.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/values.yaml
Labels: size/S

#14102 docs: improve docs on running tests locally
  CONTRIBUTING.md
Labels: doc:user, size/S

#15498 fix(native-filters): chartsInScope were not recalculated in some cases
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
Labels: size/S

#15419 feat(native-filters): add null option to value filter
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/buildQuery.ts
Labels: size/M, v1.3

#15487 fix: GSheets supports JOINs
  superset/db_engine_specs/gsheets.py
Labels: ready-for-review, ready-to-merge, size/XS

#15398 refactor: icon to icons for infotooltip component
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
Labels: preset-io, size/XL

#15504 fix: error mapping in database connection
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#15492 fix(sqllab): add new tab when add sql query
  superset-frontend/src/views/CRUD/welcome/EmptyState.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
Labels: size/XS

#15408 refactor: icon to icons for listviewcomponent
  superset-frontend/cypress-base/cypress/integration/chart_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/list_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/card_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.test.jsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.test.jsx
Labels: preset-io, size/S

#15513 fix: RTL for Database Connections
  superset-frontend/src/components/Form/LabeledErrorBoundInput.test.jsx
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
Labels: size/M

#15512 fix: Allow for updates on Step 3
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/databases/api.py
Labels: size/M

#14881 feat: Database Connection UI
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/cypress-base/cypress/integration/database/modal.test.ts
  superset-frontend/images/icons/default_db_image.svg
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/components/Form/LabeledErrorBoundInput.stories.tsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.test.jsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/types/react-lines-ellipsis.d.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/config.py
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/validate.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/elasticsearch.py
  superset/errors.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
Labels: size/XXL

#15489 feat(explore): Examples image gallery in the viz type control
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/webpack.config.js
Labels: preset-io, size/M

#14775 feat: extra table metadata for Google Sheets
  setup.py
  superset-frontend/src/SqlLab/components/TableElement.tsx
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset/db_engine_specs/gsheets.py
Labels: size/M

#15384 refactor(dashboard): [chart-maximize-mode]put chart full-size state in redux
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/types.ts
Labels: size/M, v1.3

#15519 fix: Utilizing dashboard native filter feature flag
  superset-frontend/src/dashboard/actions/hydrate.js
Labels: size/XS, v1.3

#15500 feat(cross-filters): add option to clear set cross filters
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/dataMask/reducer.ts
Labels: preset-io, size/M, v1.3

#15451 refactor: icon to icons for popovercomponent
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/src/components/PopoverDropdown/index.tsx
Labels: preset-io, size/XS

#15514 chore(docs): update DASHBOARD_RBAC
  RESOURCES/FEATURE_FLAGS.md
Labels: size/XS

#15486 fix: Database connection R6 fixes
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/L

#15465 fix: quote column name if db requires
  superset/connectors/sqla/models.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/db_engine_specs/snowflake_tests.py
Labels: preset-io, size/M

#15534 fix: show all DBs in available endpoint
  superset/db_engine_specs/__init__.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mssql.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/db_engine_specs/mssql_tests.py
Labels: size/M

#15520 feat(Explore): Viz gallery component tweaks
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/addSlice/AddSliceContainer.test.tsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/visualizations/TimeTable/TimeTableChartPlugin.js
Labels: preset-io, size/XXL

#15523 chore(release-docs): svn update after svn commit
  RELEASING/README.md
Labels: size/XS

#15527 fix: base requirements missing deprecation pkg
  requirements/base.txt
  setup.py
Labels: preset-io, size/XS

#15506 fix(native-filters): Fix native filters config modal
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/filters/components/common.ts
Labels: size/L, v1.3

#15526 fix: chartlist card-link to 404
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
Labels: size/XS

#15533 refactor: migrate to icons for searchinput icons
  superset-frontend/src/components/SearchInput/SearchInput.test.jsx
  superset-frontend/src/components/SearchInput/index.tsx
Labels: preset-io, size/S

#15461 refactor: icon to icons for popoversection
  superset-frontend/src/components/PopoverSection/index.tsx
Labels: preset-io, size/S

#15511 fix: variable context
  helm/superset/Chart.yaml
  helm/superset/templates/ingress.yaml
Labels: size/XS

#15540 refactor: type hints should not be load in runtime
  superset/common/query_context.py
  superset/utils/cache.py
  superset/utils/decorators.py
  superset/utils/log.py
Labels: size/M

#15502 feat: supporting jinja templating in saved metrics
  superset/connectors/sqla/models.py
Labels: size/XS

#15547 fix: indentation in helm chart
  helm/superset/Chart.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
Labels: size/S

#15546 fix: examples remove app context at the module level
  superset/examples/bart_lines.py
  superset/examples/birth_names.py
  superset/examples/country_map.py
  superset/examples/deck.py
  superset/examples/energy.py
  superset/examples/flights.py
  superset/examples/helpers.py
  superset/examples/long_lat.py
  superset/examples/multiformat_time_series.py
  superset/examples/paris.py
  superset/examples/random_time_series.py
  superset/examples/sf_population_polygons.py
  superset/examples/world_bank.py
Labels: preset-io, size/L

#15550 chore: Enhance Select component
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: Flexiana, size/L

#15558 fix: revert #15405 #15435 #15444
  setup.py
  superset/app.py
  superset/config.py
Labels: size/M

#15560 refactor: icon to icons for headeractionsdropdown
  superset-frontend/cypress-base/cypress/integration/dashboard/controls.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: preset-io, size/S

#15551 refactor: icon to icons for tabs
  superset-frontend/src/components/Tabs/Tabs.tsx
Labels: preset-io, size/XS

#15575 docs: updated dremio connection string
  docs/src/pages/docs/Connecting to Databases/dremio.mdx
Labels: need:more-info, preset-io, size/XS

#15528 refactor: icon to icons for nativeFilter components
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadePopover/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTabs.tsx
Labels: preset-io, size/M

#15542 chore: add changed_on_delta_humanized field on dashboard schema
  superset/dashboards/schemas.py
  tests/integration_tests/dashboards/api_tests.py
Labels: ready-for-review, size/XS

#15557 refactor: icon to icons for filterbadge components
  superset-frontend/cypress-base/cypress/integration/dashboard/filter.test.ts
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
Labels: preset-io, size/S

#15581 fix: downloadasimage for dashboard
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: preset-io, size/XS

#15578 feat: validate_parameters for GSheets
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  requirements/testing.in
  requirements/testing.txt
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/conftest.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/L

#15587 fix: available endpoint showing specs without drivers
  superset/databases/api.py
Labels: size/XS

#15591 chore: results of npm audit fix on superset-websocket
  superset-websocket/package-lock.json
Labels: preset-io, size/XS

#15595 fix: DBC UI tooltip aligment
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/XS

#15576 feat: Make Google Sheets Dyanmic
  superset/db_engine_specs/gsheets.py
  tests/integration_tests/databases/api_tests.py
Labels: size/M

#15594 fix: Hide Dynamic Link when editing
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#15589 fix: Revert "chore: Bump @svgr/webpack to 5.5.0"
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/XS

#15567 refactor: icon to icons for sliceheader component
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Labels: preset-io, size/S

#15577 feat(viz): Clear viz gallery when navigating between categories
  superset-frontend/src/addSlice/AddSliceContainer.test.tsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
Labels: doc:user, preset-io, size/L, test:case, viz:explore:gallery

#15588 fix: Revert "fix(dashboard): Open "View Chart in Explore" in the same window"
  superset-frontend/src/explore/exploreUtils/index.js
Labels: preset-io, size/XS

#15568 refactor: icon to icons for controls
  superset-frontend/src/explore/components/controls/CollectionControl/index.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Labels: preset-io, size/M

#15186 fix(dashboard-list): change name of dashboard is not reflected instantly
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
Labels: size/S

#15359 refactor(annotation): improve annotation modal
  superset-frontend/src/views/CRUD/annotation/AnnotationList.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.test.jsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
Labels: bash!, size/S

#15615 chore: bumping superset-ui 0.17.64
  superset-frontend/jest.config.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#15608 chore: update dataset count badge and tash icon sizing
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: size/S

#15597 refactor: icon to icons for Alert & Reports
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/components/NotificationMethod.tsx
  superset-frontend/src/views/CRUD/alert/components/RecipientIcon.tsx
Labels: preset-io, size/M

#15611 refactor: icon to icons for annotations & css templates modals
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayerModal.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplateModal.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: preset-io, size/M

#15612 fix: Database Connection Modal - corrected tooltip alignment and info alert width
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/M

#15609 fix: update db for expose in sqllab param
  superset/databases/api.py
Labels: size/XS

#15579 refactor: icon to icons for toasts component
  superset-frontend/spec/javascripts/messageToasts/components/Toast_spec.jsx
  superset-frontend/src/messageToasts/components/Toast.tsx
Labels: preset-io, size/S

#15619 fix: Database List Sorted
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/S

#15620 fix: error page status codes
  superset/typing.py
  superset/views/base.py
Labels: size/XS

#15623 fix: clear errors on closing DB Connection Modal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: ready-to-merge, size/XS

#15590 fix: avoid fetching favorite status for anonymous user
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
Labels: size/M

#15607 docs(docker): update README
  docker/README.md
Labels: size/M

#15410 docs: Small addition in add new databases with docker
  docs/src/pages/docs/Connecting to Databases/docker-add-drivers.mdx
Labels: size/XS

#15113 docs: fix typos in docs
  docs/installation.rst
  docs/src/pages/docs/installation/caching.mdx
  docs/src/pages/docs/installation/networking_settings.mdx
  helm/superset/Chart.yaml
  helm/superset/values.yaml
Labels: size/S

#15507 chore(python-testing): move memoized tests to unit tests
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-unittest.yml
  superset/connectors/druid/models.py
  superset/db_engine_specs/base.py
  superset/jinja_context.py
  superset/migrations/versions/620241d1153f_update_time_grain_sqla.py
  superset/models/core.py
  superset/models/datasource_access_request.py
  superset/models/slice.py
  superset/utils/core.py
  superset/utils/date_parser.py
  superset/utils/memoized.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/memoized_tests.py
Labels: size/XL

#15572 fix(native-filters): Fix required filters
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/filters/components/common.ts
Labels: size/L, v1.3, viz:dashboard:native-filter

#15614 fix: duplicate DB names
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Labels: size/S

#15624 refactor: icon to icons for homepage and card compompents
  superset-frontend/src/components/ListViewCard/ListViewCard.stories.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
Labels: preset-io, size/M

#15593 refactor: icon to icons for sqllab
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/SqlLab/components/SaveQuery.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery.tsx
Labels: preset-io, size/M

#15303 feat(explore): Upgraded viz select gallery
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/explore/components/VizTypeControl_spec.jsx
  superset-frontend/src/addSlice/AddSliceContainer.test.tsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/components/DynamicPlugins/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.less
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/visualizations/TimeTable/TimeTableChartPlugin.js
  superset-frontend/webpack.config.js
Labels: doc:user, preset-io, size/XXL, test:case, viz:explore:gallery

#15618 refactor: icon to icons for syntaxhighlighter and querylist components
  superset-frontend/src/views/CRUD/data/components/SyntaxHighlighterCopy/index.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
Labels: preset-io, size/M

#15635 fix: Remove default values for engine and schemas
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#15642 fix: change sslmode to require for Postgres
  superset/db_engine_specs/postgres.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
Labels: size/XS

#15633 chore: bump superset-ui/plugin-chart-echarts 0.17.65
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#15645 fix: Fix test connection for extra fields
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/S

#15650 fix: safe removal of empty tab with scoped filters
  superset-frontend/src/dashboard/util/activeAllDashboardFilters.ts
Labels: 2021.27, blocking!, preset-io, rush!, size/XS

#15644 chore: Reverts reset form in native filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: Turing, size/S, v1.3

#15643 refactor: icon to icons for navbar
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Menu/LanguagePicker.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
Labels: preset-io, size/S

#15651 feat(explore): Implement conditional formatting component
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/ConditionalFormattingControl.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopover.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/index.ts
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/types.ts
  superset-frontend/src/explore/components/controls/index.js
Labels: size/XL

#15403 feat: cancel db query on stop
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/databases/api.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/snowflake.py
  superset/exceptions.py
  superset/sql_lab.py
  superset/views/core.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/db_engine_specs/mysql_tests.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
  tests/integration_tests/db_engine_specs/snowflake_tests.py
Labels: size/L

#15583 chore: Preserve native filters selection after refresh
  superset-frontend/spec/helpers/testing-library.tsx
  superset-frontend/spec/javascripts/dashboard/util/getDashboardUrl_spec.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/util/getDashboardUrl.ts
  superset-frontend/src/dashboard/util/replaceUndefinedByNull.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
Labels: Turing, size/L, v1.3, viz:dashboard:native-filter

#15574 docs: Add section about updating Python requirements
  CONTRIBUTING.md
Labels: size/S

#15665 refactor: icon to icons for Querytable, datasource test, and copyclipboard story
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/SqlLab/components/QueryTable/index.jsx
  superset-frontend/src/components/CopyToClipboard/CopyToClipboard.stories.tsx
Labels: preset-io, size/L

#15646 chore: Add metrics_b as viable metric form data parameter
  superset/connectors/base/models.py
Labels: size/XS

#15599 chore: Add documentation for DB Connection UI
  docs/src/pages/docs/Connecting to Databases/ui.mdx
Labels: size/M

#15670 fix: small fixes for Makefile
  Makefile
Labels: ready-to-merge

#15648 perf: Refactor Dashboard.datasets_trimmed_for_slices et al.
  superset/models/dashboard.py
Labels: size/M

#15661 fix(dashboard): Filters panel height
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: Flexiana, size/XS

#15628 feat(menu): expand support for custom branding
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset/config.py
  superset/views/base.py
Labels: preset-io, size/M

#15688 chore: Removes unnecessary uses of preselectNativeFilters
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
Labels: Turing

#15634 fix: Show affected charts when interacting with the filters
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/utils.ts
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
Labels: Turing, size/L, v1.3, viz:dashboard:native-filter

#15647 refactor: icon to icons for IconButton and Header component
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_mode.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
Labels: preset-io, size/M

#15690 refactor: remove old Icon component
  superset-frontend/src/components/ErrorMessage/BasicErrorAlert.test.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.test.tsx
  superset-frontend/src/components/FaveStar/FaveStar.test.tsx
  superset-frontend/src/components/Icon/icon.stories.jsx
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/components/ListView/ActionsBar.tsx
Labels: preset-io

#15668 fix(dashboard): Make the View Chart In Explore menu option a link
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/explore/exploreUtils/index.js
Labels: preset-io

#15680 fix: remove form title
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
Labels: ready-to-merge

#15662 fix: Action icons on Antd Card in Homepage
  superset-frontend/src/components/ListViewCard/index.tsx
Labels: Flexiana, bash!, need:qa-review, size/S

#15711 feat(homepage): move savequeries table and render open conditionally
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: preset-io

#15610 fix: Add waiting time for chart animation when screenshot
  superset/config.py
  superset/utils/webdriver.py
  tests/integration_tests/thumbnails_tests.py
Labels: size/S

#15718 docs: update dev superset version
  superset-frontend/package.json
Labels: preset-io

#15740 feat(explore): UX improvements for drag'n'dropping time column
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/types.ts
Labels: viz:explore:dnd

#15710 fix(explore): Set label max width with Drag&Drop in Datasource panel
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelDragWrapper/index.tsx
Labels: Flexiana

#15571 chore: Select component refactoring - DateFilterControl - Iteration 5
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
Labels: Flexiana, risk:refactor, size/M

#15555 chore: Select component refactoring - ColorSchemeControl - Iteration 5
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/spec/javascripts/explore/components/ColorScheme_spec.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
Labels: Flexiana, risk:refactor, size/M

#15750 fix: Fixing `schemas_allowed_for_upload` field in database connection UX
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/models/core.py
Labels: 2021.27

#15752 fix: Revert "quote column name if db requires (#15465)"
  superset/connectors/sqla/models.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/db_engine_specs/snowflake_tests.py
Labels: 2021.27, preset-io

#15770 fix: Edit physical dataset from the Edit Dataset modal
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
Labels: Flexiana

#15715 fix: margin right on warning icon to 8px
  superset-frontend/src/components/WarningIconWithTooltip/index.tsx
Labels: hold!

#15791 fix: migration downgrade references wrong column
  superset/migrations/versions/301362411006_add_execution_id_to_report_execution_.py
Labels: ready-to-merge

#15734 chore: Add tags to the new viz gallery
  superset-frontend/spec/javascripts/explore/components/VizTypeControl_spec.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: viz:explore:gallery

#15480 chore: Improves the Select component UI/UX - iteration 4
  superset-frontend/src/components/Select/utils.ts
  superset-frontend/src/components/SupersetResourceSelect/SupersetResourceSelect.test.tsx
  superset-frontend/src/components/SupersetResourceSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/filters/components/common.ts
Labels: Turing, size/XL, v1.3

#15800 fix(dashboard): Add z-index to dashboard only when maximizing chart
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: Flexiana

#15822 fix: benchmark_migration.py needs to close sssion
  scripts/benchmark_migration.py
  superset/migrations/versions/301362411006_add_execution_id_to_report_execution_.py
Labels: ready-to-merge

#15821 fix(Explore): Cell height and spacing for Data panel
  superset-frontend/src/components/TableView/TableView.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
Labels: Flexiana

#15802 chore: Changes the pagination API of the Select component
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
Labels: Turing

#15792 feat(homepage): conditionally render viewed tab and move examples to chart and dashboard table
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.test.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.test.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.test.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: preset-io

#15799 chore: Adds lazy loading and fetchOnlyOnSearch to the Select component
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
Labels: Turing

#15820 fix: Render value immediately on SQL Editor for Calculated Columns in Edit Dataset modal
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
Labels: Flexiana

#15709 fix(dashboard): Remove edit from url params when discarding changes
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: Flexiana

#15747 feat: migration to add timezone to report schedule
  superset/migrations/versions/ae1ed299413b_add_timezone_to_report_schedule.py
Labels: preset-io, ready-to-merge, risk:db-migration

#15785 feat: fetch UI specific reports
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/reports/actions/reportState.js
  superset-frontend/src/reports/reducers/reportState.js
  superset-frontend/src/views/store.ts
  superset/reports/api.py
  superset/reports/schemas.py
Labels: size/L

#15847 chore: bump typescript
  superset-frontend/.storybook/main.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/util/injectCustomCss.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
Labels: preset-io

#15840 fix(explore): show multi queries results in View query modal and data pane
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModal.tsx
Labels: size/M, test:case, viz:explore:viewdata

#15869 fix: revert DEFAULT_SQLLAB_LIMIT to default
  superset/config.py
Labels: size/XS

#15848 fix: Ensure DatabaseErrorMessage works when extra is undefined
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
  superset/exceptions.py
  superset/views/base.py
  tests/integration_tests/databases/commands_tests.py
Labels: size/S

#15874 fix(15482): Propagate SupersetSecurityException error
  superset/views/core.py
Labels: size/S

#15882 feat: deprecate plugins by their metadata
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: preset-io, size/XS

#15885 chore: Adds the tests that need to be coded for the Select component
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: Turing, size/M

#15878 fix(15403): Re-enable canceling query for Hive and Presto
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/sql_lab.py
  tests/integration_tests/sqllab_tests.py
Labels: size/M

#15895 chore: bumping superset-ui 0.17.72
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#15843 feat: apply post processing to chart data
  superset/charts/api.py
  superset/charts/post_processing.py
  superset/common/query_actions.py
  superset/utils/core.py
  tests/integration_tests/charts/api_tests.py
Labels: size/L

#15868 chore: implement new mockup to the new viz gallery (2nd iteration)
  superset-frontend/images/icons/ballot.svg
  superset-frontend/images/icons/category.svg
  superset-frontend/images/icons/tags.svg
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/explore/components/VizTypeControl_spec.jsx
  superset-frontend/src/components/Icons/index.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: size/L

#15889 fix: New time range filter initially show advance section
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: Turing, size/XS

#15888 fix: Side menu of the dashboard component will scroll out of dashboard
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: Turing, size/XS

#15897 fix: Download as image of dashboard chart did not work
  superset-frontend/src/utils/downloadAsImage.ts
Labels: Turing, blocking!, rush!, size/S

#15896 fix: Charts sort by in edit mode gets cut off
  superset-frontend/spec/javascripts/dashboard/components/SliceAdder_spec.jsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
Labels: Turing, size/S

#15865 fix: Update Query Context on Explore loading
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset/charts/api.py
  tests/integration_tests/charts/api_tests.py
Labels: size/S

#15890 fix(dashboard): Refresh Native Filters when Dashboard refreshes
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/types.ts
Labels: Flexiana, ready-to-merge, size/M, v1.3, viz:dashboard:native-filter

#15841 fix(Explore): "Customize" tab rendering behavior
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: Flexiana, size/M

#15893 fix: dashboard url error when edit slug
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
Labels: size/XS

#15901 chore: bumping superset-ui 0.17.73
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#15904 docs: Slack integration requires "chat:write" permissions scope
  docs/src/pages/docs/installation/alerts_reports.mdx
Labels: size/XS
