Repository apache/superset, pull requests merged in 2021-10, with the labels that each got.

#16927 chore: Moves spec files to the src folder - iteration 5
  superset-frontend/spec/javascripts/components/CachedLabel_spec.tsx
  superset-frontend/src/components/CachedLabel/CachedLabel.test.tsx
  superset-frontend/src/datasource/ChangeDatasourceModal.test.jsx
  superset-frontend/src/datasource/DatasourceEditor.test.jsx
  superset-frontend/src/datasource/DatasourceModal.test.jsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/fixtures.tsx
  superset-frontend/src/filters/utils.test.ts
  superset-frontend/src/modules/dates.test.js
  superset-frontend/src/modules/utils.test.jsx
  superset-frontend/src/showSavedQuery/utils.test.jsx
Labels: size/M

#16933 fix(dashboard): recursive parent on dashboard components
  superset-frontend/spec/javascripts/dashboard/util/newEntitiesFromDrop_spec.js
  superset-frontend/src/dashboard/util/newEntitiesFromDrop.js
Labels: size/S, rush!, preset-io, v1.3

#16903 feat: add Firebolt DB engine spec
  docs/src/pages/docs/Connecting to Databases/firebolt.mdx
  docs/src/pages/docs/Connecting to Databases/index.mdx
  setup.py
  superset/db_engine_specs/firebolt.py
  tests/integration_tests/db_engine_specs/firebolt_tests.py
Labels: size/L

#16910 chore: add certified columns to top of list
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
Labels: size/S, preset-io

#16931 fix: replace absolute difference with difference in legacy charts
  superset-frontend/src/explore/controlPanels/sections.tsx
Labels: size/XS

#16874 chore(native_filter): feature on by default
  superset/config.py
Labels: size/XS

#16917 refactor: sql lab command: separate concerns into different modules
  superset/charts/dao.py
  superset/dao/base.py
  superset/datasets/dao.py
  superset/models/core.py
  superset/sqllab/command.py
  superset/sqllab/exceptions.py
  superset/sqllab/execution_context_convertor.py
  superset/sqllab/query_render.py
  superset/sqllab/sql_json_executer.py
  superset/sqllab/sqllab_execution_context.py
  superset/sqllab/validators.py
  superset/views/core.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/XL

#16946 fix(query_object): missing series validation not raised an exception
  superset/common/query_object.py
Labels: size/M

#16949 fix(explore): Ensuring parameters key is included
  superset/views/core.py
Labels: size/XS, preset-io

#16930 fix: replace absolute difference with difference in compareOperator
  superset/constants.py
  superset/utils/pandas_postprocessing.py
  tests/integration_tests/pandas_postprocessing_tests.py
Labels: size/S

#16953 fix(examples): incorrect covid row component id
  superset/examples/configs/dashboards/COVID_Vaccine_Dashboard.yaml
Labels: size/XS, preset-io, v1.3

#16955 fix: don't log invalid redirect URL sent by user
  superset/views/redirects.py
Labels: size/XS, preset-io, v1.3

#16935 chore: Moves spec files to the src folder - iteration 6
  superset-frontend/spec/javascripts/components/ColumnTypeLabel_spec.tsx
  superset-frontend/src/middleware/asyncEvent.test.ts
  superset-frontend/src/middleware/logger.test.js
  superset-frontend/src/profile/components/App.test.tsx
  superset-frontend/src/profile/components/CreatedContent.test.tsx
  superset-frontend/src/profile/components/Favorites.test.tsx
  superset-frontend/src/profile/components/RecentActivity.test.tsx
  superset-frontend/src/profile/components/Security.test.tsx
  superset-frontend/src/profile/components/UserInfo.test.tsx
  superset-frontend/src/profile/components/fixtures.tsx
Labels: size/M

#16510 chore: Select component refactoring - SelectControl - Iteration 5
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/TextArea_spec.jsx
  superset-frontend/spec/javascripts/explore/fixtures.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl/index.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/explore/components/controls/SpatialControl.jsx
  superset-frontend/src/explore/controls.jsx
Labels: size/XL, Flexiana, risk:refactor

#16958 fix(build): make npm linking work pt. 2
  superset-frontend/webpack.config.js
Labels: size/XS, preset-io

#16689 chore: refactor header menu to show in header grid component
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Header.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
  superset-frontend/src/dashboard/stylesheets/hover-menu.less
  superset-frontend/src/dashboard/stylesheets/index.less
Labels: size/L, preset-io

#16965 chore: upgrade superset-ui dependencies
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#16968 fix: Revert "fix: RBAC hide right menu (#16902)"
  superset-frontend/spec/javascripts/dashboard/components/menu/HoverMenu_spec.tsx
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset-frontend/src/views/menu.tsx
Labels: size/L, preset-io

#16973 test: update required tests to python 3.8
  .asf.yaml
Labels: size/S, preset-io

#16889 feat: upgrade docker image to py38 and add support for py39
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  Dockerfile
  Makefile
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  RELEASING/Dockerfile.make_docs
  RELEASING/Dockerfile.make_tarball
  docs/src/pages/docs/installation/installing_scratch.mdx
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  setup.py
  superset/utils/memoized.py
Labels: size/M, preset-io

#16928 fix: handle mixed time-series error
  superset-frontend/src/chart/chartAction.js
Labels: size/XS, hold!, v1.3

#16978 fix: Use production build config for cypress tests
  superset-frontend/package.json
  superset-frontend/webpack.config.js
Labels: size/XS

#16872 refactor(reports): Arash/again refactor reports
  superset-frontend/src/components/ReportModal/HeaderReportActionsDropdown/index.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
Labels: size/S

#16885 chore: upgrade babel
  superset-frontend/.eslintrc.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
Labels: size/M, preset-io

#16990 chore: Translates the favorite filter param
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
Labels: size/XS

#17239 fix: revert "feat(sqla): apply time grain to all temporal groupbys"
  superset/connectors/sqla/models.py
Labels: size/S

#17265 fix: Allow users to update database in Dataset Edit Modal
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Labels: size/XS

#17176 fix(AlertReportModal): Text Area Change
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/components/TemplateParamsEditor/TemplateParamsEditor.test.tsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/components/AsyncAceEditor/AsyncAceEditor.test.tsx
  superset-frontend/src/components/AsyncAceEditor/index.tsx
  superset-frontend/src/dashboard/components/CssEditor/CssEditor.test.tsx
  superset-frontend/src/dashboard/stylesheets/components/markdown.less
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/M, hold:testing!

#17292 fix: Change 500 error to 422 in Sql Lab
  superset/exceptions.py
  superset/views/core.py
Labels: size/XS

#17293 docs(UPDATING): Adding downtime for #16756
  UPDATING.md
Labels: size/XS, dropbox

#17290 chore: Bumping pyarrow / pandas
  UPDATING.md
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  requirements/testing.in
  requirements/testing.txt
  setup.py
  superset/config.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/snowflake.py
  superset/sql_lab.py
  superset/utils/core.py
Labels: size/M, preset-io
