Repository apache/superset, pull requests merged in 2021-04, with the labels that each got.

#13896 test: handleScroll
  superset-frontend/src/dashboard/components/dnd/handleScroll/handleScroll.test.ts
  superset-frontend/src/dashboard/components/dnd/handleScroll/index.ts
Labels: test:component

#13605 test: DatasourceControl
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Labels: Turing, size/L, test:component

#13729 test: Adds tests to the OptionControls component
  superset-frontend/spec/javascripts/explore/components/AdhocFilterControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricsControl_spec.jsx
  superset-frontend/spec/javascripts/explore/components/OptionControls_spec.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/components/Option.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/components/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.jsx
  superset-frontend/src/explore/components/controls/OptionControls/OptionControls.test.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: Turing, size/L, test:component

#13901 fix: Revert "fix: select table overlay"
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Labels: size/XS

#13905 fix: consistent left margin for dashboard layout.
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: preset-io, size/S

#13750 test: DisplayQueryButton
  superset-frontend/src/explore/components/DisplayQueryButton/DisplayQueryButton.test.tsx
  superset-frontend/src/explore/components/DisplayQueryButton/index.jsx
Labels: size/L, test:component

#13778 test: Tests and dedicated dir for Explore TextControl component
  superset-frontend/src/explore/components/controls/TextControl/TextControl.test.tsx
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
Labels: Flexiana, test:component

#13799 test: Refactor and enhance tests for the Explore DatasourcePanel Component
  superset-frontend/spec/javascripts/explore/components/DatasourcePanel_spec.jsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.ts
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
Labels: Flexiana, size/L, test:component

#13748 test: Adds tests to the AnnotationLayer component
  superset-frontend/src/explore/components/controls/AnnotationLayer.less
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
Labels: Turing, ready-to-merge, test:component

#13852 fix(dependency): Pin pystan after breaking prophet install
  setup.py
Labels: ready-to-merge, size/XS, viz:echarts-prophet

#13548 test: Fixes PropertiesModal_spec
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
Labels: Turing, size/XS, test:component

#13894 feat(alert/report): add ALERTS_ATTACH_REPORTS feature flags + feature
  superset/config.py
  superset/reports/commands/execute.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  tests/reports/commands_tests.py
Labels: preset-io, size/L

#13739 fix(sqla-query): order by aggregations in Presto and Hive
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/presto.py
  superset/utils/core.py
  tests/conftest.py
  tests/databases/commands_tests.py
  tests/fixtures/query_context.py
  tests/query_context_tests.py
Labels: ready-for-review, size/L

#13917 fix: do not run containers as root by default in Helm chart
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-superset-config.yaml
  helm/superset/values.yaml
Labels: deploy:helm, size/M

#13822 fix: adjusted tab height
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.tsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/components/ProgressBar/index.tsx
Labels: hold:testing!, size/S

#13892 test: Adds tests to the PublishedStatus component
  superset-frontend/src/dashboard/components/PublishedStatus/PublishedStatus.test.tsx
  superset-frontend/src/dashboard/components/PublishedStatus/index.jsx
Labels: Turing, test:component

#13939 chore(dashboard): Datasource -> Dataset
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: preset-io, ready-to-merge, size/M

#13876 test: CrossFilterScopingModal/utils
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/utils/index.ts
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/utils/utils.test.ts
Labels: test:component

#13926 fix: enable installing docker/requirements-local.txt in docker-compos…
  docker-compose-non-dev.yml
  docker/docker-bootstrap.sh
Labels: preset-io, size/XS

#13927 fix: trigger collapse with onchange
  superset-frontend/spec/javascripts/sqllab/SqlEditorLeftBar_spec.jsx
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
Labels: preset-io, size/M

#13945 fix(colors): fix color schemes
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/src/dashboard/components/PropertiesModal.jsx
Labels: size/S

#13482 test: Adds storybook to Dropdown and DropdownButton components
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/common/components/Dropdown/Dropdown.stories.tsx
  superset-frontend/src/common/components/Dropdown/index.tsx
  superset-frontend/src/common/components/DropdownButton/DropdownButton.stories.tsx
  superset-frontend/src/common/components/DropdownButton/index.tsx
Labels: Turing, size/L, test:component

#13656 test: CollectionControl
  superset-frontend/src/explore/components/controls/CollectionControl/CollectionControl.less
  superset-frontend/src/explore/components/controls/CollectionControl/CollectionControl.test.tsx
  superset-frontend/src/explore/components/controls/CollectionControl/index.jsx
Labels: Turing, test:component

#13753 test: FilterBoxItemControl
  superset-frontend/src/explore/components/controls/FilterBoxItemControl/FilterBoxItemControl.test.tsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl/index.jsx
Labels: size/M, test:component

#13712 test: Adds tests to the TimeSeriesColumnControl component
  superset-frontend/spec/javascripts/explore/components/TimeSeriesColumnControl_spec.jsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/TimeSeriesColumnControl.test.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.jsx
Labels: Turing, size/L, test:component

#13745 test: Enhance tests and directory structure for FilterControl components
  superset-frontend/spec/javascripts/explore/components/AdhocFilterOption_spec.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/AdhocFilter.test.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/AdhocFilterControl.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/AdhocFilterEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/AdhocFilterEditPopoverSqlTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/AdhocFilterOption.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/AdhocFilterPopoverTrigger.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
Labels: Flexiana, test:component

#13872 test: DetailsPanel
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
Labels: size/L, test:component

#13873 test: FilterIndicator
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/FilterIndicator.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
Labels: size/M, test:component

#13875 test: CrossFilterScopingForm
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/CrossFilterScopingForm/CrossFilterScopingForm.test.tsx
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/CrossFilterScopingForm/index.tsx
Labels: size/M, test:component

#13818 test: PropertiesModal
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
Labels: size/L, test:component

#13737 fix: log exceptions for thumbnail generation as warnings
  superset/utils/screenshots.py
Labels: size/XS

#13946 fix: SQL -> Explore Overwrite flow
  superset/datasets/api.py
  tests/datasets/api_tests.py
Labels: size/XS

#13553 chore: Dedicated dir and Storybook for the DatePicker Component
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/DatePicker/DatePicker.stories.tsx
  superset-frontend/src/components/DatePicker/index.tsx
  superset-frontend/src/components/ListView/Filters/DateRange.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
Labels: Flexiana, size/L, test:component

#13895 test: SliceHeaderControls
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.jsx
Labels: size/L, test:component

#13877 refactor: move CTAS/CVAS field II
  superset-frontend/cypress-base/cypress/integration/chart_list/list_view.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list_view.test.ts
  superset-frontend/spec/javascripts/sqllab/fixtures.ts
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseModal_spec.jsx
  superset-frontend/src/components/IndeterminateCheckbox.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: size/XL

#13858 fix: Floating Menu in SQL Left Bar
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
Labels: ready-to-merge, size/S

#13934 docs: replace deprecated EMAIL_REPORTS_WEBDRIVER with the new WEBDRIVER_TYPE
  docs/installation.rst
  docs/src/pages/docs/installation/alerts_reports.mdx
Labels: size/XS

#13936 fix: use the right variable for Celery results in Redis
  docker/pythonpath_dev/superset_config.py
Labels: size/XS

#13955 fix: null exception from adhoc metric popover
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover.jsx
Labels: size/XS

#13897 fix: updates load_examples to load-examples
  CONTRIBUTING.md
Labels: size/XS

#13972 fix: Data table z index in sql Editor
  superset-frontend/src/SqlLab/main.less
Labels: ready-to-merge, size/XS

#13950 test: Add tests for the Dashboard FilterBar CascadeFilterControl component
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadeFilterControl/CascadeFilterControl.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadeFilterControl/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadePopover/index.tsx
Labels: Flexiana, size/M, test:case

#13801 fix(explore): strip semicolons in virtual table SQL
  superset/connectors/sqla/models.py
  tests/sqla_models_tests.py
Labels: preset-io, size/S, viz:explore:dataset

#13931 test: PropertiesModal (Dashboard)
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
Labels: size/L, test:component

#13979 fix: import dataset/dashboard empty keys
  superset/dashboards/commands/importers/v1/utils.py
  superset/datasets/commands/importers/v1/utils.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/XS

#13887 test: Adds tests to the filter scope components
  superset-frontend/spec/javascripts/explore/components/CheckboxControl_spec.jsx
  superset-frontend/src/components/Checkbox/CheckboxIcons.tsx
  superset-frontend/src/dashboard/components/filterscope/FilterFieldItem.jsx
  superset-frontend/src/dashboard/components/filterscope/FilterFieldTree.jsx
  superset-frontend/src/dashboard/components/filterscope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/filterscope/FilterScopeModal.tsx
  superset-frontend/src/dashboard/components/filterscope/FilterScopeSelector.jsx
  superset-frontend/src/dashboard/components/filterscope/FilterScopeTree.jsx
  superset-frontend/src/dashboard/components/filterscope/renderFilterFieldTreeNodes.jsx
  superset-frontend/src/dashboard/components/filterscope/renderFilterScopeTreeNodes.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header.tsx
Labels: Turing, size/XL, test:component

#13719 test: exploreUtils
  superset-frontend/src/explore/exploreUtils/getAnnotationJsonUrl.test.ts
  superset-frontend/src/explore/exploreUtils/getChartDataUri.test.ts
  superset-frontend/src/explore/exploreUtils/getChartKey.test.ts
  superset-frontend/src/explore/exploreUtils/getExploreLongUrl.test.ts
  superset-frontend/src/explore/exploreUtils/getExploreUrl.test.ts
  superset-frontend/src/explore/exploreUtils/getHostName.test.ts
  superset-frontend/src/explore/exploreUtils/getLegacyEndpointType.test.ts
  superset-frontend/src/explore/exploreUtils/getSimpleSQLExpression.test.ts
  superset-frontend/src/explore/exploreUtils/getURIDirectory.test.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/explore/exploreUtils/shouldUseLegacyApi.test.ts
Labels: size/XL, test:component

#13960 feat: initial work to make v1 API compatible with SIP-40 and SIP-41
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/errors.py
  superset/exceptions.py
  superset/schemas.py
  superset/views/base.py
  superset/views/base_api.py
  tests/databases/api_tests.py
Labels: size/L

#13987 fix: Pie chart not displayed in viz type selection
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
Labels: blocking!, rush!, size/S

#13984 test: prevent flaky frontend unit test case
  superset-frontend/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
Labels: size/XS

#13969 fix: annotation modal dateRangePicker saved invalid value
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
Labels: size/XS

#13501 test: Tests and Storybook entry for the TableView Component
  superset-frontend/spec/javascripts/components/TableView/TableView_spec.tsx
  superset-frontend/src/components/TableView/TableView.stories.tsx
  superset-frontend/src/components/TableView/TableView.test.tsx
  superset-frontend/src/components/TableView/TableView.tsx
Labels: Flexiana, size/L, test:component

#13787 test: AdhocMetricEditPopover
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
Labels: size/L, test:component

#13736 test: DataTablesPane
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
Labels: size/L, test:component

#13502 test: Tests and Storybook entry for the IndeterminateCheckbox Component
  superset-frontend/src/components/IndeterminateCheckbox/IndeterminateCheckbox.stories.tsx
  superset-frontend/src/components/IndeterminateCheckbox/IndeterminateCheckbox.test.tsx
  superset-frontend/src/components/IndeterminateCheckbox/index.tsx
Labels: Flexiana, size/L, test:component

#13933 test: Adds tests to the CssEditor component
  superset-frontend/spec/javascripts/dashboard/components/CssEditor_spec.jsx
  superset-frontend/src/dashboard/components/CssEditor/CssEditor.test.tsx
  superset-frontend/src/dashboard/components/CssEditor/index.jsx
Labels: Turing, size/L, test:component

#14014 fix(sqla): apply sqla type on calculated columns
  superset/connectors/sqla/models.py
Labels: preset-io, size/XS

#13911 fix: working timeout with celery kill and logic fix
  superset/config.py
  superset/reports/commands/alert.py
  superset/reports/commands/execute.py
  superset/reports/dao.py
  superset/tasks/scheduler.py
  tests/reports/commands_tests.py
  tests/reports/scheduler_tests.py
  tests/superset_test_config.py
Labels: preset-io, size/L

#13998 fix: execution log crashes for logs with no uuid
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
Labels: size/XS

#14008 feat: Support feature flag overrides in ephemeral test envs
  .github/workflows/ephemeral-env.yml
  CONTRIBUTING.md
  docs/installation.rst
  docs/sqllab.rst
  docs/src/pages/docs/installation/configuring.mdx
  superset/config.py
  tests/superset_test_config_sqllab_backend_persist.py
Labels: preset-io, release:note, size/M

#11498 feat(SIP-39): Websocket sidecar app
  .github/workflows/superset-websocket.yml
  superset-websocket/.eslintignore
  superset-websocket/.eslintrc.js
  superset-websocket/.gitignore
  superset-websocket/.nvmrc
  superset-websocket/.prettierignore
  superset-websocket/.prettierrc.json
  superset-websocket/README.md
  superset-websocket/config.example.json
  superset-websocket/config.test.json
  superset-websocket/jest.config.js
  superset-websocket/package-lock.json
  superset-websocket/package.json
  superset-websocket/spec/index.test.ts
  superset-websocket/src/index.ts
  superset-websocket/tsconfig.json
  superset-websocket/utils/README.md
  superset-websocket/utils/client-ws-app/.nvmrc
  superset-websocket/utils/client-ws-app/README.md
  superset-websocket/utils/client-ws-app/app.js
  superset-websocket/utils/client-ws-app/bin/www
  superset-websocket/utils/client-ws-app/package-lock.json
  superset-websocket/utils/client-ws-app/package.json
  superset-websocket/utils/client-ws-app/public/javascripts/app.js
  superset-websocket/utils/client-ws-app/public/stylesheets/style.css
  superset-websocket/utils/client-ws-app/routes/index.js
  superset-websocket/utils/client-ws-app/views/error.jade
  superset-websocket/utils/client-ws-app/views/index.jade
  superset-websocket/utils/client-ws-app/views/layout.jade
  superset-websocket/utils/loadtest.js
  superset/config.py
  superset/utils/async_query_manager.py
  superset/views/base.py
Labels: org:preset, size/XL, v1.2

#13458 chore: Moves Fade component into TableElement
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/common/components/Fade.tsx
Labels: Turing, size/M, test:component

#13997 feat: add extract_errors to Postgres
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/connectors/sqla/models.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/errors.py
  tests/databases/api_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/L

#14009 fix: use dynamic time_grains for schema
  superset/charts/schemas.py
Labels: preset-io, ready-to-merge, size/M, viz:explore:grain

#13980 fix: Issue 13956
  UPDATING.md
  superset/config.py
  superset/connectors/sqla/models.py
  superset/datasets/dao.py
  superset/migrations/versions/134cea61c5e7_remove_dataset_health_check_message.py
  superset/views/core.py
  superset/views/datasource.py
  tests/datasource_tests.py
Labels: size/L

#14039 fix: broken port-forward instructions
  helm/superset/templates/NOTES.txt
Labels: size/XS

#14030 feat(helm): add pod and deployment annotations to template
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/M

#14025 chore: update docs to allow user to properly load examples
  CONTRIBUTING.md
Labels: size/XS

#13991 test: ColumnSelect
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.test.tsx
Labels: size/M, test:component, viz:dashboard:native-filter

#13860 test: ShareMenuItems
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
Labels: test:component

#13888 test: SliceHeader
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Labels: size/L, test:component

#14040 feat: handle chart/data API errors
  superset/charts/api.py
  superset/exceptions.py
  tests/charts/api_tests.py
Labels: size/M

#13937 test: Tab
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.tsx
Labels: size/L, test:component

#13941 test: Tabs
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.tsx
Labels: size/L, test:component

#13975 test: ControlItems
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ControlItems.test.tsx
Labels: size/L, test:component

#14033 chore: well component to card component(Updating PR #12200)
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/common/components/Card.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: migration:component, size/M

#14028 test: FilterSets-utils
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/utils/findExistingFilterSet.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/utils/generateFiltersSetId.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/utils/getFilterValueForDisplay.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/utils/index.ts
Labels: size/L, test:component, viz:dashboard:native-filter

#14027 docs: update outdated country map tools instructions
  docs/.nvmrc
  docs/src/pages/docs/Miscellaneous/index.mdx
  superset/viz.py
Labels: release:note, size/L

#13974 fix: Use superset generic db to catch external_metadata queries
  superset/connectors/sqla/models.py
  tests/datasource_tests.py
Labels: size/M

#14031 fix: Use consistent chart value
  helm/superset/templates/secret-superset-config.yaml
Labels: size/XS

#14036 fix: add exception to catch session not having JWT
  setup.cfg
  superset/views/base.py
Labels: size/XS

#14007 feat: Make async query JWT cookie domain configurable
  CONTRIBUTING.md
  docs/installation.rst
  superset/config.py
  superset/utils/async_query_manager.py
Labels: size/XS

#13726 feat(native-filters): Add default first value to select filter
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Select/transformProps.ts
  superset-frontend/src/filters/components/Select/types.ts
Labels: revisit:design-sys, size/L, v1.2, viz:dashboard:native-filter

#14081 fix(cross-filters): fix bug when remove chart not removing it's related cross filter data
  superset-frontend/src/dashboard/actions/dashboardState.js
Labels: size/S

#14046 fix: Make chart emitting cross-filter exclude itself from filtering
  superset-frontend/src/dashboard/util/activeAllDashboardFilters.ts
Labels: size/XS, v1.2

#13827 feat: add descriptions to report emails
  superset/reports/commands/execute.py
  superset/reports/notifications/__init__.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
Labels: size/S

#13862 feat: only send alert error emails to owners of the alert
  superset/reports/commands/execute.py
  tests/reports/commands_tests.py
Labels: size/M

#13740 feat: Implement Celery SoftTimeLimit handling
  superset/reports/commands/alert.py
  superset/reports/commands/execute.py
  superset/sql_lab.py
  superset/tasks/async_queries.py
  superset/tasks/scheduler.py
  tests/reports/commands_tests.py
  tests/sqllab_tests.py
  tests/tasks/async_queries_tests.py
  tests/thumbnails_tests.py
Labels: preset-io, size/L

#14082 fix: flacky test in test_update_dataset_item_w_override_columns
  tests/datasets/api_tests.py
Labels: size/S

#14038 feat: invalid password error message (Postgres)
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/db_engine_specs/postgres.py
  superset/errors.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/M

#13961 docs: details on configuring Docker Compose setup
  docs/src/pages/docs/installation/index.mdx
Labels: size/M

#13906 fix(listview): update listview feature flag
  superset/config.py
Labels: preset-io, size/XS

#13989 refactor: Bootstrap to AntD - Slider
  superset-frontend/src/components/Slider/Slider.stories.tsx
  superset-frontend/src/components/Slider/index.tsx
  superset-frontend/src/explore/components/controls/SliderControl.jsx
Labels: design:review, migration:component, size/M

#14074 fix: unable to apply logging format
  superset/app.py
Labels: size/XS

#13951 chore: Adds dataMask reducer to reducerIndex
  superset-frontend/spec/helpers/reducerIndex.ts
Labels: Turing, size/XS, test:component

#13919 test: Adds tests to the UndoRedoKeyListeners component
  superset-frontend/spec/javascripts/dashboard/components/Header_spec.jsx
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/UndoRedoKeyListeners/UndoRedoKeyListeners.test.tsx
  superset-frontend/src/dashboard/components/UndoRedoKeyListeners/index.jsx
Labels: Turing, size/M, test:component

#14076 feat(can_share): can share chart and dashboard
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Header.jsx
  superset-frontend/src/dashboard/components/HeaderActionsDropdown.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset/security/manager.py
  tests/security_tests.py
Labels: size/M

#14095 fix(sqla): labels_expected contains mutated label
  superset/connectors/sqla/models.py
  tests/sqla_models_tests.py
Labels: 2021.13, preset-io, size/M

#13992 feat(dashboard_rbac): provide data access based on dashboard access
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset/security/manager.py
  superset/views/dashboard/mixin.py
  tests/dashboards/security/security_rbac_tests.py
Labels: release:note, security:access:dashboard, size/M

#14057 fix: logs table - user_id is NULL
  superset/utils/log.py
  tests/event_logger_tests.py
Labels: size/M

#14086 fix: Fixed saved query export
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryList_spec.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/M

#14099 fix(SPA): get permission function
  superset-frontend/src/dashboard/util/getPermissions.ts
Labels: SPA, size/M

#14088 chore: stop logging `SupersetExceptions` if status < 500
  superset/views/base.py
Labels: size/XS

#14089 feat: invalid hostname and password error messages (MySQL)
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/db_engine_specs/mysql.py
  superset/errors.py
  tests/db_engine_specs/mysql_tests.py
Labels: data:connect:mysql, size/L

#13996 refactor: Bootstrap to AntD - ListGroup
  superset-frontend/babel.config.js
  superset-frontend/cypress-base/cypress/integration/explore/annotations.test.ts
  superset-frontend/spec/javascripts/dashboard/components/Header_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ShareSqlLabQuery_spec.jsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.jsx
  superset-frontend/src/explore/components/controls/CollectionControl/CollectionControl.less
  superset-frontend/src/explore/components/controls/CollectionControl/CollectionControl.test.tsx
  superset-frontend/src/explore/components/controls/CollectionControl/index.jsx
  superset-frontend/src/explore/components/controls/CustomListItem/index.tsx
Labels: Turing, migration:component, size/L

#13705 test: Adds tests for the FixedOrMetricControl component
  superset-frontend/spec/javascripts/explore/components/FixedOrMetricControl_spec.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/FixedOrMetricControl.test.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.jsx
Labels: Turing, size/L

#14113 fix: add missing __init__.py
  superset/queries/saved_queries/commands/importers/__init__.py
Labels: ready-to-merge, size/S

#14111 feat: invalid hostname and password error messages (Redshift)
  superset/db_engine_specs/redshift.py
  tests/db_engine_specs/redshift_tests.py
Labels: ready-to-merge, size/L

#13973 test: Add tests for Dashboard Header and HeaderActionsDropdown components
  superset-frontend/spec/javascripts/dashboard/components/HeaderActionsDropdown_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/Header_spec.jsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
Labels: Flexiana, size/XXL, test:component

#14072 feat: add Echarts gauge chart
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/gauge.test.js
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/M, viz:echarts

#14093 feat: error messages when connecting to MSSQL
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  tests/db_engine_specs/mssql_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: data:connect:mysql, size/L

#14091 feat: FE: Import for Queries II
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryList_spec.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/L, sql_lab:saved_queries

#14148 fix(dashboard): incorrect perm for users with multiple roles
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/util/findPermission.test.ts
  superset-frontend/src/dashboard/util/findPermission.ts
  superset-frontend/src/dashboard/util/getPermissions.ts
Labels: size/L

#14140 fix: QueryPane horizontal scroll
  superset-frontend/src/SqlLab/main.less
Labels: size/XS

#14129 fix(dashboard): filter set hydration not working
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/reducers/nativeFilters.ts
Labels: preset-io, size/S

#14146 feat: invalid DB name error messages (MySQL/Postgres/Redshift)
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/errors.py
  tests/db_engine_specs/mysql_tests.py
  tests/db_engine_specs/postgres_tests.py
  tests/db_engine_specs/redshift_tests.py
Labels: size/L

#14152 chore: update RELEASING readme
  RELEASING/README.md
Labels: preset-io, size/XS

#14090 refactor(userInfo): userinfo panel to styled component
  superset-frontend/spec/javascripts/profile/UserInfo_spec.tsx
  superset-frontend/src/profile/components/UserInfo.tsx
Labels: migration:component, preset-io, size/M

#14110 feat: Add health endpoint to WebSocket server
  superset-websocket/README.md
  superset-websocket/spec/index.test.ts
  superset-websocket/src/index.ts
Labels: size/M

#13561 feat: script to benchmark DB migrations
  requirements/base.txt
  scripts/benchmark_migration.py
  setup.cfg
  setup.py
  superset/examples/big_data.py
  superset/utils/mock_data.py
Labels: preset-io, size/L

#14169 chore: rename connection errors
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/setup/setupErrorMessages.ts
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/errors.py
  tests/databases/api_tests.py
  tests/db_engine_specs/mssql_tests.py
  tests/db_engine_specs/mysql_tests.py
  tests/db_engine_specs/postgres_tests.py
  tests/db_engine_specs/redshift_tests.py
Labels: ready-to-merge, size/L

#13828 feat(alert/report): chart as csv format attachment for email and slack
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/components/NotificationMethod.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset/migrations/versions/19e978e1b9c3_add_report_format_to_report_schedule_.py
  superset/models/reports.py
  superset/reports/api.py
  superset/reports/commands/exceptions.py
  superset/reports/commands/execute.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/reports/schemas.py
  superset/utils/csv.py
  tests/reports/commands_tests.py
  tests/reports/utils.py
Labels: preset-io, risk:db-migration, size/XL

#14013 chore(toggle thumbnails): use localstorage for toggle
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: home:others, preset-io, release:note, rush!, size/M

#14125 chore: Moves CronPicker to the components folder
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/CronPicker/CronPicker.test.tsx
  superset-frontend/src/components/CronPicker/CronPicker.tsx
  superset-frontend/src/components/CronPicker/index.ts
  superset-frontend/src/views/CRUD/alert/components/AlertReportCronScheduler.test.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertReportCronScheduler.tsx
Labels: Turing, folder:reorg

#14127 chore: Moves DropdownButton to the components folder
  superset-frontend/src/SqlLab/components/RunQueryActionButton.tsx
  superset-frontend/src/components/DropdownButton/DropdownButton.stories.tsx
  superset-frontend/src/components/DropdownButton/index.tsx
Labels: Turing, folder:reorg

#14135 chore: Moves Switch to the components folder
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertList_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertReportModal_spec.jsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/Switch/Switch.stories.tsx
  superset-frontend/src/components/Switch/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: Turing, folder:reorg

#14164 chore: Configures Jest to ignore storybook files
  superset-frontend/jest.config.js
Labels: Turing, size/XS

#14191 fix(viz): time shift read-only error
  superset/viz.py
Labels: preset-io, size/XS

#14109 feat: Adding encrypted field factory
  .pylintrc
  superset/app.py
  superset/config.py
  superset/connectors/druid/models.py
  superset/extensions.py
  superset/migrations/versions/289ce07647b_add_encrypted_password_field.py
  superset/migrations/versions/b5998378c225_add_certificate_to_dbs.py
  superset/migrations/versions/c2acd2cf3df2_alter_type_of_dbs_encrypted_extra.py
  superset/migrations/versions/e553e78e90c5_add_druid_auth_py_py.py
  superset/models/core.py
  superset/utils/encrypt.py
  tests/utils/encrypt_tests.py
Labels: preset-io, size/L

#14163 feat: publish superset helm chart
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  helm/superset/values.yaml
  lintconf.yaml
Labels: size/L

#14178 chore: type some SQL Lab components
  superset-frontend/src/SqlLab/components/QueryHistory.tsx
  superset-frontend/src/SqlLab/components/QueryStateLabel.tsx
  superset-frontend/src/SqlLab/components/TabStatusIcon.tsx
  superset-frontend/src/SqlLab/types.ts
Labels: size/L

#14180 fix: Add extra requires for shillelagh
  docs/src/pages/docs/Connecting to Databases/google-sheets.mdx
  docs/src/pages/docs/Connecting to Databases/index.mdx
  setup.py
Labels: size/XS

#14170 fix: Switching to local codecov script
  .github/workflows/bashlib.sh
  .github/workflows/codecov.sh
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
Labels: preset-io, size/XXL

#14171 feat: error messages when connecting to mssql
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/mssql.py
  superset/errors.py
  tests/db_engine_specs/mssql_tests.py
  tests/db_engine_specs/mysql_tests.py
  tests/db_engine_specs/redshift_tests.py
Labels: size/M

#14172 feat: error messages for Presto connections
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/setup/setupErrorMessages.ts
  superset/databases/commands/exceptions.py
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/errors.py
  tests/db_engine_specs/mysql_tests.py
  tests/db_engine_specs/postgres_tests.py
  tests/db_engine_specs/presto_tests.py
Labels: size/L

#14130 chore: Moves Modal to the components folder
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/spec/javascripts/datasource/ChangeDatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/datasource/DatasourceModal_spec.jsx
  superset-frontend/spec/javascripts/explore/components/VizTypeControl_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SaveQuery_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/alert/AlertReportModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/annotation/AnnotationModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/annotationlayers/AnnotationLayerModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/csstemplates/CssTemplateModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/database/DatabaseModal_spec.jsx
  superset-frontend/spec/javascripts/views/CRUD/data/savedquery/SavedQueryPreviewModal_spec.jsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal.tsx
  superset-frontend/src/SqlLab/components/SaveQuery.tsx
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/ConfirmStatusChange/ConfirmStatusChange.test.jsx
  superset-frontend/src/components/DeleteModal/index.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/components/Modal/index.ts
  superset-frontend/src/components/ModalTrigger/index.jsx
  superset-frontend/src/components/OmniContainer/index.tsx
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/CrossFilterScopingModal.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl.jsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayerModal.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplateModal.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/query/QueryPreviewModal.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryPreviewModal.tsx
Labels: Turing, folder:reorg

#14124 chore: Moves Collapse to the components folder
  superset-frontend/spec/javascripts/explore/components/ControlPanelsContainer_spec.tsx
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Collapse/Collapse.stories.tsx
  superset-frontend/src/components/Collapse/Collapse.test.tsx
  superset-frontend/src/components/Collapse/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.jsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: Turing, folder:reorg

#14220 fix(cross-filters): Fix missed metadata
  superset-frontend/src/dashboard/actions/hydrate.js
Labels: size/XS, v1.2

#14223 docs: add helm repo to kubernetes installation instructions
  docs/src/pages/docs/installation/kubernetes.mdx
Labels: size/S

#14122 feat: TrinoEngineSpec.adjust_database_uri
  superset/db_engine_specs/trino.py
  tests/db_engine_specs/trino_tests.py
Labels: size/M

#13830 fix: Use utils.json_iso_dttm_ser to dump jsons when async query execution
  superset/views/core.py
Labels: ready-to-merge, size/XS

#14128 chore: Moves InfoTooltip to the components folder
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
Labels: Turing, folder:reorg

#14204 feat: improve engine spec discoverability
  superset/db_engine_specs/__init__.py
  superset/models/core.py
  tests/db_engine_specs/base_engine_spec_tests.py
  tests/db_engine_specs/hive_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/M

#14238 chore: Add Preset code owners for ephemeral test env workflows
  .github/CODEOWNERS
Labels: preset-io, size/XS

#14218 fix(native-filters): fix remove native filters
  superset-frontend/src/dataMask/reducer.ts
Labels: size/S, v1.2

#14098 test(native-filters): add integration tests for filter bar
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/jest.config.js
  superset-frontend/spec/fixtures/mockDashboardInfo.js
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/EditSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FiltersHeader.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/Footer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/utils/common.js
Labels: v1.2, viz:dashboard:native-filter

#14243 fix(explore): Filter edit popover not opening in DnD mode
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
Labels: size/XS

#14245 test(native-filters): Filter config modal test
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/utils/common.js
  superset-frontend/src/utils/testUtils.test.ts
  superset-frontend/src/utils/testUtils.ts
Labels: size/L

#14244 fix(native-filters): merge_extra_form_data extras processing
  superset/constants.py
  superset/utils/core.py
  tests/utils_tests.py
Labels: preset-io, size/S

#14228 chore(prophet): bump prophet to 1.0.1
  setup.py
  superset/utils/pandas_postprocessing.py
  tests/charts/api_tests.py
  tests/pandas_postprocessing_tests.py
Labels: preset-io, size/S
