Repository apache/superset, pull requests merged in 2021-09, with the labels that each got.

#16482 fix: can't drop column when name overlap
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/utils/optionSelector.ts
Labels: size/XS

#16546 refactor: sql_json view endpoint: extract to method for code reusing
  superset/views/core.py
Labels: size/S

#16563 chore: bump superset-ui to 0.18.1
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#16531 fix: Adds a loading message when needed in the Select component
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/L

#16558 feat: Arash/dashboardql
  superset/views/graphql.py
  superset/views/schema.graphql
Labels: size/L

#16570 fix(tests): make parquet select deterministic with order by
  tests/integration_tests/csv_upload_tests.py
Labels: size/XS, preset-io

#16559 chore: bump emotion to help with cache clobbering
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, preset-io

#16412 fix: Support Jinja template functions in global async queries
  superset/jinja_context.py
  superset/tasks/async_queries.py
  superset/views/utils.py
  tests/integration_tests/tasks/async_queries_tests.py
Labels: size/L, preset-io

#16573 fix: impersonate user label/tooltip
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
Labels: size/S

#16568 docs: update security page for small typos
  docs/src/pages/docs/security-page.mdx
Labels: size/XS

#16535 feat: Add Aurora Data API engine spec
  setup.py
  superset/db_engine_specs/__init__.py
  superset/db_engine_specs/aurora.py
  superset/db_engine_specs/rockset.py
  superset/models/slice.py
Labels: size/M, ready-to-merge

#16548 refactor: sql_json view endpoint: encapsulate ctas parameters
  superset/utils/sqllab_execution_context.py
  superset/views/core.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/L

#16595 refactor: sql_json view endpoint: separate concern into ad hod method
  superset/utils/sqllab_execution_context.py
  superset/views/core.py
  tests/integration_tests/sqllab_tests.py
Labels: size/M

#16594 feat: Experimental cross-filter plugins
  superset-frontend/src/filters/components/GroupBy/index.ts
  superset-frontend/src/filters/components/Range/index.ts
  superset-frontend/src/filters/components/Select/index.ts
  superset-frontend/src/filters/components/Time/index.ts
  superset-frontend/src/filters/components/TimeColumn/index.ts
  superset-frontend/src/filters/components/TimeGrain/index.ts
Labels: size/XS, v1.3

#16601 chore(deps): bump superset-ui to 0.18.2
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M, preset-io

#16592 fix: Remove export CSV in old filter box
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/M

#16525 perf(dashboard): reduce rerenders of DragDroppable
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
Labels: size/L

#16545 perf(dashboard): decrease number of rerenders of FiltersBadge
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/selectors.ts
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Labels: size/L

#16614 fix: TemporalWrapperType string representation
  superset/db_engine_specs/base.py
  superset/models/sql_types/base.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/model_tests.py
Labels: size/S, preset-io

#16587 chore: Merges latest Select changes
  superset-frontend/src/components/Select/Select.tsx
Labels: size/M

#16536 fix: params in sql lab are jumpy in the ace editor
  superset-frontend/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/M, preset-io

#16617 chore: Pylint downgrade
  requirements/testing.in
  requirements/testing.txt
  superset/tasks/async_queries.py
  superset/views/core.py
Labels: size/S

#16632 fix(dnd): make clicked dnd metrics unique
  superset-frontend/src/explore/components/DatasourcePanel/types.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Labels: size/S, preset-io

#16615 chore: Bump FAB to 3.3.2
  setup.py
Labels: size/XS, preset-io

#16621 fix(dashboard): label colors included in explore url
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
Labels: size/S

#16375 feat: Backend Validation for Creation Method
  superset/models/slice.py
  superset/reports/api.py
  superset/reports/commands/create.py
  superset/reports/commands/exceptions.py
  superset/reports/dao.py
  tests/integration_tests/reports/api_tests.py
Labels: size/L

#16634 fix(sqla): support for date adhoc filter
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
Labels: size/XS, preset-io, v1.3

#16629 fix: pybabel extract fails
  superset/sql_lab.py
Labels: size/XS

#16638 chore: Writes the tests for the new Select component
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/XL

#16646 refactor: sql_json view endpoint: separate save query concern
  superset/views/core.py
Labels: size/M

#16648 chore: Bump Flask-OpenID to 1.3.0
  requirements/base.txt
Labels: size/XS, preset-io, v1.3

#16647 refactor: sql_json view endpoint: separate validate query concern
  superset/views/core.py
Labels: size/S

#16649 refactor: sql_json view endpoint: separate query rendering concern
  superset/views/core.py
Labels: size/M

#16653 refactor: sql_json view endpoint: separate setting query limit concern
  superset/views/core.py
Labels: size/M

#16549 feat(dashboard): Native filters - add type to native filter configuration
  superset-frontend/spec/fixtures/mockNativeFilters.ts
  superset-frontend/spec/javascripts/dashboard/fixtures/mockNativeFilters.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset/migrations/versions/021b81fe4fbb_add_type_to_native_filter_configuration.py
Labels: size/L

#16662 fix: fix assignment in FilterBoxViz
  superset/viz.py
  tests/integration_tests/viz_tests.py
Labels: size/M, v1.3

#16639 fix: Ensure alerts & reports aren't schduled when flag is off
  superset/tasks/scheduler.py
  tests/integration_tests/reports/scheduler_tests.py
Labels: size/S

#16676 refactor: sql_json view endpoint: separate flask response creation concern
  superset/views/core.py
Labels: size/M

#16593 feat: Tabs in column
  superset-frontend/spec/javascripts/dashboard/util/isValidChild_spec.ts
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Column.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/util/isValidChild.ts
Labels: size/M

#16677 refactor: sql_json view endpoint: use execution context instead of query
  superset/utils/sqllab_execution_context.py
  superset/views/core.py
Labels: size/L

#16618 feat: feature flag configurable custom backend
  superset/config.py
  superset/utils/feature_flag_manager.py
  tests/integration_tests/feature_flag_tests.py
Labels: size/M, preset-io

#16680 feat(sqla): add time grain and time column to jinja params
  docs/src/pages/docs/installation/sql_templating.mdx
  superset/connectors/sqla/models.py
Labels: size/M, doc:user, preset-io

#16682 refactor: sql_json view endpoint: move all logic from view to Command class
  superset/sqllab/__init__.py
  superset/sqllab/command.py
  superset/sqllab/command_status.py
  superset/views/core.py
Labels: size/XL

#16668 fix: reset perf logger timer for soft navigation for SPA pages
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/views/App.tsx
Labels: size/M

#14955 feat: show build number value in the About if present in the config
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset/config.py
  superset/views/base.py
Labels: size/S

#16287 chore(pylint): Reenable too-many-lines check
  .pylintrc
  superset/charts/api.py
  superset/charts/schemas.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/databases/api.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  superset/examples/countries.py
  superset/security/manager.py
  superset/utils/core.py
  superset/views/core.py
  superset/viz.py
Labels: size/S

#16527 feat: adding logging to validation
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/databases/commands/test_connection.py
  superset/databases/commands/validate.py
Labels: size/S

#16608 fix: Normalise `*.sh` File Endings
  .gitattributes
Labels: size/XS

#16696 fix: remove useless-suppression for pylint
  superset/models/slice.py
  superset/sqllab/command.py
Labels: size/XS

#16687 fix: don't send invalid URLs back to the user
  superset/views/redirects.py
Labels: size/XS, preset-io

#16699 fix(explore): only refresh data panel on relevant changes
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
Labels: size/S, preset-io

#16666 fix: Select refactoring known issues
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
Labels: size/L, Flexiana

#16700 fix(explore): make clicked dnd filters unique
  superset-frontend/src/explore/components/DatasourcePanel/types.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
Labels: size/S, preset-io

#16669 chore: bump sasl
  requirements/base.in
  requirements/base.txt
Labels: size/XS, preset-io

#16540 chore: Add option to set a custom color scheme as default
  superset-frontend/src/setup/setupColors.ts
  superset/config.py
Labels: size/M, preset-io

#16695 feat: show nice error page in prod
  superset/views/base.py
Labels: size/XS

#16702 perf(dashboard): native filter select will be stuck if there has a filter box.
  superset-frontend/src/components/Select/DeprecatedSelect.tsx
Labels: size/XS

#16706 fix: Ignores case and special keys when searching in the Select component
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/M

#16589 chore(pylint): Remove top-level disable
  .pylintrc
  RELEASING/changelog.py
  superset/commands/importers/v1/examples.py
  superset/config.py
  superset/connectors/druid/views.py
  superset/dashboards/filters.py
  superset/db_engine_specs/base.py
  superset/db_engines/hive.py
  superset/examples/deck.py
  superset/initialization/__init__.py
  superset/models/core.py
  superset/models/slice.py
  superset/security/manager.py
  superset/sql_lab.py
  superset/sql_validators/base.py
  superset/sqllab/command.py
  superset/tasks/async_queries.py
  superset/tasks/cache.py
  superset/tasks/schedules.py
  superset/utils/date_parser.py
  superset/utils/logging_configurator.py
  superset/utils/mock_data.py
  superset/utils/pandas_postprocessing.py
  superset/views/base.py
  superset/views/core.py
  superset/views/filters.py
  superset/viz.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/commands_test.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/integration_tests/fixtures/pyodbcRow.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/sql_validator_tests.py
  tests/integration_tests/utils/core_tests.py
  tests/integration_tests/utils/csv_tests.py
  tests/integration_tests/utils/hashing_tests.py
  tests/integration_tests/utils/public_interfaces_test.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/tasks/test_cron_util.py
Labels: size/XXL

#16711 feat(jinja): improve url parameter formatting
  UPDATING.md
  superset/jinja_context.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/jinja_context_tests.py
Labels: size/M, preset-io

#16674 fix: report with timeout chart
  superset/utils/webdriver.py
Labels: size/XS

#16712 chore: Improves the Select component to avoid additional queries when all values have been loaded
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/M

#16656 fix: set importer as owner
  superset/charts/commands/importers/v1/utils.py
  superset/dashboards/commands/importers/v1/utils.py
  superset/datasets/commands/importers/v1/utils.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
Labels: size/M

#16692 fix: catch exception when create connection
  superset/db_engine_specs/bigquery.py
  superset/models/core.py
  tests/integration_tests/model_tests.py
Labels: size/S

#16660 feat: add support for generic series limit
  UPDATING.md
  docs/src/pages/docs/installation/sql_templating.mdx
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset/charts/schemas.py
  superset/common/query_actions.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/fixtures/query_context.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/query_context_tests.py
Labels: size/L, preset-io

#16716 fix(pandas-postprocessing): percentage compare to use correct column
  superset/utils/pandas_postprocessing.py
  tests/integration_tests/pandas_postprocessing_tests.py
Labels: size/XS, preset-io, v1.3

#16703 feat: Helm chart: Support hostAliases
  helm/superset/Chart.yaml
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/S, need:enable-community

#16683 feat: add global max row limit
  superset/common/query_actions.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/config.py
  superset/utils/core.py
  superset/utils/sqllab_execution_context.py
  superset/views/core.py
  superset/viz.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/schema_tests.py
  tests/integration_tests/query_context_tests.py
Labels: size/L, preset-io

#16720 chore: bump path-parse module in websocket sidecar app
  superset-websocket/package-lock.json
  superset-websocket/utils/client-ws-app/package-lock.json
Labels: size/XS, preset-io

#16693 chore: add semantic title to the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS, preset-io, ready-to-merge

#16607 feat: add resample operator in post processing
  superset/charts/schemas.py
  superset/utils/pandas_postprocessing.py
  tests/integration_tests/pandas_postprocessing_tests.py
Labels: size/M

#16627 other: Provide option to add environment variables to only supersetNode
  helm/superset/Chart.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/XS, need:enable-community

#16725 chore: bump superset-ui 0.18.5
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#16741 chore: Upgrade immer package version
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#16748 ci: bump npm to version 7
  .github/workflows/bashlib.sh
  scripts/ci_check_no_file_changes.sh
Labels: size/XS, preset-io

#16736 fix: update execution logs and states for alerts
  superset/reports/commands/execute.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/L, preset-io

#16732 chore: add browser info to template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: size/XS

#16753 fix: save query should use the correct sql
  superset-frontend/spec/javascripts/sqllab/actions/sqlLab_spec.js
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/M, preset-io

#16762 chore: log URI before downloading data on import
  superset/datasets/commands/importers/v1/utils.py
Labels: size/XS

#16769 fix: handle CTEs with comments on is_select
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#16767 fix: typo in log
  superset/utils/webdriver.py
Labels: size/XS, ready-to-merge

#16776 fix(dataset): retain is_dttm if set on metadata sync
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: size/XS, preset-io, v1.3

#16483 refactor: Changes the DatabaseSelector and TableSelector to use the new Select component
  superset-frontend/spec/javascripts/sqllab/SqlEditorLeftBar_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditor_spec.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/components/CertifiedIcon/index.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/Icons/Icon.tsx
  superset-frontend/src/components/TableSelector/TableSelector.test.jsx
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/components/WarningIconWithTooltip/index.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset/datasets/api.py
  superset/views/core.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/XXL, test_priority:high

#16393 refactor: Changes the list views to use the new Select component
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/src/components/DatePicker/index.tsx
  superset-frontend/src/components/ListView/CardSortSelect.tsx
  superset-frontend/src/components/ListView/Filters/Base.ts
  superset-frontend/src/components/ListView/Filters/DateRange.tsx
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/Filters/Select.tsx
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/ListView.test.jsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/components/SearchInput/SearchInput.stories.tsx
  superset-frontend/src/components/SearchInput/SearchInput.test.jsx
  superset-frontend/src/components/SearchInput/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.test.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.test.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.test.jsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/XXL, test_priority:high

#16701 chore: Upgrade Webpack to v5
  .github/workflows/bashlib.sh
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/Icons/Icon.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/visualizations/FilterBox/FilterBoxChartPlugin.js
  superset-frontend/src/visualizations/TimeTable/TimeTableChartPlugin.js
  superset-frontend/webpack.config.js
Labels: size/L

#16533 feat: Add Cypress makefile cmds
  Makefile
Labels: size/S

#16770 feat: add support for JOIN in Druid
  superset/config.py
  superset/db_engine_specs/druid.py
Labels: size/XS

#16768 fix: encode rison characters when searching
  requirements/base.txt
  setup.py
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/utils.ts
Labels: size/S

#16454 feat: add certifiedby & certification details fields to the edit dataset columns fields
  UPDATING.md
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/dataset/types.ts
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  superset/migrations/versions/181091c0ef16_add_extra_column_to_columns_model.py
  superset/models/helpers.py
  tests/integration_tests/datasets/commands_tests.py
Labels: size/L, preset-io

#16672 chore: Update OpenAPI definition /database/available
  docs/src/resources/openapi.json
Labels: size/M

#16784 chore: Update documentation on schema changes
  docs/src/pages/docs/frequently-asked-questions-page.mdx
Labels: size/S

#14015 feat(filter-set): Add filterset resource
  superset/commands/exceptions.py
  superset/commands/export.py
  superset/common/not_authrized_object.py
  superset/common/request_contexed_based.py
  superset/dashboards/commands/exceptions.py
  superset/dashboards/filter_sets/__init__.py
  superset/dashboards/filter_sets/api.py
  superset/dashboards/filter_sets/commands/__init__.py
  superset/dashboards/filter_sets/commands/base.py
  superset/dashboards/filter_sets/commands/create.py
  superset/dashboards/filter_sets/commands/delete.py
  superset/dashboards/filter_sets/commands/exceptions.py
  superset/dashboards/filter_sets/commands/update.py
  superset/dashboards/filter_sets/consts.py
  superset/dashboards/filter_sets/dao.py
  superset/dashboards/filter_sets/filters.py
  superset/dashboards/filter_sets/schemas.py
  superset/initialization/__init__.py
  superset/migrations/versions/3ebe0993c770_filterset_table.py
  superset/models/dashboard.py
  superset/models/filter_set.py
  tests/integration_tests/dashboards/filter_sets/__init__.py
  tests/integration_tests/dashboards/filter_sets/conftest.py
  tests/integration_tests/dashboards/filter_sets/consts.py
  tests/integration_tests/dashboards/filter_sets/create_api_tests.py
  tests/integration_tests/dashboards/filter_sets/delete_api_tests.py
  tests/integration_tests/dashboards/filter_sets/get_api_tests.py
  tests/integration_tests/dashboards/filter_sets/update_api_tests.py
  tests/integration_tests/dashboards/filter_sets/utils.py
  tests/integration_tests/dashboards/superset_factory_util.py
  tests/integration_tests/superset_test_config.py
Labels: risk:db-migration, size/XXL, viz:dashboard:filterset

#16807 chore: bump superset to 0.18.6
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: size/M, preset-io

#16622 refactor: Reports - ReportModal
  superset-frontend/src/components/ReportModal/HeaderReportActionsDropdown/index.tsx
Labels: size/M, preset-io

#16763 fix: show Import button only if has perms
  superset-frontend/src/views/CRUD/chart/ChartList.test.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.test.jsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.test.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.test.jsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.test.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Labels: size/L, ready-to-merge

#16795 feat: handle temporal columns in group bys
  superset/connectors/sqla/models.py
  superset/db_engine_specs/druid.py
Labels: size/M

#16823 chore: Remove immutable.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/M

#16800 fix: list Db2 as supported databases
  superset/db_engine_specs/__init__.py
Labels: size/S

#16833 fix: Updates the selected values when changing the native filter type, column or default value
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/dataMask/reducer.ts
Labels: size/M

#16836 fix: 500 tab title
  superset-frontend/src/assets/staticPages/500.html
Labels: size/XS

#16837 fix(SqlLab): display tooltip when disabled
  superset-frontend/src/components/Button/index.tsx
Labels: size/XS

#16809 chore: upgrade to Node 16
  .github/workflows/bashlib.sh
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-translations.yml
  CONTRIBUTING.md
  Dockerfile
  UPDATING.md
  docker-compose.yml
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SqlEditorLeftBar_spec.jsx
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTag.test.jsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-websocket/Dockerfile
Labels: size/L, preset-io

#16843 refactor: sqllab: move sqllab ralated enumns and utils to more logical place
  superset/common/db_query_status.py
  superset/common/query_actions.py
  superset/common/query_context.py
  superset/common/utils.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/sql_lab.py
  superset/sqllab/command.py
  superset/sqllab/limiting_factor.py
  superset/sqllab/utils.py
  superset/utils/sqllab_execution_context.py
  superset/views/core.py
  superset/views/utils.py
  superset/viz.py
  tests/integration_tests/cache_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/queries/api_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/L

#16758 fix(helm): Exit init script immediately on error
  helm/superset/Chart.yaml
  helm/superset/values.yaml
Labels: size/XS

#16831 fix(native-filters): filter indicator stale state
  superset-frontend/src/dashboard/components/FiltersBadge/selectors.ts
Labels: size/S, preset-io

#16828 fix(native-filters): emitted filter label format
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/utils.ts
Labels: size/M, preset-io

#16840 fix(gallery): Hide the bottom info section when no chart is being selected
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: size/M

#16849 chore: db migrate timeseries_limit_metric to legacy_order_by
  superset/migrations/versions/60dc453f4e2e_migrate_timeseries_limit_metric_to_.py
Labels: size/M

#16850 chore: bump superset-ui to 0.18.8
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
Labels: size/M, preset-io

#16854 fix(native-filters): ignore unset filter box time range
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/core_tests.py
Labels: size/M, preset-io

#15777 chore: Select component refactoring - FilterControl - Iteration 5
  superset-frontend/cypress-base/cypress/integration/explore/AdhocFilters.test.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
Labels: size/L, Flexiana, risk:refactor

#16423 chore: Select component refactoring - MetricControl - Iteration 5
  superset-frontend/cypress-base/cypress/integration/explore/AdhocMetrics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopover_spec.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
Labels: size/L, Flexiana, risk:refactor, test_priority:high

#16440 chore: Select component refactoring - DndColumnSelectControl - Iteration 5
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
Labels: size/M, Flexiana, risk:refactor, test_priority:high

#16445 chore: Select component refactoring - PropertiesModal - Iteration 5
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
Labels: size/L, Flexiana, risk:refactor, test_priority:low

#16446 chore: Select component refactoring - SaveModal - Iteration 5
  CONTRIBUTING.md
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/link.test.ts
  superset-frontend/spec/javascripts/explore/components/SaveModal_spec.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
Labels: size/M, Flexiana, risk:refactor, test_priority:high

#16442 chore: Select component refactoring - TimeSeriesColumnControl - Iteration 5
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/TimeSeriesColumnControl.test.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.jsx
Labels: size/M, Flexiana, risk:refactor, test_priority:NA

#16851 fix(dashboard): Fill form with the latest values when undo in native filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: size/L, Flexiana

#16819 chore: move repro steps up in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: size/S

#16857 chore: Upgrades Storybook to version 6.3.8 to make it compatible with Webpack 5
  superset-frontend/.storybook/main.js
  superset-frontend/.storybook/preview.jsx
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#16855 refactor(reports): Arash/refactor reports
  superset-frontend/src/components/ReportModal/HeaderReportActionsDropdown/index.tsx
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset/reports/api.py
Labels: size/M

#16861 feat(snowflake): Snowflake dynamic form
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/db_engine_specs/snowflake.py
Labels: size/M

#16867 fix(build): enable hot reloading of linked packages
  superset-frontend/src/setup/setupColors.ts
  superset-frontend/webpack.config.js
Labels: size/XS, preset-io

#16219 feat: added extraEnvRaw variable to load values from other secrets in Helm chart
  helm/superset/Chart.yaml
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/M

#16628 feat: Add Private Google Sheets to dynamic form
  superset-frontend/package-lock.json
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/databases/api.py
  superset/databases/schemas.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/gsheets.py
  superset/models/core.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/L

#16862 feat: add Databricks ODBC engine spec
  docs/src/pages/docs/Connecting to Databases/databricks.mdx
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/hive.py
Labels: size/M

#16877 fix(native-filters): Overhead when changing the filter name
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: size/M

#16893 fix: Clear native filters state
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/containers/Dashboard.ts
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/dataMask/reducer.ts
Labels: size/S, v1.3

#16852 refactor: sql lab: handling command exceptions
  superset/errors.py
  superset/exceptions.py
  superset/sqllab/command.py
  superset/sqllab/exceptions.py
  superset/utils/sqllab_execution_context.py
  superset/views/core.py
Labels: size/L

#16896 fix(sqla): allow series limit without subquery support
  superset/connectors/sqla/models.py
Labels: size/XS, preset-io

#16876 fix: Removing parent filter causes incorrect state of child filter
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
Labels: size/L

#16899 fix(GSheets): Fixing DB Connections Bug
  superset-frontend/src/views/CRUD/hooks.ts
  superset/databases/api.py
Labels: size/XS

#16859 fix: Fix Uniqueness check before update for Sqllab Overwrites
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/api/dataset.ts
  superset/datasets/commands/update.py
  superset/datasets/dao.py
Labels: size/L

#16916 ci: check npm lockfile version
  .github/workflows/superset-frontend.yml
  scripts/ci_check_npm_lock_version.sh
  superset-frontend/package-lock.json
Labels: size/M, preset-io

#16895 fix: time comparison can't guarantee the accuracy
  superset/common/query_context.py
  tests/integration_tests/query_context_tests.py
Labels: size/L

#16880 chore: Moves the stylesheets folder to the assets folder
  superset-frontend/.eslintignore
  superset-frontend/package.json
  superset-frontend/src/CRUD/crud.less
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/assets/stylesheets/antd/index.less
  superset-frontend/src/assets/stylesheets/less/cosmo/bootswatch.less
  superset-frontend/src/assets/stylesheets/less/cosmo/cosmoTheme.js
  superset-frontend/src/assets/stylesheets/less/cosmo/variables.less
  superset-frontend/src/assets/stylesheets/less/fonts.less
  superset-frontend/src/assets/stylesheets/less/index.less
  superset-frontend/src/assets/stylesheets/less/variables.less
  superset-frontend/src/assets/stylesheets/reactable-pagination.less
  superset-frontend/src/assets/stylesheets/superset.less
  superset-frontend/src/components/FilterableTable/FilterableTableStyles.less
  superset-frontend/src/components/TableLoader/index.tsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
  superset-frontend/src/dashboard/stylesheets/components/new-component.less
  superset-frontend/src/dashboard/stylesheets/filter-scope-selector.less
  superset-frontend/src/dashboard/stylesheets/index.less
  superset-frontend/src/explore/App.jsx
  superset-frontend/src/explore/main.less
  superset-frontend/src/profile/main.less
  superset-frontend/src/theme.ts
  superset-frontend/src/utils/downloadAsImage.ts
  superset-frontend/src/visualizations/FilterBox/FilterBox.less
  superset-frontend/webpack.config.js
Labels: size/M

#16908 fix: Disable lazy loading for the Database selector
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
Labels: size/XS

#16906 fix: Inclusive sign in time range display
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
Labels: size/XS

#16919 chore: Adds the drag icon
  superset-frontend/src/assets/images/icons/drag.svg
  superset-frontend/src/components/Icons/index.tsx
Labels: size/S

#16871 fix(Explore): Clear filter value when changing columns
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Labels: size/M, Flexiana

#16923 fix(Explore): Handle undefined operatorId
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Labels: size/XS, Flexiana

#16875 refactor(DB Connections): Build Snowflake Dynamic Form
  setup.cfg
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/TableCatalog.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/ValidatedInputField.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset/datasets/dao.py
  superset/db_engine_specs/snowflake.py
  superset/models/core.py
Labels: size/XXL

#16925 fix: Unable to add dataset
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
Labels: size/XS

#16921 fix: Native filters cyclic dependency
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
Labels: size/S

#16902 fix: RBAC hide right menu
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset-frontend/src/views/menu.tsx
Labels: size/L
