Repository apache/superset, pull requests merged in 2021-06, with the labels that each got.

#14765 feat: add support for filters in sqlLab
  docs/installation.rst
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset/views/utils.py
Labels: size/M

#14885 fix: Query History cosmetic issues
  superset-frontend/src/SqlLab/components/QueryTable/index.jsx
  superset-frontend/src/SqlLab/components/QueryTable/styles.ts
Labels: size/L

#14902 fix: Remove Icon and align close button on DatasetModal
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
Labels: size/S

#14832 feat: validation db modal
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/databases/commands/validate.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
Labels: preset-io, size/L

#14818 feat: Icon Button
  superset-frontend/src/components/IconButton/IconButton.stories.tsx
  superset-frontend/src/components/IconButton/IconButton.test.jsx
  superset-frontend/src/components/IconButton/index.tsx
Labels: size/L

#14932 chore: Improves the native filters UI/UX - iteration 6
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTabs.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: Turing, size/L, test:case, viz:dashboard:native-filter

#14894 fix: is_temporal should overwrite is_dttm
  superset/connectors/sqla/models.py
  tests/sqla_models_tests.py
Labels: size/XS, viz:explore:datapanel, viz:explore:dataset

#14945 fix: time parser truncate to first day of year/month
  superset/utils/date_parser.py
  tests/utils/date_parser_tests.py
Labels: size/S

#14933 feat(dashboard/native-filters): Hide filters out of scope of current tab
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/ChartHolder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tabs_spec.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/types.ts
Labels: demo, release:note, size/L

#14934 feat: Adding FORCE_SSL as feature flag in config.py
  superset/config.py
Labels: size/XS

#14953 fix: additional safeguard for ResultSet
  superset-frontend/src/SqlLab/components/ResultSet.tsx
Labels: size/XS

#14863 feat: add type_generic and is_dttm to table metadata
  .pylintrc
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset/connectors/sqla/models.py
Labels: size/S

#14964 fix(native-filters): cascading filters not rendering in tab
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
Labels: preset-io, size/M

#14966 feat(native-filters): apply cascading without instant filtering
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadeFilterControl/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadePopover/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: preset-io, size/M

#14971 fix: renamed sqllab filters to _filters
  docs/installation.rst
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset/views/utils.py
Labels: size/XS

#14845 feat: Dynamic Form for edit DB Modal
  superset-frontend/cypress-base/cypress/integration/database/modal.test.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/databases/schemas.py
  superset/models/core.py
  tests/databases/api_tests.py
Labels: size/L

#14830 refactor: Convert TableElement.jsx component from class to functional with hooks
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/SqlLab/components/TableElement.jsx
Labels: size/L

#14900 fix(filter box): replace freeform where clause with ilike
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: preset-io, size/XS, viz:chart-filterbox

#14951 feat(db-connection-ui): Show Preferred DBs
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset/config.py
Labels: size/L

#14980 fix(native-filters): update cascaded filter state on change
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: preset-io, size/XS

#14982 fix(native-filters): remove implied fetch predicate
  superset-frontend/src/filters/components/Range/buildQuery.ts
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/buildQuery.ts
Labels: preset-io, size/XS

#14984 fix(native-filters): Fix "undefined" error after editing a filter
  superset-frontend/src/dashboard/actions/nativeFilters.ts
Labels: size/S

#14981 feat(native-filters): add markers and number formatter to range filter
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.stories.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
Labels: preset-io, size/L

#14979 fix: toggle fullscreen on the dashboard
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/XS

#14996 fix: apply template_params on external_metadata
  superset/connectors/sqla/models.py
  tests/datasource_tests.py
Labels: size/S

#14997 docs: fix custom oauth config
  docs/src/pages/docs/installation/configuring.mdx
Labels: preset-io, size/XS

#14950 docs: fix typos on installation.rst
  docs/installation.rst
Labels: doc:user, ready-to-merge, size/XS

#14829 feat(db-connection-ui): Big Query Add Database Form
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset/db_engine_specs/bigquery.py
Labels: size/L

#14976 feat: adding SSL Toggle to Create Database Modal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
Labels: size/L

#14990 docs: Updates index.mdx
  docs/src/pages/docs/installation/index.mdx
Labels: size/XS

#15010 docs: required information for OAuth2 configuration
  docs/src/pages/docs/installation/configuring.mdx
Labels: size/XS

#14869 feat(native-filters): Support default to first value in select filter
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Select/types.ts
Labels: size/L, viz:dashboard:native-filter

#15012 fix(native-filters): avoid double load on select initialization
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: preset-io, size/M

#15016 chore(ci): fix ci conflict
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: preset-io, size/XS

#15021 chore: rename 'Source' to 'Database' for consistency
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: preset-io, size/XS

#14995 fix: adding additional configs and colors for queryHistory
  superset-frontend/src/SqlLab/components/QueryTable/index.jsx
Labels: size/S

#14921 feat(filter-box): hide druid options if druid not enabled
  superset-frontend/src/visualizations/FilterBox/controlPanel.jsx
  superset/views/base.py
Labels: 2021.21, preset-io, rush!, size/M, viz:explore:dynamic-control

#15025 fix(dashboard): custom css should be removed on unmount
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/util/injectCustomCss.ts
Labels: preset-io, size/M

#15013 refactor: Add "is_select_query" method to base engine spec to unlock non-SQL dialects
  superset/db_engine_specs/base.py
  superset/sql_lab.py
Labels: size/S

#15031 fix: display all metric results in editor
  superset-frontend/spec/fixtures/mockDatasource.js
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: preset-io, size/M

#14954 fix(explore): Long labels should wrap to new line
  superset-frontend/src/explore/components/ControlHeader.jsx
Labels: Flexiana, bash!, ready-for-review, size/XS, viz:explore:uiux

#14878 fix: Empty tab component in Dashboard cannot be deleted
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
Labels: Flexiana, bash!, demo, revisit:theme-vars, size/XS

#15033 fix(explore): Datepicker glitch on hover outside the modal
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
Labels: bash!, blocking!, rush!, size/XS

#15038 fix(native-filters): show overridden chart name on scoping tree
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.ts
  superset-frontend/src/dashboard/types.ts
Labels: preset-io, size/XS

#14868 feat: add more timeout configuration on screenshots
  superset/config.py
  superset/utils/webdriver.py
  tests/thumbnails_tests.py
Labels: preset-io, size/M

#14846 chore: Align down icons on header
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
Labels: size/XS

#14870 chore: Bulk Select X Button Alignment
  superset-frontend/src/components/ListView/ListView.tsx
Labels: size/XS

#15044 docs: provide config option for openid-connect provider #13948
  docs/src/pages/docs/installation/configuring.mdx
Labels: size/S

#15032 fix: benchmark migration script
  scripts/benchmark_migration.py
  superset/migrations/versions/27ae655e4247_make_creator_owners.py
  superset/migrations/versions/c82ee8a39623_add_implicit_tags.py
  superset/utils/mock_data.py
Labels: ready-to-merge, size/L

#15048 fix: edit BQ w/o encrypted_extra
  superset/models/core.py
Labels: ready-to-merge, size/S

#14960 fix: font regression in SQL Lab
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.tsx
  superset-frontend/src/components/ErrorMessage/ParameterErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/ParameterErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
Labels: ready-to-merge, size/S

#15047 fix: import metrics with extra
  superset/datasets/commands/importers/v1/utils.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/XS

#15023 feat(database-connection-ui) Allow configuration of Database Images from SupersetText
  superset-frontend/images/icons/default_db_image.svg
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/Icon/index.tsx
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/M

#15053 refactor: adopt --app as celery global option
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  CONTRIBUTING.md
  docker/docker-bootstrap.sh
  docs/installation.rst
  docs/src/pages/docs/installation/alerts_reports.mdx
  docs/src/pages/docs/installation/async_queries_celery.mdx
  helm/superset/Chart.yaml
  helm/superset/values.yaml
  tox.ini
Labels: size/M

#15019 docs: jinja
  docs/src/pages/docs/installation/sql_templating.mdx
Labels: need:more-info, preset-io, size/L

#14942 build(webpack): use [contenthash] instead of [chunkhash]
  superset-frontend/webpack.config.js
Labels: preset-io, size/S

#15069 fix: move metric parsing to state instantiation
  superset-frontend/spec/javascripts/datasource/DatasourceEditor_spec.jsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: preset-io, size/M

#15057 feat: style import button
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.test.jsx
Labels: ready-to-merge, size/L

#15071 additional params to the DatabaseConnectionForm
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Labels: size/S

#15064 chore: Add 'fetching' status to QueryStatus
  superset-frontend/src/SqlLab/components/QueryTable/index.jsx
  superset-frontend/src/SqlLab/types.ts
  superset/utils/core.py
Labels: size/S

#15055 feat: spinner for imports
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/ImportModal/index.tsx
Labels: ready-to-merge, size/S

#15056 fix: confirm overwrite and password on import
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/L

#15041 feat: Added Steps and centralized Headers
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/L

#15073 fix: disappearing tooltips on dashboards
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#15080 fix(dnd): add isExtra prop to Option
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/types.ts
Labels: preset-io, size/M

#15015 fix(native-filters): remove hard-coded default time range
  superset-frontend/src/dashboard/components/FiltersBadge/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
Labels: preset-io, ready-to-merge, size/M, viz:dashboard:native-filter

#15017 chore: Improves the native filters UI/UX - iteration 7
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
Labels: Turing, size/XL, viz:dashboard:native-filter

#15005 fix(native-filters): show error if default value query failed
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: preset-io, size/M, viz:dashboard:native-filter

#15084 fix(native-filters): empty label indicator
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: preset-io, size/XS

#14952 fix(explore): Explore page boolean filter is broken for Presto DB
  superset-frontend/src/components/Select/NativeSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/AdhocFilter.test.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/AdhocFilterControl.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/adhocFilterType.js
  superset-frontend/src/explore/components/controls/MetricControl/FilterDefinitionOption.jsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset/utils/core.py
Labels: size/XXL

#15095 fix(db-connection-ui): Bug rendering db creation modal if no `superset_text.yml` available
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#15101 fix: pass down parameters
  superset/models/core.py
Labels: size/XS

#14959 fix: show custom errors in SQL Lab
  superset/db_engine_specs/postgres.py
  superset/views/base.py
  superset/views/core.py
  tests/celery_tests.py
  tests/sqllab_tests.py
Labels: size/M

#15078 chore: rename 'tables' to 'datasets' in error message
  superset/databases/commands/exceptions.py
Labels: preset-io, size/XS

#15062 refactor: stop using deprecated celery task API
  superset/sql_lab.py
Labels: size/XS

#15090 fix(native-filters): fix Select filter crashing when changing filter type
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/S, viz:dashboard:native-filter

#15063 feat(native-filters): Hide filters which don't affect any visible charts
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/types.ts
Labels: size/L, viz:dashboard:native-filter

#15103 feat: added alerts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/M

#15122 fix: add icons
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#14928 docs: add Ontruck to users list
  RESOURCES/INTHEWILD.md
Labels: doc:user, ready-for-review, ready-to-merge, size/XS

#15120 feat(native-filters): Defer loading filters data until filter is visible
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadePopover/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/M, viz:dashboard:native-filter

#15124 fix: fixing api tests for database connections
  superset/databases/schemas.py
  superset/db_engine_specs/bigquery.py
  tests/databases/api_tests.py
Labels: size/M

#15107 feat: show spinner on exports
  superset-frontend/src/utils/export.ts
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.test.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset/charts/api.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/queries/saved_queries/api.py
Labels: ready-to-merge, size/L

#14823 chore: Homepage cleanup
  superset-frontend/src/views/CRUD/storageKeys.ts
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/welcome/ActivityTable.test.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.test.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.test.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: preset-io, size/L

#15091 fix(explore): fix y-axis lower bound 0 value
  superset-frontend/spec/javascripts/explore/components/BoundsControl_spec.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
Labels: bash!, size/S, viz:explore:control

#15139 fix: improve dashboard fullscreen text
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/XS

#15146 fix(native-filters): Don't send unnecessary PUT request on dashboard render
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/reducers/nativeFilters.ts
Labels: blocking!, size/M

#15140 fix: Filter overlay in dashboard when scrolling
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
Labels: Turing, size/XS

#15100 fix: Test connection before starting on create transaction
  superset/databases/commands/create.py
Labels: size/S

#15150 fix(db-connection-ui): Additional Query Parameters render
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Labels: size/S

#15152 fix(typo): in contributing.md
  CONTRIBUTING.md
Labels: size/S

#15093 chore: update documentation for frontend feature flags
  CONTRIBUTING.md
Labels: size/XS

#15046 feat(dashboard): Let users download full CSV of a table
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/ChartHolder_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Chart_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Column_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Row_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tab_spec.jsx
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Tabs_spec.jsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset/config.py
Labels: demo, needs:design-input, size/L

#15156 chore: Disable comment logging for ephemeral envs
  .github/CODEOWNERS
  .github/workflows/ephemeral-env.yml
Labels: preset-io, size/XS

#14872 feat(Explore): add sort to edit dataset modal
  superset-frontend/src/CRUD/CollectionTable.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: preset-io, size/L

#15143 feat(db-connection-ui): Move fields from Extra section and split engine and metadata
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
Labels: size/L

#15105 feat(webpack): configure publicPath via ASSET_BASE_URL env var
  superset-frontend/webpack.config.js
Labels: preset-io, size/XS

#15155 fix: validate DB-specific parameters
  superset/databases/api.py
  superset/databases/schemas.py
  superset/db_engine_specs/bigquery.py
  tests/databases/api_tests.py
Labels: size/L

#15141 chore: Scrolls top when opening a select filter
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: Turing, size/S

#15168 chore: Bump plugin-chart-pivot-table to 0.17.57
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#15117 feat(native-filters): add optional time col to time range
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
Labels: preset-io, size/L

#15147 refactor(explore): remove side effect in render from CalendarFrame for DatePicker
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CalendarFrame.tsx
Labels: size/S

#15172 fix(dashboard): Prevent rerendering View Query modal on window resize
  superset-frontend/src/explore/components/controls/ViewQueryModal.tsx
Labels: size/XS

#15163 fix: Presto postgres test
  tests/celery_tests.py
  tests/sqllab_tests.py
Labels: size/M

#15119 style: Database connect UI Polish - Step 1
  superset-frontend/images/icons/default_db_image.svg
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/types/react-lines-ellipsis.d.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/tsconfig.json
Labels: size/L

#15160 fix: use npm v7 in docker compose
  docker/docker-frontend.sh
Labels: preset-io, size/XS

#15108 fix: add another wait for chart element
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset/utils/webdriver.py
Labels: preset-io, size/S

#14978 refactor: Convert TableElement to TypeScript
  superset-frontend/spec/javascripts/sqllab/TableElement_spec.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar.jsx
  superset-frontend/src/SqlLab/components/TableElement.tsx
Labels: size/L

#15175 fix: trim string value of spaces in listview search
  superset-frontend/src/components/ListView/Filters/Search.tsx
Labels: preset-io, size/XS

#15181 fix: ignore errors in GetLog
  superset/db_engine_specs/hive.py
Labels: size/XS

#15188 feat(api): add featured datatypes to dashboard dataset ep
  superset/connectors/base/models.py
  superset/dashboards/schemas.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/S

#15115 chore: Improves the native filters bar layout
  superset-frontend/spec/helpers/IntersectionObserver.ts
  superset-frontend/spec/helpers/shim.ts
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/src/common/hooks/useElementOnScreen/index.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/StickyVerticalBar.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FiltersHeader.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: Turing, size/XL

#15178 chore: Allows the user to force fetch the default values
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: Turing, size/L

#15194 chore: Makes the refresh button only appear when the filter has a datasource
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: Turing, size/XS

#15192 chore: Changes the dashboard highlight color when selecting a filter
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
Labels: Turing, size/XS

#15187 style: Database connect UI Polish - Step 3
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/L

#15151 feat: adding server-side validation and unmasked password on create
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  tests/databases/api_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/L

#15199 feat: add Close/Finish buttons to DBModal on Edit
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/S

#15185 fix(db-connection-ui): Allow Dynamic Big Query Edits
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/db_engine_specs/bigquery.py
Labels: size/M

#15138 fix(dashboard): avoid duplicated toast component
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: size/XS

#15158 feat: show rich error messages on past failed queries
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.tsx
  superset/db_engine_specs/sqlite.py
  superset/sql_lab.py
  superset/views/core.py
Labels: size/M

#14463 refactor: refactor Icon to Icons in sqlEditor component
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
Labels: migration:component, preset-io, size/S

#13614 fix(helm): Set working defaults for google OAuth2 example
  helm/superset/Chart.yaml
  helm/superset/values.yaml
Labels: new:contributor, size/S

#15201 fix: Connect on DB Connection wasn't working
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/M

#14891 fix(aarch64): Bump pyarrow version to 4.0.1
  requirements/base.txt
  setup.py
Labels: size/XS

#15202 fix: fix api_test and typeScript error
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  tests/databases/api_tests.py
Labels: size/L

#15123 fix(logging): downgrade csv export log to debug
  superset/views/core.py
Labels: preset-io, size/XS

#15109 fix: SQL Lab show "Refetch Results" button while fetching new query results
  superset-frontend/src/SqlLab/reducers/sqlLab.js
Labels: size/S

#15198 fix: Fix dremio dialect not having a `driver` field
  superset/db_engine_specs/__init__.py
Labels: 2021.23, size/XS

#15208 feat: Added Dynamic form link to SQL Alchemy Form
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/M

#15210 fix: fix api tests for test_available
  tests/databases/api_tests.py
Labels: size/XS

#15203 fix: fix dataset select list
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: preset-io, size/XS

#15134 fix(dashboard): charts in nested tab is missing control and filter indicator
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
Labels: size/XS

#15219 fix(native-filters): Fix Select `Default First Value` by clicked `Clear All`
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dataMask/reducer.ts
Labels: size/S

#15220 chore: bump superset-ui to 0.17.58
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/M

#15173 fix(examples): calendar chart metric should be metrics
  superset/examples/random_time_series.py
  tests/dashboards/api_tests.py
Labels: preset-io, size/XS

#15222 feat(native-filters): Disable Apply button if filter required
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/CollapsibleControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/state.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/L

#15228 fix: Filter bar not occupying 100% height when filter sets FF unset
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: Turing, size/S

#15225 feat(native-filters): Hide time filters if loaded datasets don't have temporal columns
  superset-frontend/spec/fixtures/mockDatasource.js
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
Labels: size/L

#15229 feat: added Spinner to DB Modal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#15204 style: Sticky header in db modal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/M

#15231 fix: make Edit DB modal look similar to create Modal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/S

#15232 fix: DB Connection UI R2 Fixes
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/databases/schemas.py
Labels: size/S

#15236 fix: do not use Marshmallow validation in partial params validation
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/errors.py
  tests/databases/api_tests.py
Labels: size/M

#15243 fix(bug): Validation persist after onClose
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/S

#15233 docs: fix naming: Flask-Cache -> Flask-Caching
  docs/installation.rst
  docs/src/pages/docs/installation/caching.mdx
  docs/src/pages/docs/installation/configuring.mdx
Labels: size/S

#15244 fix: Edit for all dynamic forms
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/M

#14956 chore: Add height/width TrashIcon SVG(18px/18px)-Edit Dataset modal
  superset-frontend/src/CRUD/CollectionTable.tsx
Labels: size/XS

#14682 feat(db_engine_specs): Add quirks to support Ascend.io/HiveServer2 with Impala driver.
  docs/src/pages/docs/Connecting to Databases/ascend.mdx
  docs/src/pages/docs/Connecting to Databases/index.mdx
  superset/db_engine_specs/ascend.py
  tests/db_engine_specs/ascend_tests.py
Labels: data:connect:impala, size/M

#15247 feat(sql): add jinja support to metrics and expressions
  superset/common/query_object.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/typing.py
  superset/utils/core.py
  superset/viz.py
  tests/sqla_models_tests.py
Labels: preset-io, size/L
