Repository apache/superset, pull requests merged in 2021-12, with the labels that each got.

#17577 chore: auditing cypress-base dependencies
  superset-frontend/cypress-base/package-lock.json
Labels: size/XS, preset-io

#17600 fix: Ch31968query context
  superset/charts/commands/export.py
  superset/charts/commands/importers/v1/__init__.py
  superset/connectors/base/models.py
  tests/integration_tests/charts/commands_tests.py
Labels: size/M

#17536 feat: Adds a key-value endpoint to store the state of dashboard filters
  UPDATING.md
  superset/config.py
  superset/dashboards/filter_state/__init__.py
  superset/dashboards/filter_state/api.py
  superset/dashboards/filter_state/commands/__init__.py
  superset/dashboards/filter_state/commands/create.py
  superset/dashboards/filter_state/commands/delete.py
  superset/dashboards/filter_state/commands/get.py
  superset/dashboards/filter_state/commands/update.py
  superset/initialization/__init__.py
  superset/key_value/api.py
  superset/key_value/commands/__init__.py
  superset/key_value/commands/create.py
  superset/key_value/commands/delete.py
  superset/key_value/commands/exceptions.py
  superset/key_value/commands/get.py
  superset/key_value/commands/update.py
  superset/key_value/schemas.py
  superset/key_value/utils.py
  superset/utils/cache_manager.py
  tests/integration_tests/dashboards/filter_state/__init__.py
  tests/integration_tests/dashboards/filter_state/api_tests.py
Labels: risk:db-migration, size/XXL

#17611 fix: Dashboard API flaky test
  tests/integration_tests/dashboards/api_tests.py
Labels: size/M

#17613 fix: Dashboard export loading indicator
  superset/dashboards/api.py
Labels: size/XS

#17603 chore: migrate EstimateQueryCostButton component from jsx to tsx
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/index.tsx
Labels: size/M

#17618 fix: Revert "fix(Dashboard): Only apply changes when editing properties"
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: size/S, Flexiana

#17620 fix(api): add missing fields to dataset schemas
  superset/datasets/schemas.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/M, preset-io

#17372 feat: Add single select and inverse selection to numeric range (#16722)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/SingleValueType.ts
  superset-frontend/src/filters/components/Range/controlPanel.ts
  superset-frontend/src/filters/utils.test.ts
  superset-frontend/src/filters/utils.ts
Labels: size/L, release:note, need:enable-community

#17623 chore: Update docstrings in presto.py
  superset/db_engine_specs/presto.py
Labels: size/XS

#17615 feat(legacy-preset-chart-nvd3): add richtooltip in nvd3 bar chart
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Labels: size/S

#17307 feat(explore): support show annotation label [ID-8]
  docs/src/resources/openapi.json
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset/charts/schemas.py
Labels: size/S, need:enable-community

#17624 chore: Added unit test to query context change
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/fixtures/energy_dashboard.py
Labels: size/M

#17606 refactor: Add AutoSizer to react-virtualized `Grid`
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/M

#17634 chore(plugin-chart-pivot-table): Add more descriptive tooltips for sorting [ID-29]
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
Labels: size/S

#17612 fix(dataset): modal sql editor error
  superset-frontend/src/CRUD/Field.test.tsx
  superset-frontend/src/CRUD/Field.tsx
Labels: size/M

#17636 fix: allow for multiple columns in pivot table report
  superset/charts/post_processing.py
  tests/unit_tests/charts/test_post_processing.py
Labels: size/XL, preset-io

#17626 chore(superset-ui): clean up legacy-plugin-chart-time-table
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-time-table/data.ts
  superset-frontend/plugins/legacy-plugin-chart-time-table/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-time-table/README.md
  superset-frontend/plugins/legacy-plugin-chart-time-table/package.json
  superset-frontend/plugins/legacy-plugin-chart-time-table/src/TimeTable.tsx
  superset-frontend/plugins/legacy-plugin-chart-time-table/src/TimeTableChartPlugin.ts
  superset-frontend/plugins/legacy-plugin-chart-time-table/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-time-table/src/images/thumbnail.png
  superset-frontend/plugins/legacy-plugin-chart-time-table/src/images/thumbnailLarge.png
  superset-frontend/plugins/legacy-plugin-chart-time-table/src/index.ts
  superset-frontend/plugins/legacy-plugin-chart-time-table/tsconfig.json
  superset-frontend/plugins/legacy-plugin-chart-time-table/types/external.d.ts
  superset-frontend/src/visualizations/TimeTable/SparklineCell.jsx
  superset-frontend/src/visualizations/TimeTable/SparklineCell.tsx
  superset-frontend/src/visualizations/TimeTable/TimeTableChartPlugin.ts
  superset-frontend/src/visualizations/TimeTable/transformProps.js
  superset-frontend/src/visualizations/TimeTable/transformProps.ts
  superset-frontend/src/visualizations/TimeTable/types.d.ts
  superset-frontend/temporary_superset_ui/superset-ui/.eslintrc.js
Labels: size/XXL

#17641 fix(sqla): make text clause escaping optional
  superset/connectors/sqla/models.py
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  tests/integration_tests/db_engine_specs/athena_tests.py
  tests/unit_tests/db_engine_specs/test_athena.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/fixtures/common.py
Labels: size/L, preset-io

#17512 feat(explore): export csv data pivoted for Pivot Table [ID-9]
  superset-frontend/packages/superset-ui-core/src/query/buildQueryContext.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/spec/javascripts/explore/components/ExploreActionButtons_spec.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/ExportToCSVDropdown/ExportToCSVDropdown.test.tsx
  superset-frontend/src/explore/components/ExportToCSVDropdown/index.tsx
  superset/charts/data/api.py
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/common/query_context_factory.py
  tests/common/query_context_generator.py
  tests/integration_tests/fixtures/query_context.py
Labels: size/L

#17631 chore(de-translations): Add and fix German translations
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
Labels: size/XXL

#17604 feat(alerts): Column for select tabs to send
  superset/migrations/versions/abe27eaf93db_add_extra_config_column_to_alerts.py
  superset/models/alerts.py
  superset/models/reports.py
Labels: size/M

#17573 fix(sqllab): Floating numbers not sorting correctly in result column
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/L, preset-io

#17639 refactor(monorepo): frontend code cleanup after monorepo
  superset-frontend/.storybook/main.js
  superset-frontend/jsconfig.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-demo/.storybook/main.js
  superset-frontend/packages/superset-ui-demo/tsconfig.json
  superset-frontend/scripts/check_license.sh
  superset-frontend/tsconfig.json
Labels: size/L

#17605 docs(exploring-data): add a native filters section to the exploring data docs
  docs/gatsby-node.js
  docs/src/pages/docs/Creating Charts and Dashboards/exploring-data.mdx
  docs/static/images/native_filters_empty_panel.png
  docs/static/images/native_filters_menu_open.png
  docs/static/images/native_filters_modal.png
  docs/static/images/native_filters_num_range.png
  docs/static/images/native_filters_origin_country.png
  docs/static/images/native_filters_origin_country_dropdown.png
Labels: size/M, preset-io

#17664 fix(legacy-plugin-chart-calendar): fix timestamp timezone in Calendar
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/Calendar.js
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/transformProps.js
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/utils.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/test/getFormattedUTCTime.ts
Labels: size/L

#17622 chore: Remove unreachable return statements
  superset/utils/network.py
Labels: size/XS

#17578 refactor: Reports code cleaning
  superset-frontend/src/reports/reducers/reports.js
Labels: size/M, preset-io

#17673 fix(translations): extract messages from js and ts files
  superset/translations/babel.cfg
  superset/translations/messages.pot
Labels: size/XXL

#17657 feat(viz): export csv with verbose_name
  superset/common/query_context_processor.py
Labels: size/XS

#17658 feat(prophet): enable confidence intervals and y_hat without forecast
  superset/charts/schemas.py
  superset/utils/pandas_postprocessing.py
  tests/integration_tests/pandas_postprocessing_tests.py
Labels: size/M, dropbox

#17679 chore: update babel doc
  .github/workflows/superset-translations.yml
  CONTRIBUTING.md
  scripts/babel_update.sh
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/XXL

#17589 feat: customize recent activity access
  UPDATING.md
  superset-frontend/src/components/TableLoader/TableLoader.test.tsx
  superset-frontend/src/components/TableLoader/index.tsx
  superset/config.py
  superset/errors.py
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: size/L, preset-io

#17654 fix: extract tables doesn't work with reserved keywords
  superset/sql_parse.py
  tests/integration_tests/sql_parse_tests.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/XXL

#17687 chore: removing redundant docker-entrypoint
  Dockerfile
  docker/docker-bootstrap.sh
  docker/docker-ci.sh
  docker/docker-entrypoint.sh
  docker/run-server.sh
  helm/superset/Chart.yaml
  helm/superset/values.yaml
Labels: size/M

#17597 fix: Redirect on 401
  requirements/base.txt
  setup.py
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/callApiAndParseWithTimeout.test.ts
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset/config.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/log_api_tests.py
Labels: size/L, Flexiana

#17692 fix(Dashboard): Undefined error in default value in Native Filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
Labels: size/XS, Flexiana

#17689 chore: convert feature flag tests to unit tests
  tests/integration_tests/feature_flag_tests.py
  tests/unit_tests/feature_flag_test.py
Labels: size/L, ready-to-merge

#17705 chore: unblock ci on postgres lint
  superset/db_engine_specs/postgres.py
Labels: size/XS, preset-io

#17638 fix(select): select component sort functionality on certain options
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/spec/javascripts/explore/components/SelectControl_spec.jsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: size/M

#17570 fix: Save properties after applying changes in Dashboard
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SaveModal.tsx
  superset-frontend/src/utils/getClientErrorObject.ts
  superset/dashboards/api.py
  superset/dashboards/commands/update.py
  superset/dashboards/dao.py
  superset/dashboards/schemas.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/XXL, Flexiana, v1.4

#17655 feat: convert dataframe tests
  tests/integration_tests/dataframe_test.py
  tests/unit_tests/conftest.py
  tests/unit_tests/dataframe_test.py
Labels: size/L

#17703 fix(explore): deck.gl Multiple chart broken
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
Labels: size/XS

#17707 fix(Dashboard): Copy dashboard with duplicating charts 500 error
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/src/dashboard/actions/dashboardState.js
Labels: size/S, Flexiana, v1.4

#17691 chore: Update TS tasklist script
  scripts/generate_frontend_ts_tasklist.js
Labels: size/XS

#17690 fix: Dashboard header negative margin on save
  superset-frontend/src/components/EditableTitle/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: size/M, Flexiana

#17711 fix(explore): don't apply time range filter to Samples table
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset/common/query_actions.py
  superset/viz.py
Labels: size/S

#17715 chore: Rename CertifiedIcon to CertifiedBadge
  superset-frontend/src/components/CertifiedBadge/CertifiedBadge.stories.tsx
  superset-frontend/src/components/CertifiedBadge/CertifiedBadge.test.tsx
  superset-frontend/src/components/CertifiedBadge/index.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/EditableTitle/index.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: size/M, Flexiana

#17713 fix(postgres): remove redundant tz factory
  superset/db_engine_specs/postgres.py
Labels: size/XS, preset-io

#17693 chore(de-translations): Add missing German translations
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
Labels: size/XXL

#17724 ci: temp fix for mysqlclient on an OS regression bug
  scripts/python_tests.sh
Labels: size/XS, preset-io

#17714 chore(docsV2): move content from docs to docsV2
  docs-v2/docs/api.mdx
  docs-v2/docs/contribution.md
  docs-v2/docs/frequently-asked-questions.md
  docs-v2/docs/roadmap.mdx
  docs-v2/docs/security.md
  docs-v2/package.json
  docs-v2/src/css/custom.css
  docs-v2/static/img/roadmap.png
  docs-v2/static/resources/openapi.json
  docs-v2/yarn.lock
Labels: size/XXL

#17728 fix: migration out-of-scope bind
  superset/migrations/versions/abe27eaf93db_add_extra_config_column_to_alerts.py
  tests/integration_tests/celery_tests.py
Labels: size/S

#17360 fix: Change datatype of column type in BaseColumn to allow larger datatype names for complexed columns
  UPDATING.md
  superset/connectors/base/models.py
  superset/datasets/schemas.py
  superset/migrations/versions/3ba29ecbaac5_change_datatype_of_type_in_basecolumn.py
Labels: risk:db-migration, size/M

#17735 chore: fix misspelling of apprear to appear
  CONTRIBUTING.md
Labels: size/XS

#17737 chore: fixed spelling error on line 1342 of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#17732 fix: import dash with missing immune ID
  superset/dashboards/commands/importers/v1/utils.py
  tests/unit_tests/dashboards/__init__.py
  tests/unit_tests/dashboards/commands/__init__.py
  tests/unit_tests/dashboards/commands/importers/__init__.py
  tests/unit_tests/dashboards/commands/importers/v1/__init__.py
  tests/unit_tests/dashboards/commands/importers/v1/utils_test.py
Labels: size/L

#17649 fix(Mixed Timeseries Chart): Custom Metric Label
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Labels: size/S

#17698 refactor(monorepo): change coverage of core to 100%
  .codecov.yml
  superset-frontend/jest.config.js
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorNamespace.ts
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/utils/random.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/packages/superset-ui-core/test/translation/Translator.test.ts
  superset-frontend/packages/superset-ui-core/test/translation/TranslatorSingleton.test.ts
  superset-frontend/packages/superset-ui-core/test/translation/index.test.ts
  superset-frontend/packages/superset-ui-core/test/translation/languagePacks/en.ts
  superset-frontend/packages/superset-ui-core/test/translation/languagePacks/zh.ts
  superset-frontend/packages/superset-ui-core/test/utils/logging.test.ts
Labels: size/L

#17723 chore: bump FAB to 3.4.1
  requirements/base.txt
  setup.py
Labels: size/XS, preset-io

#17741 fix: import dashboard stale filter_scopes
  superset/dashboards/commands/importers/v1/utils.py
  tests/unit_tests/dashboards/commands/importers/v1/utils_test.py
Labels: size/XS

#17734 feat: Update makefile with frontend build
  Makefile
Labels: size/XS

#17517 feat: Guest token (for embedded dashboard auth)
  superset-frontend/src/components/UiConfigContext/index.tsx
  superset/config.py
  superset/security/api.py
  superset/security/guest_token.py
  superset/security/manager.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L, preset-io

#17739 feat: add main datetime column to dataset editor
  superset-frontend/spec/fixtures/mockDatasource.js
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
  superset/examples/configs/datasets/examples/cleaned_sales_data.yaml
Labels: size/M

#17748 fix: import DB errors
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/M

#17738 fix: column extra in import/export
  superset/datasets/commands/export.py
  superset/datasets/commands/importers/v1/utils.py
  superset/datasets/schemas.py
  tests/unit_tests/conftest.py
  tests/unit_tests/datasets/__init__.py
  tests/unit_tests/datasets/commands/__init__.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/commands/importers/__init__.py
  tests/unit_tests/datasets/commands/importers/v1/__init__.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: size/XL

#17727 fix: local warning in the frontend development
  superset-frontend/packages/superset-ui-chart-controls/src/components/Tooltip.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-core/src/chart/index.ts
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Form/Form.tsx
  superset-frontend/src/components/Form/index.tsx
  superset-frontend/src/components/Icons/index.tsx
  superset-frontend/src/components/Select/NativeSelect.tsx
  superset-frontend/src/components/Slider/index.tsx
  superset-frontend/src/components/Switch/index.tsx
  superset-frontend/src/featureFlags.ts
Labels: size/M

#17730 fix: add __init__.py to key_value
  superset/dashboards/filter_state/commands/get.py
  superset/key_value/__init__.py
  superset/key_value/commands/get.py
Labels: size/S

#17766 fix: Remove positions from json_metadata
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset/dashboards/dao.py
Labels: size/S, Flexiana

#17765 fix(plugin-chart-table): sort alphanumeric columns case insensitive
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/utils/sortAlphanumericCaseInsensitive.ts
  superset-frontend/plugins/plugin-chart-table/test/sortAlphanumericCaseInsensitive.test.ts
Labels: size/L

#17760 fix: miss-spelling on CONTRIBUTING.md line 1351
  CONTRIBUTING.md
Labels: size/XS

#17768 fix: change 401 response to a 403 for Security Exceptions
  superset/exceptions.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/dashboards/security/security_rbac_tests.py
Labels: size/XS, preset-io

#17774 fix(alembic): Making Alembic logger config optional
  superset/config.py
  superset/migrations/env.py
Labels: size/XS, preset-io

#17772 chore: skip flaky tests
  tests/integration_tests/dashboards/security/security_rbac_tests.py
  tests/integration_tests/security_tests.py
Labels: size/S

#17752 chore: add release to pip requirements
  .pre-commit-config.yaml
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
  requirements/integration.in
  requirements/integration.txt
  requirements/testing.txt
  setup.py
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset/common/query_object.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/postgres.py
  superset/utils/async_query_manager.py
  tests/integration_tests/charts/api_tests.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/XXL, preset-io

#17777 fix(filter-sets): 404 on dashboard load
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Labels: size/S, preset-io

#17499 fix: [alert] should run alert query from report account
  superset/models/core.py
  superset/reports/commands/alert.py
  tests/integration_tests/model_tests.py
Labels: size/S

#17775 fix: running dev-server on a different port
  CONTRIBUTING.md
Labels: size/XS

#17776 feat: don't ask for password when DB exists
  superset/charts/commands/importers/v1/__init__.py
  superset/databases/schemas.py
Labels: size/S

#17770 chore: print test runtime
  .github/workflows/superset-python-unittest.yml
  scripts/python_tests.sh
Labels: size/XS

#17781 fix(dashboard): commit update once
  superset/dashboards/commands/update.py
Labels: size/XS, v1.4

#17783 fix: New Members per Month time range
  superset/examples/configs/charts/New_Members_per_Month.yaml
Labels: size/XS

#17780 chore: update fixtures scope that are loading data into the analytical db
  tests/integration_tests/access_tests.py
  tests/integration_tests/base_api_tests.py
  tests/integration_tests/cache_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/charts/schema_tests.py
  tests/integration_tests/cli_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/dashboards/dao_tests.py
  tests/integration_tests/dashboards/filter_state/api_tests.py
  tests/integration_tests/dashboards/security/security_dataset_tests.py
  tests/integration_tests/dashboards/security/security_rbac_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
  tests/integration_tests/fixtures/__init__.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/import_export_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/schedules_test.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/integration_tests/sqllab_tests.py
  tests/integration_tests/strategy_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
  tests/integration_tests/utils_tests.py
  tox.ini
Labels: size/L

#17785 docs: Fix typo on line 967
  CONTRIBUTING.md
Labels: size/XS

#17751 fix: [alert] allow decimal for alert threshold value
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset/reports/schemas.py
  tests/integration_tests/alerts_tests.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/S

#17798 chore(plugin-chart-pivot-table): change order of Columns and Rows controls
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
Labels: size/S

#17797 chore(plugin-chart-table): move adhoc filters control closer to the metrics
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/XS

#17800 fix(docs): bump broken packages
  docs/package-lock.json
  docs/package.json
Labels: size/XS, preset-io

#17650 chore: updated screenshots in README.md and added recent events
  README.md
  docs/src/components/footer.tsx
  docs/src/pages/docs/Connecting to Databases/pinot.mdx
  superset-frontend/src/assets/images/firebolt.png
  superset-frontend/src/assets/images/rockset.png
  superset-frontend/src/assets/images/screenshots/bank_dash.png
  superset-frontend/src/assets/images/screenshots/deckgl_dash.png
  superset-frontend/src/assets/images/screenshots/explore.png
  superset-frontend/src/assets/images/screenshots/explore_visualizations.jpg
  superset-frontend/src/assets/images/screenshots/gallery.jpg
  superset-frontend/src/assets/images/screenshots/gallery.png
  superset-frontend/src/assets/images/screenshots/geospatial_dash.jpg
  superset-frontend/src/assets/images/screenshots/slack_dash.jpg
  superset-frontend/src/assets/images/screenshots/sqllab.png
  superset-frontend/src/assets/images/screenshots/visualizations.png
  superset-frontend/src/assets/images/timescale.png
Labels: size/M, preset-io

#17788 fix: accept null params for validation
  superset/views/core.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/sql_validator_tests.py
Labels: size/M, preset-io, 2021.49

#17813 fix: map schemes json to SequentialScheme (#17812)
  superset-frontend/src/setup/setupColors.ts
Labels: size/XS

#17823 fix: import typeddict from extensions
  superset/dashboards/filter_state/commands/entry.py
Labels: size/XS, preset-io

#17827 refactor(monorepo): migrate plugins release workflow
  .github/workflows/release.yml
Labels: size/XS

#17828 chore: add lerna version
  superset-frontend/lerna.json
Labels: size/XS

#17811 other: Add Helm chart option for configOverrides through file
  helm/superset/Chart.yaml
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/S

#17832 chore: Refactor localstorage into typesafe version
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/utils/localStorageHelpers.test.ts
  superset-frontend/src/utils/localStorageHelpers.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: size/L

#17708 feat: Persist SQL Lab autocomplete setting across tabs and visits
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/utils/localStorageHelpers.ts
Labels: size/S

#17726 fix(explore): make SORT DESCENDING visible if SORT BY has value
  superset-frontend/plugins/legacy-plugin-chart-horizon/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-paired-t-test/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-pivot-table/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-treemap/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  superset-frontend/src/explore/controlPanels/sections.tsx
Labels: size/M

#17803 feat(plugin-chart-pivot-table): support series limit
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset/migrations/versions/31bb738bd1d2_move_pivot_table_v2_legacy_order_by_to_.py
Labels: risk:db-migration, size/L

#17680 fix: replace datamask with key from new key value api
  superset-frontend/cypress-base/cypress/integration/dashboard/key_value.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/spec/javascripts/dashboard/util/getDashboardUrl_spec.js
  superset-frontend/src/common/hooks/useUrlShortener.ts
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/utils.ts
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/keyValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/containers/Dashboard.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/util/getDashboardUrl.ts
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/utils/urlUtils.ts
Labels: size/L, preset-io, hold:testing!, need:qa-review

#17835 fix: resolve tests for 1.4
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.test.tsx
  superset/charts/api.py
  superset/common/query_object.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/postgres.py
  superset/utils/async_query_manager.py
  tests/integration_tests/charts/api_tests.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M, preset-io

#17842 fix(dashboard): update native filter info in metadata is not updated
  superset-frontend/src/dashboard/actions/dashboardState.js
Labels: size/XS

#17695 feat: bypass cache on screenshots for alerts
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/exploreUtils/getExploreLongUrl.test.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/explore/reducers/getInitialState.ts
  superset/reports/commands/execute.py
  superset/utils/core.py
  superset/utils/webdriver.py
  superset/views/core.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/L

#17740 fix: dataset extra import/export
  superset/datasets/commands/export.py
  superset/datasets/commands/importers/v1/utils.py
  superset/datasets/schemas.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: size/M, ready-to-merge

#17824 chore: Help user to find the input fields in the dataset editor
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
Labels: size/M, preset-io, hold:testing!

#17784 fix: extra column in metrics
  superset/datasets/schemas.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: size/M, ready-for-review

#17856 fix: corrected misspelling in percent_metrics
  CONTRIBUTING.md
Labels: size/XS

#17853 feat: add force option to report screenshots
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset/migrations/versions/bb38f40aa3ff_add_force_screenshot_to_alerts_reports.py
  superset/models/reports.py
  superset/reports/commands/execute.py
  superset/reports/schemas.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
Labels: risk:db-migration, size/L

#17855 feat: configure force_screenshot
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset/reports/api.py
  superset/reports/commands/execute.py
Labels: size/M

#17717 chore: Fix UPDATING.md
  UPDATING.md
Labels: size/XS

#17854 fix(ui): show SCHEDULED_QUERIES template in SqlLab
  superset/views/base.py
Labels: size/XS

#17886 fix: failed mypy in master branch
  .github/workflows/superset-python-misc.yml
  superset/utils/async_query_manager.py
Labels: size/XS, rush!

#17885 fix: tests can failed on different order executions
  tests/integration_tests/charts/data/api_tests.py
Labels: size/S

#17887 fix: Removes duplicated import in dashboard filter state tests
  tests/integration_tests/dashboards/filter_state/api_tests.py
Labels: size/XS

#17782 ci: make presto hive tests to cover only chartData and sqljson
  .github/workflows/superset-python-presto-hive.yml
  scripts/python_tests.sh
  tests/integration_tests/sqllab_tests.py
Labels: size/XS
