Repository apache/superset, pull requests merged in 2021-11, with the labels that each got.

#17283 test: add native filter part2
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
Labels: size/M, Preset-QA

#17303 fix: datatable crash when column is empty string
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Labels: size/XS

#17284 style: remove redundant parentheses from setup.py
  setup.py
Labels: size/XS

#17314 fix: run npm install to fix a bad package version
  superset-frontend/package-lock.json
Labels: size/XS, preset-io

#17310 chore: bump superset-ui to 0.18.18
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M, preset-io

#17184 fix(Explore): Remove changes to the properties on cancel
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
Labels: size/L, Flexiana

#17200 fix(Dashboard): Sidepanel positioning
  superset-frontend/src/dashboard/components/BuilderComponentPane.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
  superset-frontend/src/dashboard/util/constants.ts
Labels: size/L, Flexiana

#17315 chore: migrate HiddenControl component from jsx to tsx
  superset-frontend/src/explore/components/controls/HiddenControl.tsx
Labels: size/S

#17306 docs: fix numbering on getting started with kubernetes section
  docs/src/pages/docs/installation/kubernetes.mdx
Labels: size/XS

#17311 fix: Revert "fix(native-filters): Fix update ownState"
  superset-frontend/src/dashboard/components/Dashboard.jsx
Labels: size/M

#17228 fix: remove variables from styled component
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: size/S, preset-io

#17329 feat: improve logic in is_select
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#17246 chore: Test cases for annotations and annotation layers incorrect creation through API
  tests/integration_tests/annotation_layers/api_tests.py
  tests/integration_tests/annotation_layers/fixtures.py
  tests/unit_tests/annotation_layers/fixtures.py
  tests/unit_tests/annotation_layers/schema_tests.py
Labels: size/L, Flexiana

#17325 chore(websocket): bump dependencies
  superset-websocket/package-lock.json
  superset-websocket/package.json
  superset-websocket/spec/index.test.ts
  superset-websocket/src/index.ts
  superset-websocket/utils/client-ws-app/app.js
  superset-websocket/utils/client-ws-app/package-lock.json
  superset-websocket/utils/client-ws-app/package.json
  superset-websocket/utils/client-ws-app/views/error.pug
  superset-websocket/utils/client-ws-app/views/index.pug
  superset-websocket/utils/client-ws-app/views/layout.pug
Labels: size/M, preset-io

#17268 fix: Unable to select None for Alert's log retention
  superset-frontend/src/views/CRUD/alert/AlertReportModal.test.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/M

#17089 fix: Color consistency
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset-frontend/src/dashboard/components/SaveModal.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
  superset-frontend/src/explore/components/Control.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/ColorMapControl.jsx
  superset-frontend/src/explore/components/controls/index.js
  superset-frontend/src/explore/controlPanels/sections.tsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/utils/getControlsForVizType.test.js
  superset/charts/api.py
Labels: size/L, Flexiana

#17330 fix: import should accept old keys
  superset/databases/commands/export.py
  superset/databases/commands/importers/v1/utils.py
  superset/databases/schemas.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/fixtures/importexport.py
Labels: size/L

#17312 fix(sqla): Normalize prequery result type
  superset/connectors/sqla/models.py
  superset/utils/core.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#17236 fix: revert default series sort-by metric
  superset-frontend/src/explore/controls.jsx
  superset/utils/core.py
  superset/viz.py
Labels: size/M

#17289 fix: removed redundant logger definition
  superset/views/base.py
Labels: size/XS

#17336 feat: apply d3NumberFormat to table reports
  superset/charts/post_processing.py
  tests/unit_tests/charts/test_post_processing.py
Labels: size/M, ready-to-merge

#16041 fix: set correct schema on config import
  superset/commands/importers/v1/examples.py
  superset/connectors/sqla/models.py
  superset/datasets/commands/importers/v1/utils.py
  superset/examples/bart_lines.py
  superset/examples/birth_names.py
  superset/examples/country_map.py
  superset/examples/energy.py
  superset/examples/flights.py
  superset/examples/long_lat.py
  superset/examples/multiformat_time_series.py
  superset/examples/paris.py
  superset/examples/random_time_series.py
  superset/examples/sf_population_polygons.py
  superset/examples/world_bank.py
  superset/utils/core.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/cachekeys/api_tests.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
  tests/integration_tests/fixtures/datasource.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/import_export_tests.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L

#17345 fix: clear 'delete' confirmation
  superset-frontend/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/src/components/DeleteModal/index.tsx
Labels: size/M

#17331 fix: Show sqllab state when deleting databases
  superset-frontend/src/views/CRUD/data/database/DatabaseList.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset/databases/api.py
  superset/databases/dao.py
  tests/integration_tests/databases/api_tests.py
Labels: size/M

#17349 fix(Dashboard): Check validity of control item
  superset-frontend/src/explore/controlUtils/getControlState.ts
Labels: size/XS, Flexiana

#17343 test: add native filter e2e test part3
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
Labels: size/M, Preset-QA

#17287 fix(dashboard): Return columns and verbose_map for groupby values of Pivot Table v2 [ID-7]
  superset/connectors/base/models.py
  superset/examples/birth_names.py
  superset/models/slice.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/model_tests.py
Labels: size/L

#17357 fix(Dashboard): Make color scheme optional
  superset-frontend/spec/javascripts/dashboard/components/PropertiesModal_spec.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
Labels: size/S, Flexiana

#17356 fix: Remove horizontal scroll navigation from SQL Lab
  superset-frontend/src/SqlLab/components/App/index.jsx
Labels: size/XS

#17362 chore: bump superset-ui 0.18.20
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#17369 fix: Database selector overflow
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.test.tsx
Labels: size/S

#17367 chore: bump @typescript-eslint/eslint-plugin to 5.3.0
  superset-frontend/.eslintrc.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
Labels: size/S

#17370 fix: failed timezone selector UT
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.test.tsx
Labels: size/XS

#17202 feat(metrics): Provide override for disabling ad-hoc metrics
  superset-frontend/src/explore/components/ExploreContentPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionValue.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.jsx
  superset-frontend/src/explore/controls.jsx
Labels: size/L

#17309 fix: various typo fixes in MD files
  CONTRIBUTING.md
  RELEASING/README.md
  UPDATING.md
Labels: size/S

#16992 feat(native_filter_migration): add transition mode
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/common/hooks/apiResources/apiResources.ts
  superset-frontend/src/common/hooks/apiResources/dashboards.ts
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/FilterBoxMigrationModal.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/containers/SliceAdder.jsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/activeDashboardFilters.js
  superset-frontend/src/dashboard/util/filterboxMigrationHelper.test.ts
  superset-frontend/src/dashboard/util/filterboxMigrationHelper.ts
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/types/Chart.ts
  superset/config.py
  superset/views/dashboard/views.py
Labels: size/XXL

#17175 feat(dashboard): embedded dashboard UI configuration
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/UiConfigContext/index.tsx
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/views/App.tsx
Labels: size/L, preset-io

#17353 feat: Drill ODBC/JDBC Impersonation feature
  docs/src/resources/openapi.json
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset/db_engine_specs/drill.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.json
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/pt/LC_MESSAGES/message.json
  superset/translations/pt/LC_MESSAGES/message.po
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
  tests/unit_tests/db_engine_specs/test_drill.py
Labels: size/L

#17387 docs: Reorder install instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#17382 fix(sqllab): Query limit dropdown number breaks to separate lines
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/XS, preset-io

#17348 fix: Users being able to update datasets across DBs
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset/connectors/sqla/models.py
  superset/datasets/dao.py
Labels: size/S

#17383 fix: Partial revert of 17236
  superset-frontend/src/explore/controls.jsx
  superset/utils/core.py
  superset/viz.py
Labels: size/M

#16869 fix: handle TIME column serialization
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Labels: size/XS

#17350 docs: add mishmash io to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#17263 fix(sqllab): Bugfix for tracking url transformation
  superset/db_engine_specs/hive.py
Labels: size/XS, v1.3, v1.4

#17135 fix: title case in menus
  superset/initialization/__init__.py
Labels: size/XS, preset-io

#17399 refactor(ChartData): move ChartDataResult enums to common
  superset/charts/api.py
  superset/charts/post_processing.py
  superset/charts/schemas.py
  superset/common/chart_data.py
  superset/common/query_actions.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/reports/commands/execute.py
  superset/utils/core.py
  superset/views/core.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/query_context_tests.py
Labels: size/L

#17106 fix(dashboard): don't show report modal for anonymous user
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Labels: size/M

#17400 refactor(ChartData): move chart_data_apis from ChartRestApi ChartDataRestApi
  superset/charts/api.py
  superset/charts/data/__init__.py
  superset/charts/data/api.py
  superset/initialization/__init__.py
  superset/reports/commands/execute.py
Labels: size/XL

#17380 fix(Dashboard): Missing dashboardId when refreshing Explore
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
Labels: size/S, Flexiana

#17403 chore: add dependencies for monorepo
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/S

#17405 refactor(ChartDataCommand): separate loading query_context form cache into different module
  superset/charts/api.py
  superset/charts/commands/data.py
  superset/charts/data/api.py
  superset/charts/data/query_context_cache_loader.py
  tests/integration_tests/charts/api_tests.py
Labels: size/L

#17392 fix(Dashboard): Only apply changes when editing properties
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: size/S, Flexiana

#17416 feat: Add quarter unit to datetrunc
  superset-frontend/src/explore/components/controls/DateFilterControl/components/DateFunctionTooltip.tsx
  superset/utils/date_parser.py
  tests/integration_tests/utils/date_parser_tests.py
Labels: size/S

#17426 fix: Workaround for Pandas Timestamp.isoformat issue
  superset/utils/date_parser.py
Labels: size/XS

#17338 fix: add fallback and validation for report and cron timezones
  CONTRIBUTING.md
  superset/reports/schemas.py
  superset/tasks/cron_util.py
  tests/integration_tests/reports/api_tests.py
  tests/unit_tests/tasks/test_cron_util.py
Labels: size/L, preset-io

#16900 fix(chart): ensure samples data is displayed
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
Labels: size/L, preset-io

#17429 fix: allow POST chart/data request without CSRF token
  superset/config.py
Labels: size/XS

#17260 chore: fix cherry-pick conflicts
  superset-frontend/src/components/Select/Select.tsx
Labels: size/XS, preset-io

#17419 fix: avoid escaping bind-like params containing colons
  superset/connectors/sqla/models.py
  superset/utils/core.py
  tests/integration_tests/charts/api_tests.py
Labels: size/L, preset-io, v1.4

#17323 fix: rename to schemas_allowed_for_file_upload in dbs.extra
  superset/migrations/versions/0ca9e5f1dacd_rename_to_schemas_allowed_for_file_.py
Labels: risk:db-migration, size/M, dropbox

#17407 refactor(TestChartApi): move chart data api tests into TestChartDataApi
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/data/__init__.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/XXL

#17425 refactor(ChartDataCommand): into two separate commands
  superset/charts/data/api.py
  superset/charts/data/commands.py
  superset/tasks/async_queries.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
Labels: size/M

#17379 feat(explore): adhoc column expressions [ID-3]
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelectPopoverTitle.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/types.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/utils/optionSelector.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/buildQuery.ts
  superset/charts/schemas.py
  superset/common/query_actions.py
  superset/common/query_context.py
  superset/common/query_object.py
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/typing.py
  superset/utils/core.py
  superset/viz.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/XL, preset-io

#17438 chore: bump superset-ui 0.18.25
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/M

#12092 fix: 'DataFrame' object has no attribute 'ix'
  superset/db_engine_specs/hive.py
Labels: size/XS

#17431 fix: use full resultType with csv download on chart in dashboard
  superset-frontend/spec/javascripts/dashboard/components/gridComponents/Chart_spec.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/XS, preset-io

#17385 fix(sql lab): NULL styling in grid cell
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/S, preset-io

#17440 fix: should not show migration toast if user not enable dashboard filter components
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Labels: size/XS

#17409 feat: add a config to enable retina quality images in screenshots
  superset/config.py
  superset/utils/webdriver.py
Labels: size/S, preset-io

#10811 fix(mssql): week time grain should respect datefirst setting
  superset/db_engine_specs/mssql.py
  tests/integration_tests/db_engine_specs/mssql_tests.py
Labels: size/M

#17422 chore: Notify user of custom label colors and related Dashboard color scheme
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/src/dashboard/components/ColorSchemeControlWrapper.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/ColorSchemeControl.test.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/index.jsx
Labels: size/L, Flexiana

#17439 chore: bumping react syntax highlighter and thusly prismjs
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, preset-io

#17398 test: add native filter default value e2e
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
Labels: size/M, Preset-QA

#17450 feat(dashboard): embedded dashboard UI configuration (#17175)
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/UiConfigContext/index.tsx
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/views/App.tsx
Labels: size/L, preset-io

#17451 chore: Ignore docs directory for dependabot
  .github/dependabot.yml
Labels: size/XS

#16566 fix(docker): add ecpg to docker image
  Dockerfile
Labels: size/XS, preset-io

#14305 fix(views/core): iteration over None type
  superset/views/core.py
Labels: size/XS

#17461 refactor(ChartDataCommand): remove create queryContext command's responsibly
  superset/charts/data/api.py
  superset/charts/data/commands.py
  superset/tasks/async_queries.py
Labels: size/M

#16868 chore(fr-translation): update whole French translation (based on 1.3.0 release)
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
Labels: size/XXL, i18n:french, need:enable-community

#17465 refactor(QueryObject): decouple from queryContext and clean code
  superset/common/query_context.py
  superset/common/query_object.py
Labels: size/L

#17466 refactor(QueryObject): add QueryObjectFactory to meet SRP
  superset/common/query_context.py
  superset/common/query_object.py
  tests/integration_tests/query_context_tests.py
Labels: size/L

#17462 fix(Dashboard): Save empty label_colors in json_metadata
  superset/dashboards/dao.py
Labels: size/XS, Flexiana

#17479 refactor(QueryObject): decouple from superset
  superset/common/query_context.py
  superset/common/query_object.py
  superset/common/query_object_factory.py
  tests/common/__init__.py
  tests/common/query_context_generator.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/charts/schema_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/fixtures/query_context.py
  tests/unit_tests/common/__init__.py
  tests/unit_tests/common/test_query_object_factory.py
Labels: size/XL

#17471 fix: create-admin command in Makefile
  Makefile
Labels: size/S

#17480 fix: Update Makefile
  Makefile
Labels: size/XS

#17420 chore: Bump FAB to 3.4.0
  requirements/base.txt
  setup.py
Labels: size/XS, need:enable-community

#15254 fix: feature flags typing
  UPDATING.md
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/showSavedQuery/index.jsx
  superset/config.py
  superset/utils/feature_flag_manager.py
  superset/views/base.py
  superset/views/core.py
  tests/integration_tests/sql_validator_tests.py
Labels: size/M, preset-io

#17424 refactor: Reports code clean 10-29
  superset-frontend/src/components/ReportModal/HeaderReportActionsDropdown/index.tsx
  superset-frontend/src/reports/actions/reports.js
  superset-frontend/src/reports/reducers/reports.js
Labels: size/L, preset-io

#17386 fix(sqllab): Have table name tooltip only show when name is truncated
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
Labels: size/M, need:enable-community

#17464 chore(sql_lab): Added Unit Test for stop query exception
  tests/integration_tests/core_tests.py
Labels: size/S

#17482 chore(deps): bump cachelib from 0.1.1 to 0.4.1
  requirements/base.txt
  setup.py
Labels: size/XS, preset-io

#17495 refactor(QueryContext): add QueryContextFactory to meet SRP
  superset/charts/schemas.py
  superset/common/query_context.py
  superset/common/query_context_factory.py
  superset/models/slice.py
  superset/views/api.py
  superset/viz.py
Labels: size/L

#17496 refactor(QueryContext): move df methods utils to utils package
  superset/common/query_context.py
  superset/common/utils/__init__.py
  superset/common/utils/dataframe_utils.py
  superset/common/utils/query_cache_manager.py
Labels: size/M

#14837 docs: Update frequently-asked-questions-page.mdx
  docs/src/pages/docs/frequently-asked-questions-page.mdx
Labels: size/XS

#17470 fix(presto): expand data with null item
  superset/db_engine_specs/presto.py
  tests/integration_tests/db_engine_specs/presto_tests.py
Labels: size/M

#17484 docs: mention that username should be admin to load examples in superset docs
  docs/src/pages/docs/installation/installing_scratch.mdx
Labels: size/XS

#17497 refactor(QueryContext): separate all processing concerns into QueryContextProcessor
  superset/common/query_context.py
  superset/common/query_context_processor.py
  tests/integration_tests/charts/schema_tests.py
Labels: size/XL

#17458 fix: Always use temporal type for dttm columns [ID-2]
  superset/charts/data/api.py
  superset/charts/post_processing.py
  superset/common/query_actions.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Labels: size/M

#17434 chore: Slovenian translation update
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
Labels: size/XXL, release:note, need:enable-community

#17509 refactor(chart.commands): separate commands into two different modules
  superset/charts/data/api.py
  superset/charts/data/commands/__init__.py
  superset/charts/data/commands/create_async_job_command.py
  superset/charts/data/commands/get_data_command.py
  superset/charts/schemas.py
  superset/commands/utils.py
  superset/tasks/async_queries.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
Labels: size/M

#17361 chore: migrate FormattedNumber component from jsx to tsx
  superset-frontend/src/visualizations/TimeTable/FormattedNumber.tsx
Labels: size/S, need:enable-community

#17504 docs: add dropbox to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS, dropbox

#17501 chore(translations): fix translation literals
  superset-frontend/src/SqlLab/components/App/index.jsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
  superset-frontend/src/views/CRUD/alert/components/AlertStatusIcon.tsx
  superset-frontend/src/views/CRUD/alert/components/RecipientIcon.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/EmptyState.test.tsx
  superset-frontend/src/views/CRUD/welcome/EmptyState.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
  superset-frontend/src/views/CRUD/welcome/types.ts
  superset/databases/commands/exceptions.py
Labels: size/L, preset-io

#14302 fix(hive): Update _latest_partition_from_df in HiveEngineSpec to work on tables with multiple indexes
  superset/db_engine_specs/hive.py
  tests/integration_tests/db_engine_specs/hive_tests.py
Labels: size/S

#17478 chore(de-translation): update German translations (based on master) (#17441)
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/messages.pot
Labels: size/XXL

#17492 chore: update node version in nvmrc to v16
  superset-frontend/.nvmrc
Labels: size/XS

#16799 fix: Bulk update Spanish translations
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
Labels: size/XXL

#17522 chore: remove deprecated selects and deps
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/Select/DeprecatedSelect.tsx
  superset-frontend/src/components/Select/WindowedSelect/index.tsx
Labels: size/S, preset-io

#17502 docs(exploring-data): Add upload excel notes
  docs/src/pages/docs/Creating Charts and Dashboards/exploring-data.mdx
Labels: size/XS

#14783 chore: Slovak translation, enabling language and adding first translations
  superset/config.py
  superset/translations/sk/LC_MESSAGES/messages.json
  superset/translations/sk/LC_MESSAGES/messages.po
Labels: size/XXL

#17511 fix: Dashboard access when DASHBOARD_RBAC is disabled
  superset/dashboards/api.py
  superset/security/manager.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/dao_tests.py
Labels: size/M

#15182 fix: hiding HiddenControl inputs for real, so they don't add height
  superset-frontend/src/explore/components/ControlRow.tsx
Labels: size/S, preset-io

#17515 fix(CRUD views): change empty rows layout in TableCollection to be consistent with its headers
  superset-frontend/src/components/TableCollection/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: size/S

#17410 feat(dashboard): Add divider component in native filters
  superset-frontend/spec/javascripts/dashboard/components/nativeFilters/NativeFiltersModal_spec.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FiltersHeader.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/DividerConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigPane.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigurePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitlePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
Labels: size/XL

#17335 feat: Certify Charts and Dashboards
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/types/Chart.ts
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
  superset/charts/api.py
  superset/charts/filters.py
  superset/charts/schemas.py
  superset/dashboards/api.py
  superset/dashboards/filters.py
  superset/dashboards/schemas.py
  superset/migrations/versions/aea15018d53b_add_certifications_columns_to_dashboard.py
  superset/migrations/versions/f9847149153d_add_certifications_columns_to_slice.py
  superset/models/dashboard.py
  superset/models/slice.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/insert_chart_mixin.py
Labels: risk:db-migration, size/XL, Flexiana

#17503 fix(explore): Metric control breaks when saved metric deleted from dataset
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Labels: size/M

#17326 chore: migrate DragHandle component from jsx to tsx
  superset-frontend/src/dashboard/components/dnd/DragHandle.jsx
  superset-frontend/src/dashboard/components/dnd/DragHandle.tsx
Labels: size/L, need:enable-community

#17048 fix(elasticsearch): time_zone setting does not work for cast datetime expressions
  docs/src/pages/docs/Connecting to Databases/elasticsearch.mdx
  superset/connectors/sqla/models.py
  superset/connectors/sqla/utils.py
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/crate.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/dremio.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/elasticsearch.py
  superset/db_engine_specs/firebird.py
  superset/db_engine_specs/firebolt.py
  superset/db_engine_specs/hana.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/kylin.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/rockset.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/db_engine_specs/trino.py
  superset/models/sql_types/base.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/elasticsearch_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#17555 fix(lint): remove redis xadd type ignore
  superset/utils/async_query_manager.py
Labels: size/XS, preset-io

#17527 fix: RBAC for export for dashboard viewers
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.test.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset/constants.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/queries/saved_queries/api_tests.py
Labels: size/M

#14512 fix: update kubernetes.mdx
  docs/src/pages/docs/installation/kubernetes.mdx
Labels: size/S

#17560 chore: temporarily enable merge in .asf.yml
  .asf.yaml
Labels: size/XS

#17561 chore: disable merge commit option
  .asf.yaml
Labels: size/XS, preset-io

#16346 feat: trino support server-cert
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/trino_tests.py
Labels: size/M

#17562 chore: Fix deprecated unittest aliases for Python 3.11 compatibility.
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  tests/integration_tests/db_engine_specs/bigquery_tests.py
  tests/integration_tests/db_engine_specs/mssql_tests.py
  tests/integration_tests/security_tests.py
Labels: size/M

#17539 fix(superset.cli): superset cli group doesn't support superset extension app
  UPDATING.md
  superset/cli.py
Labels: size/XS

#17554 feat: add classNames for apply and clearAll buttons for superset filters
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
Labels: size/XS

#17525 chore(translations): Add missing i18n
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor/index.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/TimeoutErrorMessage.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset-frontend/src/explore/components/controls/SelectAsyncControl/index.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/EmptyState.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
  superset/translations/babel.cfg
  superset/translations/messages.pot
Labels: size/XXL

#17556 chore: bump mysqlclient version
  UPDATING.md
  requirements/development.in
  requirements/development.txt
  setup.py
Labels: size/XS

#17542 fix: Visualizations don't load when using keyboard shortcuts
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
Labels: size/M

#17548 Arash/refactor
  superset-frontend/src/components/ReportModal/HeaderReportActionsDropdown/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/reports/reducers/reports.js
Labels: size/L

#17474 chore: migrate Fieldset component from jsx to tsx
  superset-frontend/src/CRUD/Fieldset.tsx
Labels: size/M

#17579 chore(datasets): Sanitizing /save response
  superset/views/core.py
  superset/views/datasource/views.py
  superset/views/utils.py
Labels: size/S, preset-io, v1.4

#17584 chore: temporarily update .asf.yml
  .asf.yaml
Labels: size/XS

#17585 chore: disable merge button
  .asf.yaml
Labels: size/XS

#17547 fix: fix text overflow in toast
  superset-frontend/src/components/MessageToasts/ToastPresenter.tsx
Labels: size/XS, preset-io

#17581 feat: added option to set pod annotations on init-db pod to Helm chart.
  helm/superset/Chart.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/XS
