Repository apache/superset, pull requests merged in 2021-05, with the labels that each got.

#14371 test(maximize-chart): Add tests to maximize chart action
  superset-frontend/spec/fixtures/mockChartQueries.js
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
Labels: size/L, v1.2, viz:dashboard:max

#14441 refactor(native-filters): allow cascading only for filter_select
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: size/M, v1.2

#14408 perf(native-filters): avoid unnecessary reloading of charts
  superset-frontend/spec/fixtures/mockNativeFilters.ts
  superset-frontend/spec/javascripts/dashboard/components/Dashboard_spec.jsx
  superset-frontend/spec/javascripts/dashboard/fixtures/mockNativeFilters.ts
  superset-frontend/spec/javascripts/dashboard/util/getFormDataWithExtraFilters_spec.ts
  superset-frontend/spec/javascripts/filters/utils_spec.ts
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/ChartContainer.jsx
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadePopover/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/EditSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ControlItems.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/dashboard/containers/Dashboard.ts
  superset-frontend/src/dashboard/reducers/nativeFilters.ts
  superset-frontend/src/dashboard/reducers/types.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/activeAllDashboardFilters.ts
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/dataMask/types.ts
  superset-frontend/src/filters/utils.ts
Labels: 2021.17, risk:db-migration, size/XL, v1.2

#14446 fix(native-filters): add migration to update metadata
  superset/migrations/versions/f1410ed7ec95_migrate_native_filters_to_new_schema.py
  tests/migrations/f1410ed7ec95_tests.py
Labels: preset-io, size/L, v1.2

#14399 fix(logging): log unexpected exceptions as exceptions
  superset/views/base.py
Labels: preset-io, size/XS

#14450 fix: dashboard changed on calculation
  superset/dashboards/dao.py
  tests/dashboards/dao_tests.py
Labels: size/S

#14436 refactor: split db modal file
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: preset-io, size/XXL

#13713 fix(explore): CSV Export Permission is incorrect on Explore page
  superset-frontend/spec/javascripts/explore/components/ExploreActionButtons_spec.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
  superset/charts/api.py
  superset/cli.py
  superset/views/core.py
  tests/base_api_tests.py
  tests/charts/api_tests.py
Labels: size/L, viz:explore:others

#14443 perf(native-filters): Load native filters after charts
  superset-frontend/spec/javascripts/dashboard/util/getFormDataWithExtraFilters_spec.ts
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/types.ts
Labels: size/M, v1.2

#14466 fix: Revert "refactor: split db modal file (#14436)"
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/styles.ts
Labels: preset-io, size/XXL

#14465 fix: Ignore database extra fields when saving
  superset/databases/schemas.py
Labels: Turing, size/XS

#14471 fix: dashboard datasources filter None
  superset/models/dashboard.py
  superset/models/slice.py
  superset/views/core.py
  superset/views/utils.py
Labels: size/S

#14417 chore: Update WebSocket server code from feedback
  superset-websocket/spec/config.spec.ts
  superset-websocket/spec/config.test.ts
  superset-websocket/src/config.ts
Labels: size/L

#14480 feat(viz): add funnel chart
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: preset-io, size/XS

#14483 fix(annotations): pass force param to annotation request
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/explore/exploreUtils/index.js
  superset/utils/core.py
  superset/views/core.py
Labels: preset-io, size/M

#14485 chore: Move styles from .less stylesheet to emotion in Explore
  superset-frontend/spec/javascripts/explore/components/AdhocMetricStaticOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/FilterDefinitionOption_spec.jsx
  superset-frontend/spec/javascripts/explore/components/MetricDefinitionOption_spec.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/main.less
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreContentPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/MetricControl/FilterDefinitionOption.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionOption.jsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/explore/components/optionRenderers.tsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/main.less
Labels: size/XL

#14418 chore: Removes common storybook
  superset-frontend/src/common/components/common.stories.tsx
  superset-frontend/src/components/CronPicker/CronPicker.stories.tsx
  superset-frontend/src/components/InfoTooltip/InfoTooltip.stories.tsx
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/components/Modal/Modal.stories.tsx
  superset-frontend/src/components/Modal/Modal.tsx
Labels: Turing, folder:reorg, size/L

#14481 fix: Explore layout is sometimes too short for the viewport
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
Labels: preset-io, size/XS

#14477 chore: bump sankey and pivot table chart to 0.17.43
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, test:case

#14467 fix(dashboard): Prevent char overflow when displaying chart description
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/S, viz:dashboard:ui

#14490 fix: Fix #13831
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
Labels: Turing, size/S

#14498 fix: Query History
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.tsx
Labels: size/XS

#14470 feat: db modal split
  superset-frontend/cypress-base/cypress/integration/database/modal.test.ts
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: need:qa, preset-io, size/XXL

#14497 test: Attempt to reduce asyncEvent test flakiness
  superset-frontend/src/middleware/asyncEvent.ts
Labels: preset-io, size/XS

#14195 chore: Adds QueryParamProvider to the testing helper
  superset-frontend/spec/helpers/testing-library.tsx
Labels: Turing, folder:reorg, size/XS

#14380 chore: Moves spec files to the src folder - iteration 4
  superset-frontend/src/utils/cacheWrapper.test.ts
  superset-frontend/src/utils/common.test.jsx
  superset-frontend/src/utils/getClientErrorObject.test.ts
  superset-frontend/src/utils/getControlsForVizType.test.js
  superset-frontend/src/utils/parseCookie.test.ts
  superset-frontend/src/utils/safeStringify.test.ts
Labels: Turing, folder:reorg

#14494 refactor(utils): replace strtobool with parse_boolean_string
  superset/config.py
  superset/datasets/api.py
Labels: preset-io, size/XS

#14358 fix: SQL Statement on QUERY_LOGGER prints none to log
  superset/sql_lab.py
Labels: size/XS

#14491 feat: add `make format` command
  Makefile
Labels: ready-to-merge, size/XS

#14506 fix: disable pylint error breaking CI
  superset/models/dashboard.py
Labels: size/XS

#14509 fix: parameterize titles correctly
  superset/views/core.py
Labels: preset-io, size/XS

#14492 fix: Add extra check to loggerMiddleware
  superset-frontend/src/middleware/loggerMiddleware.js
Labels: Flexiana, size/XS

#14515 chore: bump superset-ui to 0.17.44
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: preset-io, size/XS

#14516 feat(viz): new tree chart
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/XS

#14493 feat(explore): collapse time section if no ts columns
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: preset-io, size/L

#14461 feat(native-filters): Auto apply changes in FiltersConfigModal
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ControlItems.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/filters/components/GroupBy/controlPanel.ts
  superset-frontend/src/filters/components/Select/controlPanel.ts
Labels: hold!, size/L, v1.2

#14519 feat(dremio): implement convert_dttm method
  superset/db_engine_specs/dremio.py
  tests/db_engine_specs/dremio_tests.py
Labels: preset-io, size/M

#14412 chore: Improved translation into Russian language
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
Labels: i18n:general

#14526 fix(chart-data): handle url_params in csv export and native filters
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/dashboard/util/extractUrlParams.test.ts
  superset-frontend/src/dashboard/util/extractUrlParams.ts
  superset/views/utils.py
  tests/utils_tests.py
Labels: preset-io, size/L, v1.2

#14531 fix: bringing metric type icon styles into SelectControl
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: blocking!, need:qa-review, preset-io, rush!, size/S

#14502 refactor: Bootstrap to AntD - Form - iteration 3
  superset-frontend/spec/javascripts/explore/components/AdhocMetricEditPopover_spec.jsx
  superset-frontend/spec/javascripts/explore/components/BoundsControl_spec.jsx
  superset-frontend/spec/javascripts/sqllab/SaveQuery_spec.jsx
  superset-frontend/src/SqlLab/components/SaveQuery.tsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton.tsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Form/FormItem.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.jsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.jsx
Labels: Turing, migration:component, size/L

#14496 chore: Removes tabs pane animation by default
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/src/components/Tabs/Tabs.tsx
Labels: Turing, hold!, size/XS

#14184 refactor(navbar): migrate Bootstrap navbar to AntD menus
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuObject.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset-frontend/src/components/Menu/NewMenu.test.tsx
  superset-frontend/src/components/Menu/NewMenu.tsx
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.test.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.test.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.test.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
  superset-frontend/stylesheets/superset.less
Labels: design:review, preset-io, size/XXL

#14364 refactor: remove panel from userinfo component
  superset-frontend/spec/javascripts/profile/App_spec.tsx
  superset-frontend/src/profile/components/App.tsx
Labels: migration:component, preset-io, size/M

#13095 chore: update CONTRIBUTING.md tag --lts
  CONTRIBUTING.md
Labels: size/XS

#14544 fix: flaky test on reports
  tests/reports/commands_tests.py
Labels: preset-io, size/XS

#14539 fix(viz): apply uniform sorting to all nvd3 timeseries charts
  superset/viz.py
Labels: preset-io, size/M

#14495 fix: White space between Chart and Data panel in Explore
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
Labels: Flexiana, ready-to-merge, size/XS

#14527 feat(alert&report): set image width for email
  superset/reports/notifications/email.py
Labels: preset-io, size/XS

#14556 chore: Update FAB to 3.3.0
  requirements/base.txt
  setup.py
Labels: size/XS

#14561 fix: select country in examples chart
  superset/examples/country_map.py
Labels: size/XS

#14551 fix: Column name and icons alignment in the Datasource Panel (Explore)
  superset-frontend/src/explore/components/optionRenderers.tsx
Labels: Flexiana, hold:testing!, size/XS

#14569 style: adds padding badges to look less claustrophobic
  superset-frontend/src/components/Badge/index.tsx
Labels: preset-io, size/XS

#14566 fix: Menu does not appear on scroll in Dashboard
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/stylesheets/superset.less
Labels: Flexiana, bash!, need:qa-review, rush!, size/XS

#14582 fix: Adds space under dataset change warning
  superset-frontend/src/components/Alert/Alert.stories.tsx
  superset-frontend/src/components/Alert/index.tsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
Labels: preset-io, size/S

#14584 fix: bring back dashboard perf logger
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/views/store.ts
Labels: size/S

#14587 fix: dashboard side actions
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
Labels: bash!, blocking!, preset-io, rush!, size/XS

#14579 fix: properly keep state on queryEditorSetSql on tabstateview PUT
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#14581 chore: Update `make py-format` to use pre-commit
  Makefile
Labels: size/XS

#14590 feat(native-filters): add sort metric to select
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/buildQuery.ts
Labels: preset-io, size/M

#14420 feat: API endpoint to validate databases using separate parameters
  docs/src/pages/docs/Miscellaneous/issue_codes.mdx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/config.py
  superset/constants.py
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/validate.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/cockroachdb.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/redshift.py
  superset/errors.py
  superset/exceptions.py
  tests/databases/api_tests.py
  tests/databases/commands_tests.py
  tests/db_engine_specs/base_engine_spec_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/XL

#14597 fix: error icon spacing in explore
  superset-frontend/src/explore/components/QueryAndSaveBtns.jsx
Labels: bash!, preset-io, ready-for-review, size/XS

#14419 refactor: change xsm Icons and dnd icons to new dynamic icons
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/AdhocFilterOption.test.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: migration:component, preset-io, size/S, viz:explore:dnd

#14546 chore: Consolidating form experience (Bootstrap to AntD) - iteration 4
  superset-frontend/cypress-base/cypress/integration/explore/annotations.test.ts
  superset-frontend/spec/javascripts/explore/components/TextArea_spec.jsx
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/CRUD/Fieldset.jsx
  superset-frontend/src/components/DeleteModal/index.tsx
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/AdhocFilterEditPopoverSqlTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
  superset-frontend/src/explore/components/controls/HiddenControl.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
Labels: Turing, ready-for-review, ready-to-merge, size/L

#14585 fix: don't show busted label for unknown data types
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: bash!, preset-io, ready-to-merge, size/XS

#14547 feat: add generic type to column payload
  superset-frontend/cypress-base/cypress/integration/dashboard/dashboard.helper.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/spec/javascripts/components/ColumnTypeLabel_spec.jsx
  superset-frontend/spec/javascripts/datasource/fixtures.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/filters/components/Range/buildQuery.ts
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  tests/db_engine_specs/base_tests.py
  tests/db_engine_specs/mysql_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: bash!, data:connect:postgres, preset-io, release:note, size/L

#14560 feat: bumping echarts plugin, adding new treemap plugin
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: hold!, preset-io, ready-for-review, size/XS

#14618 fix(explore): Filters Tooltip is not showing the full content
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/index.jsx
  superset-frontend/src/explore/components/controls/OptionControls/OptionControls.test.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: Flexiana, size/S

#14625 chore: Change name to `BaseParameters` to `BasicParameters`
  superset/databases/api.py
  superset/databases/commands/validate.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  tests/databases/schema_tests.py
  tests/db_engine_specs/base_engine_spec_tests.py
Labels: size/M

#14525 fix: add action buttons to time series column popover
  superset-frontend/spec/javascripts/explore/components/BoundsControl_spec.jsx
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/TimeSeriesColumnControl.test.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.jsx
Labels: Turing, bash!, ready-for-review, ready-to-merge, size/L

#14557 fix: Consolidating dropdown/NavDropdown user experience (removing React-bootstrap, using AntD)
  superset-frontend/src/components/EditableTitle/index.tsx
  superset-frontend/src/components/Menu/LanguagePicker.test.tsx
  superset-frontend/src/components/Menu/LanguagePicker.tsx
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
  superset-frontend/src/components/NavDropdown/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: Turing, need:followup, ready-for-review, size/L

#14627 fix: Pin itsdangerous
  requirements/base.txt
  setup.py
Labels: size/XS

#14478 fix: fix adhocpopovers tab animate.
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/src/components/Tabs/Tabs.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
Labels: bash!, preset-io, size/L, viz:explore:metrics

#14637 fix: Removing specific column widths, letting things flex naturally.
  superset-frontend/src/components/Menu/SubMenu.tsx
Labels: preset-io, size/XS

#14638 perf: memoize db_engine_spec in database
  superset-frontend/cypress-base/cypress/integration/dashboard/dashboard.helper.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.ts
  superset-frontend/src/datasource/ChangeDatasourceModal.tsx
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/models/core.py
Labels: preset-io, size/M

#14120 fix: do not render favorite favStars and filters for anonymous user
  superset-frontend/src/explore/components/ExploreChartHeader.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset/views/core.py
Labels: new:contributor, size/L

#14633 chore: Bump pip-compile-multi
  .pre-commit-config.yaml
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
  requirements/docker.txt
  requirements/integration.txt
  requirements/local.txt
  requirements/testing.txt
Labels: size/XXL

#14609 fix(explore): Missing border in the Popover SQL Editor
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
Labels: Flexiana, bash!, size/XS

#14624 fix: Fixes top level tabs and automatic scroll
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/dnd/handleHover.js
  superset-frontend/src/dashboard/components/dnd/handleScroll/handleScroll.test.ts
  superset-frontend/src/dashboard/components/dnd/handleScroll/index.ts
  superset-frontend/src/dashboard/util/getDropPosition.js
Labels: Turing, bash!, need:validation, size/M

#14626 fix(dashboard): check edit permissions correctly on frontend
  superset-frontend/spec/javascripts/profile/fixtures.tsx
  superset-frontend/src/common/hooks/apiResources/dashboards.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/util/findPermission.test.ts
  superset-frontend/src/dashboard/util/findPermission.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/types/Dashboard.ts
  superset-frontend/src/types/bootstrapTypes.ts
Labels: bash!, preset-io, ready-for-review, size/L

#14568 chore: use before_request hook for dynamic routes
  superset/app.py
  superset/charts/api.py
  superset/dashboards/api.py
  superset/reports/api.py
  superset/reports/logs/api.py
  superset/utils/urls.py
  tests/conftest.py
  tests/reports/api_tests.py
  tests/thumbnails_tests.py
Labels: size/L

#14636 fix: DB parameter validation API
  superset/databases/schemas.py
  superset/exceptions.py
  tests/databases/api_tests.py
Labels: ready-to-merge, size/S

#14648 fix: roles undefined on public dashboards
  superset-frontend/src/dashboard/util/findPermission.test.ts
  superset-frontend/src/dashboard/util/findPermission.ts
Labels: bash!, need:qa-review, preset-io, ready-for-review, size/XS

#14631 fix: fix submenu header double line
  superset-frontend/src/components/Menu/SubMenu.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
Labels: preset-io, size/L

#14433 feat: Adding configuration_method column to Database Model
  superset/migrations/versions/453530256cea_add_save_option_column_to_db_model.py
Labels: size/M

#14451 feat: Configuration Method and expanded parameters for Database Model
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/databases/schemas.py
  superset/models/core.py
  tests/databases/api_tests.py
  tests/databases/commands_tests.py
Labels: size/L

#14641 chore: Removes react-bootstrap and react-bootstrap-slider
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/webpack.config.js
  superset/assets/spec/javascripts/sqllab/ExploreCtasResultsButton_spec.jsx
  superset/assets/src/SqlLab/components/ExploreCtasResultsButton.jsx
  superset/assets/version_info.json
Labels: Turing

#14644 chore: Adjust language picker theme to match other menus
  superset-frontend/src/components/Menu/LanguagePicker.test.tsx
  superset-frontend/src/components/Menu/LanguagePicker.tsx
  superset-frontend/src/components/Menu/Menu.test.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
Labels: Turing, bash!, size/L

#14469 chore: Replaces Icon with Icons component - iteration 1
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/AdhocFilterOption.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.jsx
  superset-frontend/src/explore/components/controls/OptionControls/OptionControls.test.tsx
Labels: Turing, migration:component, size/L

#14650 chore: Register dynamic plugins and add feature checks
  superset/app.py
  superset/views/dynamic_plugins.py
  tests/dynamic_plugins_tests.py
Labels: size/M

#14655 fix: Clear search on deleting search keyword
  superset-frontend/src/components/ListView/Filters/Search.tsx
Labels: Flexiana, size/S

#14674 fix: Fixes group by control icon colors
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/explore/components/optionRenderers.tsx
Labels: Turing, bash!, size/M, viz:explore:control

#14580 fix: nav submenu dropdown styles
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/stylesheets/superset.less
Labels: bash!, preset-io, ready-for-review, size/M

#14668 feat: make config method optional
  superset/databases/schemas.py
  tests/databases/api_tests.py
Labels: size/M

#14665 fix(explore): Fix column number calculation
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/explore/components/ControlRow.tsx
Labels: Flexiana, size/S

#14663 fix(explore): Tag component overlap
  superset-frontend/src/components/Label/index.tsx
Labels: Flexiana, size/XS

#14656 fix: Tooltip position of table title
  superset-frontend/src/SqlLab/components/TableElement.jsx
Labels: Flexiana, size/XS

#14651 fix(sqllab): fix error message
  superset-frontend/src/views/CRUD/data/components/SyntaxHighlighterCopy/index.tsx
Labels: size/S

#14673 feat: add SSL to new DB parameters
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  tests/databases/api_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/M

#14664 fix: Fixes email body when sharing a chart by email
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.jsx
Labels: Turing, bash!, ready-for-review, size/XS

#14558 docs: Update docs for GLOBAL_ASYNC_QUERIES_TRANSPORT
  CONTRIBUTING.md
  docs/installation.rst
Labels: preset-io, size/XS

#14381 feat: Better return messages in SQL Editor
  superset-frontend/spec/javascripts/sqllab/QuerySearch_spec.jsx
  superset-frontend/spec/javascripts/sqllab/QueryTable_spec.jsx
  superset-frontend/spec/javascripts/sqllab/ResultSet_spec.jsx
  superset-frontend/spec/javascripts/sqllab/fixtures.ts
  superset-frontend/src/SqlLab/components/QueryTable.jsx
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.tsx
  superset-frontend/src/SqlLab/components/SouthPane/state.ts
  superset-frontend/src/SqlLab/components/SqlEditor.jsx
  superset-frontend/src/SqlLab/main.less
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset/views/core.py
Labels: size/L

#14667 feat(dashboard): View query of the chart in dashboard
  superset-frontend/spec/javascripts/explore/components/ExploreAdditionalActionsMenu.jsx
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreAdditionalActionsMenu.test.tsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/explore/components/controls/ViewQueryModal.tsx
Labels: demo, release:note, size/L, viz:dashboard:query

#14567 fix(explore): #10098 boolean filter not working
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.jsx
  superset-frontend/src/explore/constants.ts
  superset/connectors/sqla/models.py
  superset/utils/core.py
  tests/sqla_models_tests.py
Labels: bash!, size/L

#14675 feat: redirect to /login when CSRF expired
  superset/views/base.py
Labels: size/S

#14677 feat: redirect 404/500 to static pages
  superset-frontend/src/assets/staticPages/404.html
  superset/views/base.py
Labels: size/S

#14698 fix: import dataset with extra; Vertica URI
  superset/databases/schemas.py
  superset/datasets/commands/export.py
  superset/datasets/commands/importers/v1/utils.py
  superset/datasets/schemas.py
  tests/databases/api_tests.py
  tests/datasets/commands_tests.py
  tests/fixtures/importexport.py
Labels: size/S

#14529 fix(Explore): fixes broken layout of tooltips
  superset-frontend/spec/javascripts/explore/components/ControlPanelsContainer_spec.tsx
  superset-frontend/src/explore/components/ControlHeader.jsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/main.less
Labels: bash!, preset-io, size/M

#14657 fix(explore): Filter box full chart height
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
Labels: Flexiana, bash!, ready-for-review, size/XS, viz:chart-filterbox

#14448 chore: Removes less from SliceAdder
  superset-frontend/spec/javascripts/dashboard/components/SliceAdder_spec.jsx
  superset-frontend/src/dashboard/components/AddSliceCard.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
Labels: Turing, migration:component, ready-for-review, size/L

#14653 feat: Add Parameters fields to GET Database
  superset-frontend/cypress-base/cypress/integration/database/modal.test.ts
  superset/databases/api.py
  superset/db_engine_specs/base.py
  superset/models/core.py
Labels: size/S

#14680 feat: Expanded Parameters for Mysql
  superset/db_engine_specs/mysql.py
  tests/databases/api_tests.py
  tests/db_engine_specs/mysql_tests.py
Labels: size/M

#14647 feat: Add headers for DatabaseModal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset/databases/api.py
Labels: ready-to-merge, size/L

#14701 fix(explore): checkbox form control formatting
  superset-frontend/src/CRUD/Field.jsx
  superset-frontend/src/CRUD/Field.tsx
  superset-frontend/src/components/Form/FormItem.tsx
  superset-frontend/src/datasource/DatasourceEditor.jsx
Labels: preset-io, size/L

#14679 fix(explore): add margin to the adhoc filter value select
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.jsx
Labels: bash!, preset-io, size/XS

#14719 fix: check limiting factor on query results
  superset-frontend/src/SqlLab/components/ResultSet.tsx
  superset-frontend/src/SqlLab/types.ts
Labels: blocking!, preset-io, rush!, size/S

#14221 fix(explore): fix clearing select data causes popover dismiss
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: size/M

#14724 feat: do not redirect on 404/500
  superset/views/base.py
Labels: size/XS

#14714 chore: Improves the native filters UI/UX - iteration 1
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/Footer/CancelConfirmationAlert.tsx
Labels: Turing, size/XL, viz:dashboard:native-filter

#14652 feat: Add `make update` cmd
  Makefile
Labels: size/S

#14708 fix: reindex when combine metric in legacy pivot table
  superset/viz.py
Labels: bash!, size/XS

#14530 feat: Labeled Error-bound Input
  superset-frontend/src/components/Form/FormLabel.tsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.stories.tsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.test.jsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/Form/index.tsx
Labels: size/L

#14723 chore: Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: preset-io, ready-to-merge, size/XS

#14722 fix(sqllab): don't store user in localstorage
  superset-frontend/src/SqlLab/App.jsx
Labels: need:qa-review, preset-io, size/S

#14739 fix(native-filters): Unable to clear default value in native select filter
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
Labels: Turing, size/S, viz:dashboard:native-filter

#14725 fix: homepage card layout
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
Labels: bash!, home:ux, preset-io, ready-for-review, ready-to-merge, size/S

#14693 feat(native-filters): Highlight charts affected by focused native filter
  superset-frontend/spec/javascripts/dashboard/components/DashboardBuilder_spec.jsx
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/reducers/nativeFilters.ts
  superset-frontend/src/dashboard/reducers/types.ts
  superset-frontend/src/dashboard/stylesheets/components/chart.less
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/GroupBy/transformProps.ts
  superset-frontend/src/filters/components/GroupBy/types.ts
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/transformProps.ts
  superset-frontend/src/filters/components/Range/types.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/transformProps.ts
  superset-frontend/src/filters/components/Select/types.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/transformProps.ts
  superset-frontend/src/filters/components/Time/types.ts
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/transformProps.ts
  superset-frontend/src/filters/components/TimeColumn/types.ts
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/transformProps.ts
  superset-frontend/src/filters/components/TimeGrain/types.ts
  superset-frontend/src/filters/components/common.ts
  superset-frontend/src/filters/components/types.ts
Labels: demo, ready-for-review, release:note, size/L, viz:dashboard:native-filter

#14748 fix(pivot): default missing series to NULL_STRING
  superset/utils/pandas_postprocessing.py
  tests/pandas_postprocessing_tests.py
Labels: demo, preset-io, release:note, size/S, viz:explore:others

#14734 fix(dashboard): multiple query trigger when native filter enabled
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
Labels: size/XS, viz:dashboard:native-filter

#14507 feat: Add a remove_filter flag to the jinja filter_values function and add a new get_filters function (see issue 13943 for more details)
  RESOURCES/FEATURE_FLAGS.md
  superset/config.py
  superset/connectors/sqla/models.py
  superset/jinja_context.py
  tests/jinja_context_tests.py
Labels: size/L

#14689 fix: Fixes right menu layout in different screen sizes
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/components/Menu/Menu.tsx
  superset-frontend/src/components/Menu/MenuRight.tsx
Labels: Turing, bash!, size/M

#14702 fix: Use g.user for getting the user_id for async queries
  superset/charts/api.py
  superset/charts/commands/data.py
  superset/utils/async_query_manager.py
  superset/views/core.py
Labels: size/M

#14742 fix: Set g.user to anon user in Celery
  superset/security/manager.py
  superset/tasks/async_queries.py
  tests/tasks/async_queries_tests.py
Labels: size/M

#14695 feat: make tabs sticky in homepage
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
Labels: demo, preset-io, release:note, size/M

#14717 fix(explore): Icons width
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/explore/components/optionRenderers.tsx
Labels: Flexiana, bash!, size/XS, viz:explore:ui

#14199 chore: Removes ColorSchemeControl.less
  superset-frontend/src/explore/components/controls/ColorSchemeControl.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl.less
Labels: Turing, folder:reorg, size/M

#14759 fix: save non-parameter DBs
  superset/databases/schemas.py
Labels: size/S

#14583 feat: save database with new dynamic form
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/databases/schemas.py
Labels: preset-io, size/XL

#14762 other: "revert fix(dashboard): multiple query trigger when native filter enabled"
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
Labels: size/XS

#14766 fix: add DB should not say it's Postgres
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: ready-to-merge, size/XS

#14767 feat: enable user impersonation in GSheets
  setup.py
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset/db_engine_specs/gsheets.py
Labels: size/S

#14721 feat: Create BigQuery Parameters for DatabaseModal
  superset/databases/api.py
  superset/databases/commands/validate.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/models/core.py
  tests/databases/api_tests.py
  tests/db_engine_specs/postgres_tests.py
Labels: size/L

#14737 fix(explore): DndColumnSelect not handling controls with "multi: false"
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/types.ts
Labels: size/S, viz:explore:dnd

#14779 fix(native filters): Fix explore state
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
Labels: size/XS

#14753 chore: Improves the native filters UI/UX - iteration 2
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTabs.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: Turing, size/L

#14770 fix: extra query in Dashboard when native filter enabled
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS

#14710 feat(native-filters): add search all filter options
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.jsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/buildQuery.ts
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Select/index.ts
  superset-frontend/src/filters/components/Select/transformProps.ts
  superset-frontend/src/filters/components/Select/types.ts
  superset/connectors/sqla/models.py
  superset/utils/core.py
Labels: preset-io, size/L

#14771 fix: database modal should close on connect with tab layout
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: preset-io, size/L

#14787 fix: ensure engine is outside parameters
  superset/databases/schemas.py
Labels: size/S

#14790 fix: use encodeURIComponent when getting table metadata
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/XS
