Repository apache/superset, pull requests merged in 2022-11, with the labels that each got.

#21982 chore: bubble up more db error messages
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/utils/getClientErrorObject.ts
  superset/databases/api.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/exceptions.py
  superset/db_engine_specs/trino.py
  superset/explore/commands/get.py
  superset/models/core.py
  superset/views/core.py
Labels: size/L

#21959 fix: rename datasource->dataset in error message
  superset/common/query_context_processor.py
Labels: size/XS

#21995 fix: bump gecko and mozilla in Dockerfile
  Dockerfile
Labels: size/XS

#21998 fix: db owners not showing
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
Labels: size/XS

#21996 fix: invalid float number format by json-bigint
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/M

#21938 chore: Refactor ownership
  superset/datasets/api.py
  superset/datasets/commands/duplicate.py
Labels: size/S

#22011 fix: Change downloadAsImage to use Superset theme
  superset-frontend/src/utils/downloadAsImage.ts
Labels: size/S

#22014 fix: Revert shared controls typing change.
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
Labels: size/XS

#21974 feat: Adds the DropdownContainer component
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
Labels: size/L

#22015 refactor: Feature flags getter
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
Labels: size/M

#22004 feat(dashboard): Support changing filter bar location
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/FilterBarLocationSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarLocationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/types/Dashboard.ts
  superset/dashboards/schemas.py
Labels: size/L

#22029 fix: JSON serializers
  superset/models/core.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Labels: size/L

#21976 fix(native-filters): panels are collapsed when switch native filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: size/XS

#22031 feat: Adds more customization properties to DropdownContainer
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Labels: size/L

#21895 feat: Improves SafeMarkdown HTML sanitization
  UPDATING.md
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/spec/helpers/shim.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/webpack.config.js
  superset/config.py
  superset/examples/configs/dashboards/Slack_Dashboard.yaml
  superset/views/base.py
Labels: size/L

#21954 build: Mutli-stage build and slim image for websocket container
  .github/workflows/docker_build_push.sh
  superset-websocket/Dockerfile
  superset-websocket/package-lock.json
Labels: size/M

#22027 feat: Add 3 new extension points for inserting custom icons
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Labels: size/L

#22022 fix: deprecate approve and request_access endpoint
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/access_tests.py
Labels: size/S

#22038 fix: datasource save, improve data validation
  superset/config.py
  superset/utils/urls.py
  superset/views/datasource/views.py
  tests/integration_tests/datasource_tests.py
  tests/unit_tests/utils/urls_tests.py
Labels: size/L

#22041 chore: Adds RTL tests to DropdownContainer
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/DropdownContainer.test.tsx
  superset-frontend/src/components/DropdownContainer/Overview.stories.mdx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/styles.tsx
Labels: size/L

#22040 fix: accept only JSON credentials
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
Labels: size/XS

#21819 feat(dashboard): confirm overwrite to prevent unintended changes
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/spec/fixtures/mockDashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/OverwriteConfirm.test.tsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/OverwriteConfirmModal.test.tsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/OverwriteConfirmModal.tsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/index.tsx
  superset-frontend/src/dashboard/constants.ts
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/constants.ts
  superset-frontend/src/dashboard/util/getOverwriteItems.test.ts
  superset-frontend/src/dashboard/util/getOverwriteItems.ts
  superset-frontend/src/logger/LogUtils.ts
Labels: size/XL

#22068 test: Fix act errors in DndColumnSelectControl tests
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.test.tsx
Labels: size/M

#22067 chore: update Druid
  requirements/development.txt
  setup.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/trino.py
  superset/models/core.py
  superset/views/core.py
Labels: size/S

#22020 feat(helm): add `metadata namespace`
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/configmap-superset.yaml
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/templates/secret-env.yaml
  helm/superset/templates/secret-superset-config.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service-account.yaml
  helm/superset/templates/service.yaml
Labels: size/S

#22024 chore(bigquery): Add extra logging for BigQuery exceptions so we can have better insight on exceptions
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
Labels: size/M

#22083 chore: improve performance on bootstrap permissions
  requirements/base.txt
  setup.py
  superset/views/utils.py
Labels: size/S

#21948 feat: Integrate ant d table component into DatasetPanel
  superset-frontend/.storybook/main.js
  superset-frontend/src/assets/images/no-columns.svg
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.stories.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/MessageContent.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/fixtures.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/types.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/Footer.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/styles.ts
Labels: size/XL

#22074 refactor: update documents and rename variables
  UPDATING.md
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
Labels: size/M

#22102 chore: deprecate /superset/fetch_datasource_metadata mig to API v1
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset/datasets/api.py
  superset/views/core.py
Labels: size/S

#22113 refactor: add deprecated decorator for old SupersetView's
  superset/views/base.py
  superset/views/core.py
Labels: size/L

#22081 fix: Right click on country map with code filter
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/transformProps.js
Labels: size/S

#21986 chore: remove shadow write of new sip 68 dataset models
  superset/connectors/sqla/models.py
  superset/datasets/dao.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/model_tests.py
  tests/unit_tests/datasets/test_models.py
  tests/unit_tests/datasource/dao_tests.py
Labels: size/XXL

#22013 fix(sqllab): Add templateParams on kv store
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
Labels: size/S

#22077 feat: Add a new database driver for Amazon DynamoDB
  setup.py
  superset/db_engine_specs/dynamodb.py
  tests/unit_tests/db_engine_specs/test_dynamodb.py
Labels: size/L

#22116 chore: deprecate /superset/datasources/
  superset/views/core.py
Labels: size/XS

#22129 fix: add back database lookup from sip 68 revert
  superset/connectors/sqla/models.py
  superset/datasets/dao.py
Labels: size/M

#22050 chore(sqllab): Change icon color for running sql
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/SqlLab/components/TabStatusIcon/TabStatusIcon.test.tsx
  superset-frontend/src/SqlLab/components/TabStatusIcon/index.tsx
  superset-frontend/src/SqlLab/main.less
Labels: size/M

#22120 feat(ssh_tunnel): DAO Changes for SSH Tunnel
  superset/databases/dao.py
  superset/databases/ssh_tunnel_dao.py
  tests/unit_tests/databases/dao/__init__.py
  tests/unit_tests/databases/dao/dao_tests.py
Labels: size/L

#22121 chore(docs): update slack invite url
  CODE_OF_CONDUCT.md
  README.md
  docs/docs/contributing/contributing-page.mdx
  docs/docusaurus.config.js
  docs/src/pages/community.tsx
Labels: size/S

#21650 chore: Use queryEditorId in SqlEditor child components
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/EstimateQueryCostButton.test.tsx
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/index.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/RunQueryActionButton.test.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/TableElement.test.jsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor/TemplateParamsEditor.test.tsx
  superset-frontend/src/SqlLab/components/TemplateParamsEditor/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Labels: size/L, need:qa-review

#22039 feat: use a new official CH driver: clickhouse-connect
  docs/docs/databases/clickhouse.mdx
  docs/docs/databases/installing-database-drivers.mdx
  setup.py
  tests/integration_tests/db_engine_specs/clickhouse_tests.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Labels: size/L

#22118 fix: slug is empty if filename is non-ASCII
  superset/charts/commands/export.py
  superset/dashboards/commands/export.py
  superset/databases/commands/export.py
  superset/datasets/commands/export.py
  superset/utils/file.py
  tests/unit_tests/utils/test_file.py
Labels: size/L

#22153 feat(ssh_tunnel): DELETE SSH Tunnels API
  superset/constants.py
  superset/databases/api.py
  tests/unit_tests/databases/api_test.py
Labels: size/L

#22156 Revert "feat(ssh_tunnel): DELETE SSH Tunnels API"
  superset/constants.py
  superset/databases/api.py
  tests/unit_tests/databases/api_test.py
Labels: size/L

#22007 chore: Upgrade antd@4.10.3
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-chart-controls/package.json
  superset-frontend/packages/superset-ui-core/test/__mocks__/resize-observer-polyfill.ts
  superset-frontend/packages/superset-ui-demo/package.json
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/webpack.config.js
Labels: size/M, need:qa-review

#22160 feat: auto select schema
  superset-frontend/src/components/DatabaseSelector/index.tsx
Labels: size/S

#22115 fix: Add scrollTopOnPagination property to Table
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/TableView/TableView.stories.tsx
  superset-frontend/src/components/TableView/TableView.tsx
Labels: size/M, need:qa-review

#22064 feat: Horizontal filter bar states
  superset-frontend/spec/fixtures/mockDashboardInfo.js
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/ActionButtons.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarOrientationSelect/FilterBarOrientationSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarOrientationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/EditSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSets.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FiltersHeader.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/Footer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
  superset-frontend/src/dashboard/types.ts
  superset/dashboards/schemas.py
Labels: size/XXL, risk:refactor, need:qa-review

#22167 fix(alerts): execute query as report executor
  superset/reports/commands/alert.py
  tests/integration_tests/reports/alert_tests.py
Labels: size/M

#22152 fix: Flaky E2E tests
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
Labels: size/S

#22085 chore: Change get_table_names/get_view_names return type
  superset/db_engine_specs/base.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/sqlite.py
  superset/models/core.py
  superset/views/core.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
Labels: size/L

#22170 fix: Adds time grain to Pivot Table v2
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/types.ts
Labels: size/S

#22147 fix: Unhandled exception Str Column Type
  superset/connectors/base/models.py
Labels: size/XS

#22157 docs: installing database drivers - trino
  docs/docs/databases/installing-database-drivers.mdx
Labels: size/XS

#22172 fix: SQL Lab QuerySource via referrer
  superset/models/core.py
Labels: size/XS

#22171 fix: don't stringify extraJson in form
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
Labels: size/XS

#22186 fix: Empty Error Alert Modal
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
Labels: size/XS

#22187 docs: add AI inside to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#22178 chore: remove annotation layer FAB CRUD model view
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/routes.tsx
  superset/annotation_layers/annotations/commands/create.py
  superset/initialization/__init__.py
  superset/views/__init__.py
  superset/views/annotations.py
  tests/integration_tests/core_tests.py
Labels: size/L

#22197 chore: rename 'Change dataset' action to 'Swap dataset'
  superset-frontend/src/components/Datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Labels: size/S

#22207 fix(explore): Value undefined and Unhashable type errors
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/M

#22218 fix(plugin-chart-echarts): tooltip overflow bug
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/tooltip.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Labels: size/L

#22181 build(docker): Push websocket image
  .github/workflows/docker_build_push.sh
Labels: size/XS

#22213 fix: (dashboard) Adds optional chaining to avoid runtime error
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
Labels: size/S

#22224 refactor: restructure shared-contrls modules
  superset-frontend/packages/superset-ui-chart-controls/src/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/expandControlConfig.tsx
Labels: size/M

#22169 feat: Make filters and dividers display horizontally in horizontal native filters filter bar
  superset-frontend/.storybook/main.js
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.stories.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/types.ts
  superset-frontend/src/filters/components/types.ts
  superset-frontend/src/hooks/useTruncation/index.ts
  superset-frontend/src/hooks/useTruncation/useCSSTextTruncation.ts
  superset-frontend/src/hooks/useTruncation/useChildElementTruncation.ts
Labels: size/XXL

#22220 feat(chart): Added Latvia to countries map
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/latvia.geojson
Labels: size/L

#22135 feat: Adds virtualization option to antd based Table component
  superset-frontend/src/components/Table/Table.overview.mdx
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/components/Table/VirtualTable.tsx
  superset-frontend/src/components/Table/index.tsx
Labels: size/XL

#22196 fix(reports): force data generation in csv reports
  superset/charts/data/api.py
  superset/charts/schemas.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M

#22214 chore(dashboard): Ignore empty json value for overwrite confirm
  superset-frontend/src/dashboard/util/getOverwriteItems.ts
Labels: size/XS

#22234 fix: the TimePicker overlay the AdhocFilter
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Labels: size/XS

#22238 fix(generic-chart-axes): apply time filter on all target column types
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/models/helpers.py
Labels: size/XS

#22212 fix(dashboard): Fix filter card positioning for horizontal native filters
  superset-frontend/src/dashboard/styles.ts
Labels: size/XS

#22210 fix(dashboard): Fix hover labels for horizontal overflow native filter dividers
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.tsx
  superset-frontend/src/hooks/useTruncation/useCSSTextTruncation.ts
Labels: size/M

#22248 chore: Add a migration that removes filter_bar_orientation from dashboard's json_metadata
  superset/migrations/versions/2022-11-28_17-51_4ce1d9b25135_remove_filter_bar_orientation.py
Labels: size/M

#22010 fix: Apply border radius and fix height for MetadataBar
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
Labels: size/XS

#22249 fix(file_upload): Fix columnar and Excel upload forms
  superset/views/database/forms.py
  superset/views/database/views.py
  tests/integration_tests/csv_upload_tests.py
Labels: size/S

#22260 fix(dashboard): Fix FilterWithDataMask typing and add null check
  superset-frontend/packages/superset-ui-core/src/query/types/Dashboard.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
Labels: size/XS

#22265 fix(dashboard): Force native filters into vertical orientation when FF off
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
Labels: size/S

#22251 chore(ssh-tunnel): create `contextmanager` for sql.inspect
  superset/databases/commands/test_connection.py
  superset/databases/schemas.py
  superset/models/core.py
  tests/conftest.py
Labels: size/L

#22266 chore(dashboard): Fix missing React key errors
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/ScopeRow.tsx
Labels: size/XS

#22252 fix(dashboard): Change horizontal filter bar divider truncation logic
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.tsx
Labels: size/M

#22272 chore(superset-ui): remove deprecated fields from QueryObject
  superset-frontend/packages/superset-ui-core/src/query/buildQueryObject.ts
  superset-frontend/packages/superset-ui-core/src/query/normalizeOrderBy.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/packages/superset-ui-core/src/query/types/QueryFormData.ts
  superset-frontend/packages/superset-ui-core/test/query/buildQueryObject.test.ts
  superset-frontend/packages/superset-ui-core/test/query/normalizeOrderBy.test.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Metric.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/buildQuery.test.ts
  superset-frontend/src/filters/components/Range/buildQuery.ts
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/buildQuery.ts
Labels: size/L

#21992 feat: CSV File Upload form updates (Grouping with Collapse/Expand)
  superset/templates/superset/form_view/csv_macros.html
  superset/templates/superset/form_view/csv_scripts.html
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/views/database/forms.py
  superset/views/database/views.py
Labels: size/L

#22279 chore: bump clickhouse to 0.4.6
  setup.py
Labels: size/XS, merge-if-green

#22242 docs: Add Oslandia to superset users
  RESOURCES/INTHEWILD.md
Labels: size/XS

#22264 fix: allow datasource imports on Windows
  superset/commands/importers/v1/utils.py
Labels: size/XS

#22123 feat: add risingwave.py in db engine specs
  docs/docs/databases/risingwave.mdx
  superset/db_engine_specs/risingwave.py
Labels: size/M

#22173 feat: Uses new table component in Drill to Detail
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.tsx
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/components/Table/VirtualTable.tsx
  superset-frontend/src/components/Table/cell-renderers/BooleanCell/BooleanCell.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/BooleanCell/BooleanCell.test.tsx
  superset-frontend/src/components/Table/cell-renderers/BooleanCell/index.tsx
  superset-frontend/src/components/Table/cell-renderers/NullCell/NullCell.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/NullCell/NullCell.test.tsx
  superset-frontend/src/components/Table/cell-renderers/NullCell/index.tsx
  superset-frontend/src/components/Table/cell-renderers/TimeCell/TimeCell.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/TimeCell/TimeCell.test.tsx
  superset-frontend/src/components/Table/cell-renderers/TimeCell/index.tsx
  superset-frontend/src/components/Table/header-renderers/HeaderWithRadioGroup.tsx
  superset-frontend/src/components/Table/index.tsx
Labels: size/XL
