Repository apache/superset, pull requests merged in 2022-10, with the labels that each got.

#21661 fix(plugin-chart-echarts): boxplot throw error in the dashboard
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
Labels: size/S

#21660 docs: add organization that uses superset
  RESOURCES/INTHEWILD.md
Labels: size/XS

#21570 fix: catch error when masking encrypted extra is none
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/gsheets.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/L

#21631 chore: avoid undefined property on `Global` type
  superset-frontend/packages/superset-ui-switchboard/src/switchboard.test.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: size/XS

#21632 fix(sqllab): perf regression on #21532 refactor
  superset-frontend/spec/helpers/testing-library.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/QueryLimitSelect.test.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/RunQueryActionButton.test.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/SaveQuery.test.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/hooks/useQueryEditor/index.ts
  superset-frontend/src/SqlLab/hooks/useQueryEditor/useQueryEditor.test.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
Labels: size/XL

#21459 chore(tags): Refactor logic to leverage Flask-SQLAlchemy extension
  superset/cli/update.py
  superset/common/tags.py
Labels: size/M

#21614 chore(style): Enforce optional chaining
  superset-frontend/.eslintrc.js
  superset-frontend/packages/superset-ui-chart-controls/src/components/labelUtils.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/connection/callApi/callApi.ts
  superset-frontend/packages/superset-ui-core/src/models/Registry.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/components/ConfirmStatusChange/index.tsx
  superset-frontend/src/components/Datasource/CollectionTable.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/components/TableCollection/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/useFilterScope.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/util/filterboxMigrationHelper.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/controlUtils/getControlState.ts
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/middleware/asyncEvent.ts
  superset-frontend/src/preamble.ts
  superset-frontend/src/setup/setupApp.ts
  superset-frontend/src/setup/setupClient.ts
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayerModal.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplateModal.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Labels: size/L

#21446 fix: Allow clickhouse dbs with timestamps to visualize queries
  superset/models/helpers.py
Labels: size/M, need:qa-review

#21684 fix: add logging to alerts and reports to find non-triggering issues
  superset/reports/commands/execute.py
Labels: size/XS

#21627 chore: add 4xx error codes where applicable
  superset/reports/commands/exceptions.py
  superset/reports/commands/execute.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/M

#21487 refactor: pass all properties to validate_parameters
  superset/databases/api.py
  superset/databases/commands/validate.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/snowflake.py
  superset/models/core.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/databases/schema_tests.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/L

#21687 docs: add Wise to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#21679 fix(migration): Catch DatabaseError to avoid migration crash with MySQL 8.0
  superset/migrations/versions/2021-09-19_14-42_b92d69a6643c_rename_csv_to_file.py
Labels: size/XS

#21664 feat: deprecate created_slices API endpoint
  superset-frontend/src/profile/components/CreatedContent.tsx
  superset-frontend/src/types/bootstrapTypes.ts
  superset/charts/api.py
  superset/charts/filters.py
  superset/dashboards/filters.py
  superset/views/core.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/model_tests.py
Labels: size/L

#21680 fix(native-filters): Range filter max/min default display value
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
Labels: size/M

#21586 chore(dep): Unpin slackclient dependency
  requirements/base.txt
  setup.py
  superset/reports/notifications/slack.py
  superset/tasks/slack_util.py
Labels: size/M

#21683 feat: Use SPA navigation between AddSlice and Dataset list pages
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
Labels: size/S

#21474 chore: Adding/categorizing missing flags in `FEATURE_FLAGS.md`
  RESOURCES/FEATURE_FLAGS.md
Labels: size/S

#17320 other: Improve health check for docker-compose.
  docker-compose-non-dev.yml
  docker-compose.yml
Labels: size/S

#21667 fix(sqllab): async query broken due to #21320
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/M

#21649 feat(chart): add feature flag that displays the data pane closes by default
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset/config.py
Labels: size/M

#21647 fix: Race conditions with setupExtensions
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/preamble.ts
  superset-frontend/src/profile/App.tsx
  superset-frontend/src/views/App.tsx
Labels: size/XS

#21702 chore(key-value): remove redundant exception logging
  superset/key_value/commands/create.py
  superset/key_value/commands/delete.py
  superset/key_value/commands/delete_expired.py
  superset/key_value/commands/get.py
  superset/key_value/commands/update.py
  superset/key_value/commands/upsert.py
  superset/key_value/exceptions.py
Labels: size/S

#21681 chore: E2E tests for Drill to Detail supported Charts
  superset-frontend/cypress-base/cypress/downloads/new-chart-2022-09-09T14-22-31.728Z.jpg
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/area.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/big_number.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/big_number_total.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/bubble.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/compare.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/dist_bar.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/dual_line.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/gauge.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/graph.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/histogram.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pie.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pivot_table.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/sankey.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/sunburst.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/time_table.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/treemap.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/world_map.test.js
  superset/examples/supported_charts_dashboard.py
Labels: size/XL

#21691 fix: add `get_column` function for Query obj
  superset/common/query_context_processor.py
  superset/models/sql_lab.py
Labels: size/S, need:qa-review

#21713 feat: support None operand in EQUAL operator
  superset/charts/schemas.py
  superset/connectors/sqla/models.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#21670 docs(cache): update datasource -> dataset
  docs/docs/installation/cache.mdx
Labels: size/XS

#21697 fix: Right-click on misconfigured World Map
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.js
Labels: size/M

#21708 feat: Adds the CROSS_REFERENCE feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Labels: size/L

#21696 fix: Pass slice_id in Explore get
  superset/explore/commands/get.py
Labels: size/XS

#21719 fix: Drill to detail formatted val on TableChart
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/XS

#21709 fix(database): Handle String errors in DatabaseModal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/M

#21721 build: changelog for 2.0.1
  CHANGELOG.md
Labels: size/M

#21710 fix: gsheets editing with dynamic forms
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/databases/schemas.py
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/M

#21682 feat(sqllab): save query parameters in database
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset/migrations/versions/2022-10-03_17-34_deb4c9d4a4ef_parameters_in_saved_queries.py
  superset/models/sql_lab.py
  superset/queries/saved_queries/api.py
  tests/integration_tests/queries/saved_queries/api_tests.py
Labels: size/L

#21722 fix: Null values on Treemap right-click
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
Labels: size/XS

#21685 feat: Shows related dashboards in Explore
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/download_chart.test.js
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.test.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  tests/integration_tests/superset_test_config.py
Labels: size/L

#21707 fix(explore): chart link is broken without localStorage
  superset-frontend/src/explore/ExplorePage.tsx
Labels: size/S

#21491 docs: wording in template
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Labels: size/XS

#21024 docs(snowflake): Remove wrong version info for snowflake
  docs/docs/databases/snowflake.mdx
Labels: size/XS

#20435 chore: Slovenian translation update
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
Labels: size/XXL

#21711 chore(sqllab): refactor addQueryEditor for new tab
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Labels: size/L

#21740 fix: Gsheets takes 2 clicks to save
  superset-frontend/src/types/Database.ts
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/S

#21486 feat: add denylist for db engines
  superset/config.py
  superset/db_engine_specs/__init__.py
  tests/unit_tests/conftest.py
  tests/unit_tests/db_engine_specs/test_init.py
Labels: size/L

#21729 fix: allow adhoc columns in non-aggregate query
  superset/connectors/sqla/models.py
  superset/superset_typing.py
  superset/utils/core.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M

#21759 fix: database schema selector on import data
  superset/templates/superset/form_view/columnar_to_database_view/edit.html
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/templates/superset/form_view/database_schemas_selector.html
  superset/templates/superset/form_view/excel_to_database_view/edit.html
Labels: size/L

#21741 fix(sqllab): resultset disappeared on switching tabs
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/S

#21748 chore(deps): bump react-map-gl from 4.0.10 to 6.1.19
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/plugins/legacy-plugin-chart-map-box/package.json
  superset-frontend/plugins/legacy-preset-chart-deckgl/package.json
Labels: size/M

#21761 fix: flash message on database data upload forms
  superset/views/database/views.py
Labels: size/S

#21744 chore(explore): Add tests for getControlValuesCompatibleWithDatasource
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.test.ts
Labels: size/L

#21438 perf(dashboard): Virtualization POC
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Chart/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/utils/isBot.ts
  superset-frontend/src/utils/isDashboardVirtualizationEnabled.ts
  superset/config.py
  superset/views/base.py
Labels: size/L

#21698 fix(sqllab): Async queries are now fetched properly
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Labels: size/M, need:qa-review

#21442 fix(datasets): Stop showing alert when saving from query
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/XS

#21766 refactor: preparation for time section migration
  superset-frontend/packages/superset-ui-chart-controls/src/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/sections/sections.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/fixtures.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getTemporalColumns.test.ts
  superset-frontend/packages/superset-ui-core/src/query/constants.ts
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Column.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/AdvancedFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/index.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/dateFilterUtils.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndAdhocFilterOption.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/AdhocFilterOption.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/index.tsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/explore/controlUtils/getFormDataWithDashboardContext.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
Labels: size/XL

#21785 fix: Preserve unknown URL params
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.test.ts
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.ts
  superset/models/slice.py
Labels: size/M

#21778 fix(migration): Ensure the paginated update is deterministic
  superset/migrations/shared/utils.py
  superset/migrations/versions/2022-06-27_14-59_7fb8bca906d2_permalink_rename_filterstate.py
Labels: size/M

#21743 fix: Fix regression introduced in #20893
  superset/views/core.py
Labels: size/XS

#21779 fix(plugin-chart-handlebars): Update webpack/babel config to fix build/runtime warnings/errors
  superset-frontend/babel.config.js
  superset-frontend/webpack.config.js
Labels: size/XS

#21760 feat: Cross-referenced Dashboards in Chart list (Column + Filter)
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/src/components/ListView/CrossLinks.test.tsx
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/ListView/CrossLinksTooltip.test.tsx
  superset-frontend/src/components/ListView/CrossLinksTooltip.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/NameRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/ScopeRow.tsx
  superset-frontend/src/hooks/useTruncation/index.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: size/XL

#21787 chore: stop logging "SyntaxError" as exceptions
  superset/sql_lab.py
  superset/sqllab/command.py
Labels: size/XS

#21776 fix(CustomFrame): Resolves issue #21731 where date range in explore throws runtime error
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
Labels: size/M

#21714 chore: add more logging for alerts and reports
  superset/reports/commands/execute.py
  superset/tasks/scheduler.py
Labels: size/S

#21792 fix(explore): Persist URL params to form-data
  superset/explore/commands/get.py
  tests/integration_tests/explore/api_tests.py
Labels: size/S

#21557 fix: Dataset creation header is now uneditable and holds proper default values
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/Header.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Labels: size/M, need:qa-review

#21523 refactor: serialize extra json in state
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
Labels: size/XL

#21765 fix(alerts): restrict list view and gamma perms
  UPDATING.md
  superset-frontend/src/views/CRUD/alert/AlertList.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset/reports/api.py
  superset/reports/commands/execute.py
  superset/reports/dao.py
  superset/reports/filters.py
  superset/security/manager.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/L

#21818 chore: Add `USER_CLIENT_ERRORS` to stop logging exceptions that are user driven
  superset/sqllab/command.py
Labels: size/S

#21641 fix(superset-embedded-sdk): Buffer is not defined
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/guestTokenRefresh.ts
Labels: size/XS

#21507 feat(color): color consistency enhancements
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/SharedLabelColorSingleton.ts
  superset-frontend/packages/superset-ui-core/src/color/index.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardState.test.js
  superset-frontend/src/explore/ExplorePage.tsx
  superset/config.py
Labels: size/L, need:qa-review

#21811 chore(sqla): refactor query utils
  superset/connectors/sqla/models.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/M

#21832 fix(sqllab): Fix spacing on Schedule option in SqlEditor dropdown
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
Labels: size/XS

#21770 fix: Dataset left panel now uses client side search
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Labels: size/L, need:qa-review

#21817 fix: Allow comma in Number Format
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
Labels: size/XS

#21844 fix: drilling on the categorical xaxis on the stacked barchart v2
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Labels: size/M

#21849 docs: 414
  CONTRIBUTING.md
Labels: size/XS

#21847 fix: custom SQL in the XAxis
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-core/src/query/getXAxis.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/packages/superset-ui-core/src/types/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Labels: size/M

#21853 feat: Disables HTML rendering in Toast by default
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/types.ts
Labels: size/XS

#21869 fix: categorical x-axis can't apply the label of column
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Labels: size/M

#21867 feat(select filter): add CRLF separator for Windows
  superset-frontend/src/components/Select/constants.ts
Labels: size/XS

#20934 feat(explore): Don't discard controls with custom sql when changing datasource
  superset-frontend/packages/superset-ui-core/src/query/types/Column.ts
  superset-frontend/packages/superset-ui-core/src/utils/isDefined.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndAdhocFilterOption.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/types.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/AdhocFilter.test.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetric.js
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetric.test.js
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionValue.jsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.test.ts
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/reduxUtils.ts
Labels: size/L, need:qa-review

#21840 feat(datasets): Change in API to create virtual datasets
  superset/datasets/api.py
  superset/datasets/commands/create.py
  superset/datasets/schemas.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/M

#21351 feat(dashboard): menu improvements, fallback support for Drill to Detail
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/packages/superset-ui-core/src/query/index.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/index.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/types.ts
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/index.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
  superset-frontend/spec/fixtures/mockChartQueries.js
  superset-frontend/src/components/Chart/Chart.jsx
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.tsx
  superset-frontend/src/components/Chart/DrillDetail/index.ts
  superset-frontend/src/components/Chart/DrillDetail/types.ts
  superset-frontend/src/components/Chart/DrillDetail/utils.ts
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/types/ChartSource.ts
Labels: size/XXL

#21876 fix: Change timer font to monospace
  superset-frontend/src/components/Timer/index.tsx
Labels: size/XS

#21622 chore: Color consistency E2E tests
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/cypress/support/index.ts
  superset/examples/tabbed_dashboard.py
Labels: size/XL

#21874 feat: Adds a Content Security Policy (CSP) check for production environments
  docs/docs/security.mdx
  superset/config.py
  superset/initialization/__init__.py
Labels: size/M

#21879 feat(explore): add config for default time filter
  superset-frontend/packages/superset-ui-core/src/query/constants.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset/config.py
  superset/views/base.py
Labels: size/M

#21892 fix: Mistaken use of BootstrapUser type
  superset-frontend/src/dashboard/types.ts
Labels: size/XS

#21878 fix: type of AnnotationLayer
  superset-frontend/packages/superset-ui-core/src/query/types/AnnotationLayer.ts
Labels: size/XS

#21894 fix(dashboard): Ensure correct positioning of "Drill to detail by" submenu
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/utils.test.ts
  superset-frontend/src/components/Chart/utils.ts
Labels: size/L

#21805 chore: E2E Dashboards Cross-references
  superset-frontend/cypress-base/cypress/fixtures/charts.json
  superset-frontend/cypress-base/cypress/fixtures/dashboards.json
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/actions.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
Labels: size/L

#21815 chore: Remove CROSS_REFERENCES feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset/config.py
  tests/integration_tests/superset_test_config.py
Labels: size/L, need:qa-review

#21896 chore: Updating SIP issue template to boost the link, and (hopefully) reduce duplicate-numbered SIP issues.
  .github/ISSUE_TEMPLATE/sip.md
Labels: size/XS

#21908 chore: Improves D2D loading indicator
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Labels: size/M

#21911 fix(superset): Fixed API for bulk delete of embedded dashboards
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/M

#21916 chore(plugin-chart-echarts): bump ECharts to 5.4.0
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/confbandData.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/stackWithNulls.ts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/L

#21921 fix: Ensure data cleanup in Cypress
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
Labels: size/M, need:qa-review

#21893 feat: Add dataset visuals for when a table is selected
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
Labels: size/M

#21530 feat(rightmenu): Add Datasets to + Menu and Hide Databases when one has been connected
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/components/RightMenu.test.tsx
  superset-frontend/src/views/components/RightMenu.tsx
  superset-frontend/src/views/components/types.ts
Labels: size/XL

#21899 fix(sqllab): fix control x to stop query
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/S

#21771 fix(sqllab): remove set state on component update lifecycle
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/state.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Labels: size/L

#21919 fix: time grain key from P0.25Y to P3M
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/teradata.py
Labels: size/XS

#21857 fix: Default temporal column in Datasource
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Labels: size/L, need:qa-review

#21923 fix: accept old database payload
  superset/databases/schemas.py
  tests/unit_tests/databases/schema_tests.py
Labels: size/M

#21790 feat: create function for get_sqla_engine with context
  superset/models/core.py
  tests/conftest.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/L

#21935 feat: Adds the HORIZONTAL_FILTER_BAR feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Labels: size/XS

#20722 Add artifacthub metadata manifest
  artifacthub-repo.yml
Labels: need:more-info, size/S

#21875 fix: check that imports are ZIPs
  superset/charts/api.py
  superset/databases/api.py
  superset/queries/saved_queries/api.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/importexport/api_test.py
Labels: merge-if-green

#21936 fix: Crash caused by numpy.vectorize
  superset/result_set.py
Labels: size/XS

#21838 feat(bigquery): Custom message when Service Account doesnt have the correct Roles and Permissions
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/bigquery.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
Labels: size/L

#21924 feat(dashboard): Move dashboard auto refresh intervals options to config
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset/config.py
  superset/views/base.py
Labels: size/M

#21951 docs(athena): add assuming IAM role with PyAthena
  docs/docs/databases/athena.mdx
Labels: size/XS

#21807 fix(dashboard): Remove bar at bottom of dashboard edit sidebar
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/BuilderComponentPane/BuilderComponentPane.test.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceAdder.test.jsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
  superset-frontend/src/dashboard/stylesheets/index.less
Labels: size/L

#21941 fix: Most common flaky Cypress tests
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
Labels: size/M, need:qa-review

#21877 fix(sqllab): wiped out unsaved changes by delayed actions
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Labels: size/M

#21920 fix(explore): Chart save modal displays error instead of failing silently
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/types.ts
Labels: size/L

#21953 fix: small bump to shillelagh
  setup.py
Labels: size/XS

#21952 fix(explore): Small changes in metadata bar copy and tooltip placement
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Labels: size/M

#21725 chore: Remove several React app console warnings and errors v2
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PublishedStatus/index.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/util/propShapes.jsx
  superset-frontend/src/explore/components/controls/MetricControl/savedMetricType.js
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Labels: size/L

#21944 fix: add form data for empty state control to save dataset
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Labels: size/XS

#21960 fix: Adds logging for SPA route navigation with React router
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/middleware/loggerMiddleware.js
  superset-frontend/src/utils/DebouncedMessageQueue.js
  superset-frontend/src/views/App.tsx
Labels: size/S

#21946 fix: error_parsing
  superset/reports/commands/execute.py
  superset/utils/core.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/unit_tests/notifications/email_tests.py
Labels: size/XS

#21958 chore: bump pyathena and related packages
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Labels: size/S

#21963 build(helm): Helm-docs + fix Helm chart release
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-misc.yml
  .pre-commit-config.yaml
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/M

#21973 fix: bump expected npm version in superset-websocket
  superset-websocket/package.json
Labels: size/XS

#21821 perf(native-filters): improve native filter modal form performance
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigPane.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigurePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: size/L, need:qa-review

#21781 perf(native-filters): reduce the re-rendering of native filter modal
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/NativeFiltersModal.test.tsx
Labels: size/L, need:qa-review

#21964 fix: dashboard api cache decorator
  superset/dashboards/api.py
Labels: size/S

#21836 refactor: return initial exception and check if it's user error
  superset/sqllab/command.py
Labels: size/M

#21968 fix: invalid float number format by json-bigint
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/S

#21955 feat: Selectable dropdown triggered by icon component
  superset-frontend/src/components/DropdownSelectableIcon/DropdownSelectableIcon.stories.tsx
  superset-frontend/src/components/DropdownSelectableIcon/DropdownSelectableIcon.test.tsx
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/components/Menu/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
Labels: size/L
