Repository apache/superset, pull requests merged in 2022-01, with the labels that each got.

#17872 fix(explore): simple tab content input problem in the filter control
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Labels: size/XS

#17894 chore: bump gunicorn to 20.1.0
  requirements/base.txt
  setup.py
Labels: size/XS

#17877 fix(translation): include babel-compile in Dockerfile (#17876)
  Dockerfile
Labels: size/XS

#17920 fix(helm): service account apiVersion indentation
  helm/superset/Chart.yaml
  helm/superset/templates/service-account.yaml
Labels: size/XS

#17918 fix(cypress): flake cypress test case
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
Labels: size/XS

#17924 chore: fix misspelling of button
  superset/translations/messages.pot
Labels: size/XS

#17786 fix: process color scheme configs correctly
  superset-frontend/packages/superset-ui-core/src/color/index.ts
  superset-frontend/src/setup/setupColors.ts
Labels: size/S, preset-io

#17804 feat: Update query states to use spinner vs. progress bar
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.jsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Labels: size/S

#17942 chore: Fix 'button' misspelling in list_with_checkboxes
  superset/templates/superset/fab_overrides/list_with_checkboxes.html
Labels: size/XS, Superset-Community-Partners

#17896 chore: Moves the hooks folder to the src folder
  superset-frontend/src/chart/ChartErrorMessage.tsx
  superset-frontend/src/components/FaveStar/index.tsx
  superset-frontend/src/components/FlashProvider/index.tsx
  superset-frontend/src/components/OmniContainer/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/state.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/ExploreViewContainer.jsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/ConditionalFormattingControl.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.jsx
  superset-frontend/src/hooks/apiResources/apiResources.test.ts
  superset-frontend/src/hooks/apiResources/apiResources.ts
  superset-frontend/src/hooks/apiResources/charts.ts
  superset-frontend/src/hooks/apiResources/dashboards.ts
  superset-frontend/src/hooks/apiResources/index.ts
  superset-frontend/src/hooks/useChangeEffect/index.ts
  superset-frontend/src/hooks/useChangeEffect/useChangeEffect.test.ts
  superset-frontend/src/hooks/useChangeEffect/useChangeEffect.ts
  superset-frontend/src/hooks/useComponentDidMount/index.ts
  superset-frontend/src/hooks/useComponentDidMount/useComponentDidMount.test.ts
  superset-frontend/src/hooks/useComponentDidMount/useComponentDidMount.ts
  superset-frontend/src/hooks/useComponentDidUpdate/index.ts
  superset-frontend/src/hooks/useComponentDidUpdate/useComponentDidUpdate.test.ts
  superset-frontend/src/hooks/useComponentDidUpdate/useComponentDidUpdate.ts
  superset-frontend/src/hooks/useElementOnScreen/index.ts
  superset-frontend/src/hooks/usePrevious/index.ts
  superset-frontend/src/hooks/usePrevious/usePrevious.test.ts
  superset-frontend/src/hooks/usePrevious/usePrevious.ts
  superset-frontend/src/hooks/useUrlShortener.ts
Labels: size/M

#17897 chore: Moves the Menu to views/components folder
  superset-frontend/src/common/components/index.tsx
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/CRUD/alert/AlertList.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationList.test.jsx
  superset-frontend/src/views/CRUD/annotation/AnnotationList.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.test.jsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.test.jsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.test.jsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.test.tsx
  superset-frontend/src/views/CRUD/welcome/SavedQueries.tsx
  superset-frontend/src/views/components/LanguagePicker.test.tsx
  superset-frontend/src/views/components/LanguagePicker.tsx
  superset-frontend/src/views/components/Menu.test.tsx
  superset-frontend/src/views/components/Menu.tsx
  superset-frontend/src/views/components/MenuRight.tsx
  superset-frontend/src/views/components/SubMenu.test.tsx
  superset-frontend/src/views/components/SubMenu.tsx
  superset-frontend/src/views/menu.tsx
Labels: size/M

#17899 chore: Moves spec files to the src folder - iteration 8
  superset-frontend/src/dashboard/actions/dashboardLayout.test.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/dnd/DragDroppable.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Column.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Divider.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Header.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/DraggableNewComponent.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewColumn.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewDivider.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewHeader.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewRow.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewTabs.test.jsx
Labels: size/XS

#17963 chore: unbreak pip-compile-multi
  CONTRIBUTING.md
  requirements/base.in
  requirements/base.txt
  requirements/integration.in
  requirements/integration.txt
  requirements/testing.in
  requirements/testing.txt
  setup.py
Labels: size/M, preset-io

#17964 chore: bump FAB to 3.4.3
  requirements/base.txt
  setup.py
Labels: size/XS, preset-io

#17951 fix(Select): options in the select component will be overwritten due to timing of React.setState
  superset-frontend/src/components/Select/Select.tsx
Labels: size/M

#17956 chore: Adding more viz category mappings for viz picker
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
Labels: size/XS, preset-io

#17937 fix(docs): update clickhouse.mdx
  docs/src/pages/docs/Connecting to Databases/clickhouse.mdx
Labels: size/XS

#17901 chore: Moves spec files to the src folder - iteration 9
  superset-frontend/spec/fixtures/mockState.js
  superset-frontend/spec/fixtures/mockStateWithoutUser.tsx
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.test.jsx
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/MissingChart.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/SliceAdder.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.tsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.test.tsx
  superset-frontend/src/dashboard/components/menu/WithPopoverMenu.test.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CascadeFilters/CascadeFilterControl/CascadeFilterControl.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/NativeFiltersModal.test.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.test.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableHandle.test.tsx
  superset-frontend/src/dashboard/fixtures/mockNativeFilters.ts
  superset-frontend/src/dashboard/reducers/dashboardFilters.test.js
  superset-frontend/src/dashboard/reducers/dashboardLayout.test.js
  superset-frontend/src/dashboard/reducers/dashboardState.test.js
  superset-frontend/src/dashboard/reducers/sliceEntities.test.js
  superset-frontend/src/dashboard/util/componentIsResizable.test.ts
  superset-frontend/src/dashboard/util/dnd-reorder.test.js
  superset-frontend/src/dashboard/util/dropOverflowsParent.test.js
  superset-frontend/src/dashboard/util/findFirstParentContainer.test.js
  superset-frontend/src/dashboard/util/findParentId.test.js
  superset-frontend/src/dashboard/util/findTabIndexByComponentId.test.js
  superset-frontend/src/dashboard/util/getChartAndLabelComponentIdFromPath.test.js
  superset-frontend/src/dashboard/util/getChartIdsFromLayout.test.js
  superset-frontend/src/dashboard/util/getDashboardUrl.test.js
  superset-frontend/src/dashboard/util/getDetailedComponentWidth.test.js
  superset-frontend/src/dashboard/util/getDropPosition.test.js
  superset-frontend/src/dashboard/util/getEffectiveExtraFilters.test.js
  superset-frontend/src/dashboard/util/getFilterConfigsFromFormdata.test.js
  superset-frontend/src/dashboard/util/getFilterScopeFromNodesTree.test.js
  superset-frontend/src/dashboard/util/getFormDataWithExtraFilters.test.ts
  superset-frontend/src/dashboard/util/getLeafComponentIdFromPath.test.js
  superset-frontend/src/dashboard/util/isDashboardEmpty.test.ts
  superset-frontend/src/dashboard/util/isValidChild.test.ts
  superset-frontend/src/dashboard/util/newComponentFactory.test.js
  superset-frontend/src/dashboard/util/newEntitiesFromDrop.test.js
  superset-frontend/src/dashboard/util/updateComponentParentsList.test.js
Labels: size/S

#17902 chore: Moves spec files to the src folder - iteration 10
  superset-frontend/src/SqlLab/components/RunQueryActionButton/RunQueryActionButton.test.jsx
  superset-frontend/src/explore/actions/exploreActions.test.js
  superset-frontend/src/explore/components/ControlPanelsContainer.test.tsx
  superset-frontend/src/explore/components/ControlRow.test.tsx
  superset-frontend/src/explore/components/EmbedCodeButton.test.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.test.jsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreAdditionalActionsMenu.test.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.test.jsx
  superset-frontend/src/explore/components/ExploreViewContainer.test.jsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.test.jsx
  superset-frontend/src/explore/components/RowCountLabel.test.jsx
  superset-frontend/src/explore/components/SaveModal.test.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.test.jsx
  superset-frontend/src/explore/components/controls/CheckboxControl.test.tsx
  superset-frontend/src/explore/components/controls/ColorPickerControl.test.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/ColorScheme.test.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.jsx
  superset-frontend/src/explore/components/controls/FilterBoxItemControl/FilterBoxItemControl.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetric.test.js
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AggregateOption.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/FilterDefinitionOption.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionOption.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionValue.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.test.jsx
  superset-frontend/src/explore/components/controls/SelectControl.test.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.test.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.test.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.jsx
  superset-frontend/src/explore/components/controls/withAsyncVerification.test.tsx
  superset-frontend/src/explore/controlUtils/controlUtils.test.tsx
  superset-frontend/src/explore/exploreUtils/exploreUtils.test.jsx
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/explore/store.test.jsx
  superset-frontend/src/visualizations/FilterBox/FilterBox.test.jsx
Labels: size/S

#17961 fix: update slug name
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS, preset-io

#17972 chore: fixing annoying warning about escaping in Emotion styling
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
Labels: size/XS, preset-io

#17898 feat: Add support for Azure Data Explorer (Kusto) db engine spec
  docs/installation.rst
  docs/src/pages/docs/Connecting to Databases/index.mdx
  docs/src/pages/docs/Connecting to Databases/kusto.mdx
  setup.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/kusto.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_kusto.py
Labels: size/L

#17980 fix: css template API response, less data
  superset/css_templates/api.py
  tests/integration_tests/css_templates/api_tests.py
Labels: size/S, preset-io

#17975 docs: close bracket on helm chart reference
  README.md
Labels: size/XS

#17945 fix(dashboard): scope status of filter not update in dashboard metadata
  superset-frontend/src/dashboard/actions/nativeFilters.ts
Labels: size/S, need:qa-review

#17878 fix: Returns 404 instead of 500 for unknown dashboard filter state keys
  superset/dashboards/filter_state/commands/get.py
  tests/integration_tests/dashboards/filter_state/api_tests.py
Labels: size/S

#17974 fix: null dates in table chart
  superset-frontend/plugins/plugin-chart-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
Labels: size/S

#17968 feat: update time comparison choices (again)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/src/explore/controlPanels/sections.tsx
Labels: size/S

#17931 fix(sqllab): Dancing Tooltip in SQL editor dropdown
  superset-frontend/src/SqlLab/components/TemplateParamsEditor/index.tsx
Labels: size/XS, preset-io

#17930 chore: Move edit dataset lock
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Labels: size/M, preset-io

#17985 fix: dashboard full screen layout
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/XS, preset-io

#17988 fix: Keep Report modal open when there's an error
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/reports/actions/reports.js
Labels: size/M, preset-io

#17990 Update styling and logo
  docs-v2/docusaurus.config.js
  docs-v2/package-lock.json
  docs-v2/src/css/custom.css
  docs-v2/static/img/superset-logo-horiz.svg
Labels: size/M

#17992 fix: dashboard reload crash
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
Labels: size/XS, preset-io

#17979 chore: reenable lint for test files
  superset-frontend/.eslintrc.js
  superset-frontend/packages/superset-ui-core/test/dimension/svg/updateTextNode.test.ts
Labels: size/S

#17999 fix(helm): pin correct psycopg2 version
  helm/superset/Chart.yaml
  helm/superset/values.yaml
  setup.py
Labels: size/XS, preset-io

#17967 chore: use new FAB functionality for component schemas update OAS
  docs/src/resources/openapi.json
  superset/cli.py
  superset/dashboards/filter_state/api.py
  superset/views/base_api.py
Labels: size/XXL, preset-io

#17981 fix: API logger output
  superset/views/core.py
Labels: size/S, preset-io

#17893 refactor: examples data loading for tests
  .github/workflows/superset-python-unittest.yml
  tests/common/example_data_generator/__init__.py
  tests/common/example_data_generator/base_generator.py
  tests/common/example_data_generator/birth_names/__init__.py
  tests/common/example_data_generator/birth_names/birth_names_generator.py
  tests/common/example_data_generator/birth_names/birth_names_generator_factory.py
  tests/common/example_data_generator/consts.py
  tests/common/example_data_generator/string_generator.py
  tests/common/example_data_generator/string_generator_factory.py
  tests/common/example_data_generator/tests/__init__.py
  tests/common/example_data_generator/tests/test_string_generator.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
Labels: size/XL

#17984 fix: Change default SECRET_KEY, improve docs and banner warning on de…
  UPDATING.md
  docs/src/pages/docs/installation/configuring.mdx
  superset/cli.py
  superset/config.py
  superset/constants.py
  superset/initialization/__init__.py
  superset/utils/encrypt.py
Labels: size/L, preset-io

#17929 chore(docs-v2): remove blog and tutorial and update some styling
  docs-v2/.prettierrc
  docs-v2/blog/2019-05-28-first-blog-post.md
  docs-v2/blog/2019-05-29-long-blog-post.md
  docs-v2/blog/2021-08-01-mdx-blog-post.mdx
  docs-v2/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs-v2/blog/2021-08-26-welcome/index.md
  docs-v2/blog/authors.yml
  docs-v2/docs/contribution.mdx
  docs-v2/docs/frequently-asked-questions.mdx
  docs-v2/docs/intro.mdx
  docs-v2/docs/security.mdx
  docs-v2/docs/tutorial-basics/_category_.json
  docs-v2/docs/tutorial-basics/congratulations.md
  docs-v2/docs/tutorial-basics/create-a-blog-post.md
  docs-v2/docs/tutorial-basics/create-a-document.md
  docs-v2/docs/tutorial-basics/create-a-page.md
  docs-v2/docs/tutorial-basics/deploy-your-site.md
  docs-v2/docs/tutorial-basics/markdown-features.mdx
  docs-v2/docs/tutorial-extras/_category_.json
  docs-v2/docs/tutorial-extras/manage-docs-versions.md
  docs-v2/docs/tutorial-extras/translate-your-site.md
  docs-v2/docusaurus.config.js
  docs-v2/src/css/custom.css
  docs-v2/src/pages/index.tsx
  docs-v2/static/img/docusaurus.png
  docs-v2/static/img/favicon.ico
  docs-v2/static/img/superset-logo-horiz-dark.svg
  docs-v2/static/img/tutorial/docsVersionDropdown.png
  docs-v2/static/img/tutorial/localeDropdown.png
Labels: size/XL

#17749 feat(alerts): Select tabs to send backend
  superset/models/reports.py
  superset/reports/commands/create.py
  superset/reports/commands/execute.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/reports/schemas.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/fixtures/tabbed_dashboard.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
Labels: size/L

#17388 fix(sqla): Adhere to series limit ordering for pre-query
  superset/connectors/sqla/models.py
Labels: size/XS

#17995 fix: Workaround for sqlparse issue #652
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/S

#17925 refactor: Migration for Tabbed Sql Editor
  superset/migrations/versions/c53bae8f08dd_add_saved_query_foreign_key_to_tab_state.py
Labels: size/M

#18003 chore(DatasourceEditor): Create Datasource Legacy Editor Feature Flag
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Datasource/DatasourceModal.test.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset/config.py
Labels: size/S

#18006 fix: SQL Lab sorting of non-numbers
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
Labels: size/M

#17758 feat(timeseries-chart): add percentage threshold input control
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Timeseries/Stories.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Labels: size/L, Superset-Community-Partners

#18001 feat: shorter timeout on test_connection
  requirements/base.txt
  setup.py
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/config.py
  superset/databases/commands/test_connection.py
  superset/errors.py
  tests/integration_tests/databases/commands_tests.py
Labels: size/M

#18017 fix: revert #17654 to fix subselect table name parsing
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#18021 fix: Disable filtering on wide result sets
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Labels: size/S

#18039 fix: handle null values in time-series table
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/S

#17569 chore: column_type_mappings
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
Labels: size/L

#17529 feat: entry for embedded dashboard
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClient.ts
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/connection/types.ts
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/preamble.ts
  superset-frontend/src/setup/setupClient.ts
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/RootContextProviders.tsx
  superset-frontend/webpack.config.js
  superset/templates/superset/spa.html
  superset/views/dashboard/views.py
  tests/integration_tests/security_tests.py
Labels: size/L, preset-io

#18041 feat: stop running CI on doc updates
  .github/workflows/superset-e2e.yml
Labels: size/XS

#18051 fix: revert "feat: stop running CI on doc updates"
  .github/workflows/superset-e2e.yml
Labels: size/XS

#17593 feat: Trino Authentications
  docs/src/pages/docs/Connecting to Databases/trino.mdx
  requirements/base.txt
  requirements/testing.in
  requirements/testing.txt
  superset/config.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/trino.py
  superset/models/core.py
  tests/integration_tests/db_engine_specs/trino_tests.py
Labels: size/L

#18058 chore(supeset.utils.core): move all database utils to database utils module
  superset/cli.py
  superset/commands/importers/v1/examples.py
  superset/examples/bart_lines.py
  superset/examples/birth_names.py
  superset/examples/country_map.py
  superset/examples/energy.py
  superset/examples/flights.py
  superset/examples/long_lat.py
  superset/examples/multiformat_time_series.py
  superset/examples/paris.py
  superset/examples/random_time_series.py
  superset/examples/sf_population_polygons.py
  superset/examples/world_bank.py
  superset/utils/core.py
  superset/utils/database.py
  superset/utils/mock_data.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/alerts_tests.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/config_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/css_templates/api_tests.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/dict_import_export_tests.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
  tests/integration_tests/fixtures/datasource.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/unicode_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/import_export_tests.py
  tests/integration_tests/importexport/commands_tests.py
  tests/integration_tests/jinja_context_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/queries/api_tests.py
  tests/integration_tests/queries/saved_queries/api_tests.py
  tests/integration_tests/queries/saved_queries/commands_tests.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/sql_validator_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/integration_tests/sqllab_tests.py
  tests/integration_tests/strategy_tests.py
  tests/integration_tests/utils_tests.py
Labels: size/L

#18059 chore(plugin-chart-echarts): add types to controls
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
Labels: size/S, preset-io

#18027 fix(generator): more cleanup to plugin framework
  docs/src/pages/docs/Contributing/creating-viz-plugins.mdx
  docs/src/pages/docs/installation/building-viz-plugins.mdx
  superset-frontend/packages/generator-superset/README.md
  superset-frontend/packages/generator-superset/generators/plugin-chart/index.js
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/README.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/gitignore.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/package.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/index.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/plugin/index.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/test/index.erb
  superset-frontend/packages/generator-superset/test/plugin-chart.test.js
  superset-frontend/webpack.config.js
Labels: size/XL, preset-io

#18045 feat(advanced analytics): support groupby in resample
  superset-frontend/packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset/utils/pandas_postprocessing.py
  tests/integration_tests/pandas_postprocessing_tests.py
Labels: size/L

#18048 fix(dashboard): scope status of native filter not update
  superset-frontend/src/dashboard/actions/hydrate.js
Labels: size/XS

#18073 fix(generator): add lockfile and fix styling issues
  docs/src/pages/docs/Contributing/creating-viz-plugins.mdx
  superset-frontend/packages/generator-superset/generators/plugin-chart/index.js
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/README.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/package-lock.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
Labels: size/XXL, preset-io

#17771 refactor(sql_lab): SQL Lab Persistent Saved State
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset/models/sql_lab.py
Labels: size/M

#18060 refactor(example_data): replace the way the birth_names data is loaded to DB
  superset/utils/database.py
  tests/conftest.py
  tests/consts/__init__.py
  tests/consts/birth_names.py
  tests/consts/us_states.py
  tests/example_data/__init__.py
  tests/example_data/data_generator/__init__.py
  tests/example_data/data_generator/base_generator.py
  tests/example_data/data_generator/birth_names/__init__.py
  tests/example_data/data_generator/birth_names/birth_names_generator.py
  tests/example_data/data_generator/birth_names/birth_names_generator_factory.py
  tests/example_data/data_generator/consts.py
  tests/example_data/data_generator/string_generator.py
  tests/example_data/data_generator/string_generator_factory.py
  tests/example_data/data_generator/tests/__init__.py
  tests/example_data/data_generator/tests/test_string_generator.py
  tests/example_data/data_loading/__init__.py
  tests/example_data/data_loading/base_data_loader.py
  tests/example_data/data_loading/data_definitions/__init__.py
  tests/example_data/data_loading/data_definitions/birth_names.py
  tests/example_data/data_loading/data_definitions/types.py
  tests/example_data/data_loading/pandas/__init__.py
  tests/example_data/data_loading/pandas/pandas_data_loader.py
  tests/example_data/data_loading/pandas/pands_data_loading_conf.py
  tests/example_data/data_loading/pandas/table_df_convertor.py
  tests/fixtures/__init__.py
  tests/fixtures/birth_names.py
  tests/integration_tests/conftest.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
Labels: size/XL

#17207 feat: add chart description in info tooltip
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: size/M

#18087 fix(docs): Correction of proper names format in README
  docs/src/pages/docs/introduction.mdx
Labels: size/XS

#18086 fix: can't use examples helpers on non app context based environment
  superset/cli.py
  superset/examples/__init__.py
  superset/examples/data_loading.py
  tests/integration_tests/conftest.py
Labels: size/M

#18082 chore: split CLI into multiple files
  setup.py
  superset/cli.py
  superset/cli/__init__.py
  superset/cli/celery.py
  superset/cli/examples.py
  superset/cli/importexport.py
  superset/cli/lib.py
  superset/cli/main.py
  superset/cli/test.py
  superset/cli/thumbnails.py
  superset/cli/update.py
  tests/integration_tests/cli_tests.py
  tests/integration_tests/conftest.py
Labels: size/XXL

#18097 fix: contributing misspelling
  CONTRIBUTING.md
Labels: size/XS

#17807 refactor: sqleditorleftbar to functional
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.jsx
Labels: size/L, Superset-Community-Partners

#18111 fix: logging warning on dataframe (don't use python's warnings)
  superset/dataframe.py
Labels: size/S, preset-io

#18083 chore: update changelog and updating for 1.4.0
  CHANGELOG.md
  UPDATING.md
Labels: size/XXL, preset-io

#18115 chore: Port docs homepage to Docusaurus
  docs-v2/docusaurus.config.js
  docs-v2/package.json
  docs-v2/src/components/HomepageFeatures.module.css
  docs-v2/src/components/HomepageFeatures.tsx
  docs-v2/src/css/custom.css
  docs-v2/src/pages/index.module.css
  docs-v2/src/pages/index.tsx
  docs-v2/src/resources/data.js
  docs-v2/src/utils.js
  docs-v2/static/img/dashboard3.png
  docs-v2/static/img/data-point.jpg
  docs-v2/static/img/databases/apache-drill.png
  docs-v2/static/img/databases/apache-druid.jpeg
  docs-v2/static/img/databases/apache-druid.png
  docs-v2/static/img/databases/apache-hive.svg
  docs-v2/static/img/databases/apache-impala.png
  docs-v2/static/img/databases/apache-kylin.png
  docs-v2/static/img/databases/aws-redshift.png
  docs-v2/static/img/databases/clickhouse.png
  docs-v2/static/img/databases/dremio.png
  docs-v2/static/img/databases/druid.png
  docs-v2/static/img/databases/exasol.png
  docs-v2/static/img/databases/firebird.png
  docs-v2/static/img/databases/googleBQ.png
  docs-v2/static/img/databases/greenplum.jpeg
  docs-v2/static/img/databases/greenplum.png
  docs-v2/static/img/databases/hologres.png
  docs-v2/static/img/databases/ibmdb2.png
  docs-v2/static/img/databases/monet.png
  docs-v2/static/img/databases/msql.png
  docs-v2/static/img/databases/mysql.png
  docs-v2/static/img/databases/netezza.png
  docs-v2/static/img/databases/oracle-logo.png
  docs-v2/static/img/databases/oracle.png
  docs-v2/static/img/databases/oraclelogo.png
  docs-v2/static/img/databases/postgresql.jpg
  docs-v2/static/img/databases/postsql.png
  docs-v2/static/img/databases/presto-og.png
  docs-v2/static/img/databases/rockset.png
  docs-v2/static/img/databases/snowflake.png
  docs-v2/static/img/databases/sqllite.jpg
  docs-v2/static/img/databases/sqllite.png
  docs-v2/static/img/databases/trino.png
  docs-v2/static/img/databases/trino2.jpg
  docs-v2/static/img/databases/vertica.png
  docs-v2/static/img/explorer5.jpg
  docs-v2/static/img/sqllab5.jpg
  docs-v2/static/img/superset-logo-horiz-apache.svg
Labels: size/XL

#17843 fix(explore): fix chart embed code modal glitch
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
Labels: size/XS

#17917 feat(plugin-chart-echarts): support non-timeseries x-axis
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/rollingWindowOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/sortOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/constants.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/index.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/prophetOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/resampleOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/sortOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/timeCompareOperator.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/utils/annotation.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/prophet.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
  superset/common/query_context_processor.py
  superset/utils/pandas_postprocessing.py
Labels: size/XL, preset-io, need:qa-review

#17757 feat: Authorizing guest access to embedded dashboards
  superset/common/request_contexed_based.py
  superset/config.py
  superset/dashboards/filters.py
  superset/security/api.py
  superset/security/guest_token.py
  superset/security/manager.py
  superset/views/base.py
  superset/views/core.py
  tests/integration_tests/security/guest_token_security_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/security_tests.py
Labels: size/XL, preset-io

#17836 feat: Row Level Security rules for guest tokens
  superset/connectors/sqla/models.py
  superset/security/api.py
  superset/security/guest_token.py
  superset/security/manager.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L, preset-io

#18081 feat(country-map): added new countries in country-chart-map
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/cyprus.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/jordan.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/kenya.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/kuwait.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/lithuania.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/nigeria.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/oman.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/pakistan.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/philippines.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/qatar.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/united_arab_emirates.geojson
Labels: size/L

#18133 chore: migrating storybook jsx to typescript #18100
  superset-frontend/packages/superset-ui-core/src/time-format/TimeFormatterRegistrySingleton.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/superset-ui-color/ColorPallettesStories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/superset-ui-color/RenderPalettes.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/superset-ui-number-format/BigNumberStories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/superset-ui-style/ThemeStories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/superset-ui-time-format/TimeFormatStories.tsx
Labels: size/L

#18116 feat: add toast feedback to annotation templates
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayerModal.tsx
Labels: size/XS

#18114 feat(dashboard): add toast feedback to dashboard actions
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/S

#18108 feat(explore): more toast feedback on user actions in Explore
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset/views/core.py
Labels: size/M

#18125 docs: fix typo on security page
  docs/src/pages/docs/security-page.mdx
Labels: size/XS

#18152 fix: undefined error when adding extra sequential color scheme
  superset-frontend/src/setup/setupColors.ts
Labels: size/XS

#18093 feat: allow assets to be managed externally
  superset/connectors/base/models.py
  superset/migrations/versions/5fd49410a97a_add_columns_for_external_management.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/slice.py
Labels: risk:db-migration, size/L

#18130 chore: use pkg_resources for cleaner config
  superset/config.py
Labels: size/S

#18128 chore: Port community page to Docusaurus
  docs-v2/src/pages/community.tsx
  docs-v2/src/pages/index.tsx
Labels: size/L

#18151 refactor: Moves the Explore form_data endpoint
  UPDATING.md
  superset/charts/form_data/api.py
  superset/charts/form_data/commands/create.py
  superset/charts/form_data/commands/delete.py
  superset/charts/form_data/commands/get.py
  superset/charts/form_data/commands/update.py
  superset/config.py
  superset/explore/__init__.py
  superset/explore/form_data/__init__.py
  superset/explore/form_data/api.py
  superset/explore/form_data/commands/__init__.py
  superset/explore/form_data/commands/create.py
  superset/explore/form_data/commands/delete.py
  superset/explore/form_data/commands/get.py
  superset/explore/form_data/commands/parameters.py
  superset/explore/form_data/commands/state.py
  superset/explore/form_data/commands/update.py
  superset/explore/form_data/schemas.py
  superset/explore/form_data/utils.py
  superset/initialization/__init__.py
  superset/utils/cache_manager.py
  tests/integration_tests/explore/__init__.py
  tests/integration_tests/explore/form_data/__init__.py
  tests/integration_tests/explore/form_data/api_tests.py
  tests/unit_tests/explore/__init__.py
  tests/unit_tests/explore/form_data/__init__.py
  tests/unit_tests/explore/form_data/utils_test.py
Labels: size/XXL

#18046 fix(import_datasources): --sync flag works correctly
  superset/cli/importexport.py
  tests/integration_tests/cli_tests.py
Labels: size/L

#18146 fix(textarea-control): ace editor input exception
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.test.jsx
Labels: size/S

#18134 chore: bump pillow to major version
  requirements/development.in
  requirements/development.txt
  requirements/testing.txt
  setup.py
Labels: size/S, preset-io

#18117 fix: exclude node_modules from ts tracking
  scripts/generate_frontend_ts_tasklist.js
Labels: size/XS

#18164 fix: Dataset column names are no longer editable
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
Labels: size/M, preset-io

#18161 feat(helm): Add schema of values in Helm Chart
  helm/superset/Chart.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
Labels: size/XL

#17530 feat: embedded dashboard core
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClient.ts
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/connection/types.ts
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/src/components/UiConfigContext/index.tsx
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/preamble.ts
  superset-frontend/src/setup/setupClient.ts
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/RootContextProviders.tsx
  superset-frontend/src/views/components/Menu.tsx
  superset-frontend/webpack.config.js
  superset/common/request_contexed_based.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/dashboards/filters.py
  superset/security/api.py
  superset/security/guest_token.py
  superset/security/manager.py
  superset/templates/superset/spa.html
  superset/views/base.py
  superset/views/core.py
  superset/views/dashboard/views.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security/guest_token_security_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/security_tests.py
Labels: size/XXL, preset-io

#18157 fix: remove standalone
  superset/reports/notifications/email.py
  superset/utils/urls.py
  tests/integration_tests/reports/commands_tests.py
  tests/unit_tests/utils/urls_tests.py
Labels: size/M

#18183 feat: add success message for database modal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS, preset-io

#18169 feat: Add toast for successful table or schema refreshes in Sqllab
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Labels: size/S

#18137 fix(dashboard): support input undo when editing chart title
  superset-frontend/src/dashboard/components/UndoRedoKeyListeners/index.jsx
Labels: size/XS

#18162 chore: bump echarts to 5.3.0
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/S, preset-io

#18171 fix: null value and empty string in filter
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/exploreUtils/getSimpleSQLExpression.test.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/utils/common.js
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/constants.py
  superset/views/core.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#17986 fix: Assign an owner when creating a dataset from a csv, excel or tabular
  superset/views/database/views.py
  tests/integration_tests/csv_upload_tests.py
Labels: size/M

#18180 fix: Default values getting cleared in native filters form
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: size/XS

#18174 fix(helm): allows extra top-level properties
  helm/superset/Chart.yaml
  helm/superset/values.schema.json
Labels: size/XS

#18145 fix(native-filters): values is not sorted when setting sort option
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/S

#18160 chore: move controlPanel into time_table
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/setup/setupPlugins.ts
  superset-frontend/src/visualizations/TimeTable/controlPanel.js
  superset-frontend/src/visualizations/TimeTable/index.ts
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/S

#18205 fix(tests): Remove walrus operator for Python 3.7 compatiblity
  tests/example_data/data_loading/pandas/pandas_data_loader.py
Labels: size/XS

#18196 docs(docker compose installation): add pull command to avoid errors when installing superset using docker compose
  docs/src/pages/docs/Connecting to Databases/docker-add-drivers.mdx
  docs/src/pages/docs/installation/index.mdx
Labels: size/XS

#18214 feat(docker-compose): add TAG option
  docker-compose-non-dev.yml
  docker-compose.yml
  docs-v2/docs/connecting-to-databases/docker-add-drivers.mdx
  docs-v2/docs/installation/installing-superset-using-docker-compose.mdx
  docs/src/pages/docs/installation/index.mdx
Labels: size/S, preset-io

#18206 chore: added release notes for 1.4
  RELEASING/README.md
  RELEASING/release-notes-1-4/README.md
  RELEASING/release-notes-1-4/media/calc.png
  RELEASING/release-notes-1-4/media/pyinstrument.png
  RELEASING/release-notes-1-4/media/tab_column.jpg
Labels: size/M, preset-io

#17881 fix(sql): unable to filter text with quotes
  superset/connectors/base/models.py
  tests/integration_tests/druid_func_tests.py
  tests/integration_tests/druid_func_tests_sip38.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#18216 fix(explore): Pie chart label formatting when series is temporal
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Labels: size/XS

#18217 fix(plugin-chart-echarts): use verbose x-axis name when defined
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Labels: size/XS, preset-io

#18199 chore: Update links and navigation in Docusaurus
  docs-v2/docusaurus.config.js
Labels: size/M

#17926 refactor: sqleditorleftbar to typescript
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
Labels: size/M, Superset-Community-Partners

#18181 fix: Explore long URL problem
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/link.test.ts
  superset-frontend/spec/helpers/ResizeObserver.ts
  superset-frontend/spec/helpers/shim.ts
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/explore/components/EmbedCodeButton.jsx
  superset-frontend/src/explore/components/EmbedCodeButton.test.jsx
  superset-frontend/src/explore/components/ExploreActionButtons.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/exploreUtils/exploreUtils.test.jsx
  superset-frontend/src/explore/exploreUtils/formData.ts
  superset-frontend/src/explore/exploreUtils/getExploreLongUrl.test.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset/views/core.py
  superset/views/utils.py
Labels: size/XL, need:qa-review

#18219 fix: Add mexico back to country map
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
Labels: size/XS

#18190 feat: Added success toasts for database, dataset, chart, dashboard, and query imports
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
Labels: size/XS, preset-io

#18170 refactor: extract json_required view decorator
  superset/annotation_layers/annotations/api.py
  superset/annotation_layers/api.py
  superset/charts/api.py
  superset/dashboards/api.py
  superset/dashboards/filter_sets/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/explore/form_data/api.py
  superset/key_value/api.py
  superset/queries/saved_queries/api.py
  superset/reports/api.py
  superset/views/base_api.py
  tests/integration_tests/base_api_tests.py
Labels: size/L

#18201 fix: Build scripts
  docs-v2/docs/connecting-to-databases/installing-database-drivers.mdx
  docs-v2/docs/frequently-asked-questions.mdx
  docs-v2/docusaurus.config.js
Labels: size/L

#18230 chore: Docusaurus throw on broken links
  docs-v2/docs/connecting-to-databases/bigquery.mdx
  docs-v2/docs/connecting-to-databases/docker-add-drivers.mdx
  docs-v2/docs/connecting-to-databases/installing-database-drivers.mdx
  docs-v2/docusaurus.config.js
Labels: size/S

#18224 fix(alert): remove extra < character in email report
  superset/reports/notifications/email.py
Labels: size/XS
