Repository apache/superset, pull requests merged in 2022-12, with the labels that each got.

#22250 feat: Adds overflow to the DropdownContainer popover
  .github/CODEOWNERS
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/Overview.stories.mdx
  superset-frontend/src/components/DropdownContainer/index.tsx
Labels: size/L

#22288 fix(native-filters): Misc spacing fixes for horizontal and horizontal overflow filter bar items
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
Labels: size/M

#22286 fix: Horizontal filter bar resizing
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
Labels: size/XS

#22009 fix(dashboard): chart doesn't resize when tab switch
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.ts
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/M

#22287 feat: Automatically closes the DropdownContainer when scrolling outside of the component
  superset-frontend/src/components/DropdownContainer/index.tsx
Labels: size/S

#22303 fix(docker): Fixing ws docker push
  .github/workflows/docker_build_push.sh
Labels: size/XS

#22273 feat(native-filters): Adjust filter components for horizontal mode
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartProps.ts
  superset-frontend/src/components/Select/CustomTag.tsx
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/transformProps.ts
  superset-frontend/src/filters/components/Range/types.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/transformProps.ts
  superset-frontend/src/filters/components/Select/types.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/transformProps.ts
Labels: size/L

#22188 feat: root context provider extension point
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/views/RootContextProviders.tsx
Labels: size/M

#22313 docs: Add REDCap Cloud to superset users
  RESOURCES/INTHEWILD.md
Labels: size/XS

#21466 chore: Bump bigquery libs
  docs/docs/databases/bigquery.mdx
  docs/docs/databases/installing-database-drivers.mdx
  docs/docs/installation/running-on-kubernetes.mdx
  requirements/testing.txt
  setup.cfg
  setup.py
  superset/db_engine_specs/bigquery.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
Labels: size/M

#22276 feat: Programmatically open "more filters" dropdown in Horizontal Filter Bar
  superset-frontend/packages/superset-ui-core/src/query/types/Dashboard.ts
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCard.test.tsx
  superset-frontend/src/dashboard/reducers/nativeFilters.ts
  superset-frontend/src/dashboard/util/useFilterFocusHighlightStyles.test.tsx
  superset-frontend/src/dashboard/util/useFilterFocusHighlightStyles.ts
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/GroupBy/transformProps.ts
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Range/transformProps.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/transformProps.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/transformProps.ts
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/transformProps.ts
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/transformProps.ts
  superset-frontend/src/filters/components/types.ts
Labels: size/L

#21573 feat: add databricks form
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/db_engine_specs/base.py
  superset/db_engine_specs/databricks.py
  tests/integration_tests/db_engine_specs/databricks_tests.py
  tests/unit_tests/db_engine_specs/test_databricks.py
Labels: size/XL

#22307 chore(native-filters): Grid units, type guard, feature flag guard
  superset-frontend/packages/superset-ui-core/src/query/types/Dashboard.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Dashboard.test.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
Labels: size/L

#22274 fix(alerts): cron picker alignment issues
  superset-frontend/src/components/CronPicker/CronPicker.tsx
Labels: size/XS

#22023 docs: update Flask-Babel links
  CONTRIBUTING.md
  docs/docs/contributing/translations.mdx
Labels: size/XS

#22321 fix: convert <NA> values to None instead of stringifying
  superset/result_set.py
  tests/unit_tests/result_set_test.py
Labels: size/M

#22280 fix(sqla): use same template processor in all methods
  superset/connectors/sqla/models.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#22217 chore: Support Python 3.11
  CONTRIBUTING.md
  Makefile
  requirements/base.txt
  requirements/development.txt
  requirements/docker.txt
  requirements/testing.txt
  setup.py
Labels: size/M

#22318 fix: DropdownContainer resize algorithm
  superset-frontend/src/components/DropdownContainer/DropdownContainer.stories.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Labels: size/L

#22323 fix(dashboard): dashboard actions fail when bad component id exists in children array
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/dashboard/util/updateComponentParentsList.js
  superset-frontend/src/dashboard/util/updateComponentParentsList.test.js
Labels: size/L

#22231 chore: Remove actions prop and refactor code in SQL Lab
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/src/SqlLab/components/QueryHistory/QueryHistory.test.tsx
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/QuerySearch/QuerySearch.test.jsx
  superset-frontend/src/SqlLab/components/QuerySearch/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/QueryTable.test.jsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/state.ts
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/SqlLab/types.ts
Labels: size/L

#22200 fix: Display Error Messages in DB Connection Modal
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/M

#22306 fix(ssh_tunnel): Address Base PR comments from peer review
  setup.py
  superset/constants.py
  superset/databases/ssh_tunnel/commands/__init__.py
  superset/databases/ssh_tunnel/commands/create.py
  superset/databases/ssh_tunnel/commands/update.py
  superset/databases/ssh_tunnel/models.py
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
  superset/models/core.py
Labels: size/M

#22317 feat: New time range label
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/DateLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/index.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
Labels: size/L

#22320 fix: add columns back into SQL Lab to Explore Flow
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
Labels: size/XS

#22329 fix(sqllab): Fix autocomplete for SQL Lab
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/components/TableSelector/index.tsx
Labels: size/S

#22136 feat: Flow for tables that already have a dataset
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/fixtures.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/Footer.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/types.tsx
  superset-frontend/src/views/CRUD/data/dataset/styles.ts
  superset-frontend/src/views/CRUD/data/hooks.ts
Labels: size/L

#22333 chore: return 404 instead of 500 for datasource not found
  superset/charts/data/api.py
Labels: size/XS

#22305 chore: Add Horizontal FilterBar e2e tests
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/support/index.ts
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Loading/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarOrientationSelect/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  tests/integration_tests/superset_test_config.py
Labels: size/L

#22334 test: Fix act errors in FixedOrMetricControl test
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/FixedOrMetricControl.test.tsx
Labels: size/XS

#22346 fix: Missing spacing in adhoc filters popover
  superset-frontend/src/components/Select/styles.tsx
Labels: size/XS

#22354 chore: Bump holidays to 0.17.2
  requirements/base.txt
  setup.py
  superset/utils/date_parser.py
Labels: size/XS

#22324 fix: Broken effect in useCSSTextTruncation hook
  superset-frontend/src/hooks/useTruncation/useCSSTextTruncation.ts
Labels: size/S

#21318 feat(explore-popover): Show disabled 'Save' button in explore popover
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/AdhocFilterEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
Labels: size/M

#22349 fix(bigquery): Properly display errors for BigQuery DBs
  superset/db_engine_specs/bigquery.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
Labels: size/S

#22362 fix: Reordering native filters ignored by filter bar
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
Labels: size/S

#22347 chore(docs): adding community calendar link to the community page
  docs/src/pages/community.tsx
Labels: size/XS

#22360 fix: Change dropdown in Alert/Report modal to use javascript for conditional rendering instead of css
  superset-frontend/src/views/CRUD/alert/AlertReportModal.test.jsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.test.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/L, need:qa-review

#22338 fix: Time filter position and click in Horizontal FilterBar
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/transformProps.ts
  superset-frontend/src/filters/components/Time/types.ts
Labels: size/M

#22365 fix: Button resizing in horizontal filter bar
  superset-frontend/src/components/Badge/index.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
Labels: size/S

#22357 fix(snowflake): Allow encrypted_extra field to be imported
  superset/models/core.py
Labels: size/XS

#22372 chore(ssh_tunnel): Add extra tests to SSHTunnel commands
  superset/databases/ssh_tunnel/commands/create.py
  superset/databases/ssh_tunnel/commands/exceptions.py
  superset/databases/ssh_tunnel/commands/update.py
  tests/integration_tests/databases/ssh_tunnel/__init__.py
  tests/integration_tests/databases/ssh_tunnel/commands/__init__.py
  tests/integration_tests/databases/ssh_tunnel/commands/commands_tests.py
  tests/unit_tests/databases/ssh_tunnel/commands/create_test.py
  tests/unit_tests/databases/ssh_tunnel/commands/update_test.py
Labels: size/L

#22364 feat(dashboard): Add edit button to dashboard native filters filter cards
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCard.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCardContent.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/NameRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/Styles.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/index.tsx
Labels: size/L

#22369 chore(viz): rename v1 and v2 charts
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/plugins/legacy-plugin-chart-pivot-table/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-treemap/src/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Area/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Line/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/index.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
Labels: size/M

#21942 fix(translations): French translation (typo fixes)
  superset/translations/fr/LC_MESSAGES/messages.json
Labels: size/S

#19576 fix(readme): link target and title
  README.md
Labels: size/XS

#22361 fix: make sure that gsheets db connection form loads properly
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/L

#22382 chore(plugin-chart-echarts): upgrade to echarts 5.4.1
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-echarts/package.json
Labels: size/XS

#21965 fix: Update typo in docker-add-drivers.mdx
  docs/docs/databases/docker-add-drivers.mdx
Labels: size/XS

#22389 perf: Prevent rerendering and re-querying metadata of filters in horizontal bar
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
Labels: size/M

#22381 fix: correct exception level in log and add error message
  superset/tasks/scheduler.py
  tests/integration_tests/reports/scheduler_tests.py
Labels: size/M

#22350 fix: make database connection modal ace fields uncontrolled
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/L, need:qa-review

#21724 fix(report): Capture unexpected errors in report screenshots. Fixes #21653
  superset/config.py
  superset/utils/webdriver.py
  tests/integration_tests/thumbnails_tests.py
Labels: size/L

#22411 chore: show database UUID in API
  superset/databases/api.py
  tests/integration_tests/databases/api_tests.py
Labels: size/XS

#21737 fix(trino): Fix Trino timestamp conversion
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/trino_tests.py
Labels: size/M

#22417 fix: Force configuration for SafeMarkdown component in Handlebars
  superset-frontend/plugins/plugin-chart-handlebars/src/components/Handlebars/HandlebarsViewer.tsx
Labels: size/S

#22422 fix: Allow empty CSS in Handlebars
  superset-frontend/plugins/plugin-chart-handlebars/src/components/ControlHeader/controlHeader.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
Labels: size/M

#22383 fix(dashboard): Update owners of dashboard list after editing
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
Labels: size/XS

#22424 test: Fix act errors in VizTypeControl test
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
Labels: size/M

#22201 feat(ssh-tunnel): ssh manager config + feature flag
  superset/config.py
  superset/constants.py
  superset/databases/ssh_tunnel/models.py
  superset/models/core.py
Labels: size/M

#22431 fix(hive): Fix regression from #21943
  superset/db_engine_specs/hive.py
Labels: size/M

#22432 chore: set Snowflake user agent
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/snowflake.py
  tests/integration_tests/db_engine_specs/databricks_tests.py
  tests/unit_tests/db_engine_specs/test_databricks.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
Labels: size/L

#21064 fix(chart-table): Scrollbar causing header + footer overflow
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Labels: size/S

#22440 fix: remove unsupported REST API search col with dotted notation on c…
  superset/charts/api.py
Labels: size/XS

#22433 chore(ssh-tunnel): Move SSHManager to extensions pattern
  superset/config.py
  superset/databases/ssh_tunnel/models.py
  superset/extensions/__init__.py
  superset/extensions/ssh.py
  superset/initialization/__init__.py
  superset/models/core.py
Labels: size/L

#22435 chore: Re-add inheritance of Presto macros for Trino et al.
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/db_engine_specs/trino_tests.py
Labels: size/L

#22460 fix(cypress): Fix failing/flaky E2E tests
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
Labels: size/S

#22421 fix: fix comment in Docker environment files
  docker/.env
  docker/.env-non-dev
Labels: size/XS

#22430 chore(viz): Rename legacy non-time-series Bar Chart
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
Labels: size/XS

#22262 fix: Create dataset polish/bug fix
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/DatasetPanel.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/Header.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Header/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/styles.ts
Labels: size/L

#22066 fix: Fixed spacing in alert modal
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/L

#22476 chore: adding additional code owners for cypress tests
  .github/CODEOWNERS
Labels: size/XS

#22475 fix(chart-list): Hide 'Dashboards added to' column.
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
Labels: size/S

#22208 fix(assets api): import replaces dashboard
  superset/commands/importers/v1/assets.py
  tests/unit_tests/commands/importers/__init__.py
  tests/unit_tests/commands/importers/v1/__init__.py
  tests/unit_tests/commands/importers/v1/assets_test.py
  tests/unit_tests/fixtures/__init__.py
  tests/unit_tests/fixtures/assets_configs.py
Labels: size/L

#22512 fix(cypress): disable flaky tests
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
Labels: size/S

#22479 chore: updating changelog and updating
  CHANGELOG.md
  UPDATING.md
Labels: size/M

#22314 fix(init): Initialize _jwt_cookie_name in AsyncQueryManager __init__
  superset/utils/async_query_manager.py
Labels: size/XS

#22461 chore: Update dataset_id & dataset_type datasource_id & datasource_type for SPA explore
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.test.ts
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.ts
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.test.jsx
  superset/connectors/base/models.py
  superset/connectors/sqla/views.py
  superset/explore/api.py
  superset/explore/commands/get.py
  superset/explore/commands/parameters.py
  superset/explore/exceptions.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/explore/api_tests.py
  tests/unit_tests/explore/api_test.py
Labels: size/L

#22489 chore: Bump Pillow to 9.3.0
  requirements/development.txt
  setup.py
Labels: size/XS

#22458 feat: update time comparison choices (again)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/src/explore/controlPanels/sections.tsx
Labels: size/S

#22508 refactor: rename filter_rel_fields to base_related_field_filters
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  superset/queries/api.py
  superset/queries/saved_queries/api.py
  superset/reports/api.py
  superset/views/base_api.py
  superset/views/filters.py
Labels: size/M

#22498 feat(trino): support early cancellation of queries
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/views/CRUD/data/query/QueryList.test.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/query/QueryPreviewModal.test.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/constants.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  superset/sql_lab.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/L

#22366 chore(ssh-tunnel): Refactor establishing raw connection with contextmanger
  superset/connectors/sqla/utils.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/L

#22543 fix(explore): datasource_type typo
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.ts
Labels: size/XS

#22523 fix: adding missing examples for bubble chart, bullet chart, calendar heatmap chart and country map chart in the gallery
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/images/example.jpg
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/images/exampleGermany.jpg
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/images/exampleUsa.jpg
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bullet/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bullet/index.js
Labels: size/XS

#22507 fix(localization): pybabel doesn't extract plural forms from frontend
  scripts/babel_update.sh
Labels: size/XS
