Repository apache/superset, pull requests merged in 2022-06, with the labels that each got.

#20088 fix: datatype tracking issue on virtual dataset
  superset/db_engine_specs/postgres.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/S, Preset-Patch

#15241 feat: query datasets from SQL Lab
  docs/docs/installation/sql-templating.mdx
  superset/connectors/base/models.py
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/L

#20235 fix: Box Plot Chart throws an error when the average (AVG) / SUM is being calculated on the Metrics
  superset/utils/pandas_postprocessing/boxplot.py
  tests/unit_tests/pandas_postprocessing/test_boxplot.py
Labels: size/M, Preset-Patch

#20204 fix: Fixes issue where results panel height was incorrect [sc-49045]
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
Labels: size/M

#20178 fix: While exporting CSV , only the entries on first page are getting downloaded even when user is on other pages #17861
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Labels: size/XS

#20231 docs: Updates release scripts and docs
  RELEASING/README.md
  RELEASING/email_templates/announce.j2
  RELEASING/email_templates/result_pmc.j2
  RELEASING/email_templates/vote_pmc.j2
  RELEASING/generate_email.py
Labels: size/L

#20243 docs: Add beans to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#20171 fix(charts list): do not trigger ListViewError exception for anonymous user
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.test.jsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/L

#20226 refactor: decouple DataTableControl
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
  superset-frontend/src/explore/components/DataTableControl/utils.ts
  superset-frontend/src/explore/components/DataTablesPane/components/DataTableControls.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/getInitialState.ts
Labels: size/L

#20164 fix(sql lab): View result button is not showing consistently
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset/sql_lab.py
Labels: size/XS, Preset-Patch

#20058 fix: Support the Clipboard API in modern browsers
  superset-frontend/src/components/CopyToClipboard/index.jsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/explore/components/DataTableControl/CopyToClipboardButton.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/utils/common.js
  superset-frontend/src/utils/copy.ts
  superset-frontend/src/views/CRUD/data/components/SyntaxHighlighterCopy/index.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/L

#19987 feat(superset-ui-core): add feature flag for the analogous colors
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/SharedLabelColorSingleton.ts
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset/config.py
Labels: size/M

#20237 fix(cosmetic): Fix Datasource Modal Out Of Box
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
Labels: size/XS

#20154 chore(requirements): Cleanup of Python requirements
  requirements/base.in
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/integration.in
  requirements/integration.txt
  requirements/local.txt
  requirements/testing.in
  requirements/testing.txt
Labels: size/L

#20252 chore: use exc_info to pass errors to log warnings
  superset/models/core.py
  superset/utils/async_query_manager.py
  superset/views/base.py
Labels: size/M, preset-io

#20187 fix: Database import with cancel_query.. extra field
  superset/databases/schemas.py
Labels: size/XS, Preset-Patch

#20152 refactor(trino): Handful of updates for the Trino engine
  requirements/development.in
  requirements/development.txt
  setup.py
  superset/db_engine_specs/trino.py
  superset/jinja_context.py
  tests/integration_tests/db_engine_specs/trino_tests.py
  tests/integration_tests/test_jinja_context.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/L

#20010 feat: standardized form_data
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/explore/controlUtils/index.ts
  superset-frontend/src/explore/controlUtils/standardizedFormData.test.tsx
  superset-frontend/src/explore/controlUtils/standardizedFormData.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
Labels: size/XL

#20144 feat: showing results pane in dashboard
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/M, need:qa-review

#20274 fix(codecov): improve core code coverage
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
Labels: size/M

#20273 chore: adjust the psycopg2 version of k8s installation guide
  docs/docs/installation/running-on-kubernetes.mdx
Labels: size/XS

#20180 docs: facelift the docs
  docs/docusaurus.config.js
  docs/package.json
  docs/src/pages/index.tsx
  docs/src/styles/antd-theme.less
  docs/src/styles/custom.css
  docs/src/styles/main.less
  docs/static/img/github.png
  docs/yarn.lock
Labels: size/L, preset-io

#20165 feat: add modfied col and timezone info to schedule col
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/alerts.test.ts
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/reports.test.ts
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
Labels: size/S, preset-io

#20263 fix(embedded): accessing variable response before initialization
  superset/utils/csv.py
Labels: size/XS

#20289 chore: Adjusts release emails
  RELEASING/email_templates/announce.j2
  RELEASING/email_templates/result_pmc.j2
  RELEASING/email_templates/vote_pmc.j2
Labels: size/S

#20272 chore: remove unused codes for samples
  UPDATING.md
  superset-frontend/src/explore/exploreUtils/index.js
Labels: size/S

#20287 chore(deps): bump numpy 1.22.1 and PyJWT to 2.4.0
  requirements/base.txt
  setup.py
Labels: size/XS

#20297 chore(deps): pinning pyjwt to 2.4.0
  requirements/base.txt
  setup.py
Labels: size/XS

#20304 chore: superset-ui/core code coverage
  superset-frontend/packages/superset-ui-core/test/query/buildQueryContext.test.ts
Labels: size/S

#20290 fix: Faulty datetime parser regex
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/dateParser.ts
Labels: size/XS

#20308 docs(jinja): Detail how to use Jinja parameters
  docs/docs/installation/sql-templating.mdx
Labels: size/S

#20296 fix: Alpha are unable to perform a second modification to a Dataset when in Explore
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Labels: size/XS

#20307 docs: Updates CHANGELOG.md with 1.5.1 fixes
  CHANGELOG.md
Labels: size/M

#16493 feat(plugin-chart-echarts): [feature-parity] support extra control for the area chart V2
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/components/ExtraControls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
  superset-frontend/src/dashboard/util/getFormDataWithExtraFilters.test.ts
Labels: size/L, viz:charts:echarts

#19898 feat: When editing the label/title in the Metrics popover, hitting Enter should save what you've typed
  superset-frontend/src/assets/stylesheets/superset.less
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelectPopoverTitle.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.tsx
Labels: size/L, Preset-Patch

#20282 fix(explore): Make that see more/see less works correctly with scrolling when error msg is long text.
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
Labels: size/XS, Preset-Patch

#20313 feat(explore): Denormalize form data in echarts, world map and nvd3 bar and line charts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
Labels: size/L, preset-io

#20315 fix(chart): chart gets cut off on the dashboard
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/S, v1.5

#20320 feat: Databricks native driver
  docs/docs/databases/databricks.mdx
  setup.py
  superset/db_engine_specs/databricks.py
Labels: size/M, preset-io

#20318 chore: Updates the final steps of the release README
  RELEASING/README.md
  scripts/pypi_push.sh
Labels: size/M

#20337 chore(dashboard): update Edit Dashboard side panel tabs
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_mode.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/src/dashboard/components/BuilderComponentPane/BuilderComponentPane.test.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
Labels: size/M

#20299 feat(explore): Dataset Panel Options when Source = Query II
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Labels: size/L, preset-io

#19670 fix: Add serviceAccountName to celerybeat pods
  helm/superset/Chart.yaml
  helm/superset/templates/deployment-beat.yaml
Labels: size/XS

#20113 feat(api): Added "kind" to dataset/<pk> endpoint
  docs/static/resources/openapi.json
  superset/datasets/api.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/XS

#20348 fix(docker): Make Gunicorn Keepalive Adjustable
  docker/run-server.sh
Labels: size/XS

#19967 fix: A newly connected database doesn't appear in the databases list if user connected database using the 'plus' button
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/components/Menu.test.tsx
  superset-frontend/src/views/components/MenuRight.tsx
Labels: size/M, Preset-Patch

#20298 chore: Removes no-use-before-define warnings
  superset-frontend/packages/superset-ui-switchboard/src/switchboard.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/components/AdvancedFrame.tsx
  superset-frontend/src/middleware/asyncEvent.ts
  superset-frontend/src/utils/localStorageHelpers.ts
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/CRUD/welcome/DashboardTable.tsx
Labels: size/L

#20321 chore: add breaking change information about form_data datasource_type
  UPDATING.md
Labels: size/XS, preset-io

#20364 fix: query execution time is not fully displayed in bubble icon
  superset-frontend/src/components/Timer/index.tsx
Labels: size/XS, Preset-Patch

#20351 fix: catch some potential errors on dual write
  superset/connectors/sqla/models.py
  superset/connectors/sqla/utils.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/model_tests.py
  tests/integration_tests/fixtures/datasource.py
Labels: size/L, preset-io

#20368 fix(VERSIONED_EXPORTS): Ensure dashboards and charts adhere to the VERSIONED_EXPORTS feature flag
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: size/XS

#20248 feat(explore): Implement viz switcher redesign
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/src/assets/images/icons/area-chart-tile.svg
  superset-frontend/src/assets/images/icons/bar-chart-tile.svg
  superset-frontend/src/assets/images/icons/big-number-chart-tile.svg
  superset-frontend/src/assets/images/icons/current-rendered-tile.svg
  superset-frontend/src/assets/images/icons/line-chart-tile.svg
  superset-frontend/src/assets/images/icons/pie-chart-tile.svg
  superset-frontend/src/assets/images/icons/table-chart-tile.svg
  superset-frontend/src/components/Icons/index.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/FastVizSwitcher.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/explore/controlPanels/sections.tsx
Labels: size/XL, preset-io, need:qa-review

#20372 fix: update connection modal to use existing catalog
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS, preset-io

#20363 fix: A newly connected database doesn't appear in the databases list if user connected database using the 'plus' button
  superset-frontend/src/views/components/Menu.test.tsx
  superset-frontend/src/views/components/MenuRight.tsx
Labels: size/M, need:qa-review, Preset-Patch

#20383 fix: Unable to export multiple Dashboards with the same name
  superset/dashboards/commands/export.py
  tests/integration_tests/dashboards/commands_tests.py
Labels: size/S, Preset-Patch

#20361 fix(fonts): Show the all the A's in our workspace correctly, not funky
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, Preset-Patch

#20373 feat: adding truncate metric control on timeseries charts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/operators/renameOperator.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/buildQuery.test.ts
Labels: size/M

#20269 chore(docs): Remove cache warming documentation
  docs/docs/installation/cache.mdx
Labels: size/S

#20278 feat: Prevent dataset edit modal closing on click-away in edit mode
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/Modal/Modal.tsx
Labels: size/XS

#20401 chore: add action to welcome new users
  .github/workflows/welcome-new-users.yml
Labels: size/S, preset-io

#20396 fix(plugin-chart-pivot-table): color weight of Conditional formatting metrics not work
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Labels: size/L

#20405 fix: Incorrect translations in Chinese in messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/M

#20398 docs: add Matomo tracking to docs
  docs/docusaurus.config.js
  docs/static/script/matomo.js
Labels: size/M

#20410 fix: Adding extra metrics issue after chart configuration
  superset-frontend/src/explore/reducers/exploreReducer.js
Labels: size/XS, Preset-Patch

#20400 docs: Update docs on contributing to docs
  CONTRIBUTING.md
  docs/README.md
Labels: size/M

#20414 fix: key error on permalink fetch for old permalinks
  superset/explore/permalink/commands/get.py
  superset/explore/permalink/types.py
  tests/integration_tests/explore/permalink/commands_tests.py
Labels: size/L, preset-io, v2.0

#20412 feat: allow setting db UUID
  superset/databases/schemas.py
  tests/unit_tests/conftest.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/importexport/api_test.py
Labels: size/L, preset-io

#20333 fix(presto): use milliseconds timespec for presto
  superset/db_engine_specs/presto.py
  tests/unit_tests/db_engine_specs/test_presto.py
Labels: size/XS

#20409 fix(bar-chart-v2): remove marker control from bar chart V2
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
Labels: size/M

#20420 fix: rm eslint-plugin-translation-vars engines requirement
  superset-frontend/tools/eslint-plugin-translation-vars/package.json
Labels: size/XS

#20276 fix(cosmetic): cannot find m-r-10 class in superset.less
  superset-frontend/src/components/Datasource/CollectionTable.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Labels: size/S

#20264 docs: Added details to Druid connection string
  docs/docs/databases/druid.mdx
Labels: size/XS

#20417 test: Skip flaky Cypress test
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
Labels: size/XS, preset-io, hold:testing!

#20251 feat(embedded): enforce allow domains
  superset/embedded/view.py
Labels: size/S, preset-io

#20261 fix(embedded): CSV download for chart
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClient.ts
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/connection/types.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClient.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/explore/exploreUtils/exploreUtils.test.jsx
  superset-frontend/src/explore/exploreUtils/index.js
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/L, preset-io

#20411 fix(dashboard): new created chart did not have high lighted effect when using the permalink of chart share in dashboard
  superset-frontend/src/dashboard/actions/hydrate.js
Labels: size/XS, Preset-Patch

#20434 fix(20428): Address-Presto/Trino-Poll-Issue-Refactor
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
Labels: size/M

#20326 fix(fbprophet): Fix weekly frequencies
  superset/utils/pandas_postprocessing/utils.py
  tests/unit_tests/pandas_postprocessing/test_prophet.py
Labels: size/M

#20432 feat: add name, description and non null tables to RLS
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/migrations/versions/2022-06-19_16-17_f3afaf1f11f0_add_unique_name_desc_rls.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/unit_tests/sql_lab_test.py
Labels: size/L, preset-io

#20438 chore: move xaxis to superset-ui
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BoxPlot/buildQuery.test.ts
Labels: size/L

#20116 style(typo): occured -> occurred
  superset-frontend/packages/superset-ui-core/src/chart/components/FallbackComponent.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset/translations/nl/LC_MESSAGES/messages.json
Labels: size/XS

#20114 feat(chart): Enable caching per user when user impersonation is enabled
  superset/common/query_context_factory.py
  superset/common/query_object.py
  superset/config.py
  superset/db_engine_specs/base.py
Labels: size/M

#20380 chore: switching out ConnectorRegistry references for DatasourceDAO
  superset/__init__.py
  superset/cachekeys/api.py
  superset/commands/utils.py
  superset/common/query_context_factory.py
  superset/common/query_object_factory.py
  superset/connectors/connector_registry.py
  superset/connectors/sqla/models.py
  superset/dao/datasource/dao.py
  superset/dao/exceptions.py
  superset/dashboards/commands/importers/v0.py
  superset/datasource/__init__.py
  superset/datasource/dao.py
  superset/examples/helpers.py
  superset/explore/form_data/commands/create.py
  superset/explore/form_data/commands/state.py
  superset/explore/form_data/commands/update.py
  superset/initialization/__init__.py
  superset/models/dashboard.py
  superset/models/datasource_access_request.py
  superset/models/slice.py
  superset/security/manager.py
  superset/views/core.py
  superset/views/datasource/views.py
  superset/views/utils.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/explore/form_data/api_tests.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/insert_chart_mixin.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/datasource/dao_tests.py
Labels: size/XL

#20447 fix: table viz sort icon bottom aligned
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/XS, v2.0, Preset-Patch

#20451 fix: should raise exception when apply a categorical axis
  superset/common/query_context_processor.py
Labels: size/S

#20404 fix: suppress translation warning in jest
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/translation/Translator.ts
  superset-frontend/packages/superset-ui-core/test/translation/Translator.test.ts
  superset-frontend/spec/helpers/shim.ts
  superset-frontend/tsconfig.json
Labels: size/S

#20384 fix(chart & table): Prevent the dates from wrapping in table chart
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/XS, v2.0, Preset-Patch

#20350 fix(viz): BigQuery time grain 'minute'/'second' throws an error
  superset/db_engine_specs/bigquery.py
Labels: size/XS, v2.0

#20340 fix: ensure column name in description is string
  superset/result_set.py
  superset/superset_typing.py
  tests/unit_tests/result_set_test.py
Labels: size/M, preset-io, v2.0

#20397 feat: Adds support for clearing the Select cache
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/filters/components/GroupBy/types.ts
  superset-frontend/src/filters/components/TimeColumn/types.ts
  superset-frontend/src/filters/components/TimeGrain/types.ts
Labels: size/M

#20257 fix(home): Show home page tabs as pills instead of links
  superset-frontend/src/components/Menu/index.tsx
  superset-frontend/src/views/components/SubMenu.tsx
Labels: size/S, Preset-Patch

#20429 chore: remove label for new user
  .github/workflows/welcome-new-users.yml
Labels: size/XS, preset-io

#20056 feat(SQL Lab): Make SQL Lab explore use the default viz from the config file
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/types.ts
  superset/config.py
  superset/views/core.py
Labels: size/S

#20468 fix: async queries limit bug
  superset/sqllab/command.py
Labels: size/XS, preset-io

#20472 fix: Changes the return type of get_permissions to be JSON friendly
  superset/views/utils.py
Labels: size/S

#20402 fix: alert & reports active toggle optimistic update
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/M, v2.0, Preset-Patch

#20385 fix(migration): Ensure key_value LargeBinary is encoded as a MEDIUMBLOB as opposed to BLOB for MySQL
  superset/key_value/models.py
  superset/migrations/versions/2022-06-14_15-28_e09b4ae78457_resize_key_value_blob.py
Labels: size/M, v2.0

#19920 fix(table viz): correctly sort by multiple columns in a table
  superset-frontend/plugins/plugin-chart-table/src/DataTable/utils/sortAlphanumericCaseInsensitive.ts
  superset-frontend/plugins/plugin-chart-table/test/sortAlphanumericCaseInsensitive.test.ts
Labels: size/L, v2.0

#20480 fix(docs): prevent some symbols from being copied in docs
  docs/docs/contributing/local-backend.mdx
  docs/docs/installation/installing-superset-from-scratch.mdx
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/M

#20484 fix: migration revision order
  superset/migrations/versions/2022-06-19_16-17_f3afaf1f11f0_add_unique_name_desc_rls.py
Labels: size/XS, preset-io, v2.0

#20460 fix: new column UUID conflicts in dual write
  superset/connectors/sqla/models.py
  tests/integration_tests/datasets/model_tests.py
  tests/unit_tests/datasets/test_models.py
Labels: size/M, preset-io, need:qa-review

#20399 feat: Adds the /explore endpoint to the v1 API
  superset/explore/api.py
  superset/explore/commands/__init__.py
  superset/explore/commands/get.py
  superset/explore/commands/parameters.py
  superset/explore/exceptions.py
  superset/explore/form_data/api.py
  superset/explore/schemas.py
  superset/initialization/__init__.py
  superset/views/core.py
  tests/integration_tests/explore/api_tests.py
Labels: size/XL

#20377 feat(standardized form data): keep all columns and metrics
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  superset-frontend/src/explore/controlUtils/standardizedFormData.test.ts
  superset-frontend/src/explore/controlUtils/standardizedFormData.ts
Labels: size/L, v2.0

#20493 fix: correction from mmsql to mssql in setup.py
  setup.py
Labels: size/XS

#20260 docs(contribute): update compatible Python versions in local environment setup instructions
  CONTRIBUTING.md
Labels: size/XS

#20483 fix: bump FAB to 4.1.2
  requirements/base.txt
  setup.py
  superset/connectors/sqla/views.py
  superset/views/access_requests.py
  superset/views/annotations.py
  superset/views/css_templates.py
  superset/views/log/views.py
  superset/views/sql_lab.py
Labels: size/M, preset-io, v2.0

#20492 refactor: Cleanup user get_id/get_user_id
  superset/charts/api.py
  superset/charts/dao.py
  superset/charts/data/api.py
  superset/charts/data/commands/create_async_job_command.py
  superset/dashboards/api.py
  superset/dashboards/dao.py
  superset/dashboards/filters.py
  superset/jinja_context.py
  superset/key_value/utils.py
  superset/migrations/versions/2016-06-27_08-43_27ae655e4247_make_creator_owners.py
  superset/migrations/versions/2018-07-26_11-10_c82ee8a39623_add_implicit_tags.py
  superset/models/helpers.py
  superset/queries/filters.py
  superset/security/manager.py
  superset/sqllab/sqllab_execution_context.py
  superset/utils/async_query_manager.py
  superset/utils/core.py
  superset/utils/log.py
  superset/views/base.py
  superset/views/base_api.py
  superset/views/base_schemas.py
  superset/views/core.py
  superset/views/sql_lab.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/event_logger_tests.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
Labels: size/L

#20473 refactor: Minor optimization for updating DatasetDAO columns and metrics
  superset/datasets/dao.py
Labels: size/L

#20496 fix: change permissions on action
  .github/workflows/welcome-new-users.yml
Labels: size/XS, preset-io

#20510 chore: Updates control panel font size in Explore
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/XS

#20513 feat(vizgallery): Double-click viz type to submit form
  superset-frontend/src/addSlice/AddSliceContainer.test.tsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
Labels: size/M, preset-io

#20442 fix(db): Show the only db install guide when the db is already installed and error is existed while importing file.
  superset-frontend/src/components/ImportModal/ErrorAlert.tsx
  superset-frontend/src/components/ImportModal/index.tsx
Labels: size/M, Preset-Patch

#20518 refactor(standardized form data): refine interface and improve code smells
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getStandardizedControls.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/index.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getStandardizedControls.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Column.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Metric.ts
  superset-frontend/packages/superset-ui-core/src/query/types/QueryFormData.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Column.test.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Metric.test.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Line/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/explore/controlUtils/standardizedFormData.test.ts
  superset-frontend/src/explore/controlUtils/standardizedFormData.ts
Labels: size/XL

#20524 feat(explore): Apply denormalization to tier 2 charts form data
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getStandardizedControls.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-chord/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controlPanel.tsx
Labels: size/M, preset-io

#20486 chore: Updated copy in chart drop down to "View as table"
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/XS

#20523 fix(database-modal): Refresh Data when importing
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS, Preset-Patch

#20529 chore: move isAdhocColumn from controls to core
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/test/types.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getStandardizedControls.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Column.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Metric.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
Labels: size/M

#20530 feat: apply standardized form data to tier 2 charts
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-sankey/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-sunburst/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controlPanel.ts
  superset-frontend/src/explore/controlUtils/standardizedFormData.test.ts
  superset-frontend/src/explore/controlUtils/standardizedFormData.ts
  superset-frontend/src/visualizations/TimeTable/controlPanel.js
Labels: size/L

#20526 chore: Updates Metrics and Columns font-size
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
Labels: size/XS

#20543 fix: Removes psycopg2 as a required dependency
  superset/db_engine_specs/postgres.py
Labels: size/XS, v2.0

#20362 fix: Unable to download the Dashboard as image in case there's an image added through Markdown
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/types/dom-to-image-more.d.ts
  superset-frontend/src/utils/downloadAsImage.ts
Labels: size/M, Preset-Patch

#19983 feat: save active tabs in dashboard permalink
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/URLShortLinkButton/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/hooks/apiResources/dashboards.ts
  superset-frontend/src/utils/getClientErrorObject.ts
  superset-frontend/src/utils/urlUtils.ts
  superset/dashboards/permalink/schemas.py
  superset/dashboards/permalink/types.py
  superset/key_value/models.py
  superset/migrations/shared/utils.py
  superset/migrations/versions/2022-06-27_14-59_7fb8bca906d2_permalink_rename_filterstate.py
  superset/views/core.py
  tests/integration_tests/dashboards/permalink/api_tests.py
Labels: size/L

#20488 fix(big-number): big number gets cut off on a Dashboard
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
Labels: size/XS, Preset-Patch

#20487 fix(database-modal): form in database model effects results of the database list
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/index.tsx
Labels: size/XS, Preset-Patch

#20560 chore(dashboard): Resolve form_data vs. formData in dashboard redux state
  superset-frontend/spec/fixtures/mockChartQueries.js
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
  superset-frontend/src/dashboard/util/getFormDataWithExtraFilters.test.ts
  superset-frontend/src/dashboard/util/logging/childChartsDidLoad.js
Labels: size/M, preset-io

#20514 feat: add extension point to the right side of the menu bar
  superset-frontend/packages/superset-ui-core/src/ui-overrides/UiOverrideRegistry.ts
  superset-frontend/src/preamble.ts
  superset-frontend/src/setup/setupExtensions.ts
  superset-frontend/src/views/components/Menu.test.tsx
  superset-frontend/src/views/components/Menu.tsx
  superset-frontend/src/views/components/RightMenu.tsx
Labels: size/M

#20519 chore(explore): Get Explore data from endpoint instead of bootstrap_data
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/explore.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/filter_box.test.js
  superset-frontend/cypress-base/cypress/integration/explore/link.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/area.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/big_number.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/bubble.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/compare.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/dist_bar.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/download_chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/dual_line.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/gauge.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/graph.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/histogram.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pie.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pivot_table.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/sankey.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/shared.helper.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/sunburst.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/time_table.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/treemap.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/world_map.test.js
  superset-frontend/cypress-base/cypress/support/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/addSlice/AddSliceContainer.test.tsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/constants.ts
  superset-frontend/src/explore/App.jsx
  superset-frontend/src/explore/ExplorePage.tsx
  superset-frontend/src/explore/actions/datasourcesActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.test.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/FastVizSwitcher.tsx
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.test.ts
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/explore/index.jsx
  superset-frontend/src/explore/reducers/datasourcesReducer.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/getInitialState.ts
  superset-frontend/src/explore/reducers/saveModalReducer.js
  superset-frontend/src/explore/store.js
  superset-frontend/src/explore/types.ts
Labels: size/XXL, preset-io

#20571 fix: Revert #20408 (stacking negative values in echarts bar chart)
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/XS, preset-io, v2.0

#20555 fix: Respecting max/min opacities, and adding tests.
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Labels: size/S, preset-io, v2.0

#20568 test: Improve & un-skip flaky Cypress test
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
Labels: size/S, preset-io
