Repository apache/superset, pull requests merged in 2022-02, with the labels that each got.

#18240 fix(teradata): LIMIT syntax
  docs/installation.rst
  docs/src/pages/docs/Connecting to Databases/index.mdx
  docs/src/pages/docs/Connecting to Databases/teradata.mdx
  setup.py
  superset/db_engine_specs/teradata.py
  tests/unit_tests/db_engine_specs/test_teradata.py
Labels: size/L

#18251 chore(tests): migrate mssql tests to pytest
  tests/integration_tests/db_engine_specs/mssql_tests.py
  tests/unit_tests/db_engine_specs/test_kusto.py
  tests/unit_tests/db_engine_specs/test_mssql.py
Labels: size/XL, preset-io

#18252 fix(plugin-chart-echarts): fix forecasts on verbose metrics
  superset-frontend/packages/superset-ui-chart-controls/src/sections/forecastInterval.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/forecast.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/forecast.test.ts
Labels: size/L, preset-io

#18229 chore: Reference Github code in Docusaurus
  docs-v2/docusaurus.config.js
Labels: size/XS

#18231 chore: add ci for docs-v2
  .github/workflows/superset-docs-v2.yml
Labels: size/M

#18215 feat(explore): Keep or reset chart config after datasource change
  superset-frontend/src/explore/components/ControlPanelAlert.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.test.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.ts
  superset-frontend/src/explore/controlUtils/index.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/getInitialState.ts
Labels: size/XL, need:qa-review

#18182 fix: new alert should have force_screenshot be true
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/XS

#18254 docs(i18n): make translation guide more explicit
  docs/docs/Contributing/translations.mdx
Labels: size/M, preset-io

#18568 chore: Remove outdated roadmap page from Docusaurus
  docs/docs/roadmap.mdx
  docs/docusaurus.config.js
Labels: size/M

#18575 fix: superset-doc.yaml workflow to not be immutable on deploy
  .github/workflows/superset-docs.yml
Labels: size/XS

#18577 fix: Update docusaurus.config.js
  docs/docusaurus.config.js
Labels: size/XS

#18574 chore: update gitignore in the main folder, to hide PyCharm configuration
  .gitignore
Labels: size/XS

#18250 feat: Embedded SDK
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  superset-embedded-sdk/.gitignore
  superset-embedded-sdk/CONTRIBUTING.md
  superset-embedded-sdk/README.md
  superset-embedded-sdk/babel.config.js
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/release-if-necessary.js
  superset-embedded-sdk/src/const.ts
  superset-embedded-sdk/src/index.ts
  superset-embedded-sdk/tsconfig.json
  superset-embedded-sdk/webpack.config.js
Labels: size/XL, preset-io

#18246 fix(listview): add nowrap to view mode container
  superset-frontend/src/components/ListView/ListView.tsx
Labels: size/XS, preset-io

#18579 fix(sqla): avoid unnecessary groupby in samples request
  superset/charts/schemas.py
  superset/common/query_actions.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/S, preset-io

#17921 chore(explore): make adhoc columns available without UX BETA ff
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
Labels: size/M

#18564 fix: sqllab schema select error msg
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/S, preset-io

#18580 docs: add password example to dataset import API
  superset/charts/api.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/queries/saved_queries/api.py
Labels: size/M, preset-io

#18080 feat: smart tooltip in datasourcepanel
  superset-frontend/packages/superset-ui-chart-controls/src/components/ColumnOption.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/components/labelUtils.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/components/labelUtils.test.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/shared-controls/emitFilterControl.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: size/L

#18600 docs: fixed URL for contributing landing page
  docs/docs/Contributing/contributing-page.mdx
Labels: size/XS, preset-io

#18601 fix(jest): add superset-frontend to testRegex
  superset-frontend/jest.config.js
Labels: size/XS, preset-io

#18144 refactor: remove redundant propTypes in ColumnElement
  superset-frontend/src/SqlLab/components/ColumnElement/index.tsx
Labels: size/S

#18585 chore: allow sqla docs to use supersettext
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
Labels: size/L, preset-io

#18561 feat: embedded dashboard
  superset/migrations/versions/5afbb1a5849b_add_embedded_dahshoard_table.py
Labels: size/M, preset-io

#18200 chore: upgrade BoundsControl to TS
  superset-frontend/src/explore/components/controls/BoundsControl.jsx
  superset-frontend/src/explore/components/controls/BoundsControl.stories.tsx
  superset-frontend/src/explore/components/controls/BoundsControl.tsx
Labels: size/L, need:merge

#18143 refactor: migrate ExploreResultsButton component to FC & tsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton/ExploreResultsButton.test.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton/index.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton/index.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Labels: size/L

#18620 feat: log decorator util - adding automatic logs out of the box
  tests/common/logger_utils.py
  tests/example_data/data_loading/pandas/pandas_data_loader.py
  tests/example_data/data_loading/pandas/table_df_convertor.py
Labels: size/L

#18618 feat(chart-data-api): download multiple csvs as zip
  superset/charts/data/api.py
  superset/utils/core.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M, preset-io

#18558 chore: Rename and reposition native filter modal fields
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigPane.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitlePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/filters/components/GroupBy/controlPanel.ts
  superset-frontend/src/filters/components/Range/controlPanel.ts
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Select/types.ts
  superset-frontend/src/filters/components/Time/controlPanel.ts
  superset-frontend/src/filters/components/TimeColumn/controlPanel.ts
  superset-frontend/src/filters/components/TimeGrain/controlPanel.ts
Labels: size/XL

#18619 fix(helm): Fix support for ingress.ingressClassName
  helm/superset/Chart.yaml
  helm/superset/values.schema.json
Labels: size/XS

#18562 fix: user UUIDs on export for Native Filter Configuration
  superset/dashboards/commands/importers/v1/utils.py
  tests/unit_tests/dashboards/commands/importers/v1/utils_test.py
Labels: size/M

#17939 refactor(ExploreCtasResultsButton): convert to functional component
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/index.jsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Labels: size/L, Superset-Community-Partners

#18628 fix: check embedded feature flag in request loader
  superset/security/manager.py
Labels: size/S, preset-io

#18084 fix(histogram): display correct percentile value instead of formula
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
Labels: size/XS

#18569 feat(explore): Allow using time formatter on temporal columns in data table
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/useTimeFormattedColumns.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/getInitialState.ts
  superset-frontend/src/utils/common.js
  superset-frontend/src/utils/common.test.jsx
  superset-frontend/src/utils/localStorageHelpers.ts
  superset/common/query_actions.py
  superset/views/core.py
  superset/viz.py
Labels: size/XL

#18064 feat: datasource access to allow more granular access to tables on SQL Lab
  superset/databases/filters.py
  superset/security/manager.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/L

#18624 feat: Improves key expiration handling in Explore
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset/views/core.py
Labels: size/M

#18626 feat: editable title xl certified badge
  superset-frontend/src/components/EditableTitle/index.tsx
Labels: size/XS

#18567 fix(mssql): support cte in virtual tables
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mssql.py
  tests/integration_tests/core_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_mssql.py
Labels: size/L

#18657 chore(docs): add note about quote handling in filters
  UPDATING.md
Labels: size/XS, preset-io

#18658 fix: dataset modal doesn't work in dev mode
  superset-frontend/webpack.config.js
Labels: size/XS

#18603 fix(Explore): Force different color for same metrics in Mixed Time-Series
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/S

#18581 chore: Update Docusaurus links
  docs/docs/connecting-to-databases/installing-database-drivers.mdx
  docs/docs/contributing/_category_.json
  docs/docs/contributing/contributing-page.mdx
  docs/docs/contributing/conventions-and-typing.mdx
  docs/docs/contributing/hooks-and-linting.mdx
  docs/docs/contributing/local-backend.mdx
  docs/docs/contributing/pull-request-guidelines.mdx
  docs/docs/contributing/style-guide.mdx
  docs/docs/contributing/testing-locally.mdx
  docs/docs/contributing/translations.mdx
  docs/docs/contributing/types-of-contributions.mdx
  docs/docs/creating-charts-dashboards/_category_.json
  docs/docs/creating-charts-dashboards/creating-your-first-dashboard.mdx
  docs/docs/creating-charts-dashboards/exploring-data.mdx
  docs/docs/databases/_category_.json
  docs/docs/databases/ascend.mdx
  docs/docs/databases/athena.mdx
  docs/docs/databases/bigquery.mdx
  docs/docs/databases/clickhouse.mdx
  docs/docs/databases/cockroachdb.mdx
  docs/docs/databases/cratedb.mdx
  docs/docs/databases/databricks.mdx
  docs/docs/databases/db-connection-ui.mdx
  docs/docs/databases/docker-add-drivers.mdx
  docs/docs/databases/dremio.mdx
  docs/docs/databases/drill.mdx
  docs/docs/databases/druid.mdx
  docs/docs/databases/elasticsearch.mdx
  docs/docs/databases/exasol.mdx
  docs/docs/databases/extra-settings.mdx
  docs/docs/databases/firebird.mdx
  docs/docs/databases/firebolt.mdx
  docs/docs/databases/google-sheets.mdx
  docs/docs/databases/hana.mdx
  docs/docs/databases/hive.mdx
  docs/docs/databases/hologres.mdx
  docs/docs/databases/ibm-db2.mdx
  docs/docs/databases/impala.mdx
  docs/docs/databases/installing-database-drivers.mdx
  docs/docs/databases/kylin.mdx
  docs/docs/databases/mysql.mdx
  docs/docs/databases/netezza.mdx
  docs/docs/databases/oracle.mdx
  docs/docs/databases/pinot.mdx
  docs/docs/databases/postgres.mdx
  docs/docs/databases/presto.mdx
  docs/docs/databases/redshift.mdx
  docs/docs/databases/rockset.mdx
  docs/docs/databases/snowflake.mdx
  docs/docs/databases/solr.mdx
  docs/docs/databases/spark-sql.mdx
  docs/docs/databases/sql-server.mdx
  docs/docs/databases/teradata.mdx
  docs/docs/databases/trino.mdx
  docs/docs/databases/vertica.mdx
  docs/docs/frequently-asked-questions.mdx
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Labels: size/L

#18649 feat(helm): allow to customize init image
  helm/superset/Chart.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
Labels: size/M

#18653 feat: add prop to `setDBEngine` in DatabaseModal
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/S

#18608 chore: improve React.useRef etc. import consistency
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  superset-frontend/spec/__mocks__/svgrMock.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/components/AsyncAceEditor/index.tsx
  superset-frontend/src/components/AsyncEsmComponent/index.tsx
  superset-frontend/src/components/IndeterminateCheckbox/index.tsx
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/components/RefreshLabel/index.tsx
  superset-frontend/src/components/Select/WindowedSelect/windowed.tsx
  superset-frontend/temporary_superset_ui/superset-ui/test/__mocks__/svgrMock.tsx
Labels: size/L

#17826 fix(deck.gl): update view state on property changes (#17720)
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/DeckGLContainer.jsx
Labels: size/XS

#17944 chore: migrate QueryTable component from jsx to tsx
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/QuerySearch/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/QueryTable.test.jsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/components/Icons/IconType.ts
Labels: size/L, Superset-Community-Partners

#18136 refactor: migrate DeleteComponentButton to TypeScript
  superset-frontend/src/dashboard/components/DeleteComponentButton.tsx
Labels: size/S

#18676 feat: Implement EmptyState components
  superset-frontend/src/assets/images/chart.svg
  superset-frontend/src/assets/images/document.svg
  superset-frontend/src/assets/images/filter.svg
  superset-frontend/src/components/EmptyState/EmptyState.stories.tsx
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/webpack.config.js
Labels: size/L

#18684 fix: revert handle null values in time-series table
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/S

#18685 fix(build): update webpack jsx paths
  superset-frontend/webpack.config.js
Labels: size/XS

#18709 docs: add docs for viz plugin development
  docs/docs/contributing/creating-viz-plugins.mdx
Labels: size/L, preset-io

#18708 chore: remove config of temporary_superset_ui
  superset-frontend/.eslintignore
  superset-frontend/.prettierignore
  superset-frontend/jest.config.js
Labels: size/XS

#18710 refactor: decouple pandas postprocessing operator
  superset/utils/pandas_postprocessing.py
  superset/utils/pandas_postprocessing/__init__.py
  superset/utils/pandas_postprocessing/aggregate.py
  superset/utils/pandas_postprocessing/boxplot.py
  superset/utils/pandas_postprocessing/compare.py
  superset/utils/pandas_postprocessing/contribution.py
  superset/utils/pandas_postprocessing/cum.py
  superset/utils/pandas_postprocessing/diff.py
  superset/utils/pandas_postprocessing/geography.py
  superset/utils/pandas_postprocessing/pivot.py
  superset/utils/pandas_postprocessing/prophet.py
  superset/utils/pandas_postprocessing/resample.py
  superset/utils/pandas_postprocessing/rolling.py
  superset/utils/pandas_postprocessing/select.py
  superset/utils/pandas_postprocessing/sort.py
  superset/utils/pandas_postprocessing/utils.py
Labels: size/XXL

#18679 feat(explore): Implement data table empty states
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
Labels: size/S

#18681 feat(explore): Implement metrics and columns popovers empty states
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/constants.ts
Labels: size/L

#18678 feat(explore): Implement chart empty states
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/components/SuperChart.tsx
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
Labels: size/M

#18707 chore: updating link to newer viz plugin blog post
  CONTRIBUTING.md
Labels: size/XS, preset-io

#18651 feat(embedded): aud claim and type for guest token
  superset/config.py
  superset/security/manager.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security_tests.py
Labels: size/M, preset-io

#18686 fix: Fixed dancing tooltip in database list action buttons
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
Labels: size/XS, preset-io

#18666 fix(sqllab): fix query results sorting
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.tsx
  superset-frontend/src/components/FilterableTable/FilterableTableStyles.less
Labels: size/L, Superset-Community-Partners

#15246 fix: passing url params in sqllab
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: size/M

#18664 chore: Remove non-breaking changes from UPDATING.md
  UPDATING.md
Labels: size/XS

#18714 fix: Only redirect to relative paths when authentication expires
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
Labels: size/S

#18121 refactor: migrate QueryAndSaveBtns to TypeScript and add stories
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.stories.tsx
  superset-frontend/src/explore/components/QueryAndSaveBtns.tsx
Labels: size/L

#18728 chore: use switchboard as dependency for embedded sdk
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.ts
  superset-embedded-sdk/tsconfig.json
  superset-frontend/packages/superset-ui-switchboard/package-lock.json
  superset-frontend/packages/superset-ui-switchboard/package.json
Labels: size/S, preset-io

#18056 fix(CRUD/listviews): Errors with rison and search strings using special characters
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/M, Superset-Community-Partners

#18748 feat(embedded): make guest token JWT audience callable or str
  superset/config.py
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/M, preset-io

#18725 fix: report list search by created_by
  superset/reports/api.py
  tests/integration_tests/reports/api_tests.py
Labels: size/XS

#18738 fix(Explore): Fix cache timeout field not being saved and unit tests
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
Labels: size/L

#18751 fix(helm): bump Helm chart release version
  helm/superset/Chart.yaml
Labels: size/XS

#18745 feat(maps): Adding country maps: BI/ET/RW/TZ/UG (+updated NG)
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/burundi.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/ethiopia.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/nigeria.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/rwanda.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/tanzania.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/uganda.geojson
Labels: size/XL

#18717 fix(Dashboard): Fix blinking native filters on zoom
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS

#18629 chore: move data nav menu to plus menu
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/components/Menu.test.tsx
  superset-frontend/src/views/components/Menu.tsx
  superset-frontend/src/views/components/MenuRight.tsx
  superset/initialization/__init__.py
  superset/views/base.py
  tests/integration_tests/security_tests.py
Labels: size/L, preset-io, design:user-research

#18779 refactor: move post_processing to unittest
  tests/integration_tests/pandas_postprocessing_tests.py
  tests/unit_tests/fixtures/dataframes.py
  tests/unit_tests/pandas_postprocessing/__init__.py
  tests/unit_tests/pandas_postprocessing/test_aggregate.py
  tests/unit_tests/pandas_postprocessing/test_boxplot.py
  tests/unit_tests/pandas_postprocessing/test_compare.py
  tests/unit_tests/pandas_postprocessing/test_contribution.py
  tests/unit_tests/pandas_postprocessing/test_cum.py
  tests/unit_tests/pandas_postprocessing/test_diff.py
  tests/unit_tests/pandas_postprocessing/test_geography.py
  tests/unit_tests/pandas_postprocessing/test_pivot.py
  tests/unit_tests/pandas_postprocessing/test_prophet.py
  tests/unit_tests/pandas_postprocessing/test_resample.py
  tests/unit_tests/pandas_postprocessing/test_rolling.py
  tests/unit_tests/pandas_postprocessing/test_select.py
  tests/unit_tests/pandas_postprocessing/test_sort.py
  tests/unit_tests/pandas_postprocessing/utils.py
Labels: size/XXL

#18786 fix(delete-modal): Changed the color of the help text with grayScale.dark1 in DeleteModal
  superset-frontend/src/components/DeleteModal/index.tsx
Labels: size/XS

#18756 fix: update standalone url for slack reports
  superset/reports/notifications/slack.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/S

#18142 refactor: migrate ExploreCtasResultsButton component to typescript
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/index.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/types.ts
Labels: size/M

#18801 chore(FF): adding generic X axis Feature Flag (default: False)
  superset/config.py
Labels: size/XS, preset-io

#18800 docs(pinot): Update pinot docs with fixed pinot connection
  docs/docs/databases/pinot.mdx
Labels: size/XS

#18782 fix: contribution operator meets nan value
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/controlPanel.tsx
  superset/common/query_object.py
  superset/utils/pandas_postprocessing/contribution.py
  tests/unit_tests/pandas_postprocessing/test_contribution.py
Labels: size/M

#18566 fix(plugin-chart-echarts): area chart opacity bug
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, preset-io

#18815 docs: Added reference and link to configure instructions for docker-compose…
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS

#18749 fix(sqllab): Removed the tooltip from CopyToClipboard button in sqllab
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/components/CopyToClipboard/CopyToClipboard.stories.tsx
  superset-frontend/src/components/CopyToClipboard/CopyToClipboard.test.tsx
  superset-frontend/src/components/CopyToClipboard/index.jsx
Labels: size/M

#18818 docs: add_db_logos
  README.md
  docs/docs/databases/installing-database-drivers.mdx
  docs/docs/databases/teradata.mdx
  docs/docs/databases/yugabyte.mdx
  docs/src/resources/data.js
  docs/static/img/databases/teradata.png
  docs/static/img/databases/yugabyte.png
  superset-frontend/src/assets/images/teradata.png
  superset-frontend/src/assets/images/yugabyte.png
Labels: size/M, preset-io

#18824 docs: add Unvired to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#18813 fix(altered-modal): displayed the metric value in altered modal correctly
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTag.test.jsx
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTagMocks.js
  superset-frontend/src/components/AlteredSliceTag/index.jsx
Labels: size/S

#18819 docs: fix typo in configuring-superset.mdx
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS

#18746 fix(mssql): support top syntax for limiting queries
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/teradata.py
  superset/models/core.py
  superset/sql_lab.py
  superset/sql_parse.py
  tests/unit_tests/db_engine_specs/test_mssql.py
  tests/unit_tests/db_engine_specs/test_teradata.py
Labels: size/XL

#18788 fix(Explore): Annotation cache should be ignore when adding new / updated annotation
  superset-frontend/src/chart/chartAction.js
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.jsx
Labels: size/S

#18789 fix(hive): stop query on the processing engine when user clicks STOP on SQL Lab
  superset/db_engine_specs/hive.py
Labels: size/XS

#18820 chore: npm audit fix in cypress-base
  superset-frontend/cypress-base/package-lock.json
Labels: size/XS, preset-io

#18739 fix: Position of arrows in Table chart
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/S

#18846 fix(key-value): lost url_params after long-url feature
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset/views/core.py
Labels: size/S

#18784 feat(native-filters): Re-arrange controls in FilterBar
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/ActionButtons.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/constants.ts
  superset-frontend/src/utils/common.js
Labels: size/L, need:qa-review

#18861 docs: add GA conf to config
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: size/XXL, preset-io

#18876 feat(native-filters): Don't scroll main window when scrolling filter bar
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS

#18857 fix: FilterBox date endpoints to use [inclusive, exclusive)
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Labels: size/XS

#18874 feat(native-filters): Implement filter cards
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCardContent.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/NameRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/ScopeRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/Styles.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/TooltipWithTruncation.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/TypeRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/useFilterDependencies.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/useFilterScope.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/useTruncation.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/styles.ts
Labels: size/XL

#18886 fix: Database list in Docusaurus
  docs/src/pages/index.tsx
Labels: size/XS

#18854 chore(tests-backend): migrate snowflake and sqlite to unit tests
  tests/integration_tests/db_engine_specs/snowflake_tests.py
  tests/integration_tests/db_engine_specs/sqlite_tests.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
  tests/unit_tests/db_engine_specs/test_sqlite.py
Labels: size/L, Superset-Community-Partners

#18882 docs(Import API): update function description, overwrite real meaning
  superset/charts/api.py
  superset/dashboards/api.py
Labels: size/XS

#18852 fix(dashboard): incorrect chart error with slow dataset api request
  superset-frontend/src/chart/Chart.jsx
  superset-frontend/src/chart/chartReducer.ts
Labels: size/XS

#18848 feat(helm): allow adding pod labels
  helm/superset/Chart.yaml
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
Labels: size/S

#18894 fix: Source from Apache Foundation's website link
  docs/docs/intro.mdx
Labels: size/XS

#18914 docs: remove old viz plugin docs
  docs/docs/frequently-asked-questions.mdx
  docs/docs/installation/building-custom-viz-plugins.mdx
Labels: size/L, preset-io

#18920 fix(docs): add missing static files to build
  .github/workflows/superset-docs.yml
  docs/package.json
  docs/static/resources/.asf.yaml
  docs/static/resources/.htaccess
Labels: size/M, preset-io

#18923 refactor(docs): clean up deploy of static files
  .github/workflows/superset-docs.yml
  docs/package.json
  docs/static/.asf.yaml
  docs/static/.htaccess
Labels: size/XS, preset-io

#18773 feat: On window focus, redirect to login if the user has been logged out
  superset-frontend/src/dashboard/util/findPermission.test.ts
  superset-frontend/src/preamble.ts
  superset-frontend/src/profile/components/fixtures.tsx
  superset-frontend/src/types/bootstrapTypes.ts
  superset/initialization/__init__.py
  superset/users/api.py
  superset/users/schemas.py
  superset/views/utils.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/users/api_tests.py
Labels: size/L, preset-io

#18850 test(native filter): add new native filter test for time column filter
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
Labels: size/M, preset-io, Preset-QA

#18853 fix: filter indicator pointing issue on popover
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
Labels: size/XS

#18866 refactor(ImportModelsCommand): clean code, extract logic into methods
  superset/commands/importers/v1/__init__.py
Labels: size/M

#17543 feat: new dataset/table/column models
  superset/columns/__init__.py
  superset/columns/models.py
  superset/columns/schemas.py
  superset/connectors/sqla/models.py
  superset/datasets/models.py
  superset/datasets/schemas.py
  superset/migrations/versions/b8d3a24d9131_new_dataset_models.py
  superset/models/helpers.py
  superset/security/manager.py
  superset/tables/__init__.py
  superset/tables/models.py
  superset/tables/schemas.py
  tests/integration_tests/dashboards/filter_sets/conftest.py
  tests/integration_tests/dashboards/filter_sets/create_api_tests.py
  tests/integration_tests/dashboards/filter_sets/delete_api_tests.py
  tests/integration_tests/dashboards/filter_sets/get_api_tests.py
  tests/integration_tests/dashboards/filter_sets/update_api_tests.py
  tests/integration_tests/dashboards/superset_factory_util.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/columns/__init__.py
  tests/unit_tests/columns/test_models.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
  tests/unit_tests/datasets/test_models.py
  tests/unit_tests/tables/__init__.py
  tests/unit_tests/tables/test_models.py
Labels: sip, risk:db-migration, size/XXL

#18935 chore: update `UPDATING.md` re: SIP-68
  UPDATING.md
Labels: size/XS

#18131 refactor(reports): refactoring reports
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/components/ReportModal/index.test.tsx
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/reducers/types.ts
  superset-frontend/src/dashboard/util/constants.ts
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/reports/actions/reports.js
  superset-frontend/src/reports/reducers/reports.js
  superset-frontend/src/types/Owner.ts
  superset-frontend/src/views/CRUD/alert/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/XL

#18722 feat: DBC-UI Globally available across the app 🌎
  superset-frontend/src/views/components/Menu.test.tsx
  superset-frontend/src/views/components/Menu.tsx
  superset-frontend/src/views/components/MenuRight.tsx
  superset-frontend/src/views/components/types.ts
  superset/views/base.py
Labels: size/L

#18934 fix(sqllab): Un-render deselected tabs
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Labels: size/XS

#18811 chore: add intersect method from backend to fontend for upload extensions
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/components/Menu.tsx
  superset-frontend/src/views/components/MenuRight.tsx
  superset-frontend/src/views/components/types.ts
  superset/views/base.py
Labels: size/M, preset-io

#18855 fix: Metadata browser in SQL not render nicely in Safari
  superset-frontend/src/SqlLab/components/ColumnElement/index.tsx
Labels: size/XS

#18796 fix: Monospacing errors in dashboards & charts
  superset-frontend/src/chart/Chart.jsx
Labels: size/S

#18915 test(Native Filter): User can create parent filters using "Filter is hierarchical
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
Labels: size/L, preset-io, Preset-QA

#18695 fix(native-filter): fix required filters of a dashboard won't load properly
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS

#18939 fix(deck.gl): multiple layers map size is shrunk
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/Multi.jsx
Labels: size/XS

#18849 fix: Null schema issue in the list of saved queries.
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
Labels: size/XS

#18758 fix: CSV upload with overprescribed table/schema
  superset/views/database/forms.py
  superset/views/database/views.py
  tests/integration_tests/csv_upload_tests.py
Labels: size/M

#18817 fix(sql Lab tabs): Empty SQL Lab tabs
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/assets/images/empty_sql_chart.svg
Labels: size/M, need:qa-review

#18948 fix(dataset): handle missing database in migration
  superset/migrations/versions/b8d3a24d9131_new_dataset_models.py
Labels: size/XS, preset-io

#18955 docs: fix sql templating typos
  docs/docs/installation/sql-templating.mdx
Labels: size/S

#18945 feat(legacy-preset-chart-deckgl): Add ,.1f and ,.2f value formats to deckgl charts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utilities/Shared_DeckGL.jsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utilities/controls.jsx
Labels: size/S

#18835 fix(Explore): Pivot table V2 sort by failure with D&D enabled
  superset-frontend/packages/superset-ui-core/src/query/buildQueryObject.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Column.ts
  superset-frontend/packages/superset-ui-core/test/query/buildQueryObject.test.ts
Labels: size/M

#18896 feat(TimeTableViz): sort by first metric
  superset/viz.py
  tests/integration_tests/viz_tests.py
Labels: size/S

#16860 chore(security): Remove obsolete FAB metric_access permission
  superset/security/manager.py
Labels: size/XS

#18971 fix: add/find owners from report/alert modal
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/XS
