Repository apache/superset, pull requests merged in 2022-05, with the labels that each got.

#19754 feat: deprecate old API on core superset fave_dashboards
  superset-frontend/src/profile/components/Favorites.tsx
  superset-frontend/src/types/bootstrapTypes.ts
  superset/views/core.py
Labels: size/M, preset-io

#19826 fix: Missing `f` prefix on f-strings
  superset/db_engine_specs/presto.py
Labels: size/XS

#19906 fix: "fix(sql lab): display the 'View Results' button consistently in the history tab on sync mode"
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset/sql_lab.py
Labels: size/S

#19926 fix(dataset): DAO update
  superset/datasets/dao.py
Labels: size/XS

#19927 feat(chart & legend): make to enable show legend by default
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
Labels: size/XS, Preset-Patch

#19930 fix: memoize primitives
  superset/db_engine_specs/base.py
  superset/db_engine_specs/sqlite.py
  superset/models/core.py
  superset/utils/cache.py
  superset/views/core.py
  tests/unit_tests/db_engine_specs/test_sqlite.py
Labels: size/L

#19917 fix(sqla): replace custom dttm type with literal_column
  superset/connectors/base/models.py
  superset/connectors/druid/models.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  superset/models/sql_types/base.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/db_engine_specs/trino_tests.py
  tests/integration_tests/model_tests.py
  tests/unit_tests/db_engine_specs/test_athena.py
  tests/unit_tests/db_engine_specs/test_presto.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/L, preset-io

#19745 feat: simplify SQLite time grain
  superset/db_engine_specs/sqlite.py
  tests/unit_tests/db_engine_specs/test_sqlite.py
Labels: size/M

#19924 chore(reports): Improving logging around failed scheduled reports
  superset/tasks/scheduler.py
Labels: size/S, preset-io

#19897 chore: Adds a storybook to FilterableTable
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.jsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.stories.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/L

#19813 chore: get embedded user with roles and permissions
  superset-frontend/src/dashboard/util/findPermission.test.ts
  superset-frontend/src/dashboard/util/findPermission.ts
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreReport.tsx
  superset-frontend/src/preamble.ts
  superset-frontend/src/types/bootstrapTypes.ts
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
  superset-frontend/src/views/store.ts
  superset/views/users/api.py
  superset/views/utils.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/users/api_tests.py
Labels: size/L, preset-io

#19932 fix: can not correctly set force in store
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/reducers/exploreReducer.js
Labels: size/S

#18873 fix(sqllab/charts): casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp
  superset/result_set.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/dataframe_test.py
Labels: size/M, v2.0, v1.5, lts-v1

#19936 fix: OpenAPI docs small fixes
  superset/charts/api.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/embedded/api.py
  superset/importexport/api.py
  superset/reports/api.py
  superset/security/api.py
Labels: size/S, preset-io

#19951 chore: Adds the theme object to chart properties
  superset-frontend/packages/superset-ui-core/src/chart/components/SuperChart.tsx
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartProps.ts
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChartCore.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart/models/ChartPlugin.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart/models/ChartProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BigNumber/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Gauge/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Tree/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-handlebars/test/plugin/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-pivot-table/test/plugin/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
  superset-frontend/plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
Labels: size/L

#19887 fix(hive): Workaround for Python 3.9 s3 transfer issue
  superset/db_engine_specs/hive.py
Labels: size/XS

#19911 chore: Fix broken link for DouroECI
  RESOURCES/INTHEWILD.md
Labels: size/XS

#19839 fix(dashboard): allow users to resize the markdown widget easier
  superset-frontend/src/dashboard/stylesheets/resizable.less
Labels: size/XS

#19770 chore: remove druid datasource from the config
  UPDATING.md
  superset-frontend/src/visualizations/FilterBox/controlPanel.jsx
  superset/cli/update.py
  superset/config.py
  superset/connectors/druid/__init__.py
  superset/connectors/druid/models.py
  superset/connectors/druid/views.py
  superset/dashboards/commands/importers/v0.py
  superset/datasets/commands/importers/v0.py
  superset/initialization/__init__.py
  superset/models/dashboard.py
  superset/security/manager.py
  superset/utils/dict_import_export.py
  superset/views/base.py
  superset/views/core.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dict_import_export_tests.py
  tests/integration_tests/druid_func_tests.py
  tests/integration_tests/druid_func_tests_sip38.py
  tests/integration_tests/druid_tests.py
  tests/integration_tests/import_export_tests.py
  tests/integration_tests/security_tests.py
Labels: risk:breaking-change, size/XXL, preset-io, v2.0

#19938 fix(chart & table): make to allow highlight in case of numeric column
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/M, Preset-Patch

#19957 feat: switch from `sqlalchemy-trino` to `trino-python-client`
  docs/docs/databases/trino.mdx
  setup.py
Labels: size/M

#19942 refactor(ReportModal): simplify state reducer and improve error handling
  superset-frontend/src/components/ReportModal/ReportModal.test.tsx
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/components/ReportModal/styles.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreReport.tsx
  superset-frontend/src/reports/actions/reports.js
  superset-frontend/src/reports/types.ts
  superset-frontend/src/utils/getClientErrorObject.ts
  superset/models/reports.py
  superset/reports/commands/base.py
  superset/reports/commands/create.py
  superset/reports/commands/exceptions.py
  superset/reports/commands/update.py
  superset/reports/dao.py
  superset/reports/schemas.py
  tests/integration_tests/reports/api_tests.py
Labels: size/XL

#19929 chore: change subject name from no_name to named for PNGs in
  superset/utils/core.py
Labels: size/XS, need:qa-review

#19903 fix(explore): Explore data table tooltip
  superset-frontend/src/components/CopyToClipboard/index.jsx
Labels: size/XS

#19954 chore: convert URLShortLinkButton to typescript
  superset-frontend/src/components/AnchorLink/AnchorLink.test.jsx
  superset-frontend/src/components/AnchorLink/index.jsx
  superset-frontend/src/components/URLShortLinkButton/index.jsx
  superset-frontend/src/dashboard/components/AnchorLink/AnchorLink.stories.tsx
  superset-frontend/src/dashboard/components/AnchorLink/AnchorLink.test.tsx
  superset-frontend/src/dashboard/components/AnchorLink/index.tsx
  superset-frontend/src/dashboard/components/URLShortLinkButton/URLShortLinkButton.test.tsx
  superset-frontend/src/dashboard/components/URLShortLinkButton/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Header.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
Labels: size/XL

#19963 feat: Add cypress test for downloading chart as image
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/download_chart.test.js
  superset-frontend/cypress-base/cypress/plugins/index.js
  superset-frontend/cypress-base/cypress/support/index.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Labels: size/M, Preset-Patch

#19889 fix: Fix auto-reversion of label/title in the Metrics popover
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
Labels: size/M, Preset-Patch

#19923 chore: Removes hard-coded colors from the plugins - iteration 1
  superset-frontend/packages/superset-ui-core/src/chart/components/FallbackComponent.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/MockChartPlugins.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChartCore.test.tsx
  superset-frontend/packages/superset-ui-demo/.storybook/themeDecorator.js
  superset-frontend/packages/superset-ui-demo/storybook/shared/components/ResizableChartDemo.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-calendar/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-country-map/CountryMapStories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-map-box/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-map-box/data.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-plugin-chart-world-map/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Path/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Path/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/preset-chart-xy/Line/stories/timeShift.tsx
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/Calendar.js
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/ReactCalendar.jsx
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/ReactWorldMap.jsx
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/components/Tooltip.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  superset-frontend/plugins/preset-chart-xy/src/components/BoxPlot/BoxPlot.tsx
  superset-frontend/plugins/preset-chart-xy/src/components/BoxPlot/Encoder.ts
  superset-frontend/plugins/preset-chart-xy/src/components/ScatterPlot/Encoder.ts
  superset-frontend/plugins/preset-chart-xy/src/components/ScatterPlot/ScatterPlot.tsx
Labels: size/XL

#19996 fix: Use pull_request_target in Cypress Applitools workflow
  .github/workflows/superset-applitool-cypress.yml
Labels: size/XS

#19877 fix: Making chart update more truthful
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/XS

#19841 fix: Table chart column config issue
  superset-frontend/src/explore/reducers/exploreReducer.js
Labels: size/M, Preset-Patch

#19935 feat: deprecate /superset/validate_sql_json migrate to api v1
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset/constants.py
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/validate_sql.py
  superset/databases/schemas.py
  superset/views/core.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/sql_validator_tests.py
Labels: size/L, preset-io

#20002 feat: deprecate /superset/testconn and migrate to api v1
  superset/templates/superset/models/database/macros.html
  superset/views/core.py
Labels: size/XS

#20004 fix: URI form is blank when trying to connect from sql lab
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/S, Preset-Patch

#20021 fix: native filter truncation rerendering loop on hover
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/useTruncation.ts
Labels: size/M, Preset-Patch

#19971 docs: Add config for running on a WSGI HTTP server
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS

#19130 refactor: Refactor reports for Charts and Dashboards
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/src/components/ReportModal/HeaderReportActionsDropdown/index.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/components/ReportModal/ReportModal.test.tsx
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/reducers/types.ts
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreAdditionalActionsMenu.test.tsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreReport.tsx
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/reports/actions/reports.js
  superset-frontend/src/reports/reducers/reports.js
  superset-frontend/src/reports/types.ts
  superset-frontend/src/types/Owner.ts
  superset-frontend/src/views/CRUD/alert/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/reports/api.py
  tests/integration_tests/reports/api_tests.py
Labels: size/XXL, need:qa-review

#20033 fix: Direct Linking issue on report list: 404 status code.
  superset/initialization/__init__.py
Labels: size/XS, Preset-Patch

#20019 fix(embedded): third party cookies
  superset-frontend/packages/superset-ui-core/src/connection/callApi/callApi.ts
  superset-frontend/packages/superset-ui-core/src/query/api/v1/makeApi.ts
Labels: size/M, preset-io

#19873 feat(css): adds `chartId`-based class to dashboard chart holder
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.jsx
Labels: size/XS, preset-io

#20026 fix(chart & filters): make to padding between textarea and buttons
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
Labels: size/XS, Preset-Patch

#19993 feat(explore): Show confirmation modal if user exits Explore without saving changes
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTag.test.jsx
  superset-frontend/src/components/AlteredSliceTag/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/exploreUtils/formData.test.ts
  superset-frontend/src/explore/exploreUtils/formData.ts
Labels: size/L

#20006 chore: Removes hard-coded colors from the plugins - iteration 2
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  superset-frontend/plugins/preset-chart-xy/src/components/Line/Encoder.ts
Labels: size/L

#20031 chore: Run Applitools + Cypress nightly
  .github/workflows/superset-applitool-cypress.yml
Labels: size/M

#20048 fix(homepage): make to show indicator when tab is chosen
  superset-frontend/src/views/components/SubMenu.tsx
Labels: size/XS, Preset-Patch

#19999 feat: RLS for SQL Lab
  superset/config.py
  superset/connectors/sqla/models.py
  superset/security/manager.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/views/core.py
  tests/unit_tests/sql_lab_test.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/L

#20034 chore: Changes the no-literal-colors lint rule to throw errors instead of warnings
  superset-frontend/.eslintrc.js
Labels: size/XS

#19962 chore: add doc link for db migration conflict warning
  .github/workflows/check_db_migration_confict.yml
Labels: size/XS

#20050 fix: Fixes Tabs style
  superset-frontend/src/components/Tabs/Tabs.tsx
Labels: size/S

#19914 fix: Refactor SQL engine username logic
  superset/cli/update.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/databases/commands/test_connection.py
  superset/databases/commands/validate.py
  superset/db_engine_specs/base.py
  superset/models/core.py
  superset/reports/commands/alert.py
  superset/reports/commands/execute.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/sqllab/sql_json_executer.py
  superset/utils/core.py
  superset/views/core.py
  tests/conftest.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/sql_validator_tests.py
  tests/integration_tests/sqllab_tests.py
  tests/unit_tests/sql_lab_test.py
Labels: size/XL

#19941 fix(reports): Clear last value when state is WORKING
  superset/migrations/versions/cbe71abde154_fix_report_schedule_and_log.py
  superset/reports/commands/execute.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/L

#20046 docs: add changelog and updating entries for 1.5.0
  CHANGELOG.md
  UPDATING.md
Labels: size/XL, preset-io

#20055 fix(plugin-chart-echarts): support adhoc x-axis
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/prophetOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/pivotOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/prophetOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/operators/timeComparePivotOperator.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Labels: size/L, v1.5

#20044 chore: Create a generic header component for Explore and Dashboard
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/download_chart.test.js
  superset-frontend/src/components/DynamicEditableTitle/DynamicEditableTitle.test.tsx
  superset-frontend/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/src/components/FaveStar/index.tsx
  superset-frontend/src/components/PageHeaderWithActions/PageHeaderWithActions.test.tsx
  superset-frontend/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/ExploreAdditionalActionsMenu.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Labels: size/XXL, preset-io

#20029 fix(plugin-chart-echarts): tooltip of big number truncated at then bottom
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
Labels: size/XS

#20030 feat(sip-68): Add DatasourceDAO class to manage querying different datasources easier
  superset/dao/datasource/dao.py
  superset/dao/exceptions.py
  tests/unit_tests/dao/datasource_test.py
Labels: size/L

#20049 feat(dashboard): Rearrange items in chart header controls dropdown
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/L, preset-io

#19902 feat: Explore popovers should close on escape
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.test.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.tsx
Labels: size/L, Preset-Patch

#20013 fix: The dynamic form to connect to Snowflake DB is not returning any errors
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/M, Preset-Patch

#19966 test: make tabbed dashboard a little more complex
  .github/workflows/superset-cli.yml
  superset-frontend/cypress-base/cypress/integration/dashboard/dashboard.helper.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset/charts/schemas.py
  superset/cli/examples.py
  superset/examples/big_data.py
  superset/examples/birth_names.py
  superset/examples/deck.py
  superset/examples/helpers.py
  superset/examples/misc_dashboard.py
  superset/examples/tabbed_dashboard.py
  superset/examples/world_bank.py
  superset/models/dashboard.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/dashboards/dao_tests.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
Labels: size/XL

#20064 fix(chart & gallery): make to add mixed time-series into recommended charts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
Labels: size/XS

#20051 fix(CRUD): make to fix the dancing when crud view is on hover
  superset-frontend/src/components/TableCollection/index.tsx
Labels: size/XS, Preset-Patch

#19970 fix: Athena timestamp literal format
  superset/db_engine_specs/athena.py
  tests/unit_tests/db_engine_specs/test_athena.py
Labels: size/XS, v1.5

#20073 fix(dataset): handle missing sqla uri in migration
  superset/migrations/versions/a9422eeaae74_new_dataset_models_take_2.py
Labels: size/XS, preset-io

#20071 chore: Fix and enhance Applitools workflows
  .github/workflows/bashlib.sh
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
Labels: size/M

#20077 fix(generic-axes): apply contribution before flatten
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Labels: size/XS, preset-io, v1.5

#18794 feat(business-types): initial implementation of SIP-78
  docs/static/resources/openapi.json
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/useAdvancedDataTypes.ts
  superset/advanced_data_type/__init__.py
  superset/advanced_data_type/api.py
  superset/advanced_data_type/plugins/__init__.py
  superset/advanced_data_type/plugins/internet_address.py
  superset/advanced_data_type/plugins/internet_port.py
  superset/advanced_data_type/schemas.py
  superset/advanced_data_type/types.py
  superset/charts/api.py
  superset/columns/models.py
  superset/config.py
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  superset/exceptions.py
  superset/initialization/__init__.py
  superset/migrations/versions/6f139c533bea_add_advanced_data_types_to_column_models.py
  superset/utils/core.py
  tests/integration_tests/advanced_data_type/__init__.py
  tests/integration_tests/advanced_data_type/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/unit_tests/advanced_data_type/__init__.py
  tests/unit_tests/advanced_data_type/types_tests.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/conftest.py
  tests/unit_tests/datasets/test_models.py
Labels: size/XXL

#20085 fix: typo in `importexport/api.py` OpenAPI
  superset/importexport/api.py
Labels: size/XS, preset-io

#19939 fix(chart & alert): make to show metrics properly
  superset-frontend/src/components/AlteredSliceTag/index.jsx
Labels: size/S, Preset-Patch

#20066 chore: Set limit for a query in execute_sql_statement
  superset/sqllab/sqllab_execution_context.py
  tests/integration_tests/celery_tests.py
Labels: size/M

#20092 fix: Revert "feat(explore): Show confirmation modal if user exits Explore without saving changes (#19993)
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTag.test.jsx
  superset-frontend/src/components/AlteredSliceTag/index.jsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/exploreUtils/formData.test.ts
  superset-frontend/src/explore/exploreUtils/formData.ts
Labels: size/L, preset-io

#20099 fix: Add cypress test for report page direct link issue
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/alert_report.helper.ts
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/alerts.test.ts
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/reports.test.ts
Labels: size/L, Preset-Patch

#20102 chore: Update aiohttp to 3.8.1
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
Labels: size/S, Preset-Patch

#20018 fix(modal): add primary button loading state to modals
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
Labels: size/XS

#20103 docs: Update INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#20059 feat: Save column data into json_metadata for all Query executions
  superset/queries/dao.py
  superset/sql_lab.py
  superset/sqllab/command.py
  superset/sqllab/execution_context_convertor.py
  superset/views/core.py
  tests/unit_tests/dao/queries_test.py
Labels: size/L

#20107 fix(generic-chart-axes): set x-axis if unset and ff is enabled
  superset-frontend/plugins/legacy-plugin-chart-event-flow/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/src/explore/controlUtils/getControlState.ts
  superset-frontend/src/explore/store.js
Labels: size/M, preset-io

#20126 feat(dashboard): Add create chart button in dashboard edit mode
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/stylesheets/builder-sidepane.less
Labels: size/M, preset-io

#20097 feat(plugin-chart-echarts): add support for generic axis to mixed chart
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/test/types.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/buildQuery.test.ts
  superset-frontend/src/explore/controlUtils/getSectionsToRender.ts
Labels: size/L, preset-io

#20123 fix(presto,trino): use correct literal dttm separator
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/db_engine_specs/trino_tests.py
  tests/unit_tests/db_engine_specs/test_presto.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/M, preset-io, v2.0, v1.5, lts-v1

#20108 fix: None dataset and schema permissions
  superset/connectors/sqla/models.py
  superset/exceptions.py
  superset/migrations/versions/e786798587de_delete_none_permissions.py
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/L, preset-io

#20128 fix: advanced data type API spec and permission name
  superset/advanced_data_type/api.py
  superset/advanced_data_type/schemas.py
Labels: size/M, preset-io

#20140 chore(data-table): make formatted dttm the default
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/index.tsx
  superset-frontend/src/explore/components/useOriginalFormattedTimeColumns.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/getInitialState.ts
  superset-frontend/src/utils/localStorageHelpers.ts
Labels: size/L, preset-io

#20011 fix(chart & heatmap): make to fix that y label is rendering out of bounds
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
Labels: size/XS, Preset-Patch

#20157 chore: filter undefined operators
  superset-frontend/packages/superset-ui-core/src/query/buildQueryContext.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/buildQuery.ts
Labels: size/S

#20111 feat(dashboard): Chart title click redirects to Explore in new tab
  superset-frontend/src/components/EditableTitle/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Labels: size/M, preset-io

#20163 chore: change button name in Sql Lab
  superset-frontend/src/SqlLab/components/ExploreResultsButton/index.tsx
Labels: size/XS, preset-io

#20136 feat: Add Certified filter to Datasets
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset/datasets/api.py
  superset/datasets/filters.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/M, need:qa-review

#20086 fix(css): transparent linear gradient not working in safari
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/XS

#20174 chore: Disable flaky assert in reports cypress test
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/alerts.test.ts
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/reports.test.ts
Labels: size/XS, preset-io

#19381 feat: add drag and drop column rearrangement for table viz
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/TableStories.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/types/react-table.d.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
Labels: size/M

#20135 fix: Allow dataset owners to see their datasets
  superset/views/base.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/M, v2.0, v1.5

#20173 fix: avoid while cycle in computeMaxFontSize for big Number run forever when css rule applied
  superset-frontend/packages/superset-ui-core/src/dimension/computeMaxFontSize.ts
  superset-frontend/packages/superset-ui-core/test/dimension/computeMaxFontSize.test.ts
Labels: size/S, Preset-Patch

#20170 feat: add samples endpoint
  superset/constants.py
  superset/datasets/api.py
  superset/datasets/commands/exceptions.py
  superset/datasets/commands/samples.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/L

#20146 chore: Implement global header in Dashboard
  superset-frontend/cypress-base/cypress/integration/dashboard/dashboard.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_mode.test.js
  superset-frontend/cypress-base/cypress/integration/dashboard/edit_properties.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/markdown.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/save.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/download_chart.test.js
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/assets/images/icons/redo.svg
  superset-frontend/src/assets/images/icons/undo.svg
  superset-frontend/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/src/components/Icons/index.tsx
  superset-frontend/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/dashboard/stylesheets/components/header.less
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Labels: size/XXL

#20185 docs(security): a typo: Gamma should be in quotes
  docs/docs/security.mdx
Labels: size/XS

#20052 feat(Helm Chart): Support resource limits and requests for each component
  helm/superset/Chart.yaml
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.schema.json
  helm/superset/values.yaml
Labels: size/M

#20193 refactor: Removes embedded/index.tsx warnings
  superset-frontend/src/embedded/index.tsx
Labels: size/S

#19899 fix: always create parameter json field
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/S, preset-io

#20127 fix(database): retrival of tables and views from schema for exasol backend
  setup.py
Labels: size/XS

#20186 fix(db): make to allow to show/hide the password when only creating
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
Labels: size/XS, Preset-Patch

#20091 fix: "Week Staring Monday" time grain for BigQuery
  superset/db_engine_specs/bigquery.py
Labels: size/XS, v1.5

#20201 fix: unable to set destroyOnClose on ModalTrigger
  superset-frontend/src/components/Modal/Modal.tsx
Labels: size/XS

#20158 feat: add statsd metrics for notifications
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/utils/decorators.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/utils/decorators_tests.py
Labels: size/L, preset-io

#20134 feat: add Query.columns for bootstrap_data
  superset/views/core.py
Labels: size/XS

#20206 fix(sql lab): SQL Lab Compile Query Delay
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/QueryHistory/QueryHistory.test.tsx
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/QuerySearch/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/M, Preset-Patch

#20210 docs: update release instructions
  RELEASING/README.md
  RELEASING/changelog.py
  RELEASING/requirements.txt
Labels: size/L, preset-io

#20147 fix(cosmetic): Limiting modal height
  superset-frontend/src/components/Modal/Modal.tsx
Labels: size/S, preset-io

#20160 feat(explore): Add empty state to annotations
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: size/M, preset-io

#20223 fix(legacy-plugin-chart-sunburst): chart broken when secondary metric is removed
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Labels: size/XS

#20192 chore: Moves date utils to utils folder
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/QuerySearch/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/components/Timer/Timer.test.tsx
  superset-frontend/src/components/Timer/index.tsx
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/explore/controlPanels/Separator.js
  superset-frontend/src/explore/controlPanels/sections.tsx
  superset-frontend/src/explore/controls.jsx
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/modules/utils.js
  superset-frontend/src/modules/utils.test.jsx
  superset-frontend/src/utils/dates.js
  superset-frontend/src/utils/dates.test.js
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
Labels: size/L

#20129 feat(explore): Fill dashboard name when adding new chart from dashboard view
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.tsx
  superset-frontend/src/dashboard/containers/DashboardGrid.jsx
  superset-frontend/src/dashboard/containers/SliceAdder.jsx
  superset-frontend/src/dashboard/stylesheets/dashboard.less
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/views/components/MenuRight.tsx
Labels: size/M, preset-io, need:qa-review

#20203 fix: move columns to datasource object for bootstrap data
  superset/models/sql_lab.py
  superset/views/core.py
Labels: size/XS
