Repository apache/superset, pull requests merged in 2023-10, with the labels that each got.

#25494 fix: Address Mypy issue which is causing CI to fail
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Labels: size/XS

#25477 docs: add https & ldap instructions
  docs/docs/installation/configuring-superset.mdx
Labels: size/S

#25482 docs: add a FAQ about asset recovery from UI
  docs/docs/frequently-asked-questions.mdx
Labels: size/XS, merge-if-green

#25480 docs: define localhost for docker
  docs/docs/databases/mysql.mdx
Labels: size/XS, merge-if-green

#25303 feat: generic marshmallow error component
  superset-frontend/src/components/Datasource/DatasourceModal.test.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/ErrorMessage/MarshmallowErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/MarshmallowErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/components/FilterableTable/index.tsx
  superset-frontend/src/hooks/useJsonTreeTheme.ts
  superset-frontend/src/setup/setupErrorMessages.ts
  superset/datasets/api.py
  superset/datasets/schemas.py
  superset/errors.py
  superset/exceptions.py
  tests/unit_tests/datasets/api_tests.py
Labels: size/L

#25496 fix: Tags Polish II
  superset-frontend/src/features/tags/BulkTagModal.tsx
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
Labels: size/M

#25247 feat: Implement using Playwright for taking screenshots in reports
  RESOURCES/FEATURE_FLAGS.md
  docker/docker-bootstrap.sh
  requirements/testing.in
  requirements/testing.txt
  setup.py
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset/config.py
  superset/utils/machine_auth.py
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/integration_tests/thumbnails_tests.py
Labels: size/L

#25519 chore: Expand error detail on screencapture
  superset-frontend/src/components/ErrorMessage/ErrorAlert.test.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
Labels: size/M, review-checkpoint

#24481 docs: fix for domain sharding results in failed requests with "Missing Authorization Header"
  docs/docs/installation/networking-settings.mdx
Labels: size/XS

#25504 chore(tags): move tags column in dashboard and chart list
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
Labels: size/M

#25151 feat(sqllab): SPA migration
  superset-frontend/cypress-base/cypress/e2e/sqllab/_skip.sourcePanel.index.test.js
  superset-frontend/cypress-base/cypress/e2e/sqllab/query.test.ts
  superset-frontend/cypress-base/cypress/e2e/sqllab/sqllab.applitools.test.ts
  superset-frontend/cypress-base/cypress/e2e/sqllab/tabs.test.ts
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.test.ts
  superset-frontend/src/SqlLab/components/App/App.test.jsx
  superset-frontend/src/SqlLab/components/App/index.jsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/SqlLab/index.tsx
  superset-frontend/src/SqlLab/reducers/common.js
  superset-frontend/src/SqlLab/reducers/index.js
  superset-frontend/src/SqlLab/reducers/localStorageUsage.js
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/DatasetPanel.test.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/MessageContent.tsx
  superset-frontend/src/features/datasets/DatasetLayout/DatasetLayout.test.tsx
  superset-frontend/src/features/home/ActivityTable.tsx
  superset-frontend/src/features/home/EmptyState.tsx
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/features/home/SavedQueries.tsx
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/features/home/commonMenuData.ts
  superset-frontend/src/hooks/apiResources/queryApi.ts
  superset-frontend/src/pages/DatasetCreation/DatasetCreation.test.tsx
  superset-frontend/src/pages/QueryHistoryList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/SqlLab/LocationContext.tsx
  superset-frontend/src/pages/SqlLab/SqlLab.test.tsx
  superset-frontend/src/pages/SqlLab/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/routes.tsx
  superset-frontend/webpack.config.js
  superset/initialization/__init__.py
  superset/jinja_context.py
  superset/models/core.py
  superset/models/sql_lab.py
  superset/sqllab/api.py
  superset/views/core.py
  superset/views/sqllab.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/XL

#25507 chore(tags): don't allow users to create new tags from property dropdowns
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
Labels: size/XS

#25516 fix: tags permissions error message
  superset-frontend/src/components/Tags/utils.tsx
Labels: size/XS

#22107 feat: Adds the ECharts Bubble chart
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Bubble/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Bubble/data.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/EchartsBubble.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/images/example1.png
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/images/example2.png
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Bubble/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Bubble/transformProps.test.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/XXL

#25473 fix(tags): Update loading + pagination for Tags Page
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
Labels: size/L

#25536 fix: Tags Page ListView size to 10
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
Labels: size/XS

#17906 feat(plugin-chart-echarts): Echarts Waterfall
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/Waterfall/data.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/EchartsWaterfall.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Waterfall/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Waterfall/transformProps.test.ts
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/XXL

#25147 fix: Apply normalization to all dttm columns
  superset/common/query_context_factory.py
  superset/common/query_context_processor.py
  superset/common/query_object_factory.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/common/test_query_object_factory.py
Labels: size/L

#25547 fix: Make `host.docker.internal` available on linux
  docker-compose.yml
Labels: size/XS

#25566 chore: Update pylint to 2.17.7
  .pylintrc
  requirements/development.txt
  superset/cli/test_db.py
  superset/security/manager.py
  superset/views/core.py
Labels: size/S

#25590 fix: REST API CSRF exempt list
  superset/views/base_api.py
  tests/unit_tests/conftest.py
  tests/unit_tests/security/api_test.py
Labels: size/M, v3.0

#25400 fix(RLS): Fix Info Tooltip + Button Alignment on RLS Modal
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
Labels: size/XS

#25565 feat: migrate to docker compose v2
  .github/workflows/superset-python-presto-hive.yml
  CONTRIBUTING.md
  docker-compose.yml
  docker/README.md
  docs/docs/contributing/testing-locally.mdx
  docs/docs/databases/bigquery.mdx
  docs/docs/databases/docker-add-drivers.mdx
  docs/docs/databases/postgres.mdx
  docs/docs/databases/snowflake.mdx
  docs/docs/databases/timescaledb.mdx
  docs/docs/databases/yugabytedb.mdx
  docs/docs/installation/alerts-reports.mdx
  docs/docs/installation/configuring-superset.mdx
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/installation/upgrading-superset.mdx
  scripts/tests/run.sh
  tox.ini
Labels: size/M

#25532 fix: Breaking change in MachineAuthProvider constructor
  superset/config.py
  superset/utils/machine_auth.py
Labels: size/S

#25340 refactor: Issue #25040; Refactored sync_role_definition function in order to reduce number of query.
  superset/security/manager.py
Labels: size/M

#25486 fix: thubmnails loading - Talisman default config
  superset/config.py
Labels: size/XS

#19056 docs: Add timezone information
  docs/docs/miscellaneous/timezones.mdx
Labels: size/M

#25559 fix(Presto): catch DatabaseError when testing Presto views
  superset/db_engine_specs/presto.py
  tests/integration_tests/db_engine_specs/presto_tests.py
Labels: size/S

#25599 fix(window): unavailable localStorage and sessionStorage
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/hooks/useTabId.ts
Labels: size/L

#25615 fix(test-db): engine params
  superset/cli/test_db.py
Labels: size/M

#25618 fix: finestTemporalGrainFormatter
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/XS

#25541 fix: revert fix(sqllab): Force trino client async execution (#24859)
  superset/db_engine_specs/base.py
  superset/db_engine_specs/trino.py
  superset/sql_lab.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/sql_lab_test.py
Labels: size/L, v3.0

#25582 fix(sqllab): Allow opening of SQL Lab in new browser tab
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/queries/SavedQueryPreviewModal.test.jsx
  superset-frontend/src/features/queries/SavedQueryPreviewModal.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset/views/base.py
  superset/views/sqllab.py
Labels: size/L

#25523 fix(sqllab): Mistitled for new tab after rename
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: size/M

#25567 docs: BugHerd Tasks 88, 89, 90, 91
  docs/docs/installation/configuring-superset.mdx
  docs/docs/installation/installing-superset-from-scratch.mdx
  docs/docs/security/security.mdx
Labels: size/M

#25455 chore(helm): spelling: initialize
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/XS

#25626 fix(sqllab): template validation error within comments
  superset/sqllab/query_render.py
  tests/integration_tests/sqllab_tests.py
Labels: size/S, review-checkpoint

#25578 fix(tags): Polish + Better messaging for skipped tags with bad permissions
  superset-frontend/src/features/tags/BulkTagModal.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.jsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.test.jsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.jsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset/tags/api.py
  superset/tags/commands/create.py
  superset/tags/commands/update.py
  tests/integration_tests/tags/api_tests.py
Labels: size/L

#25638 build(ci): Provide diff for pre-commit failures
  .github/workflows/superset-python-misc.yml
Labels: size/XS, review-checkpoint

#25629 chore: adding resource links to readme
  README.md
Labels: size/S, merge-if-green

#25537 docs: invert logo color for dark theme in README
  README.md
  superset-frontend/src/assets/branding/superset-logo-horiz-apache-dark.png
  superset-frontend/src/assets/branding/superset-logo-horiz-apache-dark.svg
Labels: size/M

#25553 fix: avoid 500 errors with SQLLAB_BACKEND_PERSISTENCE
  superset/views/sql_lab/views.py
  tests/integration_tests/core_tests.py
Labels: size/M

#25645 chore: bump pip-tools
  requirements/development.txt
  requirements/integration.txt
  requirements/testing.txt
Labels: size/S

#25495 fix(header navlinks): link navlinks to path prefix
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/Menu.tsx
Labels: size/M

#25658 fix: improve upload ZIP file validation
  superset/commands/importers/v1/utils.py
  superset/config.py
  superset/utils/core.py
  tests/unit_tests/utils/test_core.py
Labels: size/M, v3.0, review-checkpoint

#25654 docs: make project-specific security page more prominent
  docs/docs/security/security.mdx
  docs/docusaurus.config.js
Labels: size/XS

#25423 feat(sqllab): ResultTable extension
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/index.tsx
  superset-frontend/src/components/FilterableTable/useCellContentParser.test.ts
  superset-frontend/src/components/FilterableTable/useCellContentParser.ts
  superset-frontend/src/components/FilterableTable/utils.test.tsx
  superset-frontend/src/components/FilterableTable/utils.tsx
  superset-frontend/src/components/JsonModal/JsonModal.test.tsx
  superset-frontend/src/components/JsonModal/index.tsx
Labels: size/XL

#23638 fix: warning of nth-child
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/ReactParallelCoordinates.jsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/components/ButtonGroup/index.tsx
  superset-frontend/src/components/DropdownButton/index.tsx
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
Labels: size/S

#25543 chore: Cleanup hostNamesConfig.js
  superset-frontend/src/utils/hostNamesConfig.js
Labels: size/XS

#25603 fix(tags): +n tags for listview
  superset-frontend/src/components/Tags/Tag.test.tsx
  superset-frontend/src/components/Tags/Tag.tsx
  superset-frontend/src/components/Tags/TagsList.tsx
  superset-frontend/src/types/TagType.ts
Labels: size/M

#25691 chore: Adds 3.0.1 data to CHANGELOG.md
  CHANGELOG.md
Labels: size/M, review-checkpoint

#25657 fix(dremio): Fixes issue with Dremio SQL generation for Charts with Series Limit
  superset/db_engine_specs/dremio.py
Labels: size/XS

#25322 chore: add latest-official docker tag
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  scripts/docker_build_push.sh
  scripts/tag_latest_release.sh
  tests/unit_tests/fixtures/bash_mock.py
  tests/unit_tests/scripts/docker_build_push_test.py
  tests/unit_tests/scripts/tag_latest_release_test.py
Labels: size/L, v2.1, 2.1.2

#25683 feat: Add week time grain for Elasticsearch datasets
  superset/db_engine_specs/elasticsearch.py
  tests/integration_tests/db_engine_specs/elasticsearch_tests.py
Labels: size/M

#25680 fix(sqllab): reinstate "Force trino client async execution"
  docs/docs/databases/installing-database-drivers.mdx
  docs/docs/frequently-asked-questions.mdx
  docs/docs/installation/configuring-superset.mdx
  superset/config.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/trino.py
  superset/sql_lab.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/sql_lab_test.py
Labels: size/L

#25710 docs(README): remove typo
  README.md
Labels: size/XS

#25679 fix: remove unnecessary redirect
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/SaveDatasetModal.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Labels: size/XS

#25666 feat: Funnel/tooltip-customization
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/types.ts
Labels: size/M

#25569 feat: add database and schema names to dataset option
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/features/datasets/DatasetSelectLabel/index.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Labels: size/L

#25577 chore: Change the format for sha512 sum for releases
  scripts/sign.sh
Labels: size/XS

#24709 fix(chore): dashboard requests to database equal the number of slices it has
  superset/daos/dashboard.py
Labels: size/XS, v3.0

#25712 fix: bump to FAB 4.3.9 remove CSP exception
  requirements/base.txt
  setup.py
  superset/config.py
Labels: size/XS

#25718 fix(driver): bumping DuckDB to 0.9.2
  setup.py
Labels: size/XS

#25727 fix(metadb): handle durations
  superset/extensions/metadb.py
Labels: size/S

#25726 chore: updated base DAO find_by_id to return generic type
  superset/daos/base.py
Labels: size/XS

#25732 fix(horizontal filter label): show full tooltip with ellipsis
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
Labels: size/XS

#25521 chore(websocket): [WIP] Making JWT algos configurable
  superset-websocket/config.example.json
  superset-websocket/src/config.ts
  superset-websocket/src/index.ts
Labels: size/S, hold!

#25737 chore: bump pymssql version
  setup.py
Labels: size/XS, review-checkpoint

#25721 style(readme): reformatted
  README.md
Labels: size/XS

#25753 fix: Revert "fix(Charts): Set max row limit + removed the option to use an empty row limit value"
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/packages/superset-ui-core/src/validator/index.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateMaxValue.ts
  superset-frontend/packages/superset-ui-core/test/validator/validateMaxValue.test.ts
Labels: size/M

#25739 fix(README): mismatched picture tags
  README.md
Labels: size/XS

#25756 fix: dataset update uniqueness
  superset/daos/dataset.py
  superset/datasets/commands/update.py
  tests/unit_tests/dao/dataset_test.py
Labels: size/M

#25741 fix(sqllab): slow pop datasource query
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#25765 chore: Add config options for Playwright wait_until and default timeout
  superset/config.py
  superset/utils/webdriver.py
Labels: size/M

#25640 fix: allow for backward compatible errors
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.test.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/utils/errorMessages.ts
Labels: size/L

#25779 fix: DB-specific quoting in Jinja macro
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/M, review-checkpoint

#25783 feat(helm): Add option to deploy extra containers to init job
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/S

#25803 fix(helm): Fix init extra containers
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
Labels: size/XS

#25801 fix: Revert "fix: Apply normalization to all dttm columns (#25147)"
  superset/common/query_context_factory.py
  superset/common/query_context_processor.py
  superset/common/query_object_factory.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/common/test_query_object_factory.py
Labels: size/L, v3.0

#24046 chore(security): Make get_database_perm/get_dataset_perm return optional
  superset/security/manager.py
Labels: size/M

#25804 fix: Resolve issue #24195
  superset-frontend/src/constants.ts
Labels: size/XS

#25795 feat: support server-side sessions
  docs/docs/security/security.mdx
  requirements/base.txt
  requirements/testing.txt
  setup.py
  superset/config.py
  superset/initialization/__init__.py
Labels: size/M, review-checkpoint

#25768 fix(SQL field in edit dataset modal): display full sql query
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Labels: size/XS

#25314 chore(celery): Cleanup config and async query specifications
  docs/docs/installation/alerts-reports.mdx
  docs/docs/installation/async-queries-celery.mdx
  docs/docs/installation/cache.mdx
  docs/docs/installation/running-on-kubernetes.mdx
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  superset/config.py
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
Labels: size/L
