Repository apache/superset, pull requests merged in 2023-08, with the labels that each got.

#24846 fix: Links in tooltips of dashboard chart cards
  superset-frontend/src/dashboard/components/AddSliceCard/AddSliceCard.test.tsx
  superset-frontend/src/dashboard/components/AddSliceCard/AddSliceCard.tsx
Labels: size/M

#24850 fix(legacy-chart): corrupted raw chart data
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/transformProps.js
Labels: size/XS

#24868 fix: Ignores ResizeObserver errors in development mode
  superset-frontend/webpack.config.js
Labels: size/XS

#24847 fix(sqllab): Add docText for long keyword
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.test.ts
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.ts
  superset-frontend/src/components/AsyncAceEditor/index.tsx
Labels: size/M

#24862 fix: Explore misleading save action
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/components/SaveModal.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/saveModalReducer.js
Labels: size/L

#24849 fix: validation errors appearing after ssh tunnel switch
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
Labels: size/XS

#24657 chore: Bump cryptography
  UPDATING.md
  requirements/base.txt
  setup.py
Labels: size/XS

#24874 fix(annotation): Address regression from #24694
  superset-frontend/packages/superset-ui-core/src/query/types/AnnotationLayer.ts
  superset-frontend/packages/superset-ui-core/test/query/types/AnnotationLayer.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/annotation.test.ts
Labels: size/XS, v3.0

#24876 fix(explore): invalid "No Filter" applied
  superset-frontend/src/explore/actions/saveModalActions.js
Labels: size/XS, v3.0

#24871 fix: Ignores hot update files when generating the manifest
  superset-frontend/webpack.config.js
Labels: size/XS

#24829 fix(dataset): resizable dataset layout left column
  superset-frontend/src/features/datasets/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/features/datasets/DatasetLayout/index.tsx
  superset-frontend/src/features/datasets/styles.ts
Labels: size/M

#24870 feat(chart): Added Central Asia countries to countries map
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/kazakhstan.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/kyrgyzstan.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/tajikistan.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/turkmenistan.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/uzbekistan.geojson
Labels: size/M

#24873 docs(native-filters): Remove outdated statement
  docs/docs/miscellaneous/native-filter-migration.mdx
Labels: size/XS

#24774 chore: add talisman env var to config
  superset/config.py
  superset/utils/core.py
  tests/unit_tests/utils/test_core.py
Labels: size/M

#24892 fix: revert "fix(embedded): adding logic to check dataset used by filters (#24808)
  superset/security/manager.py
  tests/integration_tests/security/guest_token_security_tests.py
Labels: size/M, review-checkpoint

#24789 fix: Dashboard aware RBAC dataset permission
  superset/security/manager.py
  tests/integration_tests/dashboards/security/security_rbac_tests.py
  tests/integration_tests/security/guest_token_security_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L

#24884 fix: Migration to fix out of sync schema_perm in charts and datasets
  superset/migrations/versions/2023-08-02_15-23_0769ef90fddd_fix_schema_perm_for_datasets.py
  tests/integration_tests/migrations/0769ef90fddd_fix_schema_perm_for_datasets__tests.py
Labels: size/L

#24909 feat: improve SQLite DB engine spec
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/shillelagh.py
  superset/db_engine_specs/sqlite.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/db_engine_specs/test_sqlite.py
Labels: size/L

#24911 fix(logs): increase json field for logs table
  superset/migrations/versions/2023-08-08_14-14_2e826adca42c_log_json.py
Labels: size/M

#24886 fix(explore): double resize triggered
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/S

#24915 docs: fix tip box in "Installing From Scratch" page
  docs/docs/installation/installing-superset-from-scratch.mdx
Labels: size/XS

#24916 fix: Tooltip of area chart shows undefined total
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/utils.js
Labels: size/XS, v3.0

#24804 chore: Refactor dashboard security access
  superset-frontend/src/components/ErrorMessage/types.ts
  superset/daos/dashboard.py
  superset/errors.py
  superset/models/dashboard.py
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/security/guest_token_security_tests.py
Labels: size/L

#24864 chore: Refine native dashboard cleanup logic
  superset/cli/native_filters.py
  superset/utils/dashboard_filter_scopes_converter.py
Labels: size/M, v3.0

#24806 fix: Dashboard aware RBAC "Save as" menu item
  _update-notifier-last-checked
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/SaveModal.tsx
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset/daos/dashboard.py
  superset/dashboards/api.py
  tests/integration_tests/dashboards/security/security_rbac_tests.py
Labels: size/L

#24934 feat: add MotherDuck DB engine spec
  setup.py
  superset-frontend/src/features/databases/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/databases/types.ts
  superset/databases/api.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/duckdb.py
  tests/integration_tests/databases/api_tests.py
Labels: size/M, review-checkpoint

#24920 docs: Fixing Superset typo in docker-compose local installation guide
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/XS

#24938 chore: Add explicit ON DELETE CASCADE for dashboard_slices
  UPDATING.md
  superset/daos/chart.py
  superset/daos/dashboard.py
  superset/migrations/versions/2023-08-09_14-17_8ace289026f3_add_on_delete_cascade_for_dashboard_slices.py
  superset/models/dashboard.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/security/guest_token_security_tests.py
  tests/integration_tests/tagging_tests.py
Labels: size/M

#24939 chore: Add explicit ON DELETE CASCADE for embedded_dashboards
  UPDATING.md
  superset/daos/dashboard.py
  superset/migrations/versions/2023-08-09_15-39_4448fa6deeb1__dd_on_delete_cascade_for_embedded_dashboards.py.py
  superset/models/embedded_dashboard.py
Labels: size/M

#24946 fix: remove unused file
  _update-notifier-last-checked
Labels: size/XS

#24903 fix(charts): View in SQL Lab with relevant perm
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
Labels: size/M

#24952 fix: `to_datetime` in Pandas 2
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/utils/test_core.py
Labels: size/M, merge-if-green, v3.0

#24955 fix: timezone issue in Pandas 2
  superset/result_set.py
  tests/unit_tests/result_set_test.py
Labels: size/M, merge-if-green

#24953 fix: calls to `_get_sqla_engine`
  superset/db_engine_specs/trino.py
  superset/models/core.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/model_tests.py
Labels: size/M

#24921 feat(gsheets): file upload
  requirements/development.txt
  requirements/testing.in
  requirements/testing.txt
  superset/db_engine_specs/gsheets.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/L

#24324 chore: rate limit requests
  superset/config.py
  superset/dashboards/api.py
  superset/models/dashboard.py
  superset/utils/dashboard_import_export.py
  superset/views/dashboard/views.py
  tests/integration_tests/superset_test_config.py
Labels: size/S

#24918 feat: command to test DB engine specs
  superset/cli/test_db.py
  superset/db_engine_specs/README.md
  superset/db_engine_specs/base.py
  superset/db_engine_specs/lib.py
  superset/db_engine_specs/sqlite.py
Labels: size/XXL

#24906 fix: Duplicated options in Select when using numerical values
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/e2e/explore/advanced_analytics.test.ts
  superset-frontend/src/components/Select/AsyncSelect.stories.tsx
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/L

#24961 chore: Add Automattic to the list of users and contributors
  RESOURCES/INTHEWILD.md
Labels: size/XS, review-checkpoint

#24962 docs: Add wattbewerb to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#24963 fix(gsheets): add column names on file upload
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/S, merge-if-green

#24467 chore(dao): Replace save/overwrite with create/update respectively
  superset/annotation_layers/annotations/commands/create.py
  superset/annotation_layers/commands/create.py
  superset/charts/commands/create.py
  superset/daos/base.py
  superset/daos/chart.py
  superset/daos/dashboard.py
  superset/daos/database.py
  superset/daos/dataset.py
  superset/daos/exceptions.py
  superset/daos/report.py
  superset/dashboards/commands/create.py
  superset/dashboards/filter_sets/commands/create.py
  superset/databases/commands/create.py
  superset/databases/ssh_tunnel/commands/create.py
  superset/datasets/commands/create.py
  superset/datasets/commands/update.py
  superset/reports/commands/create.py
  superset/reports/commands/update.py
  superset/row_level_security/commands/create.py
  superset/sqllab/commands/execute.py
  superset/views/core.py
  tests/unit_tests/databases/ssh_tunnel/dao_tests.py
Labels: size/L

#24936 chore(sqllab): Relocate get bootstrap data logic
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset/sqllab/utils.py
  superset/views/base.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: size/L

#24967 chore(dao): Remove redundant convenience methods
  superset/daos/dataset.py
  superset/datasets/columns/commands/delete.py
  superset/datasets/metrics/commands/delete.py
Labels: size/M

#24941 chore(dashboard import/export): include additional fields to export/import commands
  superset/dashboards/schemas.py
  superset/models/dashboard.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/import_export_tests.py
Labels: size/S

#24989 fix: Calendar Heatmap day offset
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
Labels: v3.0

#24923 chore: modify UPDATING.md for logs table migrations
  UPDATING.md
Labels: size/XS

#24982 fix(snowflake): opt-in denormalization of column names
  UPDATING.md
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/features/datasets/types.ts
  superset/connectors/sqla/models.py
  superset/connectors/sqla/utils.py
  superset/connectors/sqla/views.py
  superset/daos/dataset.py
  superset/dashboards/schemas.py
  superset/datasets/api.py
  superset/datasets/commands/duplicate.py
  superset/datasets/schemas.py
  superset/migrations/versions/2023-08-14_09-38_9f4a086c2676_add_normalize_columns_to_sqla_model.py
  superset/views/datasource/schemas.py
  superset/views/datasource/views.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/integration_tests/import_export_tests.py
  tests/unit_tests/datasets/commands/export_test.py
Labels: size/L

#24995 fix: Revert "fix(chart): Time Series set showMaxLabel as null for time xAxis (#20627)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Labels: size/S, v3.0, v2.1, 2.1.1

#24970 fix: update permalink schema
  docs/static/resources/openapi.json
  superset/explore/permalink/api.py
Labels: size/XXL, v3.0, v2.1, 2.1.1

#25005 chore: Removes src/modules top folder
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationTypes.js
Labels: size/S

#24983 feat(sqllab): Add /sqllab endpoint to the v1 api
  superset/security/manager.py
  superset/sqllab/api.py
  superset/sqllab/schemas.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/sql_lab/api_tests.py
Labels: size/L

#25003 chore: isolate examples database by default
  docker-compose.yml
  docker/.env
  docker/docker-entrypoint-initdb.d/examples-init.sh
  docker/pythonpath_dev/superset_config.py
  superset/config.py
  superset/utils/database.py
Labels: size/M, review-checkpoint

#25001 feat: Moves Profile to Single Page App (SPA)
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/features/profile/CreatedContent.test.tsx
  superset-frontend/src/features/profile/CreatedContent.tsx
  superset-frontend/src/features/profile/Favorites.test.tsx
  superset-frontend/src/features/profile/Favorites.tsx
  superset-frontend/src/features/profile/RecentActivity.test.tsx
  superset-frontend/src/features/profile/RecentActivity.tsx
  superset-frontend/src/features/profile/Security.test.tsx
  superset-frontend/src/features/profile/Security.tsx
  superset-frontend/src/features/profile/UserInfo.test.tsx
  superset-frontend/src/features/profile/UserInfo.tsx
  superset-frontend/src/features/profile/fixtures.tsx
  superset-frontend/src/features/profile/types.ts
  superset-frontend/src/pages/Profile/Profile.test.tsx
  superset-frontend/src/pages/Profile/index.tsx
  superset-frontend/src/profile/App.tsx
  superset-frontend/src/profile/index.tsx
  superset-frontend/src/views/routes.tsx
  superset-frontend/webpack.config.js
  superset/initialization/__init__.py
  superset/views/base.py
  superset/views/core.py
  superset/views/profile.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/profile_tests.py
Labels: size/XL

#25009 fix: Date column in Heatmap is displayed as unix timestamp
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/transformProps.js
Labels: size/M

#25017 fix: Downgrades Prophet to 1.1.1 and Holidays to 0.23
  requirements/base.txt
  requirements/testing.txt
  setup.py
Labels: size/S

#24894 chore: Update DAOs to use singular deletion method instead of bulk
  superset/daos/chart.py
  superset/daos/dashboard.py
  superset/daos/dataset.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/M

#24991 fix: Don't let users see dashboards only because it's favorited
  superset/dashboards/filters.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/dashboards/security/security_dataset_tests.py
Labels: size/M, v3.0

#25007 chore: Removes Saved Query old code
  superset-frontend/src/showSavedQuery/index.jsx
  superset-frontend/src/showSavedQuery/utils.js
  superset-frontend/src/showSavedQuery/utils.test.jsx
  superset-frontend/webpack.config.js
  superset/initialization/__init__.py
  superset/views/sql_lab/views.py
Labels: size/L

#25008 fix: Address regression introduced in #24789
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/L, v3.0

#25028 fix: Dashboard fullscreen is removing custom URL params
  superset-frontend/src/dashboard/util/getDashboardUrl.test.js
  superset-frontend/src/dashboard/util/getDashboardUrl.ts
Labels: size/M, v3.0, review-checkpoint

#24994 chore: rename `get_iterable`
  superset/connectors/base/models.py
  superset/daos/base.py
  superset/utils/core.py
  tests/integration_tests/utils_tests.py
Labels: size/M

#14225 feat: a native SQLAlchemy dialect for Superset
  docs/docs/databases/meta-database.mdx
  requirements/base.txt
  requirements/development.txt
  setup.cfg
  setup.py
  superset/config.py
  superset/db_engine_specs/__init__.py
  superset/db_engine_specs/superset.py
  superset/extensions/metadb.py
  superset/security/analytics_db_safety.py
  tests/unit_tests/extensions/test_sqlalchemy.py
Labels: .pinned, size/XL

#25014 fix: CTE queries with non-SELECT statements
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/L

#24999 fix(mssql): avoid trying to return a resultset for DML queries with not resultset
  superset/db_engine_specs/mssql.py
  tests/unit_tests/db_engine_specs/test_mssql.py
Labels: size/S

#25016 chore: use os.getenv to simplify superset_config.py
  docker/pythonpath_dev/superset_config.py
Labels: size/M

#25034 docs: fix line break in Apache Druid page
  docs/docs/databases/druid.mdx
Labels: size/S

#25010 chore(sqllab): Relocate user in SqlLab to root
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/components/QueryTable/QueryTable.test.jsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/views/store.ts
Labels: size/M

#25045 chore(tests): Adding missing __init__.py files to various test packages
  tests/unit_tests/annotation_layers/__init__.py
  tests/unit_tests/dao/__init__.py
  tests/unit_tests/datasource/__init__.py
  tests/unit_tests/db_engine_specs/__init__.py
  tests/unit_tests/extensions/__init__.py
  tests/unit_tests/migrations/__init__.py
  tests/unit_tests/migrations/viz/__init__.py
  tests/unit_tests/notifications/__init__.py
  tests/unit_tests/utils/__init__.py
Labels: size/L

#25053 fix: extend user email size
  requirements/base.txt
  setup.py
  superset/migrations/versions/2023-08-22_11-09_ec54aca4c8a2_increase_ab_user_email_field_size.py
Labels: size/M

#25055 fix: docker-compose non-dev
  docker-compose-non-dev.yml
  docker/.env-non-dev
  docker/pythonpath_dev/superset_config.py
Labels: size/M

#25029 fix: Native filter dashboard RBAC aware dataset permission
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/L, v3.0

#25057 fix: Error when using the legacy dataset editor
  .pre-commit-config.yaml
  superset/connectors/sqla/views.py
Labels: size/XS

#24686 fix: dataset safe URL for explore_url
  UPDATING.md
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/config.py
  superset/datasets/commands/exceptions.py
  superset/datasets/commands/update.py
  superset/utils/urls.py
  superset/views/base.py
  superset/views/datasource/views.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/unit_tests/utils/urls_tests.py
Labels: size/L, v3.0

#25046 chore: Organizes the files of the ReportModal feature
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/types.ts
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/actions.js
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/ReportModal/reducer.js
  superset-frontend/src/features/reports/ReportModal/styles.tsx
  superset-frontend/src/features/reports/types.ts
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/views/store.ts
Labels: size/M

#25031 fix: Ensure SQLAlchemy sessions are closed
  superset/models/dashboard.py
  superset/tags/models.py
  superset/tasks/cache.py
Labels: size/L

#21255 fix(cli): import-directory is missing the application context
  superset/cli/importexport.py
Labels: size/XS

#25067 fix: small fixes for the meta DB
  superset/extensions/metadb.py
Labels: size/S

#24008 fix(table): condition formatting can't formate 0 values
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/XS

#25065 feat: adding Scarf pixels to gather telemetry on readme and website
  README.md
  docs/docusaurus.config.js
Labels: size/XS

#24872 test(cypress): Fail Cypress on Console errors
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Labels: size/S

#25030 build(deps): Bump PyHive
  requirements/development.txt
  requirements/testing.txt
  setup.py
Labels: size/S

#24826 chore: remove CssTemplate and Annotation access from gamma role
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/S

#25047 chore(sqllab): typescript for getInitialState
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/SqlLab/hooks/useQueryEditor/index.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/hooks/apiResources/queryApi.ts
  superset-frontend/src/hooks/apiResources/sqlLab.test.ts
  superset-frontend/src/hooks/apiResources/sqlLab.ts
Labels: size/L

#25020 fix(embedded sdk): Remove trailing slash from passed superset domain if there is one
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.ts
Labels: size/XS

#25080 chore(reports): add metrics to report schedule and log prune
  superset/tasks/scheduler.py
Labels: size/S

#24771 docs(docker-compose): add missing parenthesis
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/XS

#25043 fix: dataset update permission out of sync
  superset/connectors/sqla/models.py
  superset/security/manager.py
  superset/views/base.py
Labels: size/L

#24839 feat: Update Tags CRUD API
  superset-frontend/src/features/tags/TagModal.test.tsx
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/features/tags/tags.ts
  superset-frontend/src/pages/Tags/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/daos/tag.py
  superset/tags/api.py
  superset/tags/commands/create.py
  superset/tags/commands/exceptions.py
  superset/tags/commands/update.py
  superset/tags/schemas.py
  tests/integration_tests/tags/api_tests.py
  tests/unit_tests/dao/tag_test.py
  tests/unit_tests/tags/__init__.py
  tests/unit_tests/tags/commands/create_test.py
  tests/unit_tests/tags/commands/update_test.py
Labels: size/XXL

#24942 refactor(pinot): The `python_date_format` for a temporal column was not being passed to `get_timestamp_expr`
  superset/db_engine_specs/pinot.py
  tests/integration_tests/db_engine_specs/pinot_tests.py
  tests/unit_tests/db_engine_specs/test_pinot.py
Labels: size/L

#24980 chore: Update docs for docker-compose installation
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/XS

#25087 fix: Filter names overflow wrap
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/Styles.ts
Labels: size/XS

#25086 fix(assets import): Ensure old datasource ids are not referenced in imported charts
  superset/commands/importers/v1/assets.py
  tests/integration_tests/commands_test.py
Labels: size/S

#25081 fix: Allow embedded guest user datasource access with dashboard context
  superset/security/manager.py
  superset/viz.py
  tests/integration_tests/fixtures/birth_names_dashboard.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/security/guest_token_security_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L

#25089 feat(docker): refactor docker images
  Dockerfile
Labels: size/M

#24896 chore: use contextlib.surpress instead of passing on error
  superset/charts/data/api.py
  superset/common/tags.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/ocient.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  superset/explore/commands/get.py
  superset/initialization/__init__.py
  superset/models/core.py
  superset/security/manager.py
  superset/sqllab/sqllab_execution_context.py
  superset/temporary_cache/api.py
  superset/views/core.py
  superset/views/utils.py
  tests/integration_tests/reports/alert_tests.py
  tests/integration_tests/sql_lab/conftest.py
Labels: size/L

#25114 fix(sqllab): error while removing a referenced table
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Labels: size/M

#25115 docs: Update UPDATING.md regarding potential breaking change to `ab_user.email` column
  UPDATING.md
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS, v3.0

#25113 fix: Date format when importing international timestamps
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/views/database/forms.py
  superset/views/database/views.py
Labels: size/L, v3.0, review-checkpoint

#25119 fix(DB Connection): Update placeholder values for Snowflake connection
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/ValidatedInputField.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
Labels: size/S

#25121 chore: move TypedDict from typing_extensions to typing
  superset/common/query_context_processor.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/snowflake.py
  superset/explore/form_data/commands/state.py
  superset/jinja_context.py
  superset/superset_typing.py
  superset/temporary_cache/commands/entry.py
  superset/utils/core.py
  superset/utils/mock_data.py
  superset/views/datasource/schemas.py
Labels: size/L

#25105 feat: removing renderCard from Tags/index.tsc to remove cardview from Tags ListView
  superset-frontend/src/pages/Tags/index.tsx
Labels: size/M

#25129 refactor(frontend): make "Search" box the first filter for charts and datasets
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Labels: size/S, v3.0

#25088 chore: consolidate sqllab store into SPA store
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/middlewares/persistSqlLabStateEnhancer.js
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.js
  superset-frontend/src/views/store.ts
Labels: size/L

#25090 fix: Bumps Flask Caching to fix RCE vulnerability
  CONTRIBUTING.md
  docker/pythonpath_dev/superset_config.py
  docs/docs/installation/async-queries-celery.mdx
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  requirements/base.txt
  setup.cfg
  setup.py
  superset/config.py
  superset/extensions/__init__.py
  tests/integration_tests/cachekeys/api_tests.py
  tests/integration_tests/core_tests.py
Labels: size/L

#25124 fix: Partially reverts #25007
  superset/initialization/__init__.py
  superset/views/sql_lab/views.py
Labels: size/M

#25127 docs: Fix typo in UPDATING.md
  UPDATING.md
Labels: size/XS, review-checkpoint

#25135 fix: Handle Python date format for GENERIC_CHART_AXES feature
  superset/connectors/sqla/models.py
Labels: size/XS, v3.0

#25150 fix: Chart series limit doesn't work for some databases
  superset/models/helpers.py
Labels: size/S
