Repository apache/superset, pull requests merged in 2023-03, with the labels that each got.

#23199 docs: update installation docs to include frontend asset build
  docs/docs/installation/installing-superset-from-scratch.mdx
Labels: size/XS, v2.1

#23194 fix(dashboard): Cross-filters not working properly for new dashboards
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/util/crossFilters.test.ts
  superset-frontend/src/dashboard/util/crossFilters.ts
Labels: size/L

#23186 fix: refuse to start with default secret on non debug envs
  UPDATING.md
  docker/.env-non-dev
  docs/docs/installation/configuring-superset.mdx
  superset/config.py
  superset/initialization/__init__.py
Labels: size/S, v2.0, v2.0.2, v2.1

#23246 fix(dao): use explicit id filter
  superset/dao/base.py
  tests/integration_tests/charts/api_tests.py
Labels: size/S

#23242 fix: Video Game Sales dashboard default filters
  superset/examples/configs/dashboards/Video_Game_Sales.yaml
Labels: size/XS

#23228 chore: Deprecate show_native_filters
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/spec/fixtures/mockDashboardState.js
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/FilterBarSettings.test.tsx
  superset-frontend/src/dashboard/types.ts
  superset/dashboards/schemas.py
  superset/migrations/versions/2023-02-28_14-46_c0a3ea245b61_remove_show_native_filters.py
  tests/unit_tests/fixtures/assets_configs.py
Labels: size/M

#23142 chore: Remove the ability to add filter-box charts when DASHBOARD_NATIVE_FILTERS feature is enabled
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Labels: size/M

#23250 fix(dashboard): Cross-filter search icon in filter bar
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilter.tsx
Labels: size/XS

#23255 chore(webdriver): Tuning the Webdriver logging a bit
  superset/utils/webdriver.py
Labels: size/S

#23243 fix: customize tab on heatmap chart is blank
  superset-frontend/src/explore/components/ControlPanelsContainer.test.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/M, v2.1

#23256 fix(dashboard): Missing filter card styles
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Labels: size/S

#23262 fix: ignore ts warnings from older typescript versions
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.ts
Labels: size/XS

#23266 chore(cache): Tuning logging in cache manager
  superset/common/utils/query_cache_manager.py
Labels: size/XS

#23238 fix(dashboard): Charts crashing when cross filter on adhoc column is applied
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
  superset/common/query_actions.py
  superset/common/query_context_processor.py
  superset/common/utils/query_cache_manager.py
  superset/connectors/sqla/models.py
  superset/exceptions.py
  superset/models/helpers.py
  superset/utils/core.py
  superset/viz.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/L

#23273 fix(plugin-chart-echarts): render horizontal categories from top
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset/migrations/versions/2023-03-05_10-06_d0ac08bb5b83_invert_horizontal_bar_chart_order.py
Labels: size/L

#23260 chore(dashboard): Cleanup example dashboard filter scopes
  superset/examples/configs/dashboards/COVID_Vaccine_Dashboard.yaml
  superset/examples/configs/dashboards/FCC_New_Coder_Survey_2018.yaml
  superset/examples/configs/dashboards/Sales_Dashboard.yaml
  superset/examples/configs/dashboards/Video_Game_Sales.yaml
Labels: size/S

#23299 fix(dashboard): Infinite load when filter with default first value is out of scope
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
Labels: size/S, v2.1

#23296 fix(clickhouse): Update to working clickhouse-connect version
  setup.py
Labels: size/XS

#23166 docs: typo 'admnistrators' in security.mdx
  docs/docs/security.mdx
Labels: size/XS

#23316 docs: add lost _filters param docs
  docs/docs/installation/sql-templating.mdx
Labels: size/M

#23287 feat(docs): adds BugHerd to documentation site.
  docs/docusaurus.config.js
Labels: size/XS

#23290 chore: log different selenium timeout errors differently
  superset/utils/webdriver.py
Labels: size/M

#23298 docs: improve API v1 migration documentation
  UPDATING.md
  superset/views/base.py
  superset/views/core.py
Labels: size/M, v2.1

#23323 docs(alerts and reports): Update ExecutorType class
  docs/docs/installation/alerts-reports.mdx
  superset/config.py
Labels: size/S

#23286 feat(dashboard): Refactor FiltersBadge
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Labels: size/XL

#23325 chore: use util test env for init check
  .github/workflows/superset-python-unittest.yml
  superset/initialization/__init__.py
Labels: size/XS

#23339 fix(trino): normalize non-iso timestamps
  superset-frontend/packages/superset-ui-core/src/time-format/index.ts
  superset-frontend/packages/superset-ui-core/src/time-format/utils/normalizeTimestamp.ts
  superset-frontend/packages/superset-ui-core/test/time-format/utils/normalizeTimestamp.test.ts
  superset-frontend/plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
Labels: size/M

#23347 fix(dashboard): Cross filters with time shifted series
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Labels: size/M

#23350 feat(dashboard): Change default opacity of icon in FiltersBadge
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
Labels: size/M

#23348 fix: dashboard DAO small code improvement
  superset/dashboards/dao.py
Labels: size/XS

#23216 chore: Remove Cross Filter scoping modal
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.ts
  superset-frontend/src/assets/images/icons/filter.svg
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/CrossFilterScopingForm/CrossFilterScopingForm.test.tsx
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/CrossFilterScopingForm/index.tsx
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/CrossFilterScopingModal.tsx
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/types.ts
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/utils/index.ts
  superset-frontend/src/dashboard/components/CrossFilterScopingModal/utils/utils.test.ts
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/L

#23329 fix(dashboard): deepmerge htmlSchemaOverrides
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/test/components/SafeMarkdown.test.ts
Labels: size/M

#23324 fix(trino): Disallow alias to source column
  superset/db_engine_specs/trino.py
Labels: size/XS

#23322 fix(examples): Cleanup granularity_sqla column
  superset/examples/configs/charts/Video_Game_Sales_Filter.yaml
Labels: size/XS

#23302 fix(sqllab): empty large query results from localStorage
  superset-frontend/src/SqlLab/constants.ts
  superset-frontend/src/SqlLab/utils/emptyQueryResults.test.js
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.js
Labels: size/M

#23361 fix(safari): remove autocomplete in table select
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
Labels: size/M

#23365 fix(chart-controls): Error if x_axis_sort and timeseries_limit_metric are included in main metrics
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/extractExtraMetrics.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/operators/utils/extractExtraMetrics.test.ts
Labels: size/M

#23319 feat(native-filters): allow cascading from time and numeric filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DependencyList.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: size/L

#23356 fix: table schema permissions
  superset/db_engine_specs/base.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/security/manager.py
  tests/unit_tests/explore/utils_test.py
  tests/unit_tests/security/__init__.py
  tests/unit_tests/security/manager_test.py
Labels: size/L

#23376 fix: dataset_macro
  superset/connectors/sqla/models.py
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/M

#23227 chore: Migrate /superset/schemas_access_for_file_upload to v1
  docs/static/resources/openapi.json
  superset/constants.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/templates/superset/form_view/database_schemas_selector.html
  superset/views/core.py
  tests/integration_tests/databases/api_tests.py
Labels: size/L

#23371 chore: Add code-owners to Select, MetadataBar and DropdownContainer
  .github/CODEOWNERS
Labels: size/XS

#23200 fix: permission checks on import
  superset/charts/commands/importers/v1/utils.py
  superset/commands/importers/v1/examples.py
  superset/dashboards/commands/importers/v1/utils.py
  superset/databases/commands/importers/v1/utils.py
  superset/datasets/commands/importers/v1/utils.py
  superset/examples/utils.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/queries/saved_queries/commands_tests.py
  tests/unit_tests/charts/commands/importers/v1/import_test.py
  tests/unit_tests/commands/importers/v1/assets_test.py
  tests/unit_tests/dashboards/commands/importers/v1/import_test.py
  tests/unit_tests/databases/commands/importers/v1/import_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: size/L

#23392 feat(plugin-chart-echarts): add series sorting
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L

#23330 fix: revert back to use security manager authz for dashboard when get by uuid
  superset/dashboards/dao.py
  superset/dashboards/filters.py
  superset/dashboards/permalink/commands/create.py
  superset/models/dashboard.py
  superset/reports/commands/execute.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/permalink/api_tests.py
Labels: size/L

#23261 chore(dashboard): Disable 'Set filter mapping' when appropriate
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/M

#23388 fix: update default WEBDRIVER_OPTION_ARGS and add Firefox libs to Dockerfile
  Dockerfile
  superset/config.py
Labels: size/S

#23400 fix: Select all issue with "Dynamically search all filter values" in FilterBar
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/M

#23385 chore: improve schema security
  superset/db_engine_specs/base.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/models/core.py
  superset/security/manager.py
  tests/unit_tests/db_engine_specs/test_drill.py
  tests/unit_tests/db_engine_specs/test_hive.py
  tests/unit_tests/db_engine_specs/test_mysql.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/db_engine_specs/test_presto.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
  tests/unit_tests/explore/utils_test.py
  tests/unit_tests/security/manager_test.py
Labels: size/L

#23403 chore(docs): three typos
  docs/docs/security.mdx
Labels: size/XS

#23389 fix(dashboard): `show_native_filters` leftover
  superset/dashboards/commands/importers/v1/utils.py
  superset/dashboards/schemas.py
Labels: size/S

#23226 chore: Hugh/migrate estimate query cost to v1
  UPDATING.md
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset/security/manager.py
  superset/sqllab/api.py
  superset/sqllab/commands/estimate.py
  superset/sqllab/schemas.py
  superset/views/core.py
  tests/integration_tests/sql_lab/api_tests.py
  tests/integration_tests/sql_lab/commands_tests.py
Labels: size/L

#23401 feat(postgresql): dynamic schema
  superset/db_engine_specs/base.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_postgres.py
Labels: size/L

#23338 feat(chart): Added SriLanka country map
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/srilanka.geojson
Labels: size/XXL

#23410 feat(echarts): Implement stream graph for Echarts Timeseries
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/components/ExtraControls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset/migrations/versions/2023-03-17_13-24_b5ea9d343307_bar_chart_stack_options.py
Labels: size/L

#23377 feat(sqllab): log error_detail on fetch failed
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/logger/LogUtils.ts
Labels: size/M

#23303 chore(native-filters): Fetch only the required dataset fields
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: size/M

#23415 feat: add new cache_query_by_user key
  superset/common/query_object.py
  superset/config.py
  tests/unit_tests/queries/__init__.py
  tests/unit_tests/queries/query_object_test.py
Labels: size/L

#23431 docs(security): note the need to set TALISMAN_ENABLED = True
  docs/docs/security.mdx
Labels: size/S

#23433 fix: database dropdown keys
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset/db_engine_specs/clickhouse.py
Labels: size/XS

#23430 chore: Add DRILL_BY feature flag
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Labels: size/XS

#23386 fix: schedule query option showing up
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/XS, merge-if-green

#23414 fix: prevent ForeignKeyViolation error on delete
  superset/charts/commands/delete.py
  superset/datasets/commands/delete.py
Labels: size/S

#23450 feat(echarts): Add x axis sort by to all series charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
Labels: size/S

#23447 feat(DB engine spec): `get_catalog_names`
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
Labels: size/M

#23446 fix: Allow setting ingress hosts directly through yaml
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/ingress.yaml
  helm/superset/values.yaml
Labels: need:more-info, size/S

#23417 docs(contributing): added note for creating SECRET_KEY
  docs/docs/contributing/local-backend.mdx
Labels: size/XS

#23265 fix(sqllab): dedupe active_tab in tabHistory
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
Labels: size/S

#23257 chore(sqllab): Remove schemaOptions from redux store
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/hooks/useQueryEditor/useQueryEditor.test.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/SqlLab/utils/emptyQueryResults.test.js
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Labels: size/M

#23393 fix(Pivot Table v2): resolved full width issue
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/Styles.js
Labels: size/XS

#23420 docs(contributing): How create or change SECRET_KEY
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS

#23459 feat: Allows reload on default filter value error
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: size/M

#23452 fix(chart): add missing toleration for init-job
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
Labels: size/XS

#23378 fix(sqllab): throw errors of commented out query
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
Labels: size/M

#23465 perf(postprocessing): improve pivot postprocessing operation
  superset/utils/pandas_postprocessing/pivot.py
Labels: size/XS

#23480 fix: Chart crashing if timeseries_limit_metric is an empty array
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/extractExtraMetrics.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/utils/extractExtraMetrics.test.ts
Labels: size/S

#23416 feat(helm): add nodeselector and tolerations to init job
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/M

#23477 chore: Changes the inputs of native filters modal to have the same width
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigurePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DefaultValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DependencyList.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/constants.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
Labels: size/M

#23501 docs: Adds notes to Superset plugin generator about TypeScript errors
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/README.erb
Labels: size/S

#23506 fix(generic-x-axis): skip initial time filter for legacy charts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/mixins.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/XS

#23475 fix: Preserves selected scopes when toggling between scope types
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.tsx
Labels: size/S

#23515 fix(plugin-chart-table): Invalid d3Formatter on String column
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
Labels: size/S

#23521 fix(dashboards): apply tag filter correctly
  superset-frontend/src/pages/DashboardList/index.tsx
Labels: size/XS

#23454 feat: Implement context menu for drill by
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/EchartsSunburst.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/index.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/index.ts
  superset-frontend/src/components/Chart/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Chart/MenuItemWithTruncation.tsx
  superset-frontend/src/components/Chart/utils.test.ts
  superset-frontend/src/components/Chart/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/styles.ts
  superset-frontend/src/utils/cachedSupersetGet.ts
Labels: size/XL

#23512 fix: Dashboard not loading with default first value in filter
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/XS

#23458 feat: drill by modal
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
Labels: size/L

#23513 fix(plugin-generator): Addresses linter errors in newly generated Superset plugin
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/package.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/MyChart.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/plugin/controlPanel.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/src/types.erb
  superset-frontend/packages/generator-superset/generators/plugin-chart/templates/test/plugin/transformProps.test.erb
Labels: size/S

#23517 fix(word cloud): series label format fixed for custom sql queries
  superset-frontend/plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/legacyPlugin/types.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/types.ts
Labels: size/S

#23536 chore: allow logs to show error levels for ssh tunnel
  superset/extensions/ssh.py
  tests/integration_tests/csv_upload_tests.py
Labels: size/XS

#23526 fix(tags): convert postgres enum type to varchar
  superset/migrations/versions/2023-03-29_20-30_07f9a902af1b_drop_postgres_enum_constrains_for_tags.py
Labels: size/M

#23527 ci: disable flaky async test
  tests/integration_tests/csv_upload_tests.py
Labels: size/XS

#23469 fix(area chart legacy): tool tip shows actual value rather than y axi…
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/utils.js
Labels: size/XS

#22803 chore(welcome): harmonize submenu with other routes
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/components/Chart/Chart.jsx
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/DynamicPlugins/index.tsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dataMask/actions.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/featureFlags.ts
  superset-frontend/src/middleware/asyncEvent.ts
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
  superset-frontend/src/utils/hostNamesConfig.js
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/chart/ChartCard.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardCard.tsx
  superset-frontend/src/views/CRUD/tags/TagCard.tsx
Labels: size/L

#23439 feat: add ability to disable cache
  docs/docs/installation/cache.mdx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset/common/query_context.py
  superset/common/query_context_processor.py
  superset/viz.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M

#22880 fix: moved alerts and reports default values to config
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/types.ts
  superset/config.py
  superset/views/base.py
Labels: size/M

#23522 fix: Removes Redux state mutations - iteration 1
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/dashboard/util/crossFilters.ts
  superset-frontend/src/dashboard/util/updateComponentParentsList.js
Labels: size/S

#23514 fix(sqllab): dedupe table_schemas in active_tab
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
Labels: size/M
