Repository apache/superset, pull requests merged in 2023-06, with the labels that each got.

#24205 feat(sqllab): SQLEditor Extension
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/M

#24280 fix: ensure json is not None
  superset/migrations/versions/2023-05-11_12-41_4ea966691069_cross_filter_global_scoping.py
Labels: size/XS

#24250 chore(build): creating default superset_text.yaml placeholder file
  superset_text.yml
Labels: size/S

#24185 fix: db validate parameters permission
  UPDATING.md
  superset/constants.py
Labels: size/XS

#24288 docs: Adds new permissions from 2.1.0 and fixes some sql_lab permissions
  RESOURCES/STANDARD_ROLES.md
Labels: size/M

#24291 fix: Text utils null value when reading module
  superset-frontend/src/utils/textUtils.ts
Labels: size/S

#24293 fix: Removes file extension from textUtils
  superset-frontend/src/utils/textUtils.ts
Labels: size/XS

#24294 chore: update UPDATING for 2.1.0
  UPDATING.md
Labels: size/M

#24295 chore: Adds #24029 breaking change to UPDATING.md
  UPDATING.md
Labels: size/XS

#24304 fix(dashboard): max call size stack error
  superset-frontend/src/dashboard/components/nativeFilters/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
Labels: size/M

#24306 chore: reorder k-v migration for 2.1.1
  superset/migrations/versions/2023-02-28_14-46_c0a3ea245b61_remove_show_native_filters.py
  superset/migrations/versions/2023-05-01_12-03_9c2a5681ddfd_convert_key_value_entries_to_json.py
  superset/migrations/versions/2023-05-11_12-41_4ea966691069_cross_filter_global_scoping.py
Labels: size/S

#24314 merge in fix with migration
  superset/dashboards/permalink/commands/base.py
  superset/dashboards/permalink/commands/create.py
  superset/dashboards/permalink/commands/get.py
  superset/explore/permalink/commands/base.py
  superset/explore/permalink/commands/create.py
  superset/explore/permalink/commands/get.py
  superset/extensions/metastore_cache.py
  superset/key_value/commands/create.py
  superset/key_value/commands/get.py
  superset/key_value/commands/update.py
  superset/key_value/commands/upsert.py
  superset/key_value/shared_entries.py
  superset/key_value/types.py
  superset/migrations/versions/2023-05-01_12-03_9c2a5681ddfd_convert_key_value_entries_to_json.py
  superset/temporary_cache/api.py
  superset/temporary_cache/commands/parameters.py
  tests/integration_tests/explore/permalink/api_tests.py
  tests/integration_tests/key_value/commands/create_test.py
  tests/integration_tests/key_value/commands/delete_test.py
  tests/integration_tests/key_value/commands/fixtures.py
  tests/integration_tests/key_value/commands/get_test.py
  tests/integration_tests/key_value/commands/update_test.py
  tests/integration_tests/key_value/commands/upsert_test.py
Labels: size/L

#24265 fix(capitalization): Capitalizing the 'metric' label in Pivot Tables
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Labels: size/XS

#19808 fix(sql-lab): SQL Lab commit connection even if no CTA query is made
  superset/sql_lab.py
Labels: size/XS

#23910 feat: Migrates Dual Line Chart to Mixed Chart
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/dual_line.test.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/DualLine/Stories.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/DualLine/data.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/DualLine/stories/basic.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/DualLine/stories/verifyConsistentColors.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/images/thumbnail.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/images/thumbnailLarge.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/preset.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/transformProps.js
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/examples/birth_names.py
  superset/migrations/shared/migrate_viz/processors.py
  superset/migrations/versions/2023-06-08_11-34_ae58e1e58e5c_migrate_dual_line_to_mixed_chart.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.json
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.json
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.json
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/viz.py
  tests/unit_tests/migrations/viz/dual_line_to_mixed_chart_test.py
Labels: risk:breaking-change, size/XXL, hold!, v3.0

#24312 chore: Remove unused sliceCanEdit logic
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  tests/integration_tests/security_tests.py
Labels: size/S

#24237 feat: support complex types and use get_columns implementation of starrrocks python client
  superset-frontend/src/assets/images/starrocks.png
  superset/db_engine_specs/starrocks.py
  tests/unit_tests/db_engine_specs/test_starrocks.py
Labels: size/L

#24315 fix: DB extension collapse
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
Labels: size/XS

#23933 feat: Removes the Multiple Line Charts
  UPDATING.md
  docs/static/resources/openapi.json
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/images/thumbnail.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/images/thumbnailLarge.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/preset.js
  superset-frontend/src/dashboard/components/AddSliceCard/AddSliceCard.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/charts/schemas.py
  superset/cli/examples.py
  superset/examples/data_loading.py
  superset/examples/multi_line.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.json
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.json
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.json
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/viz.py
Labels: risk:breaking-change, size/XXL, hold!, v3.0

#24313 docs: add link to intro with supported database types
  docs/docs/intro.mdx
Labels: size/XS

#24322 chore: Deprecates some NVD3 charts in 3.0
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Area/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Line/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  superset-frontend/src/visualizations/FilterBox/FilterBoxChartPlugin.js
Labels: size/M

#24082 chore(sqllab): Remove validation result from state
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useAnnotations.test.ts
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useAnnotations.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/hooks/apiResources/index.ts
  superset-frontend/src/hooks/apiResources/queryApi.ts
  superset-frontend/src/hooks/apiResources/queryValidations.test.ts
  superset-frontend/src/hooks/apiResources/queryValidations.ts
Labels: size/XL

#24303 fix: Copy dashboard filters when copying dashboard
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/dao_tests.py
Labels: size/S

#24339 docs: Add BurdaForward to "In the Wild" and merge "News" and "Entertainment" to "Media & Entertainment"
  RESOURCES/INTHEWILD.md
Labels: size/XS

#24330 chore: Removes getUiOverrideRegistry
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: risk:breaking-change, size/S, v3.0

#23997 chore(druid): Remove legacy Druid NoSQL logic
  CONTRIBUTING.md
  RESOURCES/STANDARD_ROLES.md
  docs/docs/miscellaneous/chart-params.mdx
  docs/docs/miscellaneous/importing-exporting-datasources.mdx
  docs/static/resources/openapi.json
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-core/src/query/buildQueryObject.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/packages/superset-ui-core/test/query/buildQueryObject.test.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Arc/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Grid/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Hex/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Path/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Polygon/geojsonPayload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Polygon/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Scatter/payload.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-deckgl/Screengrid/payload.js
  superset-frontend/src/components/AlteredSliceTag/index.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.test.ts
  superset-frontend/src/dashboard/util/getFilterConfigsFromFormdata.js
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/explore/controlPanels/Separator.js
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
  superset-frontend/src/visualizations/FilterBox/transformProps.ts
  superset/charts/post_processing.py
  superset/charts/schemas.py
  superset/common/query_object.py
  superset/config.py
  superset/constants.py
  superset/security/manager.py
  superset/utils/core.py
  superset/utils/dict_import_export.py
  superset/views/core.py
  superset/views/utils.py
  superset/viz.py
  tests/common/query_context_generator.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/fixtures/energy_dashboard.py
  tests/integration_tests/fixtures/importexport.py
  tests/integration_tests/migrations/ad07e4fdbaba_rm_time_range_endpoints_from_qc_3__test.py
  tests/integration_tests/utils_tests.py
Labels: size/L

#24341 fix: Viz migration adjustments - 1
  superset/migrations/shared/migrate_viz/base.py
  superset/migrations/shared/migrate_viz/processors.py
  tests/unit_tests/migrations/viz/pivot_table_v1_v2_test.py
Labels: size/XS

#24266 chore: Remove deprecated ENABLE_ACCESS_REQUEST workflow
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/pages/RowLevelSecurityList/RowLevelSecurityList.test.tsx
  superset/config.py
  superset/explore/commands/get.py
  superset/initialization/__init__.py
  superset/migrations/versions/2023-06-01_13-13_83e1abbe777f_drop_access_request.py
  superset/models/__init__.py
  superset/models/datasource_access_request.py
  superset/security/manager.py
  superset/templates/email/role_extended.txt
  superset/templates/email/role_granted.txt
  superset/templates/superset/request_access.html
  superset/utils/core.py
  superset/views/__init__.py
  superset/views/access_requests.py
  superset/views/core.py
  tests/integration_tests/access_tests.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/security_tests.py
Labels: size/XXL

#24344 fix(sqllab): Inefficient SqlaTable query (#24343)
  superset/databases/commands/tables.py
  superset/views/core.py
Labels: size/S

#24333 chore: remove deprecated api /superset/datasources
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/views/core.py
Labels: size/S

#24335 chore: remove deprecated api /superset/filter/...
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: size/M

#24342 chore: remove deprecated api /superset/tables/<int:db_id>/...
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: size/L

#24345 feat: Convert ENABLE_BROAD_ACTIVITY_ACCESS and MENU_HIDE_USER_INFO into feature flags
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset/config.py
  superset/connectors/sqla/models.py
  superset/models/dashboard.py
  superset/models/filter_set.py
  superset/models/slice.py
  superset/security/manager.py
  superset/views/base.py
  superset/views/core.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/log_api_tests.py
Labels: risk:breaking-change, size/L, v3.0

#24363 fix: deck.gl Scatterplot min/max radius
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/Scatter.jsx
Labels: size/XS

#24143 fix: Ensure "Import Dashboard" menu item adheres to PVM
  superset/initialization/__init__.py
Labels: size/XS

#24121 fix: Address regression introduced in #22853
  superset/connectors/sqla/models.py
  superset/models/core.py
  superset/models/sql_lab.py
  tests/integration_tests/model_tests.py
  tests/unit_tests/models/core_test.py
Labels: size/L

#24348 feat: add a tooltip to clarify metric_name in the DatasetEditor
  superset-frontend/src/components/Datasource/CollectionTable.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
Labels: size/M

#24359 chore: remove deprecated apis estimate_query_cost, results, sql_json, csv
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset-frontend/src/profile/components/fixtures.tsx
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L

#24381 chore: remove deprecated api /superset/available_domains
  UPDATING.md
  superset/views/core.py
Labels: size/S

#24354 chore: remove deprecated apis on superset, testconn, validate_sql_json, schemas_access_for_file_upload, extra_table_metadata
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/views/core.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/sql_validator_tests.py
Labels: size/XL

#24198 chore: remove user registrations menu for non-admins
  UPDATING.md
  requirements/base.txt
  setup.py
  superset/security/manager.py
Labels: size/XS

#24353 chore: remove deprecated apis copy_dash, save_dash and add_slices
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset-frontend/src/dashboard/actions/hydrate.js
  superset/views/core.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/dashboards/base_case.py
  tests/integration_tests/dashboards/consts.py
  tests/integration_tests/security_tests.py
Labels: size/L

#24360 chore: remove deprecated apis stop_query, queries, search_queries
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/L

#24369 feat(sshtunnel): add configuration for SSH_TIMEOUT
  superset/config.py
  superset/extensions/ssh.py
  superset/models/core.py
  tests/unit_tests/extensions/ssh_test.py
Labels: size/S

#24310 chore: Update GitHub issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/cosmetic.md
  .github/ISSUE_TEMPLATE/sip.md
Labels: size/S

#24375 chore: remove deprecated apis on superset, get_or_create_table, sqllab_viz
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/sqllab_tests.py
Labels: size/L

#24401 chore: Remove previously deprecated dataset metrics column from RESTful API
  UPDATING.md
  superset/datasets/api.py
Labels: risk:breaking-change, size/XS

#24221 fix(helm): Add fullname prefix to init job
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
Labels: size/XS

#24392 fix: Fixes #24391 (Problems with celery beat running with docker when the machine is rebooted suddenly)
  docker/docker-bootstrap.sh
Labels: size/XS

#24287 feat: add dashboard page full xlsx export
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
  superset-frontend/src/logger/LogUtils.ts
Labels: size/M

#24388 feat: Allows new values for single value filters
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/M

#24400 chore: remove deprecated apis and ENABLE_BROAD_ACTIVITY_ACCESS
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.test.jsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/profile/components/Favorites.tsx
  superset-frontend/src/profile/types.ts
  superset-frontend/src/types/Dataset.ts
  superset-frontend/src/views/CRUD/types.ts
  superset/charts/api.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/datasets/api.py
  superset/models/dashboard.py
  superset/models/filter_set.py
  superset/models/slice.py
  superset/security/manager.py
  superset/views/base.py
  superset/views/core.py
  superset/views/log/api.py
  superset/views/log/dao.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/log_api_tests.py
  tests/integration_tests/security_tests.py
Labels: risk:breaking-change, size/XL

#24428 fix: deck.gl Geojson path not visible
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/Geojson.jsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/controlPanel.ts
Labels: size/S

#24420 fix: FE call to changed recent_activity endpoint
  superset-frontend/src/features/home/ActivityTable.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/profile/components/RecentActivity.tsx
Labels: size/XS

#24423 chore: remove deprecated apis /slice_json/ and /annotation_json/
  RESOURCES/STANDARD_ROLES.md
  UPDATING.md
  superset/views/core.py
  superset/views/utils.py
Labels: size/M

#24422 fix(sql-lab): remove redundant onChange schema property
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.jsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset/charts/schemas.py
  superset/explore/schemas.py
  superset/models/sql_lab.py
  superset/sqllab/schemas.py
  tests/integration_tests/queries/api_tests.py
Labels: size/S

#24410 fix: force data load on import examples
  .github/workflows/docker-ephemeral-env.yml
  .github/workflows/docker.yml
  RELEASING/from_tarball_entrypoint.sh
  docker/docker-init.sh
Labels: size/S

#24403 chore: cleanup sqlalchemy warnings
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/models/sql_lab.py
  superset/tags/models.py
Labels: size/S

#24415 chore: Remove obsolete Druid NoSQL REGEX operator
  UPDATING.md
  superset-frontend/src/explore/constants.ts
  superset/utils/core.py
Labels: size/XS

#24440 fix(translations): regularise the capitalisation of 'CSV' in en localisation
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
Labels: size/M

#24437 chore: toning down grayscale on X icon
  superset-frontend/src/assets/images/icons/cancel-x.svg
  superset-frontend/src/assets/images/icons/search.svg
  superset-frontend/src/pages/DatabaseList/index.tsx
Labels: size/XS

#23835 docs: Show clickable link instead of code-formatting
  docs/docs/databases/mysql.mdx
Labels: size/XS

#23853 chore: Migrate warm up cache endpoint to api v1
  superset/charts/api.py
  superset/charts/commands/exceptions.py
  superset/charts/commands/warm_up_cache.py
  superset/charts/schemas.py
  superset/datasets/api.py
  superset/datasets/commands/exceptions.py
  superset/datasets/commands/warm_up_cache.py
  superset/datasets/schemas.py
  superset/tasks/cache.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/strategy_tests.py
Labels: size/XL

#24262 chore: Enable CSP by default
  UPDATING.md
  docs/docs/security.mdx
  superset-frontend/packages/superset-ui-core/src/models/ExtensibleFunction.ts
  superset/config.py
  superset/initialization/__init__.py
  superset/templates/appbuilder/general/widgets/base_list.html
  superset/templates/appbuilder/general/widgets/search.html
  superset/templates/superset/export_dashboards.html
  superset/templates/superset/form_view/csv_scripts.html
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/templates/superset/form_view/database_schemas_selector.html
  superset/templates/superset/models/database/macros.html
  superset/templates/superset/partials/asset_bundle.html
  superset/templates/superset/theme.html
Labels: risk:breaking-change, size/L, v3.0

#24248 fix: save columns reference from sqllab save datasets flow
  superset-frontend/packages/superset-ui-chart-controls/src/constants.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/columnChoices.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getTemporalColumns.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/utils.py
  superset/daos/query.py
  superset/databases/utils.py
  superset/datasets/api.py
  superset/datasets/commands/create.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  superset/models/sql_lab.py
  superset/result_set.py
  superset/superset_typing.py
  superset/tables/models.py
  superset/views/utils.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/result_set_tests.py
  tests/unit_tests/config_test.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
  tests/unit_tests/db_engine_specs/test_presto.py
  tests/unit_tests/queries/dao_test.py
Labels: size/XL

#24434 fix: Revert to old endpoint temporarily to enable sharing saved queries
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#24405 fix: creating a new chart with dashboard time filters but filter can't apply again
  superset-frontend/src/explore/actions/saveModalActions.js
Labels: size/S

#24447 fix(charts): Fix chart load task error handling
  superset/charts/data/commands/get_data_command.py
  superset/common/query_context_processor.py
  superset/tasks/async_queries.py
  tests/unit_tests/tasks/test_async_queries.py
Labels: size/M

#24418 fix: Native filter dynamic numeric search
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/buildQuery.ts
  superset/connectors/base/models.py
  superset/models/helpers.py
Labels: size/M

#24474 docs: Add CTA to community calendar subscription
  docs/src/pages/community.tsx
  docs/static/img/calendar-icon.svg
Labels: size/M

#24476 fix: Revert enabling CSP
  UPDATING.md
  docs/docs/security.mdx
  superset-frontend/packages/superset-ui-core/src/models/ExtensibleFunction.ts
  superset/config.py
  superset/initialization/__init__.py
  superset/templates/appbuilder/general/widgets/base_list.html
  superset/templates/appbuilder/general/widgets/search.html
  superset/templates/superset/export_dashboards.html
  superset/templates/superset/form_view/csv_scripts.html
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/templates/superset/form_view/database_schemas_selector.html
  superset/templates/superset/models/database/macros.html
  superset/templates/superset/partials/asset_bundle.html
  superset/templates/superset/theme.html
Labels: size/L

#24471 fix(oracle): denormalize column names where applicable
  superset/connectors/sqla/utils.py
  superset/db_engine_specs/base.py
  tests/unit_tests/db_engine_specs/test_mssql.py
  tests/unit_tests/db_engine_specs/test_oracle.py
Labels: size/M

#24371 chore(sqllab): Remove table metadata from state
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/TableElement.test.jsx
  superset-frontend/src/SqlLab/components/TableElement/TableElement.test.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/SqlLab/reducers/getInitialState.js
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.js
  superset-frontend/src/hooks/apiResources/queryApi.ts
  superset-frontend/src/hooks/apiResources/tables.ts
Labels: size/XL

#24477 fix: Total calculation in stacked Timeseries charts
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartProps.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Labels: size/L

#24277 feat(docker): Add support LDAP/AD authorization
  .github/workflows/bashlib.sh
  Dockerfile
  requirements/development.in
  requirements/development.txt
Labels: size/S

#24497 build(docker): pin the underlying debain base image
  .github/workflows/docker_build_push.sh
  Dockerfile
Labels: size/XS

#24506 fix: Native filter dynamic numeric search
  superset/models/helpers.py
Labels: size/XS

#24489 chore(sqllab): add extra_json on tabstate
  superset/models/sql_lab.py
Labels: size/XS

#24504 build(docker): simplification of assembly to facilitate further support
  .github/workflows/docker.yml
  .github/workflows/docker_build_push.sh
  Dockerfile
  docker/docker-bootstrap.sh
Labels: size/L

#24492 fix(charts): big-number display broken in echarts
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/index.test.ts
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/exploreUtils/exploreUtils.test.jsx
  superset-frontend/src/explore/exploreUtils/index.js
  superset-frontend/src/explore/exploreUtils/shouldUseLegacyApi.test.ts
Labels: size/L

#24544 fix: Release scripts Python version
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  RELEASING/Dockerfile.make_docs
  RELEASING/Dockerfile.make_tarball
  RELEASING/README.md
  RELEASING/from_tarball_entrypoint.sh
Labels: size/S

#24545 fix: Revert enable strong session protection by default (#24256)
  UPDATING.md
  docs/docs/security.mdx
  superset/config.py
Labels: size/S

#24538 chore: Constrain selenium version
  setup.py
Labels: size/XS

#24519 fix: SQL Lab - correct setting name from DISPLAY_MAX_ROWS to DISPLAY_MAX_ROW
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.json
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.json
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.json
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/M

#24482 fix(permalink): Incorrect component schema reference
  superset/dashboards/permalink/api.py
Labels: size/XS

#24475 fix(translations): typo mistake (translation to Spanish)
  superset/translations/es/LC_MESSAGES/messages.json
Labels: size/XS

#24541 fix(docs): Typo in filter migration.
  docs/docs/miscellaneous/native-filter-migration.mdx
Labels: size/XS

#24514 refactor: pkg_resources -> importlib.metadata
  requirements/base.txt
  setup.py
  superset/db_engine_specs/__init__.py
  tests/unit_tests/db_engine_specs/test_init.py
Labels: size/S

#24488 chore(dao): Add explicit ON DELETE CASCADE when deleting datasets
  UPDATING.md
  superset/connectors/sqla/models.py
  superset/daos/dataset.py
  superset/datasets/commands/bulk_delete.py
  superset/datasets/commands/delete.py
  superset/migrations/versions/2023-06-22_13-39_6fbe660cac39_add_on_delete_cascade_for_tables_references.py
  superset/utils/core.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/commands_test.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L

#24548 fix: heads
  superset/migrations/versions/2023-06-22_13-39_6fbe660cac39_add_on_delete_cascade_for_tables_references.py
Labels: size/XS

#24550 fix: Deque mutated during iteration
  superset/utils/core.py
  tests/unit_tests/databases/ssh_tunnel/dao_tests.py
Labels: size/M

#24462 docs: updating images and markdown
  docs/docs/creating-charts-dashboards/creating-your-first-dashboard.mdx
  docs/static/img/tutorial/tutorial_chart_resize.png
  docs/static/img/tutorial/tutorial_edit_button.png
  docs/static/img/tutorial/tutorial_first_dashboard.png
  docs/static/img/tutorial/tutorial_pencil_edit.png
Labels: size/XS

#24534 build(docker): add dockerize image
  .github/workflows/docker_build_push.sh
  dockerize.Dockerfile
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/M

#24404 chore: deprecate FLASK_ENV and improve conf.ENVIRONMENT_TAG_CONFIG
  .flaskenv
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-e2e.yml
  CONTRIBUTING.md
  Dockerfile
  RELEASING/from_tarball_entrypoint.sh
  UPDATING.md
  docker/.env
  docker/.env-non-dev
  docs/docs/contributing/local-backend.mdx
  superset/config.py
  superset/views/base.py
Labels: size/M

#24546 fix: Error when searching for a dashboard in the chart list
  superset-frontend/src/pages/ChartList/index.tsx
Labels: size/XS

#24553 feat: add description column to Tags
  superset/migrations/versions/2023-06-29_18-38_240d23c7f86f_update_tag_model_w_description.py
  superset/tags/models.py
Labels: size/M

#24536 fix(sqllab): Add threshold for checking inactive queries
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
Labels: size/XS

#24547 feat: customize screenshot width for alerts/reports
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/components/ReportModal/styles.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/types.ts
  superset-frontend/src/reports/types.ts
  superset/charts/api.py
  superset/config.py
  superset/migrations/versions/2023-06-27_16-54_8e5b0fb85b9a_add_custom_size_columns_to_report.py
  superset/reports/api.py
  superset/reports/models.py
  superset/reports/schemas.py
  superset/utils/screenshots.py
Labels: size/L

#24558 chore: better styling alerts/reports modal
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/migrations/versions/2023-06-29_18-38_240d23c7f86f_update_tag_model_w_description.py
Labels: size/S

#24565 fix: docker compose refusing to start
  docker/.env
  docker/.env-non-dev
  docker/docker-bootstrap.sh
Labels: size/XS

#24555 fix: Metric is truncated in tooltip
  superset-frontend/packages/superset-ui-chart-controls/src/components/labelUtils.tsx
  superset-frontend/src/components/Tooltip/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetric.js
Labels: size/S
