Repository apache/superset, pull requests merged in 2023-04, with the labels that each got.

#23543 fix: Hide FilterBar for Reports
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/types.ts
Labels: size/M

#23549 fix(sqllab): undefined issue_codes on query error
  superset-frontend/src/SqlLab/actions/sqlLab.js
Labels: size/XS

#23533 fix(plugin-chart-table): Include time control
  superset-frontend/packages/superset-ui-core/src/query/extractQueryFields.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/explore/actions/hydrateExplore.ts
Labels: size/M

#22964 chore: Migrate /superset/user_slices and /superset/fave_slices to API v1
  docs/static/resources/openapi.json
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/profile/components/Favorites.tsx
  superset-frontend/src/profile/types.ts
  superset/charts/api.py
  superset/charts/filters.py
  superset/constants.py
  superset/models/helpers.py
  superset/models/slice.py
  superset/views/core.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/commands_tests.py
  tests/unit_tests/charts/dao/dao_tests.py
Labels: size/L

#23566 fix: Filter values are not updating when dependencies are set
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/M

#23524 feat: drill by display chart
  superset-frontend/spec/fixtures/mockChartQueries.js
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/MenuItemWithTruncation.tsx
  superset-frontend/src/explore/controlUtils/getFormDataWithDashboardContext.ts
  superset-frontend/src/utils/simpleFilterToAdhoc.ts
Labels: size/L

#23548 fix: tags features flag on base models
  superset/models/dashboard.py
  superset/models/slice.py
  superset/models/sql_lab.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/tags/dao_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
Labels: size/M

#23544 chore: Remove wrong information from the Alerts & Reports docs
  docs/docs/installation/alerts-reports.mdx
Labels: size/XS

#23567 fix: QueryParamProvider error on backend rendered views
  superset-frontend/src/views/menu.tsx
Labels: size/S

#23576 fix(dashboard): Cross filters badge for cols with verbose names
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Labels: size/M

#23575 feat: Drill by open in Explore
  superset-frontend/packages/superset-ui-core/src/query/types/Filter.ts
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/explore/controlUtils/getFormDataWithDashboardContext.ts
Labels: size/L

#23535 fix: Removes Redux state mutations - iteration 2
  superset-frontend/src/dashboard/actions/nativeFilters.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/reducers/nativeFilters.ts
Labels: size/M

#23579 fix(revert): "fix: cache warmup solution non legacy charts. (#23012)"
  superset/charts/commands/export.py
  superset/views/core.py
  tests/integration_tests/charts/commands_tests.py
Labels: size/M

#23585 fix: Ensure the reporting framework handles charts with no data
  superset/charts/post_processing.py
  superset/utils/csv.py
  tests/unit_tests/charts/test_post_processing.py
Labels: size/S

#23461 feat(bigquery): `get_catalog_names`
  superset/db_engine_specs/bigquery.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
Labels: size/L

#23582 fix(dash import): Ensure old datasource ids are not referenced in imported charts
  superset/dashboards/commands/importers/v1/__init__.py
  tests/integration_tests/dashboards/commands_tests.py
Labels: size/S

#23129 fix(translation): correct translation errors for Chinese(zh)
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/S

#23587 fix(docker-compose): Make worker use correct healthcheck (#23455)
  docker-compose-non-dev.yml
  docker-compose.yml
Labels: size/XS

#23594 feat(helm): Upgrade default Superset version to 2.1.0
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/S

#23537 docs(security): more context around Talisman, note side effect of force_https on Alerts & Reports
  docs/docs/security.mdx
Labels: size/S

#23590 feat: Enables ECharts legend selector
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/M

#23547 feat: Shows user charts by default when editing a dashboard
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/dashboard/actions/sliceEntities.test.js
  superset-frontend/src/dashboard/actions/sliceEntities.ts
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/SliceAdder.test.jsx
  superset-frontend/src/dashboard/containers/SliceAdder.jsx
  superset-frontend/src/dashboard/reducers/sliceEntities.js
  superset-frontend/src/dashboard/reducers/sliceEntities.test.js
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/utils/localStorageHelpers.ts
Labels: size/XL

#23600 fix: load examples as anon user
  superset/charts/commands/importers/v1/utils.py
  superset/commands/importers/v1/examples.py
  superset/dashboards/commands/importers/v1/utils.py
  superset/databases/commands/importers/v1/utils.py
  superset/datasets/commands/importers/v1/utils.py
Labels: size/M

#23112 chore: Migrate copy_dash endpoint to api v1
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/components/SaveModal.tsx
  superset/constants.py
  superset/dashboards/api.py
  superset/dashboards/dao.py
  superset/dashboards/schemas.py
  superset/views/core.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/consts.py
  tests/integration_tests/dashboards/dao_tests.py
Labels: size/L

#23613 fix: Increases the options limit for Annotation Layers
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: size/XS

#23599 feat(presto): `get_catalog_names`
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  tests/integration_tests/db_engine_specs/presto_tests.py
Labels: size/M

#23588 fix: Disables email reports for unsaved charts
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/components/ReportModal/index.tsx
  superset-frontend/src/reports/actions/reports.js
  superset-frontend/src/reports/reducers/reports.js
  superset-frontend/src/views/CRUD/hooks.ts
Labels: size/L

#23602 feat(snowflake): `get_catalog_names`
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/snowflake.py
Labels: size/S

#23601 feat(helm): ability to disable helm hooks
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/XS

#23328 feat(wrap-text): Wrap text support for specific columns in Grid
  superset-frontend/src/components/ListView/ListView.tsx
Labels: size/XS

#23617 fix: Error on Cypress test
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
Labels: size/XS

#23421 fix(#23176): adding URL decoding to SQLAlchemy URI
  superset/migrations/env.py
Labels: size/XS

#23586 fix(dashboard-rbac): use normal rbac when no roles chosen
  docs/docs/creating-charts-dashboards/creating-your-first-dashboard.mdx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset/security/manager.py
  superset/utils/decorators.py
  superset/views/core.py
  superset/views/dashboard/mixin.py
  superset/views/utils.py
  tests/integration_tests/dashboards/security/security_rbac_tests.py
Labels: size/L

#22677 fix(localization): localize legacy pivot table
  superset/viz.py
Labels: size/XS

#19733 docs(contributing): add local vscode config for backend debugging
  CONTRIBUTING.md
Labels: size/M

#23396 fix(Gauge echart): displaying column label
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
Labels: size/XS

#23611 fix(saved_queries): wrong enum for object_type of saved_query
  superset/models/sql_lab.py
Labels: size/XS

#23640 chore(feature flag): removing unused ENFORCE_DB_ENCRYPTION_UI flag
  RESOURCES/FEATURE_FLAGS.md
  superset/config.py
Labels: size/XS

#23637 fix: Removes Redux state mutations - iteration 3
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Labels: size/S

#23603 feat: implement drill by table
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/types.ts
Labels: size/L

#23646 docs: update CHANGELOG with 2.1.0
  CHANGELOG.md
Labels: size/XXL

#23650 fix(migration): Only attempt to drop types if they exist
  superset/migrations/versions/2023-03-29_20-30_07f9a902af1b_drop_postgres_enum_constrains_for_tags.py
Labels: size/XS

#23653 fix(sqllab): rendering performance regression
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/M

#23657 feat(dashboard): make color indices referable
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/types.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
Labels: size/M

#23615 feat: Support further drill by in the modal
  superset-frontend/packages/superset-ui-core/src/chart/components/SuperChart.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/useContextMenu.test.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/useContextMenu.tsx
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/types.ts
  superset-frontend/src/dashboard/styles.ts
Labels: size/L

#23644 feat(plugin-chart-echarts): add x-axis sort to multi series
  superset-frontend/packages/superset-ui-chart-controls/src/constants.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L

#23666 fix: presto CI failed test
  superset/models/helpers.py
Labels: size/XS

#23656 chore(db_engine_specs): Refactor get_index
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
Labels: size/L

#23671 fix(sqllab): Revert "rendering performance regression (#23653)"
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/M

#23652 chore: Enables GENERIC_CHART_AXES by default
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset/config.py
Labels: size/XS, v3.0

#23651 chore: Removes the UX_BETA feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset/config.py
  superset/connectors/base/models.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
Labels: risk:breaking-change, size/M, v3.0

#23624 fix(docker): optimize docker build by better utilizing build cache
  Dockerfile
Labels: size/M

#23654 chore: Update cross-filter tooltip text
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Labels: size/XS

#23682 fix: allow for dependencies that could be undefined
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: size/XS

#23641 fix: url_params cache miss with global async query
  superset/charts/data/api.py
  superset/views/core.py
Labels: size/XS

#23609 docs: nvm error while local setup
  CONTRIBUTING.md
Labels: size/XS

#23649 fix: Zero values on Dual Line axis bounds
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
Labels: size/XS

#23117 fix(ci): Fix GitHub workflow behavior for forks
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/chromatic-master.yml
  .github/workflows/docker-ephemeral-env.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-lint.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/welcome-new-users.yml
Labels: size/L

#23675 fix(plugin-chart-echarts): reorder totals and support multimetric sort
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L, 2.1.1

#23674 chore(presto): Expose schema and indexes to _partition_query method
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
Labels: size/M

#23683 docs(translations): point broken tutorial link to Internet Archive copy
  docs/docs/contributing/translations.mdx
Labels: size/XS

#23663 chore: Removes deprecated feature flags for 3.0
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/utils/featureFlag.test.ts
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/utils/hostNamesConfig.js
  superset/config.py
Labels: risk:breaking-change, size/M, v3.0

#23707 feat(helm): update redis version due to critical CVE (HIGH PRIORITY)
  helm/superset/Chart.lock
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/S

#23686 fix: Database modal parameter inputs persisting after modal closed and reopened
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
Labels: size/XS

#23695 fix(sqllab): rendering performance regression
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/M

#23720 feat(sqllab): add headers when copying results to clipboard
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/utils/common.js
  superset-frontend/src/utils/common.test.jsx
Labels: size/M

#22370 fix: is_select check for lowercase select with "WITH" clauses
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/S

#23723 feat: add enforce URI query params with a specific for MySQL
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mysql.py
  tests/integration_tests/model_tests.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Labels: size/M

#23697 feat: Add loading state to sqllab save/overwrite dataset modal
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Labels: size/XS

#23714 chore(api v1): Deprecate superset/override_role_permissions endpoint
  superset/security/manager.py
  superset/views/core.py
Labels: size/XS

#23669 fix(sqllab): infinite running state on disconnect
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/App/index.jsx
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/QueryAutoRefresh.test.tsx
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
Labels: size/L

#23634 feat: Makes "Add to dashboard" in Save chart modal paginated
  superset-frontend/cypress-base/cypress/integration/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/integration/explore/utils.ts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/actions/saveModalActions.test.js
  superset-frontend/src/explore/components/SaveModal.test.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
Labels: size/L

#23724 feat: Drill by error management
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
Labels: size/M

#23678 chore(api v1): Deprecate datasource/save and datasource/get endpoints
  superset-frontend/packages/superset-ui-chart-controls/src/fixtures.ts
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/columnChoices.test.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/utils/defineSavedMetrics.test.tsx
  superset-frontend/src/components/Datasource/ChangeDatasourceModal.test.jsx
  superset-frontend/src/components/Datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/components/Datasource/DatasourceModal.test.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/dashboard/constants.ts
  superset-frontend/src/explore/actions/datasourcesActions.test.ts
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/controlUtils/controlUtils.test.tsx
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.test.ts
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/utils/getDatasourceUid.test.ts
  superset/connectors/base/models.py
  superset/connectors/sqla/models.py
  superset/datasets/api.py
  superset/datasets/commands/exceptions.py
  superset/datasets/commands/update.py
  superset/datasets/schemas.py
  superset/views/datasource/views.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/L

#23734 chore(chart-data): add post processing error message to response
  superset/common/query_context_processor.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/S

#23737 fix: get or create db with an existing invalid URL
  superset/models/core.py
  tests/integration_tests/utils_tests.py
Labels: size/S

#23747 fix(ace-editor): use monospace fonts by default
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/components/AsyncAceEditor/index.tsx
Labels: size/XS

#23748 feat(adhoc-column): add resize option
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/useResizeButton.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/constants.ts
Labels: size/L

#23157 fix(cache): coerce schema_cache_timeout to None
  superset/databases/api.py
Labels: size/XS

#23758 fix: Make sure the DeprecatedSelect label is always a string
  superset-frontend/src/components/DeprecatedSelect/DeprecatedSelect.tsx
Labels: size/XS

#23614 chore: add check constraint to restrict `Slice` models datasource_type != "table"
  superset/migrations/versions/2023-03-27_12-30_7e67aecbf3f1_chart_ds_constraint.py
  tests/integration_tests/migrations/7e67aecbf3f1_chart_ds_constraint__tests.py
Labels: size/L

#23488 refactor(sqllab): Remove tableOptions from redux state
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Labels: size/L

#23269 feat(native-filters): Add legacy (filter-box) to native filter migration script
  docs/docs/miscellaneous/native-filter-migration.mdx
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  setup.py
  superset/cli/main.py
  superset/cli/native_filters.py
  superset/dashboards/schemas.py
  superset/utils/dashboard_filter_scopes_converter.py
Labels: size/XL

#23725 chore(docs): copy change submitted through BugHerd
  docs/docs/frequently-asked-questions.mdx
Labels: size/XS

#23759 chore(actions): Fix for Chromatic action using actions/checkout@v3
  .github/workflows/chromatic-master.yml
Labels: size/XS

#23704 chore: remove RemovedInMarshmallow4 warnings
  superset/advanced_data_type/schemas.py
  superset/annotation_layers/annotations/schemas.py
  superset/annotation_layers/schemas.py
  superset/cachekeys/schemas.py
  superset/charts/schemas.py
  superset/dashboards/permalink/schemas.py
  superset/dashboards/schemas.py
  superset/databases/schemas.py
  superset/datasets/schemas.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/gsheets.py
  superset/explore/form_data/schemas.py
  superset/explore/permalink/schemas.py
  superset/explore/schemas.py
  superset/reports/schemas.py
  superset/sqllab/schemas.py
  superset/temporary_cache/schemas.py
  superset/views/base_api.py
  superset/views/datasource/schemas.py
  superset/views/log/schemas.py
Labels: size/XXL

#23754 fix: Further drilling by different groupby fields
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
Labels: size/L

#23751 fix(mssql): apply top after distinct
  superset-frontend/cypress-base/cypress/integration/dataset/dataset_list.test.ts
  superset/db_engine_specs/base.py
  tests/unit_tests/db_engine_specs/test_mssql.py
Labels: size/XS, 2.1.1

#23757 fix: Drill by modal resizing
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.tsx
Labels: size/XS

#23670 chore(feature flags): updating the status of a few flags
  RESOURCES/FEATURE_FLAGS.md
Labels: size/S

#23768 feat: Display both queries result in Table mode for Mixed Chart in drill by modal
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.test.ts
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
Labels: size/L

#23772 chore(e2e): skip the worst offender of flaky tests.
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
Labels: size/XS

#23087 fix(sqllab): Persisting tab state for saved query
  superset/views/sql_lab/views.py
Labels: size/XS

#23779 fix(native-filters): Fix encoding of non-temporal default values
  superset/utils/dashboard_filter_scopes_converter.py
Labels: size/S

#23776 fix: [chart power query] error show when user input column with x-axis
  superset/models/sql_lab.py
Labels: size/S

#22812 feat: Add Ocient support
  docs/docs/databases/ocient.mdx
  setup.py
  superset/db_engine_specs/ocient.py
  tests/unit_tests/db_engine_specs/test_ocient.py
Labels: size/XL

#23769 fix: allow db driver distinction on enforced URI params
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mysql.py
  tests/integration_tests/model_tests.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Labels: size/M

#23797 fix: Context menu crashing when there is no dimension in Echarts Series charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Labels: size/XS

#23777 feat(revert): Re-introduces the RLS page
  UPDATING.md
  superset-frontend/src/features/rls/RowLevelSecurityModal.test.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/features/rls/constants.ts
  superset-frontend/src/features/rls/types.ts
  superset-frontend/src/pages/RowLevelSecurityList/RowLevelSecurityList.test.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/config.py
  superset/connectors/sqla/views.py
  superset/dao/base.py
  superset/initialization/__init__.py
  superset/row_level_security/api.py
  superset/row_level_security/commands/__init__.py
  superset/row_level_security/commands/bulk_delete.py
  superset/row_level_security/commands/create.py
  superset/row_level_security/commands/exceptions.py
  superset/row_level_security/commands/update.py
  superset/row_level_security/dao.py
  superset/row_level_security/schemas.py
  superset/templates/superset/models/rls/list.html
  tests/integration_tests/security/row_level_security_tests.py
Labels: risk:breaking-change, size/XXL, v3.0

#22916 chore: Add tests to SQL lab button components
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/EstimateQueryCostButton.test.tsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/ExploreCtasResultsButton.test.tsx
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/index.tsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton/ExploreResultsButton.test.jsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton/ExploreResultsButton.test.tsx
  superset-frontend/src/SqlLab/components/ExploreResultsButton/index.tsx
Labels: size/L

#23716 feat: create dtype option for csv upload
  superset/db_engine_specs/redshift.py
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/views/database/forms.py
  superset/views/database/views.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/db_engine_specs/redshift_tests.py
Labels: size/L

#23783 fix(datasource): saving new calculated columns
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset/datasets/schemas.py
Labels: size/XS

#23805 fix(sqllab): test failed due to legacy api url
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/ExploreCtasResultsButton.test.tsx
Labels: size/XS

#23819 fix: Clean up docker-ephemeral-env secrets command
  .github/workflows/docker-ephemeral-env.yml
Labels: size/S

#23820 docs: Add Superset Overview Video to README
  README.md
Labels: size/XS

#23731 fix: pivot v2 charts created before `GENERIC_CHART_AXES` is enabled
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/buildQuery.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/types.ts
  superset-frontend/plugins/plugin-chart-pivot-table/test/plugin/buildQuery.test.ts
Labels: size/M

#23811 fix: Hide FiltersPanel in standalone mode 3
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS

#23785 chore: Deprecates 3.0 consented feature flags
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/util/getSliceHeaderTooltip.tsx
  superset/config.py
Labels: size/M, v3.0

#23729 chore: migrate `sqllab_viz` endpoint to api v1
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/explore/actions/datasourcesActions.test.ts
  superset-frontend/src/explore/actions/datasourcesActions.ts
  superset/views/core.py
Labels: size/M

#23830 fix: Loading state when cols for drill by are loading
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
Labels: size/S

#23831 fix: Preserve filters from previous drillings in drill by
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
Labels: size/M

#23698 feat: format timestamps in drill by breadcrumbs
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/EchartsSunburst.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
Labels: size/L

#23857 fix(ephemerals): Quick fix for ephemeral spin-up
  .github/workflows/ecs-task-definition.json
Labels: size/XS

#23627 fix(chart): chart updates are not retained
  superset-frontend/cypress-base/cypress/e2e/explore/utils.ts
  superset-frontend/spec/fixtures/mockDashboardFormData.ts
  superset-frontend/spec/fixtures/mockExploreFormData.ts
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/controlUtils/getFormDataFromDashboardContext.test.ts
  superset-frontend/src/pages/Chart/Chart.test.tsx
  superset-frontend/src/pages/Chart/index.tsx
Labels: size/XL

#23856 fix(tests): Ensure deterministic SELECT ordering for CSV upload tests
  tests/integration_tests/csv_upload_tests.py
Labels: size/S

#23832 fix(native-filters): Address spelling mistakes
  superset/cli/native_filters.py
Labels: size/XS

#23854 chore: Add logging events for drill by
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/logger/LogUtils.ts
Labels: size/M

#23845 chore: Bump redis to 4.5.4
  docker/pythonpath_dev/superset_config.py
  docs/docs/installation/running-on-kubernetes.mdx
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  requirements/base.txt
  requirements/development.txt
  requirements/docker.txt
  setup.py
Labels: size/S

#23844 chore: Bump polyline to 2.0.0
  requirements/base.txt
  setup.py
Labels: size/XS

#23862 chore: Use nh3 lib instead of bleach
  requirements/base.txt
  setup.cfg
  setup.py
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset/reports/notifications/email.py
  superset/utils/core.py
  tests/unit_tests/notifications/email_tests.py
Labels: size/M

#23680 chore: bump wtforms and add missing flask-limiter
  requirements/base.txt
  requirements/testing.txt
  setup.py
  superset/connectors/sqla/views.py
  superset/views/database/forms.py
Labels: size/M

#23849 chore: Add Cypress tests for drill by
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/e2e/explore/utils.ts
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.tsx
  superset-frontend/src/components/Chart/DrillBy/useDisplayModeToggle.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset/examples/supported_charts_dashboard.py
  tests/integration_tests/superset_test_config.py
Labels: size/XL

#23860 fix(alerts): flaky test error
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Labels: size/S

#23872 fix(dremio): query with alias
  superset/db_engine_specs/dremio.py
Labels: size/XS

#23702 fix: npm run dev-server error resolved
  CONTRIBUTING.md
Labels: size/XS
