Repository apache/superset, pull requests merged in 2023-12, with the labels that each got.

#26136 feat: Adds legacy time support for Waterfall chart
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
Labels: size/S, v3.1

#26154 fix: set label on adhoc column should persist
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
Labels: size/L

#26129 docs: add quickstart
  docs/docs/api.mdx
  docs/docs/contributing/_category_.json
  docs/docs/databases/_category_.json
  docs/docs/frequently-asked-questions.mdx
  docs/docs/installation/_category_.json
  docs/docs/miscellaneous/_category_.json
  docs/docs/quickstart.mdx
  docs/docs/security/_category_.json
Labels: size/L

#26116 fix(database-import): Support importing a DB connection with a version set
  superset/databases/schemas.py
  tests/unit_tests/databases/commands/importers/v1/import_test.py
Labels: size/S

#25977 fix(sqllab): table preview has gone
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
Labels: size/S

#25894 fix(Alerts/Reports): allow use of ";" separator in slack recipient entry
  superset/reports/notifications/slack.py
  tests/unit_tests/reports/notifications/slack_tests.py
Labels: size/M

#26158 chore: Clean up the examples dashboards
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/tabs.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset/examples/configs/charts/Filter_Segments.yaml
  superset/examples/configs/charts/Filtering_Vaccines.yaml
  superset/examples/configs/charts/Vehicle_Sales_Filter.yaml
  superset/examples/configs/charts/Video_Game_Sales_Filter.yaml
  superset/examples/configs/dashboards/COVID_Vaccine_Dashboard.yaml
  superset/examples/configs/dashboards/FCC_New_Coder_Survey_2018.yaml
  superset/examples/configs/dashboards/Sales_Dashboard.yaml
  superset/examples/configs/dashboards/Video_Game_Sales.yaml
  superset/examples/misc_dashboard.py
  superset/examples/world_bank.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/dashboards/dao_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/utils_tests.py
Labels: size/XXL, v3.0, v3.1

#25533 fix(menu): Styling active menu in SPA navigation
  superset-frontend/src/features/home/Menu.tsx
Labels: size/M

#26161 feat: Create db_engine_spec ibmi.py
  superset/db_engine_specs/ibmi.py
Labels: size/S

#25878 fix(embedded): Hide sensitive payload data from guest users
  superset-frontend/src/hooks/apiResources/dashboards.ts
  superset/dashboards/schemas.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/M

#26150 docs: update CHANGELOG for 2.1.2
  CHANGELOG.md
Labels: size/S

#26196 feat(docker): Add ARM builds
  scripts/docker_build_push.sh
Labels: size/S, review-checkpoint

#26188 chore: Lower giveup log level for retried functions to warning
  superset/utils/retries.py
Labels: size/XS

#26207 fix: Includes 90° x-axis label rotation
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
Labels: size/XS

#26208 chore: Adds note about numerical x-axis
  UPDATING.md
Labels: size/XS

#26211 fix: support custom links in markdown
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
Labels: size/XS

#26199 fix(chart-filter): Avoid column denormalization if not enabled
  superset/datasource/api.py
  superset/models/helpers.py
Labels: size/S

#26215 fix(plugin-chart-echarts): support truncated numeric x-axis
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/utils/controls.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Bubble/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/controls.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L

#26224 fix: Use page.locator in Playwright reports
  superset/utils/webdriver.py
  superset/views/datasource/utils.py
Labels: size/M

#26082 chore: lock the databend-sqlalchemy version
  setup.py
Labels: size/XS

#26187 fix: bump pyarrow constraints (CVE-2023-47248)
  requirements/base.txt
  setup.py
Labels: size/XS, v3.0, v2.1, v3.1, 2.1.3

#26078 chore: add class component tasklist file
  scripts/generate_frontend_class_component_tasklist.js
Labels: size/M

#26243 fix(plugin-chart-echarts): undefined bounds for bubble chart
  superset-frontend/packages/superset-ui-core/src/chart/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Bubble/transformProps.test.ts
Labels: size/M

#26220 chore(tests): Add tests to the column denormalization flow
  tests/integration_tests/datasource/api_tests.py
Labels: size/M

#26251 chore: improve CSP add base uri restriction
  superset/config.py
Labels: size/XS, v3.0, v3.1

#26259 chore(async queries): sending statsd event for async events API call
  superset/async_events/api.py
Labels: size/XS

#26269 fix(plugin-chart-echarts): use scale for truncating x-axis
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/controls.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L, v3.0, v3.1

#26279 fix: Cannot expand initially hidden SQL Lab tab
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
Labels: size/XS, review-checkpoint

#26253 chore(docs): add troubleshooting guide to alerts & reports
  docs/docs/installation/alerts-reports.mdx
Labels: size/M

#26280 chore(in the wild): Making it even easer to add a name (and cleanup)
  RESOURCES/INTHEWILD.md
Labels: size/XS

#26285 chore(docs): fix typo "loader balancer" -> "load balancer"
  docs/docs/security/security.mdx
Labels: size/XS, review-checkpoint

#26284 fix: Revert "fix(sqllab): flaky json explore modal due to over-rendering (#26156)"
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset-frontend/src/SqlLab/components/QueryHistory/QueryHistory.test.tsx
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/Results.test.tsx
  superset-frontend/src/SqlLab/components/SouthPane/Results.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Labels: size/XL

#26288 chore: Ensure Mixins are ordered according to the MRO
  superset/connectors/sqla/models.py
  superset/databases/schemas.py
  superset/databases/ssh_tunnel/models.py
  superset/datasets/models.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/databend.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/key_value/models.py
  superset/migrations/versions/2016-06-27_08-43_27ae655e4247_make_creator_owners.py
  superset/migrations/versions/2018-07-26_11-10_c82ee8a39623_add_implicit_tags.py
  superset/migrations/versions/2020-09-28_17-57_b56500de1855_add_uuid_column_to_import_mixin.py
  superset/migrations/versions/2020-10-21_21-09_96e99fb176a0_add_import_mixing_to_saved_query.py
  superset/migrations/versions/2022-04-01_14-38_a9422eeaae74_new_dataset_models_take_2.py
  superset/models/dashboard.py
  superset/models/sql_lab.py
  superset/reports/models.py
  superset/tables/models.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/profile_tests.py
  tests/unit_tests/databases/schema_tests.py
Labels: size/M

#26293 chore(cleanup): removing redundant rendering logic in telemetry pixel
  superset-frontend/src/components/TelemetryPixel/index.tsx
Labels: size/XS

#26278 feat(releasing): adding SHA512 and RSA signature validation script to verify releases
  RELEASING/README.md
  RELEASING/validate_this_release.sh
  RELEASING/verify_release.py
  superset-frontend/package.json
Labels: size/L

#25967 fix(typings): model_id is a multiple option
  superset/cli/thumbnails.py
Labels: size/XS

#26301 chore(sqlalchemy): import from correct path
  superset/commands/dataset/importers/v1/utils.py
  superset/commands/importers/v1/examples.py
  superset/models/helpers.py
  superset/views/base_schemas.py
  superset/views/datasource/views.py
  superset/views/utils.py
Labels: size/S

#26287 chore: update changelog for 2.1.3
  CHANGELOG.md
Labels: size/S

#26308 docs: update CVEs fixed on 3.0.2 and 2.1.3
  docs/docs/security/cves.mdx
Labels: size/S

#26310 chore: Disables minor ticks by default
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
Labels: size/M, review-checkpoint

#26315 chore: Use WEBDRIVER_OPTION_ARGS with Playwright
  superset/utils/webdriver.py
Labels: size/XS

#26281 fix(sql lab): Use quote_schema instead of quote method to format schema name
  superset/db_engine_specs/base.py
Labels: size/XS

#26283 fix(redshift): convert_dttm method for redshift dataset and tests
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  tests/unit_tests/db_engine_specs/test_redshift.py
Labels: size/M

#26317 chore: Adds a tooltip for the alert's SQL input
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: size/S

#26340 fix(dashboard): Don't switch to first tab when directPathToChild changes
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/utils.ts
Labels: size/S

#26290 feat(echarts-funnel): Implement % calculation type
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
  superset/migrations/versions/2023-12-15_17-58_06dd9ff00fe8_add_percent_calculation_type_funnel_.py
Labels: size/L

#26324 fix(tagging): adding tags containing a “:” to dashboards
  superset-frontend/src/pages/Tags/index.tsx
  superset/daos/tag.py
  superset/tags/models.py
  tests/integration_tests/tags/dao_tests.py
Labels: size/M

#26326 fix(accessibility): Enable tabbing on sort header of table chart
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/S

#26333 fix(logging): Add logging of change_dashboard_filter event for native dashboard filters
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/XS

#26312 chore(Embedded): Avoid creating a filter key for guest users
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Labels: size/S

#26368 chore(docs): point to correct StackOverflow page
  CODE_OF_CONDUCT.md
  docs/docusaurus.config.js
Labels: size/S

#26371 docs: fix config webdriver snippet in install on K8s (##26370)
  docs/docs/installation/running-on-kubernetes.mdx
Labels: size/S

#26378 fix(databend): databend time grain expression
  superset/db_engine_specs/databend.py
Labels: size/S, v3.1

#26379 fix: Duplicated plugin registration
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/pages/ChartList/index.tsx
Labels: size/XS
