Repository apache/superset, pull requests merged in 2023-02, with the labels that each got.

#22854 feat(helm): Make Chart.AppVersion default value for image tag
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/S

#22501 chore: Migrate /superset/tables/* to API v1
  docs/static/resources/openapi.json
  superset-frontend/cypress-base/cypress/integration/sqllab/query.test.ts
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/hooks/apiResources/tables.test.ts
  superset-frontend/src/hooks/apiResources/tables.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset/constants.py
  superset/databases/api.py
  superset/databases/commands/exceptions.py
  superset/databases/commands/tables.py
  superset/databases/schemas.py
  superset/views/core.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
Labels: size/XL

#22940 fix: Remove button is broken for metrics on Explore
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.jsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: size/S

#22835 feat: Enable new dataset creation flow II
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/fixtures.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/Footer.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/types.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/dataset/styles.ts
  superset-frontend/src/views/CRUD/data/hooks.ts
  superset-frontend/src/views/components/RightMenu.test.tsx
  superset-frontend/src/views/components/RightMenu.tsx
  superset/views/datasource/views.py
Labels: size/XL, need:qa-review

#22944 fix(datasets): Fix property selection on JSON response
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
Labels: size/XS

#22915 test: Clean up AdhocFilterOption test warnings
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/AdhocFilterOption.test.tsx
Labels: size/S

#22927 chore: Bump Flask-AppBuilder constraints
  setup.py
Labels: size/XS

#22798 chore(welcome): change default last tab to "all"
  UPDATING.md
  superset/config.py
Labels: size/XS

#22945 fix(explore): Time comparison in Mixed Chart in GENERIC_CHART_AXES not working
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/buildQuery.test.ts
Labels: size/M

#22963 chore(superset-ui-chart-controls): refactor pivot and rename operator
  superset-frontend/packages/superset-ui-chart-controls/src/operators/pivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/timeComparePivotOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/pivotOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/renameOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/timeComparePivotOperator.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
Labels: size/L

#22896 fix(explore): unable to update linked charts
  superset/charts/commands/update.py
  superset/dao/base.py
  tests/integration_tests/charts/api_tests.py
  tests/unit_tests/datasets/dao/dao_tests.py
Labels: size/L

#22935 chore: add waitress for win32 platform
  setup.py
Labels: size/XS

#22943 fix(datasets): Include expression and description in duplicated dataset columns
  superset/datasets/commands/duplicate.py
Labels: size/XS

#22961 docs: add Caizin to the user list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#22970 test: Fix act errors in DatabaseList test
  superset-frontend/src/views/CRUD/data/database/DatabaseList.test.jsx
Labels: size/S

#22972 test: Clean up QueryList test warnings
  superset-frontend/src/views/CRUD/data/query/QueryList.test.tsx
Labels: size/XS

#22941 fix(native-filters): Don't include description icon in truncation calc
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
Labels: size/XS

#22982 fix: Prevents last temporal filter removal
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.jsx
Labels: size/L

#22984 fix(explore): Mark time range dashboard filter with warning icon
  superset-frontend/src/explore/controlUtils/getFormDataFromDashboardContext.test.ts
  superset-frontend/src/explore/controlUtils/getFormDataWithDashboardContext.ts
Labels: size/XS

#22988 docs(alerts & reports): clarify nature of "-dev" labeled container images
  docs/docs/installation/alerts-reports.mdx
Labels: size/XS

#22934 chore: bump python version to 3.8.16 in Dockerfile
  Dockerfile
  docs/docs/installation/installing-superset-from-scratch.mdx
Labels: size/XS

#22989 fix: Form data was not being passed to save/update slice
  superset-frontend/src/explore/components/SaveModal.tsx
Labels: size/S

#22967 feat(ssh_tunnel): SSH Tunnel Switch extension
  superset-frontend/packages/superset-ui-core/src/ui-overrides/ExtensionsRegistry.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SSHTunnelForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SSHTunnelSwitch.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/L

#22831 chore: Fix grammar
  superset/databases/api.py
Labels: size/XS

#22986 docs: added Orange inside the inthewild.md doc
  RESOURCES/INTHEWILD.md
Labels: size/XS

#22942 fix: add new config to allow for specific import data urls
  superset/config.py
  superset/datasets/commands/exceptions.py
  superset/datasets/commands/importers/v1/utils.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: size/L

#22947 fix: Make cte_alias a property of db engine spec
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/models/helpers.py
Labels: size/S

#22991 fix(migrations): Flask-Migrate output is not logged during alembic migrations #17991
  superset/migrations/alembic.ini
Labels: size/XS

#22471 fix(dashboard): export & import chart description and certification details
  superset/charts/schemas.py
  superset/models/slice.py
  tests/integration_tests/charts/commands_tests.py
Labels: size/S

#23005 chore: updating link to sandbox.js
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utilities/Shared_DeckGL.jsx
Labels: size/XS

#22990 fix(sqllab): clean unwanted scrollbar
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/XS

#22670 feat(datasets): Populate Usage tab in Edit Dataset view
  superset-frontend/spec/fixtures/mockCharts.ts
  superset-frontend/src/components/TruncatedList/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/types/Chart.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/EditDataset/UsageTab/UsageTab.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/EditDataset/UsageTab/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/EditDataset/index.tsx
Labels: size/XL

#23023 chore(tests): Cypress optimizations to help with fails
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
Labels: size/XS

#23020 fix(explore): Enable saving metric after changing title
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
Labels: size/S

#23025 fix: dataset import error message
  superset/commands/importers/v1/__init__.py
  superset/datasets/commands/exceptions.py
Labels: size/XS

#23006 fix(ssh_tunnel): Fix bug on database edition for databases with ssh tunnels
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/S

#22830 fix: Handles disabled options on Select All
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.tsx
Labels: size/L

#21720 fix(dashboard): Stop updating chart owners for charts removed from dashboard
  superset/dashboards/commands/update.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/M

#23051 docs(teradata): fix connection string
  docs/docs/databases/installing-database-drivers.mdx
  docs/docs/databases/teradata.mdx
Labels: size/XS

#23021 fix: Time Column on Generic X-axis
  superset-frontend/packages/superset-ui-core/src/query/buildQueryContext.ts
  superset-frontend/packages/superset-ui-core/test/query/buildQueryContext.test.ts
  superset-frontend/src/explore/components/SaveModal.tsx
  superset/common/query_context_factory.py
Labels: size/L

#22939 fix(i18n): improve Russian translation
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
Labels: size/XXL

#22968 fix(sqllab): Invalid schema fetch by deprecated value
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/hooks/apiResources/index.ts
  superset-frontend/src/hooks/apiResources/schemas.test.ts
  superset-frontend/src/hooks/apiResources/schemas.ts
  superset-frontend/src/hooks/apiResources/tables.test.ts
  superset-frontend/src/hooks/apiResources/tables.ts
Labels: size/XL

#23054 chore: Removes icon warnings from tests
  superset-frontend/spec/helpers/shim.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/QueryLimitSelect.test.tsx
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTag.test.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
  superset-frontend/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  superset-frontend/src/components/ListView/ListView.test.jsx
  superset-frontend/src/components/MessageToasts/Toast.test.jsx
  superset-frontend/src/components/PageHeaderWithActions/PageHeaderWithActions.test.tsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/components/ReportModal/ReportModal.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/TableView/TableView.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterOption/AdhocFilterOption.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/FastVizSwitcher.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.test.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.test.tsx
Labels: size/L

#23040 feat(sqllab): Add event logger
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/components/App/App.test.jsx
  superset-frontend/src/SqlLab/components/App/index.jsx
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/middleware/loggerMiddleware.js
Labels: size/M

#22957 chore(datasets): Refactor DatasetDAO update to leverage bulk logic for create, update, and delete operations
  superset/datasets/dao.py
Labels: size/L

#22444 chore: remove db_engines
  superset/db_engine_specs/hive.py
  superset/db_engines/__init__.py
  superset/db_engines/hive.py
Labels: size/L

#22713 feat(helm): allow persisting nodePort for services
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/service.yaml
  helm/superset/values.yaml
Labels: size/S

#23012 fix: cache warmup solution non legacy charts.
  superset/charts/commands/export.py
  superset/views/core.py
  tests/integration_tests/charts/commands_tests.py
Labels: size/M

#22486 docs: remove duplicate navbar item
  docs/docusaurus.config.js
Labels: size/XS

#22931 chore: Migrate get_or_create_table endpoint to api v1
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/index.tsx
  superset/connectors/sqla/views.py
  superset/datasets/api.py
  superset/datasets/dao.py
  superset/datasets/schemas.py
  superset/views/base.py
  superset/views/core.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
Labels: size/L

#22913 chore: Migrate /superset/csv/<client_id> to API v1
  docs/static/resources/openapi.json
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset/sqllab/api.py
  superset/sqllab/commands/export.py
  superset/views/core.py
  tests/integration_tests/sql_lab/api_tests.py
  tests/integration_tests/sql_lab/commands_tests.py
Labels: size/XL

#23083 fix: css template permissions for gamma role
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/S

#23081 chore(style): make brand icon max width customizable
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/views/components/Menu.tsx
Labels: size/XS

#22975 chore: Remove dependency warnings from SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
Labels: size/M

#22974 chore: Remove dependency warnings from SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
Labels: size/L

#22973 chore: Remove dependency warnings from DatasetList.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
Labels: size/XS

#22971 test: Convert DatasetList test from jsx to tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.test.tsx
Labels: size/XS

#22969 test: Clean up SelectAsyncControl test warnings
  superset-frontend/src/explore/components/controls/SelectAsyncControl/SelectAsyncControl.test.tsx
Labels: size/S

#23003 chore: move dashboard screenshot standalone logic
  superset/charts/api.py
  superset/cli/thumbnails.py
  superset/reports/commands/execute.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/tasks/thumbnails.py
  superset/utils/screenshots.py
  superset/utils/urls.py
  superset/utils/webdriver.py
  tests/integration_tests/cli_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/unit_tests/utils/urls_tests.py
Labels: size/L

#23093 fix: dict bug on QueryContextFactory
  superset/common/query_context_factory.py
Labels: size/XS

#23077 chore: Improve greeting message
  .github/workflows/welcome-new-users.yml
Labels: size/XS

#22903 chore: Updating connection URI for MS SQL Server
  docs/docs/databases/installing-database-drivers.mdx
Labels: size/XS

#23041 chore: increment statsd as warn
  superset/utils/decorators.py
  superset/views/base_api.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/utils/decorators_tests.py
  tests/unit_tests/utils/test_decorators.py
Labels: size/L

#23101 fix: removing pyproject.toml
  pyproject.toml
Labels: size/S

#23102 chore: change AlertQueryError to 400
  superset/reports/commands/exceptions.py
Labels: size/XS

#23107 fix: missing __init__ on module sqllab commands
  superset/sqllab/api.py
  superset/sqllab/commands/__init__.py
  superset/sqllab/commands/export.py
  superset/sqllab/commands/results.py
  superset/views/core.py
  tests/integration_tests/sql_lab/commands_tests.py
Labels: size/M

#23108 chore: Remove yarn.lock from the root folder
  yarn.lock
Labels: size/XS

#23113 chore(sqla): Address performance tradeoff with eager loading
  superset/connectors/sqla/models.py
Labels: size/XS

#23126 fix(ci): explicity set yaml Loader
  superset/examples/utils.py
Labels: size/XS

#22851 fix: Validate jinja rendered query
  superset/sqllab/commands/execute.py
  tests/integration_tests/sqllab_tests.py
Labels: size/M

#23096 fix: reorganize role permissions
  superset/queries/api.py
  superset/security/manager.py
  superset/sqllab/api.py
  tests/integration_tests/queries/api_tests.py
  tests/integration_tests/queries/saved_queries/api_tests.py
  tests/integration_tests/security_tests.py
Labels: size/M

#23143 feat: return UUID on database creation
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/databases/api.py
  superset/databases/schemas.py
  tests/unit_tests/databases/api_test.py
Labels: size/XS

#23131 chore: Add docs for ssh tunneling
  RESOURCES/FEATURE_FLAGS.md
  docs/docs/installation/setup-ssh-tunneling.mdx
Labels: size/S

#22886 feat: Enable cross fitlers in WorldMap and Graph charts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/transformProps.js
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Labels: size/L

#23158 chore: Bump cryptography to 39.0.1
  requirements/base.txt
  setup.py
Labels: size/XS

#23144 chore: revert "feat(native_filter_migration): add transition mode (#16992)"
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Chart/Chart.jsx
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/actions/sliceEntities.js
  superset-frontend/src/dashboard/actions/sliceEntities.test.js
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/SliceAdder.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/containers/SliceAdder.jsx
  superset-frontend/src/dashboard/util/filterboxMigrationHelper.test.ts
  superset-frontend/src/dashboard/util/filterboxMigrationHelper.ts
  superset-frontend/src/explore/constants.ts
  superset/config.py
  superset/views/dashboard/views.py
Labels: size/XL

#23160 build: Add helm chart option to deploy sidecars with node and worker
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/S

#23184 fix: bump FAB to 4.3.0
  requirements/base.txt
  setup.py
Labels: size/XS, v2.1

#23185 fix(clickhouse): add clickhouse connect driver
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
  tests/unit_tests/db_engine_specs/test_mssql.py
Labels: size/L, v2.1

#23192 fix(clickhouse): add missing default format
  superset/db_engine_specs/clickhouse.py
Labels: size/XS, v2.1

#23099 feat(ssh_tunnel): Import/Export Databases with SSHTunnel credentials
  docs/static/resources/openapi.json
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset/charts/api.py
  superset/commands/importers/v1/__init__.py
  superset/commands/importers/v1/assets.py
  superset/commands/importers/v1/utils.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/databases/commands/export.py
  superset/databases/commands/importers/v1/utils.py
  superset/databases/schemas.py
  superset/databases/ssh_tunnel/commands/exceptions.py
  superset/databases/ssh_tunnel/models.py
  superset/datasets/api.py
  superset/datasets/commands/export.py
  superset/importexport/api.py
  superset/queries/saved_queries/api.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/unit_tests/importexport/api_test.py
Labels: size/XXL

#23195 fix(ssh_tunnel): Display SSHTunnel Switch when editing a DB that was created with the Dynamic Form
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/L

#23196 fix(sshtunnel): argument params to properly setting `server_port`
  superset/extensions/ssh.py
Labels: size/XS

#23175 fix(ssh-tunnel): add password to `from_private_key` function
  superset/extensions/ssh.py
Labels: size/XS

#23130 fix: Pagination of VirtualTable
  superset-frontend/src/components/Table/VirtualTable.tsx
Labels: size/XS

#23190 fix(dashboard): Focusing charts and native filters from filters badge
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterOutlined.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCard.test.tsx
Labels: size/L

#23202 fix(docs): Change postgres to postgresql in brew install command
  docs/docs/installation/installing-superset-from-scratch.mdx
Labels: size/XS

#23203 test: Remove test playgrounds
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
Labels: size/XS

#23207 docs: fix typo
  docs/docs/creating-charts-dashboards/creating-your-first-dashboard.mdx
Labels: size/XS

#23138 feat: Cross Filters in FilterBar
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/FilterIndicator.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilter.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilter.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTitle.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTitle.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/VerticalCollapse.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/VerticalCollapse.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/styles.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Labels: size/XXL

#23215 fix(dashboard): Page crashing when cross filter applied on adhoc column
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Labels: size/M

#23139 fix: memoized decorator memory leak
  superset/connectors/sqla/utils.py
  superset/constants.py
  superset/jinja_context.py
  superset/migrations/versions/2020-04-29_09-24_620241d1153f_update_time_grain_sqla.py
  superset/models/core.py
  superset/models/datasource_access_request.py
  superset/models/slice.py
  superset/utils/date_parser.py
  superset/utils/memoized.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/memoized_tests.py
  tests/unit_tests/models/core_test.py
Labels: size/L

#23201 chore: adding code owners for github actions/workflows
  .github/CODEOWNERS
Labels: size/XS

#23225 chore: Add statsd logger for ssh tunneling creation
  superset/databases/commands/create.py
Labels: size/S

#23237 fix(dashboard): Don't show cross filters checkbox to users without write permissions
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
Labels: size/XS, v2.1
