Repository apache/superset, pull requests merged in 2023-09, with the labels that each got.

#20078 fix: Fixing untranslated FR strings
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/pt/LC_MESSAGES/message.json
Labels: size/L

#25160 chore: fix broken link to Celery worker docs
  superset/config.py
Labels: size/XS

#25159 fix: Sunburst chart error when secondary metric is null
  superset/viz.py
Labels: size/XS, v3.0

#25161 chore: Add a note about adhoc subqueries in UPDATING.md
  UPDATING.md
Labels: size/XS, v3.0

#25133 fix(sqllab): Invalid start date
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Labels: size/M, v3.0

#25156 fix: Applying Dashboard Time Range Filters to Overwritten Charts
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/actions/saveModalActions.test.js
Labels: size/M, v3.0

#25157 fix: Issue #24493; Resolved report selection menu in chart and dashboard page
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: size/S, v3.0

#25190 fix: DML failures in SQL Lab
  superset/sql_lab.py
Labels: size/S, v3.0

#25200 docs: fix wrong type in PREFERRED_DATABASES example
  docs/docs/databases/db-connection-ui.mdx
Labels: size/XS

#25206 docs: add CVEs for 2.1.1
  docs/docs/security/cves.mdx
Labels: size/M

#25165 chore: back port 2.1.1 doc changes
  CHANGELOG.md
  UPDATING.md
Labels: size/M

#24992 docs(FAQ): add answer re: necessary specs, copy-edit existing answer
  docs/docs/frequently-asked-questions.mdx
Labels: size/M

#25189 fix: `is_select`
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#25209 fix: Cypress test to force mouseover
  superset-frontend/cypress-base/cypress/e2e/explore/chart.test.js
Labels: size/XS, v3.0

#24859 fix(sqllab): Force trino client async execution
  superset/db_engine_specs/base.py
  superset/db_engine_specs/trino.py
  superset/sql_lab.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/sql_lab_test.py
Labels: size/L

#25213 fix: granularity_sqla and GENERIC_CHART_AXES
  superset/legacy.py
  tests/unit_tests/legacy_tests.py
Labels: size/L, merge-if-green, v3.0

#25177 chore: Convert deckgl class components to functional
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/DeckGLContainer.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/Multi.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/TooltipRow.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/factory.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/Geojson.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/Polygon.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/Screengrid.tsx
Labels: size/XXL

#25223 fix: Cypress test to force mouseover (follow-up)
  superset-frontend/cypress-base/cypress/e2e/explore/chart.test.js
Labels: size/XS, v3.0

#25216 fix(docs): Fixing a typo in README.md
  superset/db_engine_specs/README.md
Labels: size/XS

#25226 chore(read_csv): remove deprecated argument
  superset/templates/superset/form_view/csv_to_database_view/edit.html
  superset/views/database/forms.py
  superset/views/database/views.py
Labels: size/S

#25211 chore(trino): remove unnecessary index checks
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
Labels: size/S

#25238 fix: Clearing the currency format has no effect on the chart
  superset-frontend/src/explore/components/controls/CurrencyControl/CurrencyControl.tsx
Labels: size/XS

#25249 fix: Don't apply number formatting to the label in Treemap
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
Labels: size/XS

#25248 fix: Currency formatting in Table raw mode
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/utils/isEqualColumns.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
Labels: size/M, v3.0

#25251 fix(dockefile): broken docker image
  Dockerfile
Labels: size/XS

#24964 feat: Tags ListView Page
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/MetadataBar/ContentConfig.tsx
  superset-frontend/src/components/MetadataBar/ContentType.ts
  superset-frontend/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/components/Tags/Tag.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/features/tags/BulkTagModal.tsx
  superset-frontend/src/features/tags/TagModal.test.tsx
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/features/tags/tags.ts
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/AnnotationList/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/CssTemplateList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/ExecutionLogList/index.tsx
  superset-frontend/src/pages/QueryHistoryList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/daos/tag.py
  superset/tags/api.py
  superset/tags/commands/create.py
  superset/tags/exceptions.py
  superset/tags/schemas.py
  tests/integration_tests/tags/api_tests.py
Labels: size/XL

#25217 fix: inability to remove chart filter when dashboard time filter is applied
  superset-frontend/src/explore/actions/saveModalActions.js
  superset-frontend/src/explore/actions/saveModalActions.test.js
Labels: size/M

#25275 chore: Remove the ability to switch to filter-box chart when DASHBOARD_NATIVE_FILTERS feature is enabled
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Labels: size/S, v3.0

#25296 docs: rewrite superset docker localhost prose
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/XS

#25290 fix: is_select with UNION
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/S

#25287 build(docker): bump geckodriver and firefox to latest
  Dockerfile
Labels: size/XS

#25204 feat(datasource): Checkbox for always filtering main dttm in datasource
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/features/datasets/types.ts
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/dashboards/schemas.py
  superset/datasets/api.py
  superset/datasets/commands/duplicate.py
  superset/datasets/schemas.py
  superset/db_engine_specs/README.md
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/elasticsearch.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/lib.py
  superset/db_engine_specs/solr.py
  superset/migrations/versions/2023-09-06_13-18_317970b4400c_added_time_secondary_column_to_.py
  superset/models/helpers.py
  superset/views/datasource/schemas.py
  superset/views/datasource/views.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/unit_tests/datasets/commands/export_test.py
Labels: size/L

#25291 chore: changing one word (disablement -> disabling)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/docs/contributing/hooks-and-linting.mdx
Labels: size/XS

#25274 chore(sqllab): Migrate tests to typescript
  superset-frontend/src/SqlLab/components/HighlightedSql/HighlightedSql.test.jsx
  superset-frontend/src/SqlLab/components/HighlightedSql/HighlightedSql.test.tsx
  superset-frontend/src/SqlLab/components/QueryStateLabel/QueryStateLabel.test.tsx
  superset-frontend/src/SqlLab/components/QueryStateLabel/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/QueryTable.test.tsx
Labels: size/L

#25324 docs: add ReadyTech to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#25229 fix: Use RLS clause instead of ID for cache key
  superset/security/manager.py
  tests/integration_tests/security/row_level_security_tests.py
Labels: size/M

#25312 docs: add snowflake-sqlalchemy in ./docker/requirements-local.txt
  docs/docs/databases/snowflake.mdx
Labels: size/XS

#25280 feat(helm): Support HPA for supersetNode and supersetWorker
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/hpa-node.yaml
  helm/superset/templates/hpa-worker.yaml
  helm/superset/values.yaml
Labels: size/L

#24928 docs: jwks_uri addition to OAUTH provider
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS

#25239 fix: Improve the reliability of alerts & reports
  superset/config.py
  superset/tasks/cron_util.py
  superset/tasks/scheduler.py
  tests/unit_tests/tasks/test_cron_util.py
Labels: size/L

#25304 feat: Adds CLI commands to execute viz migrations
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/base.py
  superset/migrations/versions/2022-07-07_13-00_c747c78868b6_migrating_legacy_treemap.py
  superset/migrations/versions/2022-07-07_14-00_06e1e70058c7_migrating_legacy_area.py
  superset/migrations/versions/2023-06-08_09-02_9ba2ce3086e5_migrate_pivot_table_v1_to_v2.py
  superset/migrations/versions/2023-06-08_10-22_4c5da39be729_migrate_treemap_chart.py
  superset/migrations/versions/2023-06-08_11-34_ae58e1e58e5c_migrate_dual_line_to_mixed_chart.py
Labels: size/L

#25308 fix(sqllab): invalid persisted tab state
  superset/sqllab/utils.py
  tests/integration_tests/sql_lab/api_tests.py
Labels: size/M, v3.0

#25349 fix: DashboardRoles cascade operation
  superset/models/dashboard.py
Labels: size/XS, v3.0

#25345 feat(sqllab): extra logging when chart is downloaded
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/logger/LogUtils.ts
Labels: size/M

#25360 chore: Adds 3.0 data to CHANGELOG and UPDATING
  CHANGELOG.md
  UPDATING.md
Labels: size/XL, review-checkpoint

#25361 fix: update helm chart app version
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS

#25343 feat: Adds Sunburst chart migration logic
  superset-frontend/plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/processors.py
Labels: size/S

#25399 fix: Workaround for Cypress ECONNRESET error
  superset-frontend/cypress-base/cypress.config.ts
Labels: size/S

#25362 chore: upgrade node to most recent 16.x
  superset-frontend/.nvmrc
  superset-frontend/package.json
Labels: size/XS

#25398 fix(sqllab): invalid persisted tab state (#25308)
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: size/M, review-checkpoint

#25106 fix: preventing save button from flickering in SQL Lab
  superset-frontend/src/SqlLab/components/SaveQuery/SaveQuery.test.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
Labels: size/M

#25424 fix: Rename on_delete parameter to ondelete
  superset/models/dashboard.py
Labels: size/XS, v3.0

#25276 chore: cryptography version bump
  requirements/base.txt
  setup.py
Labels: size/XS

#25425 fix: chart import
  superset/charts/commands/importers/v1/utils.py
  tests/unit_tests/charts/commands/importers/v1/utils_test.py
Labels: size/XS

#25368 fix: swagger UI CSP error
  requirements/base.txt
  setup.py
  superset/config.py
Labels: size/XS, v3.0

#25404 fix: smarter date formatter
  superset-frontend/jest.config.js
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/finestTemporalGrain.test.ts
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/finestTemporalGrain.ts
  superset-frontend/packages/superset-ui-core/src/time-format/index.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/L

#25437 fix(sqllab): invalid start date
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/hooks/apiResources/sqlLab.ts
Labels: size/M, v3.0

#25282 fix(nativeFilters): Speed up native filters by removing unnecessary rerenders
  superset-frontend/packages/superset-ui-core/src/chart/types/Base.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dataMask/reducer.ts
Labels: size/S

#25372 fix(SqlLab): make icon placement even
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
Labels: size/XS

#25447 fix: Duplicate items when pasting into Select
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.tsx
Labels: size/L, v3.0, review-checkpoint

#25445 fix: update the SQLAlchemy model definition at json column for Log table
  superset/models/core.py
Labels: size/XS, v3.0

#25373 fix(helm chart): set chart appVersion to 3.0.0
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS, v3.0, review-checkpoint

#25453 chore(docs): Spelling
  docs/docs/api.mdx
  docs/docs/contributing/translations.mdx
  docs/docs/contributing/types-of-contributions.mdx
  docs/docs/creating-charts-dashboards/creating-your-first-dashboard.mdx
  docs/docs/databases/snowflake.mdx
  docs/docs/databases/sql-server.mdx
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/installation/setup-ssh-tunneling.mdx
  docs/docs/miscellaneous/chart-params.mdx
  docs/docs/miscellaneous/issue-codes.mdx
Labels: size/M

#25456 chore(misc): Spelling
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/sip.md
  .github/workflows/chromatic-master.yml
  .github/workflows/codecov.sh
  .github/workflows/prefer-typescript.yml
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASING/README.md
  RELEASING/release-notes-2-0/README.md
  RELEASING/release-notes-2-0/changelog.md
  UPDATING.md
  docker/docker-entrypoint-initdb.d/examples-init.sh
  scripts/generate_frontend_ts_tasklist.js
  superset-embedded-sdk/CONTRIBUTING.md
Labels: size/L

#25457 chore(backend): Spelling
  superset/advanced_data_type/plugins/internet_address.py
  superset/advanced_data_type/plugins/internet_port.py
  superset/advanced_data_type/types.py
  superset/charts/schemas.py
  superset/cli/test_db.py
  superset/columns/models.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/daos/report.py
  superset/dashboards/permalink/schemas.py
  superset/dashboards/schemas.py
  superset/databases/decorators.py
  superset/datasets/commands/create.py
  superset/db_engine_specs/README.md
  superset/db_engine_specs/base.py
  superset/db_engine_specs/lib.py
  superset/errors.py
  superset/examples/configs/charts/Messages_per_Channel.yaml
  superset/examples/configs/dashboards/Slack_Dashboard.yaml
  superset/models/dashboard.py
  superset/models/user_attributes.py
  superset/reports/schemas.py
  superset/security/manager.py
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/utils/core.py
  superset/utils/dashboard_filter_scopes_converter.py
  superset/utils/webdriver.py
  superset/views/base.py
  superset/viz.py
Labels: size/L

#24241 fix(mysql): handle string typed decimal results
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Labels: size/M

#25468 fix: Styles not loading because of faulty CSP setting
  superset/config.py
Labels: size/S

#25403 fix: Tags Page Polish
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset/daos/tag.py
  superset/tags/schemas.py
Labels: size/L

#25469 fix(sqllab): error with lazy_gettext for tab titles
  superset/views/sql_lab/views.py
Labels: size/XS

#25465 chore(misc): Typos in config.py
  superset/config.py
Labels: size/XS, merge-if-green, review-checkpoint

#25438 chore: Update Explore tooltip copy
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/metrics.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/M

#25435 docs(FAQ): remove reference to filter box, add Q&A re: usage analytics
  docs/docs/frequently-asked-questions.mdx
Labels: size/M

#24927 fix(Indian Map Changes): fixed-Indian-map-border
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/india.geojson
Labels: size/XXL
