Repository apache/superset, pull requests merged in 2023-01, with the labels that each got.

#22563 fix(websocket): bump ts-node to fix startup error
  .github/workflows/superset-websocket.yml
  superset-websocket/.nvmrc
  superset-websocket/README.md
  superset-websocket/package-lock.json
  superset-websocket/package.json
Labels: size/XS

#22567 fix(cypress): make test chart time range deterministic
  superset/examples/birth_names.py
Labels: size/XS

#22565 fix(explore): support saving undefined time grain
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset/db_engine_specs/base.py
Labels: size/S

#22199 feat(ssh_tunnel): APIs for SSH Tunnels
  superset/constants.py
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/databases/commands/update.py
  superset/databases/schemas.py
  superset/databases/ssh_tunnel/commands/create.py
  superset/databases/ssh_tunnel/models.py
  superset/utils/ssh_tunnel.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/databases/api_test.py
Labels: size/XL

#21912 feat(ssh-tunnelling): Setup SSH Tunneling Commands for Database Connections
  requirements/base.txt
  setup.py
  superset/config.py
  superset/constants.py
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/databases/commands/test_connection.py
  superset/databases/commands/update.py
  superset/databases/dao.py
  superset/databases/schemas.py
  superset/databases/ssh_tunnel/__init__.py
  superset/databases/ssh_tunnel/commands/__init__.py
  superset/databases/ssh_tunnel/commands/create.py
  superset/databases/ssh_tunnel/commands/delete.py
  superset/databases/ssh_tunnel/commands/exceptions.py
  superset/databases/ssh_tunnel/commands/update.py
  superset/databases/ssh_tunnel/dao.py
  superset/databases/ssh_tunnel/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/extensions/__init__.py
  superset/extensions/ssh.py
  superset/initialization/__init__.py
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
  superset/models/core.py
  superset/utils/ssh_tunnel.py
  tests/conftest.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/ssh_tunnel/__init__.py
  tests/integration_tests/databases/ssh_tunnel/commands/__init__.py
  tests/integration_tests/databases/ssh_tunnel/commands/commands_tests.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/databases/dao/__init__.py
  tests/unit_tests/databases/dao/dao_tests.py
  tests/unit_tests/databases/ssh_tunnel/__init__.py
  tests/unit_tests/databases/ssh_tunnel/commands/__init__.py
  tests/unit_tests/databases/ssh_tunnel/commands/create_test.py
  tests/unit_tests/databases/ssh_tunnel/commands/delete_test.py
  tests/unit_tests/databases/ssh_tunnel/commands/update_test.py
  tests/unit_tests/databases/ssh_tunnel/dao_tests.py
Labels: size/XXL

#22363 chore: Use visibilityToggle prop to control password input visibility
  superset-frontend/src/components/Form/LabeledErrorBoundInput.test.jsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
Labels: size/S

#22572 chore: upgrade interweave
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/MessageToasts/Toast.tsx
Labels: size/XS

#22573 chore: upgrade react-ace
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-chart-controls/package.json
  superset-frontend/plugins/plugin-chart-handlebars/package.json
Labels: size/S

#22583 chore: upgrade react-checkbox-tree
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/XS

#22597 chore: adding missing examples in the gallery for several chart types
  superset-frontend/plugins/legacy-plugin-chart-event-flow/src/images/example.jpg
  superset-frontend/plugins/legacy-plugin-chart-event-flow/src/index.ts
  superset-frontend/plugins/legacy-plugin-chart-event-flow/src/types/external.d.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/src/images/example1.jpg
  superset-frontend/plugins/legacy-plugin-chart-rose/src/images/example2.jpg
  superset-frontend/plugins/legacy-plugin-chart-rose/src/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DualLine/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/LineMulti/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/images/example.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/images/example1.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/images/example2.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/images/example.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/images/example1.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/images/example2.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-handlebars/src/images/example1.jpg
  superset-frontend/plugins/plugin-chart-handlebars/src/images/example2.jpg
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/index.ts
  superset-frontend/plugins/plugin-chart-handlebars/types/external.d.ts
  superset-frontend/src/visualizations/FilterBox/FilterBoxChartPlugin.js
  superset-frontend/src/visualizations/FilterBox/images/example1.jpg
  superset-frontend/src/visualizations/FilterBox/images/example2.jpg
Labels: size/S

#22589 feat(chart): Added Papua New Guinea to countries map
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/papua new guinea.geojson
Labels: size/M

#22526 feat(rbac): add customizable related filters
  superset/config.py
  superset/dashboards/api.py
  superset/views/filters.py
  tests/integration_tests/base_api_tests.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/L

#22591 fix: Talisman configuration
  superset/initialization/__init__.py
Labels: size/S, v1.5, v2.0.2

#22541 feat(helm): add deploymentLabels variable
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/S

#22358 fix: dashboard get by id or slug access filter
  superset/dashboards/dao.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/dao_tests.py
  tests/integration_tests/dashboards/filter_state/api_tests.py
  tests/integration_tests/dashboards/permalink/api_tests.py
Labels: size/L

#22586 fix: adding extraConfig to celery beat deployment
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-beat.yaml
Labels: size/S

#21772 fix: change example comment to match type
  superset/config.py
Labels: size/XS

#22581 fix(ssh-tunnel): fix dataset creation flow through modal for DB with tunnel
  superset/models/core.py
  tests/integration_tests/core_tests.py
Labels: size/M

#22457 fix(dashboard): Add runtime safety checks and improved tests
  superset-frontend/src/dashboard/reducers/dashboardLayout.js
  superset-frontend/src/dashboard/reducers/dashboardLayout.test.js
  superset-frontend/src/dashboard/util/findParentId.js
  superset-frontend/src/dashboard/util/findParentId.test.ts
  superset-frontend/src/dashboard/util/findParentId.ts
Labels: size/L

#22443 fix: change type of slack error
  superset/reports/notifications/slack.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/M

#22628 fix: stringify ValueErrors for NaT types
  superset/result_set.py
  tests/unit_tests/dataframe_test.py
  tests/unit_tests/result_set_test.py
Labels: size/M

#22517 chore: adjusting Alerts & reports docs to use the latest chromedriver
  docs/docs/installation/alerts-reports.mdx
Labels: size/XS

#22615 chore: bump sqloxide to 0.1.30
  requirements/development.txt
Labels: size/XS

#21325 feat(db_engine_specs): big query cost estimation
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/ExtraOptions.tsx
  superset/config.py
  superset/db_engine_specs/bigquery.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.json
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/L

#22355 chore: Bump flask libs
  requirements/base.txt
  setup.py
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset/views/core.py
  tests/integration_tests/conftest.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/thumbnails_tests.py
Labels: size/M

#22648 fix(dashboard): Add safety checks to areas that throw runtime errors in dashboard filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.ts
Labels: size/XXL

#22646 chore: upgrade use-immer
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#22645 chore: upgrade react-window
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#22325 feat(RLS): RESTful apis and react view for RLS
  UPDATING.md
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityList.test.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityList.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityModal.test.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityModal.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/constants.ts
  superset-frontend/src/views/CRUD/rowlevelsecurity/types.ts
  superset-frontend/src/views/routes.tsx
  superset/config.py
  superset/connectors/sqla/views.py
  superset/dao/base.py
  superset/initialization/__init__.py
  superset/row_level_security/api.py
  superset/row_level_security/commands/__init__.py
  superset/row_level_security/commands/bulk_delete.py
  superset/row_level_security/commands/create.py
  superset/row_level_security/commands/exceptions.py
  superset/row_level_security/commands/update.py
  superset/row_level_security/dao.py
  superset/row_level_security/schemas.py
  tests/integration_tests/security/row_level_security_tests.py
Labels: size/XXL

#22635 fix: Stop query in SQL Lab with impala engine
  superset/config.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/views/core.py
Labels: size/L

#22588 feat(dashboard): Display a loading spinner while dashboard is being saved
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/types.ts
Labels: size/M

#22663 fix(dockerfile): fix "unhealthy" container state
  Dockerfile
Labels: size/XS

#22658 fix(viz-gallery): respect denylist in viz gallery
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/spec/helpers/setup.ts
  superset-frontend/src/SqlLab/App.jsx
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
  superset-frontend/src/addSlice/AddSliceContainer.test.tsx
  superset-frontend/src/addSlice/AddSliceContainer.tsx
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/middleware/asyncEvent.ts
  superset-frontend/src/preamble.ts
  superset-frontend/src/profile/App.tsx
  superset-frontend/src/profile/components/App.tsx
  superset-frontend/src/profile/components/CreatedContent.tsx
  superset-frontend/src/profile/components/Favorites.tsx
  superset-frontend/src/profile/components/RecentActivity.tsx
  superset-frontend/src/profile/components/Security.tsx
  superset-frontend/src/profile/components/UserInfo.tsx
  superset-frontend/src/showSavedQuery/index.jsx
  superset-frontend/src/utils/getBootstrapData.ts
  superset-frontend/src/utils/hostNamesConfig.js
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/CRUD/chart/ChartList.tsx
  superset-frontend/src/views/CRUD/dashboard/DashboardList.tsx
  superset-frontend/src/views/RootContextProviders.tsx
  superset-frontend/src/views/menu.tsx
  superset-frontend/src/views/store.ts
  superset/views/base.py
Labels: size/L

#19779 feat: make CTA text in Alerts & Reports mails configurable
  superset/config.py
  superset/reports/notifications/email.py
Labels: size/XS

#22676 chore(embedded): bump package versions
  superset-embedded-sdk/package.json
  superset-frontend/packages/superset-ui-switchboard/package.json
Labels: size/XS

#22669 docs: Add Careem to the user's list
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#22666 chore: Add KarrotPay in INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#22682 fix(nav): make doc and bug buttons customizable
  superset-frontend/src/types/bootstrapTypes.ts
  superset-frontend/src/views/components/RightMenu.tsx
  superset/config.py
  superset/templates/appbuilder/navbar_right.html
  superset/views/base.py
Labels: size/L

#22609 fix(sqllab): Overflow bigint in json-tree view
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/M

#22513 feat(ssh_tunnel): SQLAlchemy Form UI
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SSHTunnelForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/databases/api.py
  superset/databases/commands/test_connection.py
  superset/databases/schemas.py
  superset/databases/ssh_tunnel/commands/update.py
  superset/databases/ssh_tunnel/dao.py
  superset/databases/ssh_tunnel/models.py
  superset/db_engine_specs/base.py
  superset/utils/ssh_tunnel.py
  tests/integration_tests/databases/api_tests.py
Labels: size/XL

#22596 chore: upgrade react-redux
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS

#22694 chore(superset-ui): bump superset-ui-chart-controls and plugin-chart-handlebars back to version 0.18.25
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-chart-controls/package.json
  superset-frontend/plugins/plugin-chart-handlebars/package.json
Labels: size/XS

#22692 docs: add city of Ann Arbor to INTHEWILD
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#22462 fix(embed): fix server error due to breaking change on flask-login
  superset/embedded/view.py
  superset/views/dashboard/views.py
  tests/integration_tests/embedded/test_view.py
Labels: size/M

#21645 feat(charts): allow query mutator to update queries after splitting original sql
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/models/core.py
Labels: size/M

#22688 fix: alert modal bug fix
  superset-frontend/src/components/Select/AsyncSelect.tsx
Labels: size/S

#22230 chore: Move charts to src/pages folder
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/pages/ChartList/ChartCard.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.jsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/views/CRUD/chart/types.ts
  superset-frontend/src/views/CRUD/welcome/ChartTable.tsx
  superset-frontend/src/views/routes.tsx
Labels: size/M

#22668 chore: Swapping main superset images for more current versions
  docs/src/pages/index.tsx
  docs/static/img/dashboard.jpg
  docs/static/img/dashboard3.png
  docs/static/img/explore.jpg
  docs/static/img/explorer5.jpg
  docs/static/img/sql_lab.jpg
  docs/static/img/sqllab5.jpg
Labels: size/XS

#22631 chore: using bitly to manage expiring Slack invitation links
  CODE_OF_CONDUCT.md
  README.md
  docs/docs/contributing/contributing-page.mdx
  docs/docusaurus.config.js
  docs/src/pages/community.tsx
Labels: size/S

#22625 feat: Add logging for ssh tunneling test_connection attempts
  superset/databases/commands/test_connection.py
  superset/db_engine_specs/impala.py
  superset/models/helpers.py
  tests/unit_tests/databases/commands/test_connection_test.py
Labels: size/M

#22709 fix: Spacing in alert modal
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
Labels: size/M

#22687 docs(caching): Restructure and improve caching docs
  docs/docs/installation/cache.mdx
Labels: size/M

#22710 docs(k8s): add note about authlib requirement to oauth setup example
  docs/docs/installation/running-on-kubernetes.mdx
Labels: size/XS

#22712 docs(k8s): add note about database driver dependencies to k8s setup
  docs/docs/installation/running-on-kubernetes.mdx
Labels: size/S

#22718 docs: add Mainstrat to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#22720 fix: bootstraping frontend
  superset-frontend/src/middleware/asyncEvent.ts
Labels: size/XS

#22693 fix(explore): Restore missing dataset states
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
Labels: size/M

#22706 docs: add Swile to users list
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#22499 chore(celery) & docs(celery): update celery config variables names
  CONTRIBUTING.md
  docker/docker-bootstrap.sh
  docker/pythonpath_dev/superset_config.py
  superset/config.py
Labels: size/S

#22721 chore: Adds 1.5.3 release to CHANGELOG.md and UPDATING.md
  CHANGELOG.md
  UPDATING.md
Labels: size/M

#22711 docs(security): clarify CSP requirements and provide example TALISMAN_CONFIG
  docs/docs/security.mdx
Labels: size/M

#22716 fix(helm): remove config overrides for CSRF
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
Labels: size/S

#22671 fix: remove whitespace from http_path for databricks
  superset/db_engine_specs/databricks.py
  tests/unit_tests/db_engine_specs/test_databricks.py
Labels: size/S

#21185 fix(async-queries): make global async. queries cookie SameSite option configurable
  CONTRIBUTING.md
  superset/config.py
  superset/utils/async_query_manager.py
Labels: size/S

#22742 chore: Use redis 7 on tests and pin on local dev and non-dev
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  docker-compose-non-dev.yml
  docker-compose.yml
Labels: size/S

#22737 feat: Updates button styles of Modal pre-defined functions
  superset-frontend/.storybook/preview.jsx
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/components/Modal/Modal.stories.tsx
  superset-frontend/src/components/Modal/Modal.tsx
Labels: size/M

#22753 chore: re add upload tests
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/L

#22698 fix: change order of webdriver timeout checks
  superset/utils/webdriver.py
  tests/integration_tests/thumbnails_tests.py
Labels: size/S

#22614 fix: Report screenshot cut off on left and right sides
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset/utils/screenshots.py
Labels: size/S

#22727 fix: pass in slack error messages properly
  superset/reports/notifications/slack.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/M

#22763 fix(ssh-tunnel): wrap pkey into StringIO buffer before creating the tunnel
  superset/extensions/ssh.py
Labels: size/XS

#16926 fix: Read MAPBOX_API_KEY from environment
  docker/.env
  docker/.env-non-dev
  docs/docs/frequently-asked-questions.mdx
Labels: size/XS

#22723 feat(ssh_tunnel): Rename allow_ssh_tunneling and change the default value to False
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/database/types.ts
  superset/databases/api.py
  superset/db_engine_specs/athena.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/postgres.py
  tests/integration_tests/databases/api_tests.py
Labels: size/M

#22084 feat: Select all for synchronous select
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/CustomTag.tsx
  superset-frontend/src/components/Select/Select.stories.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Labels: size/L

#22764 fix(ssh-tunnel): update fields for open tunnel with private + private key passwords
  superset/extensions/ssh.py
Labels: size/XS

#22766 chore: adding missing examples in the gallery for some chart types
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/images/example1.jpg
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/images/example2.jpg
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-partition/src/images/example.jpg
  superset-frontend/plugins/legacy-plugin-chart-partition/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-pivot-table/src/images/example.jpg
  superset-frontend/plugins/legacy-plugin-chart-pivot-table/src/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/images/example.jpg
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/images/example.jpg
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/index.ts
  superset-frontend/plugins/plugin-chart-pivot-table/types/external.d.ts
  superset-frontend/src/visualizations/TimeTable/images/example.jpg
  superset-frontend/src/visualizations/TimeTable/index.ts
Labels: size/S

#22415 chore(translation): add missing Russian translation, add plural forms
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
Labels: size/XXL

#22782 chore(ci): fix numpy type errors and revert #22610
  setup.cfg
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/AddDataset.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/fixtures.ts
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/DatasetPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/Footer.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/Footer/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/index.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDataset/types.tsx
  superset-frontend/src/views/CRUD/data/dataset/AddDatasetModal.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetLayout/DatasetLayout.test.tsx
  superset-frontend/src/views/CRUD/data/dataset/DatasetList.tsx
  superset-frontend/src/views/CRUD/data/hooks.ts
  superset-frontend/src/views/components/RightMenu.test.tsx
  superset-frontend/src/views/components/RightMenu.tsx
  superset/db_engine_specs/hive.py
  superset/reports/commands/alert.py
  superset/result_set.py
  superset/utils/pandas_postprocessing/boxplot.py
  superset/utils/pandas_postprocessing/flatten.py
  superset/utils/pandas_postprocessing/utils.py
  superset/views/datasource/views.py
Labels: size/XL

#22707 feat: Generic X-axis improvements
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigurePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: size/L

#22776 feat: Adds a separator to Select All option
  superset-frontend/.storybook/preview.jsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
Labels: size/XS

#22771 chore(logging): add health checks to statsd
  superset/views/health.py
Labels: size/S

#22689 feat: add ssh tunneling to dynamic form for Database Connection UI
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SSHTunnelForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/L

#22793 chore(dashboard): Log events for download as image
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/logger/LogUtils.ts
Labels: size/S

#22796 docs: link docker readme in docker config section
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/XS

#22413 chore: Add explicit bidirectional performant relationships for SQLA model
  superset/connectors/sqla/models.py
  superset/datasets/api.py
  superset/examples/birth_names.py
  superset/models/dashboard.py
  superset/models/helpers.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/M

#22792 fix: better logic to extract errors on databricks
  superset/db_engine_specs/databricks.py
  tests/unit_tests/db_engine_specs/test_databricks.py
Labels: size/M

#22794 fix(hive): Regression in #21794
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  tests/integration_tests/db_engine_specs/hive_tests.py
Labels: size/M

#22814 fix: Unexpected error on simple filter
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/M

#22770 feat(docker): Build multiple python version images
  .github/workflows/docker_build_push.sh
Labels: size/S

#22807 fix: allow CSV upload in Other db
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/XS

#22516 chore: Convert direct uses of antd icons to 'Icons' component
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.test.jsx
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/ListView/ListView.test.jsx
  superset-frontend/src/components/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/components/ReportModal/ReportModal.test.tsx
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/FilterIndicator.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/EditSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterSets/FilterSetUnit.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/TableCatalog.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/styles.ts
Labels: size/L

#22813 fix(sqllab): type error on renderBigIntStr
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/S

#22827 feat(helm): Add ability to customize affinity per deployment
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/L

#22617 chore(issue templates): discouraging Issues for feature requests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/sip.md
  CONTRIBUTING.md
  docs/docs/contributing/types-of-contributions.mdx
Labels: size/M

#20872 docs(alerts & reports): add, prune, reorganize
  docs/docs/installation/alerts-reports.mdx
Labels: size/L, v2.0, v2.0.1

#22844 chore(tests): Streamline Cypress login to fix fails/flakes
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/alerts.test.ts
  superset-frontend/cypress-base/cypress/integration/alerts_and_reports/reports.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/chartlist.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/_skip.controls.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/_skip.filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/_skip.key_value.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/_skip.url_params.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/dashboard.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/load.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard/tabs.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/dashboardlist.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/filter.test.ts
  superset-frontend/cypress-base/cypress/integration/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/integration/database/modal.test.ts
  superset-frontend/cypress-base/cypress/integration/dataset/dataset_list.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/AdhocMetrics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/_skip.AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/annotations.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/control.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/explore.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/filter_box.test.js
  superset-frontend/cypress-base/cypress/integration/explore/link.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/area.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/big_number.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/big_number_total.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/bubble.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/compare.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/dist_bar.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/download_chart.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/dual_line.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/gauge.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/graph.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/histogram.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/line.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pie.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/pivot_table.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/sankey.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/sunburst.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/table.test.ts
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/time_table.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/treemap.test.js
  superset-frontend/cypress-base/cypress/integration/explore/visualizations/world_map.test.js
  superset-frontend/cypress-base/cypress/integration/sqllab/_skip.sourcePanel.index.test.js
  superset-frontend/cypress-base/cypress/integration/sqllab/query.test.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/sqllab.applitools.test.ts
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
  superset-frontend/cypress-base/cypress/support/index.d.ts
  superset-frontend/cypress-base/cypress/support/index.ts
Labels: size/L

#22806 feat: export/import `allow_dml` flag
  superset/databases/schemas.py
  superset/models/core.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/unit_tests/databases/commands/importers/v1/import_test.py
  tests/unit_tests/datasets/commands/export_test.py
Labels: size/S

#22481 chore: update changelog
  CHANGELOG.md
  UPDATING.md
Labels: size/M

#22789 chore: Migrate /superset/recent_activity/<user_id>/ to /api/v1/
  superset-frontend/src/profile/components/RecentActivity.tsx
  superset-frontend/src/profile/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
  superset-frontend/src/views/CRUD/welcome/ActivityTable.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.test.tsx
  superset-frontend/src/views/CRUD/welcome/Welcome.tsx
  superset/models/dashboard.py
  superset/models/slice.py
  superset/views/core.py
  superset/views/log/api.py
  superset/views/log/dao.py
  superset/views/log/schemas.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/dashboard_utils.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/security/security_dataset_tests.py
  tests/integration_tests/log_api_tests.py
Labels: size/XL

#22845 test: Fix act errors in DatasourceControl test
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
Labels: size/S

#22846 test: Fix act errors in DatabaseModal test
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.test.tsx
Labels: size/M

#22791 fix(cpq): Add `schema` to Query.data() payload
  superset/models/sql_lab.py
Labels: size/XS

#22453 fix(Annotation Layers): Error when render options with renamed columns
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
Labels: size/S

#19678 chore(misc): Spelling
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  docs/static/resources/openapi.json
  scripts/cancel_github_workflows.py
  scripts/permissions_cleanup.py
  scripts/python_tests.sh
  scripts/tests/run.sh
  superset-websocket/spec/index.test.ts
  superset-websocket/utils/client-ws-app/views/index.pug
  superset/utils/core.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/csv_upload_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/reports/api_tests.py
  tests/integration_tests/sqllab_tests.py
  tests/unit_tests/charts/test_post_processing.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#22865 docs(cache): update doc strings
  superset/tasks/cache.py
Labels: size/XS

#22852 chore: removing unnecessary double spaces, a.k.a. "shotgun holes"
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/src/components/DeprecatedSelect/OnPasteSelect.test.jsx
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.ts
  superset-frontend/src/explore/controlPanels/sections.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset/migrations/versions/2018-07-05_15-19_3dda56f1c4c6_migrate_num_period_compare_and_period_.py
  superset/utils/core.py
  superset/views/database/mixins.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
  tests/unit_tests/utils/date_parser_tests.py
Labels: size/M

#22872 fix: Convert TIMESTAMP_* to TIMESTAMP in Snowflake
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset/db_engine_specs/snowflake.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
Labels: size/XS

#22861 fix(sqllab): reverts #22695
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.jsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/hooks/useQueryEditor/index.ts
  superset-frontend/src/SqlLab/hooks/useQueryEditor/useQueryEditor.test.ts
  superset-frontend/src/SqlLab/types.ts
Labels: size/L

#22805 feat(ssh_tunnel): Add feature flag to SSH Tunnel API
  superset/databases/api.py
  superset/databases/commands/create.py
  superset/databases/commands/test_connection.py
  superset/databases/commands/update.py
  superset/databases/ssh_tunnel/commands/delete.py
  superset/databases/ssh_tunnel/commands/exceptions.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/ssh_tunnel/commands/commands_tests.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/databases/ssh_tunnel/commands/delete_test.py
Labels: size/L

#22818 fix: revert RESTful apis and react view for RLS
  UPDATING.md
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityList.test.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityList.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityModal.test.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/RowLevelSecurityModal.tsx
  superset-frontend/src/views/CRUD/rowlevelsecurity/constants.ts
  superset-frontend/src/views/CRUD/rowlevelsecurity/types.ts
  superset-frontend/src/views/routes.tsx
  superset/config.py
  superset/connectors/sqla/views.py
  superset/dao/base.py
  superset/initialization/__init__.py
  superset/row_level_security/api.py
  superset/row_level_security/commands/__init__.py
  superset/row_level_security/commands/bulk_delete.py
  superset/row_level_security/commands/create.py
  superset/row_level_security/commands/exceptions.py
  superset/row_level_security/commands/update.py
  superset/row_level_security/dao.py
  superset/row_level_security/schemas.py
  tests/integration_tests/security/row_level_security_tests.py
Labels: size/XXL

#22496 chore: deprecate /superset/slice_json/<int:slice_id> and /superset/annotation_json/<int:layer_id>
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.jsx
  superset-frontend/src/explore/exploreUtils/getAnnotationJsonUrl.test.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset/common/query_context_processor.py
  superset/views/core.py
Labels: size/L

#22887 chore: add statsd support to base API and refactor
  superset/advanced_data_type/api.py
  superset/async_events/api.py
  superset/available_domains/api.py
  superset/cachekeys/api.py
  superset/dashboards/permalink/api.py
  superset/databases/decorators.py
  superset/explore/api.py
  superset/explore/form_data/api.py
  superset/explore/permalink/api.py
  superset/extensions/__init__.py
  superset/extensions/stats_logger.py
  superset/importexport/api.py
  superset/initialization/__init__.py
  superset/security/api.py
  superset/temporary_cache/api.py
  superset/utils/log.py
  superset/views/base_api.py
  superset/views/users/api.py
Labels: size/L

#22611 chore: Migrate /superset/queries/<last_updated_ms> to API v1
  docs/static/resources/openapi.json
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset/constants.py
  superset/queries/api.py
  superset/queries/dao.py
  superset/queries/schemas.py
  superset/views/core.py
  tests/integration_tests/queries/api_tests.py
  tests/unit_tests/dao/queries_test.py
Labels: size/XXL

#22888 docs: add Skyscanner to users list
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#22882 chore: deprecate /superset/filter/... endpoint, migrate to apiv1
  superset-frontend/cypress-base/cypress/integration/explore/_skip.AdhocFilters.test.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset/datasource/api.py
  superset/initialization/__init__.py
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/datasource/__init__.py
  tests/integration_tests/datasource/api_tests.py
Labels: size/L

#22907 fix: bump isort to fix pre-commit CI
  .pre-commit-config.yaml
  requirements/testing.txt
Labels: size/XS

#22809 chore: migrate /sql_json and /results to apiv1
  docs/static/resources/openapi.json
  superset-frontend/cypress-base/cypress/integration/sqllab/query.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.jsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset/initialization/__init__.py
  superset/sqllab/api.py
  superset/sqllab/commands/execute.py
  superset/sqllab/commands/results.py
  superset/sqllab/query_render.py
  superset/sqllab/schemas.py
  superset/sqllab/validators.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.json
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/views/base_api.py
  superset/views/core.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/sql_lab/api_tests.py
  tests/integration_tests/sql_lab/commands_tests.py
Labels: size/XXL

#22772 chore: Localization of superset pt. 2
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/ColumnConfigControl/constants.tsx
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/Calendar.js
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  superset-frontend/plugins/legacy-plugin-chart-sunburst/src/Sunburst.js
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/QueryStateLabel/index.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/constants.ts
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/Datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/ListView/Filters/DateRange.tsx
  superset-frontend/src/constants.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/SaveModal.tsx
  superset-frontend/src/dashboard/components/menu/BackgroundStyleDropdown.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/util/newComponentFactory.js
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/profile/components/RecentActivity.tsx
  superset-frontend/src/utils/getChartRequiredFieldsMissingMessage.ts
  superset-frontend/src/views/CRUD/alert/AlertList.tsx
  superset-frontend/src/views/CRUD/alert/AlertReportModal.tsx
  superset-frontend/src/views/CRUD/alert/ExecutionLog.tsx
  superset-frontend/src/views/CRUD/annotation/AnnotationModal.tsx
  superset-frontend/src/views/CRUD/annotationlayers/AnnotationLayersList.tsx
  superset-frontend/src/views/CRUD/csstemplates/CssTemplatesList.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/DatabaseConnectionForm/ValidatedInputField.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/SSHTunnelForm.tsx
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/data/query/QueryList.tsx
  superset-frontend/src/views/CRUD/data/savedquery/SavedQueryList.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/welcome/EmptyState.tsx
  superset/charts/post_processing.py
  superset/connectors/base/models.py
  superset/databases/schemas.py
  superset/initialization/__init__.py
  superset/models/sql_lab.py
  superset/sql_lab.py
  superset/sqllab/exceptions.py
  superset/utils/date_parser.py
  superset/utils/encrypt.py
  superset/views/api.py
  superset/views/dashboard/mixin.py
  superset/views/database/views.py
  superset/views/sql_lab/views.py
  superset/viz.py
  tests/unit_tests/charts/test_post_processing.py
Labels: size/L

#22881 fix: edit pyarrow stringify to better handle emojis and accents
  superset/result_set.py
  superset/utils/pandas_postprocessing/boxplot.py
  tests/integration_tests/result_set_tests.py
  tests/unit_tests/dataframe_test.py
  tests/unit_tests/result_set_test.py
Labels: size/L

#21999 fix(sqllab): inconsistent addNewQueryEditor behavior
  superset-frontend/cypress-base/cypress/integration/sqllab/tabs.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/SqlEditor/index.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.jsx
Labels: size/L

#22036 fix(i18n): greatly optimize Chinese translation
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/XXL

#22623 chore: skip puppeteer chromium download
  Dockerfile
Labels: size/XS

#20291 feat: add pyproject.toml file to project
  pyproject.toml
Labels: size/S

#22920 fix: Time range filter applied on a dashboard is not persisting to the chart explore
  superset-frontend/src/explore/controlUtils/getFormDataFromDashboardContext.test.ts
  superset-frontend/src/explore/controlUtils/getFormDataWithDashboardContext.ts
Labels: size/M

#22889 fix(fab): Fix regression on FAB dropdowns
  superset-frontend/src/assets/stylesheets/superset.less
Labels: size/S

#22912 fix: fix warning in ssh tunnel
  superset-frontend/src/views/CRUD/data/database/DatabaseModal/index.tsx
Labels: size/S
