Repository apache/superset, pull requests merged in 2024-07, with the labels that each got.

#29420 fix: SQL label missing for non-group-by queries
  superset/models/helpers.py
  tests/integration_tests/model_tests.py
Labels: size/S

#29344 chore(key-value): convert command to dao
  superset/commands/dashboard/permalink/create.py
  superset/commands/dashboard/permalink/get.py
  superset/commands/distributed_lock/__init__.py
  superset/commands/distributed_lock/base.py
  superset/commands/distributed_lock/create.py
  superset/commands/distributed_lock/delete.py
  superset/commands/distributed_lock/get.py
  superset/commands/explore/permalink/create.py
  superset/commands/explore/permalink/get.py
  superset/commands/key_value/create.py
  superset/commands/key_value/delete.py
  superset/commands/key_value/get.py
  superset/commands/key_value/update.py
  superset/commands/key_value/upsert.py
  superset/daos/key_value.py
  superset/distributed_lock/__init__.py
  superset/distributed_lock/types.py
  superset/distributed_lock/utils.py
  superset/exceptions.py
  superset/extensions/metastore_cache.py
  superset/key_value/shared_entries.py
  superset/key_value/types.py
  superset/key_value/utils.py
  superset/utils/oauth2.py
  tests/integration_tests/explore/permalink/commands_tests.py
  tests/integration_tests/extensions/metastore_cache_test.py
  tests/integration_tests/key_value/commands/create_test.py
  tests/integration_tests/key_value/commands/delete_test.py
  tests/integration_tests/key_value/commands/fixtures.py
  tests/integration_tests/key_value/commands/get_test.py
  tests/integration_tests/key_value/commands/update_test.py
  tests/integration_tests/key_value/commands/upsert_test.py
  tests/unit_tests/dao/key_value_test.py
  tests/unit_tests/distributed_lock/__init__.py
  tests/unit_tests/distributed_lock/distributed_lock_tests.py
  tests/unit_tests/fixtures/common.py
Labels: size/XXL

#29442 chore: Added 10Web to the list of organizations that use Apache Superset
  RESOURCES/INTHEWILD.md
Labels: size/XS

#29447 chore: move all GHAs to ubuntu-22.04
  .github/workflows/bump-python-package.yml
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/issue_creation.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/no-hold-label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/supersetbot.yml
  .github/workflows/tag-release.yml
  .github/workflows/tech-debt.yml
  .github/workflows/welcome-new-users.yml
Labels: size/L, github_actions

#29451 fix(metastore-cache): import dao in methods
  superset/extensions/metastore_cache.py
  tests/integration_tests/extensions/metastore_cache_test.py
Labels: size/S

#29446 fix: re-add missing code from PR #28132
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Labels: size/L, explore, review:draft

#29461 fix: OAuth2 in async DBs
  superset/sql_lab.py
  tests/unit_tests/sql_lab_test.py
Labels: size/M, authentication, global:async-query

#29456 fix: Dashboard hangs when initial filters cannot be loaded
  superset-frontend/src/components/ErrorMessage/BasicErrorAlert.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
Labels: size/M, dashboard:error, dashboard:filtersets, review:checkpoint

#27221 feat(CLI command): Apache Superset "Factory Reset" CLI command #27207
  superset/cli/reset.py
  superset/commands/security/reset.py
  superset/config.py
Labels: size/L, review-after-release

#29468 docs(docker compose): fix step 4 list formatting
  docs/docs/installation/docker-compose.mdx
Labels: size/S, doc

#29377 chore(i18n): Translated charts and filters into Russian
  superset/translations/ru/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:russian, viz:charts

#29476 chore: run babel_update.sh to update po files
  .github/workflows/superset-docs-deploy.yml
  docs/docs/contributing/howtos.mdx
  docs/package.json
  docs/yarn.lock
  scripts/translations/babel_update.sh
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, preset-io, i18n:general, doc, github_actions, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian, i18n:traditional-chinese

#29459 chore(utils): Support select_columns with getUserOwnedObjects and split recentActivityObjs
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/M, change:frontend

#28364 fix: Enable explore button on SQL Lab view when connected to Apache Pinot as a database
  docs/docs/configuration/databases.mdx
  pyproject.toml
  superset/db_engine_specs/pinot.py
Labels: size/S, data:connect:pinot, doc

#29493 chore(Home): Avoid firing API requests when a custom Home is used
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
Labels: size/S, home

#29187 feat(dashboard): add API endpoints for generating and downloading screenshots
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/tasks/thumbnails.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/L, dashboard:export, api

#29470 fix: remove info from datasource access error
  superset/security/manager.py
  tests/integration_tests/datasource/api_tests.py
Labels: size/XS, authentication:access-control

#29454 fix: add more disallowed pg functions
  superset/config.py
Labels: size/S, data:connect:postgres

#29498 feat: Enable customizing the docker admin password
  docker/docker-init.sh
Labels: install:docker, size/XS, authentication

#29384 feat: add support to NOT LIKE operator
  superset-frontend/packages/superset-ui-core/src/query/types/Operator.ts
  superset/models/helpers.py
  superset/utils/core.py
Labels: size/XS, packages

#29511 docs: cleanup markdown warnings
  docs/docs/contributing/contributing.mdx
  docs/docs/contributing/development.mdx
  docs/docs/contributing/guidelines.mdx
  docs/docs/contributing/howtos.mdx
  docs/docs/faq.mdx
  docs/docs/installation/docker-builds.mdx
  docs/docs/installation/docker-compose.mdx
  docs/docs/installation/kubernetes.mdx
  docs/docs/installation/pypi.mdx
  docs/docs/quickstart.mdx
  docs/docs/security/cves.mdx
Labels: size/L, doc

#29517 fix(plugins): Fix dashboard filter for Table and Big Number with Time Comparison
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/types.ts
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset/common/query_context_processor.py
Labels: size/M, viz:charts:table, viz:charts:bignumber, dashboard:filtersets, plugins

#29486 docs: Add Vasu and Jamie to the Users List
  RESOURCES/INTHEWILD.md
Labels: size/XS

#29520 fix(plugins): Big Number with Time Comparison
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
Labels: size/XS, viz:charts:bignumber, plugins

#29496 feat(database): Add OceanBase support
  docs/docs/configuration/databases.mdx
  docs/src/resources/data.js
  docs/static/img/databases/oceanbase.svg
  pyproject.toml
  superset-frontend/src/assets/images/oceanbase.svg
  superset/db_engine_specs/oceanbase.py
  tests/unit_tests/db_engine_specs/test_oceanbase.py
Labels: size/L, data:connect, doc

#29330 fix: refactor view error handling into a separate module
  superset/databases/api.py
  superset/initialization/__init__.py
  superset/utils/core.py
  superset/views/api.py
  superset/views/base.py
  superset/views/base_api.py
  superset/views/core.py
  superset/views/datasource/views.py
  superset/views/error_handling.py
Labels: size/L, preset-io, api:charts, api

#29124 refactor: Upgrade Badge component to Ant Design 5
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/components/Badge/Badge.stories.tsx
  superset-frontend/src/components/Badge/Badge.test.tsx
  superset-frontend/src/components/Badge/index.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
Labels: size/L, change:frontend

#29510 docs: Add frontend dependency installation steps
  docs/docs/contributing/howtos.mdx
Labels: size/XS, doc

#29225 feat: add connector for CouchbaseDB
  docs/docs/configuration/databases.mdx
  docs/src/resources/data.js
  docs/static/img/databases/couchbase.svg
  superset-frontend/src/assets/images/couchbase.svg
  superset/db_engine_specs/couchbasedb.py
  superset/sql_parse.py
  tests/unit_tests/db_engine_specs/test_couchbase.py
Labels: size/L, data:connect, enhancement:db, doc, data:connect:couchdb

#29537 docs(intro): Add OceanBase to the Supported Databases section of readme.md.
  README.md
Labels: size/XS, doc

#29538 fix(websocket): add error handling
  superset-websocket/src/index.ts
Labels: size/XS, global:error, browser:safari

#29530 fix: prevent guest users from changing columns
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: size/L, authentication:access-control

#29548 fix: babel_update script crash
  superset/translations/requirements.txt
Labels: i18n, size/XS, global:jinja, i18n:general, dependencies:python

#29412 fix(Tags filter): Filter assets by tag ID
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset/charts/api.py
  superset/charts/filters.py
  superset/dashboards/api.py
  superset/dashboards/filters.py
  superset/queries/saved_queries/api.py
  superset/queries/saved_queries/filters.py
  superset/tags/filters.py
  superset/views/base_api.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/fixtures/tags.py
  tests/integration_tests/queries/saved_queries/api_tests.py
  tests/unit_tests/tags/filters_test.py
Labels: change:backend, size/XL, listview, need:tests, api

#29549 fix: make catalog migration lenient
  superset/migrations/shared/catalogs.py
  tests/unit_tests/migrations/shared/catalogs_test.py
Labels: risk:db-migration, size/L, preset-io

#29552 chore: cleanup documentation
  README.md
  RELEASING/README.md
  docs/docs/contributing/howtos.mdx
  scripts/tests/README.md
  superset-websocket/README.md
  superset-websocket/utils/README.md
  superset-websocket/utils/client-ws-app/README.md
  superset/db_engine_specs/README.md
Labels: size/M, doc, merge-if-green

#29576 fix(dataset import): Support catalog field during dataset import
  superset/datasets/schemas.py
  tests/integration_tests/fixtures/importexport.py
Labels: size/XS, data:dataset

#29566 fix: Trino `get_columns`
  superset/db_engine_specs/base.py
  superset/db_engine_specs/couchbasedb.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/XL, data:connect:presto, preset-io, data:connect:trino

#29579 fix: small fixes to the catalog migration
  superset/migrations/shared/catalogs.py
  tests/unit_tests/security/manager_test.py
Labels: change:backend, risk:db-migration, size/S

#29581 fix: catalog permission check
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: size/M, authentication:access-control, preset-io

#29587 fix(storybook): fix broken Storybook stories during development
  superset-frontend/packages/superset-ui-demo/.storybook/preview.js
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/legacy-preset-chart-nvd3/BoxPlot/stories/basic.tsx
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-echarts/BoxPlot/BoxPlot.stories.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/transformProps.js
  superset-frontend/src/components/CertifiedBadge/CertifiedBadge.stories.tsx
  superset-frontend/webpack.config.js
Labels: size/S, plugins, packages

#29599 docs: update CVEs for 4.0.2
  docs/docs/security/cves.mdx
Labels: size/XS, doc

#29603 docs(contributing): removing old blog post link
  docs/docs/contributing/contributing.mdx
Labels: size/XS, preset-io, doc

#28496 fix(docs): fix broken indexed link from Google search
  docs/docusaurus.config.js
Labels: size/XS, doc

#28124 docs(Database): Clarify host value expected when running in docker
  docs/docs/using-superset/creating-your-first-dashboard.mdx
Labels: size/XS, doc

#29604 fix: schemas for upload API
  superset/models/core.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/models/core_test.py
Labels: size/S, need:tests, review:checkpoint

#29600 chore: Updates CHANGELOG.md with 4.0.2 data
  .github/ISSUE_TEMPLATE/bug-report.yml
  CHANGELOG.md
  CHANGELOG/4.0.2.md
Labels: size/M, doc

#29610 fix: sort schemas when uploading data
  superset/templates/superset/form_view/database_schemas_selector.html
Labels: size/XS, change:frontend

#29602 chore: Clear redux localStorage on logout
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Labels: size/M, authentication

#29612 docs: fix code comment explaining local override
  docker/pythonpath_dev/superset_config_local.example
Labels: size/XS, doc

#29607 fix(sqllab): Show warning message when deprecated db is selected
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
Labels: sqllab, size/L, change:frontend

#29590 feat: custom values to sandbox iframe
  superset-embedded-sdk/README.md
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.ts
Labels: size/S, change:frontend, dashboard, embedded, dependencies:npm

#29272 refactor(Dashboard): Fetch dashboard screenshot via dedicated endpoint
  CODE_OF_CONDUCT.md
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadAsPdf.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadAsPdf.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadScreenshot.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadScreenshot.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/types.ts
  superset-frontend/src/types/dom-to-pdf.d.ts
  superset-frontend/src/utils/downloadAsPdf.ts
  superset/tasks/thumbnails.py
Labels: size/XL, change:frontend, dashboard:export, dependencies:npm

#29567 fix: Add Japanese Translations
  superset/translations/ja/LC_MESSAGES/messages.po
Labels: i18n, size/M, i18n:japanese

#29594 refactor: Remove dead code from the Word Cloud plugin
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-word-cloud/WordCloud.stories.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/index.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/legacyPlugin/index.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/legacyPlugin/types.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/index.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-word-cloud/test/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-word-cloud/test/index.test.ts
  superset-frontend/plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-word-cloud/test/plugin/buildQuery.test.ts
Labels: size/L, viz:charts:wordcloud, frontend:refactor, plugins, packages

#29638 fix(sqllab): prev shema/table options remained on fail
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.ts
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/TableSelector/index.tsx
  superset-frontend/src/hooks/apiResources/sqlLab.ts
  superset-frontend/src/hooks/apiResources/tables.ts
Labels: sqllab, size/M

#29643 fix: Required native filter message wrongfully appearing
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Labels: size/M, change:frontend, dashboard:native-filters, review:checkpoint

#29650 chore: add catalog_access to OBJECT_SPEC_PERMISSIONS
  superset/security/manager.py
Labels: size/XS, authentication:access-control

#29647 fix: Loading of native filter column
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
Labels: size/M, dashboard:native-filters, v4.0

#29648 fix: Layout of native filters modal with lengthy columns
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
Labels: size/M, change:frontend, dashboard:native-filters, v4.0

#29631 docs: update creating-your-first-dashboard.mdx
  docs/docs/using-superset/creating-your-first-dashboard.mdx
Labels: size/XS, doc

#29088 feat(alert/report): Added optional CC and BCC fields for email notifi…
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.test.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/types.ts
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/types.ts
  superset/reports/notifications/email.py
  superset/reports/schemas.py
  superset/utils/core.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
Labels: size/L, alert-reports

#29637 chore: Adds 4.1.0 RC1 daa to CHANGELOG.md and UPDATING.md
  CHANGELOG.md
  CHANGELOG/4.1.0.md
  UPDATING.md
  superset-frontend/package.json
Labels: size/XL, dependencies:npm, 4.1

#29667 fix: Dashboard editable title weird behavior when adding spaces
  superset-frontend/src/components/DynamicEditableTitle/index.tsx
Labels: size/L, dashboard:editmode

#29669 fix: Use default custom time range time without timezone
  superset-frontend/packages/superset-ui-core/src/time-comparison/customTimeRangeDecode.ts
  superset-frontend/packages/superset-ui-core/test/time-comparison/customTimeRangeDecode.test.ts
Labels: size/S, explore:time, packages

#29666 refactor(ProgressBar): Upgrade ProgressBar to Antd 5
  superset-frontend/src/components/ProgressBar/ProgressBar.stories.tsx
  superset-frontend/src/components/ProgressBar/index.tsx
  superset-frontend/src/theme/index.ts
Labels: size/M, change:frontend

#29287 fix: Add user filtering to changed_by. Fixes #27986
  superset/charts/api.py
  superset/css_templates/api.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/queries/api.py
  superset/queries/saved_queries/api.py
  superset/reports/api.py
  superset/row_level_security/api.py
Labels: size/M, authentication:access-control, api

#29553 feat(explorer): Add configs and formatting to discrete comparison columns
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.tsx
Labels: size/L, change:frontend, explore, explore:design, plugins

#29672 fix(explore): missing column autocomplete in custom SQL
  superset-frontend/src/components/AsyncAceEditor/Tooltip.test.tsx
  superset-frontend/src/components/AsyncAceEditor/Tooltip.tsx
  superset-frontend/src/components/AsyncAceEditor/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/explore/controlUtils/getColumnKeywords.test.tsx
  superset-frontend/src/explore/controlUtils/getColumnKeywords.tsx
Labels: size/L, explore, tooltip:control

#29768 docs(contributing): fix broken link to translations sub-section
  docs/docs/contributing/contributing.mdx
Labels: size/XS, doc

#28424 docs: Check markdown files for bad links using linkinator
  .github/workflows/superset-docs-verify.yml
  CODE_OF_CONDUCT.md
  RELEASING/README.md
  RELEASING/release-notes-1-0/README.md
  RELEASING/release-notes-1-5/README.md
  RESOURCES/FEATURE_FLAGS.md
  RESOURCES/INTHEWILD.md
  UPDATING.md
  docs/docs/contributing/guidelines.mdx
Labels: size/M, preset-io, doc, github_actions

#29681 fix(Database): Refresh catalogs on db update returns database error
  superset/commands/database/update.py
Labels: size/M, data:databases

#29780 fix: catalog upgrade/downgrade
  superset/db_engine_specs/base.py
  superset/db_engine_specs/databricks.py
  superset/migrations/shared/catalogs.py
  tests/unit_tests/migrations/shared/catalogs_test.py
Labels: change:backend, risk:db-migration, size/XL, data:databases, preset-io, review:checkpoint

#29779 fix: remove --no-optional from docker-compose build
  docker-compose.yml
  docker/docker-frontend.sh
Labels: install:docker, size/S

#29096 feat(alerts): enable tab selection for dashboard alerts/reports
  superset-frontend/src/components/index.ts
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/types.ts
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset/commands/report/execute.py
  superset/dashboards/schemas.py
  superset/utils/screenshots.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
Labels: size/L, dashboard:tab, alert-reports, dashboard

#29772 fix: Fixing incomplete string escaping.
  superset-frontend/src/explore/exploreUtils/index.js
Labels: size/XS, explore, preset-io, javascript

#29790 chore(docs): remove mention of MariaDB in dev environment setup
  .github/workflows/superset-docs-verify.yml
  docs/docs/contributing/development.mdx
Labels: size/S, doc:developer, doc, github_actions

#29776 fix(Dashboard): Copying a Dashboard does not commit the transaction
  superset/commands/dashboard/copy.py
  superset/commands/dashboard/exceptions.py
  superset/dashboards/api.py
  tests/integration_tests/dashboards/commands_tests.py
Labels: size/L, dashboard:error, dashboard, api, 4.1

#29782 fix(translations): Translate embedded errors
  scripts/translations/babel_update.sh
  superset-frontend/src/embedded/index.tsx
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, preset-io, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian, i18n:traditional-chinese

#29795 feat: adding AntdThemeProvider to storybook config
  superset-frontend/.storybook/preview.jsx
  superset-frontend/src/components/Badge/Badge.stories.tsx
  superset-frontend/src/components/Card/Card.stories.tsx
  superset-frontend/src/components/ProgressBar/ProgressBar.stories.tsx
  superset-frontend/src/components/Tags/Tag.stories.tsx
  superset-frontend/src/components/Tags/TagsList.stories.tsx
Labels: size/M, preset-io

#29673 style: remove uppercase from labels, buttons, tabs to align with design system
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/assets/stylesheets/less/cosmo/bootswatch.less
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/DeleteModal/index.tsx
  superset-frontend/src/components/DropdownButton/index.tsx
  superset-frontend/src/components/Form/FormItem.tsx
  superset-frontend/src/components/Form/FormLabel.tsx
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/components/Tabs/Tabs.tsx
  superset-frontend/src/dashboard/components/AddSliceCard/AddSliceCard.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/Styles.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DependencyList.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ControlForm/index.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/FastVizSwitcher.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/features/databases/DatabaseModal/SSHTunnelForm.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/queries/QueryPreviewModal.tsx
  superset-frontend/src/features/queries/SavedQueryPreviewModal.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
Labels: size/M, change:frontend, preset-io, plugins, review:draft

#29724 feat: get html (links/styling/img/...) to work in pivot table
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/types.ts
Labels: size/M, viz:charts:pivot, preset-io, plugins

#29792 chore: deleting vestigial EMAIL_NOTIFICATIONS
  superset/config.py
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
Labels: size/XS

#29688 fix(ci): release process for labeling PRs
  .github/workflows/tag-release.yml
Labels: size/M, preset-io, github_actions, review:draft

#28796 fix(list/chart views): Chart Properties modal now has transitions
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.jsx
  superset-frontend/src/pages/ChartList/index.tsx
Labels: size/M, listview
