Repository apache/superset, pull requests merged in 2024-11, with the labels that each got.

#30773 fix: catalog migration w/o connection
  superset/migrations/shared/catalogs.py
Labels: size/S, v4.1

#30729 chore: bump werkzeug to address vulnerability
  requirements/base.txt
Labels: size/XS, dependencies:python, v4.1

#30682 fix(explore): Update tooltip copy for rendering html in tables and pivot tables
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/M, viz:charts:tooltip, preset-io, plugins

#28524 fix: warning emits an error
  superset/utils/pandas_postprocessing/compare.py
  tests/unit_tests/pandas_postprocessing/test_compare.py
Labels: size/M

#30819 fix(plugin-chart-echarts): sort tooltip correctly
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L, viz:charts:echarts, viz:charts:tooltip, plugins

#30694 feat: allow exporting all tabs to a single PDF in report
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/commands/report/create.py
  superset/commands/report/execute.py
  tests/integration_tests/fixtures/dashboard_with_tabs.py
  tests/integration_tests/reports/api_tests.py
  tests/unit_tests/commands/report/execute_test.py
Labels: size/XXL, alert-reports

#30828 fix(TimezoneSelector): Failing unit tests due to timezone change
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.DaylightSavingTime.test.tsx
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.test.tsx
Labels: size/S, global:timezone

#30081 feat(oauth2): add support for trino
  superset/db_engine_specs/base.py
  superset/db_engine_specs/trino.py
  superset/superset_typing.py
  superset/utils/oauth2.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/models/core_test.py
Labels: size/L, authentication, data:connect:trino

#30822 docs: Update INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#30838 chore: Revert "build(deps): bump JustinBeckwith/linkinator-action from 1.10.4 to 1.11.0"
  .github/workflows/superset-docs-verify.yml
Labels: size/XS, preset-io, github_actions

#30824 docs: Update INTHEWILD.md with 2070Health Org
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#30255 chore(scripts): purge node_modules folder on `npm prune`
  superset-frontend/package.json
Labels: size/XS, dependencies:npm

#30848 fix(time_comparison): Allow deleting dates when using custom shift
  superset-frontend/packages/superset-ui-chart-controls/src/constants.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/timeComparison.tsx
  superset-frontend/src/explore/components/controls/TimeOffsetControl.test.tsx
  superset-frontend/src/explore/components/controls/TimeOffsetControl.tsx
Labels: size/L, explore:time, packages

#30854 chore: Chart context menu permissions cleanup
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/usePermissions.ts
Labels: size/M, change:frontend

#30859 fix(package.json): Pin luxon version to unblock master
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, dependencies:npm

#30812 chore(FilterBar): Filter bar accessibility
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/DateLabel.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Time/TimeFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeColumn/TimeColumnFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
Labels: size/M, design:accessibility, preset:bounty

#30858 fix(chart data): removing query from /chart/data payload when accessing as guest user
  superset/charts/data/api.py
  tests/integration_tests/charts/api_tests.py
Labels: size/M, api, review:checkpoint

#30865 docs: Updating 4.1 Release Notes
  RELEASING/release-notes-4-1/README.md
Labels: size/XS, preset-io, doc, v4.1

#30847 chore(GHA): Making the Linkinator STEP non-blocking, rather than the JOB.
  .github/workflows/superset-docs-verify.yml
Labels: size/XS, github_actions

#30881 fix(Dashboard): Native & Cross-Filters Scoping Performance
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/util/getRelatedCharts.test.ts
  superset-frontend/src/dashboard/util/getRelatedCharts.ts
  superset-frontend/src/dashboard/util/useFilterFocusHighlightStyles.test.tsx
  superset-frontend/src/dashboard/util/useFilterFocusHighlightStyles.ts
Labels: size/L, dashboard:native-filters, dashboard:performance, dashboard:cross-filters

#30883 perf: Prevent redundant calls to getRelevantDataMask
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/containers/Dashboard.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Labels: size/M, dashboard:performance

#30770 docs: make it more clear that GLOBAL_ASYNC_QUERIES is experimental/beta
  superset/config.py
Labels: size/XS, global:async-query

#30885 fix(docs): add missing bracket in openID config
  superset/config.py
Labels: size/XS

#30775 chore: update help text copy on dataset settings
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Labels: size/XS, data:dataset

#29545 chore(AntD5): touchup on component imports/exports, theming ListViewCard
  .github/CODEOWNERS
  superset-frontend/src/components/Card/index.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/theme/index.ts
Labels: size/L, change:frontend, preset-io, global:theming

#30851 fix: Graph chart colors
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Graph/transformProps.test.ts
Labels: size/M, viz:charts:echarts, plugins, v4.1

#30875 fix: don't show metadata for embedded dashboards
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: size/M, embedded

#30884 feat: add logging durations for screenshot async service
  superset/utils/screenshots.py
Labels: size/S, logging

#30767 fix(empty dashboards): Allow downloading a screenshot of an empty dashboard
  superset/utils/webdriver.py
Labels: size/S, dashboard:error, preset:bounty

#30925 chore(ci): add tai and michael to helm owners
  .github/CODEOWNERS
Labels: size/XS

#30930 docs: add Free2Move to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#30886 fix: blocks UI elements on right side
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
Labels: size/S, dashboard:design

#29243 chore(deps): Migrate from `crate[sqlalchemy]` to `sqlalchemy-cratedb`
  docs/docs/configuration/databases.mdx
  pyproject.toml
Labels: size/M, data:connect, doc

#30915 chore: update change log, UPDATING.md and bug-report.yml for 4.1 release
  .github/ISSUE_TEMPLATE/bug-report.yml
  CHANGELOG.md
  CHANGELOG/4.1.0.md
  UPDATING.md
Labels: size/XXL

#30946 chore(docs): Update list of supported databases to include CrateDB
  docs/docs/configuration/databases.mdx
Labels: size/XS, doc

#30926 feat(trino,presto): add missing time grains
  superset/db_engine_specs/presto.py
  tests/unit_tests/db_engine_specs/test_presto.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/L, data:connect:presto, data:connect:trino

#30962 fix(Dashboard): Exclude edit param in async screenshot
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadScreenshot.tsx
  superset-frontend/src/utils/urlUtils.ts
Labels: size/S, dashboard:editmode, dashboard:export

#30964 fix(Card): Use correct class names for Ant Design 5 Card component
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/features/home/SavedQueries.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/S, change:frontend, frontend:refactor:antd5

#30818 chore(Accessibility): Fix accessibility for 'Show x entries' dropdown in tables
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/S, design:accessibility, plugins, preset:bounty

#30967 fix(release validation): scripts now support RSA and EDDSA keys.
  RELEASING/verify_release.py
Labels: size/M, preset-io

#30948 chore: add performance information to tooltip
  superset-frontend/src/filters/components/Select/controlPanel.ts
Labels: size/XS

#30966 fix(helm-chart): Fix broken PodDisruptionBudget due to introduction of extraLabels.
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/pdb-beat.yaml
  helm/superset/templates/pdb-flower.yaml
  helm/superset/templates/pdb-worker.yaml
  helm/superset/templates/pdb-ws.yaml
  helm/superset/templates/pdb.yaml
Labels: size/S, deploy:helm

#30918 chore(helm): bumping app version to 4.1.1 in helm chart
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS, deploy:helm

#31021 chore: add unit tests for `is_mutating()`
  tests/unit_tests/sql/parse_tests.py
Labels: size/M

#31008 fix(explore): verified props is not updated
  superset-frontend/src/explore/components/controls/withAsyncVerification.tsx
Labels: size/S

#30981 chore: publish wheels
  RELEASING/README.md
Labels: size/XS

#30972 docs: Embedded sdk
  superset-embedded-sdk/README.md
Labels: size/S, embedded, review:checkpoint

#30887 fix(imports): import query_context for imports with charts
  superset/commands/chart/importers/v1/__init__.py
  superset/commands/dashboard/importers/v1/__init__.py
  superset/commands/importers/v1/assets.py
  superset/commands/utils.py
  tests/integration_tests/commands_test.py
  tests/integration_tests/dashboards/commands_tests.py
Labels: size/L, viz:charts:import

#31029 chore: Refactor dashboard header to func component
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/containers/DashboardHeader.jsx
Labels: size/XXL, frontend:refactor

#31035 fix: ephemeral environments missing env var
  .gitattributes
  .github/workflows/ephemeral-env.yml
Labels: size/M, github_actions

#31031 fix(Dashboard): Ensure shared label colors are updated
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/utils/colorScheme.ts
Labels: size/L, dashboard:colors

#30651 chore(legacy-plugin-chart-map-box): replace viewport-mercator-project with @math.gl/web-mercator
  superset-frontend/package-lock.json
  superset-frontend/plugins/legacy-plugin-chart-map-box/package.json
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/MapBox.jsx
Labels: size/XS, change:frontend, viz:charts:map, plugins, dependencies:npm

#31044 docs: updated the install process in pypi.mdx
  docs/docs/installation/pypi.mdx
Labels: size/S, doc

#31148 fix: touch helm/ folder to trigger doc deploy in CI
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/XS, deploy:helm

#31152 fix: try to re-enable gh-pages
  .asf.yaml
Labels: size/XS, preset-io

#31151 fix: Revert "feat(trino): Add functionality to upload data (#29164)"
  pyproject.toml
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/trino_tests.py
Labels: size/L

#31153 chore(asf): add `gh-pages` to protected branches
  .asf.yaml
Labels: size/XS

#31156 fix: check orderby
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: size/L

#31163 fix(Dashboard): Backward compatible shared_label_colors field
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/SyncDashboardState/index.tsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/utils/colorScheme.ts
  superset/dashboards/schemas.py
Labels: size/M, dashboard:import, dashboard:export, v4.1

#31164 feat: purge OAuth2 tokens when DB changes
  superset/commands/database/update.py
  superset/config.py
  superset/models/core.py
  tests/unit_tests/commands/databases/update_test.py
  tests/unit_tests/models/core_test.py
Labels: size/L, review:checkpoint

#29382 chore: deprecate tox in favor of act
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/development.mdx
  docs/docs/contributing/howtos.mdx
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  scripts/change_detector.py
  superset/db_engine_specs/hive.py
  tests/integration_tests/db_engine_specs/hive_tests.py
  tests/unit_tests/advanced_data_type/types_tests.py
Labels: size/L, preset-io, doc, github_actions, review:draft

#31032 refactor: remove more sqlparse
  superset/commands/dataset/duplicate.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/kusto.py
  superset/models/helpers.py
  superset/sql_validators/presto_db.py
  superset/sqllab/query_render.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/hive_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/unit_tests/db_engine_specs/test_kusto.py
  tests/unit_tests/sql/parse_tests.py
Labels: change:backend, size/L, preset-io

#31170 chore(deps): cap async_timeout<5.0.0
  pyproject.toml
  requirements/base.in
  requirements/base.txt
  tests/integration_tests/db_engine_specs/hive_tests.py
Labels: size/S

#31166 feat: make sure to quote formulas on Excel export
  superset/utils/excel.py
  tests/unit_tests/utils/excel_tests.py
Labels: size/M

#31165 docs: update slack alert instructions to work with V2 slack API
  docs/docs/configuration/alerts-reports.mdx
Labels: size/XS, doc:user, alert-reports, doc

#31181 fix: Time-series Line Chart Display unnecessary total
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
Labels: size/M, viz:charts:timeseries, viz:charts:tooltip, plugins, v4.1

#31194 fix(embedded): Hide anchor links in embedded mode
  superset-frontend/src/dashboard/components/AnchorLink/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Header.jsx
  superset-frontend/src/dashboard/components/gridComponents/Header.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
Labels: size/M

#30821 fix: x axis title disappears when editing bar chart
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/S, viz:charts:bar, plugins, packages, preset:bounty
