Repository apache/superset, pull requests merged in 2024-12, with the labels that each got.

#31241 perf: Optimize dashboard chart-related components
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/URLShortLinkButton/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/containers/Chart.jsx
Labels: size/XXL, change:frontend, dashboard:performance

#31242 perf: Optimize Dashboard components
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/containers/Dashboard.ts
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
Labels: size/L, dashboard:performance

#31244 perf: Optimize DashboardPage and SyncDashboardState
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/SyncDashboardState/index.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/types/DashboardContextForExplore.ts
Labels: size/L, dashboard:performance

#31187 feat(sqllab): Popup notification when download data can exceed row count
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Labels: sqllab, size/M

#31186 docs(contributing): how to nuke the docker-compose postgres
  docs/docs/contributing/development.mdx
Labels: size/S, doc

#31185 fix: check for column before adding in migrations
  superset/migrations/shared/utils.py
  superset/migrations/versions/2024-04-01_22-44_c22cb5c2e546_user_attr_avatar_url.py
  superset/migrations/versions/2024-04-11_15-41_5f57af97bc3f_add_catalog_column.py
  superset/migrations/versions/2024-05-01_10-52_58d051681a3b_add_catalog_perm_to_tables.py
Labels: change:backend, risk:db-migration, size/M

#30864 docs: adapt docs to suggest 'docker compose up --build'
  docs/docs/contributing/development.mdx
  docs/docs/installation/docker-compose.mdx
Labels: size/S, doc

#31260 feat: use uv in CI
  .github/actions/setup-backend/action.yml
  Dockerfile
  docker/pip-install.sh
  superset/__init__.py
Labels: size/S, preset-io, github_actions

#31198 fix: add more clickhouse disallowed functions on config
  UPDATING.md
  superset/config.py
Labels: size/XS, data:connect:clickhouse

#31270 refactor: Split SliceHeaderControls into smaller files
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/ViewResultsModalTrigger.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/types.ts
  superset-frontend/src/dashboard/components/SliceHeaderControls/utils.ts
  superset-frontend/src/hooks/usePermissions.ts
Labels: size/XL, frontend:refactor

#31259 chore(bug report template): bump Superset versions to reflect 4.1.1 release
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: size/XS

#31265 fix(trino): db session error in handle cursor
  superset/db_engine_specs/trino.py
Labels: size/S, data:connect:trino

#31261 feat(Handlebars): formatNumber and group helpers
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-handlebars/package.json
  superset-frontend/plugins/plugin-chart-handlebars/src/components/Handlebars/HandlebarsViewer.tsx
  superset-frontend/plugins/plugin-chart-handlebars/types/external.d.ts
Labels: size/S, viz:charts:handlebars, plugins, dependencies:npm

#31275 chore: relax greenlet requirements
  pyproject.toml
  requirements/base.in
  requirements/base.txt
Labels: size/S

#31141 feat: add YDB as a new database engine
  .rat-excludes
  README.md
  docs/docs/configuration/databases.mdx
  docs/static/img/databases/ydb.svg
  pyproject.toml
  superset/db_engine_specs/ydb.py
  tests/unit_tests/db_engine_specs/test_ydb.py
Labels: size/L, data:connect, enhancement:db, doc

#31312 refactor(Name_column): Make 'Name' column of Saved Query page into links
  superset-frontend/src/pages/SavedQueryList/index.tsx
Labels: size/XS

#31308 fix: annotations on horizontal bar chart
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/transformers.test.ts
Labels: size/L, explore:annotation, review:checkpoint, plugins

#31294 fix(sqllab): Remove update_saved_query_exec_info to reduce lag
  superset-frontend/src/features/home/SavedQueries.tsx
  superset/daos/query.py
  superset/sqllab/sql_json_executer.py
  tests/integration_tests/sqllab_tests.py
Labels: sqllab, size/M, v4.1

#31290 chore(FilterBar): move the "Add/edit filters" button in the FilterBar to the settings menu
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/FilterBarSettings.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCard.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/NameRow.tsx
Labels: size/L, dashboard:native-filters, preset:bounty

#31168 refactor(Alert): Migrate Alert component to Ant Design V5
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/line.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/components/Alert/Alert.stories.tsx
  superset-frontend/src/components/Alert/Alert.test.tsx
  superset-frontend/src/components/Alert/index.tsx
  superset-frontend/src/components/ImportModal/styles.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/Footer/CancelConfirmationAlert.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/reports/ReportModal/styles.tsx
  superset-frontend/src/theme/index.ts
Labels: size/L, change:frontend, preset:bounty, frontend:refactor:antd5

#31173 fix: cache-warmup fails
  UPDATING.md
  superset/tasks/cache.py
  superset/tasks/utils.py
  superset/utils/urls.py
  tests/integration_tests/tasks/test_cache.py
  tests/integration_tests/tasks/test_utils.py
Labels: size/M

#31329 fix: pass string to `process_template`
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M, preset-io

#31323 fix: Use clickhouse sqlglot dialect for YDB
  superset/sql/parse.py
Labels: sqllab, size/XS, review:checkpoint

#31301 fix(AllEntitiesTable): show Tags
  superset-frontend/src/features/allEntities/AllEntitiesTable.test.tsx
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
Labels: size/L, preset:bounty

#31352 docs: CVEs fixed on 4.1.0
  docs/docs/security/cves.mdx
Labels: size/XS, doc:user, doc

#31341 fix(pinot): remove query aliases from SELECT and ORDER BY clauses in Pinot
  superset/db_engine_specs/pinot.py
Labels: size/XS, data:connect:pinot

#30956 fix: added missing pod labels for init job
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/S, deploy:helm

#31350 fix(alerts&reports): tabs with userfriendly urls
  superset/commands/report/execute.py
Labels: size/S, alert-reports

#31353 fix(sqllab): duplicate error message
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
Labels: sqllab, size/M, preset-io, review:checkpoint

#31334 fix(docs): add custom editUrl path for intro page
  docs/docusaurus.config.js
Labels: size/S, doc

#31335 fix(histogram): axis margin padding consistent with other graphs
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/controlPanel.tsx
Labels: size/S, viz:charts:histogram, plugins

#31236 fix: ephemeral envs fail on noop
  .github/workflows/ephemeral-env.yml
Labels: size/S, github_actions, review:draft

#31380 chore(embedded sdk): bumping dependencies
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
Labels: size/XS, embedded, dependencies:npm

#31273 feat: fine-grain chart data telemetry
  superset/charts/data/api.py
  superset/charts/post_processing.py
  superset/models/core.py
  tests/integration_tests/reports/commands_tests.py
Labels: size/M, api:charts, api, logging

#31381 chore(embedded sdk): bump sdk version number
  superset-embedded-sdk/package.json
Labels: size/XS, embedded, dependencies:npm

#31387 fix: Revert "chore(deps-dev): bump esbuild from 0.20.0 to 0.24.0 in /super…
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, dependencies:npm

#31391 fix: don't include chromium on ephemeral envs
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#31268 refactor: Migrate AdhocFilterEditPopoverSqlTabContent to TypeScript
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.tsx
Labels: size/L, change:frontend

#31303 feat: Adds helper functions for migrations
  superset/migrations/shared/constraints.py
  superset/migrations/shared/utils.py
  superset/migrations/versions/2024-03-20_16-02_678eefb4ab44_add_access_token_table.py
  superset/migrations/versions/2024-04-01_22-44_c22cb5c2e546_user_attr_avatar_url.py
  superset/migrations/versions/2024-04-11_15-41_5f57af97bc3f_add_catalog_column.py
  superset/migrations/versions/2024-05-01_10-52_58d051681a3b_add_catalog_perm_to_tables.py
  superset/migrations/versions/2024-05-24_11-31_02f4f7811799_remove_sl_dataset_columns_table.py
  superset/migrations/versions/2024-08-13_15-17_39549add7bfc_remove_sl_table_columns_table.py
  superset/migrations/versions/2024-08-13_15-23_38f4144e8558_remove_sl_dataset_tables.py
  superset/migrations/versions/2024-08-13_15-27_e53fd48cc078_remove_sl_dataset_users.py
  superset/migrations/versions/2024-08-13_15-29_a6b32d2d07b1_remove_sl_columns.py
  superset/migrations/versions/2024-08-13_15-31_007a1abffe7e_remove_sl_tables.py
  superset/migrations/versions/2024-08-13_15-33_48cbb571fa3a_remove_sl_datasets.py
Labels: change:backend, risk:db-migration, size/L

#31414 fix(Pivot Table): Fix column width to respect currency config
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Labels: size/XS, viz:charts:pivot, plugins

#31411 fix: pkg_resources is getting deprecated
  superset/config.py
Labels: size/XS

#31422 docs: CVEs fixed on 4.1.0 v2
  docs/docs/security/cves.mdx
Labels: size/XS, doc, review:checkpoint

#31316 feat(sqllab): giving the query history pane a facelift
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/components/Icons/Icons.stories.tsx
  superset-frontend/src/components/Label/Label.stories.tsx
  superset-frontend/src/components/Label/index.tsx
Labels: sqllab, size/L, preset-io

#31332 fix: prevent multiple pvm errors on migration
  superset/migrations/shared/catalogs.py
Labels: change:backend, size/XS, preset-io

#31427 fix(tags): clean up bulk create api and schema
  docs/static/resources/openapi.json
  superset/tags/api.py
  superset/tags/schemas.py
Labels: size/XXL, api, doc

#31374 fix(Dashboard): Sync color configuration via dedicated endpoint
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/utils/colorScheme.ts
  superset/commands/dashboard/exceptions.py
  superset/commands/dashboard/update.py
  superset/constants.py
  superset/daos/dashboard.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/XL, dashboard:colors, api:dashboard, api

#31437 fix(database import): Gracefully handle error to get catalog schemas
  superset/commands/database/create.py
  superset/commands/database/importers/v1/utils.py
  superset/commands/database/utils.py
  tests/unit_tests/databases/commands/importers/v1/import_test.py
  tests/unit_tests/databases/commands/utils_test.py
Labels: size/L, data:connect

#31262 chore: deprecate `pylint` in favor of `ruff`
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  UPDATING.md
  docs/docs/contributing/development.mdx
  docs/docs/contributing/howtos.mdx
  pyproject.toml
  requirements/development.txt
Labels: size/L, preset-io, doc

#30605 chore(translations): German translation update
  superset/translations/de/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:german

#31451 chore: remove numba and llvmlite deps as they are large and we don't use them
  pyproject.toml
  requirements/base.txt
Labels: size/S, preset-io

#31458 fix(api): typo api.py
  superset/databases/api.py
Labels: size/XS, api, doc

#31449 fix(filter options): full size list item targets
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterConfigurationLink/index.tsx
Labels: size/S, change:frontend

#31473 fix(explore): Styling issue in Search Metrics input field
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
Labels: size/XS, explore:design

#31472 fix: Tooltip covers the date selector in native filters
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Labels: size/S, dashboard:native-filters

#31480 fix(sunburst): Use metric label from verbose map
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Labels: size/S, viz:charts:sunburst, plugins

#31386 feat(gha): various docker / docker-compose build improvements
  .dockerignore
  .github/actions/setup-docker/action.yml
  .github/workflows/docker.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/tag-release.yml
  Dockerfile
  docker-compose.yml
  docker/docker-bootstrap.sh
  docker/docker-frontend.sh
  docs/docs/contributing/development.mdx
  requirements/development.in
  requirements/development.txt
  superset-frontend/webpack.config.js
  superset/__init__.py
Labels: size/L, preset-io, infra:container, doc, github_actions, review:draft

#31483 fix: Card component background color
  superset-frontend/src/theme/index.ts
Labels: size/XS, change:frontend, review:checkpoint, frontend:refactor:antd5

#31493 fix: master docker builds fail because of multi-platform builds can't --load
  .github/workflows/docker.yml
  superset/__init__.py
Labels: size/XS, preset-io, github_actions

#31496 docs: Update new user for Careem to user's list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#31501 chore(code owners): Update CODEOWNERS file to remove a couple inactive contributors
  .github/CODEOWNERS
Labels: size/XS, preset-io

#31515 chore: deprecate fossa in favor of liccheck to validate python licenses
  .asf.yaml
  .github/workflows/dependency-review.yml
  pyproject.toml
Labels: size/M, github_actions

#31313 chore: deprecate pip-compile-multi in favor or uv
  .github/actions/setup-backend/action.yml
  .github/dependabot.yml
  .github/workflows/bump-python-package.yml
  .github/workflows/check-python-deps.yml
  .pre-commit-config.yaml
  Dockerfile
  docs/docs/contributing/development.mdx
  pyproject.toml
  requirements/base.in
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  requirements/translations.txt
  scripts/uv-pip-compile.sh
Labels: size/XXL, preset-io, doc, github_actions, v5.0

#31561 fix: add various recent issues on master CI
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/tag-release.yml
  pyproject.toml
Labels: size/S, preset-io, github_actions

#31390 chore(gha): bump ubuntu to latest fresh release
  .github/workflows/bump-python-package.yml
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/issue_creation.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/no-hold-label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/supersetbot.yml
  .github/workflows/tag-release.yml
  .github/workflows/tech-debt.yml
  .github/workflows/welcome-new-users.yml
  superset-frontend/src/theme.ts
  superset/__init__.py
Labels: size/L, github_actions

#31511 chore: rename `apply_post_process`
  superset/charts/client_processing.py
  superset/charts/data/api.py
  superset/common/query_object.py
  tests/unit_tests/charts/test_client_processing.py
Labels: size/M, api, review:draft

#31420 refactor(Modal): Upgrade Modal component to Antd5
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/control.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/link.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/SaveDatasetModal.test.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/SaveQuery.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
  superset-frontend/src/components/Datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/components/Modal/Modal.stories.tsx
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/ViewResultsModalTrigger.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ScopingModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCard.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/features/databases/UploadDataModel/styles.ts
  superset-frontend/src/features/queries/QueryPreviewModal.tsx
  superset-frontend/src/features/queries/SavedQueryPreviewModal.tsx
  superset-frontend/src/features/reports/ReportModal/styles.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.jsx
  superset-frontend/src/theme/index.ts
  superset/utils/webdriver.py
Labels: size/XL, change:frontend, preset:bounty, frontend:refactor:antd5

#31517 chore: update browser list
  superset-frontend/package-lock.json
Labels: size/XS, dependencies:npm

#31519 chore: remove dependency on func_timeout because LGPL
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/commands/database/test_connection.py
  tests/integration_tests/databases/commands_tests.py
Labels: size/M

#31577 docs: add Virtuoso QA to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#31583 fix(docs): get quickstart guide working again
  docs/docs/quickstart.mdx
Labels: size/XS, doc

#31588 fix: install uv in docker-bootstrap
  docker/docker-bootstrap.sh
  docs/docs/installation/docker-compose.mdx
Labels: size/S, doc

#31310 refactor(moment): Replace Moment.js with DayJs
  superset-frontend/package-lock.json
  superset-frontend/plugins/legacy-preset-chart-deckgl/package.json
  superset-frontend/plugins/legacy-preset-chart-nvd3/package.json
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/utils.ts
  superset-frontend/plugins/plugin-chart-handlebars/package.json
  superset-frontend/plugins/plugin-chart-handlebars/src/components/Handlebars/HandlebarsViewer.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/components/CachedLabel/TooltipContent.test.tsx
  superset-frontend/src/components/CachedLabel/TooltipContent.tsx
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/LastUpdated/index.tsx
  superset-frontend/src/components/ListView/Filters/DateRange.tsx
  superset-frontend/src/components/Timer/Timer.stories.tsx
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.DaylightSavingTime.test.tsx
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.test.tsx
  superset-frontend/src/components/TimezoneSelector/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/OverwriteConfirmModal.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/dateParser.ts
  superset-frontend/src/explore/components/controls/TimeOffsetControl.tsx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
  superset-frontend/src/features/annotations/AnnotationModal.tsx
  superset-frontend/src/features/datasets/AddDataset/EditDataset/UsageTab/index.tsx
  superset-frontend/src/features/home/ActivityTable.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AllEntities/index.tsx
  superset-frontend/src/pages/AnnotationList/index.tsx
  superset-frontend/src/pages/ExecutionLogList/index.tsx
  superset-frontend/src/pages/QueryHistoryList/index.tsx
  superset-frontend/src/preamble.ts
  superset-frontend/src/utils/dates.js
  superset-frontend/src/utils/dates.test.ts
  superset-frontend/src/utils/dates.ts
  superset-frontend/src/visualizations/TimeTable/SparklineCell.tsx
  superset-frontend/webpack.config.js
Labels: size/L, change:frontend, frontend:refactor, plugins, dependencies:npm, preset:bounty

#31607 refactor(Divider): Migrate Divider to Ant Design 5
  superset-frontend/src/components/CronPicker/CronPicker.stories.tsx
  superset-frontend/src/components/Divider/Divider.stories.tsx
  superset-frontend/src/components/Divider/Divider.test.tsx
  superset-frontend/src/components/Divider/index.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/theme/index.ts
Labels: size/L, change:frontend, preset:bounty, frontend:refactor:antd5

#31407 fix: Big Number side cut fixed
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
Labels: size/S, viz:charts:bignumber, plugins, preset:bounty
