Repository apache/superset, pull requests merged in 2024-06, with the labels that each got.

#28838 fix: Update downgrade path for migration to remove sl_tables
  superset/migrations/versions/2024-05-24_11-31_02f4f7811799_remove_sl__tables.py
Labels: change:backend, risk:db-migration, size/L, data:databases, risk:refactor

#28789 feat: Adds the Featured Charts dashboard
  superset-frontend/cypress-base/cypress/e2e/explore/control.test.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/index.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/index.ts
  superset-frontend/plugins/plugin-chart-table/src/index.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset/examples/configs/charts/Featured Charts/Area.yaml
  superset/examples/configs/charts/Featured Charts/Bar.yaml
  superset/examples/configs/charts/Featured Charts/Big_Number.yaml
  superset/examples/configs/charts/Featured Charts/Big_Number_with_Trendline.yaml
  superset/examples/configs/charts/Featured Charts/Box_Plot.yaml
  superset/examples/configs/charts/Featured Charts/Bubble.yaml
  superset/examples/configs/charts/Featured Charts/Funnel.yaml
  superset/examples/configs/charts/Featured Charts/Gauge.yaml
  superset/examples/configs/charts/Featured Charts/Graph.yaml
  superset/examples/configs/charts/Featured Charts/Heatmap.yaml
  superset/examples/configs/charts/Featured Charts/Histogram.yaml
  superset/examples/configs/charts/Featured Charts/Line.yaml
  superset/examples/configs/charts/Featured Charts/Mixed.yaml
  superset/examples/configs/charts/Featured Charts/Pie.yaml
  superset/examples/configs/charts/Featured Charts/Pivot_Table.yaml
  superset/examples/configs/charts/Featured Charts/Radar.yaml
  superset/examples/configs/charts/Featured Charts/Scatter_Plot.yaml
  superset/examples/configs/charts/Featured Charts/Sunburst.yaml
  superset/examples/configs/charts/Featured Charts/Table.yaml
  superset/examples/configs/charts/Featured Charts/Tree.yaml
  superset/examples/configs/charts/Featured Charts/Treemap.yaml
  superset/examples/configs/charts/Featured Charts/Waterfall.yaml
  superset/examples/configs/charts/Featured Charts/Word_Cloud.yaml
  superset/examples/configs/charts/Featured Charts/World_Map.yaml
  superset/examples/configs/dashboards/Featured_Charts.yaml
  superset/examples/configs/datasets/examples/hierarchical_dataset.yaml
  superset/examples/configs/datasets/examples/wb_health_population.yaml
Labels: size/XXL, viz:charts, dashboard:sample, plugins

#28797 fix: use channel id with new slack api for file uploads
  superset/reports/notifications/slack.py
  superset/tasks/slack_util.py
  superset/utils/json.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/reports/commands_tests.py
  tests/unit_tests/notifications/slack_tests.py
  tests/unit_tests/reports/notifications/slack_tests.py
Labels: size/XL

#27017 fix(embedded-sdk): add accessible title to iframe
  superset-embedded-sdk/src/index.ts
Labels: size/XS, embedded

#28795 refactor(sqllab): nonblocking new query editor
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/EditorAutoSync/EditorAutoSync.test.tsx
  superset-frontend/src/SqlLab/components/EditorAutoSync/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Labels: sqllab, size/L, frontend:refactor

#29089 fix: CI errors as the result of removing React imports
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/Histogram.tsx
Labels: size/XS, viz:charts:histogram, plugins

#28762 feat(helm): allow removal of Node & Worker replicas for custom HPA solutions
  helm/superset/README.md
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/values.yaml
Labels: size/S, deploy:helm

#29081 fix(explore): Drill to detail truncates int64 IDs
  superset-frontend/src/components/Chart/chartAction.js
Labels: size/XS, dashboard:drill-to-detail

#28780 feat: Adds Histogram chart migration logic
  superset-frontend/packages/superset-ui-chart-controls/src/operators/histogramOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/histogramOperator.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/processors.py
  superset/utils/pandas_postprocessing/histogram.py
  tests/unit_tests/migrations/viz/histogram_v1_v2_test.py
  tests/unit_tests/pandas_postprocessing/test_histogram.py
Labels: size/L, viz:charts:echarts, viz:charts:histogram, plugins, packages, review:draft

#29084 fix: Remove BASE_AXIS from pre-query
  null_byte.csv
  superset/common/query_context_processor.py
  superset/common/query_object_factory.py
  superset/common/utils/time_range_utils.py
  superset/models/helpers.py
  superset/utils/core.py
Labels: size/M

#29077 chore: only use cypress.io when triggered manually
  .github/workflows/bashlib.sh
  .github/workflows/superset-e2e.yml
  scripts/change_detector.py
  scripts/cypress_run.py
  superset/__init__.py
Labels: size/L, preset-io, github_actions

#29093 docs: various adjustments across the docs
  docs/docs/configuration/alerts-reports.mdx
  docs/docs/configuration/configuring-superset.mdx
  docs/docs/configuration/databases.mdx
  docs/docs/configuration/networking-settings.mdx
  docs/docs/installation/docker-compose.mdx
  docs/docs/installation/upgrading-superset.mdx
  docs/docs/quickstart.mdx
  docs/docs/using-superset/exploring-data.mdx
Labels: size/S, doc

#28572 fix(i18n): improved Russian translation
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian, i18n:traditional-chinese

#29098 fix: Cypress CI process while opening PR from a fork
  .github/workflows/superset-e2e.yml
  superset/__init__.py
Labels: size/XS, github_actions

#28932 fix(embedded): add missing GUEST_TOKEN_HEADER_NAME to bootstrap data
  superset/embedded/view.py
Labels: size/XS

#29104 docs: Add Gavagai to INTHEWILD
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#29091 fix(helm): Set priorityClassName to pods (superset, celeryBeat, celeryBeatFlower, celeryBeatWorker, celeryBeatWebsocket, jobs)
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/values.yaml
Labels: size/M, deploy:helm

#29110 fix: CI failture due to Default React import
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CurrentCalendarFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CurrentCalendarFrame.test.tsx
Labels: size/XS, explore:control

#29109 feat: OAuth2 client initial work
  superset/db_engine_specs/base.py
  superset/models/core.py
  superset/utils/oauth2.py
  tests/unit_tests/conftest.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/sql_lab_test.py
Labels: size/L, authentication

#29119 fix(mixed-timeseries-plugin): Second query stacks stacked on top of first query series
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/transformProps.test.ts
Labels: size/L, viz:charts:echarts, viz:charts:timeseries, plugins

#29142 docs: Add Analytics Aura to INTHEWILD
  RESOURCES/INTHEWILD.md
Labels: size/XS

#29117 fix: Improving handling for tag relationship when deleting assets
  superset/models/dashboard.py
  superset/models/slice.py
  superset/models/sql_lab.py
Labels: sqllab, size/S, dashboard

#29226 chore(intros): Update INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#28774 feat(echarts-pie): add string template support for labels
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Labels: size/L, viz:charts:pie, plugins

#29229 fix: Improving handling for tag relationship when deleting assets v2
  superset/models/dashboard.py
  superset/models/slice.py
  superset/models/sql_lab.py
Labels: size/S, dashboard, viz:charts

#29166 chore: enable ruff lint rule TRY201 and B904 to improve `raise` stack traces
  pyproject.toml
  superset/app.py
  superset/charts/data/api.py
  superset/commands/chart/importers/dispatcher.py
  superset/commands/dashboard/importers/dispatcher.py
  superset/commands/database/create.py
  superset/commands/database/importers/dispatcher.py
  superset/commands/database/ssh_tunnel/create.py
  superset/commands/database/tables.py
  superset/commands/database/test_connection.py
  superset/commands/database/update.py
  superset/commands/dataset/importers/dispatcher.py
  superset/commands/importers/v1/__init__.py
  superset/commands/importers/v1/utils.py
  superset/commands/query/importers/dispatcher.py
  superset/commands/report/execute.py
  superset/commands/security/create.py
  superset/commands/security/update.py
  superset/commands/sql_lab/execute.py
  superset/common/query_object.py
  superset/connectors/sqla/models.py
  superset/databases/utils.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/ocient.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/trino.py
  superset/migrations/versions/2018-07-05_15-19_3dda56f1c4c6_migrate_num_period_compare_and_period_.py
  superset/migrations/versions/2021-04-12_12-38_fc3a3a8ff221_migrate_filter_sets_to_new_format.py
  superset/migrations/versions/2021-04-29_15-32_f1410ed7ec95_migrate_native_filters_to_new_schema.py
  superset/migrations/versions/2021-08-03_15-36_143b6f2815da_migrate_pivot_table_v2_heatmaps_to_new_.py
  superset/migrations/versions/2021-12-13_14-06_fe23025b9441_rename_big_viz_total_form_data_fields.py
  superset/migrations/versions/2021-12-17_16-56_31bb738bd1d2_move_pivot_table_v2_legacy_order_by_to_.py
  superset/migrations/versions/2023-05-11_12-41_4ea966691069_cross_filter_global_scoping.py
  superset/migrations/versions/2024-02-07_17-13_87d38ad83218_migrate_can_view_and_drill_permission.py
  superset/migrations/versions/2024-04-08_15-43_5ad7321c2169_mig_new_csv_upload_perm.py
  superset/migrations/versions/2024-04-17_14-04_d60591c5515f_mig_new_excel_upload_perm.py
  superset/migrations/versions/2024-04-26_12-36_4a33124c18ad_mig_new_columnar_upload_perm.py
  superset/migrations/versions/2024-05-10_18-02_f84fde59123a_update_charts_with_old_time_comparison.py
  superset/models/core.py
  superset/models/helpers.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/sqllab/sql_json_executer.py
  superset/tasks/async_queries.py
  superset/utils/decorators.py
  superset/utils/json.py
  superset/utils/webdriver.py
  superset/views/base_api.py
  tests/integration_tests/dashboards/superset_factory_util.py
Labels: risk:db-migration, size/L, preset-io, api

#29230 fix(sqllab): run previous state query
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: sqllab, size/M, #bug:newfeature

#29108 refactor(sqllab): nonblocking switch query editor
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/EditorAutoSync/EditorAutoSync.test.tsx
  superset-frontend/src/SqlLab/components/EditorAutoSync/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/middlewares/persistSqlLabStateEnhancer.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.test.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.ts
Labels: sqllab, size/L, frontend:refactor

#29164 feat(trino): Add functionality to upload data
  pyproject.toml
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/trino.py
  tests/integration_tests/db_engine_specs/trino_tests.py
Labels: size/L, data:csv, data:connect:trino

#28628 chore: Set isolation level to READ COMMITTED for testing et al.
  superset/config.py
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
Labels: size/S, data:connect:mysql, data:connect:postgres, review:draft

#29235 chore: Remove the need for explicit bubble up of certain exceptions
  superset/charts/data/api.py
  superset/commands/database/ssh_tunnel/create.py
  superset/tasks/async_queries.py
  superset/utils/decorators.py
Labels: size/M, api

#29234 fix(Explore): Keep necessary form data to allow query mode switching
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/constants.ts
Labels: size/S, explore, explore:control

#29241 feat: Support a dynamic minimum interval for alerts and reports
  docs/docs/configuration/alerts-reports.mdx
  superset/commands/report/base.py
  superset/config.py
  tests/unit_tests/commands/report/base_test.py
Labels: change:backend, size/M, alert-reports, need:tests, doc

#29245 test(storybook): fix component stories
  superset-frontend/src/components/Alert/Alert.stories.tsx
  superset-frontend/src/components/AsyncAceEditor/AsyncAceEditor.stories.tsx
  superset-frontend/src/components/Badge/Badge.stories.tsx
  superset-frontend/src/components/Button/Button.stories.tsx
  superset-frontend/src/components/ButtonGroup/ButtonGroup.stories.tsx
  superset-frontend/src/components/CopyToClipboard/CopyToClipboard.stories.tsx
  superset-frontend/src/components/DatePicker/DatePicker.stories.tsx
  superset-frontend/src/components/Dropdown/Dropdown.stories.tsx
  superset-frontend/src/components/DropdownButton/DropdownButton.stories.tsx
  superset-frontend/src/components/IconButton/IconButton.stories.tsx
  superset-frontend/src/components/IconTooltip/IconTooltip.stories.tsx
  superset-frontend/src/components/Icons/Icons.stories.tsx
  superset-frontend/src/components/InfoTooltip/InfoTooltip.stories.tsx
  superset-frontend/src/components/Loading/Loading.stories.tsx
  superset-frontend/src/components/Popover/Popover.stories.tsx
  superset-frontend/src/components/PopoverDropdown/PopoverDropdown.stories.tsx
  superset-frontend/src/components/ProgressBar/ProgressBar.stories.tsx
  superset-frontend/src/components/Switch/Switch.stories.tsx
  superset-frontend/src/components/TableView/TableView.stories.tsx
  superset-frontend/src/components/Tabs/Tabs.stories.tsx
  superset-frontend/src/components/Timer/Timer.stories.tsx
  superset-frontend/src/components/Tooltip/Tooltip.stories.tsx
Labels: size/L, change:frontend

#28876 chore(sqllab): Add logging for actions
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/logger/LogUtils.ts
  superset-frontend/src/logger/useLogAction.test.ts
  superset-frontend/src/logger/useLogAction.ts
Labels: sqllab, size/L, logging

#29248 fix(sqllab): Do not strip comments when executing SQL statements
  superset/sqllab/query_render.py
  tests/integration_tests/sqllab_tests.py
Labels: sqllab, size/XS

#29249 test(Explorer): Fix minor errors in ExploreViewContainer syntax, add tests
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Labels: size/M, explore, explore:error, need:tests

#29260 fix: Custom SQL filter control
  superset-frontend/spec/helpers/testing-library.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ScopingModal.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/AdhocFilterEditPopoverSqlTabContent.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/AdhocFilterEditPopoverSqlTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.test.tsx
Labels: size/L, explore:filter, frontend:refactor, v4.0, review:checkpoint

#29257 fix: Catalog with restricted permissions produces an error during database connection
  .gitignore
  superset/commands/database/create.py
Labels: size/M, global:error, data:connect:postgres

#29233 refactor(sqllab): nonblocking delete query editor
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/EditorAutoSync/EditorAutoSync.test.tsx
  superset-frontend/src/SqlLab/components/EditorAutoSync/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/middlewares/persistSqlLabStateEnhancer.js
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.test.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.ts
Labels: sqllab, size/L, frontend:refactor

#28744 fix(permalink): adding anchor to dashboard permalink generation
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
Labels: size/M, dashboard

#29247 chore: translate strings to French
  superset/translations/fr/LC_MESSAGES/messages.po
Labels: i18n, size/XS, i18n:french

#29274 chore: trigger CI jobs on all release-related branches
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/tech-debt.yml
  UPDATING.md
Labels: size/M, review:checkpoint, github_actions

#29273 docs: remove comment header in README.md
  .rat-excludes
  README.md
  docs/package.json
  docs/src/intro_header.txt
Labels: size/S, doc

#29291 fix: filters not updating with force update when caching is enabled
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
Labels: size/XS, dashboard:native-filters, dashboard:refresh

#29279 fix(sqllab): excessive API calls for schemas
  superset-frontend/src/hooks/apiResources/catalogs.ts
  superset-frontend/src/hooks/apiResources/schemas.test.ts
  superset-frontend/src/hooks/apiResources/schemas.ts
Labels: sqllab, size/L, change:frontend

#29277 chore: make flask-talisman work with test config
  docker/pythonpath_dev/superset_config.py
  scripts/tests/run.sh
  superset/config.py
  superset/initialization/__init__.py
  tests/integration_tests/superset_test_config.py
Labels: size/XS

#29285 chore: use json codec for key value lock
  superset/utils/lock.py
  tests/unit_tests/utils/lock_tests.py
Labels: size/XS

#29300 docs: add Agoda to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#29296 chore(e2e): using updated repo secret, new Cypress project id
  .github/workflows/superset-e2e.yml
  superset-frontend/cypress-base/cypress.config.ts
Labels: size/XS, preset-io, github_actions

#29301 fix(metastore-cache): prune before add
  superset/extensions/metastore_cache.py
  tests/integration_tests/extensions/metastore_cache_test.py
Labels: size/S, infra:caching

#29302 chore(distributed-lock): refactor tests
  superset/commands/key_value/get.py
  superset/key_value/models.py
  superset/utils/lock.py
  tests/unit_tests/utils/lock_tests.py
Labels: size/L

#29286 fix(key-value): use flush instead of commit
  superset/commands/dashboard/permalink/create.py
  superset/commands/explore/permalink/create.py
  superset/commands/key_value/create.py
  superset/commands/key_value/delete.py
  superset/commands/key_value/delete_expired.py
  superset/commands/key_value/update.py
  superset/commands/key_value/upsert.py
  superset/extensions/metastore_cache.py
  superset/key_value/shared_entries.py
  superset/utils/lock.py
  tests/integration_tests/key_value/commands/delete_test.py
  tests/integration_tests/key_value/commands/fixtures.py
  tests/integration_tests/key_value/commands/get_test.py
Labels: size/M

#27439 fix(Dashboard): Color inconsistency on refreshes and conflicts
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/compare.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/dist_bar.test.js
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/color/LabelsColorMapSingleton.ts
  superset-frontend/packages/superset-ui-core/src/color/index.ts
  superset-frontend/packages/superset-ui-core/src/color/utils.ts
  superset-frontend/packages/superset-ui-core/src/hooks/useComponentDidUpdate/useComponentDidUpdate.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorNameSpace.test.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/LabelsColorMapSingleton.test.ts
  superset-frontend/packages/superset-ui-core/test/color/SharedLabelColorSingleton.test.ts
  superset-frontend/plugins/legacy-plugin-chart-chord/src/Chord.js
  superset-frontend/plugins/legacy-plugin-chart-histogram/src/Histogram.jsx
  superset-frontend/plugins/legacy-plugin-chart-partition/src/Partition.js
  superset-frontend/plugins/legacy-plugin-chart-rose/src/Rose.js
  superset-frontend/plugins/legacy-plugin-chart-sankey/src/Sankey.js
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.js
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/chart/WordCloud.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/legacyPlugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-word-cloud/test/legacyPlugin/transformProps.test.ts
  superset-frontend/src/components/Chart/Chart.jsx
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/ColorSchemeControlWrapper.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/SyncDashboardState/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/containers/Chart.jsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/ColorSchemeControl.test.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/ColorSchemeLabel.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/index.tsx
  superset-frontend/src/pages/Chart/index.tsx
  superset-frontend/src/types/DashboardContextForExplore.ts
  superset-frontend/src/utils/colorScheme.ts
  tests/integration_tests/superset_test_config.py
Labels: size/XXL, plugins, packages

#28429 fix(ui): Disable ability to export data when user does not have the correct permission
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.test.ts
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/DataTableControls.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/fixture.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Labels: size/L

#27962 feat: Dashboard tabs api endpoint
  superset/constants.py
  superset/daos/dashboard.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/models/dashboard.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/L, api:dashboard, api

#28201 chore(applitools): making tests more static for consistent testing
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/components/Table/cell-renderers/TimeCell/TimeCell.stories.tsx
Labels: size/XS

#29123 feat(dashboard): Enables pivot table download option at dashboard level
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/types.ts
Labels: size/S, dashboard:export

#29231 feat: add new SQLLAB_FORCE_RUN_ASYNC feature flag
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset/config.py
  superset/sqllab/sqllab_execution_context.py
  tests/unit_tests/sql_lab_execution_context.py
Labels: sqllab, size/L, global:async-query, need:tests, packages

#28753 fix: don't strip SQL comments in Explore - 2nd try
  .github/workflows/superset-python-integrationtest.yml
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/models/helpers.py
  tests/integration_tests/conftest.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/sqla_models_tests.py
Labels: size/L, explore, preset-io, explore:error, github_actions

#29319 chore(e2e): more instructions for manual test runs.
  .github/workflows/superset-e2e.yml
Labels: size/XS, github_actions

#29314 fix: Remove recursive repr call
  superset/commands/exceptions.py
Labels: size/XS

#29313 docs: update CVEs fixed on 4.0.1 and 3.1.3
  docs/docs/security/cves.mdx
Labels: size/XS, doc

#29327 chore(e2e): simplify Cypress record key usage
  .asf.yaml
  .github/workflows/superset-e2e.yml
  scripts/cypress_run.py
Labels: size/S, github_actions

#29337 docs: Update INTHEWILD.md with Bluesquare
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#29346 fix: Cannot delete empty column inside a tab using the dashboard editor
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: size/XS, change:frontend, dashboard:editmode

#29349 fix(explore): restored hidden field values has discarded
  superset-frontend/src/explore/actions/exploreActions.test.js
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/exploreReducer.test.js
Labels: size/M, explore, need:tests, review:checkpoint

#14817 fix: actually write changes on "superset import-datasources"
  superset/commands/dataset/importers/v0.py
Labels: size/XS

#29360 chore: Rename Totals to Summary in table chart
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/metrics.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/M, viz:charts:table, plugins

#29345 fix(revert 27883): Excess padding in horizontal Bar charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Labels: size/S, viz:charts:echarts, viz:charts:bar, plugins

#29355 chore(tests): Cleanup Celery tests
  tests/integration_tests/celery_tests.py
Labels: size/S

#27777 fix: default logging
  UPDATING.md
  superset/config.py
  superset/utils/logging_configurator.py
Labels: size/S

#29353 refactor(Homepage): Migrate Home.test to RTL
  superset-frontend/src/pages/Home/Home.test.tsx
Labels: size/L, home, need:tests

#29321 fix(Query): Parse html string error responses to avoid displaying raw HTML as error message
  superset-frontend/packages/superset-ui-core/src/query/getClientErrorObject.ts
  superset-frontend/packages/superset-ui-core/src/utils/html.test.tsx
  superset-frontend/packages/superset-ui-core/src/utils/html.tsx
  superset-frontend/packages/superset-ui-core/test/query/getClientErrorObject.test.ts
Labels: size/L, change:frontend, packages

#29367 fix(explore): don't respect y-axis formatting
  superset-frontend/src/explore/components/StashFormDataContainer/StashFormDataContainer.test.tsx
  superset-frontend/src/explore/components/StashFormDataContainer/index.tsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/exploreReducer.test.js
Labels: size/M, explore, explore:control

#29329 feat: Adds the ECharts Sankey chart
  superset-frontend/plugins/legacy-plugin-chart-sankey/src/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/Sankey.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/images/example1.png
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/images/example2.png
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/cli/viz_migrations.py
  superset/examples/configs/charts/Featured Charts/Sankey.yaml
  superset/examples/configs/dashboards/Featured_Charts.yaml
  superset/migrations/shared/migrate_viz/processors.py
Labels: size/L, change:frontend, viz:charts:echarts, viz:charts:sankey, plugins

#29351 feat(e2e): implementing Cypress Dashboard on `master` branch merges
  .github/workflows/superset-e2e.yml
Labels: size/XS, github_actions

#29366 chore(tests): Mark TestConnectionDatabaseCommand as non-test related
  superset/commands/database/test_connection.py
Labels: size/XS

#29368 fix(tox): Address issue with generative environment variables
  pyproject.toml
Labels: size/XS, install:config

#29371 chore(ci): Start Celery worker as a background process
  .github/workflows/bashlib.sh
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
Labels: size/M, need:tests, github_actions

#29381 chore(security): Clean up session/commit logic
  superset/security/manager.py
Labels: change:backend, size/S, review:checkpoint

#29386 chore(tests): Remove unnecessary mock
  tests/integration_tests/databases/api_tests.py
Labels: size/XS, need:tests

#29388 ci: remove update repo on issue comment
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/M, github_actions

#29390 docs: fix typo in docker compose doc
  docs/docs/installation/docker-compose.mdx
Labels: size/XS, doc

#29391 chore(Table): Add aria-label to Table page size selector
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/S, design:accessibility, review:checkpoint, plugins

#29400 docs: fix typos
  docs/docs/contributing/development.mdx
  docs/docs/installation/docker-builds.mdx
Labels: size/S, doc

#29380 refactor(src/explore/comp/controls/metricControl): migrate Enzyme test to RTL syntax
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionOption.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionOption.test.tsx
Labels: size/L, explore, frontend:refactor

#29405 chore(frontend): remove obsolete ESLint rules in tests
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/explore/actions/exploreActions.test.js
  superset-frontend/src/explore/components/controls/CheckboxControl.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/AdhocFilterControl.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/AdhocFilterEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/FilterDefinitionOption.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionValue.test.jsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.test.jsx
  superset-frontend/src/explore/components/controls/SelectControl.test.jsx
  superset-frontend/src/explore/components/controls/TextAreaControl.test.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.test.jsx
Labels: size/S

#29399 docs: update INTHEWILD.md with bluquist
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#29413 docs: Update INTHEWILD.md with Aveti Learning
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc
