Repository apache/superset, pull requests merged in 2024-01, with the labels that each got.

#26381 docs: fix spelling and grammar
  RELEASING/release-notes-2-0/README.md
  docs/docs/frequently-asked-questions.mdx
  docs/docs/installation/event-logging.mdx
Labels: size/XS

#25770 chore: Add example charts for deck.gl
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Arc/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Arc/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Grid/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Grid/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Heatmap/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Heatmap/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Hex/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Hex/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Path/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Path/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/images/example.png
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/index.ts
Labels: size/S

#26380 fix: Removes non-existent columns in the 2018 FCC Survey dataset
  superset/examples/configs/datasets/examples/FCC_2018_Survey.yaml
Labels: size/XXL

#26302 fix: Invalid references in the basic template
  superset/templates/superset/basic.html
Labels: size/L, v3.0, v3.1

#26353 fix(SelectControl): select zero value
  superset-frontend/src/explore/components/controls/SelectControl.jsx
Labels: size/XS

#26398 fix(embed): an error occurred while rendering the visualization: error: Item with key ... is not registered.
  superset-frontend/src/embedded/index.tsx
Labels: size/XS, review-checkpoint

#26362 fix: Reactivates native filters E2E tests
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
Labels: size/XS

#26410 fix(dashboard): Chart menu disable is fixed on chart-fullscreen in issue #25992
  superset-frontend/src/components/Dropdown/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: size/S, v3.0, v3.1

#26313 fix(dashboard): narrow empty drop area
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
Labels: size/L

#26405 fix(sqllab): Bump duckdb-engine version to 0.9.5
  setup.py
Labels: size/XS

#26393 fix(chart): Resolve incorrect column customization when switching metrics in table chart
  superset-frontend/src/explore/actions/exploreActions.test.js
  superset-frontend/src/explore/reducers/exploreReducer.js
Labels: size/L

#26407 feat: Add ValuePercent option to LABEL TYPE for Pie and Funnel charts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
Labels: size/S

#24605 chore: Reenable SQLite tests which leverage foreign key constraints et al.
  .github/workflows/superset-python-integrationtest.yml
  tests/integration_tests/datasets/api_tests.py
  tox.ini
Labels: size/L

#26428 chore(docs): remove incorrect answer from FAQ
  docs/docs/frequently-asked-questions.mdx
Labels: size/XS, review-checkpoint

#26415 fix: In chart gallery thumbnail is rendered in case of no example in #16707
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: size/S

#26404 fix(plugin-chart-echarts): support forced categorical x-axis
  superset-frontend/packages/superset-ui-chart-controls/src/constants.ts
  superset-frontend/packages/superset-ui-chart-controls/src/fixtures.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/checkColumnType.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/columnChoices.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/index.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/checkColumnType.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/columnChoices.test.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getTemporalColumns.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
  superset-frontend/src/SqlLab/fixtures.ts
  superset/result_set.py
  tests/integration_tests/result_set_tests.py
Labels: size/L

#26424 fix(translations): Clear all
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/XS

#26332 feat(embedded+async queries): support async queries to work with embedded guest user
  superset/async_events/async_query_manager.py
  superset/common/query_context_processor.py
  superset/tasks/async_queries.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/async_events/async_query_manager_tests.py
Labels: size/L

#26429 fix(post-processing): handle missing values in cumulative operator
  superset/utils/pandas_postprocessing/cum.py
  tests/unit_tests/fixtures/dataframes.py
  tests/unit_tests/pandas_postprocessing/test_cum.py
Labels: size/S

#26431 chore: bump prophet to 1.1.5
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Labels: size/M

#26355 fix: Trino - handle table not found in SQLLab
  superset/db_engine_specs/trino.py
  tests/unit_tests/db_engine_specs/test_trino.py
Labels: size/M

#26412 fix(embedded): Hide dashboard fullscreen option for embedded context
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/S

#26468 docs: Update installing-superset-from-scratch.mdx
  docs/docs/installation/installing-superset-from-scratch.mdx
Labels: size/XS

#26444 chore(deps): adding dependabot for plugins/packages and upping PR limits.
  .github/dependabot.yml
Labels: size/L

#26416 fix: improve performance on reports log queries
  UPDATING.md
  superset/migrations/versions/2024-01-05_16-20_65a167d4c62e_add_indexes_to_report_models.py
  superset/reports/models.py
Labels: risk:db-migration, size/M

#26351 fix: stringify scarf pixel value
  superset-frontend/webpack.config.js
Labels: size/XS, hold:testing!

#26331 refactor: Removes the deprecated DISABLE_DATASET_SOURCE_EDIT feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
  superset/config.py
  superset/views/base.py
Labels: risk:breaking-change, size/M, hold!, v4.0

#26343 refactor: Removes the deprecated ENABLE_EXPLORE_DRAG_AND_DROP feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Path/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/columns.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/metrics.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset/config.py
Labels: risk:breaking-change, size/L, hold!, v4.0

#26450 chore: Deprecates the KV_STORE feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset/config.py
  superset/views/key_value.py
Labels: size/S, hold!, v4.0

#26349 refactor: Removes the deprecated DASHBOARD_CACHE feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset/config.py
  superset/dashboards/api.py
  superset/models/dashboard.py
Labels: risk:breaking-change, size/M, v4.0

#26634 fix: RLS modal styling
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/components/InfoTooltip/index.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Labels: size/M

#26604 feat(celery): upgrade celery and its dependencies packages
  requirements/base.txt
  setup.py
Labels: size/S

#26606 docs: fix links
  docs/docs/contributing/local-backend.mdx
  docs/docs/creating-charts-dashboards/creating-your-first-dashboard.mdx
  docs/docs/databases/docker-add-drivers.mdx
  docs/docs/frequently-asked-questions.mdx
  docs/docs/installation/alerts-reports.mdx
  docs/docs/installation/cache.mdx
  docs/docs/installation/installing-superset-from-scratch.mdx
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/installation/sql-templating.mdx
  docs/docs/intro.mdx
  docs/docs/quickstart.mdx
  docs/docusaurus.config.js
Labels: size/M

#26418 feat: global logs context
  superset/commands/report/execute.py
  superset/reports/notifications/slack.py
  superset/utils/decorators.py
  tests/unit_tests/notifications/slack_tests.py
  tests/unit_tests/utils/test_decorators.py
Labels: size/L

#26186 refactor: Ensure Celery leverages the Flask-SQLAlchemy session
  1
  superset/commands/report/execute.py
  superset/commands/report/log_prune.py
  superset/daos/report.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/ocient.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  superset/sql_lab.py
  superset/tasks/cache.py
  superset/tasks/celery_app.py
  superset/tasks/scheduler.py
  superset/utils/celery.py
  tests/integration_tests/sql_lab/test_execute_sql_statements.py
  tests/integration_tests/sqllab_tests.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/sql_lab_test.py
Labels: size/XXL, v4.0

#26625 fix: create virtual dataset validation
  superset/commands/dataset/create.py
  superset/commands/dataset/exceptions.py
  superset/security/manager.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/security_tests.py
Labels: size/L

#26637 chore: Sets the DRILL_BY feature flag to True by default
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset/config.py
Labels: risk:breaking-change, size/XS, v4.0

#26540 chore(API): Include changed_by.id in Get Charts and Get Datasets API responses
  superset/charts/api.py
  superset/datasets/api.py
Labels: size/XS

#26636 chore: Sets DASHBOARD_VIRTUALIZATION feature flag to True by default
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset/config.py
Labels: risk:breaking-change, size/XS, v4.0

#26635 chore: Deprecates the ENABLE_JAVASCRIPT_CONTROLS feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Labels: size/XS, v4.0

#26649 fix: remove possible unnecessary file 1
  1
Labels: size/XL

#26633 chore: Deprecates the DASHBOARD_CROSS_FILTERS feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Labels: size/S, v4.0

#26200 refactor: Ensure Flask framework leverages the Flask-SQLAlchemy session
  scripts/benchmark_migration.py
  superset/cachekeys/api.py
  superset/commands/dashboard/importers/v0.py
  superset/commands/explore/get.py
  superset/commands/utils.py
  superset/common/query_context_factory.py
  superset/common/query_object_factory.py
  superset/connectors/sqla/models.py
  superset/daos/dashboard.py
  superset/daos/datasource.py
  superset/datasource/api.py
  superset/models/dashboard.py
  superset/security/manager.py
  superset/utils/database.py
  superset/utils/log.py
  superset/utils/mock_data.py
  superset/views/core.py
  superset/views/datasource/utils.py
  superset/views/datasource/views.py
  superset/views/utils.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/common/test_query_object_factory.py
  tests/unit_tests/conftest.py
  tests/unit_tests/datasource/dao_tests.py
Labels: size/XL, v4.0

#26346 refactor: Removes the deprecated REMOVE_SLICE_LEVEL_LABEL_COLORS feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset/config.py
  superset/dashboards/api.py
Labels: risk:breaking-change, size/S, v4.0

#26648 fix: Removes unused cache cleanup
  superset/commands/chart/delete.py
  superset/models/dashboard.py
Labels: size/M, v4.0

#26650 chore: Updates CHANGELOG.md and UPDATING.md with 3.0.3 data
  CHANGELOG.md
  UPDATING.md
Labels: size/M, review-checkpoint

#25800 docs: update embedded readme with user params context
  superset-embedded-sdk/README.md
Labels: size/XS

#26345 refactor: Removes the deprecated ENABLE_TEMPLATE_REMOVE_FILTERS feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
  superset/models/helpers.py
Labels: risk:breaking-change, size/S, v4.0

#26344 refactor: Removes the deprecated ENABLE_EXPLORE_JSON_CSRF_PROTECTION feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  docs/docs/installation/configuring-superset.mdx
  superset/config.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: risk:breaking-change, size/M, v4.0

#26645 fix(translation): correct translation errors for Chinese(zh)
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: size/S

#26330 refactor: Removes the deprecated DASHBOARD_FILTERS_EXPERIMENTAL feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/filters/components/GroupBy/GroupByFilterPlugin.tsx
  superset-frontend/src/filters/components/GroupBy/buildQuery.ts
  superset-frontend/src/filters/components/GroupBy/controlPanel.ts
  superset-frontend/src/filters/components/GroupBy/images/thumbnail.png
  superset-frontend/src/filters/components/GroupBy/index.ts
  superset-frontend/src/filters/components/GroupBy/transformProps.ts
  superset-frontend/src/filters/components/GroupBy/types.ts
  superset-frontend/src/filters/components/index.ts
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset/config.py
Labels: risk:breaking-change, size/L, v4.0

#26661 chore: Updates CHANGELOG.md and UPDATING.md with 3.1.0 data
  CHANGELOG.md
  UPDATING.md
Labels: size/L

#26375 chore: Updates the bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  RELEASING/README.md
Labels: size/L, hold!

#26679 fix: Revert "buld(deps): bump swagger-ui-react from 4.1.3 to 5.11.0 in docs (#26552)
  docs/package.json
  docs/yarn.lock
Labels: size/XXL

#26347 refactor: Removes the deprecated VERSIONED_EXPORT feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset/cli/importexport.py
  superset/config.py
  superset/dashboards/api.py
  superset/datasets/api.py
  superset/initialization/__init__.py
  superset/views/core.py
  tests/integration_tests/cli_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/security_tests.py
Labels: risk:breaking-change, size/XXL, v4.0

#26682 fix: Revert "build(deps): bump @mdx-js/react from 1.6.22 to 3.0.0 in /docs"
  docs/package.json
  docs/yarn.lock
Labels: size/S

#26329 refactor: Removes the deprecated DASHBOARD_NATIVE_FILTERS feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/pagination.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/HeaderActionsDropdown.test.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.test.ts
  superset-frontend/src/dataMask/actions.ts
  superset/config.py
  tests/integration_tests/superset_test_config.py
Labels: risk:breaking-change, size/L, v4.0

#25550 fix: Catch ImportErrors for Google SDKs
  superset/db_engine_specs/bigquery.py
Labels: size/XS

#26652 fix(import): only import FORMULA annotations
  superset/cli/importexport.py
  superset/commands/chart/importers/v1/utils.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/cli_tests.py
  tests/integration_tests/fixtures/importexport.py
  tests/unit_tests/charts/commands/importers/v1/import_test.py
Labels: size/M

#26707 feat(helm): Upgrade default Superset version to 3.1.0
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS

#26476 feat(sqlparse): improve table parsing
  requirements/base.txt
  requirements/testing.txt
  setup.py
  superset/commands/dataset/duplicate.py
  superset/commands/sql_lab/export.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/utils.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/sql_validators/presto_db.py
  superset/sqllab/query_render.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/L

#26703 chore: silence SECRET_KEY warning when running tests
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
Labels: size/XS

#26709 fix: do not use lodash/memoize
  superset-frontend/src/utils/getControlsForVizType.js
Labels: size/XS

#26705 fix(legacy-charts): Show Time Grain control for legacy charts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
Labels: size/XS

#26708 chore(dependencies): loosen constraints on dependency checker
  .github/workflows/dependency-review.yml
Labels: size/XS

#26744 fix(db2): Improving support for ibm db2 connections
  setup.py
  superset/db_engine_specs/db2.py
  tests/unit_tests/db_engine_specs/test_db2.py
Labels: size/L

#26745 feat: auto-label PRs that contain db migrations
  .github/workflows/label-migration-pr.yml
Labels: risk:db-migration, size/S

#26473 fix: docker ephemeral environment, push only on testenv comment
  .github/workflows/docker-ephemeral-env.yml
  .github/workflows/ephemeral-env.yml
Labels: size/L

#26760 docs: update fixed CVEs for version 3.0.3
  docs/docs/security/cves.mdx
Labels: size/XS

#26753 chore: do not mark helm releases as github latest
  .github/workflows/superset-helm-release.yml
Labels: size/XS

#26698 build: Parallelize the CI image builds (continued)
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  scripts/docker_build_push.sh
  tests/unit_tests/fixtures/bash_mock.py
  tests/unit_tests/scripts/docker_build_push_test.py
Labels: size/L

#25510 fix: change the validation logic for python_date_format
  UPDATING.md
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceEditor.test.jsx
  superset/daos/dataset.py
  superset/datasets/schemas.py
  tests/unit_tests/config_test.py
  tests/unit_tests/datasets/schema_tests.py
Labels: size/L, hold!

#26461 fix(BigQuery): Support special characters in column/metric names used in ORDER BY
  superset/models/helpers.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
Labels: size/XS

#26766 chore: prevent CI double runs on push + pull_request
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/docker.yml
  .github/workflows/license-check.yml
  .github/workflows/no-op.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  scripts/docker_build_push.sh
Labels: size/L

#26704 chore: improve/decouple eslint and tsc 'npm run' commands
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-websocket.yml
  CONTRIBUTING.md
  docs/docs/contributing/hooks-and-linting.mdx
  superset-frontend/js_build.sh
  superset-frontend/package.json
  superset-frontend/scripts/build.js
Labels: size/M

#26772 fix(docker): credentials issues around superset-cache in forks
  .github/workflows/docker.yml
Labels: size/S

#26674 fix: helm chart comment on SECRET_KEY
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/XS

#26314 fix(logging): Filter out undefined columns
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/XS

#26752 fix: add user to latest-release-tag workflow
  .github/workflows/latest-release-tag.yml
Labels: size/XS

#26759 chore: Add Embed Modal extension override and tests
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/dashboard/components/EmbeddedModal/EmbeddedModal.test.tsx
  superset-frontend/src/dashboard/components/EmbeddedModal/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: size/L

#26801 fix: docker should always run, even in forks
  .github/workflows/docker.yml
  scripts/docker_build_push.sh
Labels: size/M

#26789 chore(RESOURCES): fix markdown for table formatting
  RESOURCES/STANDARD_ROLES.md
Labels: size/L

#26754 feat: Stop editor scrolling to top
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/types.ts
Labels: size/M

#26807 fix: Row limit hardcoded
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  tests/integration_tests/celery_tests.py
  tests/integration_tests/superset_test_config.py
Labels: size/XS

#26793 chore(dependencies): bumping fonttools
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  requirements/testing.txt
Labels: size/M

#26701 fix(tags): Filter system tags from the tags list
  superset-frontend/src/pages/Tags/index.tsx
  superset/commands/dashboard/importers/v0.py
  superset/tags/api.py
  superset/tags/filters.py
  superset/views/core.py
  tests/integration_tests/tags/api_tests.py
Labels: size/L

#26815 chore: Reformat changelogs
  superset-frontend/packages/superset-ui-chart-controls/CHANGELOG.md
  superset-frontend/packages/superset-ui-demo/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-calendar/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-chord/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-country-map/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-event-flow/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-heatmap/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-histogram/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-horizon/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-map-box/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-paired-t-test/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-partition/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-rose/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-sankey/CHANGELOG.md
  superset-frontend/plugins/legacy-plugin-chart-world-map/CHANGELOG.md
  superset-frontend/plugins/legacy-preset-chart-nvd3/CHANGELOG.md
  superset-frontend/plugins/plugin-chart-echarts/CHANGELOG.md
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/CHANGELOG.md
  superset-frontend/plugins/plugin-chart-pivot-table/CHANGELOG.md
  superset-frontend/plugins/plugin-chart-table/CHANGELOG.md
  superset-frontend/plugins/plugin-chart-word-cloud/CHANGELOG.md
Labels: size/L

#26816 chore: add google-auth for new example dashboard
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  requirements/testing.txt
  setup.py
Labels: size/M

#26814 fix(time-series table): Can't compare from the beginning of the time range
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/TimeSeriesColumnControl.test.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.jsx
  superset-frontend/src/visualizations/TimeTable/TimeTable.jsx
Labels: size/S, review-checkpoint

#26794 chore(dependencies): bumping jinja2
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
Labels: size/M

#26813 chore(ci): change code owners for .github
  .github/CODEOWNERS
Labels: size/XS

#26702 chore: fix GitHub 'Unchanged files with check annotations' reports in PR
  .github/workflows/superset-websocket.yml
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset-frontend/cypress-base/cypress/utils/index.ts
  superset-frontend/cypress-base/cypress/utils/vizPlugins.ts
Labels: size/M

#25923 fix(deck.gl Multiple Layer Chart): Add Contour and Heatmap Layer as options
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Arc/Arc.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/Geojson.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Heatmap/Heatmap.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Path/Path.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/Polygon.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/Scatter.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/Screengrid.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/index.ts
Labels: size/M

#23873 chore: Slovenian translation update
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
Labels: size/XXL

#26798 chore: Add permission to view and drill on Dashboard context
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/useContextMenu.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/L

#26749 fix: prevent guest user from modifying metrics
  superset/common/query_object.py
  superset/security/manager.py
  tests/integration_tests/security/guest_token_security_tests.py
  tests/unit_tests/security/manager_test.py
Labels: size/L

#26443 feat: add chart id and dataset id to global logs
  superset/charts/data/api.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M

#26820 chore(lint/a11y): fixing and locking down jsx-a11y/anchor-is-valid
  superset-frontend/.eslintrc.js
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
Labels: size/XS

#26453 fix(chart table in dashboard): improve screen reading of table
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
Labels: size/S, hold:testing!

#26817 fix: Bar charts horizontal margin adjustment error
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/M

#26855 chore(dependabot): lowering bump cadence from weekly to monthly
  .github/dependabot.yml
Labels: size/M

#25323 feat(i18n): add ukranian translations
  superset/config.py
  superset/translations/uk/LC_MESSAGES/messages.json
  superset/translations/uk/LC_MESSAGES/messages.po
Labels: size/XXL

#26868 chore(actions): run docs actions on Node 16 to conform with the project
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
  docs/README.md
Labels: size/S

#26874 chore(license): adding a missing license blurb to a translation file
  superset/translations/uk/LC_MESSAGES/messages.po
Labels: size/S

#26872 chore(dependabot): auto-update lockfiles for monorepo package bumps
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/M

#26880 feat: configuring an extensible PR auto-labeler
  .github/labeler.yml
  .github/workflows/label-migration-pr.yml
  .github/workflows/labeler.yml
  superset/migrations/env.py
Labels: risk:db-migration, size/M

#26877 feat(ci): add a check to make sure there's no hold label on the PR
  .github/workflows/no-hold-label.yml
Labels: size/S

#26901 fix(svg): reformatting svgs to allow license without breaking images
  docs/static/img/databases/apache-hive.svg
  docs/static/img/databases/apache-pinot.svg
  docs/static/img/databases/csv.svg
Labels: size/XS, doc

#26900 chore(ci): make action/labeler work on fork PRs
  .github/workflows/labeler.yml
Labels: size/XS

#26888 fix(dependencies): adding auth for dependabot lockfile action
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/XS

#26902 chore(docs): remove misplaced k8s installation instructions
  docs/docs/installation/installing-superset-from-scratch.mdx
Labels: size/S, doc

#26272 chore(explore): migrate enzyme to RTL
  superset-frontend/src/explore/components/Control.test.tsx
  superset-frontend/src/explore/components/SaveModal.test.jsx
Labels: size/L

#26906 fix(pinot): typo in the name for epoch_ms_to_dttm
  superset/db_engine_specs/pinot.py
  tests/integration_tests/db_engine_specs/pinot_tests.py
Labels: size/S

#26904 fix(dependabot): lockfile updater won't fail when there's nothing to …
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/XS

#26787 fix(docker): improve docker tags to be cleared and avoid conflicts
  .asf.yaml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/no-op.yml
  .github/workflows/pr-lint.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python-integrationtest.yml
  docs/docs/installation/installing-superset-from-scratch.mdx
  pytest.ini
  scripts/build_docker.py
  scripts/docker_build_push.sh
  tests/unit_tests/fixtures/bash_mock.py
  tests/unit_tests/scripts/docker_build.py
  tests/unit_tests/scripts/docker_build_push_test.py
  tests/unit_tests/utils/docker.py
Labels: size/XXL, doc

#26917 fix: remove ephemeral docker build from required workflow
  .asf.yaml
Labels: size/XS

#26852 fix(ci): ephemeral env build
  .asf.yaml
  .github/workflows/docker.yml
  .github/workflows/ephemeral-env.yml
Labels: size/L

#26919 fix(ci): ephemeral env build and up dependency
  .github/workflows/ephemeral-env.yml
Labels: size/S

#26920 fix(ci): lint issue on update-monorepo-lockfiles.yml
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/XS

#26918 chore(ci): notify PMCs of changes on required workflows
  .github/CODEOWNERS
Labels: size/XS

#26921 fix(ci): remove deprecated set-output on github workflows
  .github/workflows/cancel_duplicates.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-helm-lint.yml
Labels: size/S

#26922 fix(sqllab): autosync fail on migrated queryEditor
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: size/S

#26912 feat(ci): unleash dependabot on our github actions
  .github/dependabot.yml
Labels: size/XS

#26942 chore(ci): run pre-commit across the repo
  .github/workflows/pre-commit.yml
  .github/workflows/superset-python-misc.yml
Labels: size/M
