Repository apache/superset, pull requests merged in 2024-04, with the labels that each got.

#27839 chore: Updates translation owners
  .github/CODEOWNERS
Labels: size/XS

#27441 chore: Adds the 4.0 release notes
  RELEASING/release-notes-4-0/README.md
  RELEASING/release-notes-4-0/media/alert-modal-1.png
  RELEASING/release-notes-4-0/media/alert-modal-2.png
  RELEASING/release-notes-4-0/media/alert-modal-3.png
  RELEASING/release-notes-4-0/media/dashboard-dnd-1.png
  RELEASING/release-notes-4-0/media/dashboard-dnd-2.png
  RELEASING/release-notes-4-0/media/explore-dnd.png
  RELEASING/release-notes-4-0/media/sunburst.png
  RELEASING/release-notes-4-0/media/tags-1.png
  RELEASING/release-notes-4-0/media/tags-2.png
Labels: size/L

#27846 fix: alembic's 'superset db migrate' fails with CompileError
  superset/connectors/sqla/models.py
Labels: size/XS, preset-io

#27845 fix(dashboard): missing null check in error extra
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
Labels: size/S

#27855 fix: pkg-config dependency in Dockerfile
  .github/workflows/no-op.yml
  Dockerfile
Labels: size/XS, github_actions

#27859 feat: setup a pyproject.toml
  .gitignore
  pyproject.toml
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  setup.py
Labels: size/L

#27842 chore(sql_parse): Strip leading/trailing whitespace in Jinja macro extraction
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/XS

#27631 feat(SIP-85): OAuth2 for databases
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset-frontend/src/components/ErrorMessage/OAuth2RedirectMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/OAuth2RedirectMessage.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/setup/setupErrorMessages.ts
  superset/commands/chart/data/get_data_command.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/utils.py
  superset/daos/database.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/db_engine_specs/README.md
  superset/db_engine_specs/base.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  superset/errors.py
  superset/exceptions.py
  superset/key_value/types.py
  superset/migrations/versions/2024-03-20_16-02_678eefb4ab44_add_access_token_table.py
  superset/models/core.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/templates/superset/oauth2.html
  superset/utils/lock.py
  superset/utils/oauth2.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/connectors/__init__.py
  tests/unit_tests/connectors/sqla/__init__.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/databases/schema_tests.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
  tests/unit_tests/db_engine_specs/test_databend.py
  tests/unit_tests/db_engine_specs/test_drill.py
  tests/unit_tests/db_engine_specs/test_elasticsearch.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/sql_lab_test.py
  tests/unit_tests/utils/lock_tests.py
  tests/unit_tests/utils/oauth2_tests.py
Labels: risk:db-migration, size/XXL, preset-io, api

#27647 feat: move supersetbot out of repo
  .github/actions/setup-supersetbot/action.yml
  .github/supersetbot/.eslintrc.json
  .github/supersetbot/README.md
  .github/supersetbot/jest.config.js
  .github/supersetbot/package-lock.json
  .github/supersetbot/package.json
  .github/supersetbot/src/cli.js
  .github/supersetbot/src/cli.test.js
  .github/supersetbot/src/context.js
  .github/supersetbot/src/docker.js
  .github/supersetbot/src/docker.test.js
  .github/supersetbot/src/git.js
  .github/supersetbot/src/git_release.js
  .github/supersetbot/src/github.js
  .github/supersetbot/src/index.js
  .github/supersetbot/src/index.test.js
  .github/supersetbot/src/metadata.js
  .github/supersetbot/src/supersetbot
  .github/supersetbot/src/utils.js
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/issue_creation.yml
  .github/workflows/supersetbot.yml
Labels: size/XXL, preset-io, github_actions

#27791 docs: small cleanup
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/intro.mdx
  docs/docs/quickstart.mdx
Labels: size/M, doc

#27861 fix: run pip-compile-multi --no-upgrade
  requirements/base.txt
  requirements/development.txt
Labels: size/S

#27708 feat(viz picker): Remove some tags, refactor Recommended section
  superset-frontend/plugins/legacy-plugin-chart-chord/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/src/index.js
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/index.js
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Geojson/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Grid/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Heatmap/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Hex/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/index.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Area/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/DistBar/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Line/index.js
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Pie/index.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/index.ts
  superset-frontend/plugins/plugin-chart-table/src/index.ts
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/index.ts
  superset-frontend/src/assets/images/icons/ballot.svg
  superset-frontend/src/assets/images/icons/category.svg
  superset-frontend/src/assets/images/icons/tags.svg
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Labels: size/L, plugins

#27858 chore(sql_parse): Provide more meaningful SQLGlot errors
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/S

#27878 chore: Updates CHANGELOG.md with 3.1.2 data
  .github/ISSUE_TEMPLATE/bug-report.yml
  CHANGELOG.md
  CHANGELOG/3.1.2.md
Labels: size/M

#27843 chore: Default to engine specification regarding using wildcard
  superset/databases/api.py
  superset/databases/utils.py
  tests/integration_tests/databases/api_tests.py
Labels: size/XS, api

#27772 chore: Cleanup table access check naming
  superset/databases/api.py
  superset/databases/decorators.py
Labels: size/S, api

#27883 fix(bar-chart): change legend padding for horizontal orientation
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/S, plugins

#27889 fix(pylint): Address errors/warnings introduced by #27867
  superset/common/query_context.py
  superset/common/query_context_factory.py
  superset/common/query_object.py
  superset/config.py
  superset/daos/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/models/slice.py
  superset/utils/retries.py
Labels: size/S

#27725 chore(sqllab): Do not strip comments when executing SQL statements
  superset/sql_lab.py
  tests/integration_tests/sqllab_tests.py
Labels: size/M

#27593 fix(Dashboard): Add border to row when hovering HoverMenu in edit mode
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.test.tsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
Labels: size/M

#27903 docs: replace broken david badges with libraries.io
  superset-embedded-sdk/README.md
  superset-frontend/packages/generator-superset/README.md
  superset-frontend/packages/superset-ui-chart-controls/README.md
  superset-frontend/packages/superset-ui-core/README.md
  superset-frontend/packages/superset-ui-demo/README.md
  superset-frontend/plugins/legacy-plugin-chart-calendar/README.md
  superset-frontend/plugins/legacy-plugin-chart-chord/README.md
  superset-frontend/plugins/legacy-plugin-chart-country-map/README.md
  superset-frontend/plugins/legacy-plugin-chart-event-flow/README.md
  superset-frontend/plugins/legacy-plugin-chart-heatmap/README.md
  superset-frontend/plugins/legacy-plugin-chart-histogram/README.md
  superset-frontend/plugins/legacy-plugin-chart-horizon/README.md
  superset-frontend/plugins/legacy-plugin-chart-map-box/README.md
  superset-frontend/plugins/legacy-plugin-chart-paired-t-test/README.md
  superset-frontend/plugins/legacy-plugin-chart-parallel-coordinates/README.md
  superset-frontend/plugins/legacy-plugin-chart-partition/README.md
  superset-frontend/plugins/legacy-plugin-chart-rose/README.md
  superset-frontend/plugins/legacy-plugin-chart-sankey-loop/README.md
  superset-frontend/plugins/legacy-plugin-chart-sankey/README.md
  superset-frontend/plugins/legacy-plugin-chart-world-map/README.md
  superset-frontend/plugins/legacy-preset-chart-deckgl/README.md
  superset-frontend/plugins/legacy-preset-chart-nvd3/README.md
  superset-frontend/plugins/plugin-chart-echarts/README.md
  superset-frontend/plugins/plugin-chart-handlebars/README.md
  superset-frontend/plugins/plugin-chart-pivot-table/README.md
  superset-frontend/plugins/plugin-chart-table/README.md
  superset-frontend/plugins/plugin-chart-word-cloud/README.md
Labels: size/M, embedded, plugins, packages

#27919 fix: add mariadb engine spec same as MySQL
  superset/db_engine_specs/mariadb.py
Labels: size/S

#27912 fix(docs): restoring search capability with new public key
  docs/docusaurus.config.js
Labels: size/XS, preset-io, doc

#27915 chore(helm): Bumping app version to 3.1.2 in helm chart
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS

#27880 chore(OAuth2): refactor for custom OAuth2 clients
  superset/common/query_object.py
  superset/config.py
  superset/connectors/sqla/utils.py
  superset/databases/api.py
  superset/db_engine_specs/README.md
  superset/db_engine_specs/base.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/impala.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/trino.py
  superset/models/core.py
  superset/sql_validators/presto_db.py
  superset/superset_typing.py
  superset/utils/oauth2.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
  tests/unit_tests/db_engine_specs/test_databend.py
  tests/unit_tests/db_engine_specs/test_elasticsearch.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/extensions/test_sqlalchemy.py
  tests/unit_tests/utils/oauth2_tests.py
Labels: size/XL, api

#27717 chore(explore): Hide non-droppable metric and column list
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
Labels: size/XL

#25407 fix(frontend): allow "constructor" property in response data
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: size/S, packages

#27932 docs: fix broken OS Dependencies link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#27937 chore: Adds 4.0.0 data to CHANGELOG.md and UPDATING.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  CHANGELOG.md
  CHANGELOG/4.0.0.md
  UPDATING.md
Labels: size/L

#26138 feat(accessibility): add tabbing to chart menu in dashboard
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.tsx
  superset-frontend/src/components/Dropdown/Dropdown.test.tsx
  superset-frontend/src/components/Dropdown/index.tsx
  superset-frontend/src/components/EditableTitle/index.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/components/Menu/index.tsx
  superset-frontend/src/components/ModalTrigger/index.tsx
  superset-frontend/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/URLShortLinkButton/index.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/styles.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/DataTableControls.tsx
  superset-frontend/src/features/home/Menu.tsx
Labels: size/XXL

#27922 fix: fix-zh-translation-2
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:chinese, review:checkpoint

#27925 fix: docker-release GHA fails with pathspec error
  .github/workflows/docker-release.yml
Labels: size/S, preset-io, github_actions

#27926 fix: Locale sent to frontend
  superset/views/base.py
Labels: size/S

#27942 fix(docs): CSP mods to re-enable Algolia search
  docs/static/.htaccess
Labels: size/XS, preset-io, doc

#27904 fix: improve change detection for GHAs
  .github/actions/change-detector/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/no-op.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .pre-commit-config.yaml
  scripts/change_detector.py
  scripts/ci_check_no_file_changes.sh
  superset/__init__.py
Labels: size/XL, preset-io, github_actions

#27788 feat(explore): Clear temporal filter value
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
Labels: size/L, review:checkpoint

#27701 fix: useTruncation infinite loop, reenable dashboard cross links on ChartList
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/chart.test.js
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useChildElementTruncation.test.ts
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useChildElementTruncation.ts
  superset-frontend/src/components/ListView/CrossLinks.tsx
  superset-frontend/src/components/ListView/DashboardCrossLinks.tsx
  superset-frontend/src/components/TruncatedList/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/NameRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/ScopeRow.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.test.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/pages/ChartList/index.tsx
Labels: size/L, packages

#27909 fix: table with time comparison shows blank data when dimension is numeric
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
Labels: size/XS, plugins

#27946 chore(helm): bumping app version to 4.0.0 in helm chart
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS

#27955 fix(node): missed one bump from node 16 to 18.
  .github/workflows/superset-e2e.yml
Labels: size/XS, github_actions

#27911 fix: data in table with time comparison without change should be grey
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
Labels: size/XS, plugins

#27968 fix(Dashboard): Add aria-label to filters and search forms
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
Labels: size/XS, plugins

#27963 fix(asf): removing google hosted analytics and fonts
  docs/docusaurus.config.js
  docs/package.json
  docs/src/fonts/Roboto-Bold.woff
  docs/src/fonts/Roboto-Bold.woff2
  docs/src/fonts/Roboto-Regular.woff
  docs/src/fonts/Roboto-Regular.woff2
  docs/src/styles/custom.css
  docs/static/.htaccess
  docs/yarn.lock
Labels: size/M, preset-io, doc

#27954 docs(k8s): making it clear users MUST update secrets for prod instances.
  docs/docs/installation/running-on-kubernetes.mdx
Labels: size/XS, doc

#27974 fix(node): bump node version in nvmrc files
  superset-frontend/.nvmrc
  superset-websocket/.nvmrc
  superset-websocket/utils/client-ws-app/.nvmrc
Labels: size/XS, review:checkpoint

#27239 fix(alerts/reports): removing duplicate notification method options
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/types.ts
Labels: size/M

#27977 chore(docs): removing Superset Community Newsletter archive
  docs/src/pages/community.tsx
  docs/static/.htaccess
Labels: size/S, doc

#27976 chore(docs): remove seemingly unused unpkg domain from CSPs
  docs/static/.htaccess
Labels: size/XS, doc

#27906 chore: [proposal] de-matrix python-version in GHAs
  .asf.yaml
  .github/actions/setup-backend/action.yml
  .github/workflows/docker.yml
  .github/workflows/no-op.yml
  .github/workflows/pre-commit.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
Labels: size/L, preset-io, github_actions

#27956 docs: deploy docs when merging to master
  .github/workflows/docker-release.yml
  .github/workflows/superset-docs-deploy.yml
  docs/docs/intro.mdx
Labels: size/XS, doc, github_actions

#27979 chore(ci): make pre-commit step faster by skipping superset install
  .github/workflows/pre-commit.yml
Labels: size/XS, github_actions

#27863 feat: GHA to bump python packages using supersetbot
  .github/actions/setup-supersetbot/action.yml
  .github/workflows/bump-python-package.yml
Labels: size/M, preset-io, github_actions

#27980 chore: remove no-op.yml as it's not needed anymore
  .github/workflows/no-op.yml
Labels: size/M, github_actions

#27773 feat(alert report tabs): adding feature flag
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset/config.py
Labels: size/XS, packages

#27969 feat: add option to disable rendering of html in sql lab and table chart
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/utils/localStorageHelpers.ts
Labels: size/M, plugins

#27941 fix(drillby): Enable DrillBy in charts w/o filters (dimensions)
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
  superset-frontend/src/components/Chart/DrillBy/useDrillByBreadcrumbs.tsx
Labels: size/M

#27992 fix(docs): add missing code formatting, fix broken link
  docs/docs/installation/configuring-superset.mdx
Labels: size/S, doc

#27934 fix(time_offset): improved LIMIT-handling in advanced analytics
  superset/common/query_context_processor.py
  tests/integration_tests/query_context_tests.py
Labels: size/M

#27996 fix: Incorrect onChange value when an unloaded value is pasted into AsyncSelect
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
Labels: size/M

#27999 chore: Revert "chore(ci): make pre-commit step faster by skipping superset install"
  .github/workflows/pre-commit.yml
Labels: size/XS, preset-io, github_actions

#27953 feat: optimize docker-compose up for faster boot time
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  docker-compose-image-tag.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docker/.env
  docker/docker-bootstrap.sh
  docker/docker-frontend.sh
  docs/docs/installation/installing-superset-using-docker-compose.mdx
Labels: size/L, preset-io, doc, github_actions

#28017 fix: Select is accepting unknown pasted values when `allowNewOptions` is false
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
Labels: size/M

#28015 chore(Dashboard): Accessibility filters Popover
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FilterIndicator/index.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/L, review:checkpoint

#28040 docs: Updated NOTICE to 2024
  NOTICE
Labels: size/XS

#28018 fix: bump client side chart timeouts to use the SUPERSET_WEBSERVER_TIMEOUT
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartActions.test.js
Labels: size/L, preset-io

#27884 chore: consolidate the Superset python package metadata
  Dockerfile
  docs/docs/contributing/local-backend.mdx
  docs/docs/contributing/pull-request-guidelines.mdx
  docs/docs/databases/installing-database-drivers.mdx
  docs/docs/installation/installing-superset-from-pypi.mdx
  pyproject.toml
  setup.cfg
  setup.py
  superset/utils/retries.py
  tests/integration_tests/reports/utils.py
  tests/integration_tests/utils/encrypt_tests.py
  tox.ini
Labels: size/L, preset-io, doc

#28028 chore: stabilize MySQL tests by aligning isolation levels
  .github/workflows/bashlib.sh
  .github/workflows/superset-python-integrationtest.yml
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/query_context_tests.py
Labels: size/S, preset-io, github_actions

#28045 chore(docs): disable bugherd for now
  docs/docusaurus.config.js
Labels: size/XS, doc

#27849 feat: Slack Avatar integration
  UPDATING.md
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset/config.py
  superset/daos/user.py
  superset/initialization/__init__.py
  superset/migrations/versions/2024-04-01_22-44_c22cb5c2e546_user_attr_avatar_url.py
  superset/migrations/versions/2024-04-11_00-49_bbf146925528_.py
  superset/migrations/versions/2024-04-15_16-06_0dc386701747_.py
  superset/models/user_attributes.py
  superset/reports/notifications/slack.py
  superset/utils/slack.py
  superset/views/users/api.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/users/api_tests.py
  tests/unit_tests/dao/user_test.py
  tests/unit_tests/notifications/slack_tests.py
Labels: risk:db-migration, size/L, preset-io, api

#28041 chore: Updates release related assets
  .github/ISSUE_TEMPLATE/bug-report.yml
  RELEASING/email_templates/announce.j2
  RELEASING/email_templates/result_pmc.j2
  RELEASING/email_templates/vote_pmc.j2
  RELEASING/generate_email.py
Labels: size/S

#27978 chore(ASF): adds DOAP file and bumping apache-rat
  ASF/doap_Superset.rdf
  scripts/check_license.sh
Labels: size/M, preset-io

#28054 fix(Dashboard): Support "Edit chart" click on a new window
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Labels: size/S

#28064 chore(csp): nix bugherd, add githubusercontent
  docs/static/.htaccess
Labels: size/XS, doc

#28061 fix: switch off dependabot for pip/python
  .github/dependabot.yml
Labels: size/S

#28048 chore(asf): disable calendar display by default, click to show
  docs/src/pages/community.tsx
Labels: size/M, doc

#27195 fix: Upgrade eyes-cypress to latest
  .github/workflows/dependency-review.yml
  superset-frontend/cypress-base/cypress.config.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/cypress-base/tsconfig.json
Labels: size/M, dependencies:npm, github_actions, review:draft

#28016 chore(docs): splitting out "stable" feature flags by intent (config vs feature dev)
  RESOURCES/FEATURE_FLAGS.md
Labels: size/S

#28106 fix: db migrations on downgrade
  superset/migrations/versions/2024-04-01_22-44_c22cb5c2e546_user_attr_avatar_url.py
  superset/migrations/versions/2024-04-08_15-43_5ad7321c2169_mig_new_csv_upload_perm.py
  superset/migrations/versions/2024-04-11_00-49_bbf146925528_.py
  superset/migrations/versions/2024-04-15_16-06_0dc386701747_.py
Labels: risk:db-migration, size/M

#28099 chore(asf): setting website staging server to point at superset-site's lfs branch
  docs/static/.asf.yaml
Labels: size/XS, doc

#28059 chore(Dashboard): Improve Table accessibility
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/M, plugins

#28102 docs: small fixes and update of README screenshots
  README.md
  docs/docs/quickstart.mdx
  superset-frontend/src/assets/images/doris.png
  superset-frontend/src/assets/images/screenshots/explore.jpg
  superset-frontend/src/assets/images/screenshots/gallery.jpg
  superset-frontend/src/assets/images/screenshots/slack_dash.jpg
  superset-frontend/src/assets/images/screenshots/sql_lab.jpg
Labels: size/M, doc

#28127 chore(Dashboard): Improve accessibility chart descriptions
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/XS

#26602 refactor: add "button" role to clickable UI elements for improved accessibility
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/components/Legend.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/components/Icons/Icon.tsx
  superset-frontend/src/components/Label/Label.test.tsx
  superset-frontend/src/components/Label/index.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.test.tsx
  superset-frontend/src/components/MetadataBar/MetadataBar.tsx
  superset-frontend/src/components/Select/CustomTag.tsx
  superset-frontend/src/components/Tags/Tag.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadAsImage.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadAsPdf.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilter.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTag.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ChartsScopingListPanel.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ChartsScopingListPanel.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/VerticalCollapse.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DependencyList.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.jsx
Labels: size/L, preset-io, plugins

#28111 fix(explore): cannot reorder dnd of Metrics
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Labels: size/S

#28117 fix(sql_parse): Support Jinja format() filter when extracting latest[_sub]_partition
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/XS

#28107 feat: label PR with release tags
  .github/workflows/tag-release.yml
Labels: size/S, preset-io, github_actions, test

#28133 fix(ComparisonRangeLabel): Add optional chaining to customTimeRangeComparisonFilters
  superset-frontend/src/explore/components/controls/ComparisonRangeLabel.tsx
Labels: size/XS

#28132 fix: call render operator function
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Labels: size/L

#28151 fix(TimeComparisonColumns): Remove currency formatter from percentage comparison column
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
Labels: size/XS, plugins

#28031 chore(translations): fix translations order
  superset/sql_parse.py
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian

#28129 chore(translations): add Arabic translations stub
  superset/translations/ar/LC_MESSAGES/messages.json
  superset/translations/ar/LC_MESSAGES/messages.po
Labels: i18n, size/XXL

#28019 chore: change deprecation versions post 4.0
  superset/views/base.py
  superset/views/core.py
  superset/views/key_value.py
Labels: size/S, api

#28175 chore(TableTimeComparison): Add test for currency removal on percent columns
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Labels: size/S, plugins

#27943 feat: improve event logging for queries + refactor
  docs/docs/contributing/testing-locally.mdx
  pyproject.toml
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/models/core.py
  superset/models/helpers.py
  superset/sql_lab.py
  superset/sql_validators/presto_db.py
  superset/utils/core.py
  superset/utils/log.py
  superset/views/utils.py
  tests/integration_tests/event_logger_tests.py
  tests/unit_tests/sql_lab_test.py
Labels: size/L, preset-io, doc

#27554 fix(AlertsReports): making log retention "None" option valid
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/commands/report/log_prune.py
  superset/reports/schemas.py
Labels: size/XS

#28135 chore: get websocket service to start in docker-compose
  docker-compose.yml
  docker/superset-websocket/config.json
  superset-websocket/src/index.ts
Labels: size/M, preset-io

#28134 chore: clean up console upon firing up the CLI
  UPDATING.md
  superset/cli/main.py
  superset/config.py
  superset/utils/log.py
  superset/utils/logging_configurator.py
Labels: size/S, preset-io

#28130 docs: add dynamic entity-relationship diagram to docs
  .github/workflows/dependency-review.yml
  .github/workflows/superset-docs-deploy.yml
  .rat-excludes
  docs/docs/contributing/erd.mdx
  docs/package.json
  docs/src/components/InteractiveERDSVG.jsx
  docs/static/img/erd.svg
  docs/yarn.lock
  scripts/erd/erd.puml
  scripts/erd/erd.py
  scripts/erd/erd.svg
  scripts/erd/erd.template.puml
  scripts/templates/erd.plantuml.template
Labels: size/XXL, doc, github_actions, review:draft

#24449 feat: custom refresh frequency
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.tsx
Labels: size/L

#28189 fix(docs): ERD docs fail on master
  .github/workflows/superset-docs-deploy.yml
  docs/static/img/erd.svg
Labels: size/S, preset-io, doc, github_actions

#28197 fix: Remove deprecated ignoreTestFiles from Applitools Cypress
  .github/workflows/bashlib.sh
Labels: size/XS, github_actions

#28159 chore(tests): Remove unnecessary/problematic app contexts
  tests/integration_tests/access_tests.py
  tests/integration_tests/annotation_layers/fixtures.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/dashboard_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/security/security_dataset_tests.py
  tests/integration_tests/databases/commands/upload_test.py
  tests/integration_tests/embedded/dao_tests.py
  tests/integration_tests/fixtures/datasource.py
  tests/integration_tests/fixtures/public_role.py
  tests/integration_tests/fixtures/tags.py
  tests/integration_tests/fixtures/users.py
  tests/integration_tests/fixtures/world_bank_dashboard.py
  tests/integration_tests/migrations/87d38ad83218_migrate_can_view_and_drill_permission__tests.py
  tests/integration_tests/reports/alert_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/scheduler_tests.py
  tests/integration_tests/security/analytics_db_safety_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/integration_tests/utils/core_tests.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/databases/api_test.py
Labels: size/XXL

#28161 docs: Refactor Documentation Structure
  CONTRIBUTING.md
  README.md
  RESOURCES/FEATURE_FLAGS.md
  docs/docs/configuration/alerts-reports.mdx
  docs/docs/configuration/async-queries-celery.mdx
  docs/docs/configuration/cache.mdx
  docs/docs/configuration/configuring-superset.mdx
  docs/docs/configuration/country-map-tools.mdx
  docs/docs/configuration/event-logging.mdx
  docs/docs/configuration/importing-exporting-datasources.mdx
  docs/docs/configuration/issue-codes.mdx
  docs/docs/configuration/networking-settings.mdx
  docs/docs/configuration/setup-ssh-tunneling.mdx
  docs/docs/configuration/sql-templating.mdx
  docs/docs/configuration/timezones.mdx
  docs/docs/contributing/_category_.json
  docs/docs/contributing/local-backend.mdx
  docs/docs/creating-charts-dashboards/_category_.json
  docs/docs/databases/_category_.json
  docs/docs/frequently-asked-questions.mdx
  docs/docs/installation/_category_.json
  docs/docs/installation/docker-builds.mdx
  docs/docs/installation/docker-compose.mdx
  docs/docs/installation/kubernetes.mdx
  docs/docs/installation/pypi.mdx
  docs/docs/installation/upgrading-superset.mdx
  docs/docs/intro.mdx
  docs/docs/miscellaneous/_category_.json
  docs/docs/quickstart.mdx
  docs/docs/security/_category_.json
  docs/docs/security/cves.mdx
  docs/docs/security/security.mdx
  docs/docs/using-superset/chart-params.mdx
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  docs/docs/using-superset/exploring-data.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: size/L, doc

#28137 chore: add pylint to pre-commit hook
  .github/workflows/superset-python-misc.yml
  .pre-commit-config.yaml
  setup.py
Labels: size/S, preset-io, github_actions

#28169 feat(translations): Traditional Chinese translation files added
  .github/labeler.yml
  superset/config.py
  superset/translations/zh_TW/LC_MESSAGES/messages.json
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/XXL

#27933 feat(country-map): Adds Philippines regional map and updates/cleans existing Philippines provincial map
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/philippines.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/philippines_regions.geojson
Labels: size/L, plugins

#28223 chore(plugin-chart-country-map): fix broken urls
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/france_regions.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/italy_regions.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/philippines.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/philippines_regions.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/turkey_regions.geojson
Labels: size/XXL, plugins

#28152 fix(sql_parse): Provide more lenient logic when extracting latest[_sub]_partition
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#28153 chore: Add custom keywords for SQL Lab autocomplete
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.test.ts
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.ts
Labels: size/M, packages

#28156 fix(sqllab): invalid css scope for ace editor autocomplete
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
Labels: size/M

#28237 chore(docs): reorder pages in the Configuring Superset section
  docs/docs/configuration/alerts-reports.mdx
  docs/docs/configuration/async-queries-celery.mdx
  docs/docs/configuration/cache.mdx
  docs/docs/configuration/configuring-superset.mdx
  docs/docs/configuration/country-map-tools.mdx
  docs/docs/configuration/event-logging.mdx
  docs/docs/configuration/importing-exporting-datasources.mdx
  docs/docs/configuration/networking-settings.mdx
  docs/docs/configuration/setup-ssh-tunneling.mdx
  docs/docs/configuration/sql-templating.mdx
  docs/docs/configuration/timezones.mdx
  docs/docs/using-superset/issue-codes.mdx
Labels: size/S, doc

#28236 chore(docs): add closing ::: to caution tag
  docs/docs/configuration/configuring-superset.mdx
Labels: size/XS, doc

#28243 chore(docs): Move ::: onto its own line to fix caution formatting
  docs/docs/configuration/configuring-superset.mdx
Labels: size/XS, doc

#28220 docs: reorganize the CONTRIBUTING section
  CONTRIBUTING.md
  docs/docs/contributing/contributing-page.mdx
  docs/docs/contributing/contributing.mdx
  docs/docs/contributing/conventions-and-typing.mdx
  docs/docs/contributing/creating-viz-plugins.mdx
  docs/docs/contributing/development.mdx
  docs/docs/contributing/guidelines.mdx
  docs/docs/contributing/hooks-and-linting.mdx
  docs/docs/contributing/howtos.mdx
  docs/docs/contributing/local-backend.mdx
  docs/docs/contributing/misc.mdx
  docs/docs/contributing/pull-request-guidelines.mdx
  docs/docs/contributing/resources.mdx
  docs/docs/contributing/style-guide.mdx
  docs/docs/contributing/testing-locally.mdx
  docs/docs/contributing/translations.mdx
  docs/docs/contributing/types-of-contributions.mdx
  docs/docs/faq.mdx
  docs/docs/installation/upgrading-superset.mdx
  docs/docs/security/cves.mdx
  docs/docs/security/security.mdx
  docs/docs/using-superset/chart-params.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: size/XXL, preset-io, doc

#27003 docs(maps): jupyter notebook now auto-updates docs site
  .github/workflows/superset-frontend.yml
  docs/data/countries.json
  docs/docs/configuration/country-map-tools.mdx
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
Labels: size/L, preset-io, doc, plugins, github_actions

#28229 fix(Webpack dev-server build warning): Create false value alias for `moment-with-locales`
  superset-frontend/webpack.config.js
Labels: size/XS

#28247 docs: set up redirects
  docs/docusaurus.config.js
Labels: size/M, preset-io, doc

#28242 fix(dashboard): unable to drop tabs in columns
  superset-frontend/src/dashboard/components/gridComponents/Column.jsx
  superset-frontend/src/dashboard/components/gridComponents/Column.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.test.jsx
Labels: size/M

#27891 chore(AlteredSliceTag): Migrate to functional
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTag.test.jsx
  superset-frontend/src/components/AlteredSliceTag/index.tsx
Labels: size/XL

#28232 fix(Webpack dev-sever warnings): Add ignoreWarning to webpack config for @data-ui error
  superset-frontend/webpack.config.js
Labels: size/S

#28225 fix(Dev-Server): Edit ChartPropsConfig reexport to be a type object
  superset-frontend/packages/superset-ui-core/src/chart/index.ts
Labels: size/XS, packages

#28187 chore(superset-ui-core and NoResultsComponent): Migrate to RTL, add RTL modules to the ui-core
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/test/chart/components/NoResultsComponent.test.tsx
Labels: size/M, dependencies:npm, packages

#28275 docs(upgrading): clarify upgrade process
  docs/docs/installation/upgrading-superset.mdx
Labels: size/XS, doc

#28276 chore: use depth=1 for cloning
  docs/docs/installation/docker-compose.mdx
Labels: size/XS, doc, review:checkpoint

#28277 fix(ci): adding codecov token
  .github/workflows/superset-frontend.yml
Labels: size/XS, github_actions

#28278 chore: allow codecov to detect SHA
  .github/workflows/bashlib.sh
  .github/workflows/codecov.sh
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
Labels: need:more-info, size/XXL, preset-io, github_actions

#28271 fix: % replace in `values_for_column`
  superset/models/helpers.py
  tests/unit_tests/models/helpers_test.py
Labels: size/L, preset-io
