Repository apache/superset, pull requests merged in 2024-09, with the labels that each got.

#30027 refactor(databases): Create constants.ts, move interface to types.ts
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/constants.ts
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/features/databases/types.ts
Labels: size/L, change:frontend

#30074 fix: Retrieving Slack channels when Slack is disabled
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
Labels: size/XS, alert-reports

#30077 fix(accessibility): logo outline on tab navigation, but not on click
  superset-frontend/src/features/home/Menu.tsx
Labels: size/S, design:accessibility

#30140 fix: DeckGL legend layout
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/components/Legend.tsx
Labels: size/XS, viz:charts:deck.gl, plugins, v4.1

#30138 fix: JSON loading logs
  superset/utils/json.py
Labels: size/S, logging, v4.1

#30017 fix: pass if table is already removed on upgrade
  superset/migrations/shared/constraints.py
  superset/migrations/shared/utils.py
  superset/migrations/versions/2024-05-24_11-31_02f4f7811799_remove_sl_dataset_columns_table.py
  superset/migrations/versions/2024-08-13_15-17_39549add7bfc_remove_sl_table_columns_table.py
  superset/migrations/versions/2024-08-13_15-23_38f4144e8558_remove_sl_dataset_tables.py
  superset/migrations/versions/2024-08-13_15-27_e53fd48cc078_remove_sl_dataset_users.py
  superset/migrations/versions/2024-08-13_15-29_a6b32d2d07b1_remove_sl_columns.py
  superset/migrations/versions/2024-08-13_15-31_007a1abffe7e_remove_sl_tables.py
  superset/migrations/versions/2024-08-13_15-33_48cbb571fa3a_remove_sl_datasets.py
Labels: change:backend, risk:db-migration, risk:breaking-change, size/L, v4.1

#30071 feat: allow create/update OAuth2 DB
  superset/commands/database/create.py
  superset/commands/database/test_connection.py
  superset/commands/database/update.py
  superset/commands/database/validate.py
  superset/databases/api.py
  superset/db_engine_specs/base.py
  superset/exceptions.py
  superset/models/core.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/commands/databases/create_test.py
  tests/unit_tests/commands/databases/test_connection_test.py
  tests/unit_tests/commands/databases/update_test.py
  tests/unit_tests/commands/databases/validate_test.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/sql_lab_test.py
Labels: size/XL, data:connect:snowflake, data:connect, authentication, preset-io, api

#30082 feat: Oauth2 in DatabaseSelector
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/ErrorMessage/OAuth2RedirectMessage.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/ValidatedInputField.tsx
  superset-frontend/src/hooks/apiResources/catalogs.ts
  superset-frontend/src/hooks/apiResources/queryApi.test.ts
  superset-frontend/src/hooks/apiResources/queryApi.ts
  superset-frontend/src/hooks/apiResources/schemas.ts
Labels: size/M, authentication, preset-io

#30139 fix(catalog): Table Schema View with no catalog
  superset/views/sql_lab/views.py
Labels: sqllab, size/XS, v4.1

#30126 feat: OAuth2 database field
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/constants.ts
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/databases/types.ts
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/databases/api_test.py
Labels: size/L, change:frontend, data:connect:snowflake, authentication

#30141 fix(sqllab): race condition when updating same cursor position
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
Labels: sqllab, size/XS, v4.1

#30137 fix: New tooltip inappropriately combines series on mixed chart
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Labels: size/S, viz:charts:echarts, viz:charts:tooltip, review:checkpoint, plugins, v4.1

#30021 chore: accelerate docker compose by skipping frontend build
  Dockerfile
  RESOURCES/INTHEWILD.md
  UPDATING.md
  docker-compose.yml
  docs/docs/installation/docker-builds.mdx
Labels: need:more-info, size/M, preset-io, infra:container, doc

#30144 docs: document how docker-compose-image-tag requires -dev suffixed images
  docker-compose-image-tag.yml
  docker-compose-non-dev.yml
  docs/docs/installation/docker-builds.mdx
  docs/docs/installation/docker-compose.mdx
Labels: install:docker, size/S, preset-io, doc

#30148 fix: Adds the Deprecated label to Time-series Percent Change chart
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/index.js
Labels: size/XS, viz:charts:timeseries, plugins

#30153 chore(docs): update xendit link
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#30072 chore(tests): skip extremely flaky gaq test
  tests/integration_tests/charts/data/api_tests.py
Labels: size/XS

#30155 chore(docs): replace http with https
  RESOURCES/INTHEWILD.md
Labels: size/M, doc

#30127 docs: Fixing missing 'c' in installation guide documentation
  docs/docs/installation/docker-compose.mdx
Labels: size/XS, doc

#30154 fix(sqllab): race condition when updating cursor position
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useAnnotations.ts
  superset-frontend/src/hooks/apiResources/queryValidations.ts
Labels: sqllab, size/M, v4.0, v4.1

#30156 fix: FacePile is requesting avatars when SLACK_ENABLE_AVATARS is false
  superset-frontend/src/components/FacePile/FacePile.test.tsx
  superset-frontend/src/components/FacePile/index.tsx
  superset/views/base.py
Labels: size/S, change:frontend, v4.1

#30164 fix(native filter): undefined layout type on filterInScope
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
Labels: size/XS, dashboard:native-filters, review:checkpoint

#30167 chore(docs): bump docusaurus from 3.4.0 to 3.5.2
  docs/package.json
  docs/yarn.lock
Labels: size/L, doc

#28110 feat(db_engine): Implement user impersonation support for StarRocks
  superset/db_engine_specs/README.md
  superset/db_engine_specs/base.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/starrocks.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_databricks.py
  tests/unit_tests/db_engine_specs/test_db2.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/db_engine_specs/test_starrocks.py
Labels: size/L, data:connect:starrocks

#30171 fix(sqllab): Skip AceEditor in inactive tabs
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
Labels: sqllab, size/M, change:frontend

#29963 build(dev-deps, deps): upgrade major versions for FE deps
  docs/package.json
  docs/src/styles/main.less
  docs/yarn.lock
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/generator-superset/generators/plugin-chart/index.js
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/scripts/copyAssets.js
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/webpack.config.js
Labels: size/XL, change:frontend, doc, plugins, dependencies:npm, packages

#30142 feat(jinja): add advanced temporal filter functionality
  docs/docs/configuration/sql-templating.mdx
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/L, global:jinja, doc

#30176 fix: Disable cross filtering on charts with no dimensions
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/EchartsSunburst.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
Labels: size/M, viz:charts, dashboard:cross-filters, plugins, v4.1

#30177 feat: `is_mutating` method
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/datasets/AddDataset/LeftPanel/LeftPanel.test.tsx
  superset/extensions/metadb.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/views/database/mixins.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/L, preset-io

#30199 chore(docs): Removing dead link from INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS, preset-io, doc

#30174 fix: set default mysql isolation level to 'READ COMMITTED'
  .gitattributes
  superset/config.py
  superset/initialization/__init__.py
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
Labels: risk:breaking-change, size/M, data:connect:mysql, preset-io, v4.1

#30213 chore: remove duplicate `_process_sql_expression`
  superset/connectors/sqla/models.py
Labels: change:backend, size/M

#30212 fix(Dashboard download): Download dashboard screenshot/PDF using SupersetClient
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadScreenshot.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadScreenshot.tsx
Labels: size/M, dashboard:export

#30217 fix(sdk): use latest @supserset-ui/switchboard version to avoid pulling empty dependency
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
Labels: size/XS, embedded, dependencies:npm, packages

#30132 feat(embedded): add hook to allow superset admins to validate guest token parameters
  superset/config.py
  superset/security/api.py
  tests/integration_tests/security/api_tests.py
Labels: size/L, authentication:row-level-security, api

#30224 fix(Celery): Pass guest_token as user context is not available in Celery
  superset/dashboards/api.py
  superset/tasks/thumbnails.py
Labels: change:backend, size/S, api

#30243 chore(docs): note that release-tagged docker images no longer ship with metadata db drivers as of 4.1.0
  RELEASING/release-notes-4-1/README.md
Labels: size/S, doc

#30237 fix(docs): change flask-oidc url
  docs/docs/configuration/configuring-superset.mdx
Labels: size/XS, doc

#30234 fix(deps): release new embedded sdk
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
Labels: size/XS, preset-io, merge-if-green, embedded, dependencies:npm

#30180 fix: filters panel broken due to tabs scroll
  superset-frontend/plugins/plugin-chart-echarts/src/utils/tooltip.ts
  superset-frontend/src/GlobalStyles.tsx
Labels: size/XS, viz:charts:tooltip, dashboard:tab, plugins, v4.1

#30222 fix(uploads): respect db engine spec's supports_multivalues_insert value for file uploads & enable multi-insert for MSSQL
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mssql.py
Labels: change:backend, size/XS, data:connect:mssql

#30242 build(deps, deps-dev): upgrade major versions for dependencies of `@superset/embedded-sdk`
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/guestTokenRefresh.ts
Labels: size/S, embedded, dependencies:npm

#30215 fix(Fave): Charts and Dashboards fave/unfave do not commit transactions
  superset/charts/api.py
  superset/commands/chart/exceptions.py
  superset/commands/chart/fave.py
  superset/commands/chart/unfave.py
  superset/commands/dashboard/exceptions.py
  superset/commands/dashboard/fave.py
  superset/commands/dashboard/unfave.py
  superset/dashboards/api.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/dashboards/commands_tests.py
Labels: size/L, listview, listview:dashboards, api

#29959 feat(sqllab): Add timeout on fetching query results
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset/config.py
  superset/views/base.py
Labels: sqllab, size/M

#29897 feat(explore): Add time shift color control to ECharts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
Labels: size/L, change:frontend, viz:charts:echarts, explore:design, plugins, packages

#30257 build(ci): make linkinator advisory
  .github/workflows/superset-docs-verify.yml
Labels: size/XS, github_actions

#30253 chore(build): remove extraneous prettier step in superset-frontend CI
  .github/workflows/superset-frontend.yml
Labels: size/XS, github_actions

#30258 chore: organize SQL parsing files
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/exceptions.py
  superset/models/helpers.py
  superset/sql/__init__.py
  superset/sql/parse.py
  superset/sql_lab.py
  superset/sql_parse.py
  superset/sqllab/api.py
  superset/tasks/thumbnails.py
  tests/unit_tests/sql/__init__.py
  tests/unit_tests/sql/parse_tests.py
  tests/unit_tests/sql_parse_tests.py
Labels: sqllab, size/XXL, preset-io, api

#30151 refactor(frontend): migrate 6 tests from Enzyme to RTL
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-core/test/chart-composition/tooltip/TooltipFrame.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart-composition/tooltip/TooltipTable.test.tsx
  superset-frontend/plugins/legacy-plugin-chart-partition/package.json
  superset-frontend/plugins/legacy-plugin-chart-partition/test/OptionDescription.test.jsx
  superset-frontend/plugins/plugin-chart-table/package.json
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/testHelpers.tsx
  superset-frontend/src/components/FacePile/FacePile.test.tsx
  superset-frontend/src/explore/components/controls/SelectControl.jsx
  superset-frontend/src/explore/components/controls/SelectControl.test.jsx
Labels: size/XL, frontend:refactor, plugins, dependencies:npm, packages

#29771 chore(docker): move mysql os-level deps (GPL) to dev image only
  Dockerfile
Labels: install:docker, size/S

#30268 docs: Update kubernetes.mdx
  docs/docs/installation/kubernetes.mdx
Labels: size/XS, data:connect:elasticsearch, data:connect:googlebigquery, doc

#25910 chore(deps): bump dremio deps
  docs/docs/configuration/databases.mdx
  pyproject.toml
  superset/db_engine_specs/dremio.py
Labels: size/S, data:connect:dremio, need:followup, doc, dependencies:python

#30265 fix(Screenshot): Dashboard screenshot cache key to include state
  superset/dashboards/api.py
  superset/tasks/thumbnails.py
  superset/utils/screenshots.py
Labels: size/S, infra:caching, dashboard:tab, api

#30173 chore(sqllab): Add shortcuts for switching tabs
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/KeyboardShortcutButton/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
Labels: sqllab, size/L, change:frontend

#30261 chore: remove redundant code
  superset/views/base_schemas.py
Labels: size/L

#30279 fix(install/docker): use zstd-baked image for building superset-frontend in containerized env
  docker-compose.yml
Labels: install:docker, size/XS

#30099 fix: Move copying translation files before npm run build in Docker
  Dockerfile
  docs/docs/installation/docker-builds.mdx
  superset-frontend/webpack.config.js
Labels: size/M, i18n:general, doc, infra

#30274 chore: move SLACK_ENABLE_AVATARS from config to feature flag
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/FacePile/index.tsx
  superset/config.py
  superset/views/base.py
  superset/views/users/api.py
  tests/integration_tests/users/api_tests.py
Labels: change:backend, size/M, change:frontend, api, packages

#30273 fix(dashboard): invalid button style in undo/redo button
  superset-frontend/src/dashboard/components/Header/index.jsx
Labels: size/XS, dashboard:design

#30272 fix(dashboard): Invalid owner's name displayed after updates
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/types/Owner.ts
  superset-frontend/src/utils/getOwnerName.test.ts
  superset-frontend/src/utils/getOwnerName.ts
Labels: size/M, dashboard, v4.1

#30271 fix: unable to disallow csv upload on header menu
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Labels: size/S, change:frontend, v4.1

#30321 chore(explore): Medium font weight for section headers
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Labels: size/XS, explore:design

#30323 feat(jinja): add option to format time filters using strftime
  docs/docs/configuration/sql-templating.mdx
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/M, global:jinja, doc

#30254 style(explore): clarify ambiguously named "sort by" field
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/dndControls.tsx
Labels: size/XS, explore:design, packages

#30032 docs: HTML embedding of charts/dashboards without authentication
  docs/docs/configuration/networking-settings.mdx
Labels: size/M, doc

#30313 chore(UPDATING.md): Add item to UPDATING describing translations build flag
  UPDATING.md
Labels: size/XS, doc

#30275 fix(migration): 87d38ad83218 failing on upgrade
  superset/migrations/versions/2024-02-07_17-13_87d38ad83218_migrate_can_view_and_drill_permission.py
Labels: change:backend, risk:db-migration, size/XS, v4.1

#30262 chore: bump cypress to v 11
  superset-frontend/cypress-base/cypress.config.ts
  superset-frontend/cypress-base/cypress/plugins/index.js
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Labels: size/M, preset-io, dependencies:npm

#30123 chore: correct a typo
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/XS, merge-if-green

#30335 fix(table): Use extras in queries
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
Labels: size/M, change:frontend, viz:charts:table, plugins

#30333 docs: Update cache.mdx, add needed space
  docs/docs/configuration/cache.mdx
Labels: size/XS, doc

#30337 docs: sql-templating
  docs/docs/configuration/sql-templating.mdx
Labels: size/XS, doc, review:checkpoint

#30339 fix: KeyError 'sql' when opening a Trino virtual dataset
  superset/commands/sql_lab/execute.py
  superset/sqllab/sql_json_executer.py
Labels: sqllab, size/XS, global:jinja, v4.1

#30348 fix(explore): Missing markarea component broke annotations in echarts
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Labels: size/XS, viz:charts:echarts, explore:annotation, plugins

#30325 fix(db_engine_specs): add a few missing time grains to Postgres spec
  superset/db_engine_specs/postgres.py
  tests/unit_tests/db_engine_specs/test_postgres.py
Labels: size/M, data:connect:postgres

#30340 fix(CI): increase node JS heap size
  .github/workflows/superset-e2e.yml
  superset-frontend/package.json
Labels: size/XS, javascript, dependencies:npm, github_actions

#30359 build(websocket): upgrade ESLint to v9
  superset-websocket/.eslintignore
  superset-websocket/.eslintrc.js
  superset-websocket/eslint.config.js
  superset-websocket/package-lock.json
  superset-websocket/package.json
  superset-websocket/spec/index.test.ts
  superset-websocket/src/config.ts
  superset-websocket/src/index.ts
Labels: size/L, javascript, dependencies:npm

#30346 docs: add HANA database logo in README.md
  README.md
Labels: size/XS, data:connect:hana

#30352 chore(docs): fix an agreement error in caching docs
  docs/docs/configuration/cache.mdx
Labels: size/XS, doc

#30315 docs: Corrected Dremio connection string
  docs/docs/configuration/databases.mdx
Labels: size/XS, data:connect:dremio, doc

#30336 feat(Digest): Add RLS at digest generation for Charts and Dashboards
  superset/dashboards/api.py
  superset/security/manager.py
  superset/tasks/thumbnails.py
  superset/thumbnails/digest.py
  tests/unit_tests/thumbnails/test_digest.py
Labels: size/L, authentication:row-level-security, api

#30388 fix(ECharts): Revert ECharts version bump
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-echarts/package.json
Labels: size/XS, viz:charts:echarts, plugins, dependencies:npm

#28346 refactor: Migration of AnnotationLayerControl to TypeScript
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.tsx
Labels: size/L

#30380 feat(auth): when user is not logged in, failure to access a dashboard should redirect to login screen
  superset/views/core.py
Labels: size/S, authentication, api

#30389 fix: Pre-query normalization with custom SQL
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Labels: change:backend, size/M, v4.1

#29898 fix: parse pandas pivot null values
  superset/charts/post_processing.py
  tests/unit_tests/charts/test_post_processing.py
Labels: size/XL, viz:charts:pivot, python

#30354 chore: split cypress files for less memory
  scripts/cypress_run.py
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/shared_dashboard_functions.ts
Labels: size/XL, preset-io

#30393 fix: Allows X-Axis Sort By for custom SQL
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/utils/isSortable.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/isSortable.test.ts
Labels: size/L, explore:control, packages, v4.1

#30305 chore(legacy-plugin-chart-map-box): bump supercluster to v8
  superset-frontend/package-lock.json
  superset-frontend/plugins/legacy-plugin-chart-map-box/package.json
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/transformProps.js
Labels: size/XS, change:frontend, viz:charts:map, plugins, dependencies:npm

#30405 fix: Incorrect hovered items in tooltips
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Labels: size/S, viz:charts:tooltip, review:checkpoint, plugins, v4.1

#30407 chore: Merge description and reproduction steps in the issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: size/XS

#30128 chore(View): Remove unnecessary theme view and defer basic styles
  superset/templates/appbuilder/navbar.html
  superset/templates/superset/basic.html
  superset/templates/superset/theme.html
  superset/views/core.py
Labels: size/XXL, change:frontend, api

#30365 chore: add logging for dashboards/get warnings
  superset/commands/database/exceptions.py
  superset/dashboards/api.py
  superset/views/error_handling.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/M, preset-io, api, logging

#30417 chore: improve DML check
  pyproject.toml
  requirements/base.txt
  superset/sql/parse.py
  superset/sql_lab.py
  tests/integration_tests/sqllab_tests.py
  tests/unit_tests/sql/parse_tests.py
Labels: sqllab, size/M

#30397 chore: alter scripts/cypress_run to run one file per command + retry
  .github/workflows/bashlib.sh
  scripts/cypress_run.py
Labels: size/L, preset-io, github_actions, review:draft

#30429 fix: CI remove cypress command --headed
  scripts/cypress_run.py
Labels: size/XS

#30430 fix: cypress on master doesn't work because of --parallel flag
  .github/workflows/bashlib.sh
  .github/workflows/superset-e2e.yml
  scripts/cypress_run.py
Labels: size/S, preset-io, github_actions

#29395 feat(dashboard): update tab drag and drop reordering with positional placement and indicators for UI
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.test.jsx
  superset-frontend/src/dashboard/components/dnd/dragDroppableConfig.js
  superset-frontend/src/dashboard/components/dnd/handleDrop.js
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.tsx
  superset-frontend/src/dashboard/reducers/dashboardLayout.js
  superset-frontend/src/dashboard/util/dnd-reorder.js
  superset-frontend/src/dashboard/util/dnd-reorder.test.js
Labels: size/L, change:frontend, dashboard:tab

#30416 fix: Histogram chart not able to use decimal datatype column
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/buildQuery.ts
  superset/utils/pandas_postprocessing/histogram.py
  tests/unit_tests/pandas_postprocessing/test_histogram.py
Labels: size/M, viz:charts:histogram, plugins, v4.1

#30440 chore(Dashboard): Unblock Global Styles
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Labels: size/S, change:frontend, dashboard:performance

#30441 fix: battling cypress' dashboard feature
  scripts/cypress_run.py
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.noInitState.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
Labels: change:backend, size/XL, preset-io

#28747 chore: document upper bound for python lib 'holidays' >= 0.26
  pyproject.toml
Labels: need:more-info, size/XS, preset-io
