Repository apache/superset, pull requests merged in 2024-03, with the labels that each got.

#24408 feat(embedded-sdk): Add 'urlParams' option to pass query parameters to embedded dashboard
  superset-embedded-sdk/README.md
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.ts
Labels: size/S, embedded, dependencies:npm

#27250 chore: update redis to >= 4.6.0
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  requirements/testing.txt
  setup.py
Labels: size/M

#27351 fix: Migration for single metric in Big Number with Time Comparison
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset/migrations/versions/2024-03-01_10-47_be1b217cd8cd_big_number_kpi_single_metric.py
Labels: risk:db-migration, size/M, plugins

#27356 chore(docs): remove filterbox section from Exploring docs page
  docs/docs/creating-charts-dashboards/exploring-data.mdx
Labels: size/S, doc

#27313 fix(sqllab): Missing empty query result state
  superset-frontend/src/SqlLab/components/SouthPane/Results.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
Labels: size/S, v4.0

#27360 fix: Heatmap numeric sorting
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/transformProps.js
Labels: size/S, plugins

#27361 fix: Missing SQL Lab permission
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Labels: size/XS

#27187 chore: numexpr to fix CVE-2023-39631⁠ (2.8.4 => 2.9.0)
  requirements/base.in
  requirements/base.txt
Labels: size/XS

#27368 feat: datediff in datetime_parser
  superset/utils/date_parser.py
  tests/unit_tests/utils/date_parser_tests.py
Labels: size/L

#27370 feat: support to fetch multiple date time in time_range endpoint
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/dateFilterUtils.ts
  superset/views/api.py
  tests/integration_tests/charts/api_tests.py
Labels: size/M, api

#27375 feat: Responsive UI for Big Number with Time Comparison
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/useOverflowDetection.ts
Labels: size/L, plugins

#27366 fix: Results section in Explore shows an infinite spinner
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
Labels: size/XS

#27262 fix(Alerts & Reports): Fixing bug that resets cron value to default when empty
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: size/XS, v4.0

#27372 feat: Add repo activity stats to README.md
  README.md
Labels: size/S

#27290 docs(import_datasources): Remove legacy documentation and update current use
  docs/docs/miscellaneous/importing-exporting-datasources.mdx
Labels: size/M, doc

#27395 fix: improve explore REST api validations
  superset/commands/explore/get.py
  tests/integration_tests/explore/api_tests.py
Labels: size/M

#27209 fix: Allow only dttm columns in comparison filter in Period over Period chart
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
Labels: size/M, plugins

#27244 feat(translations): Turkish translation files added
  superset/translations/tr/LC_MESSAGES/messages.json
  superset/translations/tr/LC_MESSAGES/messages.po
Labels: i18n, size/XXL

#27364 fix(API): Updating assets via the API should preserve ownership configuration
  superset/commands/base.py
  superset/commands/chart/update.py
  superset/commands/dashboard/update.py
  superset/commands/dataset/update.py
  superset/commands/report/update.py
  superset/commands/utils.py
  superset/views/datasource/views.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/reports/api_tests.py
  tests/unit_tests/commands/test_utils.py
Labels: size/L

#27391 fix(sqllab): Close already removed tab
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/hooks/apiResources/queryApi.ts
  superset/views/sql_lab/views.py
  tests/integration_tests/sql_lab/api_tests.py
Labels: size/L

#27390 fix: Re-enable CI checks on release branches
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prefer-typescript.yml
  .github/workflows/release.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-release.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/tech-debt.yml
Labels: size/L, github_actions

#27403 fix: missing shared color in mixed timeseries
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Labels: size/XS, plugins

#27411 fix(dashboard): Only fetch CSS templates for dashboard header menu when in edit mode
  superset-frontend/src/dashboard/components/CssEditor/CssEditor.test.tsx
  superset-frontend/src/dashboard/components/CssEditor/index.jsx
  superset-frontend/src/dashboard/components/Header/HeaderActionsDropdown/index.jsx
Labels: size/L

#27186 fix: SSH Tunnel configuration settings
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/TableCatalog.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/ValidatedInputField.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/SSHTunnelForm.tsx
  superset-frontend/src/features/databases/DatabaseModal/SSHTunnelSwitch.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/SSHTunnelSwitch.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/databases/types.ts
  superset-frontend/src/views/CRUD/hooks.ts
  superset/commands/database/create.py
  superset/commands/database/ssh_tunnel/create.py
  superset/commands/database/ssh_tunnel/exceptions.py
  superset/commands/database/ssh_tunnel/update.py
  superset/commands/database/test_connection.py
  superset/commands/database/update.py
  superset/databases/api.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/databases/ssh_tunnel/commands/create_test.py
  tests/unit_tests/databases/ssh_tunnel/commands/update_test.py
Labels: size/XXL, api, packages

#27405 chore: upgrade setuptools/pip in Dockerfile
  Dockerfile
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
Labels: size/S

#27255 feat: show more information when loading chart
  superset-frontend/src/components/Chart/Chart.jsx
Labels: size/M

#27469 chore: add unit test for `values_for_column`
  tests/unit_tests/models/helpers_test.py
Labels: size/M

#27471 fix(webpack): remove double-dotted file extensions in webpack config
  superset-frontend/webpack.config.js
Labels: size/XS

#27429 test(Migration to RTL): Refactor ChartTable.test.tsx from Enzyme to RTL
  superset-frontend/src/features/home/ChartTable.test.tsx
Labels: size/L

#27484 fix: check if guest user modified query
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: size/L

#27480 chore: Add an extension for Home submenu
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
Labels: size/M, review-checkpoint, packages

#26767 chore: improve SQL parsing
  superset-frontend/cypress-base/cypress/e2e/explore/AdhocMetrics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/table.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/errors.py
  superset/exceptions.py
  superset/models/helpers.py
  superset/sql_parse.py
  superset/sqllab/api.py
  superset/sqllab/schemas.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
  tests/integration_tests/model_tests.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/sql_lab/api_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/XL, api

#27046 feat(supersetbot): introduce `supersetbot` as its own npm package, CLI and comment-operated bot
  .github/supersetbot/.eslintrc.json
  .github/supersetbot/README.md
  .github/supersetbot/jest.config.js
  .github/supersetbot/package-lock.json
  .github/supersetbot/package.json
  .github/supersetbot/src/cli.js
  .github/supersetbot/src/context.js
  .github/supersetbot/src/docker.js
  .github/supersetbot/src/docker.test.js
  .github/supersetbot/src/git.js
  .github/supersetbot/src/git_release.js
  .github/supersetbot/src/github.js
  .github/supersetbot/src/index.js
  .github/supersetbot/src/index.test.js
  .github/supersetbot/src/metadata.js
  .github/supersetbot/src/supersetbot
  .github/supersetbot/src/utils.js
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/supersetbot.yml
Labels: size/XXL, preset-io, github_actions

#27503 fix: docker builds in master fail
  .github/supersetbot/src/docker.js
Labels: size/XS

#27486 chore(docs): relocating the edit page button a tad.
  docs/src/theme/DocItem/index.js
Labels: size/XS, doc

#27507 fix: master docker build is broken
  .github/supersetbot/src/docker.js
Labels: size/XS

#27514 fix: another attempt at fixing docker master builds
  .github/workflows/docker.yml
Labels: size/XS, github_actions

#27515 fix: master build 4th attempt
  .github/workflows/docker.yml
Labels: size/S, review-checkpoint, github_actions

#27487 fix(postprocessing): resample with holes
  superset/utils/pandas_postprocessing/resample.py
  tests/unit_tests/pandas_postprocessing/test_resample.py
Labels: size/M

#27455 feat: Add Turkey's regions to country map visualization
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/turkey_regions.geojson
Labels: size/XXL, plugins

#27502 fix(big-number-chart): number format is not applying to percentage number of the time comparison
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
Labels: size/S, plugins

#27520 chore: add annotations to `sql_parse.py`
  superset/sql_parse.py
Labels: size/M

#27260 fix(alerts/reports): implementing custom_width as an Antd number input
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: size/S

#27524 feat(plugins): add color options for big number with time comparison
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/types.ts
Labels: size/M, plugins

#27539 fix(explore): Allow only saved metrics and columns
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/types.ts
Labels: size/L

#27541 fix: typo in configuring-superset.mdx
  docs/docs/installation/configuring-superset.mdx
Labels: size/XS, doc

#26748 feat: `improve _extract_tables_from_sql`
  superset/sql_parse.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/security/manager_test.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/M

#27464 fix: pass valid SQL to SM
  superset/commands/base.py
  superset/security/manager.py
  tests/unit_tests/commands/dataset/__init__.py
  tests/unit_tests/security/manager_test.py
Labels: size/M

#27505 chore: 2nd try - simplify python dependencies
  .github/actions/setup-backend/action.yml
  .github/workflows/pre-commit.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-misc.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations.yml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  UPDATING.md
  docs/docs/contributing/hooks-and-linting.mdx
  docs/docs/contributing/local-backend.mdx
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/integration.in
  requirements/integration.txt
  requirements/local.in
  requirements/local.txt
  requirements/testing.in
  requirements/testing.txt
  tox.ini
Labels: size/XXL, doc, github_actions

#27569 chore(helm): Bumping app version to 3.1.1 in helm chart
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS

#27566 fix: guest queries
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Labels: size/L

#27542 feat(maps): Add Italy regions code to the map generator notebook
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/france_regions.geojson
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/italy_regions.geojson
Labels: size/L, plugins

#27574 chore: Update required jobs in .asf.yml
  .asf.yaml
Labels: size/XS

#27578 DO NOT MERGE: test show allowlist only
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
  superset-frontend/src/pages/Chart/Chart.test.tsx
Labels: size/L

#27571 feat(supersetbot): label PRs and issues with author's public org
  .github/supersetbot/src/context.js
  .github/workflows/issue_creation.yml
  .github/workflows/no-op.yml
Labels: size/M, preset-io, github_actions

#27523 fix: Hive integration test
  tests/integration_tests/charts/data/api_tests.py
Labels: size/XS

#27576 fix: bump sqlglot to support materialized CTEs
  requirements/base.txt
  setup.py
Labels: size/L

#27595 fix: skip another Hive test
  tests/integration_tests/charts/data/api_tests.py
Labels: size/XS

#27605 fix: Skips Hive tests that are blocking PRs
  tests/integration_tests/charts/data/api_tests.py
Labels: size/S

#27540 docs: make k8s top item in Installation section
  docs/docs/installation/installing-superset-using-docker-compose.mdx
  docs/docs/installation/running-on-kubernetes.mdx
  docs/docs/intro.mdx
Labels: size/M, preset-io, doc

#27567 fix(db_engine_specs): Update convert_dttm to work correctly with CrateDB
  superset/db_engine_specs/crate.py
  tests/unit_tests/db_engine_specs/test_crate.py
Labels: size/XS

#27608 fix(docker): error around missing requirements/base.txt
  .github/supersetbot/package.json
  .github/supersetbot/src/cli.js
  .github/supersetbot/src/cli.test.js
  Dockerfile
Labels: size/M, preset-io

#27577 fix: sqlglot SQL Server
  superset/sql_parse.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/XS

#19595 fix: Volatile datasource ordering in dashboard export
  superset/models/dashboard.py
Labels: size/XS

#27388 fix(utils): fix off-by-one error in how rolling window's min_periods truncates dataframe
  superset/utils/pandas_postprocessing/rolling.py
  tests/unit_tests/pandas_postprocessing/test_rolling.py
Labels: size/XS

#27470 fix(sql_parse): Ensure table extraction handles Jinja templating
  superset/commands/sql_lab/execute.py
  superset/jinja_context.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  superset/sqllab/query_render.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/L

#27613 fix(Dashboard): Add editMode conditional for translate3d fix on charts to allow intended Fullscreen
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
Labels: size/XS

#27572 chore(examples): organizing example chart yaml files into dashboard folders
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Approach__Stage.yaml
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Country.yaml
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Country_261.yaml
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Country__Stage.yaml
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Country__Stage_749.yaml
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Phase.yaml
  superset/examples/configs/charts/COVID Vaccines/Vaccine_Candidates_per_Phase_587.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Age_distribution_of_respondents.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Are_you_an_ethnic_minority_in_your_city.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Breakdown_of_Developer_Type.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Commute_Time.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Country_of_Citizenship.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Current_Developers_Is_this_your_first_development_job.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Degrees_vs_Income.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Ethnic_Minority__Gender.yaml
  superset/examples/configs/charts/FCC New Coder Survey/First_Time_Developer.yaml
  superset/examples/configs/charts/FCC New Coder Survey/First_Time_Developer__Commute_Time.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Gender.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Highest_degree_held.yaml
  superset/examples/configs/charts/FCC New Coder Survey/How_do_you_prefer_to_work.yaml
  superset/examples/configs/charts/FCC New Coder Survey/How_much_do_you_expect_to_earn_0_-_100k.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Last_Year_Income_Distribution.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Location_of_Current_Developers.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Number_of_Aspiring_Developers.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Preferred_Employment_Style.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Relocation_ability.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Top_15_Languages_Spoken_at_Home.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Work_Location_Preference.yaml
  superset/examples/configs/charts/Slack Dashboard/Cross_Channel_Relationship.yaml
  superset/examples/configs/charts/Slack Dashboard/Cross_Channel_Relationship_heatmap_2786.yaml
  superset/examples/configs/charts/Slack Dashboard/Members_per_Channel.yaml
  superset/examples/configs/charts/Slack Dashboard/Messages_per_Channel.yaml
  superset/examples/configs/charts/Slack Dashboard/New_Members_per_Month.yaml
  superset/examples/configs/charts/Slack Dashboard/Number_of_Members.yaml
  superset/examples/configs/charts/Slack Dashboard/Top_Timezones.yaml
  superset/examples/configs/charts/Slack Dashboard/Weekly_Messages.yaml
  superset/examples/configs/charts/Slack Dashboard/Weekly_Threads.yaml
  superset/examples/configs/charts/Unicode Test/Unicode_Cloud.test.yaml
  superset/examples/configs/charts/Vehicle Sales/Number_of_Deals_for_each_Combination.yaml
  superset/examples/configs/charts/Vehicle Sales/Overall_Sales_By_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Proportion_of_Revenue_by_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Quarterly_Sales.yaml
  superset/examples/configs/charts/Vehicle Sales/Quarterly_Sales_By_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Revenue_by_Deal_Size.yaml
  superset/examples/configs/charts/Vehicle Sales/Seasonality_of_Revenue_per_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Total_Items_Sold.yaml
  superset/examples/configs/charts/Vehicle Sales/Total_Items_Sold_By_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Total_Revenue.yaml
  superset/examples/configs/charts/Video Game Sales/Games.yaml
  superset/examples/configs/charts/Video Game Sales/Games_per_Genre.yaml
  superset/examples/configs/charts/Video Game Sales/Games_per_Genre_over_time.yaml
  superset/examples/configs/charts/Video Game Sales/Most_Dominant_Platforms.yaml
  superset/examples/configs/charts/Video Game Sales/Number_of_Games_That_Hit_100k_in_Sales_By_Release_Year.yaml
  superset/examples/configs/charts/Video Game Sales/Popular_Genres_Across_Platforms.yaml
  superset/examples/configs/charts/Video Game Sales/Publishers_With_Most_Titles.yaml
  superset/examples/configs/charts/Video Game Sales/Rise__Fall_of_Video_Game_Consoles.yaml
  superset/examples/configs/charts/Video Game Sales/Top_10_Games_Proportion_of_Sales_in_Markets.yaml
  superset/examples/configs/charts/Video Game Sales/Total_Sales_per_Market_Grouped_by_Genre.yaml
Labels: size/XS

#27579 chore(docs): clarifying doc comments about LOGO_TARGET_PATH
  superset/config.py
Labels: size/XS, preset-io

#27589 feat(bar_chart): Stacked Bar chart with Time comparison in separated stacks
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/M, plugins

#27601 fix: Persist query params appended to permalink
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: size/S, api

#27522 feat: support for KQL in `SQLScript`
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/XL

#27497 feat(alerts-reports): adding pdf filetype to email and slack reports
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/commands/report/exceptions.py
  superset/commands/report/execute.py
  superset/reports/models.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack.py
  superset/reports/schemas.py
  superset/utils/core.py
  superset/utils/pdf.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
Labels: size/L

#27551 fix(AlertReports): clearing custom_width when disabled
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: size/XS

#27309 refactor: Migrate CopyToClipboard to typescript
  superset-frontend/src/components/CopyToClipboard/index.tsx
Labels: size/M, review-after-release

#27611 fix(dashboard,css): center align 'waiting on database'
  superset-frontend/src/components/Chart/Chart.jsx
Labels: size/XS, preset-io

#27596 docs: updates list of countries in country-map-tools.mdx
  docs/docs/miscellaneous/country-map-tools.mdx
Labels: size/L, doc

#25540 chore: replace "dashboard" -> "report" in chart email report modal
  superset-frontend/src/features/reports/ReportModal/index.tsx
Labels: size/XS

#27422 test(Migration to RTL): Refactor ActivityTable.test.tsx from Enzyme to RTL
  superset-frontend/src/features/home/ActivityTable.test.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
Labels: size/L

#27582 feat(jinja): metric macro
  docs/docs/installation/sql-templating.mdx
  superset/jinja_context.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/test_jinja_context.py
Labels: size/XXL, doc

#27615 feat: use the local supersetbot
  .github/actions/setup-supersetbot/action.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/issue_creation.yml
  .github/workflows/supersetbot.yml
Labels: size/M, preset-io, github_actions

#27498 refactor: Migrate CssEditor to typescript
  superset-frontend/src/dashboard/components/CssEditor/index.tsx
Labels: size/M

#27552 fix(AlertReports): defaulting grace period to undefined
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: size/XS

#27655 chore(🤖): bump python "sqlalchemy==1.4.52"
  requirements/base.txt
Labels: size/XS

#27636 fix(sqllab): unable to remove table
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: size/M

#27646 fix: Leverage actual database for rendering Jinjarized SQL
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/S

#27657 chore(🤖): bump python "flask==2.3.3"
  requirements/base.txt
  tests/integration_tests/celery_tests.py
Labels: size/M

#27644 fix: Provide more inclusive error handling for saved queries
  superset/models/sql_lab.py
  superset/sql_parse.py
  tests/unit_tests/models/sql_lab_test.py
Labels: size/M

#27634 other: Add TechAuditBI to supersetbot metadata.js
  .github/supersetbot/src/metadata.js
Labels: size/XS

#27711 chore: bump pylint
  requirements/development.in
  requirements/development.txt
Labels: size/S, merge-if-green

#27710 fix: Pylint errors on master
  superset/connectors/sqla/models.py
  superset/connectors/sqla/views.py
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/tags/models.py
  superset/utils/core.py
  superset/utils/date_parser.py
  superset/views/chart/mixin.py
  superset/views/database/mixins.py
Labels: size/S

#27744 fix: reduce alert error to warning
  superset/commands/report/alert.py
Labels: size/XS

#27763 fix: Removes filter plugins from viz gallery
  superset-frontend/src/constants.ts
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/M

#27706 fix: Select onChange is fired when the same item is selected in single mode
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/utils.tsx
Labels: size/M

#27768 chore(docs): Cleanup UPDATING.md
  UPDATING.md
Labels: size/XS

#27665 feat(db_engine): Add custom_user_agent when connecting to MotherDuck
  superset/db_engine_specs/duckdb.py
  tests/unit_tests/db_engine_specs/test_duckdb.py
Labels: size/M

#27771 feat: Adds Heatmap chart migration logic
  requirements/development.txt
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/processors.py
  tests/unit_tests/migrations/viz/heatmap_v1_v2_test.py
Labels: risk:db-migration, size/L

#27785 fix: Select's storybook
  superset-frontend/src/components/Select/Select.stories.tsx
Labels: size/L
