Repository apache/superset, pull requests merged in 2024-02, with the labels that each got.

#26639 feat(components): Add static class name with button style
  superset-frontend/src/components/Button/index.tsx
Labels: size/XS

#26911 fix: handle CRLF endings causing sqlglot failure
  superset/sql_parse.py
Labels: size/XS

#26943 chore(dependencies): Push lockfile for monorepo updates on rebuild/rebase
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/XS

#26949 fix(actions): specify branch on monorepo lockfile pusher
  .github/workflows/update-monorepo-lockfiles.yml
Labels: size/XS

#26889 fix: Allow exporting saved queries without schema information
  superset/commands/query/export.py
Labels: size/S

#22849 fix(cache): remove unused webserver config & handle trailing slashes
  superset/config.py
  superset/tasks/cache.py
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
  tests/integration_tests/tasks/test_cache.py
Labels: size/M

#26963 fix(plugin-chart-table): Revert "fix(chart table in dashboard): improve screen reading of table (#26453)"
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
Labels: size/S

#26968 fix(ci): support action/script v5 breaking change
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
Labels: size/XS

#26964 fix(plugin-chart-table): Prevent misalignment of totals and headers when scrollbar is visible
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Labels: size/XS

#26969 fix(ci): support action/script v5 breaking change v2
  .github/workflows/ephemeral-env.yml
Labels: size/XS

#26950 chore(actions): getting fancier with labels
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: size/L

#26923 feat: docker image tags documentation + tweaks
  .github/workflows/docker-release.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/no-op.yml
  docker-compose-non-dev.yml
  docs/README.md
  docs/docs/installation/docker.mdx
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
  scripts/build_docker.py
  tests/unit_tests/scripts/docker_build.py
Labels: size/L, doc

#26985 fix(plugin): Period Over Period KPI Plugin Feature flag value
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
Labels: size/XS

#26987 fix(ci): typo in my bash script
  .github/workflows/docker-release.yml
Labels: size/XS

#26986 docs(presto): add Presto SSL connection details
  docs/docs/databases/presto.mdx
Labels: size/S, doc

#26998 docs: add notes to RELEASING about how to deploy docker images
  RELEASING/README.md
Labels: size/S

#26995 fix(maps): Move Overseas department and regions closer to France mainland
  superset-frontend/plugins/legacy-plugin-chart-country-map/scripts/Country Map GeoJSON Generator.ipynb
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/france.geojson
Labels: size/L, review-checkpoint

#27005 fix(helm): Fix inconsistency for the chart appVersion and default image tag
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/XS

#27001 fix(cypress): resolving random dri3 error on cypress runner
  .github/workflows/bashlib.sh
Labels: size/XS

#27000 chore(github): adding code owners for translation and country map wor…
  .github/CODEOWNERS
Labels: size/XS

#27020 docs: add a note about database drivers in Docker builds
  docs/docs/installation/docker.mdx
Labels: size/S, doc

#27021 chore(plugins): Description, Category and Tags for BigNumber with Period Time Comparison plugin
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/index.ts
Labels: size/S

#26993 fix: chart import validation
  superset/commands/chart/importers/v1/utils.py
  superset/commands/dashboard/importers/v1/utils.py
  superset/commands/dataset/importers/v1/utils.py
  superset/errors.py
  superset/jinja_context.py
  superset/security/manager.py
  superset/utils/core.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/unit_tests/charts/commands/importers/v1/import_test.py
  tests/unit_tests/dashboards/commands/importers/v1/import_test.py
  tests/unit_tests/security/manager_test.py
Labels: size/XL

#26966 fix(actions): make tech debt uploader not block CI and skip w/o creds
  .github/workflows/tech-debt.yml
Labels: size/S

#26171 chore(sqllab): migrate to typescript
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/spec/helpers/reducerIndex.ts
  superset-frontend/src/SqlLab/components/App/App.test.tsx
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.jsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/SqlLab/utils/emptyQueryResults.test.ts
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.ts
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/src/types/bootstrapTypes.ts
Labels: size/XL

#27039 fix: bump FAB to 4.3.11
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  setup.py
Labels: size/M, v3.1

#26965 fix(tags): Improve support for tags with colons
  superset-frontend/src/components/Tags/utils.tsx
  superset-frontend/src/features/tags/tags.ts
Labels: size/S

#27015 fix(security manager): Users should not have access to all draft dashboards
  superset/security/manager.py
  tests/integration_tests/dashboards/security/security_rbac_tests.py
Labels: size/M, review-checkpoint

#27040 fix(ci): fix action script v7 breaking changes v2
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/ephemeral-env.yml
Labels: size/S

#26260 chore(dashboard): migrate enzyme to RTL
  superset-frontend/src/dashboard/components/DashboardGrid.test.jsx
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.jsx
  superset-frontend/src/dashboard/components/RefreshIntervalModal.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Column.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewColumn.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewDivider.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewHeader.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewRow.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewTabs.test.jsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.test.tsx
  superset-frontend/src/dashboard/components/menu/WithPopoverMenu.test.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/NativeFiltersModal.test.tsx
Labels: size/XXL

#27042 fix(ci): fix action script v7 breaking changes v3
  .github/workflows/check_db_migration_confict.yml
Labels: size/XS

#27019 fix: safer error message in alerts
  superset/commands/report/alert.py
Labels: size/XS

#19744 fix(webpack-dev-server): parse env args
  CONTRIBUTING.md
  superset-frontend/webpack.proxy-config.js
Labels: size/S

#27048 fix(actions): correcting malformed labeler configs
  .github/labeler.yml
Labels: size/XS

#27038 chore(docs): bump version number in docs example
  docs/docs/installation/alerts-reports.mdx
Labels: size/S, doc

#27023 fix(explore): allow free-form d3 format on custom column formatting
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/src/explore/components/controls/ColumnConfigControl/constants.tsx
Labels: size/XS, v3.0, v3.1

#27056 fix(ephemeral): fix ephemeral builds in PR
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#27057 fix(ephemeral): fix tagging command for ECR
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#27053 chore: prevent prophet from logging non-errors as errors
  superset/utils/decorators.py
  superset/utils/pandas_postprocessing/prophet.py
  tests/unit_tests/utils/test_decorators.py
Labels: size/M

#27041 fix(plugins): missing currency on small number format in table chart
  superset-frontend/plugins/plugin-chart-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Labels: size/M, v3.0, v3.1

#27058 fix(ephemeral): point to the full tag name
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#27060 fix(ephemeral): last try fixing this GH action
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#27055 feat(docker): allow for docker release builds to be multi-platform
  .github/workflows/docker-release.yml
  .github/workflows/ephemeral-env.yml
  scripts/build_docker.py
  tests/unit_tests/scripts/docker_build.py
Labels: size/L, github_actions

#27029 chore: Add granular permissions for actions in Dashboard
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/useContextMenu.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset/migrations/versions/2024-02-07_17-13_87d38ad83218_migrate_can_view_and_drill_permission.py
  superset/security/manager.py
  tests/integration_tests/migrations/87d38ad83218_migrate_can_view_and_drill_permission__tests.py
  tests/integration_tests/security_tests.py
Labels: risk:db-migration, size/L

#26663 fix(helm): Include option to use Redis with SSL
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/secret-env.yaml
  helm/superset/values.yaml
Labels: size/M

#27068 fix: Exclude header controls from dashboard PDF export
  superset-frontend/src/types/dom-to-pdf.d.ts
  superset-frontend/src/utils/downloadAsPdf.ts
Labels: size/XS

#27069 fix: Filters sidebar stretching dashboard height
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.tsx
Labels: size/XS

#27072 docs(installation): document multi-platform support in Docker builds
  docs/docs/installation/docker.mdx
Labels: size/S, doc

#27066 fix: Drill by with GLOBAL_ASYNC_QUERIES
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartActions.test.js
Labels: size/L

#27054 feat(plugins): Update custom controls for BigNumber with Time Comparison chart
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/controlPanel.ts
Labels: size/M, plugins

#27071 chore(docs): adding meta db to Feature Flags page
  RESOURCES/FEATURE_FLAGS.md
Labels: size/XS

#27085 fix(ci): new PR comments cancel ongoing ephemeral builds
  .github/workflows/ephemeral-env.yml
Labels: size/S, github_actions

#27073 fix(drill): no rows returned
  setup.py
  superset/db_engine_specs/drill.py
Labels: size/M

#27052 feat(plugins): Adding colors to BigNumber with Time Comparison chart
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/buildQuery.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/controlPanel.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/types.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/utils.ts
Labels: size/XL, plugins

#27094 fix(helm): typo on ssl_cert_reqs variable
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
Labels: size/XS

#27096 fix(big_number): white-space: nowrap to prevent wrapping
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
Labels: size/XS, plugins

#27030 chore: Migrate AlteredSliceTag to typescript
  superset-frontend/src/components/AlteredSliceTag/AlteredSliceTagMocks.ts
  superset-frontend/src/components/AlteredSliceTag/index.tsx
Labels: size/L

#27098 fix: try to fix cypress with magic
  superset-frontend/cypress-base/cypress.config.ts
Labels: size/XS

#27090 chore(plugins): Update dropdown control for BigNumber with Time Comparison range
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/controlPanel.ts
Labels: size/S, plugins

#27092 feat(plugins): Tooltips on BigNumber with Time Comparison chart
  superset-frontend/packages/superset-ui-chart-controls/src/index.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/transformProps.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/types.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/utils.ts
Labels: size/L, plugins, packages

#27106 fix: Timeseries Y-axis format with contribution mode
  superset-frontend/packages/superset-ui-core/src/number-format/NumberFormats.ts
  superset-frontend/plugins/legacy-plugin-chart-heatmap/src/Heatmap.js
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/formatters.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/formatters.test.ts
Labels: size/M, plugins, packages

#27113 fix: upgrade cryptography to major 42
  requirements/base.txt
  setup.py
Labels: size/XS

#27118 chore: bump firebolt-sqlalchemy to support service account auth
  docs/docs/databases/firebolt.mdx
  docs/docs/databases/installing-database-drivers.mdx
  setup.py
Labels: size/S, doc

#27116 fix(docker): *-dev tags target right stage from Dockerfile
  scripts/build_docker.py
  tests/unit_tests/scripts/docker_build.py
Labels: size/XS

#27078 chore(internet_port): added new ports and removed unnecessary string class
  superset/advanced_data_type/plugins/internet_port.py
Labels: size/S

#27124 fix: bump grpcio, urllib3 and paramiko
  requirements/base.txt
  requirements/testing.txt
Labels: size/XS

#27117 fix: removes old deprecated sqllab endpoints
  UPDATING.md
  superset-frontend/cypress-base/cypress/e2e/sqllab/query.test.ts
  superset/initialization/__init__.py
  superset/security/manager.py
  superset/views/core.py
  superset/views/sql_lab/views.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/security_tests.py
Labels: size/M, api, review-checkpoint

#27112 fix: gevent upgrade to 23.9.1
  requirements/docker.txt
  setup.py
Labels: size/XS

#27119 refactor: Updates some database columns to MediumText
  UPDATING.md
  superset/connectors/sqla/models.py
  superset/migrations/versions/2024-02-14_14-43_17fcea065655_change_text_to_mediumtext.py
  superset/models/annotations.py
  superset/models/core.py
  superset/models/dashboard.py
  superset/models/helpers.py
  superset/models/slice.py
  superset/models/sql_lab.py
  superset/reports/models.py
Labels: risk:db-migration, size/L

#27128 fix: RLS modal overflow
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/features/rls/constants.ts
Labels: size/M

#22840 fix(pivot-table-v2): Added forgotten translation pivot table v2
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
Labels: size/XS, plugins

#27120 docs(miscellaneous): Export Datasoruces: export datasources exports to ZIP
  docs/docs/miscellaneous/importing-exporting-datasources.mdx
Labels: size/XS, doc

#27129 chore: lower cryptography min version to 41.0.2
  setup.py
Labels: size/XS, review-checkpoint

#27130 fix: ID param for DELETE ssh_tunnel endpoint
  UPDATING.md
  superset/databases/api.py
  tests/unit_tests/databases/api_test.py
Labels: risk:breaking-change, size/S, api

#27132 fix: Plain error message when visiting a dashboard via permalink without permissions
  superset/views/core.py
Labels: size/XS, api

#27134 docs: add Geotab to users list
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#27135 fix: Duplicated toast messages
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/components/MessageToasts/getToastsFromPyFlashMessages.js
  superset-frontend/src/components/MessageToasts/getToastsFromPyFlashMessages.test.js
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/FilterBarSettings.test.tsx
  superset-frontend/src/dashboard/containers/Dashboard.ts
  superset-frontend/src/dashboard/types.ts
Labels: size/M

#27138 fix(plugins): Apply dashboard filters to comparison query in BigNumber with Time Comparison chart
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/plugin/buildQuery.ts
Labels: size/S, plugins

#27143 refactor: Migrate ErrorBoundary to typescript
  superset-frontend/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  superset-frontend/src/components/ErrorBoundary/index.tsx
Labels: size/M

#26202 feat(Alerts and Reports): Modal redesign
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/CronPicker/CronPicker.tsx
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/features/alerts/AlertReportModal.test.jsx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/buildErrorTooltipMessage.test.tsx
  superset-frontend/src/features/alerts/buildErrorTooltipMessage.tsx
  superset-frontend/src/features/alerts/components/AlertReportCronScheduler.test.tsx
  superset-frontend/src/features/alerts/components/AlertReportCronScheduler.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/components/NumberInput.tsx
  superset-frontend/src/features/alerts/components/StyledPanel.tsx
  superset-frontend/src/features/alerts/components/ValidatedPanelHeader.tsx
  superset-frontend/src/features/alerts/types.ts
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset/config.py
Labels: size/XXL

#27159 feat: bump FAB to 4.4.0
  requirements/base.txt
  setup.py
Labels: size/XS

#27164 fix: unlock and bump werkzeug
  requirements/base.txt
  requirements/development.txt
  requirements/integration.txt
  requirements/testing.txt
  setup.py
  tests/integration_tests/async_events/api_tests.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M

#27166 docs: add Dropit Shopping to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#27169 chore: Updates CHANGELOG.md with 3.0.4 data
  .github/ISSUE_TEMPLATE/bug-report.yml
  CHANGELOG.md
  CHANGELOG/3.0.4.md
Labels: size/M

#27162 feat(adt): add 403 to api response status codes
  superset/advanced_data_type/api.py
Labels: size/XS, api

#27168 fix: CSRF exempt unit_tests
  .github/workflows/superset-python-unittest.yml
  tests/unit_tests/security/api_test.py
Labels: size/S, github_actions

#27163 feat(helm): optionally set pod disruption budgets
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/pdb-beat.yaml
  helm/superset/templates/pdb-flower.yaml
  helm/superset/templates/pdb-worker.yaml
  helm/superset/templates/pdb-ws.yaml
  helm/superset/templates/pdb.yaml
  helm/superset/values.yaml
Labels: size/L

#27181 fix(sqllab): typeahead search is broken in db selector
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
Labels: size/M

#27176 feat(docs): Adds an "Edit this page on GitHub" button to docs pages
  docs/docusaurus.config.js
  docs/src/styles/main.less
  docs/src/theme/DocItem/index.js
Labels: size/M, doc

#27191 fix: Failed to execute importScripts on worker-css
  superset-frontend/src/components/AsyncAceEditor/index.tsx
  superset-frontend/src/types/ace-builds.ts
  superset-frontend/webpack.config.js
Labels: size/S

#27175 chore(docs): change 'install from scratch' to 'install from PyPI'
  docs/docs/contributing/local-backend.mdx
  docs/docs/installation/installing-superset-from-pypi.mdx
  docs/docs/intro.mdx
Labels: size/S, doc

#26699 fix(dashboard): drag and drop indicator UX
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/dnd/handleDrop.js
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Column.jsx
  superset-frontend/src/dashboard/components/gridComponents/Column.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Divider.jsx
  superset-frontend/src/dashboard/components/gridComponents/Divider.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/DynamicComponent.tsx
  superset-frontend/src/dashboard/components/gridComponents/Header.jsx
  superset-frontend/src/dashboard/components/gridComponents/Header.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.jsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.jsx
  superset-frontend/src/dashboard/components/gridComponents/Row.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.tsx
  superset-frontend/src/dashboard/constants.ts
  superset-frontend/src/dashboard/util/getDropPosition.js
  superset-frontend/src/dashboard/util/getDropPosition.test.js
Labels: size/XL

#26765 perf(export): export generates unnecessary files content
  superset/charts/api.py
  superset/cli/importexport.py
  superset/commands/chart/export.py
  superset/commands/dashboard/export.py
  superset/commands/database/export.py
  superset/commands/dataset/export.py
  superset/commands/export/assets.py
  superset/commands/export/models.py
  superset/commands/query/export.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/importexport/api.py
  superset/queries/saved_queries/api.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/integration_tests/importexport/commands_tests.py
  tests/integration_tests/queries/saved_queries/commands_tests.py
  tests/unit_tests/commands/export_test.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/importexport/api_test.py
Labels: size/L, api

#26074 fix: Translations related to the date range filter
  superset-frontend/cypress-base/cypress/e2e/explore/control.test.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/components/DateLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset/commands/chart/delete.py
  superset/commands/dashboard/delete.py
  superset/commands/database/delete.py
  superset/commands/database/validate_sql.py
  superset/commands/report/alert.py
  superset/translations/de/LC_MESSAGES/messages.json
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.json
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.json
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.json
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.json
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.json
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.json
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.json
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.json
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.json
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.json
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.json
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.json
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.json
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.json
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/views/api.py
  superset/viz.py
Labels: i18n, size/XXL, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, api, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian

#27179 fix: docker-compose point to master tag
  docker-compose.yml
Labels: size/XS

#27146 feat(ci): no more docker builds on PR-related events
  .asf.yaml
  .github/workflows/docker.yml
  .github/workflows/no-op.yml
  docs/docs/installation/docker.mdx
Labels: size/L, doc, github_actions

#27203 fix(plugin-chart-period-over-period-kpi): Blank chart when switching from BigNumberTotal
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/images/thumbnail.png
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/utils.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/index.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/README.md
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/package.json
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/src/index.ts
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/tsconfig.json
  superset-frontend/plugins/plugin-chart-period-over-period-kpi/types/types/external.d.ts
  superset-frontend/src/visualizations/presets/MainPreset.js
Labels: size/L, plugins, dependencies:npm

#27214 fix(releasing): fixes npm script for release validation
  RELEASING/validate_this_release.sh
Labels: size/XS

#27215 fix: no limit in SELECT * for TOP dbs
  superset/db_engine_specs/base.py
  tests/unit_tests/db_engine_specs/test_base.py
Labels: size/M

#27233 fix: bump FAB to 4.4.1 (perf issue)
  requirements/base.txt
  setup.py
Labels: size/XS, v4.0, v3.1

#27217 fix(sqlglot): Address regressions introduced in #26476
  superset/sql_parse.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/S

#27236 fix(reports): fixing unit test
  superset-frontend/src/types/dom-to-pdf.d.ts
Labels: size/XS

#27213 fix(trino): bumping trino to fix hudi schema fetching
  requirements/base.txt
  requirements/development.txt
  requirements/testing.txt
  setup.py
Labels: size/S

#27197 feat(jinja): current_user_email macro
  docs/docs/installation/sql-templating.mdx
  superset/jinja_context.py
  superset/utils/core.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/test_jinja_context.py
Labels: size/L, doc

#27256 fix(docs site): Opening up CSP for 3rd party frame content.
  docs/docusaurus.config.js
Labels: size/XS, doc

#27259 fix(docs site): CSP changes, take 2
  docs/static/.htaccess
Labels: size/XS, doc

#27258 fix: Sorting charts/dashboards makes the applied filters ineffective
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
  superset-frontend/src/components/ListView/CardSortSelect.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
Labels: size/M

#27154 fix(import-datasources): Use "admin" user as default for importing datasources
  superset/cli/importexport.py
Labels: size/M

#24063 chore: Replace deprecated command with environment file
  scripts/tag_latest_release.sh
Labels: size/S

#27271 fix: Inoperable dashboard filter slider when range is <= 1
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
Labels: size/S

#27261 fix: docker CI job doesn't trigger on master
  .github/workflows/docker.yml
  .github/workflows/no-op.yml
Labels: size/M, github_actions

#27274 fix(docs): removing meta tag CSP, poking more holes in htaccess
  docs/docusaurus.config.js
  docs/static/.htaccess
Labels: size/S, doc

#27275 fix(docs): More CSP touchups
  docs/static/.htaccess
Labels: size/XS, doc

#27277 fix(docs): Even more access in CSP policies!
  docs/static/.htaccess
Labels: size/XS, doc

#27278 fix(docs): even more CSP adjustments...
  docs/static/.htaccess
Labels: size/XS, doc

#27279 fix(docs): more csp tweaks
  docs/static/.htaccess
Labels: size/S, doc

#27282 fix(ci): docker builds don't work from remote forks
  .github/workflows/docker.yml
Labels: size/S, github_actions

#27287 docs: update CVEs for 3.0.4 and 3.1.1
  docs/docs/security/cves.mdx
Labels: size/S, doc

#27273 fix: Navigating to an invalid page index in lists
  .github/workflows/docker.yml
  superset-frontend/src/components/ListView/ListView.test.tsx
  superset-frontend/src/components/ListView/ListView.tsx
Labels: size/L, github_actions

#27297 chore(ci): run unit tests on script changes
  .github/workflows/superset-python-unittest.yml
Labels: size/XS, github_actions

#27303 fix(ci): check file changes for python should include the scripts folders
  scripts/ci_check_no_file_changes.sh
Labels: size/XS

#27291 fix: Data zoom with horizontal orientation
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/XS, plugins

#27307 fix: Incorrect data type on import page
  superset/views/database/forms.py
Labels: size/XS

#27285 fix(plugin-chart-echarts): calculate Gauge Chart intervals correctly when min value is set
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Gauge/transformProps.test.ts
Labels: size/M, plugins

#27295 fix(sqllab): invalid dump sql shown after closing tab
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
Labels: size/M

#27281 chore: bump cryptography minimum to 42.0.4
  requirements/base.txt
  setup.py
Labels: size/XS

#27312 fix(docs): just a missing backtick
  docs/docs/installation/cache.mdx
Labels: size/XS, doc

#27298 feat(logs context): Adding dashboard id to logs context
  superset/charts/data/api.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/M, api

#27308 fix(dashboard): table chart drag preview overflowing container
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
Labels: size/XS
