Repository apache/superset, pull requests merged in 2025-01, with the labels that each got.

#31693 refactor(space): Migrate Space to Ant Design 5
  superset-frontend/src/components/Space/Space.stories.tsx
  superset-frontend/src/components/Space/Space.test.tsx
  superset-frontend/src/components/Space/index.tsx
  superset-frontend/src/components/Table/header-renderers/HeaderWithRadioGroup.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Labels: size/L, change:frontend, preset:bounty, frontend:refactor:antd5

#31673 fix: typo in plugin-chart-echats controls
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/M, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, plugins, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian, i18n:traditional-chinese

#31691 docs: add Open edX to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#31701 chore: add helm code owners
  .github/CODEOWNERS
Labels: size/XS

#31712 chore(fe/sec): resolve High CVE-2024-21538 and Moderate CVE-2024-55565 by bumping `nanoid` and `cross-spawn`
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, dependencies:npm

#31622 chore: replace `imp` built-in module usage for future Python3.12 usage
  tests/integration_tests/base_tests.py
Labels: size/S

#31580 feat(doris): add catalog support for Apache Doris
  superset/db_engine_specs/doris.py
  tests/unit_tests/db_engine_specs/test_doris.py
Labels: size/L, data:connect:doris

#31710 fix(inthewild): Update companies using superset
  RESOURCES/INTHEWILD.md
Labels: size/XS

#31606 fix: docker-compose-image-tag fails to start
  .github/workflows/docker.yml
  docker/docker-bootstrap.sh
  scripts/change_detector.py
Labels: install:docker, size/M, preset-io, github_actions

#31732 fix: docker builds in forks
  .github/workflows/docker.yml
Labels: size/S, github_actions

#31718 refactor(Steps): Migrate Steps to Ant Design 5
  superset-frontend/src/components/Steps/Steps.stories.tsx
  superset-frontend/src/components/Steps/Steps.test.tsx
  superset-frontend/src/components/Steps/index.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/theme/index.ts
Labels: size/L, change:frontend, hold!, preset:bounty, frontend:refactor:antd5

#29649 fix: remove old database constraint on the Dataset model
  superset/migrations/versions/2024-07-19_16-11_df3d7e2eb9a4_remove__customer_location_uc.py
Labels: change:backend, risk:db-migration, size/M, preset-io, v5.0

#31602 feat(Sqllab): Enabling selection and copying of columns and rows in sql lab and dataset view
  superset-frontend/src/components/Table/VirtualTable.tsx
  superset-frontend/src/components/Table/index.tsx
Labels: sqllab, size/XS

#30398 feat: add and use UUIDMixin for most models
  superset/migrations/versions/2024-09-25_17-59_7b17aa722e30_uuidmixin.py
  superset/models/core.py
  superset/models/helpers.py
Labels: change:backend, risk:db-migration, size/M, preset-io

#31740 feat: make CI against 'next' python version not-required
  .asf.yaml
Labels: size/XS

#31490 feat: use docker in frontend GHA to parallelize work
  .dockerignore
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-frontend.yml
  Dockerfile
  superset-frontend/package-lock.json
  superset/config.py
  superset/migrations/versions/2025-01-07_16-03_eb1c288c71c4_.py
Labels: risk:db-migration, size/L, preset-io, dependencies:npm, github_actions, review:draft

#31518 feat: adds a github action to auto label draft prs
  .github/actions/change-detector/label-draft-pr.yml
Labels: size/S, github_actions

#31742 fix: GHA frontend builds fail when frontends hasn't changed
  .github/workflows/superset-frontend.yml
Labels: size/S, preset-io, github_actions

#31750 docs: add cover genius to the user list
  RESOURCES/INTHEWILD.md
Labels: size/XS

#31756 docs: add Remita to list
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#31486 feat: push predicates into virtual datasets
  superset/config.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/models/core.py
  superset/models/helpers.py
  superset/sql/parse.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/sql/parse_tests.py
Labels: change:backend, size/L, preset-io, data

#31760 feat: allowing print() statements to be unbuffered in docker
  docker/.env
Labels: install:docker, size/XS

#31623 refactor(Button): Upgrade Button component to Antd5
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/DropdownButton/index.tsx
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/ScopingModal/ChartsScopingListPanel.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/datasets/styles.ts
  superset-frontend/src/theme/index.ts
Labels: size/L, change:frontend, preset:bounty, frontend:refactor:antd5

#31639 fix(sqllab): unable to update saved queries
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
Labels: sqllab, size/L, hold!, preset:bounty

#31754 refactor: Removes Apply to all panels filters scope configuration
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/FilterScope.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FilterScope/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Labels: size/M, dashboard:native-filters, review:checkpoint

#31752 fix: Heatmap sorting
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
Labels: size/M, viz:charts:heatmap, plugins

#31747 feat: improve docker-compose services boot sequence
  .github/workflows/docker.yml
  docker-compose-image-tag.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docker/.env
  docker/docker-init.sh
  docker/pythonpath_dev/superset_config.py
  docs/docs/contributing/development.mdx
  superset/cli/examples.py
  superset/examples/bart_lines.py
  superset/examples/big_data.py
  superset/examples/birth_names.py
  superset/examples/country_map.py
  superset/examples/css_templates.py
  superset/examples/deck.py
  superset/examples/energy.py
  superset/examples/flights.py
  superset/examples/long_lat.py
  superset/examples/misc_dashboard.py
  superset/examples/multiformat_time_series.py
  superset/examples/paris.py
  superset/examples/random_time_series.py
  superset/examples/sf_population_polygons.py
  superset/examples/supported_charts_dashboard.py
  superset/examples/tabbed_dashboard.py
  superset/examples/world_bank.py
  superset/models/helpers.py
  superset/utils/encrypt.py
Labels: install:docker, size/L, preset-io, doc, github_actions

#31789 fix(button): change back button styles for dropdown buttons
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/components/DropdownButton/index.tsx
  superset-frontend/src/components/DropdownSelectableIcon/index.tsx
Labels: size/S, change:frontend

#31575 feat: redesign labels
  superset-frontend/packages/superset-ui-demo/storybook/stories/superset-ui-style/Theme.stories.tsx
  superset-frontend/src/components/AlteredSliceTag/index.tsx
  superset-frontend/src/components/Icons/Icon.tsx
  superset-frontend/src/components/Label/Label.stories.tsx
  superset-frontend/src/components/Label/Label.test.tsx
  superset-frontend/src/components/Label/index.tsx
  superset-frontend/src/components/Label/reusable/DatasetTypeLabel.tsx
  superset-frontend/src/components/Label/reusable/PublishedLabel.tsx
  superset-frontend/src/components/Timer/index.tsx
  superset-frontend/src/dashboard/components/PublishedStatus/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Labels: size/L, change:frontend, preset-io, packages, review:draft

#31791 chore: Skips integration tests affected by legacy charts removal
  tests/integration_tests/async_events/api_tests.py
  tests/integration_tests/cache_tests.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
  tests/integration_tests/utils_tests.py
  tests/integration_tests/viz_tests.py
Labels: size/L

#31777 fix(oauth): Handle updates to the OAuth config
  superset/commands/database/update.py
  tests/unit_tests/commands/databases/update_test.py
Labels: size/L, authentication

#31452 refactor(dashboard): Migrate ResizableContainer to TypeScript and functional component
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/DashboardGrid.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/DynamicComponent.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.jsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.test.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableHandle.tsx
Labels: size/XL, dashboard:component

#31797 chore: adding Antonio as a helm codeowner
  .github/CODEOWNERS
Labels: size/XS

#31774 fix: corrects spelling of USE_ANALAGOUS_COLORS to be USE_ANALOGOUS_COLORS
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/color/CategoricalColorScale.ts
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/color/LabelsColorMapSingleton.test.ts
  superset/config.py
Labels: risk:breaking-change, size/S, preset-io, packages

#31787 docs: improve dev python environment install
  docs/docs/contributing/development.mdx
Labels: size/XS, doc:developer, doc

#31631 refactor(bulk_select): Fix bulk select tagging issues for users
  superset-frontend/src/features/tags/BulkTagModal.test.tsx
  superset-frontend/src/features/tags/BulkTagModal.tsx
  superset/commands/tag/create.py
Labels: size/L, preset:bounty

#31815 fix(modal): fixed z-index issue
  superset-frontend/src/GlobalStyles.tsx
Labels: size/XS

#31820 chore(tests): Changing the logic for an intermittent tag test
  tests/integration_tests/tags/api_tests.py
Labels: size/S

#31798 fix(Embedded): Skip CSRF validation for dashboard download endpoints
  superset/dashboards/api.py
  superset/views/base_api.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/L, api

#25933 chore(deps): bump selenium 4.14.0+
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/config.py
  superset/utils/webdriver.py
Labels: risk:breaking-change, size/L

#31761 build(eslint): disabling wildcard imports with eslint
  superset-frontend/.eslintrc.js
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/common.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utils/sandbox.ts
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
  superset-frontend/src/explore/components/controls/ZoomConfigControl/ZoomConfigsChart.tsx
  superset-frontend/src/explore/components/controls/ZoomConfigControl/zoomUtil.ts
  tests/unit_tests/models/core_test.py
Labels: size/M, preset-io, plugins

#31503 chore: python version to 3.11 (while supporting 3.10)
  .github/actions/setup-backend/action.yml
  .github/workflows/pre-commit.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-unittest.yml
  Dockerfile
  UPDATING.md
  pyproject.toml
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
  superset/commands/dashboard/export.py
  superset/connectors/sqla/models.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/ocient.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/redshift.py
  superset/db_engine_specs/trino.py
  superset/extensions/metadb.py
  superset/models/helpers.py
  superset/result_set.py
  superset/utils/excel.py
  superset/utils/mock_data.py
  superset/utils/pandas_postprocessing/compare.py
  superset/utils/pandas_postprocessing/geography.py
  superset/utils/pandas_postprocessing/histogram.py
  superset/viz.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/dict_import_export_tests.py
  tests/integration_tests/import_export_tests.py
  tests/unit_tests/sql_parse_tests.py
Labels: size/L, preset-io, github_actions, v5.0

#31825 feat: Firebolt sqlglot dialect
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/sql/dialects/__init__.py
  superset/sql/dialects/firebolt.py
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Labels: size/L, data:connect, preset-io

#31834 fix(OAuth): Remove masked_encrypted_extra from DB update properties
  superset/commands/database/update.py
  tests/unit_tests/commands/databases/update_test.py
Labels: change:backend, size/M

#31831 chore: bump @ant-design/icons to fix fill-rule console warning
  superset-frontend/package-lock.json
  superset-frontend/src/components/Icons/Icons.stories.tsx
Labels: size/M, change:frontend, dependencies:npm

#31830 fix: fix/suppress webpack console warnings
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/common.test.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/common.tsx
  superset-frontend/webpack.config.js
Labels: size/L, preset-io, plugins

#31846 chore: properly import expect from chai in cypress-base/cypress/support/e2e.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Labels: size/XS, dependencies:npm

#31847 chore(ci): auto delete branches on merge
  .asf.yaml
Labels: size/XS

#31845 chore: add eslint to pre-commit hooks
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: size/S, github_actions

#31848 fix: d3.count doesn't exist
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/common.tsx
Labels: size/XS, plugins

#31840 feat: Mutate SQL query executed by alerts
  superset/commands/report/alert.py
  superset/commands/report/execute.py
  superset/config.py
  tests/integration_tests/reports/alert_tests.py
Labels: size/L, alert-reports, review:checkpoint

#31849 feat: old Firebolt dialect
  superset/config.py
  superset/initialization/__init__.py
  superset/sql/dialects/__init__.py
  superset/sql/dialects/firebolt.py
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Labels: size/L, data:connect, preset-io

#31874 docs: add a note about accessing the dev env's postgres database
  docs/docs/contributing/development.mdx
  superset-frontend/src/features/home/EmptyState.test.tsx
Labels: size/S, doc, review:checkpoint

#31875 chore: add a disable for pylint
  superset/sql/dialects/firebolt.py
Labels: size/XS

#31876 feat: use npm run dev-server in docker-compose
  docker-compose.yml
  docker/docker-frontend.sh
  superset-frontend/webpack.config.js
  superset-frontend/webpack.proxy-config.js
Labels: install:docker, size/M, change:frontend

#31795 chore: Re-enable skipped tests
  tests/integration_tests/cache_tests.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/utils_tests.py
Labels: size/L, review:checkpoint

#31894 chore(config): Deprecating Domain Sharding
  UPDATING.md
  docs/docs/configuration/networking-settings.mdx
  superset/config.py
Labels: risk:breaking-change, size/S, doc

#29121 perf(dashboard): dashboard list endpoint returning large and unnecessary data
  UPDATING.md
  superset/dashboards/api.py
Labels: risk:breaking-change, size/XS, dashboard:performance, api, TechAudit-BI

#31910 fix: add catalog to cache key when getting tables/views
  superset/models/core.py
Labels: size/XS

#31873 fix(documentation): updated link to CORS_OPTIONS in Networking Settings
  docs/docs/configuration/networking-settings.mdx
Labels: size/XS, doc

#29163 refactor(sqllab): migrate share queries via kv by permalink
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset/commands/sql_lab/permalink/__init__.py
  superset/commands/sql_lab/permalink/base.py
  superset/commands/sql_lab/permalink/create.py
  superset/commands/sql_lab/permalink/get.py
  superset/config.py
  superset/initialization/__init__.py
  superset/key_value/types.py
  superset/sqllab/permalink/__init__.py
  superset/sqllab/permalink/api.py
  superset/sqllab/permalink/exceptions.py
  superset/sqllab/permalink/schemas.py
  superset/sqllab/permalink/types.py
  superset/views/key_value.py
  superset/views/sqllab.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/sql_lab/permalink/__init__.py
  tests/integration_tests/sql_lab/permalink/api_tests.py
  tests/integration_tests/superset_test_config.py
  tests/integration_tests/superset_test_config_thumbnails.py
Labels: sqllab, risk:breaking-change, size/XL, api, packages

#31796 feat: get docker-compose to work as the backend for Cypress tests
  docker-compose.yml
  docker/docker-bootstrap.sh
  docker/docker-entrypoint-initdb.d/cypress-init.sh
  docker/docker-init.sh
  docker/pythonpath_dev/superset_config.py
  docs/docs/contributing/development.mdx
  docs/docs/contributing/howtos.mdx
  scripts/cypress_run.py
  superset-frontend/cypress-base/cypress.config.ts
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/utils.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset/config.py
  tests/integration_tests/superset_test_config.py
Labels: install:docker, size/L, preset-io, doc

#31916 docs: clarify port configuration for Cypress
  docs/docs/contributing/howtos.mdx
Labels: size/M, doc

#31908 chore(fe): dev deps cleanup
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, review:checkpoint, dependencies:npm

#31867 fix(date_parser): fixed bug for advanced time range filter
  superset/utils/date_parser.py
  tests/unit_tests/utils/date_parser_tests.py
Labels: size/L, preset:bounty

#31933 fix(E2E): Fix flaky Dashboard list delete test
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
Labels: size/M, listview:dashboards

#30949 fix: adjust line type as well as weight for time series
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/S, viz:charts:timeseries, preset-io, plugins

#31907 chore: replace Lodash usage with native JS implementation
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/timeOffset.ts
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/src/query/normalizeOrderBy.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/forecast.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/controls/BoundsControl.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/index.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.jsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/reduxUtils.ts
Labels: size/M, frontend:refactor, plugins, packages

#31460 docs: Removed mentioning of .env-non-dev in docker/README.md
  .github/workflows/superset-docs-verify.yml
  docker/README.md
Labels: size/XS, doc, github_actions

#31948 fix: Load cached DB metadata as DatasourceName and add catalog to schema_list cache key
  superset/commands/database/tables.py
  superset/models/core.py
Labels: size/S, infra:caching, data:databases

#25166 fix: correct value for config variable `UPLOAD_FOLDER`
  .gitignore
  UPDATING.md
  superset/config.py
  superset/static/assets/.gitkeep
  superset/static/uploads/.gitkeep
Labels: risk:breaking-change, size/S

#31905 chore: Reduces the form_data_key length
  superset/key_value/shared_entries.py
  superset/key_value/utils.py
Labels: size/S

#31926 chore: cypress set up tweaks
  .github/workflows/superset-e2e.yml
  docker/docker-init.sh
  scripts/cypress_run.py
  superset-frontend/cypress-base/cypress.config.ts
Labels: size/M, preset-io, github_actions

#30284 chore(GAQ): Remove GLOBAL_ASYNC_QUERIES_REDIS_CONFIG
  UPDATING.md
  superset-websocket/README.md
  superset/async_events/async_query_manager.py
  superset/config.py
  tests/integration_tests/async_events/api_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
  tests/unit_tests/async_events/async_query_manager_tests.py
Labels: change:backend, risk:breaking-change, size/M, v5.0

#31947 chore: bump FAB to 4.5.3
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Labels: size/M, review:checkpoint

#31941 fix(timezoneselector): Correct the order to match names first
  superset-frontend/src/components/TimezoneSelector/TimezoneSelector.test.tsx
  superset-frontend/src/components/TimezoneSelector/index.tsx
Labels: size/S, global:timezone

#31819 chore(fe): migrate 6 Enzyme-based unit tests to RTL
  superset-frontend/src/SqlLab/components/QueryTable/QueryTable.test.tsx
  superset-frontend/src/components/ListViewCard/ImageLoader.test.tsx
  superset-frontend/src/components/ListViewCard/ImageLoader.tsx
  superset-frontend/src/components/ListViewCard/ListViewCard.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Divider.test.jsx
  superset-frontend/src/explore/components/controls/ViewportControl.test.jsx
  superset-frontend/src/pages/RowLevelSecurityList/RowLevelSecurityList.test.tsx
Labels: size/L

#31889 feat(CalendarFrame): adding previous calendar quarter
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CalendarFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/types.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset/utils/date_parser.py
  tests/unit_tests/utils/date_parser_tests.py
Labels: size/L, explore:time, preset:bounty

#31942 refactor: Removes legacy CSS template endpoint
  superset-frontend/src/dashboard/components/CssEditor/CssEditor.test.tsx
  superset-frontend/src/dashboard/components/CssEditor/index.tsx
  superset/initialization/__init__.py
  superset/views/css_templates.py
Labels: size/M, change:frontend

#31943 refactor: Removes legacy dashboard endpoints
  superset/initialization/__init__.py
  superset/views/dashboard/views.py
Labels: size/M, dashboard

#31960 fix(sqllab): Missing allowHTML props in ResultTableExtension
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
Labels: sqllab, size/XS, review:checkpoint, packages

#31860 chore: Empty state refactor
  superset-frontend/package-lock.json
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/Results.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/assets/images/chart.svg
  superset-frontend/src/assets/images/document.svg
  superset-frontend/src/assets/images/empty-charts.svg
  superset-frontend/src/assets/images/empty-dashboard.svg
  superset-frontend/src/assets/images/empty-dataset.svg
  superset-frontend/src/assets/images/empty-queries.svg
  superset-frontend/src/assets/images/empty-query.svg
  superset-frontend/src/assets/images/empty-table.svg
  superset-frontend/src/assets/images/empty.svg
  superset-frontend/src/assets/images/empty_sql_chart.svg
  superset-frontend/src/assets/images/filter-results.svg
  superset-frontend/src/assets/images/filter.svg
  superset-frontend/src/assets/images/star-circle.svg
  superset-frontend/src/assets/images/union.svg
  superset-frontend/src/assets/images/vector.svg
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/EmptyState/EmptyState.stories.tsx
  superset-frontend/src/components/EmptyState/index.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Table/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.jsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/MessageContent.tsx
  superset-frontend/src/features/datasets/AddDataset/EditDataset/UsageTab/index.tsx
  superset-frontend/src/features/datasets/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/features/home/ActivityTable.test.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
  superset-frontend/src/features/home/EmptyState.test.tsx
  superset-frontend/src/features/home/EmptyState.tsx
Labels: size/XXL, change:frontend, preset-io, dependencies:npm

#31965 chore: fix `tsc` errors
  superset-frontend/packages/superset-ui-core/src/models/Registry.ts
  superset-frontend/src/components/ModalTrigger/index.tsx
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/index.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/types.ts
  superset-frontend/src/views/routes.tsx
Labels: size/M, packages

#31962 fix: proper URL building
  superset/dashboards/permalink/api.py
  superset/explore/permalink/api.py
  superset/sqllab/permalink/api.py
Labels: size/S, api

#31963 chore(build): enforce eslint rule banning antd imports outside of core Superset components
  superset-frontend/.eslintrc.js
Labels: size/XS

#29417 fix(verbose map): Correct raw metrics handling in verbose map
  superset/connectors/sqla/models.py
Labels: size/S, TechAudit-BI

#31976 refactor: Removes the legacy dataset editor
  RESOURCES/FEATURE_FLAGS.md
  superset-frontend/cypress-base/cypress/e2e/sqllab/query.test.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/packages/superset-ui-demo/storybook/stories/plugins/plugin-chart-table/birthNames.json
  superset-frontend/spec/fixtures/mockDatasource.js
  superset-frontend/src/components/Datasource/DatasourceModal.test.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset/config.py
  superset/connectors/sqla/views.py
  superset/databases/api.py
  superset/initialization/__init__.py
  superset/sql/parse.py
  superset/views/base.py
  superset/views/chart/mixin.py
  superset/views/chart/views.py
  superset/views/database/mixins.py
  superset/views/database/views.py
  superset/views/sql_lab/views.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/dict_import_export_tests.py
  tests/unit_tests/views/__init__.py
  tests/unit_tests/views/database/__init__.py
  tests/unit_tests/views/database/mixins_test.py
Labels: risk:breaking-change, size/XXL, frontend:refactor, api, review:checkpoint, packages

#31980 chore: Add FYND to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#31421 refactor(Shared_url_query): Fix shared query URL access for SQL Lab users.
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.jsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/sqllab/permalink/schemas.py
  superset/sqllab/permalink/types.py
Labels: sqllab, size/L, preset:bounty

#31984 feat: run prettier before eslint in pre-commit hooks
  .pre-commit-config.yaml
Labels: size/S

#32000 refactor: Remove CSV upload size limit and related validation
  superset/config.py
  superset/databases/schemas.py
  tests/unit_tests/databases/api_test.py
Labels: risk:breaking-change, size/M, data:csv, review:checkpoint

#32007 chore(fe): correct typing for sheetsColumnNames
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
Labels: size/S

#31959 refactor: upload data unification, less permissions and less endpoints
  UPDATING.md
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset/commands/database/uploaders/base.py
  superset/constants.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/migrations/versions/2025-01-22_14-34_74ad1125881c_converge_upload_permissions.py
  superset/security/manager.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/databases/api_test.py
Labels: risk:db-migration, risk:breaking-change, size/XL, api

#32005 fix(sqllab): tab layout truncated
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/components/ErrorBoundary/index.tsx
  superset-frontend/src/components/ErrorMessage/ErrorAlert.tsx
  superset-frontend/src/views/App.tsx
Labels: sqllab, size/M, packages

#32013 chore: add UPDATING note for CSV_UPLOAD_MAX_SIZE removal
  UPDATING.md
Labels: size/XS, doc

#31794 chore: Removing DASHBOARD_CROSS_FILTERS flag and all that comes with it.
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/useContextMenu.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/Dashboard.test.jsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/OverwriteConfirmModal.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/FilterBarSettings.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/dashboard/util/crossFilters.test.ts
  superset-frontend/src/dashboard/util/crossFilters.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset/config.py
Labels: risk:breaking-change, size/L, dashboard:cross-filters, packages

#31413 feat: add date format to the email subject
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  docs/docs/configuration/alerts-reports.mdx
  superset/config.py
  superset/reports/notifications/email.py
  tests/unit_tests/reports/notifications/email_tests.py
Labels: size/M, doc

#31811 chore(Network Errors): Update network errors on filter bars and charts
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.tsx
  superset-frontend/src/components/ErrorMessage/FrontendNetworkErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/FrontendNetworkErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
Labels: size/M, preset:bounty

#30716 fix: Reordering echart props to fix confidence interval in Mixed Charts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/forecast.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/forecast.test.ts
Labels: size/M, viz:charts:echarts, plugins

#32015 fix(issue #31927): TimeGrain.WEEK_STARTING_MONDAY
  superset/db_engine_specs/sqlite.py
Labels: size/S

#32025 fix: Filters badge disappeared
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/explore/types.ts
Labels: size/S, dashboard:native-filters, dashboard:indicator

#31340 fix(ci): change ephemeral env to use github labels instead of comments
  .github/workflows/ephemeral-env.yml
Labels: size/L, github_actions

#32017 fix: eph env + improve docker images to run in userspace
  .gitignore
  Dockerfile
  docker/docker-bootstrap.sh
  docker/entrypoints/docker-ci.sh
Labels: install:docker, size/M, preset-io

#32008 fix: re-enable cypress checks
  .gitignore
  scripts/cypress_run.py
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
Labels: size/S, preset-io

#32045 fix: Revert "fix: re-enable cypress checks"
  .gitignore
  scripts/cypress_run.py
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
Labels: size/S, preset-io

#32031 fix(fe/explore): prevent runtime error when editing Dataset-origin Chart with empty title
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Labels: size/XS, change:frontend, explore:error

#32043 chore: Skip the creation of secondary perms during catalog migrations
  superset/config.py
  superset/migrations/shared/catalogs.py
  tests/unit_tests/migrations/shared/catalogs_test.py
Labels: change:backend, risk:db-migration, size/L

#29900 feat(sqllab): Replace FilterableTable by AgGrid Table
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/FilterableTable/index.tsx
  superset-frontend/src/components/GridTable/GridTable.test.tsx
  superset-frontend/src/components/GridTable/Header.test.tsx
  superset-frontend/src/components/GridTable/Header.tsx
  superset-frontend/src/components/GridTable/HeaderMenu.test.tsx
  superset-frontend/src/components/GridTable/HeaderMenu.tsx
  superset-frontend/src/components/GridTable/constants.ts
  superset-frontend/src/components/GridTable/index.tsx
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
Labels: sqllab, size/XXL, change:frontend, dependencies:npm

#32054 chore: Add more database-related tests (follow up to #31948)
  superset/commands/database/tables.py
  tests/unit_tests/commands/databases/tables_test.py
  tests/unit_tests/models/core_test.py
Labels: size/M, data:databases

#32061 fix(DatePicker): Increase z-index over Modal
  superset-frontend/src/GlobalStyles.tsx
Labels: size/XS, testenv-up

#32004 refactor(Radio): Upgrade Radio Component to Ant Design 5
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/components/Chart/DrillBy/useDisplayModeToggle.tsx
  superset-frontend/src/components/Radio/Radio.stories.tsx
  superset-frontend/src/components/Radio/index.tsx
  superset-frontend/src/components/Table/header-renderers/HeaderWithRadioGroup.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CalendarFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CommonFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CurrentCalendarFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CalendarFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CustomFrame.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/constants.ts
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/ReportModal/styles.tsx
Labels: size/L, change:frontend, frontend:refactor:antd5

#32062 chore: Re-enable asnyc event API tests
  tests/integration_tests/async_events/api_tests.py
Labels: size/XS, global:async-query

#32051 feat(sqllab): improve table metadata UI
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/AceEditorWrapper/AceEditorWrapper.test.tsx
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.test.ts
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/ShowSQL/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/TableElement.test.tsx
  superset-frontend/src/SqlLab/components/TablePreview/TablePreview.test.tsx
  superset-frontend/src/SqlLab/components/TablePreview/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.test.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/hooks/apiResources/sqlLab.ts
  superset-frontend/src/hooks/apiResources/tables.ts
Labels: size/XXL, packages

#31757 fix(thumbnail cache): Enabling force parameter on screenshot/thumbnail cache
  superset/charts/api.py
  superset/charts/schemas.py
  superset/config.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/models/slice.py
  superset/tasks/thumbnails.py
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/integration_tests/cli_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/thumbnails_tests.py
  tests/unit_tests/utils/screenshot_test.py
Labels: size/XL, api

#32053 fix: enforce `ALERT_REPORTS_MAX_CUSTOM_SCREENSHOT_WIDTH`
  superset/commands/report/execute.py
  tests/unit_tests/commands/report/execute_test.py
Labels: size/L, alert-reports

#32052 feat: add connector for Parseable
  docs/docs/configuration/databases.mdx
  pyproject.toml
  superset/db_engine_specs/parseable.py
  tests/unit_tests/db_engine_specs/test_parseable.py
Labels: size/L, data:connect, enhancement:db, doc
