Repository apache/superset, pull requests merged in 2025-10, with the labels that each got.

#34674 feat(db): custom database error messages
  docs/docs/configuration/databases.mdx
  superset-frontend/src/components/ErrorMessage/CustomDocLink.test.tsx
  superset-frontend/src/components/ErrorMessage/CustomDocLink.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
  superset/commands/database/test_connection.py
  superset/commands/database/validate.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/custom_database_errors.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/databricks.py
  superset/models/helpers.py
  superset/sql_lab.py
  tests/unit_tests/db_engine_specs/test_base.py
Labels: change:backend, size/XL, change:frontend, doc, testenv-up, 🎪 🔒 showtime-blocked

#35307 fix(explore): close unsaved changes modal when discarding changes
  superset-frontend/src/hooks/useUnsavedChangesPrompt/index.ts
  superset-frontend/src/hooks/useUnsavedChangesPrompt/useUnsavedChangesPrompt.test.tsx
Labels: size/M, change:frontend

#35350 fix: table quoting in DBs with `supports_cross_catalog_queries=True`
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Labels: size/L, data:connect

#35424 fix(pinot): `DATE_ADD` function
  superset/sql/dialects/pinot.py
  superset/sql/parse.py
  tests/unit_tests/sql/dialects/pinot_tests.py
Labels: size/M, data:connect:pinot

#35452 fix(slice): Fix using isdigit when id passed as int
  superset/models/slice.py
  tests/unit_tests/models/slice_test.py
Labels: size/XS, #bug:newfeature

#35427 fix(pinot): `SUBSTR` function
  superset/sql/dialects/pinot.py
  tests/unit_tests/sql/dialects/pinot_tests.py
Labels: size/S, data:connect:pinot

#35451 fix(pinot): more functions
  superset/sql/dialects/pinot.py
  tests/unit_tests/sql/dialects/pinot_tests.py
Labels: size/L, preset-io

#35418 fix(explore): Remove query autotrigger
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utilities/Shared_DeckGL.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Labels: size/S, explore, viz:charts:deck.gl, review:checkpoint, plugins

#35447 fix(test): changed test use unsaved changes prompt
  superset-frontend/src/hooks/useUnsavedChangesPrompt/useUnsavedChangesPrompt.test.tsx
Labels: size/L

#35453 fix(ag-grid-table): remove enterprise features to use community version
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTable/index.tsx
Labels: size/S, plugins

#35339 fix(dashboard): Navigate to new dashboard when saved as a new one
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/dashboardState.test.js
Labels: size/M, change:frontend

#35129 fix(loading): improve loading screen theming for dark mode support
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChartCore.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset/templates/superset/spa.html
Labels: size/M, change:frontend, preset-io, global:theming, packages, review:draft, 🎪 032abe7 📅 2025-10-03T23-32, 🎪 032abe7 ⌛ 48h, 🎪 032abe7 🤡 eschutho, 🎪 032abe7 🚦 running, 🎪 032abe7 🌐 35.90.97.68:8080

#35497 fix(frontend): remove describe/it blocks from Modal.useModal tests
  superset-frontend/src/dashboard/components/EmbeddedModal/EmbeddedModal.test.tsx
  superset-frontend/src/pages/ThemeList/ThemeList.test.tsx
  superset-frontend/src/pages/ThemeList/index.tsx
Labels: size/S, change:frontend

#35487 fix(Select): Prevent closing the select when clicking on a tag
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
Labels: size/M, change:frontend, packages

#35489 fix(explore): correct search icon in dashboard submenu
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Labels: size/XS, change:frontend

#35523 fix: update chart with dashboards validation
  superset/commands/chart/update.py
  tests/integration_tests/charts/commands_tests.py
Labels: size/L, api:charts, dashboard

#35254 fix(theme-crud): add unsaved changes modal
  superset-frontend/src/features/themes/ThemeModal.test.tsx
  superset-frontend/src/features/themes/ThemeModal.tsx
  superset-frontend/src/hooks/useBeforeUnload/index.ts
  superset-frontend/src/hooks/useBeforeUnload/useBeforeUnload.test.ts
  superset-frontend/src/hooks/useUnsavedChangesPrompt/index.ts
Labels: size/XXL, change:frontend

#35527 fix(chart): Fixes BigNumber gradient appearing blackish in light mode
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
Labels: size/XS, viz:charts:bignumber, plugins
