Repository apache/superset, pull requests merged in 2025-03, with the labels that each got.

#32231 feat: Update database permissions in async mode
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset/commands/database/exceptions.py
  superset/commands/database/sync_permissions.py
  superset/commands/database/test_connection.py
  superset/commands/database/update.py
  superset/commands/database/utils.py
  superset/config.py
  superset/constants.py
  superset/databases/api.py
  superset/views/base.py
  tests/conftest.py
  tests/integration_tests/base_api_tests.py
  tests/integration_tests/conftest.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/users/api_tests.py
  tests/unit_tests/commands/databases/conftest.py
  tests/unit_tests/commands/databases/sync_permissions_test.py
  tests/unit_tests/commands/databases/update_test.py
  tests/unit_tests/commands/databases/utils_test.py
Labels: change:backend, size/XXL, data:databases, api

#32420 fix(com/grid-comp/markdown): pin `remark-gfm` to v3 to allow inline code block by backticks in Markdown
  .github/dependabot.yml
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-core/package.json
Labels: size/XS, dashboard:markdown, dependencies:npm, packages

#32473 fix(plugin-chart-echarts): remove erroneous upper bound value
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Labels: size/S, viz:charts:timeseries, plugins

#32048 feat: improve GSheets OAuth2
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/TableCatalog.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/constants.ts
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/databases/types.ts
  superset/commands/database/validate.py
  superset/db_engine_specs/gsheets.py
  superset/models/core.py
  superset/sqllab/sql_json_executer.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/commands/databases/validate_test.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/migrations/shared/catalogs_test.py
Labels: size/L, data:connect:googlesheets, data:connect

#32488 fix(tooltip): displaying <a> tags correctly
  superset-frontend/plugins/plugin-chart-pivot-table/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/XS, viz:charts:tooltip, plugins

#32481 fix(docker compose): replace port 8088 with 9000
  docker-compose.yml
  docs/docs/contributing/development.mdx
Labels: size/XS, doc

#31996 feat: cache the frontend's bootstrap data
  superset-frontend/src/utils/getBootstrapData.ts
Labels: size/S, change:frontend, infra:caching, preset-io

#32121 feat: security, user group support
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/security/guest_token.py
  superset/security/manager.py
  superset/views/utils.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/fixtures/users.py
  tests/integration_tests/security_tests.py
Labels: size/L, authentication:access-control, authentication:fab, review:draft, testenv-up

#32317 feat(flag flip): Setting Horizontal Filters to True by default.
  RESOURCES/FEATURE_FLAGS.md
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/FilterBarSettings.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset/config.py
  tests/integration_tests/superset_test_config.py
Labels: size/M, packages

#32486 fix: skip DB filter when doing OAuth2
  superset/databases/api.py
  tests/unit_tests/databases/api_test.py
Labels: size/M, authentication, preset-io, api

#30657 chore: various markdown warnings resolved
  RESOURCES/INTHEWILD.md
  docs/docs/configuration/alerts-reports.mdx
  docs/docs/configuration/async-queries-celery.mdx
  docs/docs/configuration/cache.mdx
  docs/docs/configuration/configuring-superset.mdx
  docs/docs/configuration/databases.mdx
  docs/docs/configuration/importing-exporting-datasources.mdx
  docs/docs/configuration/networking-settings.mdx
  docs/docs/configuration/sql-templating.mdx
  docs/docs/configuration/timezones.mdx
  docs/docs/contributing/development.mdx
  docs/docs/contributing/resources.mdx
  docs/docs/faq.mdx
  docs/docs/installation/architecture.mdx
  docs/docs/installation/docker-builds.mdx
  docs/docs/installation/kubernetes.mdx
  docs/docs/quickstart.mdx
  docs/docs/security/security.mdx
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  docs/docs/using-superset/exploring-data.mdx
Labels: size/L, doc

#32501 chore: enable dependabot using uv for auto-bumping python packages
  .github/dependabot.yml
Labels: size/S, review:checkpoint, dependencies:python

#32499 fix(explore): Glitch in a tooltip with metric's name
  superset-frontend/packages/superset-ui-chart-controls/src/components/labelUtils.tsx
Labels: size/S, packages

#32517 chore(ci): show more failed pre-commit context
  .github/workflows/pre-commit.yml
  superset-frontend/package-lock.json
Labels: size/S, dependencies:npm, github_actions

#32414 feat(api): Added uuid to list api calls
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  tests/integration_tests/datasets/api_tests.py
Labels: size/XS, api

#32506 feat: make user agent customizable
  superset/config.py
  superset/constants.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/parseable.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
  superset/db_engine_specs/trino.py
  superset/models/core.py
  superset/utils/core.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/utils/test_core.py
Labels: size/L, data:connect, enhancement:db, review:draft

#32509 feat(KustoKQL): Update KQL alchemy version and update timegrain expressions
  pyproject.toml
  superset/db_engine_specs/kusto.py
  tests/unit_tests/db_engine_specs/test_kusto.py
Labels: size/M, data:connect

#32510 feat(slack): adds rate limit error handler for Slack client
  superset/utils/slack.py
Labels: size/XS

#32336 fix(Slack): Fix Slack recipients migration to V2
  superset/commands/report/execute.py
  superset/reports/notifications/slack.py
  superset/reports/notifications/slackv2.py
  superset/reports/schemas.py
  superset/utils/core.py
  superset/utils/slack.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/utils.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/utils/slack_test.py
Labels: size/L

#32527 chore(ci): use npm/yarn lock files where possible
  .github/workflows/pre-commit.yml
  .github/workflows/tech-debt.yml
Labels: size/XS, github_actions

#32529 chore: Caching the Slack channels list
  superset-frontend/src/components/RefreshLabel/index.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.test.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset/reports/api.py
  superset/utils/slack.py
Labels: size/L, infra:caching, alert-reports, api

#32507 fix: Show response message as default error
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartErrorMessage.test.tsx
  superset-frontend/src/components/Chart/ChartErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.tsx
Labels: size/L, viz:charts

#31770 chore: add logging to index error
  superset/charts/client_processing.py
  tests/unit_tests/charts/test_client_processing.py
Labels: size/M, alert-reports, preset-io, logging

#32523 fix: keep calculated columns when datasource is updated
  superset-frontend/src/components/Datasource/utils.js
  superset-frontend/src/components/Datasource/utils.test.tsx
Labels: size/L, data:dataset, testenv-up

#32544 chore(Ant Design): Remove unnecessary exports from version 4
  superset-frontend/src/components/index.ts
Labels: size/XS

#32515 fix(sqllab): Allow clear on schema and catalog
  superset-frontend/src/components/DatabaseSelector/index.tsx
Labels: sqllab, size/XS

#32532 fix: add DateOffset to json serializer
  superset/utils/json.py
  tests/integration_tests/utils_tests.py
  tests/unit_tests/utils/json_tests.py
  tests/unit_tests/utils/test_core.py
Labels: size/XXL

#32550 chore: bump node to v20.18.3
  docs/.nvmrc
  superset-embedded-sdk/.nvmrc
  superset-frontend/.nvmrc
  superset-websocket/.nvmrc
  superset-websocket/utils/client-ws-app/.nvmrc
Labels: size/S, doc, embedded

#32545 refactor(input): Remove leftover direct usage of Ant Design input
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/pages/DatabaseList/DatabaseList.test.jsx
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.jsx
Labels: size/S, frontend:refactor

#32561 chore(docs): Add Flowbird to users list
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#32572 fix: Log table retention policy
  superset/commands/logs/prune.py
  superset/config.py
  superset/tasks/scheduler.py
Labels: size/L, logging

#32553 fix(comp/async-ace-editor): proper import of `ace-builds`
  superset-frontend/src/components/AsyncAceEditor/index.tsx
Labels: size/XS

#32573 chore(🦾): bump python cryptography 43.0.3 -> 44.0.2
  requirements/base.txt
  requirements/development.txt
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
Labels: size/M, supersetbot

#32170 feat(charts): add two new boxplot parameter sets
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Labels: size/XS, viz:charts:boxplot, plugins

#32599 fix(Slack V2): Specify the filename for the Slack upload method
  superset/reports/notifications/slackv2.py
Labels: size/S

#32597 chore: bump postgresql from 15 to 16
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  docker-compose-image-tag.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docs/docs/configuration/configuring-superset.mdx
  helm/superset/Chart.lock
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/M, deploy:helm, data:connect:postgres, doc, github_actions

#32600 docs: add information about ephemeral environments
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/howtos.mdx
Labels: size/M, doc, github_actions

#32605 docs: fix typo in ephemeral envs docs
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/howtos.mdx
Labels: size/XS, doc, github_actions

#32607 docs(analytics): actually USING Matomo to track page views/changes
  docs/docusaurus.config.ts
  docs/src/components/SectionHeader.tsx
  docs/src/theme/Root.js
  docs/static/script/matomo.js
Labels: size/L, preset-io, doc

#32549 fix(dashboard): Support bigint value in native filters
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/finestTemporalGrain.test.ts
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/finestTemporalGrain.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/index.test.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/utils.ts
Labels: size/M, dashboard:native-filters, plugins, packages

#32381 fix(sqllab): Grid header menu
  superset-frontend/src/components/GridTable/Header.tsx
  superset-frontend/src/components/GridTable/HeaderMenu.test.tsx
  superset-frontend/src/components/GridTable/HeaderMenu.tsx
  superset-frontend/src/components/GridTable/index.tsx
  superset-frontend/src/components/Menu/index.tsx
Labels: sqllab, size/L, frontend:refactor:antd5

#32366 feat(reports): removing index column
  superset/charts/client_processing.py
Labels: size/XS, alert-reports

#32546 feat: `OAuth2StoreTokenCommand`
  superset/commands/database/oauth2.py
  superset/daos/database.py
  superset/databases/api.py
  tests/unit_tests/commands/databases/oauth2_test.py
  tests/unit_tests/databases/api_test.py
Labels: size/L, authentication, preset-io, api

#32641 chore: add unique option to index migration utils
  superset/migrations/shared/utils.py
Labels: size/S

#32485 chore: simplify user impersonation
  superset/db_engine_specs/base.py
  superset/db_engine_specs/drill.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/lib.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/starrocks.py
  superset/db_engine_specs/trino.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_drill.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/db_engine_specs/test_starrocks.py
Labels: size/XL, data:databases, preset-io

#32608 fix(welcome): perf on distinct recent activities
  superset-frontend/packages/superset-ui-core/src/utils/lruCache.ts
  superset-frontend/packages/superset-ui-core/test/utils/lruCache.test.ts
  superset-frontend/src/features/home/ActivityTable.tsx
  superset-frontend/src/features/home/types.ts
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Labels: size/M, change:frontend, packages

#32652 fix: Upgrade node base image to Debian 12 bookworm
  Dockerfile
Labels: size/XS, infra:container, review:checkpoint

#32658 fix(sync perms): Avoid UnboundLocalError during perm sync for DBs that don't support catalogs
  superset/commands/database/sync_permissions.py
  tests/unit_tests/commands/databases/update_test.py
Labels: change:backend, size/M

#32646 fix(dashboard): Ensure `dashboardId` is included in `form_data` for embedded mode
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
Labels: size/S, embedded

#32657 fix(import): Import a DB connection with expanded rows enabled
  superset/databases/schemas.py
  tests/integration_tests/databases/api_tests.py
Labels: size/M, data:databases

#32623 chore(examples): Touching up Vehicle Sales a bit
  superset/examples/configs/charts/Vehicle Sales/Items_Sold.yaml
  superset/examples/configs/charts/Vehicle Sales/Items_by_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Number_of_Deals_for_each_Combination.yaml
  superset/examples/configs/charts/Vehicle Sales/Overall_Sales_By_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Proportion_of_Revenue_by_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Quarterly_Sales.yaml
  superset/examples/configs/charts/Vehicle Sales/Quarterly_Sales_By_Product_Line_113.yaml
  superset/examples/configs/charts/Vehicle Sales/Revenue_by_Deal_Size.yaml
  superset/examples/configs/charts/Vehicle Sales/Seasonality_of_Revenue_per_Product_Line.yaml
  superset/examples/configs/charts/Vehicle Sales/Total_Revenue.yaml
  superset/examples/configs/dashboards/Sales_Dashboard.yaml
  superset/examples/configs/datasets/examples/cleaned_sales_data.yaml
Labels: size/XXL, preset-io, doc:examples, testenv-up

#32661 fix(gsheets): update params from encrypted extra
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Labels: size/S, data:connect:googlesheets, preset-io

#32668 docs: add Hometogo to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#32678 fix: Update RELEASING/README.md
  RELEASING/README.md
Labels: size/XS, doc, review:checkpoint

#32662 feat: add a note to install cors-related dependency when using ENABLE_CORS
  superset/config.py
Labels: size/XS, preset-io, doc

#32680 feat: DB migration for dataset folders
  superset/migrations/versions/2025-03-03_20-52_94e7a3499973_add_folders_column_to_dataset.py
Labels: risk:db-migration, size/M, data:dataset

#32682 feat(docs): Adding Kapa.ai integration
  docs/docusaurus.config.ts
Labels: size/S, doc

#32407 chore(docs): remove customized "Edit this page on GitHub" button
  docs/src/styles/main.less
  docs/src/theme/DocItem/index.js
Labels: size/M, doc

#32670 feat: Implement sparse import for ImportAssetsCommand
  superset/commands/importers/v1/assets.py
  superset/commands/importers/v1/utils.py
  superset/importexport/api.py
  tests/unit_tests/importexport/api_test.py
Labels: size/M, api, review:draft

#32681 fix(log): Update recent_activity by event name
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/middleware/logger.test.js
  superset-frontend/src/middleware/loggerMiddleware.js
  superset/daos/log.py
  superset/utils/log.py
  superset/views/log/api.py
  tests/integration_tests/log_api_tests.py
Labels: size/L, change:frontend, api, logging

#32699 fix: Signature of Celery pruner jobs
  superset/commands/logs/prune.py
  superset/commands/sql_lab/query.py
  superset/tasks/scheduler.py
Labels: size/M

#32697 chore: add Oxylabs to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#32690 docs(api): correct attribute `name` instead of `table` for GET table_metadata in openapi.json
  docs/static/resources/openapi.json
  superset/databases/api.py
Labels: size/XS, api, doc

#32691 fix(cosmetics): allow toast message to be toggled off when modal is opened
  superset-frontend/src/components/MessageToasts/ToastPresenter.tsx
Labels: size/XS

#32696 fix(spreadsheet uploads): make file extension comparisons case-insensitive
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset/databases/schemas.py
Labels: size/S

#32704 fix(docs): poking a CSP hole for Kapa AI widget
  docs/static/.htaccess
Labels: size/XS, doc

#32701 fix: boolean filters in Explore
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/AdhocFilter.test.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilter/index.js
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/explore/exploreUtils/index.js
  superset/models/helpers.py
Labels: size/L, explore:filter, preset-io

#32703 fix(repo): re-enable GitHub Discussions
  .asf.yaml
Labels: size/XS, preset-io

#32709 chore(asf): fixing(?) `.asf.yaml`
  .asf.yaml
Labels: Apache Software Foundation, size/XS

#32708 fix(logging): missing path in event data
  superset-frontend/src/middleware/loggerMiddleware.js
Labels: size/XS, logging

#32710 chore(asf): Removing notifications from `.asf.yaml` - they still don't work :(
  .asf.yaml
Labels: size/XS

#32702 feat(file uploads): List only allowed schemas in the file uploads dialog
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset/databases/api.py
  superset/databases/schemas.py
  tests/integration_tests/databases/api_tests.py
Labels: size/L, api

#32712 chore(asf): trying to fix `.asf.yaml` again to re-enable Discussions
  .asf.yaml
Labels: size/XS

#32713 fix(docs): Fixes scrolling issue with AI widget on docs site
  docs/docusaurus.config.ts
Labels: size/XS, doc

#32689 chore(docs): touching up AI styling/text
  docs/docusaurus.config.ts
Labels: size/S, doc

#32714 chore(asf): Another `.asf.yaml` touch-up.
  .asf.yaml
Labels: size/XS

#32686 chore(helm): bump postgresql image tag in helm values
  helm/superset/Chart.lock
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Labels: size/S, deploy:helm

#32724 fix(docs): allow recaptcha in CSP
  docs/static/.htaccess
Labels: size/XS, doc

#32726 fix(asf): moving notifications to the top of `.asf.yaml`
  .asf.yaml
Labels: size/S

#32727 fix(docs): poking ANOTHER hole in the CSP for the AI bot.
  docs/static/.htaccess
Labels: size/XS, doc

#32730 Revert "fix(asf): moving notifications to the top of `.asf.yaml`"
  .asf.yaml
Labels: size/S

#32732 Revert "Revert "fix(asf): moving notifications to the top of `.asf.yaml`""
  .asf.yaml
Labels: size/S

#32731 feat(where_in): Support returning None if filter_values return None
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/M, global:jinja

#32410 fix(import): Ensure import exceptions are logged
  superset/commands/importers/v1/__init__.py
Labels: size/XS, logging

#32679 fix: ensure datasource permission in explore
  superset/commands/explore/get.py
  tests/integration_tests/explore/api_tests.py
Labels: size/XS, authentication:access-control, explore

#32711 chore(lang): update and fix french translations
  superset/translations/fr/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:french

#28203 fix(contextmenu): uncaught TypeError
  superset/common/query_context_processor.py
  superset/common/query_object.py
  superset/connectors/sqla/models.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/common/test_query_object_factory.py
Labels: size/M

#31751 fix: Changing language doesn't affect echarts charts
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
Labels: size/M, viz:charts:echarts, plugins, dependencies:npm, testenv-up

#32735 feat(embedded): Force a specific referrerPolicy for the iframe request
  superset-embedded-sdk/README.md
  superset-embedded-sdk/src/index.ts
Labels: size/S, embedded

#32759 fix(migrations): fix foreign keys to match FAB 4.6.0 tables
  superset/migrations/shared/utils.py
  superset/migrations/versions/2025-03-19_17-46_32bf93dfe2a4_add_on_cascade_in_fab_tables.py
Labels: change:backend, risk:db-migration, size/L

#32761 fix: do not add calculated columns when syncing
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Labels: size/XS

#32720 fix(chart control): Change default of "Y Axis Title Margin"
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
Labels: size/M, explore:control, plugins, packages

#32774 fix(sqllab): Pass query_id as kwarg so backoff can see it
  superset/sql_lab.py
Labels: sqllab, size/XS

#32775 fix(import): Missing catalog field in saved query schema
  superset/queries/saved_queries/schemas.py
  tests/integration_tests/fixtures/importexport.py
Labels: sqllab, size/XS, review:checkpoint, testenv-up

#28350 fix(css): typos in styles
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
Labels: size/XS, plugins

#32780 chore: bump base image in Dockerfile with `ARG PY_VER=3.11.11-slim-bookworm`
  Dockerfile
Labels: size/XS, v4.1

#32739 fix(excel export): big number truncation handling
  superset/utils/excel.py
  tests/unit_tests/utils/excel_tests.py
Labels: size/M

#32406 fix(model/helper): represent RLS filter clause in proper textual SQL string
  superset/models/helpers.py
  tests/unit_tests/models/helpers_test.py
Labels: size/S, authentication:row-level-security

#32802 fix(sec): resolve CVE-2025-29907 and CVE-2025-25977 by pinning `jspdf` to v3
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, dependencies:npm

#32801 fix(docs): scrollable table of content right bar in Superset docs
  docs/src/styles/custom.css
Labels: size/XS, doc

#32797 fix: CSV/Excel upload form change column dates description
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/M, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, data:csv, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian, i18n:traditional-chinese

#32781 feat(Jinja): to_datetime filter
  docs/docs/configuration/sql-templating.mdx
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/L, global:jinja, doc

#32770 feat: Add current_user_roles() Jinja macro
  docs/docs/configuration/sql-templating.mdx
  superset/jinja_context.py
  superset/utils/core.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/jinja_context_test.py
Labels: size/M, authentication:access-control, global:jinja, doc

#32792 fix: key error in frontend on disallowed GSheets
  superset/views/base.py
Labels: size/XS, data:connect:googlesheets

#32795 fix(log): store navigation path to get correct logging path
  superset-frontend/src/middleware/logger.test.js
  superset-frontend/src/middleware/loggerMiddleware.js
Labels: size/L, logging

#32831 chore: updating files for release 4.1.2
  .github/ISSUE_TEMPLATE/bug-report.yml
  CHANGELOG/4.1.1.md
  CHANGELOG/4.1.2.md
  UPDATING.md
Labels: size/L

#32848 fix: Bump FAB to 4.6.1
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Labels: size/XS, v5.0, dependencies:python

#32822 docs: added a link to badge releases
  README.md
Labels: size/XS

#32850 fix(echarts): Sort series by name using naturalCompare
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Labels: size/L, viz:charts:echarts, plugins, dependencies:npm

#31869 fix(translation): Dutch translations for Current datetime filter
  superset/translations/nl/LC_MESSAGES/messages.po
Labels: i18n, size/S, i18n:dutch

#32863 fix(table-chart): Do not show comparison columns config if time_compare is set to []
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/XS, viz:charts:table, plugins

#32860 chore: Removes unused file
  null_byte.csv
Labels: size/XS

#32851 fix(ColorPickerControl): change color picker control width
  superset-frontend/src/explore/components/controls/ColorPickerControl.jsx
Labels: size/XS, explore:design

#32852 chore: update migrations to use utils
  superset/migrations/versions/2024-09-25_17-59_7b17aa722e30_uuidmixin.py
  superset/migrations/versions/2025-03-03_20-52_94e7a3499973_add_folders_column_to_dataset.py
Labels: risk:db-migration, size/S

#32873 fix: use role_model from security manager
  superset/security/manager.py
  tests/unit_tests/commands/dashboard/__init__.py
  tests/unit_tests/commands/dashboard/create_test.py
Labels: size/L, authentication:RBAC

#32372 fix(backend/async_events): allow user to configure username for Redis authentication in GLOBAL_ASYNC_QUERIES_CACHE_BACKEND
  superset/async_events/cache_backend.py
Labels: size/XS, global:async-query, data:connect:redis

#32871 fix(Jinja): Emit time grain to table charts even if they don't have a temporal column
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/data/api_tests.py
Labels: size/L, viz:charts:table, global:jinja, plugins, testenv-up

#32378 refactor(table): Upgrade table component from antd4 to antd5
  superset-frontend/cypress-base/cypress/e2e/dashboard/drilltodetail.test.ts
  superset-frontend/src/components/Table/Table.stories.tsx
  superset-frontend/src/components/Table/Table.test.tsx
  superset-frontend/src/components/Table/VirtualTable.tsx
  superset-frontend/src/components/Table/cell-renderers/ActionCell/index.tsx
  superset-frontend/src/components/Table/index.tsx
  superset-frontend/src/components/Table/utils/InteractiveTableUtils.ts
  superset-frontend/src/features/datasets/AddDataset/EditDataset/UsageTab/UsageTab.test.tsx
  superset-frontend/src/features/datasets/AddDataset/EditDataset/UsageTab/index.tsx
Labels: size/L, change:frontend, frontend:refactor:antd5, testenv-up

#32767 feat: Add Aggregation Method for Big Number with Trendline
  superset-frontend/packages/superset-ui-chart-controls/src/operators/aggregateOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/operators/index.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/index.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/aggregateOperator.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/timeCompareOperator.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset-frontend/packages/superset-ui-core/test/query/types/PostProcessing.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BigNumber/transformProps.test.ts
Labels: size/L, viz:charts:bignumber, plugins, packages, testenv-up

#32888 refactor(jinja macro): Update current_user_roles() macro to fetch roles from existing get_user_roles() method
  superset/jinja_context.py
  superset/utils/core.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/jinja_context_test.py
Labels: size/M, global:jinja, review:checkpoint

#32814 feat(chart controls): Add "%d.%m.%Y" time format option
  superset-frontend/packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
Labels: size/XS, explore:control, packages

#28605 feat(plugins): Make comparison values on BigNumberPeriodOverPeriod toggleable
  superset-frontend/packages/superset-ui-core/test/time-comparison/getComparisonInfo.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/types.ts
  superset-frontend/src/explore/components/controls/ColumnConfigControl/constants.tsx
Labels: size/L, viz:charts:bignumber, plugins, packages, testenv-up

#32900 feat: Enable passing a permalink to cache_dashboard_screenshot endpoint
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/utils/screenshots.py
  tests/integration_tests/dashboards/api_tests.py
Labels: size/M, api

#32585 chore(reports): add task for slack channels warm-up
  superset/config.py
  superset/tasks/slack.py
  superset/utils/slack.py
  tests/unit_tests/utils/slack_test.py
Labels: size/L, alert-reports
