Repository apache/superset, pull requests merged in 2025-08, with the labels that each got.

#34393 chore: update chart list e2e and component tests
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/src/components/FacePile/FacePile.test.tsx
  superset-frontend/src/components/Tag/utils.test.tsx
  superset-frontend/src/components/TagsList/TagsList.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.cardview.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.listview.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.permissions.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.jsx
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.testHelpers.tsx
  superset-frontend/src/utils/chartRegistry.test.ts
  superset-frontend/src/views/CRUD/hooks.test.tsx
Labels: size/XXL, listview, AI 🤖

#34436 fix(echarts): resolve bar chart X-axis time formatting stuck on adaptive
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/constants.test.ts
Labels: size/XL, viz:charts:echarts, plugins, AI 🤖

#34516 fix(echart): initial chart animation
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Labels: size/XS, viz:charts:echarts, plugins

#34520 fix: docs eslint command
  docs/eslint.config.js
  docs/package.json
Labels: size/S, doc

#34512 fix(sqllab): prevent strings with angle brackets from being hidden
  superset-frontend/packages/superset-ui-core/src/utils/html.test.tsx
  superset-frontend/packages/superset-ui-core/src/utils/html.tsx
Labels: sqllab, size/M, change:frontend, packages, testenv-up, AI 🤖

#34539 fix(native filters): throws an error when a chart containing a bigint value
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
Labels: size/M, dashboard:native-filters

#34528 fix(explore): Fix missing await for async buildV1ChartDataPayload calls
  superset-frontend/src/explore/actions/saveModalActions.test.ts
  superset-frontend/src/explore/actions/saveModalActions.ts
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
Labels: size/M, change:frontend

#34507 fix(theming): More theming bugs/regressions
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
  superset-frontend/packages/superset-ui-core/src/components/Badge/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/types.ts
  superset-frontend/packages/superset-ui-core/src/components/Select/styles.tsx
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/utils.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/components/Datasource/Field.tsx
  superset-frontend/src/components/Datasource/Fieldset.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.jsx
  superset-frontend/src/dashboard/components/dnd/DragHandle.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelDragOption/index.tsx
  superset-frontend/src/features/datasets/AddDataset/LeftPanel/index.tsx
  superset-frontend/src/features/datasets/styles.ts
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/AnnotationList/index.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/CssTemplateList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/GroupsList/index.tsx
  superset-frontend/src/pages/QueryHistoryList/index.tsx
  superset-frontend/src/pages/RolesList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
  superset-frontend/src/pages/ThemeList/index.tsx
  superset-frontend/src/pages/UsersList/index.tsx
Labels: size/L, change:frontend, global:theming, review:checkpoint, packages, review:draft, testenv-up

#34373 feat(docker): Add pytest support to docker-compose-light.yml
  .gitignore
  docker-compose-light.yml
  docker/docker-pytest-entrypoint.sh
  docker/pythonpath_dev/superset_test_config_light.py
  docker/tag_latest_release.sh
  pyproject.toml
  requirements/development.txt
  tests/integration_tests/extensions/metastore_cache_test.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/extensions/test_sqlalchemy.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/security/manager_test.py
  tests/unit_tests/utils/test_core.py
Labels: install:docker, size/XL, preset-io

#34569 fix: navigate to SQL Lab due to router api updates
  superset-frontend/src/explore/components/controls/ViewQuery.test.tsx
  superset-frontend/src/explore/components/controls/ViewQuery.tsx
Labels: sqllab, size/XS

#34580 fix(echart): broken aggregator due to bigint value
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/index.test.ts
Labels: size/XS, viz:charts:echarts, plugins

#34239 fix(Heatmap): addin x axis label rotation
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
Labels: size/XS, viz:charts:heatmap, plugins, testenv-up

#34602 fix(Dashboards): Tabs highlight and dataset contrast in darkmode issues
  superset-frontend/packages/superset-ui-core/src/components/Label/reusable/DatasetTypeLabel.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
Labels: size/S, dashboard:tab, dashboard:design, review:checkpoint, packages, review:draft

#34641 fix: Slack channels and Color Palettes search
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/index.tsx
Labels: size/L, change:frontend, alert-reports, review:checkpoint, packages

#34644 fix: Fix Slice import on has_drill_by_access
  superset/security/manager.py
Labels: change:backend, size/XS, authentication:access-control

#34561 feat: Tiled screenshots in Playwright reports
  UPDATING.md
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/config.py
  superset/utils/screenshot_utils.py
  superset/utils/webdriver.py
  tests/unit_tests/utils/test_screenshot_utils.py
Labels: size/XL, alert-reports

#21083 fix(install): set SUPERSET_VERSION_RC at the right time
  RELEASING/make_tarball.sh
Labels: size/XS

#32663 chore: add more csv tests
  tests/unit_tests/charts/test_client_processing.py
  tests/unit_tests/utils/csv_tests.py
Labels: size/L, data:csv

#27086 feat(filter_state): Added @api and @has_access_api to all methods of filter_state API.
  superset/dashboards/filter_state/api.py
Labels: size/XS, api

#33202 fix(open-api): Add missing FormatQueryPayloadSchema and DashboardScreenshotPostSchema to open-api component schemas
  superset/dashboards/api.py
  superset/sqllab/api.py
Labels: size/XS, api

#34304 fix(presto): return proper data type for column
  superset/db_engine_specs/presto.py
Labels: size/XS, data:connect:presto, preset-io

#34585 fix(theming): Theming visual fixes p5
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/index.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/AnnotationList/index.tsx
  superset-frontend/src/pages/GroupsList/index.tsx
  superset-frontend/src/pages/RolesList/index.tsx
  superset-frontend/src/pages/UsersList/index.tsx
Labels: size/XL, global:theming, packages, testenv-up

#34606 refactor: Migrate ExploreChartPanel to typescript
  superset-frontend/packages/superset-ui-core/src/query/types/QueryFormData.ts
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartErrorMessage.test.tsx
  superset-frontend/src/components/Chart/ChartErrorMessage.tsx
  superset-frontend/src/explore/components/ChartPills.tsx
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/ResultsPaneOnDashboard.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/SamplesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/fixture.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset-frontend/src/explore/components/ExploreAlert.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/useResizeDetectorByObserver.ts
  superset-frontend/src/explore/types.ts
  superset-frontend/src/hooks/apiResources/charts.ts
Labels: size/L, explore:refactor, packages

#34658 feat(sqllab): improve SaveDatasetModal design with proper theme spacing
  superset-frontend/src/SqlLab/components/SaveDatasetModal/SaveDatasetModal.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/SaveQuery.test.tsx
Labels: sqllab, size/L, change:frontend, review:draft, testenv-up

#34678 feat(extension): Add extension for chart header
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Labels: size/M, change:frontend, packages

#34698 fix: Invalid error tooltip if control label is function
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Labels: size/L, explore:design

#34758 chore(saved_query): Copy link to clipboard before redirect to edit (#34567)
  superset-frontend/src/pages/SavedQueryList/index.tsx
Labels: size/S, listview

#34720 fix(sqllab): Reduce flushing caused by ID updates
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/EditorAutoSync/index.tsx
  superset-frontend/src/SqlLab/components/QueryHistory/QueryHistory.test.tsx
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/hooks/useQueryEditor/index.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.js
  superset-frontend/src/SqlLab/reducers/sqlLab.test.js
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.ts
  superset-frontend/src/reduxUtils.ts
Labels: sqllab, size/L, review:checkpoint

#34757 fix: Users can't skip column sync when saving virtual datasets
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
Labels: size/M, data:dataset

#34683 fix(sqllab): Invisible grid table due to the invalid height
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/components/FilterableTable/index.tsx
Labels: sqllab, size/M, change:frontend

#34743 fix(duckdb): Add support for DuckDB-specific numeric types
  superset/db_engine_specs/duckdb.py
  tests/unit_tests/db_engine_specs/test_duckdb.py
Labels: size/M, data:connect, 6.0

#34769 fix: Fix TypeError in Slice.get() method when using filter_by() with BinaryExpression
  superset/models/slice.py
  tests/integration_tests/charts/api_tests.py
  tests/unit_tests/models/slice_test.py
Labels: change:backend, size/L, cares:preset, 6.0

#34051 fix(translations): Fix translation of time-related strings like "7 seconds ago", "a minute ago", etc
  superset-frontend/src/preamble.ts
  superset/models/helpers.py
Labels: size/S, i18n:general

#34780 fix(tests): make SingleStore test_adjust_engine_params version-agnostic
  tests/unit_tests/db_engine_specs/test_singlestore.py
Labels: size/XS, 6.0

#34793 fix(PivotExcelExport): select correct chart for export
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Labels: size/S, dashboard:export, testenv-up

#32640 fix: catch no table error
  superset/db_engine_specs/presto.py
  tests/integration_tests/db_engine_specs/presto_tests.py
Labels: size/M, data:connect:presto, preset-io

#34719 fix: default value in run-server.sh
  docker/entrypoints/run-server.sh
Labels: size/XS, deploy, testenv-up

#34799 fix: Misaligned global controls in Table chart
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Labels: size/M, change:frontend, viz:charts:table, plugins

#34814 fix: Remove border around textarea in dashboard edit mode
  superset-frontend/packages/superset-ui-core/src/components/EditableTitle/index.tsx
Labels: size/XS, change:frontend, dashboard:editmode, packages

#34812 fix(native-filters): Low contrast of empty state in dark mode
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
Labels: size/XS, dashboard:native-filters

#34802 fix: User-provided Jinja template parameters causing SQL parsing errors
  superset/commands/sql_lab/execute.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/models/core.py
  superset/models/sql_lab.py
  superset/security/manager.py
  superset/sql/parse.py
  superset/sqllab/validators.py
  tests/unit_tests/models/sql_lab_test.py
  tests/unit_tests/sql/parse_tests.py
Labels: change:backend, size/L, global:jinja, v5.0

#34800 chore: Add instruction for LLMs to use antd theme tokens
  LLMS.md
Labels: size/XS, global:theming

#34801 fix: make `get_image()` always return `BytesIO`
  superset/charts/api.py
  superset/dashboards/api.py
  superset/exceptions.py
  superset/utils/screenshots.py
  tests/unit_tests/utils/screenshot_test.py
  tests/unit_tests/utils/test_screenshot_exception_handling.py
Labels: change:backend, size/L, preset-io, api

#34782 fix: Add dataset ID to file name on exports
  UPDATING.md
  superset/commands/dataset/export.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/dashboards/commands_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/unit_tests/datasets/commands/export_test.py
Labels: size/M, data:dataset

#34846 fix(sqllab): Missing executed sql value in the result table
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.js
Labels: sqllab, size/XS

#34821 build(docker): update base debian image to 13 (trixie)
  .devcontainer/Dockerfile
  .github/workflows/superset-frontend.yml
  Dockerfile
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  RELEASING/Dockerfile.make_docs
  RELEASING/Dockerfile.make_tarball
  docker-compose-light.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docker/apt-install.sh
  docker/pip-install.sh
Labels: size/M, infra:container, github_actions, review:draft

#34843 fix(dashboard): Anchor link positions
  superset-frontend/packages/superset-ui-core/src/components/EditableTitle/index.tsx
  superset-frontend/src/components/CopyToClipboard/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Header.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.jsx
Labels: size/M, change:frontend, packages

#34851 fix(docker): remove --with-threads from remaining dev workflows for DuckDB compatibility
  Makefile
  docker-compose-light.yml
  docker-compose.yml
  docker/docker-bootstrap.sh
Labels: size/S, infra:container

#34872 fix: Update apache-superset-core dependency to accept rc1 version
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Labels: change:backend, size/S, AI 🤖

#34869 fix: Undefined error when viewing query in Explore + visual fixes
  superset-frontend/src/explore/components/controls/ViewQuery.test.tsx
  superset-frontend/src/explore/components/controls/ViewQuery.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/features/queries/QueryPreviewModal.tsx
  superset-frontend/src/features/queries/SavedQueryPreviewModal.tsx
  superset-frontend/src/features/queries/SyntaxHighlighterCopy.tsx
  superset-frontend/src/pages/QueryHistoryList/index.tsx
Labels: size/L, change:frontend, explore:error, testenv-up

#34883 fix: Rename apache-superset-cli to apache-superset-extensions-cli
  .github/CODEOWNERS
  .github/actions/change-detector/action.yml
  .github/workflows/superset-extensions-cli.yml
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  requirements/base.txt
  requirements/development.in
  requirements/development.txt
  scripts/change_detector.py
  superset-extensions-cli/CHANGELOG.md
  superset-extensions-cli/LICENSE.txt
  superset-extensions-cli/README.md
  superset-extensions-cli/pyproject.toml
  superset-extensions-cli/src/superset_extensions_cli/__init__.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/src/superset_extensions_cli/constants.py
  superset-extensions-cli/src/superset_extensions_cli/templates/backend/pyproject.toml.j2
  superset-extensions-cli/src/superset_extensions_cli/templates/extension.json.j2
  superset-extensions-cli/src/superset_extensions_cli/templates/frontend/package.json.j2
  superset-extensions-cli/src/superset_extensions_cli/utils.py
  superset-extensions-cli/tests/README.md
  superset-extensions-cli/tests/__init__.py
  superset-extensions-cli/tests/conftest.py
  superset-extensions-cli/tests/test_cli_build.py
  superset-extensions-cli/tests/test_cli_bundle.py
  superset-extensions-cli/tests/test_cli_dev.py
  superset-extensions-cli/tests/test_cli_init.py
  superset-extensions-cli/tests/test_cli_validate.py
  superset-extensions-cli/tests/test_templates.py
  superset-extensions-cli/tests/test_utils.py
  superset-extensions-cli/tests/utils.py
Labels: size/L, github_actions

#34890 chore(docs): update files for release 4.1.4
  CHANGELOG.md
  CHANGELOG/4.1.4.md
  RELEASING/README.md
Labels: size/M

#34900 fix: Filter bar orientation submenu should not be highlighted
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
Labels: size/S, change:frontend

#34833 feat: Integrate Superset Showtime GitHub Actions workflows
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/ephemeral-env.yml
  .github/workflows/showtime-cleanup.yml
  .github/workflows/showtime-trigger.yml
Labels: size/L, preset-io, infra, github_actions

#34323 feat(pie): add sort legend
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Labels: size/L, plugins, testenv-up

#34836 feat(api): dataset read API uuid support
  docs/static/resources/openapi.json
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/charts/schemas.py
  superset/common/query_context_factory.py
  superset/common/query_object_factory.py
  superset/daos/base.py
  superset/daos/datasource.py
  superset/daos/exceptions.py
  superset/datasets/api.py
  superset/utils/core.py
  superset/views/datasource/utils.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/datasource/dao_tests.py
Labels: size/L, data:dataset, api, doc
