Repository apache/superset, pull requests merged in 2025-04, with the labels that each got.

#32866 fix: make packages PEP 625 compliant
  .gitignore
  README.md
  RELEASING/Dockerfile.from_local_tarball
  RELEASING/Dockerfile.from_svn_tarball
  RELEASING/README.md
  RELEASING/email_templates/announce.j2
  RELEASING/make_tarball.sh
  RELEASING/make_tarball_entrypoint.sh
  RELEASING/set_release_env.sh
  RELEASING/test_run_tarball.sh
  RELEASING/validate_this_release.sh
  docs/docs/configuration/databases.mdx
  docs/docs/configuration/networking-settings.mdx
  docs/docs/contributing/contributing.mdx
  docs/docs/installation/pypi.mdx
  docs/docs/installation/upgrading-superset.mdx
  pyproject.toml
  setup.py
  superset/config.py
Labels: size/L, doc

#32384 fix: Clicking in the body of a Markdown component does not put it into edit mode
  superset-frontend/src/dashboard/components/menu/WithPopoverMenu.tsx
Labels: size/S, dashboard:editmode, dashboard:markdown, testenv-up

#32968 fix(pivot-table): Revert "fix(Pivot Table): Fix column width to respect currency config (#31414)"
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
Labels: size/XS, viz:charts:pivot, plugins

#30760 feat: add latest partition support for BigQuery
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
Labels: sqllab, size/L, data:connect:googlebigquery, preset-io

#30679 fix: fixed Add Metrics to Tree Chart (#29158)
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/controlPanel.tsx
Labels: size/XS, plugins

#32922 chore: bump marshmallow-sqlalchemy to 1.4.0
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
Labels: size/S

#31331 feat(embedding-sdk): emit data-mask events through embedded sdk to iframe parent
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/components/UiConfigContext/index.tsx
  superset-frontend/src/embedded/index.tsx
Labels: size/M, embedded

#32965 fix: Bar Chart (legacy) migration to keep labels layout
  superset/migrations/shared/migrate_viz/processors.py
Labels: size/XS, viz:charts:bar

#32990 fix(frontend): add missing antd-5 icon to import
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
Labels: size/XS, change:frontend, frontend:refactor:antd5

#29422 fix: `show_filters` URL parameter is not working
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
Labels: size/M, dashboard:native-filters, dashboard, testenv-up

#33001 chore(Databricks): Display older Databricks driver as legacy
  superset/db_engine_specs/databricks.py
  tests/unit_tests/db_engine_specs/test_databricks.py
Labels: size/XS, data:connect:databricks

#28428 fix(dashboard): chart fullscreen issue when filter pane is collapsed
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
Labels: size/XS, dashboard:component, dashboard:css, review:draft

#32810 refactor(Tabs): Upgrade Tabs to Antd5
  superset-frontend/cypress-base/cypress/e2e/dashboard/tabs.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/control.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/compare.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/gauge.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/graph.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/pie.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/sunburst.test.js
  superset-frontend/cypress-base/cypress/e2e/sqllab/query.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/packages/superset-ui-core/src/theme/GlobalStyles.tsx
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/components/TablePreview/index.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/Modal/Modal.tsx
  superset-frontend/src/components/Tabs/Tabs.stories.tsx
  superset-frontend/src/components/Tabs/Tabs.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/utils.ts
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitlePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/styles.ts
  superset-frontend/src/dashboard/util/getChartAndLabelComponentIdFromPath.js
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigPopover.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/datasets/AddDataset/EditDataset/index.tsx
  superset-frontend/src/features/home/Menu.test.tsx
Labels: size/XL, frontend:refactor, packages, review:draft, preset:bounty, frontend:refactor:antd5

#32839 fix: fix bug where dashboard did not enter fullscreen mode.
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
Labels: size/M, dashboard:error, preset:bounty, testenv-up

#32999 docs: Update documentation about publishing a dashboard
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  docs/static/img/tutorial/publish_button_dashboard.png
Labels: size/M, doc:user, doc

#32890 refactor(IconButton): Refactor IconButton to use Ant Design 5 Card
  superset-frontend/src/components/IconButton/IconButton.stories.tsx
  superset-frontend/src/components/IconButton/IconButton.test.jsx
  superset-frontend/src/components/IconButton/IconButton.test.tsx
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
Labels: size/L, change:frontend, preset:bounty, frontend:refactor:antd5, testenv-up

#32959 refactor(Collapse): Upgrade Collapse to Antd5
  superset-frontend/cypress-base/cypress/e2e/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/SqlLab/components/ColumnElement/ColumnElement.test.tsx
  superset-frontend/src/SqlLab/components/ColumnElement/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/TableElement.test.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/components/Collapse/Collapse.stories.tsx
  superset-frontend/src/components/Collapse/Collapse.test.tsx
  superset-frontend/src/components/Collapse/index.tsx
  superset-frontend/src/components/ErrorMessage/MarshmallowErrorMessage.tsx
  superset-frontend/src/components/IconTooltip/index.tsx
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/VerticalCollapse.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersDropdownContent/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FiltersOutOfScopeCollapsible/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/StyledPanel.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.tsx
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/features/databases/UploadDataModel/styles.ts
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
Labels: size/XXL, change:frontend, review:draft, preset:bounty, frontend:refactor:antd5

#33024 fix(log): Missing failed query log on async queries
  superset-frontend/spec/fixtures/mockDatabases.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/QueryAutoRefresh.test.tsx
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
Labels: sqllab, size/L, global:async-query, logging

#32964 refactor(Table): Use our custom Table component in CRUD views
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/QueryTable.test.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/components/AlteredSliceTag/index.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.test.ts
  superset-frontend/src/components/Datasource/ChangeDatasourceModal.tsx
  superset-frontend/src/components/ListView/ListView.test.jsx
  superset-frontend/src/components/ListView/ListView.test.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Table/index.tsx
  superset-frontend/src/components/TableCollection/TableCollection.test.tsx
  superset-frontend/src/components/TableCollection/index.tsx
  superset-frontend/src/components/TableCollection/utils.tsx
  superset-frontend/src/components/TableView/TableView.stories.tsx
  superset-frontend/src/components/TableView/TableView.test.tsx
  superset-frontend/src/components/TableView/TableView.tsx
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/AnnotationList/AnnotationList.test.jsx
  superset-frontend/src/pages/AnnotationList/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/CssTemplateList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/ExecutionLogList/index.tsx
  superset-frontend/src/pages/QueryHistoryList/index.tsx
  superset-frontend/src/pages/RolesList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
Labels: size/XL, change:frontend, frontend:refactor, review:draft

#33018 docs: add WinWin Network（马上赢） to users list
  RESOURCES/INTHEWILD.md
Labels: need:more-info, size/XS

#31720 fix(export): charts csv export in dashboards
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
Labels: size/S, data:csv, dashboard:export

#32980 refactor(Checkbox): Upgrade component to Ant Design v5
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
  superset-frontend/src/components/Checkbox/Checkbox.stories.tsx
  superset-frontend/src/components/Checkbox/Checkbox.test.tsx
  superset-frontend/src/components/Checkbox/Checkbox.tsx
  superset-frontend/src/components/Checkbox/index.tsx
  superset-frontend/src/components/IndeterminateCheckbox/IndeterminateCheckbox.stories.tsx
  superset-frontend/src/components/IndeterminateCheckbox/IndeterminateCheckbox.test.tsx
  superset-frontend/src/components/IndeterminateCheckbox/index.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/dashboard/components/SaveModal.tsx
  superset-frontend/src/dashboard/components/SliceAdder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/CollapsibleControl.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/CollapsibleControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/explore/components/Control.test.tsx
  superset-frontend/src/explore/components/controls/CheckboxControl.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/pages/AnnotationList/AnnotationList.test.jsx
Labels: size/XXL, change:frontend, review:draft, preset:bounty, frontend:refactor:antd5

#33061 chore(helm): bump appVersion to 4.1.2
  helm/superset/Chart.yaml
  helm/superset/README.md
Labels: size/XS, deploy:helm

#33045 docs: clarify docker-compose-image-tag instructions
  docs/docs/installation/docker-compose.mdx
Labels: size/XS, doc:user, preset-io, doc

#33048 fix: improve error type on parse error
  superset/sql_parse.py
Labels: size/XS

#33046 feat: add a title prop to the dashboard link in CRUD LIST view
  superset-frontend/src/pages/DashboardList/index.tsx
Labels: size/XS, preset-io, listview:dashboards

#33059 fix: Adds missing __init__ file to commands/logs
  superset/commands/logs/__init__.py
Labels: size/S, v5.0

#33063 fix(docs): Update quickstart.mdx to reflect latest version tag
  docs/docs/quickstart.mdx
Labels: size/XS, doc

#32975 feat(charts): add subtitle option and metric customization controls
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/PopKPI.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/sharedControls.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/types.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/types.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigItem.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/constants.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/types.ts
Labels: size/XXL, viz:charts:table, viz:charts:bignumber, plugins, review:draft, testenv-up

#33074 chore: Added Formbricks to INTHEWILD.md
  RESOURCES/INTHEWILD.md
Labels: size/XS

#32534 feat: export/import for dataset folders
  superset/commands/dataset/update.py
  superset/connectors/sqla/models.py
  superset/datasets/schemas.py
  superset/migrations/versions/2025-03-03_20-52_94e7a3499973_add_folder_table.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/unit_tests/commands/dataset/test_update.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: risk:db-migration, size/L, data:dataset

#33000 feat: optimize catalog permission sync
  superset/commands/database/sync_permissions.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/doris.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/presto.py
  superset/db_engine_specs/snowflake.py
  tests/unit_tests/commands/databases/sync_permissions_test.py
Labels: size/M, data:connect:postgres, data:connect

#33095 fix: Broken Python tests on master after merging prefix branch
  superset/app.py
  superset/utils/urls.py
  superset/views/dashboard/views.py
  tests/integration_tests/core_tests.py
Labels: size/S

#33096 feat(Native Filters): Configure creatable filter behavior
  superset-frontend/cypress-base/cypress/e2e/dashboard/shared_dashboard_functions.ts
  superset-frontend/spec/fixtures/mockNativeFilters.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.stories.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/buildQuery.test.ts
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Select/types.ts
Labels: size/M, dashboard:native-filters, testenv-up

#32520 feat: dataset folders (backend)
  .github/workflows/superset-python-unittest.yml
  superset-frontend/package-lock.json
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset/commands/dataset/update.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/integration_tests/datasets/commands_tests.py
  tests/unit_tests/commands/dataset/test_update.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Labels: size/XL, data:dataset, preset-io, api, dependencies:npm, github_actions

#28751 feat: catalogs for DuckDB
  pyproject.toml
  superset/db_engine_specs/duckdb.py
Labels: size/M, data:connect, data:connect:duckdb

#33092 fix: CI file change detector to handle large PRs
  scripts/change_detector.py
Labels: size/S

#32193 fix(dashboard): Generate screenshot via celery
  superset/dashboards/api.py
Labels: size/XS, api

#33109 fix(thumbnails): ensure consistent cache_key
  superset/dashboards/api.py
  superset/tasks/thumbnails.py
Labels: size/XS, api

#33110 fix: resolve recent merge collisio
  scripts/change_detector.py
  superset/dashboards/api.py
Labels: size/XS, api

#33114 fix: Broken menu links to datasets and sql lab
  superset/initialization/__init__.py
Labels: size/XS

#33103 fix: Allows configuration of Selenium Webdriver binary
  superset/config.py
  superset/utils/webdriver.py
Labels: size/XS

#33100 fix(OAuth2): Update connection should not fail if connection is missing OAuth2 token
  superset/commands/database/exceptions.py
  superset/commands/database/sync_permissions.py
  superset/commands/database/update.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/commands/databases/conftest.py
  tests/unit_tests/commands/databases/sync_permissions_test.py
Labels: size/M, authentication:access-control

#33104 feat(explore): Integrate dataset panel with Folders feature
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/components/labelUtils.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/fixtures.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/defineSavedMetrics.test.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/utils/mainMetric.test.ts
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useCSSTextTruncation.test.tsx
  superset-frontend/packages/superset-ui-core/src/hooks/useTruncation/useCSSTextTruncation.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Datasource.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Metric.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Datasource.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BigNumber/transformProps.test.ts
  superset-frontend/src/explore/components/DatasourcePanel/DatasourceItems.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanel.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelDragOption/DatasourcePanelDragOption.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/fixtures.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/DatasourcePanel/transformDatasourceFolders.test.ts
  superset-frontend/src/explore/components/DatasourcePanel/transformDatasourceFolders.ts
  superset-frontend/src/explore/components/DatasourcePanel/types.ts
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/controlUtils/controlUtils.test.tsx
  superset-frontend/src/explore/controlUtils/getControlValuesCompatibleWithDatasource.test.ts
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/features/datasets/types.ts
Labels: size/XXL, explore:datapanel, plugins, dependencies:npm, packages

#33124 fix: `master` builds are failing while trying to push report to cypress
  .github/workflows/superset-e2e.yml
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailMenuItems.test.tsx
Labels: size/XS, github_actions

#33116 feat(explore): X-axis sort by specific metric when more than 1 metric is set
  UPDATING.md
  superset-frontend/packages/superset-ui-chart-controls/src/sections/echartsTimeSeriesQuery.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset/migrations/versions/2025-04-13_22-10_378cecfdba9f_merge_x_axis_sort_series_with_x_axis_.py
Labels: change:backend, risk:db-migration, size/L, viz:charts:echarts, plugins, packages

#33107 fix(playwright): allow screenshotting empty dashboards
  superset/utils/webdriver.py
Labels: size/XS, dashboard:performance

#33126 fix(plugin-chart-table): Don't render redundant items in column config when time comparison is enabled
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/types.ts
Labels: size/M, viz:charts:table, plugins

#29828 chore(translations): Update PT-BR language (partial)
  superset/translations/pt_BR/LC_MESSAGES/messages.po
Labels: i18n, size/XL, i18n:brazilian

#29827 feat(lang): update Italian language
  superset/translations/it/LC_MESSAGES/messages.po
Labels: i18n, size/XS, i18n:italian

#33072 chore: use create table util
  superset/migrations/migration_utils.py
  superset/migrations/shared/utils.py
  superset/migrations/versions/2015-09-21_17-30_4e6a06bad7a8_init.py
  superset/migrations/versions/2015-12-04_11-16_315b3f4da9b0_adding_log_model.py
  superset/migrations/versions/2016-01-13_20-24_8e80a26a31db_.py
  superset/migrations/versions/2016-02-03_17-41_d827694c7555_css_templates.py
  superset/migrations/versions/2016-03-13_09-56_a2d606a761d9_adding_favstar_model.py
  superset/migrations/versions/2016-04-15_17-58_4fa88fe24e94_owners_many_to_many.py
  superset/migrations/versions/2016-07-25_17-48_ad82a75afd82_add_query_model.py
  superset/migrations/versions/2016-09-09_17-39_5e4a03ef0bf0_add_request_access_model.py
  superset/migrations/versions/2017-01-10_11-47_bcf3126872fc_add_keyvalue.py
  superset/migrations/versions/2017-09-13_16-36_ddd6ebdd853b_annotations.py
  superset/migrations/versions/2018-05-15_20-28_6c7537a6004a_models_for_email_reports.py
  superset/migrations/versions/2018-12-15_12-34_3e1b21cd94a4_change_owner_to_m2m_relation_on_.py
  superset/migrations/versions/2019-11-13_11-05_db4b49eb0782_add_tables_for_sql_lab_state.py
  superset/migrations/versions/2019-12-04_17-07_0a6f12f60c73_add_role_level_security.py
  superset/migrations/versions/2020-04-24_10-46_e557699a813e_add_tables_relation_to_row_level_.py
  superset/migrations/versions/2020-05-26_23-21_2f1d15e8a6af_add_alerts.py
  superset/migrations/versions/2020-08-28_17-16_175ea3592453_cache_lookup.py
  superset/migrations/versions/2020-08-31_20-30_2e5a0ee25ed4_refractor_alerting.py
  superset/migrations/versions/2020-10-05_18-10_af30ca79208f_collapse_alerting_models_into_a_single_.py
  superset/migrations/versions/2020-11-04_11-06_49b5a32daba5_add_report_schedules.py
  superset/migrations/versions/2021-01-14_19-12_e11ccdd12658_add_roles_relationship_to_dashboard.py
  superset/migrations/versions/2021-03-29_11-15_3ebe0993c770_filterset_table.py
  superset/migrations/versions/2022-01-28_16-03_5afbb1a5849b_add_embedded_dahshoard_table.py
  superset/migrations/versions/2022-03-04_09-59_6766938c6065_add_key_value_store.py
  superset/migrations/versions/2022-10-20_10-48_f3c2d8ec8595_create_ssh_tunnel_credentials_tbl.py
  superset/migrations/versions/2023-06-01_13-13_83e1abbe777f_drop_access_request.py
  superset/migrations/versions/2023-07-12_20-34_e0f6f91c2055_create_user_favorite_table.py
  superset/migrations/versions/2024-03-20_16-02_678eefb4ab44_add_access_token_table.py
  superset/migrations/versions/2024-05-24_11-31_02f4f7811799_remove_sl_dataset_columns_table.py
  superset/migrations/versions/2024-08-13_15-17_39549add7bfc_remove_sl_table_columns_table.py
  superset/migrations/versions/2024-08-13_15-23_38f4144e8558_remove_sl_dataset_tables.py
  superset/migrations/versions/2024-08-13_15-27_e53fd48cc078_remove_sl_dataset_users.py
  superset/migrations/versions/2024-08-13_15-29_a6b32d2d07b1_remove_sl_columns.py
  superset/migrations/versions/2024-08-13_15-31_007a1abffe7e_remove_sl_tables.py
  superset/migrations/versions/2024-08-13_15-33_48cbb571fa3a_remove_sl_datasets.py
Labels: risk:db-migration, size/L, testenv-up

#33037 fix: Viz migration error handling
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/base.py
  superset/migrations/shared/utils.py
Labels: size/M

#33106 fix(dashboard): invalid active tab state
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardState.js
  superset-frontend/src/dashboard/reducers/dashboardState.test.ts
Labels: size/L, dashboard:tab, #bug:newfeature, review:checkpoint, testenv-up

#33141 fix: app icon should not use subdirectory
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/utils/getBootstrapData.test.ts
Labels: size/L

#33138 fix(echart): Tooltip date format doesn't follow time grain
  superset-frontend/plugins/plugin-chart-echarts/src/utils/formatters.ts
Labels: size/XS, viz:charts:echarts, viz:charts:tooltip, plugins

#33142 fix: add folders to import schema
  superset/datasets/schemas.py
Labels: size/XS, dashboard:import

#33147 fix(theming): Fix various ci issues
  superset-frontend/cypress-base/cypress/e2e/explore/utils.ts
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/UsersList/index.tsx
Labels: size/S

#33038 fix: upgrade tabs in database modal
  superset-frontend/src/components/Collapse/Collapse.stories.tsx
  superset-frontend/src/components/Collapse/index.tsx
  superset-frontend/src/components/Collapse/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/ValidatedPanelHeader.tsx
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
Labels: size/M, change:frontend, preset:bounty, testenv-up

#33054 feat(Native Filters): Exclude Filter Values
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/utils.ts
Labels: size/L, dashboard:native-filters, review:draft, testenv-up

#33043 feat(Select): Select all and Deselect all that works on visible items while searching
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/Select/CustomTag.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/explore/components/controls/SelectControl.test.jsx
Labels: size/XL, change:frontend, review:draft, testenv-up

#33143 fix(echart): Thrown errors shown after resized
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Labels: size/M, viz:charts:echarts, plugins

#33161 fix: os.makedirs race condition
  superset/initialization/__init__.py
Labels: size/XS, infra:container

#33154 fix(deckgl): Update Arc to properly adjust line width
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Arc/Arc.tsx
Labels: size/XS, viz:charts:deck.gl, plugins

#33164 fix(sqllab): Invalid SQL Error breaks SQL Lab
  superset-frontend/src/components/ErrorMessage/InvalidSQLErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/InvalidSQLErrorMessage.tsx
  superset/sql_parse.py
Labels: sqllab, size/M

#33155 chore: migrate to more db migration utils
  superset/migrations/shared/utils.py
  superset/migrations/versions/2022-07-07_00-00_cdcf3d64daf4_add_user_id_dttm_idx_to_log_model.py
  superset/migrations/versions/2023-06-21_14-02_90139bf715e4_add_currency_column_to_metrics.py
  superset/migrations/versions/2024-01-05_16-20_65a167d4c62e_add_indexes_to_report_models.py
  superset/migrations/versions/2024-03-20_16-02_678eefb4ab44_add_access_token_table.py
  superset/migrations/versions/2024-05-02_13-40_3dfd0e78650e_add_query_sql_editor_id_index.py
Labels: risk:db-migration, size/M

#30047 docs: improve documentation(docs): clarify URL encoding requirement for connection strings
  docs/docs/configuration/databases.mdx
Labels: size/XS, doc

#33192 feat(i18n): Frontend add zh_TW Option
  superset-frontend/packages/superset-ui-core/src/translation/types/index.ts
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, size/L, packages, i18n:traditional-chinese

#33210 docs: Add note on SQL execution security considerations
  docs/docs/security/security.mdx
Labels: size/S, doc:user, doc

#33137 docs(installation): compare installation methods
  docs/docs/installation/docker-builds.mdx
  docs/docs/installation/docker-compose.mdx
  docs/docs/installation/installation-methods.mdx
  docs/docs/installation/kubernetes.mdx
  docs/docs/installation/pypi.mdx
  docs/docs/installation/upgrading-superset.mdx
Labels: size/M, doc

#33214 fix(export): Full CSV/Excel exports respecting SQL_MAX_ROW config
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.test.jsx
Labels: size/S, data:csv, dashboard:export

#33165 fix(Select): Merge conflicts and Select bug
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/components/Select/CustomTag.tsx
  superset-frontend/src/components/Select/Select.test.tsx
  superset-frontend/src/components/Select/Select.tsx
  superset-frontend/src/components/Select/index.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/components/Select/utils.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/explore/components/controls/SelectControl.test.jsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/utils.ts
  superset-frontend/src/types/TagType.ts
Labels: size/XXL, change:frontend, testenv-up

#33234 fix(standalone): Ensure correct URL param value for standalone mode
  superset/views/core.py
Labels: size/XS, api

#33237 fix(sqllab permalink): Commit SQL Lab permalinks
  superset/commands/sql_lab/permalink/create.py
Labels: sqllab, size/M

#33238 fix(heatmap): correctly render int and boolean falsy values on axes
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
Labels: size/XS, viz:charts:heatmap, plugins

#33250 fix(DB update): Gracefully handle querry error during DB update
  superset/commands/database/update.py
  superset/db_engine_specs/databricks.py
  tests/unit_tests/commands/databases/update_test.py
Labels: size/M, data:connect, data:connect:databricks

#33249 refactor(Components): Use named imports - P.2
  superset-frontend/cypress-base/cypress/e2e/explore/control.test.ts
  superset-frontend/src/SqlLab/components/QueryHistory/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TablePreview/index.tsx
  superset-frontend/src/components/ListViewCard/index.tsx
  superset-frontend/src/components/Radio/Radio.stories.tsx
  superset-frontend/src/components/Radio/index.tsx
  superset-frontend/src/components/Skeleton/Skeleton.stories.tsx
  superset-frontend/src/components/Skeleton/Skeleton.test.tsx
  superset-frontend/src/components/Skeleton/index.tsx
  superset-frontend/src/components/Space/Space.stories.tsx
  superset-frontend/src/components/Space/index.tsx
  superset-frontend/src/components/Steps/Steps.stories.tsx
  superset-frontend/src/components/Steps/index.tsx
  superset-frontend/src/components/Switch/Switch.stories.tsx
  superset-frontend/src/components/Switch/index.tsx
  superset-frontend/src/components/TreeSelect/TreeSelect.stories.tsx
  superset-frontend/src/components/TreeSelect/TreeSelect.test.tsx
  superset-frontend/src/components/TreeSelect/index.tsx
  superset-frontend/src/components/index.ts
  superset-frontend/src/explore/components/EmbedCodeContent.jsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Labels: size/L, change:frontend, frontend:refactor, frontend:refactor:antd5

#33248 fix(histogram): remove extra single quotes
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
Labels: size/XS, viz:charts:histogram, preset-io, plugins

#33254 fix: `Unexpected input(s) 'depth'` CI warnings
  .github/workflows/check-python-deps.yml
Labels: size/XS, github_actions

#33216 fix: Downgrade to marshmallow<4
  pyproject.toml
Labels: size/XS

#33236 chore: add some utils tests
  tests/unit_tests/migrations/shared/utils_test.py
Labels: size/L

#33025 fix: LocalProxy is not mapped warning
  superset/utils/log.py
Labels: size/S

#33267 fix: mask password on DB import
  superset/commands/database/importers/v1/utils.py
  tests/integration_tests/databases/commands_tests.py
  tests/unit_tests/commands/databases/importers/v1/command_test.py
  tests/unit_tests/databases/commands/importers/v1/import_test.py
Labels: size/M, data:connect

#29580 feat: Persian translations
  .github/labeler.yml
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Labels: i18n, need:more-info, size/XXL, i18n:spanish, i18n:italian, i18n:french, i18n:chinese, i18n:japanese, i18n:russian, i18n:korean, i18n:general, i18n:dutch, i18n:slovak, i18n:ukrainian, i18n:portuguese, i18n:brazilian, i18n:traditional-chinese

#33291 fix(antd): Invalid dashed border in tertiary button
  superset-frontend/src/components/Button/index.tsx
Labels: size/XS, change:frontend, frontend:refactor:antd5

#33286 fix(Theming): DatabaseModal visual fixes
  superset-frontend/src/components/IconButton/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/ModalHeader.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
Labels: size/S, global:theming

#33269 fix(echarts): rename time series shifted colnames
  superset-frontend/packages/superset-ui-chart-controls/src/operators/renameOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/renameOperator.test.ts
Labels: size/L, viz:charts:echarts, viz:charts:timeseries, packages
