Repository apache/superset, pull requests merged in 2025-02, with the labels that each got.

#32040 fix(ci): ephemeral env, handle different label, create comment
  .github/workflows/ephemeral-env.yml
Labels: size/M, github_actions

#32122 fix: Histogram examples config
  superset/examples/configs/charts/FCC New Coder Survey/Age_distribution_of_respondents.yaml
  superset/examples/configs/charts/FCC New Coder Survey/How_much_do_you_expect_to_earn_0_-_100k.yaml
  superset/examples/configs/charts/FCC New Coder Survey/Last_Year_Income_Distribution.yaml
Labels: size/M, viz:charts:histogram, v5.0

#32133 fix: No virtual environment when running Docker translation compiler
  Dockerfile
Labels: size/XS

#32135 fix: Local tarball Docker container is missing zstd dependency
  RELEASING/Dockerfile.from_local_tarball
Labels: install:docker, size/XS, v5.0

#32137 fix: move oauth2 capture to `get_sqla_engine`
  superset/models/core.py
  superset/utils/oauth2.py
  tests/unit_tests/models/core_test.py
Labels: size/L, data:connect:googlebigquery, data:connect, preset-io

#32155 fix(migrations): Handle no params in time comparison migration
  superset/migrations/versions/2024-05-10_18-02_f84fde59123a_update_charts_with_old_time_comparison.py
  tests/integration_tests/migrations/f84fde59123a_update_charts_with_old_time_comparison__test.py
Labels: change:backend, risk:db-migration, size/S

#32171 docs: fix typo in docker compose
  docs/docs/installation/docker-compose.mdx
Labels: size/XS, doc, merge-if-green

#32156 fix: ScreenshotCachePayload serialization
  superset/charts/api.py
  superset/dashboards/api.py
  superset/utils/screenshots.py
  tests/unit_tests/utils/screenshot_test.py
Labels: size/M, api, v5.0

#32041 feat: add TDengine.py driver to db_engine
  README.md
  docs/docs/configuration/databases.mdx
  docs/static/img/tdengine.png
  pyproject.toml
  superset/db_engine_specs/tdengine.py
  tests/unit_tests/db_engine_specs/test_tdengine.py
Labels: size/L, data:connect, enhancement:db, doc

#32163 fix(docker): Docker python-translation-build
  Dockerfile
Labels: size/XS, v5.0

#32157 chore: add query context data tests
  tests/unit_tests/common/test_query_context_processor.py
Labels: size/L

#30903 fix(virtual dataset sync): Sync virtual dataset columns when changing the SQL query
  superset-frontend/cypress-base/cypress/e2e/explore/control.test.ts
  superset-frontend/jest.config.js
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Metric.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BigNumber/transformProps.test.ts
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/Datasource/utils.js
  superset-frontend/src/components/Tooltip/index.tsx
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/features/datasets/types.ts
Labels: size/XXL, data:dataset, plugins, packages

#32188 docs(typo): PostgresQL corrected to PostgreSQL
  docs/docs/installation/architecture.mdx
Labels: size/XS, doc

#32185 fix: Adds an entry to UPDATING.md about DISABLE_LEGACY_DATASOURCE_EDITOR
  UPDATING.md
Labels: size/XS, doc, v5.0

#32176 fix: TDengine move tdengine.png to databases/ subfolder
  docs/src/resources/data.js
  docs/static/img/databases/tdengine.png
  docs/static/img/tdengine.png
Labels: size/XS, doc

#31973 refactor(Popover): Upgrade Popover to Antd5
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/support/directories.ts
  superset-frontend/packages/superset-ui-chart-controls/src/components/SQLPopover.tsx
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/components/DropdownContainer/index.tsx
  superset-frontend/src/components/Popover/Popover.stories.tsx
  superset-frontend/src/components/Popover/Popover.test.tsx
  superset-frontend/src/components/Popover/Popover.tsx
  superset-frontend/src/components/Popover/index.tsx
  superset-frontend/src/components/Table/header-renderers/HeaderWithRadioGroup.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/index.tsx
  superset-frontend/src/dashboard/styles.ts
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopover.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/types.ts
  superset-frontend/src/explore/components/controls/ContourControl/ContourPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.test.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
  superset-frontend/src/explore/components/controls/LayerConfigsControl/LayerConfigsControl.tsx
  superset-frontend/src/explore/components/controls/MapViewControl/MapViewControl.tsx
  superset-frontend/src/explore/components/controls/MapViewControl/MapViewPopoverContent.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.jsx
Labels: size/L, change:frontend, packages, preset:bounty, frontend:refactor:antd5

#32195 fix: handlebars html and css templates reset on dataset update
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/handlebarTemplate.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
Labels: size/XS, viz:charts:handlebars, plugins, preset:bounty, testenv-up

#32206 docs(docker-compose): remove extra backticks
  docs/docs/installation/docker-compose.mdx
Labels: size/XS, doc

#32018 fix: false negative on critical security related to eslint-plugin-translation-vars
  superset-frontend/.eslintrc.js
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/index.js
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/no-template-vars.test.js
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/package.json
  superset-frontend/eslint-rules/eslint-plugin-theme-colors/colors.js
  superset-frontend/eslint-rules/eslint-plugin-theme-colors/index.js
  superset-frontend/eslint-rules/eslint-plugin-theme-colors/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/S, dependencies:npm

#32010 chore: migrating easy-to-migrate AntD vanilla components
  .gitignore
  superset-frontend/src/components/index.ts
Labels: size/S, change:frontend, frontend:refactor:antd5

#32189 feat(dropdown accessibility): Wrap dropdown triggers with buttons for accessibility
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TablePreview/index.tsx
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/features/home/SavedQueries.test.tsx
  superset-frontend/src/features/home/SavedQueries.tsx
  superset-frontend/src/features/tags/TagCard.tsx
Labels: size/L, design:accessibility

#32220 chore(ci): fix ephemeral env null issue number
  .github/workflows/ephemeral-env.yml
Labels: size/S, github_actions

#32221 chore(ci): fix ephemeral env null issue number (v2)
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#32211 fix: hidrate datasetsStatus
  superset-frontend/src/dashboard/actions/hydrate.js
Labels: size/XS

#31634 chore(fe): migrate 4 Enzyme-based tests to RTL
  superset-frontend/packages/superset-ui-core/test/chart-composition/legend/WithLegend.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/reactify.test.tsx
  superset-frontend/src/features/home/EmptyState.test.tsx
  superset-frontend/src/pages/ExecutionLogList/ExecutionLogList.test.tsx
Labels: size/L, packages

#32212 fix: set `Rich tooltip` -> 'Show percentage' to false by default
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
Labels: size/XS, viz:charts:timeseries, preset-io, plugins

#32224 fix(sqllab): close the table tab
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
Labels: sqllab, size/S

#32115 fix(Scope): Correct issue where filters appear out of scope when sort is unchecked.
  superset-frontend/src/dashboard/components/nativeFilters/state.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
Labels: size/L, dashboard:native-filters, preset:bounty, testenv-up

#32235 chore(backend): replace insecure `shortid` usage for native filter migration with native `uuid` Python implementation
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset/migrations/shared/native_filters.py
Labels: change:backend, risk:db-migration, size/S, dashboard:native-filters

#32227 fix: Update 'Last modified' time when modifying RLS rules
  superset/row_level_security/schemas.py
Labels: size/XS, authentication:row-level-security

#32239 docs: adding notes about using uv instead of raw pip
  UPDATING.md
  docs/docs/installation/kubernetes.mdx
Labels: size/XS, doc

#32228 feat: recursive metric definitions
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/L

#32240 fix: upgrade to 3.11.11-slim-bookworm to address critical vulnerabilities
  Dockerfile
Labels: size/XS, v5.0

#32142 docs(api): Improve api documentation for dashboard endpoints(filter_state, permalink, embedded)
  superset/dashboards/filter_state/api.py
  superset/dashboards/permalink/api.py
  superset/embedded/api.py
Labels: size/L, api, preset:bounty

#32218 fix(Datasource): handle undefined datasource_type in fetchSyncedColumns
  superset-frontend/src/components/Datasource/utils.js
Labels: size/XS

#32253 fix: Decimal values for Histogram bins
  superset-frontend/packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/types.ts
  superset/utils/pandas_postprocessing/histogram.py
  tests/unit_tests/pandas_postprocessing/test_histogram.py
Labels: size/L, viz:charts:histogram, plugins, packages

#32243 build(fe/dev-deps): remove unused `esbuild` dev deps
  superset-frontend/package-lock.json
  superset-frontend/package.json
Labels: size/XS, dependencies:npm

#32272 fix(viz/table): selected column not shown in Conditional Formatting popover
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Labels: size/XS, viz:charts:table, plugins, testenv-up

#32274 fix(sec): resolve Dependabot security alerts
  docs/yarn.lock
  pyproject.toml
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
  superset-frontend/cypress-base/package-lock.json
Labels: size/L, doc, dependencies:npm

#32259 chore(be/deps): add comments for un-greppable Python dependencies
  pyproject.toml
Labels: size/XS

#32226 chore(tests): Trying to kill enzyme, part 2 (more RTL!)
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/Tab.test.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/DraggableNewComponent.test.jsx
  superset-frontend/src/dashboard/components/menu/MarkdownModeDropdown.tsx
Labels: size/XL, preset-io, packages

#32316 chore(code owners): adding @mistercrunch to cypress/e2e code owners
  .github/CODEOWNERS
Labels: size/XS

#32261 feat(type-checking): Add type-checking pre-commit hooks
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/check-type.js
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/types/ace-builds.d.ts
  superset-websocket/package-lock.json
  superset-websocket/package.json
  superset-websocket/tsconfig.json
Labels: size/L, embedded, dependencies:npm, github_actions

#30888 fix: keep the tab order
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Labels: size/S, dashboard:tab, alert-reports

#32326 chore(docs): Add RIADVICE to companies using Superset
  RESOURCES/INTHEWILD.md
Labels: size/XS

#32319 chore(readme): updating video on Readme page.
  README.md
Labels: size/XS, doc

#32332 fix: Download as PDF fails due to cache error
  superset/dashboards/api.py
  superset/utils/screenshots.py
Labels: size/S, infra:caching, dashboard:export, api

#31993 fix: oauth2 trino
  superset/db_engine_specs/trino.py
Labels: size/XS, authentication:sso, data:connect:trino

#32302 chore(duckdb): Bump duckdb-engine, duckdb versions
  pyproject.toml
Labels: size/XS, data:connect:duckdb

#32341 chore(build): reduce Lodash usage in `superset-frontend`
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Screengrid/Screengrid.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/features/home/DashboardTable.tsx
Labels: size/S, change:frontend, plugins

#32035 fix(fe/dashboard-list): display modifier info for `Last modified` data
  superset-frontend/src/pages/DashboardList/DashboardList.test.jsx
  superset-frontend/src/pages/DashboardList/index.tsx
Labels: size/XS, listview:dashboards

#32323 ci(type-checking): run type-checking-frontend hook sequentially
  .pre-commit-config.yaml
Labels: size/XS

#32349 chore(docs): Fix typo in security.mdx
  docs/docs/security/security.mdx
Labels: size/XS, doc

#32284 fix(roles): Add SqlLabPermalinkRestApi as default sqlab roles.
  superset/security/manager.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/sql_lab/permalink/api_tests.py
Labels: sqllab, size/S

#32356 fix(SSHTunnelForm): make the password tooltip visible
  superset-frontend/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/src/features/databases/DatabaseModal/SSHTunnelForm.tsx
Labels: size/S

#32314 refactor(DatabaseSelector): Changes the imported types from antd-4 to antdv-5
  superset-frontend/src/components/DatabaseSelector/index.tsx
Labels: size/XS, change:frontend, frontend:refactor:antd5

#32350 fix(firebolt): allow backslach escape for single quotes
  superset/sql/dialects/firebolt.py
  tests/unit_tests/sql/parse_tests.py
Labels: size/S

#32362 fix(docker): Configure nginx for consistent port mapping and hot reloading
  docker/nginx/nginx.conf
Labels: size/XS

#32264 feat(number-format): adds memory data transfer rates in binary and decimal format
  superset-frontend/packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  superset-frontend/packages/superset-ui-core/src/number-format/factories/createMemoryFormatter.ts
  superset-frontend/packages/superset-ui-core/test/number-format/factories/createMemoryFormatter.test.ts
  superset-frontend/src/setup/setupFormatters.ts
Labels: size/L, change:frontend, explore:control, packages

#32348 fix: clickhouse-connect engine SSH parameter
  superset/db_engine_specs/clickhouse.py
Labels: size/S, data:connect:clickhouse

#32344 fix: ensure metric_macro expands templates
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Labels: size/L, preset-io, global:jinja

#32339 feat: allow importing encrypted_extra
  superset/databases/schemas.py
  tests/unit_tests/commands/databases/importers/__init__.py
  tests/unit_tests/commands/databases/importers/v1/__init__.py
  tests/unit_tests/commands/databases/importers/v1/command_test.py
  tests/unit_tests/databases/api_test.py
Labels: size/L, api

#32377 fix: ephemeral CI fetching task ENI
  .github/workflows/ephemeral-env.yml
Labels: size/XS, github_actions

#32334 chore: Upgrade AG Grid to use tree shaking
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/GridTable/GridTable.test.tsx
  superset-frontend/src/components/GridTable/index.tsx
  superset-frontend/src/setup/setupAGGridModules.ts
  superset-frontend/src/views/App.tsx
Labels: sqllab, size/L, change:frontend, dependencies:npm, testenv-up

#32379 docs(intro): broaden link to installation options
  README.md
Labels: size/XS, doc

#32325 fix: bump FAB to 4.5.4
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Labels: size/XS, dependencies:python

#32382 fix(pinot): revert join and subquery flags
  superset/db_engine_specs/pinot.py
Labels: size/XS, data:connect:pinot

#32380 chore(docs): update instructions for pypi distribution
  RELEASING/README.md
Labels: size/XS, doc

#32396 docs: add shipmnts to users list
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#32358 feat: Adding the option and feature to enable borders with color, opacity and width control on heatmaps along with white borders on emphasis
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/types.ts
Labels: size/M, viz:charts:heatmap, plugins, testenv-up

#32403 feat: default ports for SSH tunnel
  superset/commands/database/ssh_tunnel/create.py
  superset/commands/database/ssh_tunnel/update.py
  superset/extensions/ssh.py
  superset/utils/ssh_tunnel.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/databases/ssh_tunnel/commands/create_test.py
  tests/unit_tests/databases/ssh_tunnel/commands/update_test.py
Labels: size/L, data:connect:postgres, data:connect, preset-io

#31506 feat(i18n): Add polish to default language
  superset/config.py
  superset/translations/pl/LC_MESSAGES/messages.po
Labels: i18n, size/XXL, i18n:general

#32322 build(deps): bump major versions for `math-expression-evaluator` and `fetch-mock` + clean up obsolete dev/override packages
  superset-frontend/jest.config.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/math-expression/index.ts
  superset-frontend/packages/superset-ui-core/test/time-comparison/fetchTimeRange.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/TableElement/TableElement.test.tsx
  superset-frontend/src/components/AuditInfo/ModifiedInfo.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.test.tsx
  superset-frontend/src/components/Chart/chartActions.test.js
  superset-frontend/src/components/GridTable/HeaderMenu.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.test.tsx
  superset-frontend/src/explore/components/controls/OptionControls/OptionControls.test.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/DashboardsSubMenu.test.tsx
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.test.tsx
  superset-frontend/src/middleware/asyncEvent.test.ts
  superset-frontend/src/pages/Home/Home.test.tsx
Labels: size/M, dependencies:npm, packages

#32385 docs(config): fill in commonly connection string for Oracle, Presto and SQL Server databases
  docs/docs/configuration/databases.mdx
Labels: size/S, data:connect, doc

#31726 feat(filter): adding inputs to Numerical Range Filter
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.noInitState.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/src/components/Metadata/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
Labels: size/XL, dashboard:native-filters, preset:bounty

#32401 fix: prevent nested transactions
  superset/utils/decorators.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/utils/test_decorators.py
Labels: change:backend, size/M

#32290 fix(viz): update nesting logic to handle multiple dimensions in PartitionViz
  superset/viz.py
  tests/integration_tests/viz_tests.py
Labels: size/M, viz:charts:partition, preset:bounty, testenv-up

#32421 docs: add SingleStore to the users list
  RESOURCES/INTHEWILD.md
Labels: size/XS, doc

#32423 fix(clickhouse): get_parameters_from_uri failing when secure is true
  superset/db_engine_specs/clickhouse.py
Labels: size/XS, data:connect:clickhouse
